<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.iss.ArticleTypeMapper">
  <resultMap id="ArticleTypeMapper" type="yggc.model.iss.ArticleType">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
  </resultMap>
  <sql id="ArticleType_Column_List">
    ID, NAME, CREATED_AT, UPDATED_AT,IS_DELETED
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ArticleTypeMapper">
    select 
    <include refid="ArticleType_Column_List" />
    from T_ISS_ARTICLE_TYPE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAllArticleType" resultMap="ArticleTypeMapper">
  	select
    <include refid="ArticleType_Column_List" />
    from T_ISS_ARTICLE_TYPE
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_ISS_ARTICLE_TYPE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yggc.model.iss.ArticleType">
    insert into T_ISS_ARTICLE_TYPE (ID, NAME, CREATED_AT, 
      UPDATED_AT)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{createdAt,jdbcType=DATE}, 
      #{updatedAt,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.iss.ArticleType">
    insert into T_ISS_ARTICLE_TYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.iss.ArticleType">
    update T_ISS_ARTICLE_TYPE
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.iss.ArticleType">
    update T_ISS_ARTICLE_TYPE
    set NAME = #{name,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>