<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.iss.fs.TopicMapper">
		  <resultMap id="TopicResultMap" type="yggc.model.iss.fs.Topic">
		    <id column="ID" property="id" />
		    <result column="NAME"  property="name" />

		    <result column="CREATED_AT"  property="createdAt" />
		    <result column="UPDATED_AT"  property="updatedAt" />
		     <result column="CONTENT" jdbcType="CLOB" property="content" />
		     
		    <association  column="PARK_ID"  property="park"  select="yggc.dao.iss.fs.ParkMapper.selectByPrimaryKey"/>  
		    <association  column="USER_ID"  property="user" select="yggc.dao.bms.UserMapper.queryById"/>
		  </resultMap>
		  
		  	<resultMap type="yggc.model.iss.fs.Topic" id="TopicPostMap" extends="TopicResultMap">
		  	<collection property="posts" ofType="yggc.model.iss.fs.Post">
		  			<id column="ID"  property="id" />
				    <result column="NAME" property="name" />
				    <result column="IS_TOP"  property="isTop" />
				    <result column="IS_LOCKING"  property="isLocking" />
				    <result column="IS_ESSENCE"  property="isEssence" />
				    <result column="IS_CAN_REPLY"  property="isCanReply" />
				    <result column="PUBLISHED_TIME"  property="publishedTime" />
				    <result column="LAST_REPLYED_TIME"  property="lastReplyedTime" />			
				    	    
				    <association column="USER_ID"  property="user" select="yggc.dao.bms.UserMapper.queryById"/>
				    <association column="TOPIC_ID"  property="topic" select="yggc.dao.iss.fs.TopicMapper.selectByPrimaryKey"/>	
				    <association column="PARK_ID"  property="park" select="yggc.dao.iss.fs.ParkMapper.selectByPrimaryKey"/>		

			</collection>  
		  </resultMap>
		  
		  
	  
		   <sql id="Tabel_Name">
		    T_ISS_FS_TOPIC
		  </sql>
	  
		  <!-- 表中所有列 -->
		  <sql id="Base_Column_List">
		    ID, NAME,CONTENT,PARK_ID, USER_ID,CREATED_AT, UPDATED_AT	    
		  </sql>
	  	
		  <!-- 查询条件 -->
		  <sql id="Example_Where_Clause">
		   
		  </sql>
	  
	  
		  <!-- 1.根据Id查询 -->
		  <select id="selectByPrimaryKey" parameterType="Object" resultMap="TopicResultMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_TOPIC
			    where ID = #{id}
		  </select>
	    
		    <!-- 2.查询列表 -->
		   <select id="queryByList" parameterType="Object" resultMap="TopicResultMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_TOPIC
			    <!-- <include refid="Example_Where_Clause" /> -->
			    ORDER BY CREATED_AT DESC
		  	</select>
	  	
	  	  <!-- 3.查询列表总数 -->
		  <select id="queryByCount" resultType="Object" parameterType="Object">
		    select count(1) from T_ISS_FS_TOPIC
		    <include refid="Example_Where_Clause" />
		  </select>
	  
		  <!-- 4根据ID删除 -->
		  <delete id="deleteByPrimaryKey" parameterType="Object">
			    delete from T_ISS_FS_TOPIC
			    where ID = #{id}
		  </delete>
		  
		  <!-- 5插入一条数据 -->
		  <insert id="insertSelective" parameterType="yggc.model.iss.fs.Topic">
		  		<selectKey resultType="int" order="BEFORE" keyProperty="id">
		     		 select SEQ_T_TOPICS_ID.nextval as ID from dual
		    	</selectKey>
		    insert into T_ISS_FS_TOPIC
		    <trim prefix="(" suffix=")" suffixOverrides=",">
		      <if test="id != null">
		        ID,
		      </if>
		      <if test="name != null">
		        NAME,
		      </if>
		      <if test="createdAt != null">
		        CREATED_AT,
		      </if>
		      <if test="content != null">
		        CONTENT,
		      </if>
		      <if test="user != null">
		        USER_ID,
		      </if>
		      <if test="park != null">
		        PARK_ID,
		      </if>
		    </trim>
		    <trim prefix="values (" suffix=")" suffixOverrides=",">
		      <if test="id != null">
		        #{id},
		      </if>
		      <if test="name != null">
		        #{name},
		      </if>
		      <if test="createdAt != null">
		        #{createdAt},
		      </if>
		      <if test="content != null">
		        #{content},
		      </if>
		      <if test="user != null">
		        #{user.id},
		      </if>
		      <if test="park != null">
		        #{park.id},
		      </if>
		      
		    </trim>
		  </insert>
	  
		  <!-- 6根据ID更新数据 -->
		  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.iss.fs.Topic">
		    update T_ISS_FS_TOPIC
		    <set>
		      <if test="name != null">
		        NAME = #{name},
		      </if>
		      <if test="updatedAt != null">
		        UPDATED_AT = #{updatedAt},
		      </if>
		      <if test="content != null">
		        CONTENT = #{content},
		      </if>
		      <if test="park != null">
		        PARK_ID = #{park.id},
		      </if>
		      
		    </set>
		    where ID = #{id}
		  </update>
		  
		  <!-- 7.根据parkId查询 -->
		  <select id="selectByParkID" parameterType="Object" resultMap="TopicResultMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_TOPIC
			    where PARK_ID = #{parkID}
			    ORDER BY CREATED_AT DESC
		  </select>

</mapper>