<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.cs.ContractMapper">
  <resultMap id="BaseResultMap" type="bss.model.cs.Contract">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="SUPPLIER_NAME" jdbcType="VARCHAR" property="supplierName" />
    <result column="PURCHASE_ORGANIZATION" jdbcType="VARCHAR" property="purchaseOrganization" />
    <result column="DEMAND_SECTOR" jdbcType="VARCHAR" property="demandSector" />
    <result column="PLAN_FILE_NAME" jdbcType="VARCHAR" property="planFileName" />
    <result column="BUDGET" jdbcType="DECIMAL" property="budget" />
    <result column="YEAR" jdbcType="DECIMAL" property="year" />
    <result column="BUDGET_SUBJECT_ITEM " jdbcType="VARCHAR" property="budgetSubjectItem" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CODE, NAME, MONEY, PROJECT_NAME, SUPPLIER_NAME, PURCHASE_ORGANIZATION, DEMAND_SECTOR, 
    PLAN_FILE_NAME, BUDGET, YEAR, "BUDGET_SUBJECT_ITEM "
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_CS_CONTRACT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_CS_CONTRACT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="bss.model.cs.Contract">
    insert into T_BSS_CS_CONTRACT (ID, CODE, NAME, 
      MONEY, PROJECT_NAME, SUPPLIER_NAME, 
      PURCHASE_ORGANIZATION, DEMAND_SECTOR, PLAN_FILE_NAME, 
      BUDGET, YEAR, "BUDGET_SUBJECT_ITEM "
      )
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{money,jdbcType=DECIMAL}, #{projectName,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, 
      #{purchaseOrganization,jdbcType=VARCHAR}, #{demandSector,jdbcType=VARCHAR}, #{planFileName,jdbcType=VARCHAR}, 
      #{budget,jdbcType=DECIMAL}, #{year,jdbcType=DECIMAL}, #{budgetSubjectItem,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="bss.model.cs.Contract">
    insert into T_BSS_CS_CONTRACT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="supplierName != null">
        SUPPLIER_NAME,
      </if>
      <if test="purchaseOrganization != null">
        PURCHASE_ORGANIZATION,
      </if>
      <if test="demandSector != null">
        DEMAND_SECTOR,
      </if>
      <if test="planFileName != null">
        PLAN_FILE_NAME,
      </if>
      <if test="budget != null">
        BUDGET,
      </if>
      <if test="year != null">
        YEAR,
      </if>
      <if test="budgetSubjectItem != null">
        "BUDGET_SUBJECT_ITEM ",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrganization != null">
        #{purchaseOrganization,jdbcType=VARCHAR},
      </if>
      <if test="demandSector != null">
        #{demandSector,jdbcType=VARCHAR},
      </if>
      <if test="planFileName != null">
        #{planFileName,jdbcType=VARCHAR},
      </if>
      <if test="budget != null">
        #{budget,jdbcType=DECIMAL},
      </if>
      <if test="year != null">
        #{year,jdbcType=DECIMAL},
      </if>
      <if test="budgetSubjectItem != null">
        #{budgetSubjectItem,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.cs.Contract">
    update T_BSS_CS_CONTRACT
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrganization != null">
        PURCHASE_ORGANIZATION = #{purchaseOrganization,jdbcType=VARCHAR},
      </if>
      <if test="demandSector != null">
        DEMAND_SECTOR = #{demandSector,jdbcType=VARCHAR},
      </if>
      <if test="planFileName != null">
        PLAN_FILE_NAME = #{planFileName,jdbcType=VARCHAR},
      </if>
      <if test="budget != null">
        BUDGET = #{budget,jdbcType=DECIMAL},
      </if>
      <if test="year != null">
        YEAR = #{year,jdbcType=DECIMAL},
      </if>
      <if test="budgetSubjectItem != null">
        "BUDGET_SUBJECT_ITEM " = #{budgetSubjectItem,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.cs.Contract">
    update T_BSS_CS_CONTRACT
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      PURCHASE_ORGANIZATION = #{purchaseOrganization,jdbcType=VARCHAR},
      DEMAND_SECTOR = #{demandSector,jdbcType=VARCHAR},
      PLAN_FILE_NAME = #{planFileName,jdbcType=VARCHAR},
      BUDGET = #{budget,jdbcType=DECIMAL},
      YEAR = #{year,jdbcType=DECIMAL},
      "BUDGET_SUBJECT_ITEM " = #{budgetSubjectItem,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>