<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common.dao.LoginLogMapper" >
  <resultMap id="BaseResultMap" type="common.model.LoginLog" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="DECIMAL" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, NAME, TYPE, IP, IS_DELETED, CREATED_AT, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYSTEM_LOGIN_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYSTEM_LOGIN_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="common.model.LoginLog" >
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SYSTEM_LOGIN_LOG (ID, USER_ID, NAME, 
      TYPE, IP, IS_DELETED, 
      CREATED_AT, REMARK)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=DECIMAL}, #{ip,jdbcType=VARCHAR}, #{isDeleted,jdbcType=DECIMAL}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="common.model.LoginLog" >
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SYSTEM_LOGIN_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="common.model.LoginLog" >
    update T_SYSTEM_LOGIN_LOG
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="common.model.LoginLog" >
    update T_SYSTEM_LOGIN_LOG
    set USER_ID = #{userId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      IP = #{ip,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据用户的的ID删除登录信息 -->
  <delete id="deleteByUserId" parameterType="java.lang.String">
  	delete from T_SYSTEM_LOGIN_LOG
    where LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 统计用户日登录量 -->
  <select id="getLoginCountByEmp" resultType="java.lang.Long" parameterType="Map">
    SELECT COUNT(DISTINCT (L.USER_ID))
    FROM T_SYSTEM_LOGIN_LOG L
   		WHERE L.IS_DELETED = 0
     	AND TO_CHAR(L.CREATED_AT, 'yyyy-MM-dd') = #{createdAt}
     	AND L.TYPE = #{loginType}
  </select>
  
  <!-- 根据传入参数条件查询 -->
  <select id="getListByParam" parameterType="common.model.LoginLogVo" resultMap="BaseResultMap">
  	SELECT 
  	 <include refid="Base_Column_List" />
  	FROM T_SYSTEM_LOGIN_LOG
  	WHERE 1 = 1
  	<if test="name != null and name !=''">
  	  AND NAME like CONCAT(CONCAT('%', #{name}), '%') 
  	</if>
  	<if test="type != null and type !=''">
  	  AND TYPE = #{type}
  	</if>
  	<if test="ip != null and ip != ''">
  	  AND IP = #{ip}
  	</if>
  	<if test="startDate != null and startDate !='' ">
  	  AND CREATED_AT &gt;=to_date(#{startDate},'yyyy-MM-dd hh24:mi:ss')
  	</if>
  	<if test="endDate != null and endDate !='' ">
  	  AND CREATED_AT &lt;=to_date(#{endDate},'yyyy-MM-dd hh24:mi:ss')
  	</if>
  	ORDER BY CREATED_AT DESC
  </select>
    
</mapper>