<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common.dao.LoginLogMapper" >
  <resultMap id="BaseResultMap" type="common.model.LoginLog" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="LOGIN_ID" property="loginId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="LOGIN_AT" property="loginAt" jdbcType="TIMESTAMP" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, LOGIN_ID, NAME, TYPE, IP, LOGIN_AT, IS_DELETED, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYSTEM_LOGIN_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYSTEM_LOGIN_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="common.model.LoginLog" >
    insert into T_SYSTEM_LOGIN_LOG (ID, LOGIN_ID, NAME, 
      TYPE, IP, LOGIN_AT, 
      IS_DELETED, REMARK)
    values (#{id,jdbcType=VARCHAR}, #{loginId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=DECIMAL}, #{ip,jdbcType=VARCHAR}, #{loginAt,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="common.model.LoginLog" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SYSTEM_LOGIN_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="loginId != null" >
        LOGIN_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="loginAt != null" >
        LOGIN_AT,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="loginAt != null" >
        #{loginAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="common.model.LoginLog" >
    update T_SYSTEM_LOGIN_LOG
    <set >
      <if test="loginId != null" >
        LOGIN_ID = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="loginAt != null" >
        LOGIN_AT = #{loginAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="common.model.LoginLog" >
    update T_SYSTEM_LOGIN_LOG
    set LOGIN_ID = #{loginId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      IP = #{ip,jdbcType=VARCHAR},
      LOGIN_AT = #{loginAt,jdbcType=TIMESTAMP},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据用户的的ID删除登录信息 -->
  <delete id="deleteByUserId" parameterType="java.lang.String">
  	delete from T_SYSTEM_LOGIN_LOG
    where LOGIN_ID = #{loginId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 统计用户日登录量 -->
  <select id="getLoginCountByEmp" resultType="java.lang.Long" parameterType="Map">
    SELECT COUNT(DISTINCT L.IP)
    FROM T_SYSTEM_LOGIN_LOG L
   		WHERE L.IS_DELETED = 0
     	AND TO_CHAR(L.LOGIN_AT, 'yyyy-MM-dd') = #{loginTime}
     	AND L.TYPE = #{loginType}
  </select>
</mapper>