<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.fs.ParkMapper">
		  <resultMap id="ParkResultMap" type="iss.model.fs.Park">
		    <id column="ID" property="id" />
		    <result column="NAME"  property="name" />
		    <result column="CONTENT"  property="content" />
		    <result column="CREATED_AT"  property="createdAt" jdbcType="TIMESTAMP"/>
		    <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP"/>		
		    <result column="IS_DELETED"  property="isDeleted" />  	
		    <result column="IS_HOT"  property="isHot" /> 
			<!-- 查询版主 -->
		    <association column="USER_ID"  property="user" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>
		    <!-- 查询创建人 -->
		    <association column="CREATER_ID"  property="creater" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>		    
		  </resultMap>
		  
		  <resultMap type="iss.model.fs.Park" id="ParkTopicPostMap" extends="ParkResultMap">
		  	<collection property="topics" ofType="iss.model.fs.Topic" resultMap="iss.dao.fs.TopicMapper.TopicResultMap" />
		  	<collection property="posts" ofType="iss.model.fs.Post"  resultMap="iss.dao.fs.PostMapper.PostResultMap"/>
		  </resultMap>
		  
		  		  		  		  
		   <sql id="Tabel_Name">
		    T_ISS_FS_PARK
		  </sql>
 
		   <!-- 表中所有列 --> 
		  <sql id="Base_Column_List">
		    ID, NAME, CONTENT,USER_ID,CREATER_ID,CREATED_AT, UPDATED_AT,IS_DELETED,IS_HOT	    
		  </sql>
		  

		  
		  	<!-- 1.查询数量 -->
		  	<select id="queryByCount" resultType="Object" parameterType="Object">
		   	 	select count(1) from T_ISS_FS_PARK
		  	</select>
		  
		   	<!-- 2.根据ID查询版块-->
		  	<select id="selectByPrimaryKey" parameterType="Object" resultMap="ParkTopicPostMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_PARK
			    where ID = #{id} AND IS_DELETED = 0
		  	</select>
		  		
		  	<!-- 3.1查询版块列表分页 -->
		    <select id="queryByList" parameterType="Map" resultMap="ParkTopicPostMap">
		    	select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_PARK
			    WHERE IS_DELETED = 0
			    <trim suffixOverrides=",">
	                 <if test="parkNameForSerach!= null">
	                    and NAME Like concat(concat('%', '#{parkNameForSerach}'), '%')
	                 </if> 
	                 <if test="parkContentForSerach!= null">
	                    and CONTENT Like concat(concat('%', '#{parkContentForSerach}'), '%')
	                 </if> 
	                 <if test="userId != null and userId != '' ">
	                    and USER_ID = #{userId}
	                 </if>           
	             </trim>
				 ORDER BY CREATED_AT DESC
		  	  </select>	
		  	  
			  <!-- 4.根据ID删除 逻辑删除-->
			  <update id="deleteByPrimaryKey" parameterType="Object">
			    update T_ISS_FS_PARK
			    set is_deleted = 1
			    where ID = #{id}
			  </update>
		  
		 <!-- 5.插入一条记录 -->
		  <insert id="insertSelective" parameterType="iss.model.fs.Park">
		    <selectKey keyProperty="id" resultType="String" order="BEFORE">
		        select sys_guid() from dual
		    </selectKey>
		    insert into T_ISS_FS_PARK
		    <trim prefix="(" suffix=")" suffixOverrides=",">
		      <if test="id != null">
		        ID,
		      </if>
		      <if test="name != null">
		        NAME,
		      </if>
		      <if test="createdAt != null">
		        CREATED_AT,
		      </if>
		      <if test="updatedAt != null">
		        UPDATED_AT,
		      </if>
		      <if test="content != null">
		        CONTENT,
		      </if>
		      <if test="user != null">
		        USER_ID,
		      </if>
		      <if test="creater != null">
		        CREATER_ID,
		      </if>
		      <if test="isHot != null">
		        IS_HOT,
		      </if>
		       IS_DELETED,
		      
		    </trim>
		    <trim prefix="values (" suffix=")" suffixOverrides=",">
		      <if test="id != null">
		        #{id},
		      </if>
		      <if test="name != null">
		        #{name,jdbcType=VARCHAR},
		      </if>
		      <if test="createdAt != null">
		        #{createdAt,jdbcType=TIMESTAMP},
		      </if>
		      <if test="createdAt != null">
		        #{updatedAt,jdbcType=TIMESTAMP},
		      </if>
		      <if test="content != null">
		        #{content},
		      </if>
		      <if test="user != null">
		        #{user.id},
		      </if>
		      <if test="creater != null">
		        #{creater.id},
		      </if>
		       <if test="isHot != null">
		        #{isHot},
		      </if>
		       0,
		    </trim>
		  </insert>
		  
		  <!-- 6.更新 -->
		  <update id="updateByPrimaryKeySelective" parameterType="iss.model.fs.Park">
		    update T_ISS_FS_PARK
		    <set>
		      <if test="name != null">
		        NAME = #{name,jdbcType=VARCHAR},
		      </if>
		      <if test="updatedAt != null">
		        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
		      </if>
		      CONTENT = #{content},
		      <if test="isHot != null">
                IS_HOT = #{isHot},
              </if>
		      <if test="user != null">
		        USER_ID = #{user.id},
		      </if>
		    </set>
		    where ID = #{id}
		  </update>	
		  
		  <!-- 7.查询所有版块列表 -->
		    <select id="getAll" parameterType="Object" resultMap="ParkTopicPostMap">
		    select 
		    <include refid="Base_Column_List" />
		    from T_ISS_FS_PARK
            WHERE IS_DELETED = 0
		   ORDER BY CREATED_AT ASC
		  </select>	
		   <!-- 查询版主的管理的版块 -->
		   <select id="selectParkListByUser" parameterType="Map" resultMap="ParkTopicPostMap">
            select 
            <include refid="Base_Column_List" />
            from T_ISS_FS_PARK
            where IS_DELETED = 0
             <trim suffixOverrides=",">
                <!--如果是管理员就不执行 需要改  -->
                <if test="userId != null and userId != '' ">
                    and USER_ID = #{userId}
                </if>             
            </trim>
           ORDER BY CREATED_AT ASC
          </select> 
          
		  <select id="queryHotParks" parameterType="Object" resultType="Object">
              select * from T_ISS_FS_PARK
              where IS_HOT = 1 AND IS_DELETED = 0
          </select> 
		  	
		  <select id="checkParkName" parameterType="Object" resultType="Object">
		      select count(1) from T_ISS_FS_PARK
		      where NAME = #{name} AND IS_DELETED = 0
		  </select>	
		  
		  <select id="checkHotPark" parameterType="Object" resultType="Object">
              select count(1) from T_ISS_FS_PARK
              where ID != #{id} AND IS_HOT = 1 AND IS_DELETED = 0
          </select>  		   		   
</mapper>