<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.fs.PostMapper">
			  <resultMap id="PostResultMap" type="iss.model.fs.Post">
				    <id column="ID"  property="id" />
				    <result column="NAME" property="name" />
				    <result column="CONTENT" jdbcType="CLOB" property="content" />
				    <result column="IS_TOP"  property="isTop" />
				    <result column="IS_LOCKING"  property="isLocking" />
				    <result column="PUBLISHED_At"  property="publishedAt" jdbcType="TIMESTAMP"/>
				    <result column="LAST_RE_At"  property="lastReplyedAt" jdbcType="TIMESTAMP"/>	
				    <result column="REPLY_COUNT"  property="replycount" />	
				    <result column="IS_DELETED"  property="isDeleted" />  
				    <association column="LAST_RE_ID"  property="lastReplyer" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>						    	    
				    <association column="USER_ID"  property="user" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>
				    <association column="TOPIC_ID"  property="topic" select="iss.dao.fs.TopicMapper.selectByPrimaryKey"/>	
				    <association column="PARK_ID"  property="park" select="iss.dao.fs.ParkMapper.selectByPrimaryKey"/>		    
			  </resultMap>
			  
			  <resultMap id="PostReplyMap" type="iss.model.fs.Post" extends="PostResultMap">
			  <collection property="replies" ofType="iss.model.fs.Reply" resultMap="iss.dao.fs.ReplyMapper.ReplyResultMap"/>
			  </resultMap>
			  
	  	  
			  	<!-- 表名 -->
			  	<sql id="Tabel_Name">
					T_ISS_FS_POST
				</sql>
				  
			  <!-- 所有列 -->
			  <sql id="Base_Column_List">
			    ID, NAME,CONTENT, IS_TOP, IS_LOCKING, USER_ID, TOPIC_ID,PARK_ID,
			    PUBLISHED_At, LAST_RE_At,LAST_RE_ID,REPLY_COUNT,IS_DELETED			    
			  </sql>
	  	
			  <!-- 查询条件 -->
			  <sql id="Example_Where_Clause">
				 where IS_DELETED = 0
				 <trim suffixOverrides=",">
			      <if test="park!= null">
			        and PARK_ID = #{park.id}
			      </if>
			      <if test="topic!= null">
			        and TOPIC_ID = #{topic.id}
			      </if>			
				</trim>
			 </sql>
    
		  <!-- 1.查询列表总数 -->
		  <select id="queryByCount" resultType="Object" parameterType="Object">
		    select count(1) from T_ISS_FS_POST
		    <include refid="Example_Where_Clause" />
		  </select>
		  
		  <!-- 2.根据条件查询列表  版主管理自己的版块-->
		  <select id="queryByList" parameterType="Map" resultMap="PostReplyMap">
		    select 
		    <include refid="Base_Column_List" />
		    from T_ISS_FS_POST
		    where IS_DELETED = 0
                  <if test="postName!= null and postName != ''">
                    and NAME Like concat(concat('%', '#{postName}'), '%')
                  </if>                
                  <if test="parkId!= null and  parkId!=''">
                    and PARK_ID = #{parkId}
                  </if> 
                  <if test="topicId!= null and topicId!=''">
                    and TOPIC_ID = #{topicId}
                  </if>
                  <if test="userId != null and userId!=''">
                    and PARK_ID IN (
                            SELECT ID FROM T_ISS_FS_PARK 
                                <if test="userId != ''and userId != null">
	                            WHERE USER_ID = #{userId} 
	                            </if> 
	                            
                            )                         
                  </if> 
                 <if test="searchType == 'pubtime' ">
                ORDER BY PUBLISHED_At DESC
                </if>
                <if test="searchType == 'hot' ">
                ORDER BY REPLY_COUNT DESC
                </if>
                <if test="searchType == 'retime' ">
                ORDER BY LAST_RE_At DESC
                </if>
		  </select>
		  
		  <!-- 3.根据ID查询 -->
		  <select id="selectByPrimaryKey" parameterType="Object" resultMap="PostReplyMap">
		    select 
		    <include refid="Base_Column_List" />
		    from T_ISS_FS_POST
		    where ID = #{id}
		  </select>
		  <!-- 根据回复量查询10条热门帖子 -->
          <select id="queryHotPost"  resultMap="PostReplyMap">               
                select 
                <include refid="Base_Column_List" />
                from ( SELECT * FROM T_ISS_FS_POST WHERE IS_DELETED=0
                ORDER BY REPLY_COUNT DESC )
                WHERE
                ROWNUM &lt;= 10
          </select>
           <!-- 根据回复量查询所有热门帖子 -->
          <select id="queryAllHotPost"  resultMap="PostReplyMap">
                select 
                <include refid="Base_Column_List" />
                from T_ISS_FS_POST
                WHERE IS_DELETED=0
                ORDER BY REPLY_COUNT DESC
          </select>
		  	  	
		   <!-- 4.根据ID删除 逻辑删除-->
          <update id="deleteByPrimaryKey" parameterType="Object">
            update T_ISS_FS_POST
            set is_deleted = 1
            where ID = #{id}
          </update>
	  
		   <!-- 5.新增一条记录 -->
		  <insert id="insertSelective" parameterType="iss.model.fs.Post">
		    insert into T_ISS_FS_POST
		    <trim prefix="(" suffix=")" suffixOverrides=",">
		      <if test="id != null">
		        ID,
		      </if>
		      <if test="name != null">
		        NAME,
		      </if>
		      <if test="isTop != null">
		        IS_TOP,
		      </if>
		      <if test="isLocking != null">
		        IS_LOCKING,
		      </if>
		      <if test="publishedAt != null">
		        PUBLISHED_At,
		      </if>
		      <if test="content != null">
		        CONTENT,
		      </if>
		      <if test="user != null">
		        USER_ID,
		      </if>
		      <if test="park != null">
		        PARK_ID,
		      </if>
		      <if test="topic != null">
		        TOPIC_ID,
		      </if>		     
                REPLY_COUNT,
                IS_DELETED,
    		      
		    </trim>
		    <trim prefix="values (" suffix=")" suffixOverrides=",">
		      <if test="id != null">
		        #{id},
		      </if>
		      <if test="name != null">
		        #{name},
		      </if>
		      <if test="isTop != null">
		        #{isTop},
		      </if>
		      <if test="isLocking != null">
		        #{isLocking},
		      </if>
		      <if test="publishedAt != null">
		        #{publishedAt,jdbcType=TIMESTAMP},
		      </if>

		      <if test="content != null">
		        #{content},
		      </if>
		      <if test="user != null">
		        #{user.id},
		      </if>
		      <if test="park != null">
		        #{park.id},
		      </if>
		      <if test="topic != null">
		        #{topic.id},
		      </if>
		      0,
		      0,
		    </trim>
		  </insert>
	  
		  <!-- 6.更新数据 -->
		  <update id="updateByPrimaryKeySelective" parameterType="iss.model.fs.Post">
		    update T_ISS_FS_POST
		    <set>
		      <if test="name != null">
		        NAME = #{name},
		      </if>
		      <if test="isTop != null">
		        IS_TOP = #{isTop},
		      </if>
		      <if test="isLocking != null">
		        IS_LOCKING = #{isLocking},
		      </if>
		      <if test="lastReplyedAt != null">
		        LAST_RE_At = #{lastReplyedAt,jdbcType=TIMESTAMP},
		      </if>
		      <if test="content != null">
		        CONTENT = #{content},
		      </if>
		      <if test="park != null">
		        PARK_ID = #{park.id},
		      </if>
		      <if test="lastReplyer != null">
		        LAST_RE_ID = #{lastReplyer.id},
		      </if>
		      <if test="topic != null">
		        TOPIC_ID = #{topic.id},
		      </if>
		       <if test="replycount != null">
                REPLY_COUNT = #{replycount},
              </if>
		    </set>
		    where ID = #{id}
		  </update>
		  
  		  <!-- 7.根据topicId查询 -->
		  <select id="selectByTopicID" parameterType="Object" resultMap="PostResultMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_POST
			    where TOPIC_ID = #{topicID} AND IS_DELETED = 0
			    ORDER BY PUBLISHED_At DESC
		  </select>
		  
		  <!-- 8.首页根据parkId查询4条 -->
		  <select id="selectByParkID" parameterType="Object" resultMap="PostResultMap">
			    select 
			    <include refid="Base_Column_List" />
			    from ( SELECT * FROM T_ISS_FS_POST
			    where PARK_ID = #{parkID}
			    AND IS_DELETED = 0
			    ORDER BY PUBLISHED_At DESC )
			    WHERE
			    ROWNUM &lt;= 4 
		  </select>
		  
		  <!-- 查询置顶帖子 -->
		  <select id="selectParkTopPost" parameterType="Object" resultMap="PostResultMap">
                select 
                <include refid="Base_Column_List" />
                from T_ISS_FS_POST
                where PARK_ID = #{parkID} AND IS_TOP = 1 AND IS_DELETED = 0
          </select>
          
          <!-- 查询自己发表的帖子-->
		  <select id="queryMyPost" parameterType="Map" resultMap="PostReplyMap">
		    select 
		    <include refid="Base_Column_List" />
		    from T_ISS_FS_POST
		    where IS_DELETED = 0
                 <trim suffixOverrides=",">                   
                  <if test="userId!= null">
                    and USER_ID = #{userId}
                  </if>                 
                ORDER BY PUBLISHED_At DESC                                          
                </trim>		    
		  </select>
			
		 <!-- 9.根据topicId和name查询 -->
		  <select id="selectByTopicIdAndName" parameterType="Map" resultMap="PostResultMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_POST
			    where TOPIC_ID = #{topicId} 
			    <if test="name != null and name!=''">
                    AND NAME LIKE  CONCAT(CONCAT('%', #{name}), '%')
                 </if> 
			    AND IS_DELETED = 0
			    ORDER BY PUBLISHED_At DESC
		  </select>
</mapper>