<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.fs.PostAttachmentsMapper">
  <resultMap id="PostAttachMap" type="iss.model.fs.PostAttachments">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="TYPE" property="type" />
    <result column="FILE_SIZE" property="fileSize" />
    <result column="PATH" property="path" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="IS_DELETED" property="isDeleted"/>
    <association property="post" column="POST_ID" select="iss.dao.fs.PostMapper.selectByPrimaryKey"/>
  </resultMap>
  
  <sql id="PostAttach_Column_List">
    ID, NAME, TYPE, FILE_SIZE, POST_ID, PATH, CREATED_AT, 
    UPDATED_AT,IS_DELETED
  </sql>
  
  <!-- 根据id查询 -->
  <select id="selectPostAttaByPrimaryKey" parameterType="Object" resultMap="PostAttachMap">
    select 
    <include refid="PostAttach_Column_List" />
    from T_ISS_FS_POST_ATTACHMENT
    where ID = #{id}
  </select>
  
  <select id="selectAllPostAttachments" parameterType="Object" resultMap="PostAttachMap">
  	select
  	<include refid="PostAttach_Column_List" />
  	from T_ISS_FS_POST_ATTACHMENT
  	where POST_ID = #{post.id} and IS_DELETED = 0
  </select>
  
  
  <!-- 假删除 -->
  <update id="softDeleteAtta" parameterType="Object">
  	update T_ISS_FS_POST_ATTACHMENT
  	set IS_DELETED = 1 where ID = #{id}
  </update>
  

  
  <!-- 根据条件新增信息附件 -->
  <insert id="insertSelective" parameterType="iss.model.fs.PostAttachments">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_ISS_FS_POST_ATTACHMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="fileSize != null">
        FILE_SIZE,
      </if>
      <if test="post != null">
        POST_ID,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
        IS_DELETED,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="fileSize != null">
        #{fileSize},
      </if>
      <if test="post != null">
        #{post.id},
      </if>
      <if test="path != null">
        #{path},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
       0,
    </trim>
  </insert>
  
  <!-- 根据条件修改信息附件 -->
  <update id="updateByPrimaryKeySelective" parameterType="iss.model.fs.PostAttachments">
    update T_ISS_FS_POST_ATTACHMENT
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="type != null">
        TYPE = #{type},
      </if>
      <if test="fileSize != null">
        FILE_SIZE = #{fileSize},
      </if>
      <if test="post != null">
        POST_ID = #{post.id},
      </if>
      <if test="path != null">
        PATH = #{path},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
    </set>
    where ID = #{id}
  </update>
  

</mapper>