<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.fs.ReplyMapper">
			  <resultMap id="ReplyResultMap" type="iss.model.fs.Reply">
			    <id column="ID"  property="id" />
			     <result column="CONTENT"  property="content" />
			     <result column="PUBLISHED_AT"  property="publishedAt" jdbcType="TIMESTAMP"/>
			     <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP"/>
			     <result column="IS_DELETED"  property="isDeleted" />
			     <result column="IS_READ"  property="isRead" />    
			      <association column="REPLY_ID"  property="reply" select="selectByPrimaryKey"/>
			     <association column="POST_ID"  property="post" select="iss.dao.fs.PostMapper.selectByPrimaryKey"/>		
			    <association column="USER_ID"  property="user" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>			    			    
			  </resultMap>
			  
			   <resultMap type="iss.model.fs.Reply" id="ReplyWithRe" extends="ReplyResultMap">            
                  <collection property="replies" ofType="iss.model.fs.Reply" resultMap="iss.dao.fs.ReplyMapper.ReplyResultMap" />          
               </resultMap>
			  			  			  
	  			<!-- 表名 -->
			  	<sql id="Tabel_Name">
					T_ISS.FS_REPLY
				</sql>
				
		  	  <!-- 所有列 -->
			  <sql id="Base_Column_List">
			    ID,CONTENT,POST_ID, REPLY_ID, USER_ID, PUBLISHED_AT,UPDATED_AT,IS_DELETED,IS_READ  
			  </sql>
			  
	  			  <!-- 查询条件 -->
			  <sql id="Example_Where_Clause">
			  	where IS_DELETED = 0
				 <trim suffixOverrides=",">	
				 	<if test="post!= null">
			        and POST_ID = #{post.id}
			      </if>		
				</trim>
				</sql>
			
				<!-- 根据ID查询 -->
			  <select id="selectByPrimaryKey" parameterType="Object" resultMap="ReplyResultMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_REPLY
			    where ID = #{id} AND IS_DELETED = 0
			  </select>
			  
	  		  <!-- 2.查询列表总数 -->
			  <select id="queryByCount" resultType="Object" parameterType="Object">
			    select count(1) from T_ISS_FS_REPLY
			    <include refid="Example_Where_Clause" />
			  </select>
			  
			  <!-- 2.2根据版块查询列表总数 -->
			  <select id="queryCountByParkId" resultType="Object" parameterType="Object">
					SELECT COUNT(1) FROM T_ISS_FS_REPLY
					WHERE POST_ID IN( 
					SELECT ID FROM T_ISS_FS_POST
					WHERE PARK_ID = #{parkId} AND IS_DELETED = 0
					) AND IS_DELETED = 0
			  </select>
			  <!-- 2.3根据主题查询列表总数 -->
			  <select id="queryCountByTopicId" resultType="Object" parameterType="Object">
					SELECT COUNT(1) FROM T_ISS_FS_REPLY
					WHERE POST_ID IN( 
					SELECT ID FROM T_ISS_FS_POST
					WHERE TOPIC_ID = #{topicId} AND IS_DELETED = 0
					)AND IS_DELETED = 0
			  </select>
	  
			  <!-- 3.根据条件查询列表 -->
			  <select id="queryByList" parameterType="Map" resultMap="ReplyResultMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_REPLY
			     where IS_DELETED = 0
                 <trim suffixOverrides=","> 
                  <if test="replyCon!= null">
                    and CONTENT Like concat(concat('%', '#{replyCon}'), '%')
                  </if> 
                  <if test="userId != null ">
                    and POST_ID IN (
                            SELECT ID FROM T_ISS_FS_POST    
	                        WHERE PARK_ID IN (
	                            SELECT ID FROM T_ISS_FS_PARK 		                                                           
                                 <if test="userId != ''and userId != null">
                                WHERE USER_ID = #{userId} 
                                </if>	 	                                                           
	                                         )                                     
                                 )                         
                  </if> 
                       
                </trim>
			    ORDER BY PUBLISHED_AT DESC			    
			  </select>
  
              <!-- 4.删除一条记录 -->
	          <update id="deleteByPrimaryKey" parameterType="Object">
	            update T_ISS_FS_REPLY
	            set IS_DELETED = 1
	            where ID = #{id}
	          </update>
  

			  <!--5.插入一条记录  -->
			  <insert id="insertSelective" parameterType="iss.model.fs.Reply">
			    <selectKey keyProperty="id" resultType="String" order="BEFORE">
			        select sys_guid() from dual
			    </selectKey>
			    insert into T_ISS_FS_REPLY
			    <trim prefix="(" suffix=")" suffixOverrides=",">
	              <if test="id != null">
	                ID,
	              </if>
			      <if test="publishedAt != null">
			        PUBLISHED_AT,
			      </if>
			      <if test="updatedAt != null">
                    UPDATED_AT,
                  </if>
			      <if test="content != null">
			        CONTENT,
			      </if>
			      <if test="user != null">
			        USER_ID,
			      </if>
			      <if test="post != null">
			        POST_ID,
			      </if>
			      <if test="reply != null">
			        REPLY_ID,
			      </if>
			      <if test="isRead != null">
			        IS_READ,
			      </if>
			      IS_DELETED,
			    </trim>
			    <trim prefix="values (" suffix=")" suffixOverrides=",">
	              <if test="id != null">
	                #{id},
	              </if>
			      <if test="publishedAt != null">
			        #{publishedAt,jdbcType=TIMESTAMP},
			      </if>
			      <if test="updatedAt != null">
                    #{updatedAt,jdbcType=TIMESTAMP},
                  </if>
			      <if test="content != null">
			        #{content},
			      </if>
			      <if test="user != null">
			        #{user.id},
			      </if>
			      <if test="post != null">
			        #{post.id},
			      </if>
			      <if test="reply != null">
			        #{reply.id},
			      </if>
			      <if test="isRead != null">
			        #{isRead},
			      </if>
			      0,
			    </trim>
			  </insert>
			  <!-- 更新一条记录 -->
			  <update id="updateByPrimaryKeySelective" parameterType="iss.model.fs.Reply">
			    update T_ISS_FS_REPLY
			    <set>
			      <if test="content != null">
			        CONTENT = #{content},
			      </if>
			      <if test="updatedAt != null">
                    UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
                  </if>
			    </set>
			    where ID = #{id}
			  </update>
			  
			<!-- 7.根据postId查询 -->
		  <select id="selectByPostID" parameterType="Map" resultMap="ReplyResultMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_ISS_FS_REPLY
			    where IS_DELETED=0
			    <trim suffixOverrides=","> 
                  <if test="postId != null">
                    and POST_ID = #{postId}
                  </if>      
                </trim>
                and REPLY_ID is NULL
			    ORDER BY PUBLISHED_AT ASC
		  </select>	
		  <!-- 根据replyId查询 -->
		  <select id="selectByReplyId" parameterType="Map" resultMap="ReplyResultMap">
		        select 
                <include refid="Base_Column_List" />
                from T_ISS_FS_REPLY
                where IS_DELETED=0
                <trim suffixOverrides=","> 
                  <if test="replyId != null">
                    and REPLY_ID = #{replyId}
                  </if>      
                </trim>
                ORDER BY PUBLISHED_AT ASC
		  </select>	  
 	  		  <!-- 获取当前登录人所有未读的回复量 -->
			  <select id="queryUnReadCount" resultType="Object" parameterType="Object">
			    select count(1) from T_ISS_FS_REPLY
			    WHERE POST_ID IN(
			    SELECT * FROM T_ISS_FS_POST 
			    WHERE IS_DELETED = 0
			    <if test="userId != null">
                    and USER_ID = #{userId}
                  </if> ) 
			    AND IS_READ = 0
			  </select>
			  
			  <!-- 获取所有帖子未读的回复 -->
			  <select id="findAllUnReadReply" resultType="iss.model.fs.Reply">
				SELECT
					COUNT (POST_ID) AS num,
					POST_ID AS postId
				FROM
					T_ISS_FS_REPLY
				WHERE
					IS_DELETED = 0
				AND IS_READ = 0
				GROUP BY
					POST_ID
			  </select>
</mapper>