<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.AreaMapper">
  <resultMap id="BaseResultMap" type="ses.model.bms.Area">
    <id column="ID"  property="id" />
    <result column="CREATED_AT"  property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="IS_DELETED"  property="isDeleted" />
    <result column="POSITION"  property="position" />
    <result column="AREA_TYPE"  property="areaType" />
    <result column="PARENT_ID"  property="parentId" />
    <result column="NAME"  property="name" />
  </resultMap>
  
  <resultMap id="resultForExt" type="ses.model.bms.Area">
    <id column="ID"  property="id" />
    <result column="CREATED_AT"  property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="IS_DELETED"  property="isDeleted" />
    <result column="POSITION"  property="position" />
    <result column="AREA_TYPE"  property="areaType" />
    <result column="PARENT_ID"  property="parentId" />
    <result column="NAME"  property="name" />
    <result column="IS_PARENT"  property="isParent" />
  </resultMap>
  <!-- 表中所有字段 -->
  <sql id="Base_Column_List">
    ID, CREATED_AT, UPDATED_AT, IS_DELETED, POSITION, AREA_TYPE, PARENT_ID, NAME
  </sql>
  <!-- 查询条件 -->
  <sql id="Example_Where_Clause">
      where IS_DELETED=0
    <trim suffixOverrides=",">
     <if test="id != null">
         and ID = #{id}
      </if>
       <if test="name != null and name !=''">
        and NAME like CONCAT(CONCAT('%', #{name}), '%')
      </if> 
     <if test="createdAt != null">
        and CREATED_AT = #{createdAt}
      </if>
      <if test="updatedAt != null">
        and UPDATED_AT = #{updatedAt}
      </if>
      <if test="position != null">
       and POSITION = #{position}
      </if>
      <if test="areaType != null">
       and AREA_TYPE = #{areaType}
      </if>
      <if test="parentId != null">
       and PARENT_ID = #{parentId}
      </if>
    </trim>
    </sql>
  
  <!-- 根据id查询 -->
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_AREA
    where ID =#{id} and IS_DELETED=0
  </select>
  <!-- 查询全部 -->
  <select id="listByArea" parameterType="ses.model.bms.Area" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from T_SES_BMS_AREA
  	<include refid="Example_Where_Clause"/>
  	ORDER BY CREATED_AT ASC
  	</select>
  	<!-- 根据父节点找出子节点-->
  <select id="findTreeByPid"  resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from T_SES_BMS_AREA
  	where IS_DELETED=0
  	 <if test="pid != null and pid !=''">
        and PARENT_ID = #{pid}   
     </if> 
  	 <if test="name != null and name !=''">
        and NAME like CONCAT(CONCAT('%', #{name}), '%')
     </if> 
  	ORDER BY CREATED_AT ASC
  </select>
  <!-- 根据id删除 -->
  <delete id="deleteById" parameterType="java.lang.String">
    delete from T_SES_BMS_AREA
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <!-- 新增 -->
  <insert id="save" parameterType="ses.model.bms.Area">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_AREA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="areaType != null">
        AREA_TYPE,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="position != null">
        #{position},
      </if>
      <if test="areaType != null">
        #{areaType},
      </if>
      <if test="parentId != null">
        #{parentId},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 修改 -->
  <update id="update" parameterType="ses.model.bms.Area">
    update T_SES_BMS_AREA
    <set>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="position != null">
        POSITION = #{position},
      </if>
      <if test="areaType != null">
        AREA_TYPE = #{areaType},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
	
	<select id="findRootArea" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from T_SES_BMS_AREA where PARENT_ID = #{areaType} ORDER BY CREATED_AT ASC
	</select>
	
	<select id="findAreaByParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		 from T_SES_BMS_AREA where PARENT_ID = #{id} AND IS_DELETED = 0 ORDER BY CREATED_AT ASC
	</select>
	
	<!-- 通过省名称模糊查询地区ID -->
	<select id="selectByName" parameterType="java.lang.String" resultType="java.lang.String">
		 SELECT T.ID 
		 	FROM T_SES_BMS_AREA T 
		 	WHERE T.NAME LIKE CONCAT(CONCAT('%',#{name}), '%') AND T.PARENT_ID = '0'
	</select>
	<select id="getTreeForExt" resultMap="resultForExt">
		 select  id,parent_id,NAME,'ture' is_parent from T_SES_BMS_AREA where parent_id = '0' union all select id,parent_id,NAME,'false' IS_PARENT from T_SES_BMS_AREA  where parent_id in (select id from T_SES_BMS_AREA where parent_id = '0')  
	</select>

  <!--级联查询地区-->
  <select id="selectOfHierarchical" parameterType="map" resultMap="BaseResultMap">
       SELECT T.ID, T.NAME
        FROM T_SES_BMS_AREA T
        WHERE T.IS_DELETED = 0
        START WITH ID = #{id}
        CONNECT BY PRIOR T.PARENT_ID = T.ID
        ORDER BY T.CREATED_AT
  </select>
</mapper>