<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.CategoryAptitudeMapper">
<resultMap id="CategoryAptitudeMap" type="ses.model.bms.CategoryAptitude">
      <id column="ID" property="id" />
    <result column="PRODUCT_NAME"  property="productName" />
    <result column="SALE_NAME"  property="saleName" />
    <result column="CREATED_AT"  property="createdAt" jdbcType="TIMESTAMP"/>
    <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP"/>
    <result column="IS_DELETED"  property="isDeleted" />
    <association property="category" column="CATEGORY_ID" select="ses.dao.bms.CategoryMapper.selectByPrimaryKey"/>
    </resultMap>
    
   
		   <!-- 表中所有列 --> 
    <sql id="Base_Column_List">
		    ID, PRODUCT_NAME,SALE_NAME,CATEGORY_ID,CREATED_AT, UPDATED_AT,IS_DELETED	    
		  </sql>
		  
  	
    <select id="selectAll" parameterType="Object" resultMap="CategoryAptitudeMap">
        select 
    <include refid="Base_Column_List" />
    from 
        T_SES_BMS_CATEGORY_APTITUDE
         
    </select>
    
    <!-- 1.根据Id查询 -->
    <!-- <select id="selectByPrimaryKey" parameterType="Object" resultMap="CategoryAptitudeMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_SES_BMS_CATEGORY_APTITUDE
			    where ID = #{id}
		  </select> -->
    <!-- 根据品目id查询资质信息 -->
    <select id="queryByCategoryId" parameterType="Object" resultMap="CategoryAptitudeMap">
             select 
              <include refid="Base_Column_List" />
              from T_SES_BMS_CATEGORY_APTITUDE
              where CATEGORY_ID = #{category.id}
         </select>
    <!--根据品目id查询生产资质  -->
    <select id="findProductByCategoryId" parameterType="Object" resultMap="CategoryAptitudeMap">
        select PRODUCT_NAME
         <include refid="Base_Column_List" />
         from T_SES_BMS_CATEGORY_APTITUDE
         where CATEGORY_ID =#{category.id}
    </select>
    
    <!--根据品目id查询销售资质  -->
    <select id="findSaleByCategoryId" parameterType="Object" resultMap="CategoryAptitudeMap">
        select SALE_NAME
         <include refid="Base_Column_List" />
         from T_SES_BMS_CATEGORY_APTITUDE
         where CATEGORY_ID =#{category.id}
    </select>
    
    <!--根据id查询资质文件  -->
    <select id="findListByCategoryId" parameterType="Object" resultMap="CategoryAptitudeMap">
    select 
    <include refid="Base_Column_List" />
         from T_SES_BMS_CATEGORY_APTITUDE
         where CATEGORY_ID =#{category.id}
    </select>
    <!-- 删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete 
        from 
        T_SES_BMS_CATEGORY_APTITUDE
        where CATEGORY_ID = #{category.id}
    </delete>
    
    <!-- 新增 -->
     <insert id="insertSelective" parameterType="ses.model.bms.CategoryAptitude">
  <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_CATEGORY_APTITUDE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="productName != null">
        PRODUCT_NAME,
      </if>
       <if test="saleName != null">
        SALE_NAME,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="category != null">
        CATEGORY_ID,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="productName != null">
        #{productName},
      </if>
      <if test="saleName != null">
        #{saleName},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        #{category.id},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ses.model.bms.CategoryAptitude">
    update T_SES_BMS_CATEGORY_APTITUDE
    <set>
      <if test="productName != null">
        PRODUCT_NAME = #{productName},
      </if>
       <if test="saleName != null">
        SALE_NAME = #{saleName},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
     <!--  <if test="category != null">
        CATEGORY_ID = #{category.id},
      </if> -->
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
    </set>
    where CATEGORY_ID = #{category.id}
  </update>
</mapper>