<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.CategoryMapper">
  <resultMap id="CateMap" type="ses.model.bms.Category">
    <id column="ID" property="id" />
    <result column="NAME"  property="name" />
    <result column="STATUS"  property="status" />
    <result column="PARENT_ID" property="parentId" />
    <result column="CREATED_AT"  property="createdAt" />
    <result column="UPDATED_AT"  property="updatedAt" />
    <result column="DESCRIPTION"  property="description" />
    <result column="IS_END" property="isEnd" />
    <result column="CODE"  property="code" />
    <result column="POSITION"  property="position" />
 	<result column="IS_DELETED"  property="isDeleted" />
 	<result column="IS_PUBLICED"  property="isPubliced" />
 	<result column="TYPE"  property="type" />
 	<result column="PARAM_STATUS"  property="paramStatus" />
 	<result column="ACCEPTENCE_REGULATION"  property="acceptenceRegulation" />
 	<result column="SCOPE_PUBLIC"  property="scopePublic" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, STATUS, PARENT_ID, CREATED_AT, UPDATED_AT, DESCRIPTION, IS_END, 
    CODE, POSITION,IS_DELETED,IS_PUBLICED,TYPE,PARAM_STATUS,ACCEPTENCE_REGULATION,SCOPE_PUBLIC
  </sql>
  
  <!-- 根据id查询 -->
  <select id="selectByPrimaryKey" parameterType="Object" resultMap="CateMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_CATEGORY
    where ID = #{id}
  </select>
  
  <!-- 根据pid生成列表 -->
   <select id="listByParent" parameterType="Object" resultMap="CateMap">
  	select
  	<include refid="Base_Column_List" />
  	from T_SES_BMS_CATEGORY
    where  PARENT_ID=#{pid}
  </select>
  
  <!-- 根据pid查询生成树 -->
  <select id="findTreeByPid" parameterType="Object" resultMap="CateMap">
  select
  <include refid="Base_Column_List" />
  from T_SES_BMS_CATEGORY
  where PARENT_ID=#{id}
  </select>
  
  <select id="selectAll" parameterType="object" resultMap="CateMap">
  select 
  <include refid="Base_Column_List"/>
  from T_SES_BMS_CATEGORY
  </select>
  
   <!-- 根据code查出已插入的数据-->
  <select id="readExcel" parameterType="Object" >
  select
  <include refid="Base_Column_List" />
  from T_SES_BMS_CATEGORY
  where CODE=#{code}
  </select>
  
  <!-- 根据id删除 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete from T_SES_BMS_CATEGORY
    where ID = #{id}
  </delete>
  
  <!-- 新增 -->
  <insert id="insert" parameterType="ses.model.bms.Category">
    insert into T_SES_BMS_CATEGORY (ID, NAME, STATUS, 
      PARENT_ID, CREATED_AT, UPDATED_AT, 
      ATTCHMENT, DESCRIPTION, IS_END, 
      CODE, POSITION,IS_DELETED,IS_PUBLICED,TYPE,PARAM_STATUS,ACCEPTENCE_REGULATION,SCOPE_PUBLIC)
    values (#{id}, #{name}, #{status}, 
      #{parentId}, #{createdAt}, #{updatedAt}, 
     #{description}, #{isEnd}, 
      #{code}, #{position},#{is_deleted},#{isPubliced},#{type},#{paramStatus},#{acceptenceRegulation},#{scopePublic})
  </insert>
  
  <insert id="insertSelective" parameterType="ses.model.bms.Category">
  <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="parentId != null">
       PARENT_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="isEnd != null">
        IS_END,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="isPubliced != null">
        IS_PUBLICED,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="paramStatus != null">
        PARAM_STATUS,
      </if>
      <if test="acceptenceRegulation != null">
        ACCEPTENCE_REGULATION,
      </if>
      <if test="scopePublic != null">
        SCOPE_PUBLIC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="parentId != null">
       	#{parentId},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
     
      <if test="description != null">
        #{description},
      </if>
      <if test="isEnd != null">
        #{isEnd},
      </if>
      <if test="code != null">
        #{code},
      </if>
      <if test="position != null">
        #{position},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
        </if>
        <if test="isPubliced != null">
        #{isPubliced},
        </if>
        <if test="type != null">
        #{type},
        </if>
        <if test="paramStatus != null">
        #{paramStatus},
        </if>
        <if test="acceptenceRegulation != null">
        #{acceptenceRegulation},
        </if>
        <if test="scopePublic != null">
        #{scopePublic},
        </if>
    </trim>
  </insert>
  
  <!-- 根据id修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.bms.Category">
    update T_SES_BMS_CATEGORY
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="parentId != null">
        PARENT_ID= #{parentId},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      
      <if test="description != null">
        DESCRIPTION = #{description},
      </if>
      <if test="isEnd != null">
        IS_END = #{isEnd},
      </if>
      <if test="code != null">
        CODE = #{code},
      </if>
      <if test="position != null">
        POSITION = #{position},
      </if>

      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="isPubliced != null">
         IS_PUBLICED = #{isPubliced},
        </if>
        <if test="type != null">
        TYPE = #{type},
        </if>
        <if test="paramStatus != null">
        PARAM_STATUS = #{paramStatus},
        </if>
        <if test="acceptenceRegulation != null">
        ACCEPTENCE_REGULATION = #{acceptenceRegulation},
        </if>
        <if test="scopePublic != null">
         SCOPE_PUBLIC = #{scopePublic},
        </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据id修改 -->
  <update id="updateByPrimaryKey" parameterType="ses.model.bms.Category">
    update T_SES_BMS_CATEGORY
    set NAME = #{name},
      STATUS = #{status},
      PARENT_ID = #{parentId},
      CREATED_AT = #{createdAt},
      UPDATED_AT = #{updatedAt},
      DESCRIPTION = #{description},
      IS_END = #{isEnd},
      CODE = #{code},
      IS_DELETED=#{isDeleted},
      position = #{position},
      IS_PUBLICED = #{isPubliced},
      TYPE = #{type},
      PARAM_STATUS = #{paramStatus},
      ACCEPTENCE_REGULATION = #{acceptenceRegulation},
      SCOPE_PUBLIC = #{scopePublic}
    where ID = #{id}
  </update>
  
  <!-- 根据id修改 名称 -->
 	<update id="updateNameById" parameterType="Object">
 	update T_SES_BMS_CATEGORY
    set NAME = #{name},
 	where ID=#{id}
 	</update>
</mapper>