<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.CategoryParameterMapper">
	
	<!-- 品目对象 -->
	<resultMap id="CategoryMap" type="ses.model.bms.Category">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PARENT_ID" property="parentId" />
		<result column="IS_PUBLISH" property="isPublish" />
		<result column="CLASSIFY_STATUS" property="classify" />
		<result column="PARAM_STATUS" property="paramStatus"/>
		<result column="AUDIT_DATE" property="auditDate" jdbcType="TIMESTAMP"/>
		<result column="AUDIT_ADVISE" property="auditAdvise"/>
	</resultMap>
	
	<!-- 分类参数 -->
	<resultMap id="categoryParams" type="ses.model.bms.CategoryParameter">
		<id column="ID" property="id" />
		<result column="CATEGORY_ID"  property="cateId"/>
		<result column="PARAM_NAME"  property="paramName"/>
		<result column="PARAM_TYPE_ID"  property="paramTypeId"/>
		<result column="IS_DELETED" property="isDeleted"/>
		<result column="PARAM_REQUIRED" property="paramRequired"/>
		<result column="CREATED_AT" property="createdAt"/>
		<result column="UPDATED_AT" property="updatedAt"/>
		<result column="ORG_ID" property="orgId"/>
	</resultMap>
	
	<!-- 基础sql -->
	<sql id="parameter_sql" >
		ID, CATEGORY_ID, PARAM_NAME,PARAM_TYPE_ID,IS_DELETED,PARAM_REQUIRED
	</sql>
	
	<!-- 查询tree -->
	<select id="findCategoryTree" resultMap="CategoryMap">
		SELECT A.ID AS id, A.NAME AS name, A.PARENT_ID AS parentId, A.IS_PUBLISH AS IS_PUBLISH, 
			   A.CLASSIFY_STATUS AS CLASSIFY_STATUS, A.PARAM_STATUS AS PARAM_STATUS,A.AUDIT_DATE AS AUDIT_DATE
			   ,A.AUDIT_ADVISE AS AUDIT_ADVISE
		FROM T_SES_BMS_CATEGORY A, T_SES_BMS_CATEGORY_ORG B
		WHERE A.ID = B.CATEGORY_ID
		   AND A.IS_DELETED = '0'
		   AND B.ORG_ID = #{orgId}
	</select>
	
	<!-- 保存 -->
	<insert id="saveParameter" parameterType="ses.model.bms.CategoryParameter">
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
        	select sys_guid() from dual
    	</selectKey>
		INSERT INTO T_SES_BMS_CATEGORY_PARAMETER (ID,CATEGORY_ID,ORG_ID,PARAM_NAME,PARAM_TYPE_ID,
			 IS_DELETED,CREATED_AT,UPDATED_AT,PARAM_REQUIRED) values 
			(#{id}, #{cateId,jdbcType=VARCHAR},#{orgId,jdbcType=VARCHAR}, #{paramName,jdbcType=VARCHAR},
			#{paramTypeId,jdbcType=VARCHAR},#{isDeleted,jdbcType=SMALLINT},#{createdAt,jdbcType=TIMESTAMP},
			#{updatedAt,jdbcType=TIMESTAMP},#{paramRequired})
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="ses.model.bms.CategoryParameter"> 
		UPDATE T_SES_BMS_CATEGORY_PARAMETER 
		SET UPDATED_AT = #{updatedAt}
		<if test="paramName != null and paramName !=''">
			,PARAM_NAME = #{paramName}
		</if>
		<if test="paramTypeId != null and paramTypeId !=''">
			,PARAM_TYPE_ID = #{paramTypeId}
		</if>
		<if test="isDeleted != null and isDeleted !=''">
			,IS_DELETED = #{isDeleted}
		</if>
		WHERE ID = #{id}
	</update>
	
	
	<!-- 删除 -->
	<delete id="delParameter">
		DELETE FROM T_SES_BMS_CATEGORY_PARAMETER
		where CATEGORY_ID = #{cateId}
	</delete>
	
	<!-- 查询对应的参数 -->
	<select id="getParamsByCateId" resultMap="categoryParams">
		SELECT 
		<include refid="parameter_sql" />
		FROM  T_SES_BMS_CATEGORY_PARAMETER
		WHERE IS_DELETED = 0
		AND CATEGORY_ID = #{cateId} ORDER BY CREATED_AT
	</select>
	
	<!-- 根据主键查询 -->
	<select id="getParameterById" resultMap="categoryParams">
		SELECT 
		<include refid="parameter_sql" />
		FROM T_SES_BMS_CATEGORY_PARAMETER
		WHERE IS_DELETED = 0
		AND ID= #{id}
	</select>
	
	<select id="exsitByCateId" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM T_SES_BMS_CATEGORY_PARAMETER
		WHERE CATEGORY_ID = #{cateId,jdbcType=VARCHAR}
	</select>
	
	<!-- 产品目录参数导出外网 -->
	<select id="exportCategoryParam" resultMap="categoryParams" parameterType="String">
		SELECT
		  TP.ID AS ID,TP.CATEGORY_ID AS CATEGORY_ID,TP.PARAM_NAME AS PARAM_NAME,
		  TP.PARAM_TYPE_ID AS PARAM_TYPE_ID,TP.IS_DELETED AS IS_DELETED,
		  TP.PARAM_REQUIRED AS PARAM_REQUIRED,
		  TP.CREATED_AT AS CREATED_AT,TP.UPDATED_AT AS UPDATED_AT,
		  TP.ORG_ID AS ORG_ID
		  FROM T_SES_BMS_CATEGORY_PARAMETER TP
		  WHERE
		  TO_CHAR(TP.CREATED_AT, 'yyyy-MM-dd hh24:mi:ss') &gt;= #{start,jdbcType=VARCHAR}
		  AND TO_CHAR(TP.CREATED_AT, 'yyyy-MM-dd hh24:mi:ss') &lt;= #{end,jdbcType=VARCHAR}
	</select>
	
	<!-- 产品目录参数导入内网 -->
	<insert id="insertParameter" parameterType="ses.model.bms.CategoryParameter">
		INSERT INTO T_SES_BMS_CATEGORY_PARAMETER (ID,CATEGORY_ID,ORG_ID,PARAM_NAME,PARAM_TYPE_ID,
			 IS_DELETED,CREATED_AT,UPDATED_AT,PARAM_REQUIRED) values 
			(#{id}, #{cateId,jdbcType=VARCHAR},#{orgId,jdbcType=VARCHAR}, #{paramName,jdbcType=VARCHAR},
			#{paramTypeId,jdbcType=VARCHAR},#{isDeleted,jdbcType=SMALLINT},#{createdAt,jdbcType=TIMESTAMP},
			#{updatedAt,jdbcType=TIMESTAMP},#{paramRequired})
	</insert>
	
	<!-- 产品目录参数更新内网 -->
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.bms.CategoryParameter" >
	    update T_SES_BMS_CATEGORY_PARAMETER
	    <set >
	      <if test="cateId != null" >
	        CATEGORY_ID = #{cateId,jdbcType=VARCHAR},
	      </if>
	      <if test="paramName != null" >
	        PARAM_NAME = #{paramName,jdbcType=VARCHAR},
	      </if>
	      <if test="paramTypeId != null" >
	        PARAM_TYPE_ID = #{paramTypeId,jdbcType=VARCHAR},
	      </if>
	      <if test="isDeleted != null" >
	        IS_DELETED = #{isDeleted,jdbcType=SMALLINT},
	      </if>
	      <if test="paramRequired != null" >
	        PARAM_REQUIRED = #{paramRequired,jdbcType=SMALLINT},
	      </if>
	      <if test="createdAt != null" >
	        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updatedAt != null" >
	        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
	      </if>
	      <if test="orgId != null" >
	        ORG_ID = #{orgId,jdbcType=VARCHAR}
	      </if>
	    </set>
	    where ID = #{id,jdbcType=VARCHAR}
	  </update>
	  
</mapper>