<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.CategoryMapper">
  <resultMap id="BaseResultMap" type="ses.model.bms.Category">
    <id column="ID" property="id" />
    <result column="NAME"  property="name" />
    <result column="STATUS"  property="status" />
    <result column="ANCESTRY" property="ancestry" />
    <result column="CREATED_AT"  property="createdAt" />
    <result column="UPDATED_AT"  property="updatedAt" />
    <result column="DESCRIPTION"  property="description" />
    <result column="IS_END" property="isEnd" />
    <result column="CODE"  property="code" />
    <result column="ORDER_NUM"  property="orderNum" />
 	 <result column="IS_DELETED"  property="isDeleted" />
 	 
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, STATUS, ANCESTRY, CREATED_AT, UPDATED_AT, DESCRIPTION, IS_END, 
    CODE, ORDER_NUM,IS_DELETED
  </sql>
  
  <!-- 根据id查询 -->
  <select id="selectByPrimaryKey" parameterType="Object" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_CATEGORY
    where ID = #{id}
  </select>
  
  <!-- 根据pid生成列表 -->
   <select id="listByParent" parameterType="Object" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from T_SES_BMS_CATEGORY
    where  ANCESTRY=#{pid}
  </select>
  
  <!-- 根据pid查询生成树 -->
  <select id="findTreeByPid" parameterType="Object" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from T_SES_BMS_CATEGORY
  where ANCESTRY=#{id}
  </select>
  
  <!-- 根据id删除 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete from T_SES_BMS_CATEGORY
    where ID = #{id}
  </delete>
  
  <!-- 新增 -->
  <insert id="insert" parameterType="ses.model.bms.Category">
    insert into T_SES_BMS_CATEGORY (ID, NAME, STATUS, 
      ANCESTRY, CREATED_AT, UPDATED_AT, 
      ATTCHMENT, DESCRIPTION, IS_END, 
      CODE, ORDER_NUM,IS_DELETED)
    values (#{id}, #{name}, #{status}, 
      #{ancestry}, #{createdAt}, #{updatedAt}, 
     #{description}, #{isEnd}, 
      #{code}, #{orderNum},#{is_deleted})
  </insert>
  
  <insert id="insertSelective" parameterType="ses.model.bms.Category">
  <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="ancestry != null">
        ANCESTRY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="isEnd != null">
        IS_END,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="orderNum != null">
        ORDER_NUM,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="ancestry != null">
        #{ancestry},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
     
      <if test="description != null">
        #{description},
      </if>
      <if test="isEnd != null">
        #{isEnd},
      </if>
      <if test="code != null">
        #{code},
      </if>
      <if test="orderNum != null">
        #{orderNum},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
        </if>
    </trim>
  </insert>
  
  <!-- 根据id修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.bms.Category">
    update T_SES_BMS_CATEGORY
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="ancestry != null">
        ANCESTRY = #{ancestry},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      
      <if test="description != null">
        DESCRIPTION = #{description},
      </if>
      <if test="isEnd != null">
        IS_END = #{isEnd},
      </if>
      <if test="code != null">
        CODE = #{code},
      </if>
      <if test="orderNum != null">
        ORDER_NUM = #{orderNum},
      </if>

      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据id修改 -->
  <update id="updateByPrimaryKey" parameterType="ses.model.bms.Category">
    update T_SES_BMS_CATEGORY
    set NAME = #{name},
      STATUS = #{status},
      ANCESTRY = #{ancestry},
      CREATED_AT = #{createdAt},
      UPDATED_AT = #{updatedAt},
      DESCRIPTION = #{description},
      IS_END = #{isEnd},
      CODE = #{code},
      IS_DELETED=#{isDeleted},
      ORDER_NUM = #{orderNum}
    where ID = #{id}
  </update>
  
  <!-- 根据id修改 名称 -->
 	<update id="updateNameById" parameterType="Object">
 	update T_SES_BMS_CATEGORY
    set NAME = #{name},
 	where ID=#{id}
 	</update>
</mapper>