<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.CategoryAssignedMapper">
	
	<!-- 结果集 -->
	<resultMap id="CategoryAptitudeMap" type="ses.model.bms.CategoryAssigned">
		<id column="ID"  property="id" />
	    <result column="ORG_ID"  property="orgId" />
	    <result column="CATEGORY_ID"  property="cateId" />
	    <result column="CATEGORY_NAME" property="cateName" />
	    <result column="CREATED_AT"  property="createdAt" />
	    <result column="UPDATED_AT"  property="updatedAt" />
	</resultMap>
	
	<!-- 查询基础 -->
	<sql id="Base_Column_List">
		    ID, ORG_ID, CATEGORY_ID, CATEGORY_NAME ,CREATED_AT,UPDATED_AT	    
    </sql>
	
	<!-- 批量插入 -->
	<insert id="batchInsert" parameterType="ses.model.bms.CategoryAssigned">
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
        	select sys_guid() from dual
    	</selectKey>
		INSERT INTO T_SES_BMS_CATEGORY_ORG 
		  (ID, ORG_ID,CATEGORY_ID ,CATEGORY_NAME , CREATED_AT,UPDATED_AT) values 
		  (#{id}, #{orgId,jdbcType=VARCHAR},#{cateId,jdbcType=VARCHAR}, #{cateName,jdbcType=VARCHAR},
      			#{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
	</insert>
	
	<!-- 根据需求部门查询品目名称 -->
	<select id="findCateListByOrg" resultMap="CategoryAptitudeMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM T_SES_BMS_CATEGORY_ORG
		WHERE ORG_ID = #{orgId,jdbcType=VARCHAR}
	</select>
	<!-- 查询所有已存在的品目Id -->
	<select id="findAllocationIds" resultType="java.lang.String">
		SELECT CATEGORY_ID AS cateId
		from T_SES_BMS_CATEGORY_ORG 
		<if test="orgId != null and orgId !=''">
			WHERE ORG_ID = #{orgId}
		</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="batchaDelete">
		DELETE FROM T_SES_BMS_CATEGORY_ORG
		WHERE  1 = 1
		<if test="orgId != null and orgId != ''">
			AND ORG_ID = #{orgId,jdbcType=VARCHAR}
		</if>
		<if test="cateId != null and cateId != ''">
			AND  CATEGORY_ID = #{cateId,jdbcType=VARCHAR}
		</if>
	</delete>
	
</mapper>