<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.DictionaryDataMapper">
  <resultMap id="DictionaryDataMap" type="ses.model.bms.DictionaryData">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="IS_DELETED" property="isDeleted" />
    <result column="KIND" property="kind" />
    <result column="POSITION" property="position" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, CODE, NAME, DESCRIPTION, CREATED_AT, UPDATED_AT, IS_DELETED, KIND, POSITION
  </sql>
  
  <!-- 查询条件 -->
  <sql id="Example_Where_Clause">
    where dd.IS_DELETED = 0 
    <trim suffixOverrides=",">
      <if test="id != null and id != ''">
        and dd.ID = #{id} 
      </if>
      <if test="code != null and code != ''">
        and dd.CODE = #{code} 
      </if>
      <if test="name!= null and name != ''">
        and dd.NAME  like CONCAT(CONCAT('%', #{name}), '%') 
      </if>
      <if test="description != null and description != ''">
        and dd.DESCRIPTION  like CONCAT(CONCAT('%', #{description}), '%') 
      </if>
      <if test="createdAt != null">
        and dd.CREATED_AT = #{createdAt} 
      </if>
      <if test="updatedAt != null">
        and dd.UPDATED_AT = #{updatedAt} 
      </if>
      <if test="kind != null">
        and dd.KIND = #{kind} 
      </if>
      <if test="position != null">
        and dd.POSITION = #{position} 
      </if>
    </trim>
  </sql>  
  <sql id="Example_Where_Clause_NotLevel">
    where dd.IS_DELETED = 0
    <trim suffixOverrides=",">
      <if test="id != null and id != ''">
        and dd.ID = #{id}
      </if>
      <if test="code != null and code != ''">
        and dd.CODE &lt;&gt; #{code}
      </if>
      <if test="name!= null and name != ''">
        and dd.NAME  like CONCAT(CONCAT('%', #{name}), '%')
      </if>
      <if test="description != null and description != ''">
        and dd.DESCRIPTION  like CONCAT(CONCAT('%', #{description}), '%')
      </if>
      <if test="createdAt != null">
        and dd.CREATED_AT = #{createdAt}
      </if>
      <if test="updatedAt != null">
        and dd.UPDATED_AT = #{updatedAt}
      </if>
      <if test="kind != null">
        and dd.KIND = #{kind}
      </if>
      <if test="position != null">
        and dd.POSITION = #{position}
      </if>
    </trim>
  </sql>

  <!-- 1.根据条件查询 -->
  <select id="findList" parameterType="java.lang.String" resultMap="DictionaryDataMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_DICTIONARY_DATA dd
    <include refid="Example_Where_Clause"/>
    ORDER BY dd.POSITION
  </select>
  <select id="findListByNotDefinedLevel" parameterType="java.lang.String" resultMap="DictionaryDataMap">
    select
    <include refid="Base_Column_List" />
    from T_SES_BMS_DICTIONARY_DATA dd
    <include refid="Example_Where_Clause_NotLevel"/>
    ORDER BY dd.POSITION
  </select>

  <!-- 2.根据id删除 -->
  <delete id="delete" parameterType="java.lang.String">
    delete from T_SES_BMS_DICTIONARY_DATA dd
    where dd.ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 3.插入数据 -->
  <insert id="insert" parameterType="ses.model.bms.DictionaryData">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_DICTIONARY_DATA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="name != null and name != ''">
        NAME,
      </if>
      <if test="description != null and description != ''">
        DESCRIPTION,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="kind != null">
       KIND, 
      </if>
      <if test="position != null">
       POSITION, 
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null and code != ''">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="kind != null">
        #{kind}, 
      </if>
      <if test="position != null">
        #{position}, 
      </if>
    </trim>
  </insert>
  
  <!-- 4.修改数据 -->
  <update id="update" parameterType="ses.model.bms.DictionaryData">
    update T_SES_BMS_DICTIONARY_DATA
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="kind != null">
      	KIND = #{kind},
      </if>
      <if test="position != null">
      	POSITION = #{position},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 5.根据id查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="DictionaryDataMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_DICTIONARY_DATA 
    where IS_DELETED = 0 
    and ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 5.根据code查询-->
  <select id="selectByPrimaryCode" parameterType="java.lang.String" resultMap="DictionaryDataMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_DICTIONARY_DATA 
    where IS_DELETED = 0 
    and CODE = #{code,jdbcType=VARCHAR}
  </select>
  
  <!-- 6.根据code查询去除当前id的数据 -->
  <select id="findRepeat" parameterType="java.lang.String" resultMap="DictionaryDataMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_DICTIONARY_DATA 
    where IS_DELETED = 0 
    and ID != #{id,jdbcType=VARCHAR}
    and CODE =#{code}
  </select>
  <!-- 按照kind查询 -->
   <select id="findByKind" resultMap="DictionaryDataMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM T_SES_BMS_DICTIONARY_DATA 
    WHERE IS_DELETED = 0 
    AND KIND = #{kind} order by code
  </select>
  
<!--   <select id="queryAudit" parameterType="ses.model.bms.DictionaryData" resultMap="DictionaryDataMap" >
  select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_DICTIONARY_DATA 
   where  kind='4' order by code
  </select> -->
  
  <select id="findByMap" parameterType="java.util.Map" resultMap="DictionaryDataMap">
  	select
  		<include refid="Base_Column_List" />
  	from
  		T_SES_BMS_DICTIONARY_DATA t1
  	<where>
  		<if test="strs != null">
  			<foreach collection="strs" item="str" open="and t1.CODE in(" close=")" separator=",">
  				#{str}
  			</foreach>
  		</if>
  		<if test="isDeleted != null">
  			and t1.IS_DELETED = #{isDeleted}
  		</if>
  		<if test="kind != null">
  			and t1.KIND = #{kind}
  		</if>
  	</where>
  </select>
  
    <select id="queryByName" resultMap="DictionaryDataMap">
  	select
  		<include refid="Base_Column_List" />
  	from
  		T_SES_BMS_DICTIONARY_DATA
  		where NAME=#{name}
  
  </select>
  
  <!-- 根据包上的标示查询对应的流程 -->
  <select id="viewFlows" parameterType="java.util.Map" resultMap="DictionaryDataMap">
     select * from  T_SES_BMS_DICTIONARY_DATA where  IS_DELETED = 0
     <if test="lt != null and lt != ''">
      AND POSITION 	<![CDATA[ <= ]]> (select POSITION from T_SES_BMS_DICTIONARY_DATA 
    	where IS_DELETED = 0 and CODE = #{lt,jdbcType=VARCHAR})
     </if>
     <if test="gt != null and gt != ''">
      AND POSITION	<![CDATA[ >= ]]> (select POSITION from T_SES_BMS_DICTIONARY_DATA 
    	where IS_DELETED = 0 and CODE = #{gt,jdbcType=VARCHAR})
     </if>
      order by POSITION ASC
  </select>
  
  
</mapper>