<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.DownloadUserMapper">
  <resultMap id="DownloadUserMap" type="ses.model.bms.DownloadUser">
    <id column="ID" property="id" />
    <result column="ARTICLE_ID" property="articleId" />
    <result column="USER_ID" property="userId" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="IS_DELETED" property="isDeleted" />
  </resultMap>
  
  <sql id="DownloadUser_Column_List">
    ID, ARTICLE_ID, USER_ID, CREATED_AT, UPDATED_AT,IS_DELETED
  </sql>
  
  <!-- 根据id查询下载人信息 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="DownloadUserMap">
    select 
    <include refid="DownloadUser_Column_List" />
    from T_SES_BMS_DOWNLOAD_INFO
    where ID = #{id}
  </select>
  
  <!-- 根据id删除下载人信息 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete from T_SES_BMS_DOWNLOAD_INFO
    where ID = #{id}
  </delete>
  
  <!-- 新增下载人信息 -->
  <insert id="insert" parameterType="ses.model.bms.DownloadUser">
    insert into T_SES_BMS_DOWNLOAD_INFO (ID, ARTICLE_ID, USER_ID, 
      CREATED_AT, UPDATED_AT,IS_DELETED)
    values (#{id}, #{articleId}, #{userId}, 
      #{createdAt}, #{updatedAt},#{isDeleted})
  </insert>
  
  <!-- 根据条件新增 -->
  <insert id="insertSelective" parameterType="ses.model.bms.DownloadUser">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_DOWNLOAD_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="articleId != null">
        ARTICLE_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="articleId != null">
        #{articleId},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
  </insert>
  
  <!-- 根据条件修改下载人信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.bms.DownloadUser">
    update T_SES_BMS_DOWNLOAD_INFO
    <set>
      <if test="articleId != null">
        ARTICLE_ID = #{articleId},
      </if>
      <if test="userId != null">
        USER_ID = #{userId},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="isDeleted != null">
        IS_DELETED  = #{isDeleted},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据id修改下载人信息 -->
  <update id="updateByPrimaryKey" parameterType="ses.model.bms.DownloadUser">
    update T_SES_BMS_DOWNLOAD_INFO
    set ARTICLE_ID = #{articleId},
      USER_ID = #{userId},
      CREATED_AT = #{createdAt},
      UPDATED_AT = #{updatedAt},
      IS_DELETED = #{isDeleted}
    where ID = #{id}
  </update>
</mapper>