<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.PreMenuMapper">
  <resultMap id="MenuBaseMap" type="ses.model.bms.PreMenu">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MENU_TYPE" jdbcType="VARCHAR" property="type" />
    <result column="IS_DELETED"  property="isDeleted" />
    <result column="STATUS" property="status" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="POSITION" property="position" />
    <result column="MENU_LEVEL"  property="menulevel" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="KIND"  property="kind" />
    <result column="ICON" property="icon" />
    <result column="PERMISSION_CODE" jdbcType="VARCHAR" property="permissionCode" />
    <!--查询上级菜单   -->
	<association column="PARENT_ID"  property="parentId" select="selectByPrimaryKey" /> 
  </resultMap>
  
  <!-- 所有列 -->
  <sql id="Base_Column_List">
    ID, NAME, MENU_TYPE, IS_DELETED, STATUS, URL, CREATED_AT, POSITION, MENU_LEVEL, PARENT_ID, 
    UPDATED_AT, KIND, ICON, PERMISSION_CODE
  </sql>
  
   <!--  查询条件 -->
  <sql id="Example_Where_Clause">
    where IS_DELETED=0
    <trim suffixOverrides=",">
      <if test="id!= null and id !=''">
        and ID = #{id}
      </if>
      <if test="name != null and name !=''">
        and NAME = #{name}
      </if>
      <if test="type != null and type !=''">
        and MENU_TYPE = #{type}
      </if>
      <if test="status != null">
        and STATUS = #{status}
      </if>
      <if test="url != null and url !=''">
        and URL = #{url}
      </if>
      <if test="createdAt != null">
        and CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}
      </if>
      <if test="position != null and position != ''">
        and POSITION = #{position}
      </if>
      <if test="menulevel != null">
        and MENU_LEVEL = #{menulevel}
      </if>
      <if test="parentId != null">
        and PARENT_ID = #{parentId.id}
      </if>
      <if test="updatedAt != null">
        and UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
      </if>
      <if test="kind != null">
        and KIND = #{kind}
      </if>
      <if test="icon != null and icon != ''">
        and ICON = #{icon}
      </if>
    </trim>
  </sql>
  
  <!-- 1.根据id查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="MenuBaseMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_PERMISSION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 2.根据id进行删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_BMS_PERMISSION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 3.插入数据 -->
  <insert id="insert" parameterType="ses.model.bms.PreMenu">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_PERMISSION (ID, NAME, MENU_TYPE, 
      IS_DELETED, STATUS, URL, 
      CREATED_AT, POSITION, MENU_LEVEL, 
      PARENT_ID, UPDATED_AT, KIND, ICON
      )
    values (#{id}, #{name}, #{type}, 
      #{isDeleted}, #{status}, #{url,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{position}, #{menulevel}, 
      #{parentId.id}, #{updatedAt,jdbcType=TIMESTAMP}, #{kind}, #{icon}
      )
  </insert>
  
  <!-- 4.插入不为空数据 -->
  <insert id="insertSelective" parameterType="ses.model.bms.PreMenu">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="type != null">
        MENU_TYPE,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="menulevel != null">
        MENU_LEVEL,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="kind != null">
        KIND,
      </if>
      <if test="icon != null">
        ICON,
      </if>
      <if test="permissionCode != null">
        PERMISSION_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        #{position},
      </if>
      <if test="menulevel != null">
        #{menulevel},
      </if>
      <if test="parentId != null">
        #{parentId.id,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="kind != null">
        #{kind},
      </if>
      <if test="icon != null">
        #{icon},
      </if>
       <if test="permissionCode != null">
        #{permissionCode,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  
  <!-- 5.更新不为空数据 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.bms.PreMenu">
    update T_SES_BMS_PERMISSION
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        MENU_TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        POSITION = #{position},
      </if>
      <if test="menulevel != null">
        MENU_LEVEL = #{menulevel},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId.id,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="kind != null">
        KIND = #{kind},
      </if>
      <if test="icon != null">
        ICON = #{icon},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 6.更新数据 -->
  <update id="updateByPrimaryKey" parameterType="ses.model.bms.PreMenu">
    update T_SES_BMS_PERMISSION
    set NAME = #{name,jdbcType=VARCHAR},
      MENU_TYPE = #{type,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted},
      STATUS = #{status},
      URL = #{url},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      POSITION = #{position},
      MENU_LEVEL = #{menulevel},
      PARENT_ID = #{parentId.id},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      KIND = #{kind},
      ICON = #{icon}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 7.条件查询 -->  
  <select id="find" parameterType="Object" resultMap="MenuBaseMap">
    select
    <include refid="Base_Column_List" />
    from T_SES_BMS_PERMISSION
    <include refid="Example_Where_Clause" />
    ORDER BY MENU_LEVEL,POSITION ASC
  </select>
  
  <!-- 8.根据角色id数组获取该角色的菜单id -->
  <select id="findByRids" parameterType="Object" resultType="String">
    SELECT
		distinct PERMENU_ID
	FROM
		T_SES_BMS_ROLE_PERMISSION
	WHERE
		ROLE_ID in
	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
	 	#{item}  
	</foreach>
  </select>
  
  <!-- 9.根据用户id数组获取该用户的菜单id -->
  <select id="findByUids" parameterType="Object" resultType="String">
    SELECT
		distinct PERMENU_ID
	FROM
		T_SES_BMS_USER_PERMISSION
	WHERE
		USER_ID in
	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
	 	#{item}  
	</foreach>
  </select>
  
  <select id="getPermisssinCode" parameterType="java.lang.String" resultType="java.lang.String">
  	SELECT 
  		MAX(PERMISSION_CODE)
	FROM 
		T_SES_BMS_PERMISSION
	WHERE 
		PARENT_ID = #{parentId,jdbcType=VARCHAR}
	AND 
		IS_DELETED = 0	
  </select>
  
  <!-- 获取用户权限增减量 -->
  <select id="findUserPre" parameterType="Object" resultType="String">
    SELECT
		distinct PERMENU_ID
	FROM
		T_SES_BMS_USER_PERMISSION
	WHERE
		USER_ID = #{user.id,jdbcType=VARCHAR}
		<if test="kind != null">
		AND KIND = #{kind}
		</if>
  </select>
  
  <select id="findByMids" parameterType="Object" resultMap="MenuBaseMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_PERMISSION 
    where
    	IS_DELETED = 0
	AND  
    	ID in
    <foreach collection="list" item="item" index="index"
        open="(" close=")" separator=",">
        #{item}
    </foreach>
    ORDER BY MENU_LEVEL,POSITION ASC
  </select>
</mapper>