<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.QualificationMapper">
	
	<!-- 结果集 -->
	<resultMap id="qualificationMap" type="ses.model.bms.Qualification">
		<id column="ID"  property="id" />
	    <result column="NAME"  property="name" />
	    <result column="TYPE" jdbcType="NUMERIC"  property="type" />
	    <result column="IS_DELETED"  jdbcType="NUMERIC"  property="isDeleted" />
	    <result column="CREATED_AT"  property="createdAt" jdbcType="TIMESTAMP" />
	    <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<!-- 查询基础 -->
	<sql id="BASE_COLUMN_SQL">
		    ID, NAME, TYPE, IS_DELETED ,CREATED_AT,UPDATED_AT	    
    </sql>
    
    <!-- 查询 -->
    <select id="findList" resultMap="qualificationMap">
      SELECT 
      <include refid="BASE_COLUMN_SQL" />
      FROM T_SES_BMS_QUALIFICATION
      WHERE IS_DELETED = 0
      <if test="name != null and name != ''">
        AND NAME like CONCAT(CONCAT('%', #{name}), '%')
      </if>
      <if test="type != null">
        AND TYPE = #{type,jdbcType=NUMERIC}
      </if>
      ORDER BY CREATED_AT DESC
    </select>
	
	<!-- 保存 -->
	<insert id="save" parameterType="ses.model.bms.Qualification" >
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
        	select sys_guid() from dual
    	</selectKey>
		INSERT INTO T_SES_BMS_QUALIFICATION 
		  (ID, NAME,TYPE ,IS_DELETED , CREATED_AT) values 
		  (#{id}, #{name,jdbcType=VARCHAR},#{type,jdbcType=NUMERIC}, #{isDeleted,jdbcType=NUMERIC},
      	   #{createdAt,jdbcType=TIMESTAMP})
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="ses.model.bms.Qualification">
		UPDATE  T_SES_BMS_QUALIFICATION
		<set>
			<if test="name != null and name != ''">
				 NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				 TYPE = #{type,jdbcType=NUMERIC},
			</if>
			<if test="isDeleted != null">
				 IS_DELETED = #{isDeleted,jdbcType=NUMERIC},
			</if>
			<if test="updatedAt != null">
				 UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</set>
			WHERE  ID = #{id,jdbcType=VARCHAR}
	</update >
	
	<!-- 根据Id查询 -->
	<select id="getQualification" parameterType="java.lang.String" resultMap="qualificationMap" flushCache="true">
	  SELECT
	  <include refid="BASE_COLUMN_SQL"/>
	  FROM T_SES_BMS_QUALIFICATION
	  WHERE ID = #{id} and IS_DELETED=0
	</select>
	
</mapper>