<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.RoleMapper">
  <resultMap id="RoleBaseMap" type="ses.model.bms.Role">
    <id column="ID"  property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="IS_DELETED" property="isDeleted" />
    <result column="STATUS" property="status" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="KIND" jdbcType="VARCHAR" property="kind" />
    <result column="POSITION" property="position" />
  </resultMap>
  
  <resultMap type="ses.model.bms.Role" id="RoleResultMap" extends="RoleBaseMap">  
    <collection property="users" ofType="ses.model.bms.User">  
        <result column="userid"  property="id" />
	    <result column="uloginName"  property="loginName" />
	    <result column="upassword"  property="password" />
	    <result column="uCreatedAt"  property="createdAt" jdbcType="TIMESTAMP"/>
	    <result column="uIsDeleted"  property="isDeleted" />
	    <result column="urelName"  property="relName" />
	    <result column="uUpdatedAt"  property="updatedAt" jdbcType="TIMESTAMP"/>
	    <result column="umobile"  property="mobile" />
	    <result column="ugender"  property="gender" />
	    <result column="utelephone"  property="telephone" />
	    <result column="uduties"  property="duties" />
	    <result column="utypeName"  property="typeName" />
	    <result column="utypeId"  property="typeId" />
	    <result column="uaddress"  property="address" />
	    <result column="uemail"  property="email" />
	    <result column="urandomCode"  property="randomCode" />
	    <result column="uorgName"  property="orgName" />
	    <result column="upublishType"  property="publishType" />
	    <result column="uidNumber"  property="idNumber" />
	    <result column="uofficerCertNo"  property="officerCertNo" />
	    <result column="unetType"  property="netType" />
	    
	  	<!-- 查询机构 -->  
    	<association column="org"  property="org" select="ses.dao.oms.OrgnizationMapper.findOrgnizationById" />
	    <!-- 查询创建人 -->
	    <association column="creater"  property="user" select="ses.dao.bms.UserMapper.selectByPrimaryKey" />   
    </collection> 
    <collection property="preMenus" ofType="ses.model.bms.PreMenu">  
        <result column="mid" property="id" />
	    <result column="mname" property="name" />
	    <result column="mtype" property="type" />
	    <result column="misDeleted" property="isDeleted" />
	    <result column="mstatus" property="status" />
	    <result column="murl" property="url" />
	    <result column="mcreatedAt" jdbcType="TIMESTAMP" property="createdAt" />
	    <result column="mupdatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
	    <result column="mposition" property="position" />
	    <result column="menulevel" property="menulevel" />
	    <result column="mkind" property="kind" />
		<!--查询上级菜单   -->
	    <association column="parentId"  property="parentId" select="ses.dao.bms.PreMenuMapper.selectByPrimaryKey" />  
    </collection>
  </resultMap> 
  
  <!-- 所有列 -->
  <sql id="Base_Column_List">
    ID, NAME, CREATED_AT, DESCRIPTION, IS_DELETED, UPDATED_AT, STATUS, CODE, KIND, POSITION
  </sql>
 
  <!-- 查询条件 -->
  <sql id="Example_Where_Clause">
    where IS_DELETED=0
    AND STATUS = 0
    <trim suffixOverrides=",">
      <if test="id != null and id != ''">
        and ID = #{id}
      </if>
      <if test="name != null and name != ''">
        and Name = #{name}
      </if>
      <if test="createdAt != null">
        and CREATED_AT = #{createdAt}
      </if>
      <if test="updatedAt != null">
        and UPDATED_AT = #{updatedAt}
      </if>
      <if test="description != null and description != ''">
        and DESCRIPTION like concat(concat('%', '${description}'), '%')
      </if>
      <if test="code != null and code != ''">
        and CODE = #{code}
      </if>
      <if test="kind != null and kind !=''">
        and KIND = #{kind}
      </if>
      <if test="status != null and status !=''">
        and STATUS = #{status}
      </if>
      <if test="position != null">
        and POSITION = #{position}
      </if>
    </trim>
  </sql>
  
  <!-- 1.根据id查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="RoleBaseMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_ROLE
    where ID = #{id}
  </select>
  
  <!-- 2.根据id删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_BMS_ROLE
    where ID = #{id}
  </delete>
  
  <!-- 3.插入数据 -->
  <insert id="insert" parameterType="ses.model.bms.Role">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_ROLE (ID, NAME, CREATED_AT, 
      DESCRIPTION, IS_DELETED, UPDATED_AT, STATUS, CODE, KIND, POSITION)
    values (#{id}, #{name}, #{createdAt,jdbcType=TIMESTAMP}, #{description}, #{isDeleted}, #{updatedAt,jdbcType=TIMESTAMP}, #{status}, #{code}, #{kind}, #{position})
  </insert>
  
  <!-- 4.插入不为空数据 -->
  <insert id="insertSelective" parameterType="ses.model.bms.Role">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        ID,
      </if>
      <if test="name != null and name != ''">
        NAME,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="description != null and description !=''">
        DESCRIPTION,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="code != null and code !=''">
        CODE,
      </if>
      <if test="kind != null and kind !=''">
        KIND,
      </if>
      <if test="position != null">
        POSITION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        #{id},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null and description != ''">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="code != null and code != ''">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="kind != null and kind != ''">
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position},
      </if>
    </trim>
  </insert>
  
  <!-- 5.更新不为空数据 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.bms.Role">
    update T_SES_BMS_ROLE
    <set>
      <if test="name != null and name != ''">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null and description != ''">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="code != null and code != ''">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="kind != null and kind != ''">
        KIND = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITION = #{position},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 6.更新数据 -->
  <update id="updateByPrimaryKey" parameterType="ses.model.bms.Role">
    update T_SES_BMS_ROLE
    set NAME = #{name},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      STATUS = #{status},
      CODE = #{code,jdbcType=VARCHAR},
      KIND = #{kind,jdbcType=VARCHAR},
      POSITION = #{position}
    where ID = #{id}
  </update>
  
  <!-- 7.根据不为空的条件查询列表（不带关联数据） -->
  <select id="find" resultMap="RoleBaseMap" parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from T_SES_BMS_ROLE r
    <include refid="Example_Where_Clause"/>
    ORDER BY r.POSITION ASC
  </select>
  
  <!-- 8.根据角色条件查询角色信息（带出关联信息） -->  
  <select id="selectRole" parameterType="Object" resultMap="RoleResultMap"> 
      select 
	        r. ID AS ID,
			r. NAME AS NAME,
			r.CREATED_AT AS CREATED_AT,
			r.DESCRIPTION AS DESCRIPTION,
			r.IS_DELETED AS IS_DELETED,
			r.UPDATED_AT AS UPDATED_AT,
			r.STATUS AS STATUS,
			r.CODE AS CODE,
			r.KIND AS KIND,
			r.POSITION AS POSITION,
			U .ID AS userid,
			U .LOGIN_NAME AS uloginName,
			U .PASSWORD AS upassword,
			U .CREATED_AT AS uCreatedAt,
			U .IS_DELETED AS uIsDeleted,
			U .REL_NAME AS urelName,
			U .UPDATED_AT AS uUpdatedAt,
			U .MOBILE AS umobile,
			U .GENDER AS ugender,
			U .TELEPHONE AS utelephone,
			U .DUTIES AS uduties,
			U .TYPE_NAME AS utypeName,
			U .TYPE_ID AS utypeId,
			U .ADDRESS AS uaddress,
			U .EMAIL AS uemail,
			U .ORG_ID AS org,
			U .USER_ID AS creater,
			U .RANDOM_CODE AS urandomCode,
			U .ORG_NAME AS uorgName,
			U .PUBLISH_TYPE AS upublishType,
			U .ID_NUMBER AS uidNumber,
			U .OFFICER_CERT_NO AS uofficerCertNo,
			U .NET_TYPE AS unetType,
			pm. ID AS mid,
			pm. NAME AS mname,
			pm.MENU_TYPE AS mtype,
			pm.IS_DELETED AS misDeleted,
			pm.STATUS AS mstatus,
			pm.URL AS murl,
			pm.CREATED_AT AS mcreatedAt,
			pm.UPDATED_AT AS mupdatedAt,
			pm.POSITION AS mposition,
			pm.MENU_LEVEL AS menulevel,
			pm.PARENT_ID AS parentId,
			pm.KIND AS kind
		FROM
			T_SES_BMS_ROLE r
		LEFT JOIN T_SES_BMS_ROLE_PERMISSION rp ON rp.ROLE_ID = r. ID
		LEFT JOIN T_SES_BMS_PERMISSION pm ON pm. ID = rp.PERMENU_ID
		LEFT JOIN T_SES_BMS_USER_ROLE ur ON r. ID = ur.ROLE_ID
		LEFT JOIN T_SES_BMS_USER U ON ur.USER_ID = U . ID
		WHERE
			r.IS_DELETED = 0 
	       <if test="id!= null and id != ''"> 
	       and r.ID=#{id}  
	       </if>  
	    ORDER BY r.POSITION ASC
   </select>
   
   <!-- 9.删除角色与角色内成员之间的对应关系 -->  
   <delete id="deleteRoelUser" parameterType="Object">  
        delete from T_SES_BMS_USER_ROLE  
        <where>  
            <if test="userId != null">"USER_ID" = #{userId.id}</if>  
            <if test="roleId != null">and "ROLE_ID" = #{roleId.id}</if>  
        </where>  
    </delete>  
  
  	<!-- 10.保存权限和角色之间的关系信息 -->  
    <insert id="saveRelativity" parameterType="Object">  
       insert into T_SES_BMS_ROLE_PERMISSION("PERMENU_ID","ROLE_ID")  
       values(#{preMenu.id},#{role.id})  
    </insert>
    
    <!-- 11.删除角色与权限之间的对应关系 -->  
    <delete id="deleteRoelMenu" parameterType="Object">  
        delete from T_SES_BMS_ROLE_PERMISSION  
        <where>  
            <if test="preMenu != null">"PERMENU_ID" = #{preMenu.id}</if>  
            <if test="role != null">and "ROLE_ID" = #{role.id}</if>  
        </where>  
    </delete>
    
    <!-- 12.根据userId查询角色是否为超级管理员(彭仲俊)--> 
    <select id="checkRolesByUserId" parameterType="java.util.Map" resultType="Object">
	    SELECT count(1) FROM T_SES_BMS_ROLE 
	    WHERE IS_DELETED = 0 
	    AND ID IN(
	       SELECT ROLE_ID from T_SES_BMS_USER_ROLE 
	       WHERE USER_ID = #{userId}
	    )
	    AND CODE = #{code}
    </select>
    
    <!-- 13.根据用户查询没有被禁用的角色 -->
    <select id="selectByUserId" parameterType="java.lang.String" resultMap="RoleBaseMap">
	    SELECT 
	    	r. ID AS ID,
			r. NAME AS NAME,
			r.CREATED_AT AS CREATED_AT,
			r.DESCRIPTION AS DESCRIPTION,
			r.IS_DELETED AS IS_DELETED,
			r.UPDATED_AT AS UPDATED_AT,
			r.STATUS AS STATUS,
			r.CODE AS CODE,
			r.KIND AS KIND,
			r.POSITION AS POSITION
		FROM
			T_SES_BMS_ROLE r
		LEFT JOIN T_SES_BMS_USER_ROLE ur ON r. ID = ur.ROLE_ID
		LEFT JOIN T_SES_BMS_USER U ON ur.USER_ID = U . ID
		WHERE
			r.IS_DELETED = 0
			AND r.STATUS = 0
		AND U.ID = #{userId}
    </select>
    
    <!-- 14.根据用户和角色编码查询没有被禁用的角色 -->
    <select id="selectByUserIdCode" parameterType="java.util.Map" resultMap="RoleBaseMap">
	    SELECT 
	    	r. ID AS ID,
			r. NAME AS NAME,
			r.CREATED_AT AS CREATED_AT,
			r.DESCRIPTION AS DESCRIPTION,
			r.IS_DELETED AS IS_DELETED,
			r.UPDATED_AT AS UPDATED_AT,
			r.STATUS AS STATUS,
			r.CODE AS CODE,
			r.KIND AS KIND,
			r.POSITION AS POSITION
		FROM
			T_SES_BMS_ROLE r
		LEFT JOIN T_SES_BMS_USER_ROLE ur ON r. ID = ur.ROLE_ID
		LEFT JOIN T_SES_BMS_USER u ON ur.USER_ID = u.ID
		WHERE
			r.IS_DELETED = 0
		AND r.STATUS = 0
		<if test="userId != null and userId != ''">
		   AND u.ID = #{userId} 
		</if>
		<if test="code != null and code != ''">
		   AND r.code = #{code}
		</if>
    </select>
    
    <!--15. 根据序号查询 -->
    <select id="findByPosition" parameterType="java.util.Map" resultMap="RoleBaseMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_ROLE
    where 1=1
    <if test="type == 1 and position != null">
    AND	POSITION &gt;= #{position}
    </if>
    <if test="type == 2 and position != null and oldPosition != null">
    AND	POSITION &gt; #{oldPosition}
    AND	POSITION &lt;= #{position}
    </if>
    <if test="type == 3 and position != null and oldPosition != null">
    AND	POSITION &gt;= #{position}
    AND	POSITION &lt; #{oldPosition}
    </if>
  </select>
  
  <!--16 查询拥有该菜单权限的角色 -->
  <select id="getByMid" resultType="java.lang.String"  parameterType="Object">
    select
    ROLE_ID
    from T_SES_BMS_ROLE_PERMISSION  
    WHERE
    PERMENU_ID = #{mid}
  </select>
  
  <!-- 角色id查询用户 -->
  <select id="getByRoleId" resultType="java.lang.String"  parameterType="Object">
    select
    USER_ID
    from T_SES_BMS_USER_ROLE  
    WHERE
    ROLE_ID = #{roleId}
  </select>
  
  <!-- 菜单id查询用户 -->
  <select id="getByPermenuId" resultType="java.lang.String"  parameterType="Object">
   SELECT 
   	USER_ID 
   FROM 
   	T_SES_BMS_USER_PERMISSION
	 WHERE PERMENU_ID = #{permenuId}
  </select>
  
  <!-- 用户id查询减去的菜单 -->
  <select id="getByUserId" resultType="java.lang.String"  parameterType="Object">
   SELECT 
   	USER_ID 
   FROM 
   	T_SES_BMS_USER_PERMISSION
	 WHERE USER_ID = #{userId} AND KIND = 1
  </select>
  <!-- 用户id查询增加的菜单 -->
  <select id="getByKind" resultType="java.lang.String"  parameterType="Object">
   SELECT 
   	USER_ID 
   FROM 
   	T_SES_BMS_USER_PERMISSION
	 WHERE USER_ID = #{userId} AND KIND = 0
  </select>

</mapper>