<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.TempletMapper">
  <resultMap id="TempletResultMap" type="ses.model.bms.Templet">
    <id column="ID" property="id" />
    <result column="TEM_TYPE" property="temType" />
    <result column="NAME" property="name" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="IS_DELETED" property="isDeleted" />
  </resultMap>
  <resultMap extends="TempletResultMap" id="ResultMapWithBLOBs" type="ses.model.bms.Templet">
    <result column="CONTENT" jdbcType="CLOB" property="content" />
  </resultMap>
  <!-- 表中所有列 -->
  <sql id="Base_Column_List">
    ID, TEM_TYPE, NAME, CREATED_AT, UPDATED_AT, IS_DELETED
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  
  
 <!-- 1.新增记录 -->
  <insert id="insertSelective" parameterType="ses.model.bms.Templet">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_TEMPLET
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="temType != null">
        TEM_TYPE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="temType != null">
        #{temType},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="content != null">
        #{content},
      </if>
    </trim>
  </insert>
  
  <!-- 2.只修改不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.bms.Templet">
    update T_SES_BMS_TEMPLET
    <set>
      <if test="temType != null">
        TEM_TYPE = #{temType},
      </if>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="content != null">
        CONTENT = #{content},
      </if>
    </set>
    where ID = #{id}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ses.model.bms.Templet">
    update T_SES_BMS_TEMPLET
    set TEM_TYPE = #{temType,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.bms.Templet">
    update T_SES_BMS_TEMPLET
    set TEM_TYPE = #{temType,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
   <!-- 4.根据id进行删除 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete from T_SES_BMS_TEMPLET
    where ID = #{id}
  </delete>
  
  
  <!-- 5.根据id查询 -->
  <select id="selectByPrimaryKey" parameterType="Object" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_SES_BMS_TEMPLET
    where ID = #{id}
  </select>
  
 
  
  <!-- 7.列表总数 -->
  <select id="queryByCount" resultType="Object" parameterType="Object">
    select count(1) from T_SES_BMS_TEMPLET
    <include refid="Base_Column_List" />
  </select>
  
  <!-- 8.查询列表 -->
  <select id="queryByList" resultMap="TempletResultMap" parameterType="Object">
    select
    *
    from T_SES_BMS_Templet where IS_DELETED !=1 
    ORDER BY CREATED_AT DESC
  </select>
  

  <!-- 9.根据模板类型查询 -->
   <select id="selectByType" parameterType="Object" resultMap="TempletResultMap">
    select 
    *
    from T_SES_BMS_Templet where
    <if test="temType != null and temType !=''">
        TEM_TYPE=#{temType} AND 
    </if>
    <if test="name != null and name != ''">
        NAME LIKE CONCAT(CONCAT('%', #{name}), '%')  AND
     </if> 
    IS_DELETED !=1 
    ORDER BY CREATED_AT DESC
  </select>
  
  <select id="searchByTemType" parameterType="java.lang.String" resultType="ses.model.bms.Templet">
  	select
  	*
  	from T_SES_BMS_Templet where 1=1
  	<if test="_parameter != null" >  
        and TEM_TYPE = #{_parameter}  
    </if>
  </select>
</mapper>