<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.bms.UserTaskMapper">
  <resultMap id="UserTask_Map" type="ses.model.bms.UserTask">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
    <result column="END_DATE" jdbcType="TIMESTAMP" property="endDate" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="LEV" jdbcType="VARCHAR" property="level" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
     <result column="DETAIL" jdbcType="VARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CONTENT, START_DATE, END_DATE, STATUS, CREATED_AT, UPDATED_AT, MEMO, LEV, USER_ID,DETAIL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="UserTask_Map">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_USER_TASK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_BMS_USER_TASK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.bms.UserTask">
    insert into T_SES_BMS_USER_TASK (ID, CONTENT, START_DATE, 
      END_DATE, STATUS, CREATED_AT, 
      UPDATED_AT, MEMO, LEV, USER_ID,DETAIL
      )
    values (#{id}, #{content}, #{startDate}, 
      #{endDate}, #{status}, #{createdAt}, 
      #{updatedAt}, #{memo}, #{level}, #{userId}, #{detail}
      )
  </insert>
  <insert id="insertSelective" parameterType="ses.model.bms.UserTask">
    insert into T_SES_BMS_USER_TASK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="level != null">
        LEV,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="detail != null">
        DETAIL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.bms.UserTask">
    update T_SES_BMS_USER_TASK
    <set>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        LEV = #{level,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        DETAIL = #{detail,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.bms.UserTask">
    update T_SES_BMS_USER_TASK
    set CONTENT = #{content,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      MEMO = #{memo,jdbcType=VARCHAR},
      LEV = #{level,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      DETAIL = #{detail,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="getByMonth" parameterType="Map" resultMap="UserTask_Map">
 select
  <include refid="Base_Column_List" />
  from T_SES_BMS_USER_TASK where 
  <![CDATA[
    to_char(START_DATE,'yyyy-mm')=#{date}
    ]]>
   <if test="userId!=null">
   and USER_ID = #{userId}
   </if>
 
  </select>
  
</mapper>