<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.AfterSaleSerMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.AfterSaleSer">
    	<id column="ID" property="id"/>
	    <result column="ADDRESS" property="address"/>
	    <result column="CONTACT_NAME" property="contactName"/>
	    <result column="MOBILE" property="mobile"/>
	    <result column="IS_AFTER_SUPPORT" property="isAfterSupport"/>
	    <result column="CREATED_AT" property="createdAt"/>
	    <result column="UPDATED_AT" property="updateAt"/>
	    <result column="IS_DELETED" property="isDeleted"/>
	    <result column="REQUIRED_ID" property="requiredId"/>
	    <result column="PROPOSER" property="proposer"/>
	    <result column="PRO_MOBILE" property="proMobile"/>
	    <result column="SUPPLIER_NAME" property="supplierName"/>
	    <result column="QUESTION" property="question"/>
	    <result column="TECHNICAL_PARAMETERS" property="technicalParameters"/>
	    <!-- 查询合同  -->
    <association column="CONTRACT_ID"  property="contract" select="bss.dao.cs.PurchaseContractMapper.selectContractByid" />
  	</resultMap>
  	
  	<!-- 表名 -->
	<sql id="Tabel_Name">
    	T_SES_SMS_AFTER_SALE_SERVICE
	</sql>
  
	<!-- 表中所有列 -->
  	<sql id="Base_Column_List">
    	ID,CONTACT_NAME,ADDRESS,MOBILE,IS_AFTER_SUPPORT,CREATED_AT,UPDATED_AT,IS_DELETED,REQUIRED_ID,
    	PROPOSER,PRO_MOBILE,SUPPLIER_NAME,QUESTION,TECHNICAL_PARAMETERS
  	</sql>
  	
  	<select id="queryByList" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM T_SES_SMS_AFTER_SALE_SERVICE
		WHERE IS_DELETED=0
  	</select>
  	<!-- 根据主键查询 -->
  	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM T_SES_SMS_AFTER_SALE_SERVICE
		WHERE ID = #{id}
  	</select>
  	
  	<!--根据明细ID查询-->
	<select id="findAfterSaleSerByrequiredId" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM T_SES_SMS_AFTER_SALE_SERVICE 
		WHERE ID = #{id}
	</select>
	
	<!-- 根据id删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_SMS_AFTER_SALE_SERVICE
    where ID = #{id}
  </delete>
	
	<!-- 插入数据 -->
  <insert id="insert" parameterType="ses.model.sms.AfterSaleSer">
 	
    insert into T_SES_SMS_AFTER_SALE_SERVICE (ID, ADDRESS, CONTACT_NAME, 
      MOBILE, IS_AFTER_SUPPORT, CREATED_AT, 
      UPDATED_AT, IS_DELETED, REQUIRED_ID, 
      PROPOSER, PRO_MOBILE, SUPPLIER_NAME, 
      QUESTION,TECHNICAL_PARAMETERS)
    values (#{id}, #{address}, #{contactName}, 
      #{mobile}, #{isAfterSupport}, #{createdAt}, 
      #{updatedAt}, #{isDeleted}, #{requiredId}, 
      #{proposer}, #{proMobile}, #{supplierName}, 
      #{question},#{technicalParameters})
  </insert>
	 
	 <!-- 新增一条不为空记录 -->
  	<insert id="insertSelective" parameterType="ses.model.sms.AfterSaleSer">
		INSERT INTO T_SES_SMS_AFTER_SALE_SERVICE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="contactName != null">
				CONTACT_NAME,
			</if>
			<if test="mobile != null">
				MOBILE,
			</if>
			<if test="isAfterSupport != null">
				IS_AFTER_SUPPORT,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updateAt != null">
				UPDATED_AT,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="requiredId != null">
				REQUIRED_ID,
			</if>
			<if test="proposer != null">
				PROPOSER,
			</if>
			<if test="proMobile != null">
				PRO_MOBILE,
			</if>
			<if test="supplierName != null">
				SUPPLIER_NAME,
			</if>
			<if test="question != null">
				QUESTION,
			</if>
			<if test="technicalParameters != null">
				TECHNICAL_PARAMETERS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="contactName != null">
				#{contactName},
			</if>
			<if test="mobile != null">
				#{mobile},
			</if>
			<if test="isAfterSupport != null">
				#{isAfterSupport},
			</if>
			<if test="createdAt != null">
				#{createdAt},
			</if>
			<if test="updateAt != null">
				#{updatedAt},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
			<if test="requiredId != null">
				#{requiredId},
			</if>
			<if test="proposer != null">
				#{proposer},
			</if>
			<if test="proMobile != null">
				#{proMobile},
			</if>
			<if test="supplierName != null">
				#{supplierName},
			</if>
			<if test="question != null">
				#{question},
			</if>
			<if test="technicalParameters != null">
				#{technicalParameters},
			</if>
		</trim>
  	</insert>
  	
  	<!-- 更新数据 -->
  <update id="updateByPrimaryKey" parameterType="ses.model.sms.AfterSaleSer">
    update T_SES_SMS_AFTER_SALE_SERVICE
    set ADDRESS = #{address},
      CONTACT_NAME = #{contactName},
      MOBILE = #{mobile},
      IS_AFTER_SUPPORT = #{isAfterSupport},
      CREATED_AT = #{createdAt},
      UPDATED_AT = #{updatedAt},
      IS_DELETED = #{isDeleted},
      REQUIRED_ID = #{requiredId},
      PROPOSER = #{proposer},
      PRO_MOBILE = #{proMobile},
      SUPPLIER_NAME = #{supplierName},
      QUESTION = #{question},
      TECHNICAL_PARAMETERS = #{technicalParameters}
    where ID = #{id}
  </update>
  
  <!--根据更新不为空数据 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.AfterSaleSer">
    update T_SES_SMS_AFTER_SALE_SERVICE
    <set>
      <if test="address != null">
        ADDRESS = #{address},
      </if>
      <if test="contactName != null">
        CONTACT_NAME = #{contactName},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile},
      </if>
      <if test="isAfterSupport != null">
        IS_AFTER_SUPPORT = #{isAfterSupport},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updateAt != null">
        UPDATED_AT = #{updateAt},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="requiredId != null">
        REQUIRED_ID = #{requiredId},
      </if>
      <if test="proposer != null">
        PROPOSER = #{proposer},
      </if>
      <if test="proMobile != null">
        PRO_MOBILE = #{proMobile},
      </if>
      <if test="supplierName != null">
        SUPPLIER_NAME = #{supplierName},
      </if>
      <if test="question != null">
        QUESTION = #{question},
      </if>
      <if test="technicalParameters != null">
        TECHNICAL_PARAMETERS = #{technicalParameters},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  
  <select id="selectByAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM T_SES_SMS_AFTER_SALE_SERVICE
    WHERE IS_DELETED = 0
    <if test="contract != null">
      AND CONTRACT_ID = #{contract.id}
    </if> 
  </select>
  
  <!-- 列表总数 -->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
    select count(1) 
    from T_SES_SMS_AFTER_SALE_SERVICE p inner JOIN T_BSS_CS_PURCHASE_CONTRACT c on p.CONTRACT_ID = c.id
    LEFT JOIN T_SES_SMS_SUPPLIER s on c.SUPPLIER_DEP_NAME = s.ID
    where s.ID = #{id}
    
  </select>
  
</mapper>
