<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.QuoteMapper">
  <resultMap id="BaseResultMap" type="ses.model.sms.Quote">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="QUOTE_PRICE" jdbcType="DECIMAL" property="quotePrice" />
    <result column="PACKAGE_ID" jdbcType="VARCHAR" property="packageId" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
    <result column="TOTAL" jdbcType="DECIMAL" property="total" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="DELIVERY_TIME" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="IS_TURN_UP" jdbcType="DECIMAL" property="isTurnUp" />
    <result column="IS_REMOVE" jdbcType="DECIMAL" property="isRemove" />
    <result column="GIVE_UP_REASON" jdbcType="VARCHAR" property="giveUpReason" />
    <association property="packages" column="PACKAGE_ID" select="bss.dao.ppms.PackageMapper.findPackageByCondition"/>
    <association property="projectDetail" column="PRODUCT_ID" select="bss.dao.ppms.ProjectDetailMapper.selectByPrimaryKey"/>
    <association property="supplier" column="SUPPLIER_ID" select="ses.dao.sms.SupplierMapper.selectByPrimaryKey"/>
  </resultMap>
 <resultMap id="BaseResultMapTwo" type="ses.model.sms.Quote">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="QUOTE_PRICE" jdbcType="DECIMAL" property="quotePrice" />
    <result column="PACKAGE_ID" jdbcType="VARCHAR" property="packageId" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
    <result column="TOTAL" jdbcType="DECIMAL" property="total" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="DELIVERY_TIME" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="IS_TURN_UP" jdbcType="DECIMAL" property="isTurnUp" />
    <result column="IS_REMOVE" jdbcType="DECIMAL" property="isRemove" />
    <result column="GIVE_UP_REASON" jdbcType="VARCHAR" property="giveUpReason" />
  </resultMap>
  
   <resultMap id="BaseResultMapThree" type="ses.model.sms.Quote">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="QUOTE_PRICE" jdbcType="DECIMAL" property="quotePrice" />
    <result column="PACKAGE_ID" jdbcType="VARCHAR" property="packageId" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
    <result column="TOTAL" jdbcType="DECIMAL" property="total" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="DELIVERY_TIME" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="IS_TURN_UP" jdbcType="DECIMAL" property="isTurnUp" />
    <result column="IS_REMOVE" jdbcType="DECIMAL" property="isRemove" />
    <result column="GIVE_UP_REASON" jdbcType="VARCHAR" property="giveUpReason" />
    <association property="supplier" column="SUPPLIER_ID" select="ses.dao.sms.SupplierMapper.selectByPrimaryKey"/>
    <association property="projectDetail" column="PRODUCT_ID" select="bss.dao.ppms.ProjectDetailMapper.selectByPrimaryKey"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, CREATED_AT, QUOTE_PRICE, PACKAGE_ID, PROJECT_ID, SUPPLIER_ID,TOTAL,PRODUCT_ID,DELIVERY_TIME,REMARK,IS_TURN_UP,IS_REMOVE,GIVE_UP_REASON
  </sql>
  <select id="selectByPrimaryKey" parameterType="ses.model.sms.Quote" resultMap="BaseResultMapTwo">
    select ss.SUPPLIER_NAME as supplierName, s.* from (
		select 
	    <include refid="Base_Column_List" />
	    from T_SES_SMS_SUPPLIER_QUOTE
	    where 1=1 AND (IS_REMOVE is NULL or IS_REMOVE = 2)
	    <if test="id != null and id != '' ">
		AND  ID = #{id,jdbcType=VARCHAR}
	    </if>
	    <if test="packageId != null and packageId != '' ">
		AND  PACKAGE_ID = #{packageId,jdbcType=VARCHAR}
	    </if>
	    <if test="projectId != null and projectId != '' ">
		AND  PROJECT_ID = #{projectId,jdbcType=VARCHAR}
	    </if>
	    <if test="supplierId != null and supplierId != '' ">
		AND  SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
	    </if>
	    <if test="productId != null and productId != '' ">
		AND  PRODUCT_ID = #{productId,jdbcType=VARCHAR}
	    </if>
	     <if test="createdAt != null and createdAt != '' ">
		AND  CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}
	    </if>
	) s LEFT JOIN T_SES_SMS_SUPPLIER  ss
	on s.supplier_id =  SS.id ORDER BY s.CREATED_AT DESC
  </select>
  <!--查询报价次数  -->
  <select id="selectQuoteCount" parameterType="ses.model.sms.Quote" resultType="java.util.Date">
  	SELECT CREATED_AT FROM T_SES_SMS_SUPPLIER_QUOTE where 1=1 AND (IS_REMOVE is NULL or IS_REMOVE = 2)
  	
  	<if test="projectId != null and projectId != '' ">
	AND  PROJECT_ID = #{projectId,jdbcType=VARCHAR}
    </if>
    <if test="packageId != null and packageId != '' ">
	AND  PACKAGE_ID = #{packageId,jdbcType=VARCHAR}
    </if>
    <if test="supplierId != null and supplierId != '' ">
	AND  SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
    </if>
  	 GROUP BY CREATED_AT ORDER BY CREATED_AT
  </select>
  <!--查询报价历史 -->
  <select id="selectQuoteHistory" parameterType="ses.model.sms.Quote" resultMap="BaseResultMapThree">
  	SELECT 
  	 <include refid="Base_Column_List" />
  	  FROM T_SES_SMS_SUPPLIER_QUOTE where 1=1 and (IS_REMOVE is NULL or IS_REMOVE = 2)
     <if test="packageId != null and packageId != '' ">
	AND  PACKAGE_ID = #{packageId,jdbcType=VARCHAR}
    </if>
     <if test="packageId != null and packageId != '' ">
	AND  PACKAGE_ID = #{packageId,jdbcType=VARCHAR}
    </if>
     <if test="createdAt != null and createdAt != '' ">
	AND  CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}
    </if>
     <if test="supplierId != null and supplierId != '' ">
	AND  SUPPLIER_ID = #{supplierId,jdbcType=TIMESTAMP}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_SMS_SUPPLIER_QUOTE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.sms.Quote">
    insert into T_SES_SMS_SUPPLIER_QUOTE (ID, CREATED_AT, QUOTE_PRICE, 
      PACKAGE_ID, PROJECT_ID, SUPPLIER_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{quotePrice,jdbcType=DECIMAL}, 
      #{packageId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ses.model.sms.Quote">
    insert into T_SES_SMS_SUPPLIER_QUOTE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="quotePrice != null">
        QUOTE_PRICE,
      </if>
      <if test="packageId != null">
        PACKAGE_ID,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="productId != null">
        PRODUCT_ID,
      </if>
      <if test="total != null">
        TOTAL,
      </if>
      <if test="deliveryTime != null">
        DELIVERY_TIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
	  <if test="isTurnUp != null">
        IS_TURN_UP,
      </if>
      <if test="isRemove != null">
        IS_REMOVE,
      </if>
      <if test="giveUpReason != null">
        GIVE_UP_REASON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="quotePrice != null">
        #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="packageId != null">
        #{packageId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
       <if test="total != null">
        #{total,jdbcType=DECIMAL},
      </if>
       <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
       <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
	  <if test="isTurnUp != null">
        #{isTurnUp,jdbcType=DECIMAL},
      </if>
      <if test="isRemove != null">
        #{isRemove,jdbcType=DECIMAL},
      </if>
      <if test="giveUpReason != null">
        #{giveUpReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.Quote">
    update T_SES_SMS_SUPPLIER_QUOTE
    <set>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="quotePrice != null">
        QUOTE_PRICE = #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="packageId != null">
        PACKAGE_ID = #{packageId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
       <if test="productId != null">
        PRODUCT_ID=#{productId,jdbcType=VARCHAR},
      </if>
       <if test="total != null">
        TOTAL= #{total,jdbcType=DECIMAL},
      </if>
      <if test="isTurnUp != null">
        IS_TURN_UP= #{isTurnUp,jdbcType=DECIMAL},
      </if>
      <if test="deliveryTime != null">
        DELIVERY_TIME = #{deliveryTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.sms.Quote">
    update T_SES_SMS_SUPPLIER_QUOTE
    set CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      QUOTE_PRICE = #{quotePrice,jdbcType=DECIMAL},
      PACKAGE_ID = #{packageId,jdbcType=VARCHAR},
      PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>