<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierBlacklistMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.SupplierBlacklist">
		<id column="ID" property="id" />
		<result column="SUPPLIER_ID" property="supplierId" />
		<result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"/>
		<result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
		<result column="PUNISH_TYPE" property="punishType" />
		<result column="RELEASE_TYPE" property="releaseType" />
		<result column="STATUS" property="status" />
		<result column="REASON" property="reason" />
		<result column="SUPPLIER_NAME" property="supplierName" />
		<result column="TERM" property="term" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    	<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, SUPPLIER_ID, START_TIME, END_TIME, PUNISH_TYPE, RELEASE_TYPE, STATUS, REASON, SUPPLIER_NAME, TERM,CREATED_AT,UPDATED_AT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_BLACKLIST
		where ID = #{id}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_BLACKLIST
		where ID = #{id}
	</delete>
	<insert id="insert" parameterType="ses.model.sms.SupplierBlacklist">
		insert into T_SES_SMS_SUPPLIER_BLACKLIST (ID, SUPPLIER_ID, START_TIME,
		END_TIME, PUNISH_TYPE, RELEASE_TYPE,
		STATUS, REASON, SUPPLIER_NAME, TERM, CREATED_AT, UPDATED_AT)
		values (#{id}, #{supplierId}, #{startTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP}, #{punishType}, #{releaseType},
		#{status}, #{reason}, #{supplierName}, #{term},#{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="ses.model.sms.SupplierBlacklist">
		insert into T_SES_SMS_SUPPLIER_BLACKLIST
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="startTime != null">
				START_TIME,
			</if>
			<if test="endTime != null">
				END_TIME,
			</if>
			<if test="punishType != null">
				PUNISH_TYPE,
			</if>
			<if test="releaseType != null">
				RELEASE_TYPE,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="reason != null">
				REASON,
			</if>
			<if test="supplierName != null">
				SUPPLIER_NAME,
			</if>
			<if test="term != null">
				TERM,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="supplierId != null">
				#{supplierId},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="punishType != null">
				#{punishType},
			</if>
			<if test="releaseType != null">
				#{releaseType},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="reason != null">
				#{reason},
			</if>
			<if test="supplierName != null">
				#{supplierName},
			</if>
			<if test="term != null">
				#{term},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP}, 
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</trim>
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select sys_guid() from dual
		</selectKey>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierBlacklist">
		update T_SES_SMS_SUPPLIER_BLACKLIST
		<set>
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId},
			</if>
			<if test="startTime != null">
				START_TIME = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				END_TIME = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="punishType != null">
				PUNISH_TYPE = #{punishType},
			</if>
			<if test="releaseType != null">
				RELEASE_TYPE = #{releaseType},
			</if>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="reason != null">
				REASON = #{reason},
			</if>
			<if test="supplierName != null">
				SUPPLIER_NAME = #{supplierName},
			</if>
			<if test="term != null">
				TERM = #{term},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}, 
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierBlacklist">
		update T_SES_SMS_SUPPLIER_BLACKLIST
		set SUPPLIER_ID = #{supplierId},
		START_TIME = #{startTime,jdbcType=TIMESTAMP},
		END_TIME = #{endTime,jdbcType=TIMESTAMP},
		PUNISH_TYPE = #{punishType},
		RELEASE_TYPE = #{releaseType},
		STATUS = #{status},
		REASON = #{reason},
		SUPPLIER_NAME = #{supplierName},
		TERM = #{term},
		CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}, 
		UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
		where ID = #{id}
	</update>
	
	<select id="findSupplierBlacklist" parameterType="ses.model.sms.SupplierBlacklist" resultMap="BaseResultMap">
		select * from T_SES_SMS_SUPPLIER_BLACKLIST
		<where>
			<if test="supplierName != null and supplierName != ''">
				and SUPPLIER_NAME like CONCAT(CONCAT('%', #{supplierName}), '%')
			</if>
			<if test="startTime != null and startTime != ''">
				and START_TIME &gt;= #{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime != null and endTime != ''">
				and END_TIME &lt;= #{endTime,jdbcType=TIMESTAMP}
			</if>
		</where>
		 order by START_TIME desc
	</select>
	
	<select id="findByStatus" parameterType="String" resultType="String">
		select SUPPLIER_ID from T_SES_SMS_SUPPLIER_BLACKLIST
		<where>
			<if test="status != null">
				and STATUS != #{status,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<update id="updateStatusById" parameterType="ses.model.sms.SupplierBlacklist">
		update T_SES_SMS_SUPPLIER_BLACKLIST set STATUS = #{status} where ID = #{id}
	</update>
	
	<!-- 查询供应商黑名单列表 -->
	<select id="selectSupplierBlacklist" resultMap="SupplierBlacklistMap">
		SELECT sb.*,dd.NAME AS SUPPLIER_TYPE_NAME 
		FROM T_SES_SMS_SUPPLIER_BLACKLIST sb
		LEFT JOIN T_SES_SMS_SUPPLIER s ON sb.SUPPLIER_ID = s.ID
		LEFT JOIN T_SES_SMS_SUPPLIER_TYPE_RELATE str ON str.SUPPLIER_ID = s.ID
		LEFT JOIN T_SES_BMS_DICTIONARY_DATA dd ON dd.CODE = str.SUPPLIER_TYPE_ID
		<where>
			<if test="supplierBlacklist.supplierName != null and supplierBlacklist.supplierName != ''">
				AND sb.SUPPLIER_NAME like CONCAT(CONCAT('%', #{supplierBlacklist.supplierName}), '%')
			</if>
			<if test="supplierBlacklist.startTime != null and supplierBlacklist.startTime != ''">
				AND sb.START_TIME &gt;= #{supplierBlacklist.startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="supplierBlacklist.endTime != null and supplierBlacklist.endTime != ''">
				AND sb.END_TIME &lt;= #{supplierBlacklist.endTime,jdbcType=TIMESTAMP}
			</if>
			<if test="supplierTypeIds != null and supplierTypeIds.length != 0">
				AND str.SUPPLIER_TYPE_ID IN
				<foreach collection="supplierTypeIds" item="supplierTypeId" index="index"  
		            open="(" close=")" separator=",">  
		            #{supplierTypeId}  
		        </foreach>
			</if>
		</where>
		ORDER BY sb.START_TIME desc
	</select>
	
	<resultMap type="ses.model.sms.SupplierBlacklistVO" 
		id="SupplierBlacklistMap" 
		extends="BaseResultMap">
		<result column="SUPPLIER_TYPE_NAME" property="supplierTypeName"/>
	</resultMap>
	
	<!-- 根据创建时间查询 -->
  <select id="selectByCreateDate" resultMap="BaseResultMap" >
    select * from T_SES_SMS_SUPPLIER_BLACKLIST where 
    to_char(CREATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(CREATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
  
   <!-- 根据修改时间查询 -->
  <select id="selectByUpdateDate" resultMap="BaseResultMap" >
    select * from T_SES_SMS_SUPPLIER_BLACKLIST where 
    to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
  
  <!-- 根据id查询数量 -->
   <select id="countById" parameterType="String" resultType="java.lang.Integer" >
    select count(*) from T_SES_SMS_SUPPLIER_BLACKLIST
    where id=#{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 供应商抽取查询处罚中的供应商 -->
  <select id="findExtractList" resultType="String">
    SELECT SUPPLIER_ID FROM T_SES_SMS_SUPPLIER_BLACKLIST
    WHERE STATUS = 0
  </select>
</mapper>