<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierStockholderMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.SupplierStockholder">
		<id column="ID" property="id" />
		<result column="SUPPLIER_ID" property="supplierId" />
		<result column="NAME" property="name" />
		<result column="NATURE" property="nature" />
		<result column="IDENTITY_TYPE" property="identityType" jdbcType="TINYINT"/>
		<result column="IDENTITY" property="identity" />
		<result column="SHARES" property="shares" />
		<result column="PROPORTION" property="proportion" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
	</resultMap>
	<sql id="Base_Column_List">
		ID, SUPPLIER_ID, NAME, NATURE, IDENTITY, SHARES, PROPORTION, CREATED_AT, UPDATED_AT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_STOCKHOLDER
		where ID = #{id}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_STOCKHOLDER
		where ID = #{id}
	</delete>
	<insert id="insert" parameterType="ses.model.sms.SupplierStockholder">
		insert into T_SES_SMS_SUPPLIER_STOCKHOLDER (ID, SUPPLIER_ID, NAME,
		NATURE, IDENTITY_TYPE, IDENTITY, SHARES,
		PROPORTION, CREATED_AT, UPDATED_AT
		)
		values (#{id}, #{supplierId}, #{name},
		#{nature}, #{identityType,jdbcType=TINYINT}, #{identity}, #{shares},
		#{proportion}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="ses.model.sms.SupplierStockholder">
		insert into T_SES_SMS_SUPPLIER_STOCKHOLDER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="nature != null">
				NATURE,
			</if>
			<if test="identityType != null">
				IDENTITY_TYPE,
			</if>
			<if test="identity != null">
				IDENTITY,
			</if>
			<if test="shares != null">
				SHARES,
			</if>
			<if test="proportion != null">
				PROPORTION,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="supplierId != null">
				#{supplierId},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="nature != null">
				#{nature},
			</if>
			<if test="identityType != null">
				#{identityType},
			</if>
			<if test="identity != null">
				#{identity},
			</if>
			<if test="shares != null">
				#{shares},
			</if>
			<if test="proportion != null">
				#{proportion},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</trim>
<!-- 		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select sys_guid() from dual
		</selectKey> -->
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierStockholder">
		update T_SES_SMS_SUPPLIER_STOCKHOLDER
		<set>
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId},
			</if>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="nature != null">
				NATURE = #{nature},
			</if>
			<if test="identityType != null">
				IDENTITY_TYPE = #{identityType},
			</if>
			<if test="identity != null">
				IDENTITY = #{identity},
			</if>
			<if test="shares != null">
				SHARES = #{shares},
			</if>
			<if test="proportion != null">
				PROPORTION = #{proportion},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierStockholder">
		update T_SES_SMS_SUPPLIER_STOCKHOLDER
		set SUPPLIER_ID = #{supplierId},
		NAME = #{name},
		NATURE = #{nature},
		IDENTITY_TYPE = #{identityType},
		IDENTITY = #{identity},
		SHARES = #{shares},
		PROPORTION = #{proportion},
		CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
		UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
		where ID = #{id}
	</update>
	
	<select id="findStockholderBySupplierId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from T_SES_SMS_SUPPLIER_STOCKHOLDER where SUPPLIER_ID = #{SUPPLIER_ID}
	</select>
	
	<delete id="deleteStockholderBySupplierId" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_STOCKHOLDER where SUPPLIER_ID = #{SUPPLIER_ID}
	</delete>
</mapper>