<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierAuditMapper">
  <resultMap id="BaseResultMap" type="ses.model.sms.SupplierAudit">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SUGGEST" jdbcType="VARCHAR" property="suggest" />
    <result column="AUDIT_TYPE" jdbcType="VARCHAR" property="auditType" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
    <result column="AUDIT_FIELD" jdbcType="VARCHAR" property="auditField" />
    <result column="AUDIT_CONTENT" jdbcType="VARCHAR" property="auditContent" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUGGEST, AUDIT_TYPE, USER_ID, SUPPLIER_ID, STATUS, CREATED_AT, UPDATED_AT, AUDIT_FIELD, 
    AUDIT_CONTENT
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_AUDIT
    where SUPPLIER_ID = #{SUPPLIER_ID}
    ORDER BY CREATED_AT DESC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_SMS_SUPPLIER_AUDIT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.sms.SupplierAudit">
    insert into T_SES_SMS_SUPPLIER_AUDIT (ID, SUGGEST, AUDIT_TYPE, 
      USER_ID, SUPPLIER_ID, STATUS, 
      CREATED_AT, UPDATED_AT, AUDIT_FIELD, 
      AUDIT_CONTENT)
    values (#{id,jdbcType=VARCHAR}, #{suggest,jdbcType=VARCHAR}, #{auditType,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{createdAt,jdbcType=DATE}, #{updatedAt,jdbcType=DATE}, #{auditField,jdbcType=VARCHAR}, 
      #{auditContent,jdbcType=VARCHAR})
  </insert>
  
  <!-- 插入审核记录 -->
  <insert id="insertSelective" parameterType="ses.model.sms.SupplierAudit">
    insert into T_SES_SMS_SUPPLIER_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="suggest != null">
        SUGGEST,
      </if>
      <if test="auditType != null">
        AUDIT_TYPE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="auditField != null">
        AUDIT_FIELD,
      </if>
      <if test="auditContent != null">
        AUDIT_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="suggest != null">
        #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="auditType != null">
        #{auditType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
      <if test="auditField != null">
        #{auditField,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null">
        #{auditContent,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select sys_guid() from dual
  </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierAudit">
    update T_SES_SMS_SUPPLIER_AUDIT
    <set>
      <if test="suggest != null">
        SUGGEST = #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="auditType != null">
        AUDIT_TYPE = #{auditType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
      <if test="auditField != null">
        AUDIT_FIELD = #{auditField,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null">
        AUDIT_CONTENT = #{auditContent,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierAudit">
    update T_SES_SMS_SUPPLIER_AUDIT
    set SUGGEST = #{suggest,jdbcType=VARCHAR},
      AUDIT_TYPE = #{auditType,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE},
      AUDIT_FIELD = #{auditField,jdbcType=VARCHAR},
      AUDIT_CONTENT = #{auditContent,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>