<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierAddressMapper">
  <resultMap id="BaseResultMap" type="ses.model.sms.SupplierAddress">
    <!--
    @mbggenerated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="DETAIL_ADDRESS" jdbcType="VARCHAR" property="detailAddress" />
    <result column="PROVINCE_ID" jdbcType="VARCHAR" property="provinceId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    ID, SUPPLIER_ID, CODE, ADDRESS, DETAIL_ADDRESS,PROVINCE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_ADDRESS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    @mbggenerated
    -->
    delete from T_SES_SMS_SUPPLIER_ADDRESS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.sms.SupplierAddress">
    <!--
    @mbggenerated
    -->
    insert into T_SES_SMS_SUPPLIER_ADDRESS (ID, SUPPLIER_ID, CODE, 
      ADDRESS, DETAIL_ADDRESS,PROVINCE_ID)
    values (#{id,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR},#{provinceId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ses.model.sms.SupplierAddress">
    <!--
    @mbggenerated
    -->
    insert into T_SES_SMS_SUPPLIER_ADDRESS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="detailAddress != null">
        DETAIL_ADDRESS,
      </if>
       <if test="provinceId != null">
        PROVINCE_ID,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null">
        #{detailAddress,jdbcType=VARCHAR},
      </if>
       <if test="provinceId != null">
        #{provinceId,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierAddress">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_ADDRESS
    <set>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null">
        DETAIL_ADDRESS = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        PROVINCE_ID = #{provinceId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierAddress">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_ADDRESS
    set SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      DETAIL_ADDRESS = #{detailAddress,jdbcType=VARCHAR},
 	  PROVINCE_ID = #{provinceId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 供应商生产经营地址 -->
  <select id="queryBySupplierId"  resultMap="BaseResultMap">
     SELECT
			t1.*, 
			t2.NAME as subAddressName,
			t2.PARENT_ID as parentId
		FROM
			T_SES_SMS_SUPPLIER_ADDRESS t1
		LEFT JOIN
	 		T_SES_BMS_AREA t2
		ON 
			t2.ID = t1.ADDRESS
		WHERE 
			t1.SUPPLIER_ID =#{supplierId}
  </select>
  
  <delete id="deleteBySupplierId" parameterType="String" >
  delete from T_SES_SMS_SUPPLIER_ADDRESS
  	where SUPPLIER_ID = #{supplierId}
  </delete>
  
  
  <select id="getBySupplierId"  resultMap="BaseResultMap">
    SELECT
		<include refid="Base_Column_List"/>
		from T_SES_SMS_SUPPLIER_ADDRESS
		WHERE SUPPLIER_ID = #{supplierId}
  </select>
  
  <!-- 根据id查询 -->
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT
		<include refid="Base_Column_List"/>
		from T_SES_SMS_SUPPLIER_ADDRESS
		WHERE  ID = #{id}
  </select>
  
</mapper>