<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierAgentsMapper">
  <resultMap id="BaseResultMap" type="ses.model.sms.SupplierAgents">
    <!--
    @mbggenerated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="USERS_ID" jdbcType="VARCHAR" property="usersId" />
    <result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
    <result column="UNDO_TYPE" jdbcType="DECIMAL" property="undoType" />
    <result column="RESULT" jdbcType="DECIMAL" property="result" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
     <result column="IS_REMINDERS" jdbcType="TIMESTAMP" property="isReminders" />
   <result column="UNDO_STATUS" jdbcType="TIMESTAMP" property="undoStatus" />
  </resultMap>
  
   <resultMap id="BaseResultMaps" type="ses.model.sms.SupplierAgents">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="USERS_ID" jdbcType="VARCHAR" property="usersId" />
    <result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
    <result column="UNDO_TYPE" jdbcType="DECIMAL" property="undoType" />
    <result column="RESULT" jdbcType="DECIMAL" property="result" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="IS_REMINDERS" jdbcType="TIMESTAMP" property="isReminders" />
    <result column="UNDO_STATUS" jdbcType="TIMESTAMP" property="undoStatus" />
    <result column="RECEIVER_NAME"  property="receiverName"/>
    <result column="SENDER_NAME" property="senderName"/> 
  </resultMap>
  
    <resultMap id="SupplierAgentsMap" type="ses.model.sms.SupplierAgents">
    <!--
    @mbggenerated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="USERS_ID" jdbcType="VARCHAR" property="usersId" />
    <result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
    <result column="UNDO_TYPE" jdbcType="DECIMAL" property="undoType" />
    <result column="RESULT" jdbcType="DECIMAL" property="result" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
   <result column="IS_REMINDERS" jdbcType="TIMESTAMP" property="isReminders" />
      <result column="UNDO_STATUS" jdbcType="TIMESTAMP" property="undoStatus" />
  </resultMap>
  
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="ses.model.sms.SupplierAgents">
    <!--
    @mbggenerated
    -->
    <result column="CONTENT" jdbcType="CLOB" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    ID, OPERATOR_ID, USERS_ID, SUPPLIER_ID, UNDO_TYPE, RESULT, TITLE, REMARK, IS_DELETED, 
    CREATED_AT, UPDATED_AT, IS_REMINDERS
  </sql>
  <sql id="Blob_Column_List">
    <!--
    @mbggenerated
    -->
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_SES_SMS_SUPPLIER_AGENTS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    @mbggenerated
    -->
    delete from T_SES_SMS_SUPPLIER_AGENTS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.sms.SupplierAgents">
    <!--
    @mbggenerated
    -->
    insert into T_SES_SMS_SUPPLIER_AGENTS ( OPERATOR_ID, USERS_ID, 
      SUPPLIER_ID, UNDO_TYPE, RESULT, 
      TITLE, REMARK, IS_DELETED, 
      CREATED_AT, UPDATED_AT,IS_REMINDERS, CONTENT
      )
    values ( #{operatorId,jdbcType=VARCHAR}, #{usersId,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=VARCHAR}, #{undoType,jdbcType=DECIMAL}, #{result,jdbcType=DECIMAL}, 
      #{title,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{isDeleted,jdbcType=DECIMAL}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{content,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="ses.model.sms.SupplierAgents">
    <!--
    @mbggenerated
    -->
    insert into T_SES_SMS_SUPPLIER_AGENTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="operatorId != null">
        OPERATOR_ID,
      </if>
      <if test="usersId != null">
        USERS_ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="undoType != null">
        UNDO_TYPE,
      </if>
      <if test="result != null">
        RESULT,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
        <if test="isReminders != null">
        IS_REMINDERS,
      </if>
        <if test="undoStatus != null">
        UNDO_STATUS,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="usersId != null">
        #{usersId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="undoType != null">
        #{undoType,jdbcType=DECIMAL},
      </if>
      <if test="result != null">
        #{result,jdbcType=DECIMAL},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierAgents">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_AGENTS
    <set>
      <if test="operatorId != null">
        OPERATOR_ID = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="usersId != null">
        USERS_ID = #{usersId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="undoType != null">
        UNDO_TYPE = #{undoType,jdbcType=DECIMAL},
      </if>
      <if test="result != null">
        RESULT = #{result,jdbcType=DECIMAL},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isReminders != null">
        IS_REMINDERS= #{isReminders,jdbcType=DECIMAL},
      </if>
        <if test="undoStatus != null">
        UNDO_STATUS= #{undoStatus,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ses.model.sms.SupplierAgents">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_AGENTS
    set OPERATOR_ID = #{operatorId,jdbcType=VARCHAR},
      USERS_ID = #{usersId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      UNDO_TYPE = #{undoType,jdbcType=DECIMAL},
      RESULT = #{result,jdbcType=DECIMAL},
      TITLE = #{title,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
        IS_REMINDERS= #{isReminders,jdbcType=DECIMAL},
        UNDO_STATUS= #{undoStatus,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierAgents">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_AGENTS
    set OPERATOR_ID = #{operatorId,jdbcType=VARCHAR},
      USERS_ID = #{usersId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      UNDO_TYPE = #{undoType,jdbcType=DECIMAL},
      RESULT = #{result,jdbcType=DECIMAL},
      TITLE = #{title,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
        IS_REMINDERS= #{isReminders,jdbcType=DECIMAL},
        UNDO_STATUS= #{undoStatus,jdbcType=DECIMAL},
    where ID = #{id,jdbcType=VARCHAR}
  </update>
	<!--   联表查询所有待办事项 -->
  <select id="selectAgents"  resultMap="BaseResultMaps" parameterType="ses.model.sms.SupplierAgents" >
 		 SELECT sa.*,bu.REL_NAME as USER_NAME,BU1.REL_NAME AS OPERATOR_NAME FROM T_SES_SMS_SUPPLIER_AGENTS  sa  
         INNER JOIN T_SES_BMS_USERINFO bu1 ON sa.USERS_ID=BU1."ID"
         INNER JOIN T_SES_BMS_USERINFO bu ON sa.OPERATOR_ID = bu."ID"   
           WHERE SA.IS_DELETED =0 AND SA.IS_REMINDERS =#{isReminders,jdbcType=DECIMAL}
  </select>  
  
</mapper>