<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierAuditMapper">
  <resultMap id="BaseResultMap" type="ses.model.sms.SupplierAudit">
    <id column="ID" property="id" />
    <result column="SUGGEST" property="suggest" />
    <result column="AUDIT_TYPE" property="auditType" />
    <result column="USER_ID" property="userId" />
    <result column="SUPPLIER_ID" property="supplierId" />
    <result column="STATUS" property="status" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
    <result column="AUDIT_FIELD" property="auditField" />
    <result column="AUDIT_CONTENT" property="auditContent" />
    <result column="AUDIT_FIELD_NAME" property="auditFieldName" />
    <result column="IS_DELETED" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUGGEST, AUDIT_TYPE, USER_ID, SUPPLIER_ID, STATUS, CREATED_AT, UPDATED_AT, AUDIT_FIELD, 
    AUDIT_CONTENT, AUDIT_FIELD_NAME ,IS_DELETED
  </sql>
  
  <select id="selectByPrimaryKey"   parameterType="ses.model.sms.SupplierAudit" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_AUDIT
    where SUPPLIER_ID = #{supplierId}
    <if test="auditField!=null">
		and  AUDIT_FIELD=#{auditField}
    </if>
    <if test="auditType!=null">
		and  AUDIT_TYPE=#{auditType}
    </if>
    and IS_DELETED = 0
    ORDER BY CREATED_AT DESC
  </select>
  
   <select id="countByPrimaryKey"   parameterType="ses.model.sms.SupplierAudit" resultType="Integer">
    select 
    count(ID)
    from T_SES_SMS_SUPPLIER_AUDIT
    where SUPPLIER_ID = #{supplierId}
    <if test="auditField!=null">
        and  AUDIT_FIELD=#{auditField}
    </if>
    <if test="auditType!=null">
        and  AUDIT_TYPE=#{auditType}
    </if>
    and IS_DELETED = 0
    ORDER BY CREATED_AT DESC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_SMS_SUPPLIER_AUDIT
    where ID = #{id}
  </delete>
  
  <delete id="deleteBySupplierId" parameterType="java.lang.String">
  	delete from T_SES_SMS_SUPPLIER_AUDIT
    where SUPPLIER_ID = #{supplierId}
  </delete>
  
  <insert id="insert" parameterType="ses.model.sms.SupplierAudit">
    insert into T_SES_SMS_SUPPLIER_AUDIT (ID, SUGGEST, AUDIT_TYPE, 
      USER_ID, SUPPLIER_ID, STATUS, 
      CREATED_AT, UPDATED_AT, AUDIT_FIELD, AUDIT_FIELD_NAME ,IS_DELETED,
      AUDIT_CONTENT)
    values (#{id}, #{suggest}, #{auditType}, 
      #{userId}, #{supplierId}, #{status}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{auditField}, #{auditFieldName} ,#{isDeleted},
      #{auditContent})
  </insert>
  
  <!-- 插入审核记录 -->
  <insert id="insertSelective" parameterType="ses.model.sms.SupplierAudit">
    insert into T_SES_SMS_SUPPLIER_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="suggest != null">
        SUGGEST,
      </if>
      <if test="auditType != null">
        AUDIT_TYPE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="auditField != null">
        AUDIT_FIELD,
      </if>
      <if test="auditContent != null">
        AUDIT_CONTENT,
      </if>
      <if test="auditFieldName != null">
        AUDIT_FIELD_NAME,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="suggest != null">
        #{suggest},
      </if>
      <if test="auditType != null">
        #{auditType},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="supplierId != null">
        #{supplierId},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="auditField != null">
        #{auditField},
      </if>
      <if test="auditContent != null">
        #{auditContent},
      </if>
      <if test="auditFieldName != null">
        #{auditFieldName},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
        select sys_guid() from dual
     </selectKey>
  </insert>
  
  
  <!-- 插入审核记录 -->
  <insert id="inserActive" parameterType="ses.model.sms.SupplierAudit">
    insert into T_SES_SMS_SUPPLIER_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="suggest != null">
        SUGGEST,
      </if>
      <if test="auditType != null">
        AUDIT_TYPE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="auditField != null">
        AUDIT_FIELD,
      </if>
      <if test="auditContent != null">
        AUDIT_CONTENT,
      </if>
      <if test="auditFieldName != null">
        AUDIT_FIELD_NAME,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="suggest != null">
        #{suggest},
      </if>
      <if test="auditType != null">
        #{auditType},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="supplierId != null">
        #{supplierId},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="auditField != null">
        #{auditField},
      </if>
      <if test="auditContent != null">
        #{auditContent},
      </if>
      <if test="auditFieldName != null">
        #{auditFieldName},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
  </insert>
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierAudit">
    update T_SES_SMS_SUPPLIER_AUDIT
    <set>
      <if test="suggest != null">
        SUGGEST = #{suggest},
      </if>
      <if test="auditType != null">
        AUDIT_TYPE = #{auditType},
      </if>
      <if test="userId != null">
        USER_ID = #{userId},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="auditField != null">
        AUDIT_FIELD = #{auditField},
      </if>
      <if test="auditContent != null">
        AUDIT_CONTENT = #{auditContent},
      </if>
      <if test="auditContent != null">
        AUDIT_FIELD_NAME = #{auditFieldName},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
    </set>
    where
        SUPPLIER_ID = #{supplierId}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierAudit">
    update T_SES_SMS_SUPPLIER_AUDIT
    set SUGGEST = #{suggest},
      AUDIT_TYPE = #{auditType},
      USER_ID = #{userId},
      SUPPLIER_ID = #{supplierId},
      STATUS = #{status},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      AUDIT_FIELD = #{auditField},
      AUDIT_CONTENT = #{auditContent},
      AUDIT_FIELD_NAME = #{auditFieldName},
      IS_DELETED = # {isDeleted}
    where ID = #{id}
  </update>
  
  <select id="findByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List" />
  	from
  		T_SES_SMS_SUPPLIER_AUDIT t1
  	<where>
  		<if test="list != null">
  			<foreach collection="list" item="auditType" open="and t1.AUDIT_TYPE in (" close=")" separator=",">
				#{auditType}
			</foreach>
  		</if>
  		<if test="supplierId != null">
			and t1.SUPPLIER_ID = #{supplierId}
  		</if>
  		<if test="isDeleted != null">
		 	and t1.IS_DELETED = #{isDeleted}
	 	</if>
  	</where>
  </select>
	
	<update id="updateByMap" parameterType="java.util.Map">
	 update 
	 	T_SES_SMS_SUPPLIER_AUDIT t1
	 <set>
	 	<if test="isDeleted != null">
	 		t1.IS_DELETED = #{isDeleted}
	 	</if>
	 </set>
	 <where>
	 	<if test="supplierId != null">
	 		and t1.SUPPLIER_ID = #{supplierId}
	 	</if>
	 </where>
	</update>
	
	<select id="selectById" resultMap="BaseResultMap">
	 select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_AUDIT
    where ID = #{id} 
	</select>
	
	 <!-- 软删除历史记录 -->
  <update id="updateIsDeleteBySupplierId" parameterType="ses.model.sms.SupplierAudit">
  	update
  		T_SES_SMS_SUPPLIER_AUDIT
  	set
  		IS_DELETED = 1
  	where 
  		SUPPLIER_ID =#{supplierId}
  </update>
	
	<!-- 查询注册供应商不通过的小类 -->
	<select id="selectRegSupCateCount" resultType="java.lang.Integer" parameterType="Map">
		SELECT COUNT(T.ID)
		  FROM T_SES_SMS_SUPPLIER_AUDIT T
		   WHERE T.SUPPLIER_ID = #{supplierId, jdbcType=VARCHAR}
		   AND T.AUDIT_TYPE = #{regType, jdbcType=VARCHAR}
		   AND T.STATUS = 0
       AND T.IS_DELETED = 0
	</select>
</mapper>