<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierCertEngMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.SupplierCertEng">
		<id column="ID" property="id" />
		<result column="MAT_ENG_ID" property="matEngId" />
		<result column="CERT_TYPE" property="certType" />
		<result column="CERT_CODE" property="certCode" />
		<result column="CERT_MAX_LEVEL" property="certMaxLevel" />
		<result column="TECH_NAME" property="techName" />
		<result column="TECH_PT" property="techPt" />
		<result column="TECH_JOB" property="techJop" />
		<result column="DEP_NAME" property="depName" />
		<result column="DEP_PT" property="depPt" />
		<result column="DEP_JOB" property="depJop" />
		<result column="LICENCE_AUTHORITH" property="licenceAuthorith" />
		<result column="EXP_START_DATE" property="expStartDate" jdbcType="TIMESTAMP"/>
		<result column="EXP_END_DATE" property="expEndDate" jdbcType="TIMESTAMP"/>
		<result column="CERT_STATUS" property="certStatus" />
		<result column="FILE_NAME" property="attachCert" />
		<result column="ID_" property="attachCertId" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, MAT_ENG_ID, CERT_TYPE, CERT_CODE, CERT_MAX_LEVEL, TECH_NAME, TECH_PT, TECH_JOB,
		DEP_NAME, DEP_PT, DEP_JOB, LICENCE_AUTHORITH, EXP_START_DATE, EXP_END_DATE, CERT_STATUS,
		ATTACH_CERT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_CERT_ENG
		where ID = #{id}
	</select>
	<insert id="insert" parameterType="ses.model.sms.SupplierCertEng">
		insert into T_SES_SMS_SUPPLIER_CERT_ENG (ID, MAT_ENG_ID, CERT_TYPE,
		CERT_CODE, CERT_MAX_LEVEL, TECH_NAME,
		TECH_PT, TECH_JOB, DEP_NAME,
		DEP_PT, DEP_JOB, LICENCE_AUTHORITH,
		EXP_START_DATE, EXP_END_DATE, CERT_STATUS,
		ATTACH_CERT)
		values (#{id}, #{matEngId}, #{certType},
		#{certCode}, #{certMaxLevel}, #{techName},
		#{techPt}, #{techJop}, #{depName},
		#{depPt}, #{depJop}, #{licenceAuthorith},
		#{expStartDate,jdbcType=TIMESTAMP}, #{expEndDate,jdbcType=TIMESTAMP}, #{certStatus},
		#{attachCert})
	</insert>
	<insert id="insertSelective" parameterType="ses.model.sms.SupplierCertEng">
		insert into T_SES_SMS_SUPPLIER_CERT_ENG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="matEngId != null">
				MAT_ENG_ID,
			</if>
			<if test="certType != null">
				CERT_TYPE,
			</if>
			<if test="certCode != null">
				CERT_CODE,
			</if>
			<if test="certMaxLevel != null">
				CERT_MAX_LEVEL,
			</if>
			<if test="techName != null">
				TECH_NAME,
			</if>
			<if test="techPt != null">
				TECH_PT,
			</if>
			<if test="techJop != null">
				TECH_JOB,
			</if>
			<if test="depName != null">
				DEP_NAME,
			</if>
			<if test="depPt != null">
				DEP_PT,
			</if>
			<if test="depJop != null">
				DEP_JOB,
			</if>
			<if test="licenceAuthorith != null">
				LICENCE_AUTHORITH,
			</if>
			<if test="expStartDate != null">
				EXP_START_DATE,
			</if>
			<if test="expEndDate != null">
				EXP_END_DATE,
			</if>
			<if test="certStatus != null">
				CERT_STATUS,
			</if>
			<if test="attachCert != null">
				ATTACH_CERT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="matEngId != null">
				#{matEngId},
			</if>
			<if test="certType != null">
				#{certType},
			</if>
			<if test="certCode != null">
				#{certCode},
			</if>
			<if test="certMaxLevel != null">
				#{certMaxLevel},
			</if>
			<if test="techName != null">
				#{techName},
			</if>
			<if test="techPt != null">
				#{techPt},
			</if>
			<if test="techJop != null">
				#{techJop},
			</if>
			<if test="depName != null">
				#{depName},
			</if>
			<if test="depPt != null">
				#{depPt},
			</if>
			<if test="depJop != null">
				#{depJop},
			</if>
			<if test="licenceAuthorith != null">
				#{licenceAuthorith},
			</if>
			<if test="expStartDate != null">
				#{expStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="expEndDate != null">
				#{expEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="certStatus != null">
				#{certStatus},
			</if>
			<if test="attachCert != null">
				#{attachCert},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierCertEng">
		update T_SES_SMS_SUPPLIER_CERT_ENG
		<set>
			<if test="matEngId != null">
				MAT_ENG_ID = #{matEngId},
			</if>
			<if test="certType != null">
				CERT_TYPE = #{certType},
			</if>
			<if test="certCode != null">
				CERT_CODE = #{certCode},
			</if>
			<if test="certMaxLevel != null">
				CERT_MAX_LEVEL = #{certMaxLevel},
			</if>
			<if test="techName != null">
				TECH_NAME = #{techName},
			</if>
			<if test="techPt != null">
				TECH_PT = #{techPt},
			</if>
			<if test="techJop != null">
				TECH_JOB = #{techJop},
			</if>
			<if test="depName != null">
				DEP_NAME = #{depName},
			</if>
			<if test="depPt != null">
				DEP_PT = #{depPt},
			</if>
			<if test="depJop != null">
				DEP_JOB = #{depJop},
			</if>
			<if test="licenceAuthorith != null">
				LICENCE_AUTHORITH = #{licenceAuthorith},
			</if>
			<if test="expStartDate != null">
				EXP_START_DATE = #{expStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="expEndDate != null">
				EXP_END_DATE = #{expEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="certStatus != null">
				CERT_STATUS = #{certStatus},
			</if>
			<if test="attachCert != null">
				ATTACH_CERT = #{attachCert},
			</if>
		</set>
		where ID = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierCertEng">
		update T_SES_SMS_SUPPLIER_CERT_ENG
		set MAT_ENG_ID = #{matEngId},
		CERT_TYPE = #{certType},
		CERT_CODE = #{certCode},
		CERT_MAX_LEVEL = #{certMaxLevel},
		TECH_NAME = #{techName},
		TECH_PT = #{techPt},
		TECH_JOB = #{techJop},
		DEP_NAME = #{depName},
		DEP_PT = #{depPt},
		DEP_JOB = #{depJop},
		LICENCE_AUTHORITH = #{licenceAuthorith},
		EXP_START_DATE = #{expStartDate,jdbcType=TIMESTAMP},
		EXP_END_DATE = #{expEndDate,jdbcType=TIMESTAMP},
		CERT_STATUS = #{certStatus},
		ATTACH_CERT = #{attachCert}
		where ID = #{id}
	</update>
	<select id="findCertEngByMatEngId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from T_SES_SMS_SUPPLIER_CERT_ENG where MAT_ENG_ID = #{supplierMatEngId}
	</select>
	
	<!-- 资质资格证书信息 -->
	<select id="findCertEngBySupplierId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
            t1.*, 
            t3.ID as ID_,
            t3.NAME as FILE_NAME
        from
            T_SES_SMS_SUPPLIER_CERT_ENG t1
        left join 
            T_SES_SMS_SUPPLIER_MAT_ENG t2 
         on
            t1.MAT_ENG_ID = t2. ID
        left join  
            T_SES_SMS_SUPPLIER_ATTACHMENT t3 
        on 
            t3.BUSINESS_ID = t1. ID
        where
            t2.SUPPLIER_ID = #{supplierId}
  </select>
	
	<select id="selectCertEngByCode" resultMap="BaseResultMap">
		SELECT
		t1.*
		from T_SES_SMS_SUPPLIER_CERT_ENG t1
		inner join 
            T_SES_SMS_SUPPLIER_MAT_ENG t2 
        on
            t1.MAT_ENG_ID = t2.ID
		where t2.SUPPLIER_ID = #{param2}
		and t1.CERT_CODE = #{param1}
	</select>
	
	<!-- 证书编号唯一校验 -->
	<select id="validateCertCode" resultMap="BaseResultMap">
		SELECT ID 
		FROM T_SES_SMS_SUPPLIER_CERT_ENG
		WHERE CERT_CODE = #{certCode}
	</select>
	
	<select id="getLevel" resultType="java.util.Map">
		SELECT 
			t2."APTITUTE_ LEVEL" apt_level
		FROM 
			"T_SES_SMS_SUPPLIER_CERT_ENG" t1
		INNER JOIN 
			"T_SES_SMS_SUPPLIER_APTITUTE" t2
		ON 
			t1."CERT_CODE" = t2."CERT_CODE"
		WHERE 
			t1."CERT_CODE" = #{param2} 
		AND 
			t2."CERT_TYPE" = #{param1}
		AND 
			t1."MAT_ENG_ID" = #{param3}
		AND 
			t2."MAT_ENG_ID" = #{param3}
	</select>
	
	<!-- 根据主键删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_CERT_ENG
		where ID = #{id}
	</delete>
	<!-- 根据工程id删除 -->
	<delete id="deleteByMatEngId">
		delete from T_SES_SMS_SUPPLIER_CERT_ENG
		where MAT_ENG_ID = #{matEngId}
	</delete>
</mapper>