<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierTypeRelateMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.SupplierTypeRelate">
		<id column="ID" property="id" />
		<result column="SUPPLIER_ID" property="supplierId" />
		<result column="SUPPLIER_TYPE_ID" property="supplierTypeId" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
		<result column="SUPPLIER_TYPE_NAME" property="supplierTypeName" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, SUPPLIER_ID, SUPPLIER_TYPE_ID, CREATED_AT, UPDATED_AT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_TYPE_RELATE
		where ID = #{id}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_TYPE_RELATE
		where ID = #{id}
	</delete>
	<insert id="insert" parameterType="ses.model.sms.SupplierTypeRelate">
		insert into T_SES_SMS_SUPPLIER_TYPE_RELATE (ID, SUPPLIER_ID, SUPPLIER_TYPE_ID,
		CREATED_AT, UPDATED_AT)
		values (#{id}, #{supplierId}, #{supplierTypeId},
		#{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="ses.model.sms.SupplierTypeRelate">
		insert into T_SES_SMS_SUPPLIER_TYPE_RELATE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="supplierTypeId != null">
				SUPPLIER_TYPE_ID,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="supplierId != null">
				#{supplierId},
			</if>
			<if test="supplierTypeId != null">
				#{supplierTypeId},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierTypeRelate">
		update T_SES_SMS_SUPPLIER_TYPE_RELATE
		<set>
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId},
			</if>
			<if test="supplierTypeId != null">
				SUPPLIER_TYPE_ID = #{supplierTypeId},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierTypeRelate">
		update T_SES_SMS_SUPPLIER_TYPE_RELATE
		set SUPPLIER_ID = #{supplierId},
		SUPPLIER_TYPE_ID = #{supplierTypeId},
		CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
		UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
		where ID = #{id}
	</update>

	<select id="findSupplierTypeIdBySupplierId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from T_SES_SMS_SUPPLIER_TYPE_RELATE  T
		<where>
		<if test="supplierId!=null and supplierId!=''">
			T.SUPPLIER_ID = #{supplierId}
		</if>
			ORDER BY DECODE(T.SUPPLIER_TYPE_ID,'PRODUCT',1,
			'SALES',2,
			'PROJECT',3,
			'SERVICE',4)
		</where>
	</select>

<select id="findTypeBySupplierId" parameterType="java.lang.String" resultType="String">
        select 
        SUPPLIER_TYPE_ID
        from T_SES_SMS_SUPPLIER_TYPE_RELATE 
        <where>
        <if test="supplierId!=null and supplierId!=''">
            SUPPLIER_ID = #{supplierId}
        </if>
        </where>
    </select>

	<select id="findSupplierTypeBySupplierId" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
		    t1.NAME as SUPPLIER_TYPE_NAME
		FROM
		    T_SES_BMS_DICTIONARY_DATA t1
		JOIN 
		    T_SES_SMS_SUPPLIER_TYPE_RELATE t2
		ON
		    t2.SUPPLIER_TYPE_ID = t1.CODE
		WHERE
		    t2.SUPPLIER_ID = #{supplierId}
	</select>

	<delete id="deleteBySupplierId" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_TYPE_RELATE where SUPPLIER_ID = #{supplierId}
	</delete>
	
	<delete id="deleteSupplierType">
     	delete from T_SES_SMS_SUPPLIER_TYPE_RELATE where  SUPPLIER_ID = #{supplierId} and SUPPLIER_TYPE_ID = #{supplierType}  
	</delete>
	
	
</mapper>