<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierItemsMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.SupplierItems">
		<id column="ID" property="id" />
		<result column="SUPPLIER_ID" property="supplierId" />
		<result column="CATEGORY_ID" property="categoryId" />
		<result column="SUPPLIER_TYPE_RELATE_ID" property="supplierTypeRelateId" />
		<result column="STATUS" property="status" />
		<result column="CREATED_AT" property="createdAt" />
		<result column="UPDATED_AT" property="updatedAt" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, SUPPLIER_ID, CATEGORY_ID, SUPPLIER_TYPE_RELATE_ID, STATUS, CREATED_AT, UPDATED_AT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_ITEMS
		where ID = #{id}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_ITEMS
		where ID = #{id}
	</delete>
	<insert id="insert" parameterType="ses.model.sms.SupplierItems">
		insert into T_SES_SMS_SUPPLIER_ITEMS (ID, SUPPLIER_ID, CATEGORY_ID,
		SUPPLIER_TYPE_RELATE_ID, STATUS, CREATED_AT,
		UPDATED_AT)
		values (#{id}, #{supplierId}, #{categoryId},
		#{supplierTypeRelateId}, #{status}, #{createdAt},
		#{updatedAt})
	</insert>
	<insert id="insertSelective" parameterType="ses.model.sms.SupplierItems">
		insert into T_SES_SMS_SUPPLIER_ITEMS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="categoryId != null">
				CATEGORY_ID,
			</if>
			<if test="supplierTypeRelateId != null">
				SUPPLIER_TYPE_RELATE_ID,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="supplierId != null">
				#{supplierId},
			</if>
			<if test="categoryId != null">
				#{categoryId},
			</if>
			<if test="supplierTypeRelateId != null">
				#{supplierTypeRelateId},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="createdAt != null">
				#{createdAt},
			</if>
			<if test="updatedAt != null">
				#{updatedAt},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierItems">
		update T_SES_SMS_SUPPLIER_ITEMS
		<set>
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId},
			</if>
			<if test="categoryId != null">
				CATEGORY_ID = #{categoryId},
			</if>
			<if test="supplierTypeRelateId != null">
				SUPPLIER_TYPE_RELATE_ID = #{supplierTypeRelateId},
			</if>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt},
			</if>
		</set>
		where ID = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierItems">
		update T_SES_SMS_SUPPLIER_ITEMS
		set SUPPLIER_ID = #{supplierId},
		CATEGORY_ID = #{categoryId},
		SUPPLIER_TYPE_RELATE_ID = #{supplierTypeRelateId},
		STATUS = #{status},
		CREATED_AT = #{createdAt},
		UPDATED_AT = #{updatedAt}
		where ID = #{id}
	</update>
</mapper>