<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierExtractsMapper">
  <resultMap id="BaseResultMap" type="ses.model.sms.SupplierExtracts">
    <!--
    @mbggenerated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="PROCUREMENT_DEP_ID" jdbcType="VARCHAR" property="procurementDepId" />
    <result column="EXTRACTION_TIME" jdbcType="TIMESTAMP" property="extractionTime" />
    <result column="EXTRACTION_SITES" jdbcType="VARCHAR" property="extractionSites" />
    <result column="EXTRACT_THE_WAY" jdbcType="DECIMAL" property="extractTheWay" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="PROJECT_CODE" jdbcType="VARCHAR" property="projectCode" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
        <association property="perpleUser"  column="EXTRACTS_PEOPLE"
            select="ses.dao.bms.UserMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    ID, PROJECT_NAME, PROCUREMENT_DEP_ID, EXTRACTION_TIME, EXTRACTION_SITES, EXTRACT_THE_WAY, 
    EXTRACTS_PEOPLE, CREATED_AT, UPDATED_AT, PROJECT_CODE, PROJECT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_EXTRACTS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    @mbggenerated
    -->
    delete from T_SES_SMS_SUPPLIER_EXTRACTS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.sms.SupplierExtracts">
    <!--
    @mbggenerated
    -->
    insert into T_SES_SMS_SUPPLIER_EXTRACTS (ID, PROJECT_NAME, PROCUREMENT_DEP_ID, 
      EXTRACTION_TIME, EXTRACTION_SITES, EXTRACT_THE_WAY, 
      EXTRACTS_PEOPLE, CREATED_AT, UPDATED_AT, 
      PROJECT_CODE, PROJECT_ID)
    values (#{id,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{procurementDepId,jdbcType=VARCHAR}, 
      #{extractionTime,jdbcType=TIMESTAMP}, #{extractionSites,jdbcType=VARCHAR}, #{extractTheWay,jdbcType=DECIMAL}, 
      #{extractsPeople,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{projectCode,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ses.model.sms.SupplierExtracts">
    <!--
    @mbggenerated
    -->
    insert into T_SES_SMS_SUPPLIER_EXTRACTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="procurementDepId != null">
        PROCUREMENT_DEP_ID,
      </if>
      <if test="extractionTime != null">
        EXTRACTION_TIME,
      </if>
      <if test="extractionSites != null">
        EXTRACTION_SITES,
      </if>
      <if test="extractTheWay != null">
        EXTRACT_THE_WAY,
      </if>
      <if test="extractsPeople != null">
        EXTRACTS_PEOPLE,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="projectCode != null">
        PROJECT_CODE,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="procurementDepId != null">
        #{procurementDepId,jdbcType=VARCHAR},
      </if>
      <if test="extractionTime != null">
        #{extractionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extractionSites != null">
        #{extractionSites,jdbcType=VARCHAR},
      </if>
      <if test="extractTheWay != null">
        #{extractTheWay,jdbcType=DECIMAL},
      </if>
      <if test="extractsPeople != null">
        #{extractsPeople,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="projectCode != null">
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierExtracts">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_EXTRACTS
    <set>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="procurementDepId != null">
        PROCUREMENT_DEP_ID = #{procurementDepId,jdbcType=VARCHAR},
      </if>
      <if test="extractionTime != null">
        EXTRACTION_TIME = #{extractionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extractionSites != null">
        EXTRACTION_SITES = #{extractionSites,jdbcType=VARCHAR},
      </if>
      <if test="extractTheWay != null">
        EXTRACT_THE_WAY = #{extractTheWay,jdbcType=DECIMAL},
      </if>
      <if test="extractsPeople != null">
        EXTRACTS_PEOPLE = #{extractsPeople,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="projectCode != null">
        PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierExtracts">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_EXTRACTS
    set PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      PROCUREMENT_DEP_ID = #{procurementDepId,jdbcType=VARCHAR},
      EXTRACTION_TIME = #{extractionTime,jdbcType=TIMESTAMP},
      EXTRACTION_SITES = #{extractionSites,jdbcType=VARCHAR},
      EXTRACT_THE_WAY = #{extractTheWay,jdbcType=DECIMAL},
      EXTRACTS_PEOPLE = #{extractsPeople,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      PROJECT_CODE = #{projectCode,jdbcType=VARCHAR},
      PROJECT_ID = #{projectId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="list" parameterType="ses.model.sms.SupplierExtracts"
        resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM T_SES_SMS_SUPPLIER_EXTRACTS
        WHERE 1=1
        <if test="projectName!=null and projectName!='' ">
            AND PROJECT_NAME like CONCAT(CONCAT('%', #{projectName}), '%')
        </if>
        <if test="extractionTime!=null and extractionTime!='' ">
           AND EXTRACTION_TIME = #{extractionTime,jdbcType=TIMESTAMP}
        </if>
        <if test="projectId != null and projectId !='' ">
            AND PROJECT_ID=#{projectId,jdbcType=VARCHAR}
        </if>
        <if test="id != null and id !='' ">
            AND ID = #{id,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>