<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierAfterSaleDepMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.SupplierAfterSaleDep">
    	<id column="ID" property="id"/>
	    <result column="NAME" property="name"/>
	    <result column="TYPE" property="type"/>
	    <result column="ADDRESS" property="address"/>
	    <result column="LEAD_NAME" property="leadName"/>
	    <result column="MOBILE" property="mobile"/>
	    <result column="SUPPLIER_ID" property="supplierId"/>
  	</resultMap>
  	<sql id="Base_Column_List">
    	ID, NAME, TYPE, ADDRESS, LEAD_NAME, MOBILE, SUPPLIER_ID
  	</sql>
  
  	<!-- 根据主键查询 -->
  	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM T_SES_SMS_SUPPLIER_AFTER_SALE
		WHERE ID = #{id}
  	</select>
  
  	<!-- 根据主键删除 -->
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM T_SES_SMS_SUPPLIER_AFTER_SALE
		WHERE ID = #{id}
  	</delete>
  
  	<!-- 新增一条记录 -->
  	<insert id="insertSelective" parameterType="ses.model.sms.SupplierAfterSaleDep">
		INSERT INTO T_SES_SMS_SUPPLIER_AFTER_SALE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="type != null">
				TYPE,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="leadName != null">
				LEAD_NAME,
			</if>
			<if test="mobile != null">
				MOBILE,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="leadName != null">
				#{leadName},
			</if>
			<if test="mobile != null">
				#{mobile},
			</if>
			<if test="supplierId != null">
				#{supplierId},
			</if>
		</trim>
  	</insert>
	
	<!-- 根据主键修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierAfterSaleDep">
		UPDATE T_SES_SMS_SUPPLIER_AFTER_SALE
		<set>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="type != null">
				TYPE = #{type},
			</if>
			<if test="address != null">
				ADDRESS = #{address},
			</if>
			<if test="leadName != null">
				LEAD_NAME = #{leadName},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile},
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId},
			</if>
		</set>
		WHERE ID = #{id}
	</update>
	
	<!-- 根据供应商ID查询 -->
	<select id="findAfterSaleDepBySupplierId" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List"/>
		FROM T_SES_SMS_SUPPLIER_AFTER_SALE 
		WHERE SUPPLIER_ID = #{supplierId}
	</select>
	
	<!--根据供应商ID删除对应的信息  -->
	<delete id="deleteBySupplierId" parameterType="String">
   	DELETE FROM T_SES_SMS_SUPPLIER_AFTER_SALE
		WHERE SUPPLIER_ID = #{supplierId}
	</delete>
</mapper>