<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierFsInfoMapper">
  <resultMap id="BaseResultMap" type="ses.model.sms.SupplierFsInfo">
    <!--
    @mbggenerated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SUPPLIER_NAME" jdbcType="VARCHAR" property="supplierName" />
    <result column="SUPPLIER_TEPE" jdbcType="VARCHAR" property="supplierTepe" />
    <result column="SUPPLIER_CHINESR_NAME" jdbcType="VARCHAR" property="supplierChinesrName" />
    <result column="LEGAL_NAME" jdbcType="VARCHAR" property="legalName" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="SUPPLIER_ZIP_CODE" jdbcType="DECIMAL" property="supplierZipCode" />
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="MAJOR_PRODUCT" jdbcType="VARCHAR" property="majorProduct" />
    <result column="SIDE_PRODUCT" jdbcType="VARCHAR" property="sideProduct" />
    <result column="PRODUCER_NAME" jdbcType="VARCHAR" property="producerName" />
    <result column="CONTACT_PERSON" jdbcType="VARCHAR" property="contactPerson" />
    <result column="SUPPLIER_TELE" jdbcType="DECIMAL" property="supplierTele" />
    <result column="SUPPLIER_FAX" jdbcType="VARCHAR" property="supplierFax" />
    <result column="SUPPLIER_EMAIL" jdbcType="VARCHAR" property="supplierEmail" />
    <result column="NET_URL" jdbcType="VARCHAR" property="netUrl" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="ORGMAN_ID" jdbcType="DECIMAL" property="orgmanId" />
    <result column="SUPPLIER_PLEDGE" jdbcType="VARCHAR" property="supplierPledge" />
    <result column="SUPPLIER_REG_LIST" jdbcType="VARCHAR" property="supplierRegList" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="ses.model.sms.SupplierFsInfoWithBLOBs">
    <!--
    @mbggenerated
    -->
    <result column="SUPPLY_LEVEL" jdbcType="CLOB" property="supplyLevel" />
    <result column="SUPPLIER_REMARK" jdbcType="CLOB" property="supplierRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbggenerated
    -->
    ID, LOGIN_NAME, MOBILE, PASSWORD, SUPPLIER_NAME, SUPPLIER_TEPE, SUPPLIER_CHINESR_NAME, 
    LEGAL_NAME, ADDRESS, SUPPLIER_ZIP_CODE, PRODUCT_TYPE, MAJOR_PRODUCT, SIDE_PRODUCT, 
    PRODUCER_NAME, CONTACT_PERSON, SUPPLIER_TELE, SUPPLIER_FAX, SUPPLIER_EMAIL, NET_URL, 
    STATUS, ORGMAN_ID, SUPPLIER_PLEDGE, SUPPLIER_REG_LIST, CREATED_AT, UPDATED_AT
  </sql>
  <sql id="Blob_Column_List">
    <!--
    @mbggenerated
    -->
    SUPPLY_LEVEL, SUPPLIER_REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_SES_SMS_SUPPLIER_FS_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
    <select id="selectByFsInfo" parameterType="ses.model.sms.SupplierFsInfoWithBLOBs" resultMap="ResultMapWithBLOBs">
    <!--
    @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_SES_SMS_SUPPLIER_FS_INFO
    where 1=1
    <if test="supplierName!=null">
    	and SUPPLIER_NAME= #{supplierName,jdbcType=VARCHAR}
    </if>
    <if test="supplierTepe!=null">
    	and SUPPLIER_TEPE= #{supplierTepe,jdbcType=VARCHAR}
    </if>
    <if test="status!=null">
    	and status= #{status,jdbcType=DECIMAL}
    </if>
    </select>
  
    <select id="getCount" parameterType="ses.model.sms.SupplierFsInfoWithBLOBs" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select 
	count(*)
    from T_SES_SMS_SUPPLIER_FS_INFO
    where 1=1
    <if test="supplierName!=null">
    	and SUPPLIER_NAME= #{supplierName,jdbcType=VARCHAR}
    </if>
    <if test="supplierTepe!=null">
    	and SUPPLIER_TEPE= #{supplierTepe,jdbcType=VARCHAR}
    </if>
    <if test="status!=null">
    	and status= #{status,jdbcType=DECIMAL}
    </if>
  </select>
  
    <select id="selectIdByLoginName" parameterType="ses.model.sms.SupplierFsInfoWithBLOBs" resultType="java.lang.String" >
		select ID from T_SES_SMS_SUPPLIER_FS_INFO t1 where t1.LOGIN_NAME=#{loginName,jdbcType=VARCHAR}
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    @mbggenerated
    -->
    delete from T_SES_SMS_SUPPLIER_FS_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.sms.SupplierFsInfoWithBLOBs">
    <!--
    @mbggenerated
    -->
    insert into T_SES_SMS_SUPPLIER_FS_INFO (ID, LOGIN_NAME, MOBILE, 
      PASSWORD, SUPPLIER_NAME, SUPPLIER_TEPE, 
      SUPPLIER_CHINESR_NAME, LEGAL_NAME, ADDRESS, 
      SUPPLIER_ZIP_CODE, PRODUCT_TYPE, MAJOR_PRODUCT, 
      SIDE_PRODUCT, PRODUCER_NAME, CONTACT_PERSON, 
      SUPPLIER_TELE, SUPPLIER_FAX, SUPPLIER_EMAIL, 
      NET_URL, STATUS, ORGMAN_ID, 
      SUPPLIER_PLEDGE, SUPPLIER_REG_LIST, CREATED_AT, 
      UPDATED_AT, SUPPLY_LEVEL, SUPPLIER_REMARK
      )
    values (#{id,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{supplierTepe,jdbcType=VARCHAR}, 
      #{supplierChinesrName,jdbcType=VARCHAR}, #{legalName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{supplierZipCode,jdbcType=DECIMAL}, #{productType,jdbcType=VARCHAR}, #{majorProduct,jdbcType=VARCHAR}, 
      #{sideProduct,jdbcType=VARCHAR}, #{producerName,jdbcType=VARCHAR}, #{contactPerson,jdbcType=VARCHAR}, 
      #{supplierTele,jdbcType=DECIMAL}, #{supplierFax,jdbcType=VARCHAR}, #{supplierEmail,jdbcType=VARCHAR}, 
      #{netUrl,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{orgmanId,jdbcType=DECIMAL}, 
      #{supplierPledge,jdbcType=VARCHAR}, #{supplierRegList,jdbcType=VARCHAR}, #{createdAt,jdbcType=DATE}, 
      #{updatedAt,jdbcType=DATE}, #{supplyLevel,jdbcType=CLOB}, #{supplierRemark,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="ses.model.sms.SupplierFsInfoWithBLOBs">
    <!--
    @mbggenerated
    -->
    insert into T_SES_SMS_SUPPLIER_FS_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="supplierName != null">
        SUPPLIER_NAME,
      </if>
      <if test="supplierTepe != null">
        SUPPLIER_TEPE,
      </if>
      <if test="supplierChinesrName != null">
        SUPPLIER_CHINESR_NAME,
      </if>
      <if test="legalName != null">
        LEGAL_NAME,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="supplierZipCode != null">
        SUPPLIER_ZIP_CODE,
      </if>
      <if test="productType != null">
        PRODUCT_TYPE,
      </if>
      <if test="majorProduct != null">
        MAJOR_PRODUCT,
      </if>
      <if test="sideProduct != null">
        SIDE_PRODUCT,
      </if>
      <if test="producerName != null">
        PRODUCER_NAME,
      </if>
      <if test="contactPerson != null">
        CONTACT_PERSON,
      </if>
      <if test="supplierTele != null">
        SUPPLIER_TELE,
      </if>
      <if test="supplierFax != null">
        SUPPLIER_FAX,
      </if>
      <if test="supplierEmail != null">
        SUPPLIER_EMAIL,
      </if>
      <if test="netUrl != null">
        NET_URL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="orgmanId != null">
        ORGMAN_ID,
      </if>
      <if test="supplierPledge != null">
        SUPPLIER_PLEDGE,
      </if>
      <if test="supplierRegList != null">
        SUPPLIER_REG_LIST,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="supplyLevel != null">
        SUPPLY_LEVEL,
      </if>
      <if test="supplierRemark != null">
        SUPPLIER_REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierTepe != null">
        #{supplierTepe,jdbcType=VARCHAR},
      </if>
      <if test="supplierChinesrName != null">
        #{supplierChinesrName,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null">
        #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="supplierZipCode != null">
        #{supplierZipCode,jdbcType=DECIMAL},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="majorProduct != null">
        #{majorProduct,jdbcType=VARCHAR},
      </if>
      <if test="sideProduct != null">
        #{sideProduct,jdbcType=VARCHAR},
      </if>
      <if test="producerName != null">
        #{producerName,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null">
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="supplierTele != null">
        #{supplierTele,jdbcType=DECIMAL},
      </if>
      <if test="supplierFax != null">
        #{supplierFax,jdbcType=VARCHAR},
      </if>
      <if test="supplierEmail != null">
        #{supplierEmail,jdbcType=VARCHAR},
      </if>
      <if test="netUrl != null">
        #{netUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="orgmanId != null">
        #{orgmanId,jdbcType=DECIMAL},
      </if>
      <if test="supplierPledge != null">
        #{supplierPledge,jdbcType=VARCHAR},
      </if>
      <if test="supplierRegList != null">
        #{supplierRegList,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
      <if test="supplyLevel != null">
        #{supplyLevel,jdbcType=CLOB},
      </if>
      <if test="supplierRemark != null">
        #{supplierRemark,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierFsInfoWithBLOBs">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_FS_INFO
    <set>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierTepe != null">
        SUPPLIER_TEPE = #{supplierTepe,jdbcType=VARCHAR},
      </if>
      <if test="supplierChinesrName != null">
        SUPPLIER_CHINESR_NAME = #{supplierChinesrName,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null">
        LEGAL_NAME = #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="supplierZipCode != null">
        SUPPLIER_ZIP_CODE = #{supplierZipCode,jdbcType=DECIMAL},
      </if>
      <if test="productType != null">
        PRODUCT_TYPE = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="majorProduct != null">
        MAJOR_PRODUCT = #{majorProduct,jdbcType=VARCHAR},
      </if>
      <if test="sideProduct != null">
        SIDE_PRODUCT = #{sideProduct,jdbcType=VARCHAR},
      </if>
      <if test="producerName != null">
        PRODUCER_NAME = #{producerName,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null">
        CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="supplierTele != null">
        SUPPLIER_TELE = #{supplierTele,jdbcType=DECIMAL},
      </if>
      <if test="supplierFax != null">
        SUPPLIER_FAX = #{supplierFax,jdbcType=VARCHAR},
      </if>
      <if test="supplierEmail != null">
        SUPPLIER_EMAIL = #{supplierEmail,jdbcType=VARCHAR},
      </if>
      <if test="netUrl != null">
        NET_URL = #{netUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="orgmanId != null">
        ORGMAN_ID = #{orgmanId,jdbcType=VARCHAR},
      </if>
      <if test="supplierPledge != null">
        SUPPLIER_PLEDGE = #{supplierPledge,jdbcType=VARCHAR},
      </if>
      <if test="supplierRegList != null">
        SUPPLIER_REG_LIST = #{supplierRegList,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
      <if test="supplyLevel != null">
        SUPPLY_LEVEL = #{supplyLevel,jdbcType=CLOB},
      </if>
      <if test="supplierRemark != null">
        SUPPLIER_REMARK = #{supplierRemark,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ses.model.sms.SupplierFsInfoWithBLOBs">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_FS_INFO
    set LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      SUPPLIER_TEPE = #{supplierTepe,jdbcType=VARCHAR},
      SUPPLIER_CHINESR_NAME = #{supplierChinesrName,jdbcType=VARCHAR},
      LEGAL_NAME = #{legalName,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      SUPPLIER_ZIP_CODE = #{supplierZipCode,jdbcType=DECIMAL},
      PRODUCT_TYPE = #{productType,jdbcType=VARCHAR},
      MAJOR_PRODUCT = #{majorProduct,jdbcType=VARCHAR},
      SIDE_PRODUCT = #{sideProduct,jdbcType=VARCHAR},
      PRODUCER_NAME = #{producerName,jdbcType=VARCHAR},
      CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
      SUPPLIER_TELE = #{supplierTele,jdbcType=DECIMAL},
      SUPPLIER_FAX = #{supplierFax,jdbcType=VARCHAR},
      SUPPLIER_EMAIL = #{supplierEmail,jdbcType=VARCHAR},
      NET_URL = #{netUrl,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      ORGMAN_ID = #{orgmanId,jdbcType=DECIMAL},
      SUPPLIER_PLEDGE = #{supplierPledge,jdbcType=VARCHAR},
      SUPPLIER_REG_LIST = #{supplierRegList,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE},
      SUPPLY_LEVEL = #{supplyLevel,jdbcType=CLOB},
      SUPPLIER_REMARK = #{supplierRemark,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierFsInfo">
    <!--
    @mbggenerated
    -->
    update T_SES_SMS_SUPPLIER_FS_INFO
    set LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      SUPPLIER_TEPE = #{supplierTepe,jdbcType=VARCHAR},
      SUPPLIER_CHINESR_NAME = #{supplierChinesrName,jdbcType=VARCHAR},
      LEGAL_NAME = #{legalName,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      SUPPLIER_ZIP_CODE = #{supplierZipCode,jdbcType=DECIMAL},
      PRODUCT_TYPE = #{productType,jdbcType=VARCHAR},
      MAJOR_PRODUCT = #{majorProduct,jdbcType=VARCHAR},
      SIDE_PRODUCT = #{sideProduct,jdbcType=VARCHAR},
      PRODUCER_NAME = #{producerName,jdbcType=VARCHAR},
      CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
      SUPPLIER_TELE = #{supplierTele,jdbcType=DECIMAL},
      SUPPLIER_FAX = #{supplierFax,jdbcType=VARCHAR},
      SUPPLIER_EMAIL = #{supplierEmail,jdbcType=VARCHAR},
      NET_URL = #{netUrl,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      ORGMAN_ID = #{orgmanId,jdbcType=DECIMAL},
      SUPPLIER_PLEDGE = #{supplierPledge,jdbcType=VARCHAR},
      SUPPLIER_REG_LIST = #{supplierRegList,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>