<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierRegPersonMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.SupplierRegPerson">
		<id column="ID" property="id" />
		<result column="MAT_ENG_ID" property="matEngId" />
		<result column="REG_TYPE" property="regType" />
		<result column="REG_NAME" property="regNumber" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, MAT_ENG_ID, REG_TYPE, REG_NAME
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_REG_PERSON
		where ID = #{id}
	</select>
	<insert id="insert" parameterType="ses.model.sms.SupplierRegPerson">
		insert into T_SES_SMS_SUPPLIER_REG_PERSON (ID, MAT_ENG_ID, REG_TYPE,
		REG_NAME)
		values (#{id}, #{matEngId}, #{regType},
		#{regNumber})
	</insert>
	<insert id="insertSelective" parameterType="ses.model.sms.SupplierRegPerson">
		insert into T_SES_SMS_SUPPLIER_REG_PERSON
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="matEngId != null">
				MAT_ENG_ID,
			</if>
			<if test="regType != null">
				REG_TYPE,
			</if>
			<if test="regNumber != null">
				REG_NAME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="matEngId != null">
				#{matEngId},
			</if>
			<if test="regType != null">
				#{regType},
			</if>
			<if test="regNumber != null">
				#{regNumber},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierRegPerson">
		update T_SES_SMS_SUPPLIER_REG_PERSON
		<set>
			<if test="matEngId != null">
				MAT_ENG_ID = #{matEngId},
			</if>
			<if test="regType != null">
				REG_TYPE = #{regType},
			</if>
			<if test="regNumber != null">
				REG_NAME = #{regNumber},
			</if>
		</set>
		where ID = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierRegPerson">
		update T_SES_SMS_SUPPLIER_REG_PERSON
		set MAT_ENG_ID = #{matEngId},
		REG_TYPE = #{regType},
		REG_NAME = #{regNumber}
		where ID = #{id}
	</update>
	<select id="findRegPersonByMatEngId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from T_SES_SMS_SUPPLIER_REG_PERSON where MAT_ENG_ID = #{supplierMatEngId}
	</select>
	
	<!-- 根据主键删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_REG_PERSON
		where ID = #{id}
	</delete>
	<!-- 根据工程id删除 -->
	<delete id="deleteByMatEngId" parameterType="String">
	  delete from T_SES_SMS_SUPPLIER_REG_PERSON
		where MAT_ENG_ID = #{matEngId}
	</delete>
</mapper>