<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierFinanceMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.SupplierFinance">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="YEAR" property="year" />
		<result column="TELEPHONE" property="telephone" />
		<result column="AUDITORS" property="auditors" />
		<result column="QUOTA" property="quota" />
		<result column="TOTAL_ASSETS" property="totalAssets" />
		<result column="TOTAL_LIABILITIES" property="totalLiabilities" />
		<result column="TOTAL_NET_ASSETS" property="totalNetAssets" />
		<result column="TAKING" property="taking" />
		<result column="AUDIT_OPINION" property="auditOpinion" />
		<result column="LIABILITIES_LIST" property="liabilitiesList" />
		<result column="PROFIT_LIST" property="profitList" />
		<result column="CASH_FLOW_STATEMENT_LIST" property="cashFlowStatement" />
		<result column="CHANGE_LIST" property="changeList" />
		<result column="SUPPLIER_ID" property="supplierId" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
		<result column="IS_DELETED" property="isDeleted" />
		<result column="STATUS" property="status" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, YEAR, TELEPHONE, AUDITORS, QUOTA, TOTAL_ASSETS, TOTAL_LIABILITIES, TOTAL_NET_ASSETS,
		TAKING, AUDIT_OPINION, LIABILITIES_LIST, PROFIT_LIST, CASH_FLOW_STATEMENT_LIST, CHANGE_LIST,
		SUPPLIER_ID, CREATED_AT, UPDATED_AT ,IS_DELETED ,STATUS
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_FINANCE
		where ID = #{id}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_FINANCE
		where ID = #{id}
	</delete>
	<insert id="insert" parameterType="ses.model.sms.SupplierFinance">
		insert into T_SES_SMS_SUPPLIER_FINANCE (ID, NAME, YEAR,
		TELEPHONE, AUDITORS, QUOTA,
		TOTAL_ASSETS, TOTAL_LIABILITIES, TOTAL_NET_ASSETS,
		TAKING, AUDIT_OPINION, LIABILITIES_LIST,
		PROFIT_LIST, CASH_FLOW_STATEMENT_LIST, CHANGE_LIST,
		SUPPLIER_ID, CREATED_AT, UPDATED_AT
		)
		values (#{id}, #{name}, #{year},
		#{telephone}, #{auditors}, #{quota},
		#{totalAssets}, #{totalLiabilities}, #{totalNetAssets},
		#{taking}, #{auditOpinion}, #{liabilitiesList},
		#{profitList}, #{cashFlowStatement}, #{changeList},
		#{supplierId}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="ses.model.sms.SupplierFinance">
		insert into T_SES_SMS_SUPPLIER_FINANCE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="year != null">
				YEAR,
			</if>
			<if test="telephone != null">
				TELEPHONE,
			</if>
			<if test="auditors != null">
				AUDITORS,
			</if>
			<if test="quota != null">
				QUOTA,
			</if>
			<if test="totalAssets != null">
				TOTAL_ASSETS,
			</if>
			<if test="totalLiabilities != null">
				TOTAL_LIABILITIES,
			</if>
			<if test="totalNetAssets != null">
				TOTAL_NET_ASSETS,
			</if>
			<if test="taking != null">
				TAKING,
			</if>
			<if test="auditOpinion != null">
				AUDIT_OPINION,
			</if>
			<if test="liabilitiesList != null">
				LIABILITIES_LIST,
			</if>
			<if test="profitList != null">
				PROFIT_LIST,
			</if>
			<if test="cashFlowStatement != null">
				CASH_FLOW_STATEMENT_LIST,
			</if>
			<if test="changeList != null">
				CHANGE_LIST,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="year != null">
				#{year},
			</if>
			<if test="telephone != null">
				#{telephone},
			</if>
			<if test="auditors != null">
				#{auditors},
			</if>
			<if test="quota != null">
				#{quota},
			</if>
			<if test="totalAssets != null">
				#{totalAssets},
			</if>
			<if test="totalLiabilities != null">
				#{totalLiabilities},
			</if>
			<if test="totalNetAssets != null">
				#{totalNetAssets},
			</if>
			<if test="taking != null">
				#{taking},
			</if>
			<if test="auditOpinion != null">
				#{auditOpinion},
			</if>
			<if test="liabilitiesList != null">
				#{liabilitiesList},
			</if>
			<if test="profitList != null">
				#{profitList},
			</if>
			<if test="cashFlowStatement != null">
				#{cashFlowStatement},
			</if>
			<if test="changeList != null">
				#{changeList},
			</if>
			<if test="supplierId != null">
				#{supplierId},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierFinance">
		update T_SES_SMS_SUPPLIER_FINANCE
		<set>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="year != null">
				YEAR = #{year},
			</if>
			<if test="telephone != null">
				TELEPHONE = #{telephone},
			</if>
			<if test="auditors != null">
				AUDITORS = #{auditors},
			</if>
			<if test="quota != null">
				QUOTA = #{quota},
			</if>
			<if test="totalAssets != null">
				TOTAL_ASSETS = #{totalAssets},
			</if>
			<if test="totalLiabilities != null">
				TOTAL_LIABILITIES = #{totalLiabilities},
			</if>
			<if test="totalNetAssets != null">
				TOTAL_NET_ASSETS = #{totalNetAssets},
			</if>
			<if test="taking != null">
				TAKING = #{taking},
			</if>
	<!-- 		<if test="auditOpinion != null">
				AUDIT_OPINION = #{auditOpinion},
			</if>
			<if test="liabilitiesList != null">
				LIABILITIES_LIST = #{liabilitiesList},
			</if>
			<if test="profitList != null">
				PROFIT_LIST = #{profitList},
			</if>
			<if test="cashFlowStatement != null">
				CASH_FLOW_STATEMENT_LIST = #{cashFlowStatement},
			</if>
			<if test="changeList != null">
				CHANGE_LIST = #{changeList},
			</if> -->
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted},
			</if>
		</set>
		where ID = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierFinance">
		update T_SES_SMS_SUPPLIER_FINANCE
		set NAME = #{name},
		YEAR = #{year},
		TELEPHONE = #{telephone},
		AUDITORS = #{auditors},
		QUOTA = #{quota},
		TOTAL_ASSETS = #{totalAssets},
		TOTAL_LIABILITIES = #{totalLiabilities},
		TOTAL_NET_ASSETS = #{totalNetAssets},
		TAKING = #{taking},
		AUDIT_OPINION = #{auditOpinion},
		LIABILITIES_LIST = #{liabilitiesList},
		PROFIT_LIST = #{profitList},
		CASH_FLOW_STATEMENT_LIST = #{cashFlowStatement},
		CHANGE_LIST = #{changeList},
		SUPPLIER_ID = #{supplierId},
		CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
		UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
		where ID = #{id}
	</update>
	
	<select id="findFinanceBySupplierId" parameterType="java.lang.String" resultMap="findFinanceBySupplierId">
		select 
			*
		from 
			T_SES_SMS_SUPPLIER_FINANCE
		where 
			SUPPLIER_ID = #{SUPPLIER_ID}
	</select>
	
	<select id="findFinanceBySid" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_FINANCE
		where 1=1 and IS_DELETED = 0
		<if test="name != null and name != ''">
			and NAME like CONCAT(CONCAT('%', #{name}), '%')
		</if>
		<if test="supplierId !=null and supplierId !=''">
		    and SUPPLIER_ID = #{supplierId}
		</if>
		ORDER BY YEAR ASC
	</select>
	
	
	<resultMap type="ses.model.sms.SupplierFinance" id="findFinanceBySupplierId" extends="BaseResultMap">
		<collection property="listUploadFiles" ofType="common.model.UploadFile">
			<id column="ID_" property="id"/>
			<result column="FILE_NAME" property="name"/>
			<result column="FILE_SIZE" property="size"/>
			<result column="TYPE_ID" property="typeId"/>
		</collection>
	</resultMap>
	
	<delete id="deleteFinanceBySupplierId" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_FINANCE where SUPPLIER_ID = #{SUPPLIER_ID}
	</delete>
	 
	 <select id="getFinacne" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from  T_SES_SMS_SUPPLIER_FINANCE
		where SUPPLIER_ID=#{supplierId} and YEAR=#{year}
	</select>
	
	
	<select id="getFinanceBySid" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_FINANCE
		where 1=1
		<if test="supplierId !=null and supplierId !=''">
		    and SUPPLIER_ID = #{supplierId}
		</if>
		ORDER BY YEAR ASC
	</select>
	
	<select id="getMaxTotalNetAssets" resultType="java.math.BigDecimal">
		SELECT MAX(a.avg_score) 
		FROM (
			SELECT ID,avg(TOTAL_NET_ASSETS) avg_score 
			FROM T_SES_SMS_SUPPLIER_FINANCE 
			GROUP BY ID
			) a 
	</select>
	
	<select id="getMaxTaking" resultType="java.math.BigDecimal">
		SELECT MAX(a.avg_score) 
		FROM (
			SELECT ID,avg(TAKING) avg_score 
			FROM T_SES_SMS_SUPPLIER_FINANCE 
			GROUP BY ID
			) a 
	</select>
	
	
	<select id="findSupplierIdById" parameterType="java.lang.String" resultType="java.lang.String">
		select 
			SUPPLIER_ID
		from 
			T_SES_SMS_SUPPLIER_FINANCE
		where 
			ID = #{id}
	</select>
</mapper>