<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.sms.SupplierMatSellMapper">
	<resultMap id="BaseResultMap" type="ses.model.sms.SupplierMatSell">
		<id column="ID" property="id" />
		<result column="SUPPLIER_ID" property="supplierId" />
		<result column="ORG_NAME" property="orgName" />
		<result column="TOTAL_PERSON" property="totalPerson" />
		<result column="TOTAL_MANAGE" property="totalMange" />
		<result column="TOTAL_TECH" property="totalTech" />
		<result column="TOTAL_WORKER" property="totalWorker" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
	</resultMap>
	<sql id="Base_Column_List">
		ID, SUPPLIER_ID, ORG_NAME, TOTAL_PERSON, TOTAL_MANAGE, TOTAL_TECH, TOTAL_WORKER, CREATED_AT,
		UPDATED_AT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_SUPPLIER_MAT_SELL
		where ID = #{id}
	</select>
	<insert id="insert" parameterType="ses.model.sms.SupplierMatSell">
		insert into T_SES_SMS_SUPPLIER_MAT_SELL (ID, SUPPLIER_ID, ORG_NAME,
		TOTAL_PERSON, TOTAL_MANAGE, TOTAL_TECH,
		TOTAL_WORKER, CREATED_AT, UPDATED_AT
		)
		values (#{id}, #{supplierId}, #{orgName},
		#{totalPerson}, #{totalMange}, #{totalTech},
		#{totalWorker}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="ses.model.sms.SupplierMatSell">
		insert into T_SES_SMS_SUPPLIER_MAT_SELL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="orgName != null">
				ORG_NAME,
			</if>
			<if test="totalPerson != null">
				TOTAL_PERSON,
			</if>
			<if test="totalMange != null">
				TOTAL_MANAGE,
			</if>
			<if test="totalTech != null">
				TOTAL_TECH,
			</if>
			<if test="totalWorker != null">
				TOTAL_WORKER,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="supplierId != null">
				#{supplierId},
			</if>
			<if test="orgName != null">
				#{orgName},
			</if>
			<if test="totalPerson != null">
				#{totalPerson},
			</if>
			<if test="totalMange != null">
				#{totalMange},
			</if>
			<if test="totalTech != null">
				#{totalTech},
			</if>
			<if test="totalWorker != null">
				#{totalWorker},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.sms.SupplierMatSell">
		update T_SES_SMS_SUPPLIER_MAT_SELL
		<set>
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId},
			</if>
			<if test="orgName != null">
				ORG_NAME = #{orgName},
			</if>
			<if test="totalPerson != null">
				TOTAL_PERSON = #{totalPerson},
			</if>
			<if test="totalMange != null">
				TOTAL_MANAGE = #{totalMange},
			</if>
			<if test="totalTech != null">
				TOTAL_TECH = #{totalTech},
			</if>
			<if test="totalWorker != null">
				TOTAL_WORKER = #{totalWorker},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.sms.SupplierMatSell">
		update T_SES_SMS_SUPPLIER_MAT_SELL
		set SUPPLIER_ID = #{supplierId},
		ORG_NAME = #{orgName},
		TOTAL_PERSON = #{totalPerson},
		TOTAL_MANAGE = #{totalMange},
		TOTAL_TECH = #{totalTech},
		TOTAL_WORKER = #{totalWorker},
		CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
		UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
		where ID = #{id}
	</update>
	<select id="getMatSellBySupplierId" parameterType="java.lang.String" resultMap="MatSellMap">
		select * from T_SES_SMS_SUPPLIER_MAT_SELL where SUPPLIER_ID = #{supplierId}
	</select>
	<resultMap type="ses.model.sms.SupplierMatSell" id="MatSellMap" extends="BaseResultMap">
		<collection property="listSupplierCertSells" select="ses.dao.sms.SupplierCertSellMapper.findCertSellByMatSellId" column="ID"></collection>
	</resultMap>
	
	<select id="findSupplierIdById" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
			SUPPLIER_ID
		FROM
			T_SES_SMS_SUPPLIER_CERT_SELL t1
		LEFT JOIN T_SES_SMS_SUPPLIER_MAT_SELL t2 ON t1.MAT_SELL_ID = t2.ID
		WHERE
			t1.ID = #{id}
	</select>
	
	<!-- 根据主键删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_MAT_SELL
		where ID = #{id}
	</delete>
	<!-- 根据供应商id删除 -->
	<delete id="deleteBySupplierId" parameterType="java.lang.String">
		delete from T_SES_SMS_SUPPLIER_MAT_SELL
		where SUPPLIER_ID = #{supplierId}
	</delete>
	
</mapper>