<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task-3.1.xsd">
	
	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	<!-- <task:annotation-driven/>   -->
	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="ses.service,iss.service,bss.service,bss.util,ses.util,common.service,synchro.*" />
	
	<!--  <task:executor id="executor" pool-size="5" />
	<task:scheduler id="scheduler" pool-size="10" />
	<task:annotation-driven executor="executor" scheduler="scheduler"/> 
	
	<task:scheduled-tasks>
        <task:scheduled ref="myTask" method="task11" cron="0 11 14 * * ?"/>   
	</task:scheduled-tasks>  -->
	
	 <task:scheduled-tasks>
        <!-- <task:scheduled ref="innerInfoTask" method="exportInfo" cron="0 0 0/6 * * ?"/>  -->
        <task:scheduled ref="outerReadTask" method="outerReadTask" cron="0 0 0/6 * * ?"/>  
	</task:scheduled-tasks> 
	
	<!-- 线程池 -->
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="20" />
		<property name="maxPoolSize" value="100" /> 
		<property name="queueCapacity" value="1000" />
		<property name="keepAliveSeconds" value="300" />
		<property name="rejectedExecutionHandler">  
		  <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
		</property>
	</bean>
</beans>