<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.2.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	
	<mvc:annotation-driven/>  
	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="ses.controller, iss.controller,bss.controller,common.controller" />


	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- springMVC拦截器 -->  
 	 <mvc:interceptors>
		<mvc:interceptor>
			<!-- 需要拦截的地址 -->
			<mvc:mapping path="/*/*.do" />
			<mvc:mapping path="/*/*.ajax" />
			<mvc:mapping path="/*/*.html" />
			<!-- 需要排除拦截的地址 -->
			
			<!-- 首页浏览信息 -->
			<mvc:exclude-mapping path="/index/selectIndexNews.*" />
			<mvc:exclude-mapping path="/index/selectArticleNewsById.*" />
			<mvc:exclude-mapping path="/index/selectIndexNewsByTypeId.*" />
			
			<!-- 论坛首页浏览 -->
			<mvc:exclude-mapping path="/park/getIndex.*" />
			<mvc:exclude-mapping path="/post/getIndexlist.*" />
			<mvc:exclude-mapping path="/post/getHotlist.*" />
			<mvc:exclude-mapping path="/post/getIndexDetail.*" />	
			
			<!-- 首页登录 -->
			<mvc:exclude-mapping path="/index/sign.*" />			
			<mvc:exclude-mapping path="/login/login.*" />
			
			<!-- 供应商注册 -->
			<mvc:exclude-mapping path="/supplier/*.*" />    
			
			<!-- 地区管理 -->
			<mvc:exclude-mapping path="/area/find_root_area.*" />
			<mvc:exclude-mapping path="/area/find_area_by_parent_id.*" />
			
			<!-- 文件上传和下载 -->
			<mvc:exclude-mapping path="/file/*.*" />
			
			<!-- 后期删除此项 -->
			<mvc:exclude-mapping path="/my_test/*.*" />
			
			<bean class="ses.interceptor.MyInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" /><!-- json转换器 -->
			</list>
		</property>
	</bean>


	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/view/" p:suffix=".jsp" />

<!-- 	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>32505856</value> 
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean> -->
	<bean id="multipartResolver" class="bss.util.MyMultipartResolver">
     <property name="excludeUrls" value="file/upload"/>
		<!-- url中带有example的http请求就不会被multipartResolver先解析-->
	</bean>



	<!-- 自定义异常 -->
	<bean id="exceptionHandler" class="ses.util.MyException"/>

	<!-- 日期全局转换器 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="webBindingInitializer">
			<bean class="ses.util.DateConvert" />
		</property>
	</bean>

	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="ses.util.DateUtil" />
			</list>
		</property>
	</bean>
	<!-- 配置注解驱动：相当于配置了处理器映射器，处理器适配器 -->
	<mvc:annotation-driven conversion-service="conversionService"
		validator="validator" />

	<!-- 校验器 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<!-- 校验错误信息配置文 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
		p:basename="messages" />

</beans>