<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/task  
		http://www.springframework.org/schema/task/spring-task-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	
	<mvc:annotation-driven>
	  <mvc:argument-resolvers>
	    <bean class="common.resolver.LoginedArgumentResolver"/>
	  </mvc:argument-resolvers>
	</mvc:annotation-driven>  
	
    <task:annotation-driven />
	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="ses.controller, iss.controller,bss.controller,common.controller,synchro.controller,common.aspect,system.controller,sums.controller,app.controller,dss.controller" />
  
  	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- springMVC拦截器 -->  
 	 <mvc:interceptors>
		<mvc:interceptor>
<!-- 			需要拦截的地址 -->
			<mvc:mapping path="/*/*.do" />
			<mvc:mapping path="/*/*.ajax" />
			<mvc:mapping path="/*/*.html" />
<!-- 			需要排除拦截的地址 -->
			
<!-- 			首页浏览信息 -->
			<mvc:exclude-mapping path="/index/selectIndexNews.*" />
			<mvc:exclude-mapping path="/index/selectArticleNewsById.*" />
			<mvc:exclude-mapping path="/index/selectIndexNewsByTypeId.*" />
			<mvc:exclude-mapping path="/index/solrSearch.*" />
			<mvc:exclude-mapping path="/index/selectIndexNewsByParId.*" />
			<mvc:exclude-mapping path="/index/selectsumByParId.*" />
			<mvc:exclude-mapping path="/index/selectsumBynews.*" />
			<mvc:exclude-mapping path="/index/selectsumBydanNews.*" />
			<mvc:exclude-mapping path="/index/selectsumBydanNews.*" />
			<mvc:exclude-mapping path="/index/downloadDetailsImage.*" />
			<mvc:exclude-mapping path="/index/selectAllByTabs.*" />
			<mvc:exclude-mapping path="/index/selectAllByDanTabs.*" /> 
			<mvc:exclude-mapping path="/index/selectIndexChuFaNewsByTypeId.*" /> 
			<mvc:exclude-mapping path="/browser/index.*" />
			<mvc:exclude-mapping path="/browser/download.*" />
			<mvc:exclude-mapping path="/browser/ntkoDownload.*" />
			<mvc:exclude-mapping path="/park/getIndex.*" />
			<mvc:exclude-mapping path="/userInfo/loginInfo.*" />
			<mvc:exclude-mapping path="/index/selectsumByDirectory.*" />
	        <mvc:exclude-mapping path="/article/categoryTree.*" />
				

<!-- 			首页登录 -->
			<mvc:exclude-mapping path="/index/sign.*" />			
			<mvc:exclude-mapping path="/login/login.*" />
			<mvc:exclude-mapping path="/dataDownload/getIndexList.*" />
			<mvc:exclude-mapping path="/templateDownload/getIndexList.*" />
			<!-- 过滤定型产品列表 -->
			<mvc:exclude-mapping path="/index/index_productList.*" />
			<!-- 过滤首页服务热线 -->
			<mvc:exclude-mapping path="/index/index_hotLineList.*" />
			
			<!-- 过滤产品目录-->
			<mvc:exclude-mapping path="/categorys/categoryList.*" />
			<!-- 过滤技术参数库 -->
			<mvc:exclude-mapping path="/categorys/parameterList.*" />
			
			<!-- app首页访问过滤 -->
			<mvc:exclude-mapping path="/api/v1/*" />
			
<!-- 			专家注册 -->
 			<mvc:exclude-mapping path="/expert/toExpert.*" />
 			<mvc:exclude-mapping path="/expert/toRegisterNotice.*" />
 			<mvc:exclude-mapping path="/expert/register.*" />
 			<mvc:exclude-mapping path="/expert/toAddBasicInfo.*" />
 			<mvc:exclude-mapping path="/expert/add.*" />
 			<mvc:exclude-mapping path="/expert/add1.*" />
 			<mvc:exclude-mapping path="/expert/zanCun.*" />
 			<mvc:exclude-mapping path="/expert/initData.*" />
 			<mvc:exclude-mapping path="/expert/isHaveCategory.*" />
 			<mvc:exclude-mapping path="/expert/findAuditReason.*" />
 			<mvc:exclude-mapping path="/expert/saveCategory.*" />
 			<mvc:exclude-mapping path="/expert/findAllLoginName.*" />
 			<mvc:exclude-mapping path="/expert/findAttachment.*" />
 			<mvc:exclude-mapping path="/expert/getCategoryByExpertId.*" />
 			<mvc:exclude-mapping path="/expert/getPurDepIdByExpertId.*" />
 			<mvc:exclude-mapping path="/expert/getCategory.*" />
 			<mvc:exclude-mapping path="/expert/getAllCategory.*" />
 			<mvc:exclude-mapping path="/expert/showJiGou.*" />
 			<mvc:exclude-mapping path="/expert/searchCate.*" />
 			<mvc:exclude-mapping path="/expert/findAllLoginName.*" />
 			<mvc:exclude-mapping path="/expert/validatePhone.*" />
 			<mvc:exclude-mapping path="/expert/validateAge.*" />
 			<mvc:exclude-mapping path="/expert/validateIdNumber.*" />
 			<mvc:exclude-mapping path="/expert/validateIdCardNumber.*" />
 			<mvc:exclude-mapping path="/expert/updateStepNumber.*" />
 			<mvc:exclude-mapping path="/expert/getPIdandCIdByPurDepId.*" />
 			<mvc:exclude-mapping path="/expert/download.*" />
 			<mvc:exclude-mapping path="/expert/downloadBook.*" />
 			<mvc:exclude-mapping path="/expert/downloadSupplier.*" />
 			<mvc:exclude-mapping path="/expert/downCategory.*" />
 			<mvc:exclude-mapping path="/expert/downloadSupplierNotice.*" />
 			<mvc:exclude-mapping path="/expert/downSupplierNotice.*" />
 			<mvc:exclude-mapping path="/expert/downNotice.*" />
 			<mvc:exclude-mapping path="/area/find_by_parent_id.*" />
			<mvc:exclude-mapping path="/area/find_by_id.*" />
			<mvc:exclude-mapping path="/area/listByOne.*" />
			<mvc:exclude-mapping path="/expert/validateAuditTime.*" />
			<mvc:exclude-mapping path="/expert/*.*" />
      <mvc:exclude-mapping path="/user/ajaxIdNumber.*" />
			
<!-- 			供应商注册 -->
			<mvc:exclude-mapping path="/supplier/*.*" /> 
			<mvc:exclude-mapping path="/supplier_finance/*.*" />
			<mvc:exclude-mapping path="/supplier_stockholder/*.*" />
			<mvc:exclude-mapping path="/supplier_aptitute/*.*" />
			<mvc:exclude-mapping path="/supplier_cert_eng/*.*" />
			<mvc:exclude-mapping path="/supplier_cert_pro/*.*" />
			<mvc:exclude-mapping path="/supplier_cert_se/*.*" />
			<mvc:exclude-mapping path="/supplier_cert_sell/*.*" />
			<mvc:exclude-mapping path="/supplier_item/*.*" />
			<mvc:exclude-mapping path="/categoryparam/*.*" />
			<mvc:exclude-mapping path="/supplier_reg_person/*.*" />
			<mvc:exclude-mapping path="/supplier_products/*.*" />
			<mvc:exclude-mapping path="/supplier_type/*.*" />
			<mvc:exclude-mapping path="/product_param/*.*" />
			<mvc:exclude-mapping path="/supplierAudit/*.*" />
			<mvc:exclude-mapping path="/supplier_type_relate/*.*" />
			<mvc:exclude-mapping path="/category/find_category.*" />
			<mvc:exclude-mapping path="/categoryparam/flist_by_category_id_and_products_id.*" />
			<mvc:exclude-mapping path="/supplier/validateAuditTime.*" />
			<mvc:exclude-mapping path="/supplier/isCommit.*" />
			<mvc:exclude-mapping path="/supplier/getUUID.*" />
			<mvc:exclude-mapping path="/supplier/validateCreditCode.*" />
			
<!-- 			地区管理 -->
			<mvc:exclude-mapping path="/area/find_root_area.*" />
			<mvc:exclude-mapping path="/area/find_area_by_parent_id.*" />
			<mvc:exclude-mapping path="/area/findParentAddress.*" />
<!--            退出 -->			
			<mvc:exclude-mapping path="/login/loginOut.*" />
<!-- 			文件上传和下载 -->
			<mvc:exclude-mapping path="/file/*.*" />
			<mvc:exclude-mapping path="/browser/*.*" />
			
			<!-- 缓存管理 -->
			<mvc:exclude-mapping path="/cacheManage/clearStringCache.*" />	
			
			<!-- 竞价管理 -->
			<mvc:exclude-mapping path="/obrule/addRule.*" />
			<mvc:exclude-mapping path="/obrule/ruleList.*" />
			<mvc:exclude-mapping path="/obrule/delete.*" />
			
<!-- 			后期删除此项 -->
			<mvc:exclude-mapping path="/my_test/*.*" />
			
			<!-- 定型产品 -->
			<mvc:exclude-mapping path="/product/selPurchaseDepbyId.*" /> 
			<!-- 前天搜索-->
			<mvc:exclude-mapping path="/index/solrSearch1.*" />
			
			<bean class="ses.interceptor.MyInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" /><!-- json转换器 -->
			</list>
		</property>
	</bean>


	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/WEB-INF/view/"/>
    	<property name="suffix" value=".jsp"/>
   		<property name="exposedContextBeanNames">
        	<list>
        	  <value>properties</value>
        	</list>
    	</property>
    </bean>

<!-- 	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>32505856</value> 
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean> -->
	<bean id="multipartResolver" class="bss.util.MyMultipartResolver">
     <property name="excludeUrls" value="file/upload,supplierProject/saveBidFile,open_bidding/saveBidFile,purchaseContract/saveContractFile"/>
		<!-- url中带有http请求就不会被multipartResolver先解析-->
	</bean>



	<!-- 自定义异常 -->
	<bean id="exceptionHandler" class="ses.util.MyException"/>

	<!-- 日期全局转换器 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="webBindingInitializer">
			<bean class="ses.util.DateConvert" />
		</property>
	</bean>

	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="ses.util.DateUtil" />
			</list>
		</property>
	</bean>
	<!-- 配置注解驱动：相当于配置了处理器映射器，处理器适配器 -->
	<mvc:annotation-driven conversion-service="conversionService"
		validator="validator" />

	<!-- 校验器 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<!-- 校验错误信息配置文 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
		p:basename="messages" />

</beans>