<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ppms.CategoryParamMapper">
 <resultMap id="CategoryParamMap" type="ses.model.ppms.CategoryParam">
    <id column="ID"  property="id" />
    <result column="NAME"  property="name" />
    <result column="VALUE_TYPE"  property="valueType" />
    <result column="CREATED_AT" property="createdAt" />
    <result column="UPDATED_AT"  property="updatedAt" />
    <result column="IS_DELETED"  property="isDeleted" />
   	<result column="PARAM_VALUE"  property="paramValue" />
   	<result column="PARAM_VALUE_ID"  property="paramValueId" />
    <association  column="CATEGORY_ID"  property="category"  select="ses.dao.bms.CategoryMapper.selectByPrimaryKey"/>  
 </resultMap>
 
 <!-- 表中所有列 -->
    <sql id="Base_Column_List">
		    ID, NAME,VALUE_TYPE,CREATED_AT, UPDATED_AT,CATEGORY_ID,IS_DELETED    
    </sql>
 <!-- 查询所有 -->
    <select id="selectAll" parameterType="Object" resultMap="CategoryParamMap">
     select 
     <include refid="Base_Column_List"/>
     from T_SES_PPMS_CATEGORY_PARAM
    </select>
    
    <!-- 根据pid查询生成树 -->
  <select id="findTreeByPid" parameterType="Object" resultMap="CategoryParamMap">
  select
  <include refid="Base_Column_List" />
  from T_SES_BMS_CATEGORY
  where PARENT_ID=#{category.id}
  </select>
  
    <!-- 根据品目id查询参数列表 -->
        <select id="findListByCategoryId" parameterType="Object" resultMap="CategoryParamMap">
            select 
                <include refid="Base_Column_List" />
                    from T_SES_PPMS_CATEGORY_PARAM  
            where CATEGORY_ID=#{category.id}
        </select>
    <!-- 1.根据Id查询 -->
		<select id="selectByPrimaryKey" parameterType="Object" resultMap="CategoryParamMap">
			    select 
			    <include refid="Base_Column_List" />
			    from T_SES_PPMS_CATEGORY_PARAM
			    where CATEGORY_ID = #{category.id}
		  </select>
    <!-- 新增参数 -->
    <insert id="insertSelective" parameterType="ses.model.ppms.CategoryParam">
		    <selectKey keyProperty="id" resultType="String" order="BEFORE">
		        select sys_guid() from dual
		    </selectKey>
		    insert into T_SES_PPMS_CATEGORY_PARAM
		    <trim prefix="(" suffix=")" suffixOverrides=",">
		      <if test="id != null">
		        ID,
		      </if>
		      <if test="name != null">
		        NAME,
		      </if>
		      <if test="createdAt != null">
		        CREATED_AT,
		      </if>
		      <if test="updatedAt != null">
		        UPDATED_AT,
		      </if>
		      <if test="valueType != null">
		        VALUE_TYPE,
		      </if>
		      <if test="category != null">
		        CATEGORY_ID,
		      </if>
		      <if test="isDeleted != null">
		        IS_DELETED,
		      </if>
		    </trim>
		    <trim prefix="values (" suffix=")" suffixOverrides=",">
		      <if test="id != null">
		        #{id},
		      </if>
		      <if test="name != null">
		        #{name},
		      </if>
		      <if test="createdAt != null">
		        #{createdAt},
		      </if>
		      <if test="updatedAt != null">
		        #{updatedAt},
		      </if>
		      <if test="valueType != null">
		        #{valueType},
		      </if>
		       <if test="category != null">
		        #{category.id},
		      </if>
		      <if test="isDeleted != null">
		        #{isDeleted},
		      </if>
		    </trim>
		  </insert>
    <!-- 4根据ID删除 -->
		  <delete id="deleteByPrimaryKey" parameterType="Object">
			    delete from T_SES_PPMS_CATEGORY_PARAM
			    where ID = #{category.id}
		  </delete>
	<!-- 6根据ID更新数据 -->
		  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ppms.CategoryParam">
		    update T_SES_PPMS_CATEGORY_PARAM
		    <set>
		      <if test="name != null">
		        NAME = #{name},
		      </if>
		       <if test="valueType != null">
		        VALUE_TYPE = #{valueType},
		      </if>
		      <!--  <if test="createdAt != null">
		        CREATED_AT = #{createdAt},
		      </if> -->
		      <if test="updatedAt != null">
		        UPDATED_AT = #{updatedAt},
		      </if>
		     <!--  <if test="category != null">
		        CATEGORY_ID = #{category.id},
		      </if>	 -->
		      	 <if test="isDeleted != null">
		        IS_DELETED = #{isDeleted},
		      </if>	     
		    </set>
		    where CATEGORY_ID = #{category.id}
		  </update>
		  
	<select id="findParamByCategoryIdAndProductsId" parameterType="java.util.Map" resultMap="CategoryParamMap">
		select 
			t1.*,
			t2.PARAM_VALUE,
			t2.ID as PARAM_VALUE_ID
		from T_SES_PPMS_CATEGORY_PARAM t1
		left join T_SES_SMS_PRODUCT_PARAM t2
		on t1.ID = t2.CATEGORY_PARAM_ID 
		where t1.CATEGORY_ID = #{categoryId}
		<if test="productsId != null and productsId != ''">
			and t2.SUPPLIER_PRODUCTS_ID = #{productsId}
		</if>
	</select>			
</mapper>