<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.pqims.PqInfoMapper">
  <resultMap id="PqInfoResultMap" type="bss.model.pqims.PqInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />  
    <result column="PROJECT_TYPE" jdbcType="VARCHAR" property="projectType" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="PLACE" jdbcType="VARCHAR" property="place" />
    <result column="PQDATE" jdbcType="TIMESTAMP" property="pqdate" />
    <result column="INSPECTORS"  jdbcType="VARCHAR" property="inspectors" />
    <result column="CONDITION"  jdbcType="VARCHAR" property="condition" />
    <result column="CONCLUSION"  jdbcType="VARCHAR" property="conclusion" />
    <result column="DETAIL"  jdbcType="VARCHAR" property="detail" />
    <result column="REPORT"  jdbcType="VARCHAR" property="report" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <!-- 查询合同  -->
    <association column="CONTRACT_ID"  property="contract" select="bss.dao.cs.PurchaseContractMapper.selectContractByid" />  
  </resultMap>
  
  <!-- 表名 -->
  <sql id="Tabel_Name">
    T_BSS_PQIMS_PQINFO
  </sql>
  
  <!-- 表中所有列 -->
  <sql id="Base_Column_List">
    ID, CONTRACT_ID, PROJECT_TYPE, UNIT, TYPE, PLACE, PQDATE, INSPECTORS, CONDITION, CONCLUSION, 
    DETAIL, REPORT, CREATED_AT, UPDATED_AT
  </sql>
  
  <!-- 查询条件 -->
  <sql id="Example_Where_Clause">
    <trim suffixOverrides=",">
      <if test="id != null and id != ''">
        and p.ID = #{id} 
      </if>
      <if test="contract != null">
        and p.CONTRACT_ID = #{contract.id} 
      </if>
      <if test="projectType != null and projectType != ''">
        and p.PROJECT_TYPE = #{projectType} 
      </if>
      <if test="createdAt != null">
        and p.CREATED_AT = #{createdAt} 
      </if>
      <if test="unit != null and unit != ''">
        and p.UNIT = #{unit} 
      </if>
      <if test="updatedAt != null">
        and p.UPDATED_AT = #{updatedAt} 
      </if>
      <if test="type != null">
        and p.TYPE = #{type}
      </if> 
      <if test="place != null and place != ''">
        and p.PLACE = #{place}
      </if>
      <if test="pqdate != null">
        and p.PQDATE = #{pqdate}
      </if>
      <if test="inspectors != null and inspectors != ''">
        and p.INSPECTORS = #{inspectors}
      </if>
      <if test="condition != null and condition != ''">
        and p.CONDITION= #{condition}
      </if>
      <if test="conclusion != null">
        and p.CONCLUSION = #{conclusion} 
      </if>
      <if test="detail != null and detail != ''">
        and p.DETAIL = #{detail} 
      </if>
      <if test="report != null">
        and p.REPORT = #{report} 
      </if>
    </trim>
  </sql>
  
   <!-- 1.根据id查询(不带关联集合) -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="PqInfoResultMap">
    select 
    *
    from T_BSS_PQIMS_PQINFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 2.根据id删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_PQIMS_PQINFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 3.插入数据 -->
  <insert id="insert" parameterType="bss.model.pqims.PqInfo">
 	
    insert into T_BSS_PQIMS_PQINFO (ID, CONTRACT_ID, PROJECT_TYPE, 
      UNIT, TYPE, PLACE, 
      PQDATE, INSPECTORS, CONDITION, 
      CONCLUSION, DETAIL, REPORT, 
      CREATED_AT, UPDATED_AT)
    values (#{id}, #{contractId}, #{projectType}, 
      #{unit}, #{type}, #{place}, 
      #{pqdate,jdbcType=TIMESTAMP}, #{inspectors}, #{condition}, 
      #{conclusion}, #{detail}, #{report}, 
      #{createdAt}, #{updatedAt})
  </insert>
  
  <!-- 4.插入不为空数据 -->
  <insert id="insertSelective" parameterType="bss.model.pqims.PqInfo">
    insert into T_BSS_PQIMS_PQINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id != ''">
        ID,
      </if>
      <if test="contract != null">
        CONTRACT_ID,
      </if>
      <if test="projectType != null  and projectType !=''">
        PROJECT_TYPE,
      </if>
      <if test="unit != null and unit !=''">
        UNIT,
      </if>
      <if test="type != null and type !=''">
        TYPE,
      </if>
      <if test="place != null and place !=''">
        PLACE,
      </if>
      <if test="pqdate != null">
        PQDATE,
      </if>
      <if test="inspectors != null  and inspectors !=''">
        INSPECTORS,
      </if>
      <if test="condition != null  and condition !=''">
        CONDITION,
      </if>
      <if test="conclusion != null  and conclusion != ''">
        CONCLUSION,
      </if>
      <if test="detail != null and detail != ''">
        DETAIL,
      </if>
      <if test="report != null and report != ''">
        REPORT,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null ">
        #{id},
      </if>
      <if test="contract != null">
        #{contract.id},
      </if>
      <if test="projectType != null">
        #{projectType},
      </if>
      <if test="unit != null">
        #{unit},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="place != null">
        #{place},
      </if>
      <if test="pqdate != null">
        #{pqdate,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectors != null">
        #{inspectors},
      </if>
      <if test="condition != null ">
        #{condition},
      </if>
      <if test="conclusion != null">
        #{conclusion},
      </if>
      <if test="detail != null ">
        #{detail},
      </if>
      <if test="report != null">
        #{report},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <!-- 5.根据更新不为空数据 -->
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.pqims.PqInfo">
    update T_BSS_PQIMS_PQINFO
    <set>
      <if test="contract != null">
        CONTRACT_ID = #{contract.id,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null">
        PROJECT_TYPE = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        PLACE = #{place,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        PQDATE = #{pqdate,jdbcType=TIMESTAMP},
      </if>
      <if test="inspectors != null">
        INSPECTORS = #{inspectors,jdbcType=VARCHAR},
      </if>
      <if test="condition != null">
        CONDITION = #{condition,jdbcType=VARCHAR},
      </if>
      <if test="conclusion != null">
        CONCLUSION = #{conclusion,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        DETAIL = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="report != null">
        REPORT = #{report,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 6.更新数据 -->
  <update id="updateByPrimaryKey" parameterType="bss.model.pqims.PqInfo">
    update T_BSS_PQIMS_PQINFO
    set CONTRACT_ID = #{contract.id,jdbcType=VARCHAR},
      PROJECT_TYPE = #{projectType,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      PLACE = #{place,jdbcType=VARCHAR},
      PQDATE = #{pqdate,jdbcType=TIMESTAMP},
      INSPECTORS = #{inspectors,jdbcType=VARCHAR},
      CONDITION = #{condition,jdbcType=VARCHAR},
      CONCLUSION = #{conclusion,jdbcType=VARCHAR},
      DETAIL = #{detail,jdbcType=VARCHAR},
      REPORT = #{report,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 7.列表总数 -->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
    select count(1) 
    from T_BSS_PQIMS_PQINFO p inner JOIN T_BSS_CS_PURCHASE_CONTRACT c on p.CONTRACT_ID = c.id
    LEFT JOIN T_SES_SMS_SUPPLIER s on c.SUPPLIER_DEP_NAME = s.ID
    where s.ID = #{id}
    
  </select>
  
  <select id="selectByContract" resultMap="PqInfoResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from T_BSS_PQIMS_PQINFO
    where 1=1
    <if test="contract != null">
      and CONTRACT_ID = #{contract.id} 
    </if>
  </select>
  
  <!-- 8.查询列表(查询不为空的字段，不带关联集合) -->
  <select id="queryByList" resultMap="PqInfoResultMap" parameterType="Object">
    select
    *
    from T_BSS_PQIMS_PQINFO p
    ORDER BY p.CREATED_AT DESC
  </select>
  
   <!-- 9.根据条件查询 -->
  <select id="selectByCondition" parameterType="Object" resultMap="PqInfoResultMap">
    select 
    *
    from T_BSS_PQIMS_PQINFO p LEFT JOIN T_BSS_CS_PURCHASE_CONTRACT c on p.CONTRACT_ID = c.id
        where 1=1
	 <if test="conclusion != null and conclusion !='-请选择-'">
       AND p.CONCLUSION=#{conclusion} 
     </if>
     <if test="type != null and type !='-请选择-'">
       AND p.TYPE=#{type} 
     </if>
     <if test="contract.code != null and contract.code != ''">
       AND c.CODE LIKE  CONCAT(CONCAT('%', #{contract.code}), '%')
     </if>
     <if test="contract.name != null and contract.name != ''">
      AND  c.NAME LIKE CONCAT(CONCAT('%', #{contract.name}), '%')
     </if>
     ORDER BY p.CREATED_AT DESC
  </select>
  
  <!-- 8.供应商质检合格总次数 -->
  <select id="queryByCountSuccess" resultType="Object" parameterType="Object">
    select COUNT(1)
    from T_BSS_PQIMS_PQINFO p inner JOIN T_BSS_CS_PURCHASE_CONTRACT c on p.CONTRACT_ID = c.id
	WHERE p.CONCLUSION = '合格'
	AND c.SUPPLIER_DEP_NAME=#{supplierName,jdbcType=VARCHAR}
	GROUP BY c.SUPPLIER_DEP_NAME ORDER BY c.SUPPLIER_DEP_NAME 
  </select>
  
    <!-- 9.供应商质检不合格总次数 -->
  <select id="queryByCountFail" resultType="Object" parameterType="Object">
    select COUNT(1)
    from T_BSS_PQIMS_PQINFO p inner JOIN T_BSS_CS_PURCHASE_CONTRACT c on p.CONTRACT_ID = c.id
	WHERE p.CONCLUSION = '不合格'
	AND c.SUPPLIER_DEP_NAME=#{supplierName,jdbcType=VARCHAR}
	GROUP BY c.SUPPLIER_DEP_NAME ORDER BY c.SUPPLIER_DEP_NAME 
  </select>
  
   <!-- 10.供应商列表查询 -->
  <select id="queryDepName" resultType="Object" parameterType="Object">
    select c.SUPPLIER_DEP_NAME
    from T_BSS_PQIMS_PQINFO p inner JOIN T_BSS_CS_PURCHASE_CONTRACT c on p.CONTRACT_ID = c.id
    GROUP BY c.SUPPLIER_DEP_NAME ORDER BY c.SUPPLIER_DEP_NAME 
  </select>
  
   <!-- 11.根据供应商名称查询列表supplierDepName -->
  <select id="selectByDepName" resultType="Object" parameterType="Object">
    select s.SUPPLIER_NAME,s.ID
    from T_BSS_PQIMS_PQINFO p inner JOIN T_BSS_CS_PURCHASE_CONTRACT c on p.CONTRACT_ID = c.id
    LEFT JOIN T_SES_SMS_SUPPLIER s on c.SUPPLIER_DEP_NAME = s.ID
    <if test="contract.supplierDepName != null and contract.supplierDepName != ''">
    where s.SUPPLIER_NAME LIKE CONCAT(CONCAT('%', #{contract.supplierDepName}), '%')
    </if>
  </select>
    
  <!-- selet2查询合同,根据采购方式 -->
  <select id="selectChose" parameterType="Object" resultType="bss.model.sstps.Select">
  	select *
  	from T_BSS_CS_PURCHASE_CONTRACT
  	WHERE 
  		IS_DELETED = 0
  		AND STATUS = 2
		AND PURCHASE_TYPE = #{purchaseType}
  </select>
  
   <!-- 查询图片路径 -->
  <select id="queryPath" parameterType="Object" resultType="Object">
  	select TYPE_ID
  	from T_SES_BMS_ATTACHMENT
  	WHERE 
		BUSINESS_ID = #{id}
		AND
		IS_DELETED = 0
  </select>
  
  
</mapper>