<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.ps.ArticleTypeMapper">
  <resultMap id="ArticleTypeMapper" type="iss.model.ps.ArticleType">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="DESCRIBE" property="describe" />
    <result column="CREATED_AT"  property="createdAt" jdbcType="TIMESTAMP"/>
    <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP"/>
    <result column="CODE"  property="code" />
    <result column="PARENT_ID"  property="parentId" />
    <result column="SHOW_NUM" property="showNum"/>
    <association column="CREATER_ID" property="creater" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>
    <association column="PARENT_ID" property="articleType" select="selectTypeByPrimaryKey"/>
  </resultMap>
  
  <!-- 统计映射关系 -->
  <resultMap type="ses.model.bms.AnalyzeBigDecimal" id="baseAnalyzeBigDecimal">
		<result column="COL_GROUP" property="group"/>
		<result column="COL_NAME" property="name"/>
		<result column="COL_VALUE" property="value"/>
		<result column="COL_ID" property="id"/>
	</resultMap>
  
  <sql id="ArticleType_Column_List">
    ID, NAME, CREATED_AT,CREATER_ID, UPDATED_AT,DESCRIBE,CODE,PARENT_ID,SHOW_NUM
  </sql>
  
  <!-- 根据id查询栏目类型 -->
  <select id="selectTypeByPrimaryKey" parameterType="Object" resultMap="ArticleTypeMapper">
    select 
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    where ID = #{id}
  </select>
  
  <!-- 查询所有栏目信息(按时间排序) -->
  <select id="selectAllArticleType" resultMap="ArticleTypeMapper">
  	select
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    order by to_number(id)
  </select>
  
    <!-- 查询所有栏目信息 -->
  <select id="getAll" resultMap="ArticleTypeMapper">
    select
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE  
    order by to_number(id) 
  </select>
  
  <!-- 为首页查询所有文章栏目 -->
  <select id="selectAllArticleTypeForSolr" resultMap="ArticleTypeMapper">
  	select
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
  </select>
  

  <!-- 根据条件修改栏目信息 -->
  <update id="updateByPrimaryKey" parameterType="iss.model.ps.ArticleType">
    update T_ISS_PS_ARTICLE_TYPE
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
       <if test="describe != null">
        DESCRIBE = #{describe},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="showNum != null">
        SHOW_NUM = #{showNum},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <update id="updateShowNum">
    update T_ISS_PS_ARTICLE_TYPE
    set SHOW_NUM = 0
  </update>
  
    <!-- 根据id查询栏目类型 -->
  <select id="selectArticleTypeByCode" parameterType="Object" resultMap="ArticleTypeMapper">
    select 
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    where CODE = #{code}
  </select>
  
  
   <!-- 根据parent_id获取栏目 -->
  <select id="selectByParentId" parameterType="java.lang.String" resultMap="ArticleTypeMapper">
    select 
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    where PARENT_ID = #{parentId}
    order by decode("NAME",'公开招标',0,'邀请招标',1,'竞争性谈判',2,'询价',3)
  </select>
  
  <select id="selectShowNumByParId" parameterType="java.lang.String" resultMap="ArticleTypeMapper">
  	select 
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    where PARENT_ID = #{parentId}
  </select>
  
  <!-- 根据各栏目信息查询公告 -->
  <select id="selectNoticeByArticleType" resultMap="baseAnalyzeBigDecimal">
  	  SELECT P.NAME AS COL_GROUP, COUNT(T.ID) AS COL_VALUE, P.ID AS COL_ID
		   FROM (SELECT T.ID, T.NAME
		           FROM T_ISS_PS_ARTICLE_TYPE T
		          WHERE T.PARENT_ID = 0) P
		   LEFT JOIN T_ISS_PS_ARTICLE T
		     ON P.ID = T.ARTICLE_TYPE_ID
		  WHERE T.STATUS = 2
		  GROUP BY P.NAME, P.ID
  </select>
  
  <!-- 根据各类型公告查询 -->
  <select id="selectNoticeByCateType" resultMap="baseAnalyzeBigDecimal">
  	 SELECT P.NAME AS COL_GROUP, COUNT(T.ID) AS COL_VALUE, P.ID AS COL_ID
		   FROM (SELECT T.ID, T.NAME
		           FROM T_ISS_PS_ARTICLE_TYPE T
		          WHERE T.PARENT_ID = 45) P
		   LEFT JOIN T_ISS_PS_ARTICLE T
		     ON P.ID = T.THREE_ARTICLE_TYPE_ID
		  WHERE T.STATUS = 2
		  GROUP BY P.NAME, P.ID
  </select>
  
  <!-- 根据各采购方式公告查询 -->
  <select id="selectNoticeByPurWay" resultMap="baseAnalyzeBigDecimal">
  	  SELECT P.NAME AS COL_GROUP, COUNT(T.ID) AS COL_VALUE, P.ID AS COL_ID
		   FROM (SELECT T.ID, T.NAME
		           FROM T_ISS_PS_ARTICLE_TYPE T
		          WHERE T.PARENT_ID = 46) P
		   LEFT JOIN T_ISS_PS_ARTICLE T
		     ON P.ID = T.FOUR_ARTICLE_TYPE_ID
		  WHERE T.STATUS = 2
		  GROUP BY P.NAME, P.ID
  </select>
  
  <!-- 发布排名前10的产品类别数量 -->
  <select id="selectNoticeByProductCate" resultMap="baseAnalyzeBigDecimal">
  	 SELECT COL_NAME, COL_VALUE, COL_ID
			   FROM (SELECT C.NAME AS COL_NAME,
			                COUNT(T.CATEGORY_ID) AS COL_VALUE,
			                T.CATEGORY_ID AS COL_ID
			           FROM (SELECT T.NAME, T.ID
			                   FROM T_SES_BMS_CATEGORY T
			                  WHERE IS_DELETED = 0) C
			           LEFT JOIN (SELECT C.CATEGORY_ID
			                       FROM T_ISS_PS_ARTICLE A
			                       LEFT JOIN T_SES_BMS_ARTICLE_CATEGORY C
			                         ON A.ID = C.ARTICLE_ID
			                      WHERE A.STATUS = 2
			                        AND A.IS_DELETED = 0) T
			             ON C.ID = T.CATEGORY_ID
			          GROUP BY C.NAME, T.CATEGORY_ID
			          ORDER BY COL_VALUE DESC) T
			  WHERE ROWNUM &lt;= 10
  </select>
  
</mapper>