<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.ps.ArticleMapper">
  <resultMap id="ArticleMapper" type="iss.model.ps.Article">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="PUBLISHED_AT" jdbcType="TIMESTAMP" property="publishedAt" />
    <result column="IS_PIC_SHOW" property="isPicShow" />
    <result column="POSITION" property="position" />
    <result column="SHOW_COUNT" property="showCount" />
    <result column="DOWNLOAD_COUNT" property="downloadCount"/>
    <result column="STATUS" property="status" />
    <result column="PIC" property="pic" />
    <result column="PUBLISHED_NAME" property="publishedName" />
    <result column="IS_INDEX" property="isIndex" />
    <result column="TYPE" property="type" />
    <result column="PROJECT_ID" property="projectId" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="RANGE" property="range" />
    <result column="IS_DELETED" property="isDeleted" />
    <result column="REASON" property="reason" />
    <result column="SOURCE" property="source" />
    <result column="SOURCE_LINK" property="sourceLink" />
    
    <result column="SUBMIT_AT" jdbcType="TIMESTAMP" property="submitAt" />
    <result column="CANCAL_PUBLISH_AT" jdbcType="TIMESTAMP" property="cancelPublishAt" />
    
    <result column="SECOND_ARTICLE_TYPE_ID" property="secondArticleTypeId" />
    <result column="THREE_ARTICLE_TYPE_ID" property="threeArticleTypeId" />
    <result column="FOUR_ARTICLE_TYPE_ID" property="fourArticleTypeId" />
     <result column="category_id" property="categoryId" />
     <result column="categoryName" property="categoryName" />
      <result column="lastArticleTypeName" property="lastArticleTypeName" />
   
    
    <association property="user" column="USER_ID" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>
    <association property="articleType" column="ARTICLE_TYPE_ID" select="iss.dao.ps.ArticleTypeMapper.selectTypeByPrimaryKey"/>
    <association property="lastArticleType" column="LAST_ARTICLE_TYPE_ID" select="iss.dao.ps.ArticleTypeMapper.selectTypeByPrimaryKey"/>
  
  </resultMap> 
  
  <!-- 无关联查询 -->
  <resultMap id="ArticleBase" type="iss.model.ps.Article">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="PUBLISHED_AT" jdbcType="TIMESTAMP" property="publishedAt" />
    <result column="IS_PIC_SHOW" property="isPicShow" />
    <result column="POSITION" property="position" />
    <result column="SHOW_COUNT" property="showCount" />
    <result column="DOWNLOAD_COUNT" property="downloadCount"/>
    <result column="STATUS" property="status" />
    <result column="PIC" property="pic" />
    <result column="PUBLISHED_NAME" property="publishedName" />
    <result column="IS_INDEX" property="isIndex" />
    <result column="TYPE" property="type" />
    <result column="PROJECT_ID" property="projectId" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="RANGE" property="range" />
    <result column="IS_DELETED" property="isDeleted" />
    <result column="REASON" property="reason" />
    <result column="SOURCE" property="source" />
    <result column="SOURCE_LINK" property="sourceLink" />
    <result column="ARTICLE_TYPE_ID"  property="articleTypeId" />
    <result column="SECOND_ARTICLE_TYPE_ID" property="secondArticleTypeId" />
    <result column="THREE_ARTICLE_TYPE_ID" property="threeArticleTypeId" />
    <result column="FOUR_ARTICLE_TYPE_ID" property="fourArticleTypeId" />
    <result column="LAST_ARTICLE_TYPE_ID" property="lastArticleTypeId"/>
    <result column="SUBMIT_AT" jdbcType="TIMESTAMP" property="submitAt" />
    <result column="CANCAL_PUBLISH_AT" jdbcType="TIMESTAMP" property="cancelPublishAt" />
    <result column="USER_ID" property="userId"/>
  </resultMap>
  
   <resultMap extends="ArticleBase" id="ArticleBaseBlob" type="iss.model.ps.Article">
    <result column="CONTENT" jdbcType="CLOB" property="content"/>
  </resultMap>
  
  <resultMap extends="ArticleMapper" id="ArticleBlob" type="iss.model.ps.Article">
    <result column="CONTENT" jdbcType="CLOB" property="content"/>
  </resultMap>
  
  <resultMap extends="ArticleBlob" type="iss.model.ps.Article" id="ArticleWithAttach">
  	<collection property="articleAttachments" ofType="iss.model.ps.ArticleAttachments"/>
  </resultMap>
  
  <!-- 信息公告与品目关联 -->
  <resultMap id="ArticleCategoryMapper" type="iss.model.ps.ArticleCategory">
    <result column="ARTICLE_ID" property="articleId"/>
    <result column="CATEGORY_ID" property="categoryId"/>
  </resultMap>
  
  <sql id="Article_Column_List">
    ID, NAME, ARTICLE_TYPE_ID, PUBLISHED_AT, IS_PIC_SHOW, POSITION, USER_ID, SHOW_COUNT, DOWNLOAD_COUNT,
    STATUS, PIC, PUBLISHED_NAME, IS_INDEX, TYPE, PROJECT_ID, CREATED_AT, UPDATED_AT,RANGE,IS_DELETED,REASON,SOURCE,SOURCE_LINK,
    SECOND_ARTICLE_TYPE_ID,THREE_ARTICLE_TYPE_ID,FOUR_ARTICLE_TYPE_ID,LAST_ARTICLE_TYPE_ID,SUBMIT_AT,CANCAL_PUBLISH_AT
  </sql>
  
  <sql id="Article_BlOB_Column_List">
    CONTENT
  </sql>
  
  <!-- 根据ID查询 -->
  <select id="selectById" parameterType="Object" resultMap="ArticleWithAttach">
    select 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where  ID = #{id}
  </select>
  
  <select id="selectReleaseById" parameterType="Object" resultMap="ArticleWithAttach">
    select 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where  STATUS=2 and is_deleted=0 and ID = #{id}
  </select>
  
  <!-- <select id="selectAllArticleToSolr" resultMap="ArticleBlob">
  	select 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE where status=2 and IS_DELETED=0
  </select> -->
  <select id="selectAllArticleAddSolr" resultMap="ArticleBlob">
  	select 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE where status=2 and IS_DELETED=0
  </select>
  
  <!-- 查询全部 -->
  <select id="selectAllArticle" resultMap="ArticleWithAttach">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0
    order by CREATED_AT DESC
    <!-- order by decode(STATUS,4,0,0,1,1,2,3,3,2,4), CREATED_AT DESC -->
  </select>
  
  <select id="selectByJurisDiction" parameterType="Map" resultMap="ArticleWithAttach">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0
    <if test="userId != null and userId !=''">
    	and USER_ID = #{userId}
    </if>
    <if test="name != null">
        AND NAME LIKE CONCAT(CONCAT('%', #{name}), '%')
      </if>
      <if test="articleType != null">
         AND ARTICLE_TYPE_ID = #{articleType.id}
        </if>
      <if test="range != null">
        AND RANGE = #{range}
      </if>
      <if test="status != null">
        AND STATUS = #{status}
      </if>
    <!-- order by decode(STATUS,0,0,3,1,4,2,1,3,2,4), CREATED_AT DESC -->
     order by CREATED_AT DESC 
     <!--order by nvl(published_at,to_date('1900-01-01 00:00:00','YYYY-MM-DD hh24:mi:ss')) DESC -->
  </select>
  
  <!-- 查询附件 -->
  <select id="selectByFile" resultMap="ArticleWithAttach">
  	select 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where ID = #{id}
  </select>
  
  <!-- 根据条件查询列表 -->
  <select id="selectArticleByStatus"  parameterType="java.util.Map" resultMap="ArticleBlob">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0 
	  	<if test="name != null">
	  	  AND NAME LIKE CONCAT(CONCAT('%', #{name}), '%')
	  	</if>
	  	<if test="articleType != null">
       	 AND ARTICLE_TYPE_ID = #{articleType.id}
        </if>
        <if test="secondArticleTypeId != null">
       	 AND SECOND_ARTICLE_TYPE_ID = #{secondArticleTypeId}
        </if>
	  	<if test="range != null">
	  	  AND RANGE = #{range}
	  	</if>
	  	<if test="status != null">
        AND STATUS = #{status}
      </if>
      <if test="status == null">
        AND STATUS in (1,2,4)
      </if>
      <if test="publishStartDate != null">
        AND to_char(PUBLISHED_AT,'yyyy-mm-dd') &gt;= #{publishStartDate}
      </if>
      <if test="publishEndDate != null">
        AND to_char(PUBLISHED_AT,'yyyy-mm-dd') &lt;= #{publishEndDate}	
      </if>
    <!-- order by decode(STATUS,4,0,1,1,3,2,2,3), PUBLISHED_AT DESC -->
     <!--  order by SUBMIT_AT DESC -->
     order by PUBLISHED_AT DESC
  </select>
  
  
  <!-- 根据标题查询查询 -->
  <select id="selectArticleByName" parameterType="java.util.Map" resultMap="ArticleBlob">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0
    	<if test="name != null">
	  	  AND NAME LIKE CONCAT(CONCAT('%', #{name}), '%')
	  	</if>
	  	<if test="articleType != null">
       	 AND ARTICLE_TYPE_ID = #{articleType.id}
        </if>
	  	<if test="range != null">
	  	  AND RANGE = #{range}
	  	</if>
	  	<if test="status != null">
	  	  AND STATUS = #{status}
	  	</if>
    <!-- order by PUBLISHED_AT DESC -->
    order by CREATED_AT DESC
  </select>
  
  <!-- 查询所有位索引的信息 -->
  <select id="selectByIsIndex" resultMap="ArticleBlob">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0
    and IS_INDEX = 0
  </select>
  
  <!-- 校验信息标题-->
  <select id="checkName" parameterType="Object" resultMap="ArticleMapper">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
     from T_ISS_PS_ARTICLE
  	where IS_DELETED = 0
  	AND ID != #{id}
  </select>
  
  
  <!-- 根据ID删除 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete from T_ISS_PS_ARTICLE
    where ID = #{id}
  </delete>
  
  <!-- 假删除 -->
  <update id="Isdelete"  parameterType="Object">
  	update T_ISS_PS_ARTICLE
  	set IS_DELETED = 1,
  	UPDATED_AT=sysdate
  	where ID = #{id}
  </update>
  
  <!-- 新增信息 -->
  <insert id="insertSelective" parameterType="iss.model.ps.Article">
    insert into T_ISS_PS_ARTICLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="articleType != null">
        ARTICLE_TYPE_ID,
      </if>
      <if test="publishedAt != null">
        PUBLISHED_AT,
      </if>
      <if test="isPicShow != null">
        IS_PIC_SHOW,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="user != null">
        USER_ID,
      </if>
      <if test="showCount != null">
        SHOW_COUNT,
      </if>
      <if test="downloadCount != null">
        DOWNLOAD_COUNT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="pic != null">
        PIC,
      </if>
      <if test="publishedName != null">
        PUBLISHED_NAME,
      </if>
      <if test="isIndex != null">
        IS_INDEX,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="range != null">
        RANGE,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="sourceLink != null">
        SOURCE_LINK,
      </if>
      <if test="secondArticleTypeId != null">
        SECOND_ARTICLE_TYPE_ID,
      </if>
      <if test="threeArticleTypeId != null">
        THREE_ARTICLE_TYPE_ID,
      </if>
      <if test="fourArticleTypeId != null">
        FOUR_ARTICLE_TYPE_ID,
      </if>
      <if test="lastArticleTypeId != null">
        LAST_ARTICLE_TYPE_ID,
      </if>
      <if test="submitAt != null">
        SUBMIT_AT,
      </if>
      <if test="cancelPublishAt != null">
        CANCAL_PUBLISH_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="articleType != null">
        #{articleType.id},
      </if>
      <if test="publishedAt != null">
        #{publishedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isPicShow != null">
        #{isPicShow},
      </if>
      <if test="position != null">
        #{position},
      </if>
      <if test="user != null">
        #{user.id},
      </if>
      <if test="showCount != null">
        #{showCount},
      </if>
      <if test="downloadCount != null">
        #{downloadCount},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="pic != null">
        #{pic},
      </if>
      <if test="publishedName != null">
        #{publishedName},
      </if>
      <if test="isIndex != null">
        #{isIndex},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="projectId != null">
        #{projectId},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content},
      </if>
      <if test="range != null">
        #{range},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="reason != null">
        #{reason},
      </if>
      <if test="source != null">
        #{source},
      </if>
      <if test="sourceLink != null">
        #{sourceLink},
      </if>
      <if test="secondArticleTypeId != null">
        #{secondArticleTypeId},
      </if>
      <if test="threeArticleTypeId != null">
        #{threeArticleTypeId},
      </if>
      <if test="fourArticleTypeId != null">
        #{fourArticleTypeId},
      </if>
      <if test="lastArticleTypeId != null">
        #{lastArticleTypeId},
      </if>
      <if test="submitAt != null">
        #{submitAt},
      </if>
      <if test="cancelPublishAt != null">
        #{cancelPublishAt},
      </if>
    </trim>
  </insert>
  
  <!-- 新增信息数据同步使用 -->
  <insert id="insertArticle" parameterType="iss.model.ps.Article">
    insert into T_ISS_PS_ARTICLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="articleTypeId != null">
        ARTICLE_TYPE_ID,
      </if>
      <if test="publishedAt != null">
        PUBLISHED_AT,
      </if>
      <if test="isPicShow != null">
        IS_PIC_SHOW,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="showCount != null">
        SHOW_COUNT,
      </if>
      <if test="downloadCount != null">
        DOWNLOAD_COUNT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="pic != null">
        PIC,
      </if>
      <if test="publishedName != null">
        PUBLISHED_NAME,
      </if>
      <if test="isIndex != null">
        IS_INDEX,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="range != null">
        RANGE,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="sourceLink != null">
        SOURCE_LINK,
      </if>
      <if test="secondArticleTypeId != null">
        SECOND_ARTICLE_TYPE_ID,
      </if>
      <if test="threeArticleTypeId != null">
        THREE_ARTICLE_TYPE_ID,
      </if>
      <if test="fourArticleTypeId != null">
        FOUR_ARTICLE_TYPE_ID,
      </if>
      <if test="lastArticleTypeId != null">
        LAST_ARTICLE_TYPE_ID,
      </if>
      <if test="submitAt != null">
        SUBMIT_AT,
      </if>
      <if test="cancelPublishAt != null">
        CANCAL_PUBLISH_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="articleTypeId != null">
        #{articleTypeId},
      </if>
      <if test="publishedAt != null">
        #{publishedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isPicShow != null">
        #{isPicShow},
      </if>
      <if test="position != null">
        #{position},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="showCount != null">
        #{showCount},
      </if>
      <if test="downloadCount != null">
        #{downloadCount},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="pic != null">
        #{pic},
      </if>
      <if test="publishedName != null">
        #{publishedName},
      </if>
      <if test="isIndex != null">
        #{isIndex},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="projectId != null">
        #{projectId},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content},
      </if>
      <if test="range != null">
        #{range},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="reason != null">
        #{reason},
      </if>
      <if test="source != null">
        #{source},
      </if>
      <if test="sourceLink != null">
        #{sourceLink},
      </if>
      <if test="secondArticleTypeId != null">
        #{secondArticleTypeId},
      </if>
      <if test="threeArticleTypeId != null">
        #{threeArticleTypeId},
      </if>
      <if test="fourArticleTypeId != null">
        #{fourArticleTypeId},
      </if>
      <if test="lastArticleTypeId != null">
        #{lastArticleTypeId},
      </if>
      <if test="submitAt != null">
        #{submitAt},
      </if>
      <if test="cancelPublishAt != null">
        #{cancelPublishAt},
      </if>
    </trim>
  </insert>
  
  <!-- 修改 -->
  <update id="update" parameterType="iss.model.ps.Article">
    update T_ISS_PS_ARTICLE
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="articleType != null and articleType.id != null">
        ARTICLE_TYPE_ID = #{articleType.id},
      </if>
      <if test="publishedAt != null">
        PUBLISHED_AT = #{publishedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isPicShow != null">
        IS_PIC_SHOW = #{isPicShow,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=INTEGER},
      </if>
      <if test="user != null and user.id != null">
        USER_ID = #{user.id},
      </if>
      <if test="showCount != null">
        SHOW_COUNT = #{showCount,jdbcType=INTEGER},
      </if>
      <if test="downloadCount != null">
        DOWNLOAD_COUNT = #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        PIC = #{pic},
      </if>
      <if test="publishedName != null">
        PUBLISHED_NAME = #{publishedName},
      </if>
      <if test="isIndex != null">
        IS_INDEX = #{isIndex,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        TYPE = #{type},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        CONTENT = #{content},
      </if>
      <if test="range != null">
        RANGE = #{range,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
     	 REASON = #{reason},
      </if>
      <if test="source != null">
     	 SOURCE = #{source},
      </if>
      <if test="sourceLink != null">
     	 SOURCE_LINK = #{sourceLink},
      </if>
      <if test="secondArticleTypeId != null">
       SECOND_ARTICLE_TYPE_ID = #{secondArticleTypeId},
      </if>
      <if test="secondArticleTypeId == null">
       SECOND_ARTICLE_TYPE_ID = null,
      </if>
      <if test="threeArticleTypeId != null">
       THREE_ARTICLE_TYPE_ID = #{threeArticleTypeId},
      </if>
      <if test="threeArticleTypeId == null">
       THREE_ARTICLE_TYPE_ID = null,
      </if>
      <if test="fourArticleTypeId != null">
       FOUR_ARTICLE_TYPE_ID = #{fourArticleTypeId},
      </if>
      <if test="fourArticleTypeId == null">
       FOUR_ARTICLE_TYPE_ID = null,
      </if>
      <if test="lastArticleTypeId != null">
       LAST_ARTICLE_TYPE_ID = #{lastArticleTypeId},
      </if>
      <if test="submitAt != null">
       SUBMIT_AT = #{submitAt},
      </if>
      <if test="cancelPublishAt != null">
       CANCAL_PUBLISH_AT = #{cancelPublishAt},
      </if>
    </set>
    where ID = #{id}
  </update>
  
   <!-- 数据同步更新使用 -->
  <update id="updateArticle" parameterType="iss.model.ps.Article">
    update T_ISS_PS_ARTICLE
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="articleTypeId != null">
        ARTICLE_TYPE_ID = #{articleTypeId},
      </if>
      <if test="publishedAt != null">
        PUBLISHED_AT = #{publishedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isPicShow != null">
        IS_PIC_SHOW = #{isPicShow,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=INTEGER},
      </if>
      <if test="userId != null and userId != ''">
        USER_ID = #{userId},
      </if>
      <if test="showCount != null">
        SHOW_COUNT = #{showCount,jdbcType=INTEGER},
      </if>
      <if test="downloadCount != null">
        DOWNLOAD_COUNT = #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        PIC = #{pic},
      </if>
      <if test="publishedName != null">
        PUBLISHED_NAME = #{publishedName},
      </if>
      <if test="isIndex != null">
        IS_INDEX = #{isIndex,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        TYPE = #{type},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        CONTENT = #{content},
      </if>
      <if test="range != null">
        RANGE = #{range,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
     	 REASON = #{reason},
      </if>
      <if test="source != null">
     	 SOURCE = #{source},
      </if>
      <if test="sourceLink != null">
     	 SOURCE_LINK = #{sourceLink},
      </if>
      <if test="secondArticleTypeId != null">
       SECOND_ARTICLE_TYPE_ID = #{secondArticleTypeId},
      </if>
      <if test="secondArticleTypeId == null">
       SECOND_ARTICLE_TYPE_ID = null,
      </if>
      <if test="threeArticleTypeId != null">
       THREE_ARTICLE_TYPE_ID = #{threeArticleTypeId},
      </if>
      <if test="threeArticleTypeId == null">
       THREE_ARTICLE_TYPE_ID = null,
      </if>
      <if test="fourArticleTypeId != null">
       FOUR_ARTICLE_TYPE_ID = #{fourArticleTypeId},
      </if>
      <if test="lastArticleTypeId != null">
       LAST_ARTICLE_TYPE_ID = #{lastArticleTypeId},
      </if>
      <if test="submitAt != null">
       SUBMIT_AT = #{submitAt},
      </if>
      <if test="cancelPublishAt != null">
       CANCAL_PUBLISH_AT = #{cancelPublishAt},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据项目id查询 -->
  <select id="selectArticleByProjectId" resultMap="ArticleBlob">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE a
 <!--   LEFT JOIN T_ISS_PS_ARTICLE_TYPE at --> 
    where IS_DELETED = 0
    	AND PROJECT_ID = #{projectId}
	  	<if test="status != null">
	  	  AND a.STATUS = #{status}
	  	</if>
	  	<if test="articleType != null">
	  	  AND a.ARTICLE_TYPE_ID = #{articleType.id}
	  	</if>
  </select>
  
  
  <!-- 修改 -->
  <update id="updateisPicShow" parameterType="Object">
    update T_ISS_PS_ARTICLE
    set
        IS_PIC_SHOW = ''
    where IS_PIC_SHOW = #{isPicShow}
  </update>
  
  <select id="selectPic" resultMap="ArticleMapper">
  	SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
	WHERE
		IS_PIC_SHOW IN (1, 2, 3)
	ORDER BY
		IS_PIC_SHOW
  </select>
  
  <select id="selectPics" resultMap="ArticleMapper">
  	SELECT
	*
FROM
	(
		SELECT
			*
		FROM
			T_ISS_PS_ARTICLE
		WHERE
			LAST_ARTICLE_TYPE_ID = 111
		ORDER BY
			PUBLISHED_AT DESC
	)
WHERE
	1 = 1
AND IS_DELETED = 0
AND ROWNUM &lt;= 6
AND status = 2
  </select>
  
  <select id="selectArticleByParId" parameterType="Map" resultMap="ArticleMapper">
  	SELECT
	*
FROM
	(
		SELECT
			*
		FROM
			T_ISS_PS_ARTICLE
		WHERE
			LAST_ARTICLE_TYPE_ID IN (
				SELECT
					ID
				FROM
					T_ISS_PS_ARTICLE_TYPE
				WHERE
					PARENT_ID = #{parId}
			)
		ORDER BY
			published_at DESC
	)
WHERE
	1 = 1
AND status = 2
AND IS_DELETED = 0
AND ROWNUM &lt;= 10
  </select>
  
  <select id="selectAllByParId" parameterType="Map" resultMap="ArticleMapper">
	SELECT
	*
FROM
	(
		SELECT
			*
		FROM
			T_ISS_PS_ARTICLE
		WHERE
			LAST_ARTICLE_TYPE_ID IN (
				SELECT
					ID
				FROM
					T_ISS_PS_ARTICLE_TYPE
				WHERE
					PARENT_ID IN 
					<foreach item="item" index="index" collection="idArray" open="(" separator="," close=")">
    				#{item}
    				</foreach>
			)
		ORDER BY
			published_at DESC
	)
WHERE
	1 = 1
AND status = 2
AND IS_DELETED = 0
AND ROWNUM &lt;= 6
  </select>
  <!--  
  <select id="selectArticleByParIdTwo" parameterType="Map" resultMap="ArticleMapper">
  	SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
	WHERE
	LAST_ARTICLE_TYPE_ID IN (
		SELECT
			ID
		FROM
			T_ISS_PS_ARTICLE_TYPE
		WHERE
			PARENT_ID = #{parId}
	)
	<if test="title!=null and title!=''">
	 	and name like CONCAT(CONCAT('%', #{title}), '%')
	</if>
	and status = 2
	and IS_DELETED = 0
	order by published_at desc
  </select>
  -->
  
  <select id="selectArticleByParIdTwo" parameterType="Map" resultMap="ArticleMapper">
  	SELECT
	c.*,a.category_id,b.name as categoryName,d.name as lastArticleTypeName
FROM
	T_ISS_PS_ARTICLE c 
	left join  T_SES_BMS_ARTICLE_CATEGORY a on c.id=a.article_id 
	left join T_SES_BMS_CATEGORY b on a.category_id=b.id
	left join T_ISS_PS_ARTICLE_TYPE d on c.LAST_ARTICLE_TYPE_ID=d.id
WHERE
    1=1 
    and
	d.PARENT_ID = #{parId}
	<if test="title!=null and title!=''">
		and c.name like CONCAT(CONCAT('%', #{title}), '%')
	</if>
	<if test="productType!=null and productType!=''">
		and a.category_id = CONCAT(CONCAT('%', #{productType}), '%')
	</if>
	<if test="lastArticleTypeName!=null and lastArticleTypeName!=''">
		and d.name like CONCAT(CONCAT('%', #{lastArticleTypeName}), '%')
	</if>
	
	 <if test="publishStartDate != null and publishStartDate!=''">
        AND to_char(PUBLISHED_AT,'yyyy-mm-dd') &gt;= #{publishStartDate}
      </if>
      <if test="publishEndDate != null and publishEndDate!=''">
        AND to_char(PUBLISHED_AT,'yyyy-mm-dd') &lt;= #{publishEndDate}	
      </if>
	
	and c.status=2
	and c.IS_DELETED = 0
	order by published_at desc
  </select>
  
  
  
  <select id="selectArticleByArticleType" parameterType="Map" resultMap="ArticleMapper">
  	select * from (SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
	WHERE
	LAST_ARTICLE_TYPE_ID = #{typeId} order by published_at desc)
where 1=1
	and status = 2
	and IS_DELETED = 0
	and rownum &lt;=6
  </select>
  
  <select id="selectAllByArticleType" parameterType="Map" resultMap="ArticleMapper">
	select * from (SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
	WHERE
	LAST_ARTICLE_TYPE_ID in 
	<foreach item="item" index="index" collection="idArray" open="(" separator="," close=")">
    	#{item}
    </foreach>
	order by PUBLISHED_AT desc
) where 1=1
	and status = 2
	and IS_DELETED = 0
	and rownum &lt;=6
  </select>
  
  <select id="selectsumByParId" parameterType="Map" resultMap="ArticleMapper">
  	select
	*
  	from T_ISS_PS_ARTICLE
  	where LAST_ARTICLE_TYPE_ID in
  	<foreach item="item" index="index" collection="idArray" open="(" separator="," close=")">
    	#{item}
    </foreach>
    <if test="title!=null and title!=''">
		and name like CONCAT(CONCAT('%', #{title}), '%')
	</if>
    and status=2
    and IS_DELETED = 0
    order by published_at desc
  </select>
  
  <select id="selectsumBynews" parameterType="Map" resultMap="ArticleMapper">
  	SELECT
	c.*,a.category_id,b.name as categoryName,d.name as lastArticleTypeName
FROM
	T_ISS_PS_ARTICLE c 
	left join  T_SES_BMS_ARTICLE_CATEGORY a on c.id=a.article_id 
	left join T_SES_BMS_CATEGORY b on a.category_id=b.id
	left join T_ISS_PS_ARTICLE_TYPE d on c.LAST_ARTICLE_TYPE_ID=d.id
WHERE
	LAST_ARTICLE_TYPE_ID IN (
		SELECT
			ID
		FROM
			T_ISS_PS_ARTICLE_TYPE
		WHERE
			PARENT_ID = #{id} or parent_id = #{twoid}
	)
	<if test="title!=null and title!=''">
		and c.name like CONCAT(CONCAT('%', #{title}), '%')
	</if>
	<if test="productType!=null and productType!=''">
		and a.category_id = #{productType}
	</if>
	<if test="lastArticleTypeName!=null and lastArticleTypeName!=''">
		and d.name like CONCAT(CONCAT('%', #{lastArticleTypeName}), '%')
    </if>
	
	 <if test="publishStartDate != null and publishStartDate!=''">
        AND to_char(PUBLISHED_AT,'yyyy-mm-dd') &gt;= #{publishStartDate}
      </if>
      <if test="publishEndDate != null and publishEndDate!=''">
        AND to_char(PUBLISHED_AT,'yyyy-mm-dd') &lt;= #{publishEndDate}	
      </if>
	
	and c.status=2
	and c.IS_DELETED = 0
	order by published_at desc
  </select>
  
  <select id="selectsumBydanNews" parameterType="Map" resultMap="ArticleMapper">
  	SELECT
	*
	FROM
	T_ISS_PS_ARTICLE
	WHERE
	(LAST_ARTICLE_TYPE_ID = #{id} or LAST_ARTICLE_TYPE_ID = #{twoid})
	<if test="title!=null and title!=''">
		and name like CONCAT(CONCAT('%', #{title}), '%')
	</if>
	and status=2
	and IS_DELETED = 0
	order by published_at desc
  </select>
  
  <select id="selectJob" parameterType="Map" resultMap="ArticleMapper">
  	select * from (SELECT
	*
	FROM
	T_ISS_PS_ARTICLE
	WHERE
	LAST_ARTICLE_TYPE_ID = #{id}
	order by published_at desc
) where 1=1 and status=2 and rownum &lt;=10
	and IS_DELETED = 0
  </select>
  
  <select id="selectByTimer" parameterType="Map" resultType="Object">
  	SELECT
	COUNT (ID)
FROM
	t_iss_ps_article
WHERE
	published_at between TO_DATE (
		#{qianDate}, 'yyyy-mm-dd hh24:mi:ss'
	) and TO_DATE (
		#{nowTime}, 'yyyy-mm-dd hh24:mi:ss'
	) 
AND LAST_ARTICLE_TYPE_ID IN (
	SELECT
		ID
	FROM
		T_ISS_PS_ARTICLE_TYPE
	WHERE
		PARENT_ID = #{id}
)
and IS_DELETED = 0
and status = 2
  </select>
  
  <select id="selectAllByTimer" parameterType="Map" resultType="Object">
  	SELECT
	COUNT (ID)
FROM
	t_iss_ps_article
WHERE
	published_at between TO_DATE (
		#{qianDate}, 'yyyy-mm-dd hh24:mi:ss'
	) and TO_DATE (
		#{nowTime}, 'yyyy-mm-dd hh24:mi:ss'
	) 
AND ARTICLE_TYPE_ID = #{articleTypeId}
and SECOND_ARTICLE_TYPE_ID = #{secondArticleTypeId}
and IS_DELETED = 0
and status = 2
  </select>
  
  <select id="selectDanByTimer" parameterType="Map" resultType="Object">
  	SELECT
	COUNT (ID)
FROM
	t_iss_ps_article
WHERE
	published_at between TO_DATE (
		#{qianDate}, 'yyyy-mm-dd hh24:mi:ss'
	) and TO_DATE (
		#{nowTime}, 'yyyy-mm-dd hh24:mi:ss'
	) 
AND LAST_ARTICLE_TYPE_ID = #{id}
and IS_DELETED = 0
and status = 2
  </select>
  
  <select id="selectByTimerByType" parameterType="Map" resultType="Object">
  	SELECT
	COUNT (ID)
FROM
	t_iss_ps_article
WHERE
	published_at between TO_DATE (
		#{qianDate}, 'yyyy-mm-dd hh24:mi:ss'
	) and TO_DATE (
		#{nowTime}, 'yyyy-mm-dd hh24:mi:ss'
	) 
AND LAST_ARTICLE_TYPE_ID = #{id}
and IS_DELETED = 0
and status = 2
  </select>
  
  <select id="selectByTypeIdTimer" parameterType="Map" resultType="Object">
	SELECT
		COUNT (ID)
	FROM
		t_iss_ps_article
	WHERE
		to_char(PUBLISHED_AT,'yyyy-mm-dd') &gt;= #{firstday}
		AND to_char(PUBLISHED_AT,'yyyy-mm-dd') &lt;= #{lastday}
	AND ARTICLE_TYPE_ID = #{id}
	and IS_DELETED = 0
	and status = 2
  </select>
  
  <!-- 修改 -->
  <update id="updateStatus" parameterType="iss.model.ps.Article">
    update T_ISS_PS_ARTICLE
    <set>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="submitAt != null">
        SUBMIT_AT = #{submitAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="cancelPublishAt != null">
        CANCAL_PUBLISH_AT = #{cancelPublishAt},
      </if>
      <if test="reason != null and reason !=''">
        REASON = #{reason},
      </if>
      <if test="showCount != null">
        SHOW_COUNT = #{showCount},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 查询 -->
  <select id="selectListByTitle"  parameterType="java.lang.String" resultMap="ArticleBase">
    SELECT 
    <include refid="Article_Column_List" />
    FROM T_ISS_PS_ARTICLE
    WHERE IS_DELETED = 0
    AND NAME like CONCAT(CONCAT('%', #{name}), '%')
  </select>
  
  <select id="selectAllByTab" parameterType="Map" resultMap="ArticleMapper">
  	select * from (SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
		ORDER BY
		PUBLISHED_AT DESC)
where 
		IS_DELETED = 0
		AND status = 2
		AND ARTICLE_TYPE_ID = #{articleTypeId}
		AND SECOND_ARTICLE_TYPE_ID = #{secondArticelTypeId}
		and ROWNUM &lt;=10
  </select>
  
  <select id="selectAllByDanTab" parameterType="Map" resultMap="ArticleMapper">
  	select * from (SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
	WHERE
		IS_DELETED = 0
		AND status = 2
		AND ARTICLE_TYPE_ID = #{articleTypeId}
		AND SECOND_ARTICLE_TYPE_ID = #{secondArticelTypeId}
		ORDER BY
		PUBLISHED_AT DESC)
where ROWNUM &lt;=10
  </select>
  
  <!-- 
  <select id="selectAllByTabs" parameterType="Map" resultMap="ArticleMapper">
  	select * from (SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
		ORDER BY
		PUBLISHED_AT DESC)
where 
		IS_DELETED = 0
		AND status = 2
		AND ARTICLE_TYPE_ID = #{articleTypeId}
		AND SECOND_ARTICLE_TYPE_ID = #{secondArticleTypeId}
		<if test="title!=null and title!=''">
		and name like CONCAT(CONCAT('%', #{title}), '%')
		</if>
  </select>
   -->
  <select id="selectAllByTabs" parameterType="Map" resultMap="ArticleMapper">
  	SELECT
	c.*,a.category_id,b.name as categoryName,d.name as lastArticleTypeName
FROM
	T_ISS_PS_ARTICLE c 
	left join  T_SES_BMS_ARTICLE_CATEGORY a on c.id=a.article_id 
	left join T_SES_BMS_CATEGORY b on a.category_id=b.id
	left join T_ISS_PS_ARTICLE_TYPE d on c.LAST_ARTICLE_TYPE_ID=d.id
WHERE
    1=1 
	AND ARTICLE_TYPE_ID = #{articleTypeId}
	AND SECOND_ARTICLE_TYPE_ID = #{secondArticleTypeId}
	<if test="title!=null and title!=''">
		and c.name like CONCAT(CONCAT('%', #{title}), '%')
	</if>
	<if test="productType!=null and productType!=''">
		and a.category_id = #{productType}
	</if>
	<if test="lastArticleTypeName!=null and lastArticleTypeName!=''">
		and d.name like CONCAT(CONCAT('%', #{lastArticleTypeName}), '%')
	</if>
	
	 <if test="publishStartDate != null and publishStartDate!=''">
        AND to_char(PUBLISHED_AT,'yyyy-mm-dd') &gt;= #{publishStartDate}
      </if>
      <if test="publishEndDate != null and publishEndDate!=''">
        AND to_char(PUBLISHED_AT,'yyyy-mm-dd') &lt;= #{publishEndDate}	
      </if>
	
	and c.status=2
	and c.IS_DELETED = 0
	order by published_at desc
  </select>
  
  
  
  
  
  
   <select id="selectAllByTabss" parameterType="Map" resultMap="ArticleMapper">
  	select * from (SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
		ORDER BY
		PUBLISHED_AT DESC)
where 
		IS_DELETED = 0
		AND status = 2
		AND ARTICLE_TYPE_ID = #{articleTypeId}
		AND SECOND_ARTICLE_TYPE_ID = #{secondArticleTypeId}
		<if test="title!=null and title!=''">
		and name like  CONCAT(CONCAT('%', #{title}), '%')
		</if>	
  </select>
  
  <select id="selectAllByDanTabs" parameterType="Map" resultMap="ArticleMapper">
  	select * from (
	SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
	WHERE
		LAST_ARTICLE_TYPE_ID in 
			<foreach item="item" index="index" collection="idArray" open="(" separator="," close=")">
    			#{item}
   			</foreach>
	and IS_DELETED = 0
	AND status = 2
	<if test="title!=null and title!=''">
		and name like CONCAT(CONCAT('%', #{title}), '%')
	</if>
	ORDER BY
		PUBLISHED_AT DESC
) where 1=1
  </select>
  
  
  <!-- 根据发布时间查询 -->
  <select id="getListByPublishedTime" resultMap="ArticleBaseBlob">
    SELECT 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
  	FROM T_ISS_PS_ARTICLE 
  	WHERE IS_DELETED =0 
  	AND STATUS &gt; 1 
  	AND RANGE = 2
  	AND to_char(PUBLISHED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{startTime} 
  	AND to_char(PUBLISHED_AT,'yyyy-MM-dd hh24:mi:ss')  &lt;= #{endTime}
  </select>
  
  <!-- 根据Id获取 数量-->
  <select id="getArticleCount" resultType="java.lang.Integer">
  	SELECT count(1)
  	from T_ISS_PS_ARTICLE
  	where ID = #{id}
  	AND IS_DELETED = 0
  </select>
  
  <!-- 获取取消的发布信息 -->
  <select id="getCancelArticle" resultMap="ArticleBaseBlob">
    SELECT 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
  	FROM T_ISS_PS_ARTICLE 
  	WHERE IS_DELETED =0 
  	AND STATUS &gt; 1 
  	AND RANGE = 2
  	AND to_char(CANCAL_PUBLISH_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{startTime} 
  	AND to_char(CANCAL_PUBLISH_AT,'yyyy-MM-dd hh24:mi:ss')  &lt;= #{endTime}
  </select>
  
  <select id="selectAllByArticleTypeId" parameterType="Map" resultMap="ArticleMapper">
	select * from (SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
	WHERE
	ARTICLE_TYPE_ID = #{typeId}
	order by PUBLISHED_AT desc
) where 1=1
	and status = 2
	and IS_DELETED = 0
	and rownum &lt;=6
  </select>
  
  <!-- 删除信息公告和产品目录的关联 -->  
  <delete id="deleteArtCategory" parameterType="Object">  
      delete from T_SES_BMS_ARTICLE_CATEGORY  
      <where>  
          <if test="categoryId != null">"CATEGORY_ID" = #{categoryId}</if>  
          <if test="articleId != null">and "ARTICLE_ID" = #{articleId}</if>  
      </where>  
  </delete>  
  
  <!-- 保存信息公告和产品目录的关联 -->  
  <insert id="saveArtCategory" parameterType="Object">  
      insert into T_SES_BMS_ARTICLE_CATEGORY("CATEGORY_ID","ARTICLE_ID")  	
      values(#{categoryId},#{articleId})  
  </insert>
  
  <!-- 查询信息公告和产品目录的关联 -->
  <select id="findArtCategory" resultMap="ArticleCategoryMapper"  parameterType="Object">
    select
    *
    from T_SES_BMS_ARTICLE_CATEGORY  
    <where>  
        <if test="categoryId != null">"CATEGORY_ID" = #{categoryId}</if>  
        <if test="articleId != null">and "ARTICLE_ID" = #{articleId}</if>  
    </where>
  </select>
  
   <!-- 查询全部 -->
  <select id="selectAllArticleByCondition" resultMap="ArticleWithAttach" parameterType="Map">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0 AND STATUS = 2
	<if test="isIndex != null and isIndex !=''">
	  AND IS_INDEX = #{isIndex}
	</if>
    <if test="name != null and name != ''">
		 AND NAME LIKE CONCAT(CONCAT('%', #{name}), '%')
	</if>
    ORDER BY CREATED_AT DESC
  </select>
  
   <!-- 根据产品目录查询信息公告 -->
	<select id="findArtByCategory" resultMap="ArticleMapper"
		parameterType="Map">
		SELECT  
		<include refid="Article_Column_List"/>
		FROM T_SES_BMS_ARTICLE_CATEGORY A
		LEFT JOIN T_ISS_PS_ARTICLE
		B ON A.CATEGORY_ID=B.ID
		WHERE IS_DELETED = 0 AND STATUS = 2
		AND ARTICLE_TYPE_ID = #{articleTypeId}
		AND SECOND_ARTICLE_TYPE_ID = #{secondArticleTypeId}
		<if test="title!=null and title!=''">
			and name like  CONCAT(CONCAT('%', #{title}), '%')
		</if>
	</select>
  
</mapper>