<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.ps.ArticleTypeMapper">
  <resultMap id="ArticleTypeMapper" type="iss.model.ps.ArticleType">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="DESCRIBE" property="describe" />
    <result column="CREATED_AT"  property="createdAt" jdbcType="TIMESTAMP"/>
    <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP"/>
    <result column="CODE"  property="code" />
    <result column="PARENT_ID"  property="parentId" />
    <result column="SHOW_NUM" property="showNum"/>
    <association column="CREATER_ID" property="creater" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>
    <association column="PARENT_ID" property="articleType" select="selectTypeByPrimaryKey"/>
  </resultMap>
  
  <sql id="ArticleType_Column_List">
    ID, NAME, CREATED_AT,CREATER_ID, UPDATED_AT,DESCRIBE,CODE,PARENT_ID,SHOW_NUM
  </sql>
  
  <!-- 根据id查询栏目类型 -->
  <select id="selectTypeByPrimaryKey" parameterType="Object" resultMap="ArticleTypeMapper">
    select 
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    where ID = #{id}
  </select>
  
  <!-- 查询所有栏目信息(按时间排序) -->
  <select id="selectAllArticleType" resultMap="ArticleTypeMapper">
  	select
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    order by to_number(id)
  </select>
  
    <!-- 查询所有栏目信息 -->
  <select id="getAll" resultMap="ArticleTypeMapper">
    select
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE  
    order by to_number(id) 
  </select>
  
  <!-- 为首页查询所有文章栏目 -->
  <select id="selectAllArticleTypeForSolr" resultMap="ArticleTypeMapper">
  	select
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
  </select>
  

  <!-- 根据条件修改栏目信息 -->
  <update id="updateByPrimaryKey" parameterType="iss.model.ps.ArticleType">
    update T_ISS_PS_ARTICLE_TYPE
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
       <if test="describe != null">
        DESCRIBE = #{describe},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="showNum != null">
        SHOW_NUM = #{showNum},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <update id="updateShowNum">
    update T_ISS_PS_ARTICLE_TYPE
    set SHOW_NUM = 0
  </update>
  
    <!-- 根据id查询栏目类型 -->
  <select id="selectArticleTypeByCode" parameterType="Object" resultMap="ArticleTypeMapper">
    select 
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    where CODE = #{code}
  </select>
  
  
   <!-- 根据parent_id获取栏目 -->
  <select id="selectByParentId" parameterType="java.lang.String" resultMap="ArticleTypeMapper">
    select 
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    where PARENT_ID = #{parentId}
    order by decode("NAME",'公开招标',0,'邀请招标',1,'竞争性谈判',2,'询价',3)
  </select>
  
  <select id="selectShowNumByParId" parameterType="java.lang.String" resultMap="ArticleTypeMapper">
  	select 
    <include refid="ArticleType_Column_List" />
    from T_ISS_PS_ARTICLE_TYPE
    where PARENT_ID = #{parentId}
  </select>
    
</mapper>