<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.ps.ArticleMapper">
  <resultMap id="ArticleMapper" type="iss.model.ps.Article">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="PUBLISHED_AT" jdbcType="TIMESTAMP" property="publishedAt" />
    <result column="IS_PIC_SHOW" property="isPicShow" />
    <result column="POSITION" property="position" />
    <result column="SHOW_COUNT" property="showCount" />
    <result column="DOWNLOAD_COUNT" property="downloadCount"/>
    <result column="STATUS" property="status" />
    <result column="PIC" property="pic" />
    <result column="PUBLISHED_NAME" property="publishedName" />
    <result column="IS_INDEX" property="isIndex" />
    <result column="TYPE" property="type" />
    <result column="PROJECT_ID" property="projectId" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="RANGE" property="range" />
    <result column="IS_DELETED" property="isDeleted" />
    <result column="REASON" property="reason" />
    <result column="SOURCE" property="source" />
    <result column="SOURCE_LINK" property="sourceLink" />
    
    <result column="SECOND_TYPE" property="secondType" />
    <result column="THREE_TYPE" property="threeType" />
    <result column="FOUR_TYPE" property="fourType" />
    <result column="OVER_TYPE" property="overType" />
    
    
    <association property="user" column="USER_ID" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>
    <association property="articleType" column="ARTICLE_TYPE_ID" select="iss.dao.ps.ArticleTypeMapper.selectTypeByPrimaryKey"/>
  </resultMap> 
  
  <resultMap extends="ArticleMapper" id="ArticleBlob" type="iss.model.ps.Article">
    <result column="CONTENT" jdbcType="CLOB" property="content"/>
  </resultMap>
  
  <resultMap extends="ArticleBlob" type="iss.model.ps.Article" id="ArticleWithAttach">
  	<collection property="articleAttachments" ofType="iss.model.ps.ArticleAttachments"/>
  </resultMap>
  
  <sql id="Article_Column_List">
    ID, NAME, ARTICLE_TYPE_ID, PUBLISHED_AT, IS_PIC_SHOW, POSITION, USER_ID, SHOW_COUNT, DOWNLOAD_COUNT,
    STATUS, PIC, PUBLISHED_NAME, IS_INDEX, TYPE, PROJECT_ID, CREATED_AT, UPDATED_AT,RANGE,IS_DELETED,REASON,SOURCE,SOURCE_LINK,
    SECOND_TYPE,THREE_TYPE,FOUR_TYPE,OVER_TYPE
  </sql>
  
  <sql id="Article_BlOB_Column_List">
    CONTENT
  </sql>
  
  <!-- 根据ID查询 -->
  <select id="selectById" parameterType="Object" resultMap="ArticleWithAttach">
    select 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where ID = #{id}
  </select>
  
  <select id="selectAllArticleToSolr" resultMap="ArticleBlob">
  	select 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE where status=2 and IS_DELETED=0
  </select>
  
  <!-- 查询全部 -->
  <select id="selectAllArticle" resultMap="ArticleWithAttach">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0
    order by decode(STATUS,4,0,0,1,1,2,3,3,2,4), UPDATED_AT DESC
  </select>
  
  <!-- 查询附件 -->
  <select id="selectByFile" resultMap="ArticleWithAttach">
  	select 
    <include refid="Article_Column_List" />
    ,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where ID = #{id}
  </select>
  
  <!-- 根据条件查询列表 -->
  <select id="selectArticleByStatus"  parameterType="java.util.Map" resultMap="ArticleBlob">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0 AND STATUS !=0
	  	<if test="name != null">
	  	  AND NAME LIKE #{name}
	  	</if>
	  	<if test="articleType != null">
       	 AND ARTICLE_TYPE_ID = #{articleType.id}
        </if>
	  	<if test="range != null">
	  	  AND RANGE = #{range}
	  	</if>
    order by decode(STATUS,4,0,1,1,3,2,2,3), UPDATED_AT DESC
  </select>
  
  <!-- 根据标题查询查询 -->
  <select id="selectArticleByName" parameterType="java.util.Map" resultMap="ArticleBlob">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0
    	<if test="name != null">
	  	  AND NAME LIKE #{name}
	  	</if>
	  	<if test="articleType != null">
       	 AND ARTICLE_TYPE_ID = #{articleType.id}
        </if>
	  	<if test="range != null">
	  	  AND RANGE = #{range}
	  	</if>
	  	<if test="status != null">
	  	  AND STATUS = #{status}
	  	</if>
    order by UPDATED_AT DESC
  </select>
  
  <!-- 查询所有位索引的信息 -->
  <select id="selectByIsIndex" resultMap="ArticleBlob">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE
    where IS_DELETED = 0
    and IS_INDEX = 0
  </select>
  
  <!-- 校验信息标题-->
  <select id="checkName" parameterType="Object" resultMap="ArticleMapper">
  	select NAME
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
     from T_ISS_PS_ARTICLE
  	where IS_DELETED = 0
  	AND ID != #{id}
  </select>
  
  
  <!-- 根据ID删除 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete from T_ISS_PS_ARTICLE
    where ID = #{id}
  </delete>
  
  <!-- 假删除 -->
  <update id="Isdelete"  parameterType="Object">
  	update T_ISS_PS_ARTICLE
  	set IS_DELETED = 1
  	where ID = #{id}
  </update>
  
  <!-- 新增信息 -->
  <insert id="insertSelective" parameterType="iss.model.ps.Article">
    insert into T_ISS_PS_ARTICLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="articleType != null">
        ARTICLE_TYPE_ID,
      </if>
      <if test="publishedAt != null">
        PUBLISHED_AT,
      </if>
      <if test="isPicShow != null">
        IS_PIC_SHOW,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="user != null">
        USER_ID,
      </if>
      <if test="showCount != null">
        SHOW_COUNT,
      </if>
      <if test="downloadCount != null">
        DOWNLOAD_COUNT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="pic != null">
        PIC,
      </if>
      <if test="publishedName != null">
        PUBLISHED_NAME,
      </if>
      <if test="isIndex != null">
        IS_INDEX,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="range != null">
        RANGE,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="source != null">
        SOURCE,
      </if>
      <if test="sourceLink != null">
        SOURCE_LINK,
      </if>
      <if test="secondType != null">
        SECOND_TYPE,
      </if>
      <if test="threeType != null">
        THREE_TYPE,
      </if>
      <if test="fourType != null">
        FOUR_TYPE,
      </if>
      <if test="overType != null">
        OVER_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="articleType != null">
        #{articleType.id},
      </if>
      <if test="publishedAt != null">
        #{publishedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isPicShow != null">
        #{isPicShow},
      </if>
      <if test="position != null">
        #{position},
      </if>
      <if test="user != null">
        #{user.id},
      </if>
      <if test="showCount != null">
        #{showCount},
      </if>
      <if test="downloadCount != null">
        #{downloadCount},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="pic != null">
        #{pic},
      </if>
      <if test="publishedName != null">
        #{publishedName},
      </if>
      <if test="isIndex != null">
        #{isIndex},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="projectId != null">
        #{projectId},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content},
      </if>
      <if test="range != null">
        #{range},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="reason != null">
        #{reason},
      </if>
      <if test="source != null">
        #{source},
      </if>
      <if test="sourceLink != null">
        #{sourceLink},
      </if>
      <if test="secondType != null">
        #{secondType},
      </if>
      <if test="threeType != null">
        #{threeType},
      </if>
      <if test="fourType != null">
        #{fourType},
      </if>
      <if test="overType != null">
        #{overType},
      </if>
    </trim>
  </insert>
  
  <!-- 修改 -->
  <update id="update" parameterType="iss.model.ps.Article">
    update T_ISS_PS_ARTICLE
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="articleType != null">
        ARTICLE_TYPE_ID = #{articleType.id},
      </if>
      <if test="publishedAt != null">
        PUBLISHED_AT = #{publishedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isPicShow != null">
        IS_PIC_SHOW = #{isPicShow},
      </if>
      <if test="position != null">
        POSITION = #{position},
      </if>
      <if test="user != null">
        USER_ID = #{user.id},
      </if>
      <if test="showCount != null">
        SHOW_COUNT = #{showCount},
      </if>
      <if test="downloadCount != null">
        DOWNLOAD_COUNT = #{downloadCount},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="pic != null">
        PIC = #{pic},
      </if>
      <if test="publishedName != null">
        PUBLISHED_NAME = #{publishedName},
      </if>
      <if test="isIndex != null">
        IS_INDEX = #{isIndex},
      </if>
      <if test="type != null">
        TYPE = #{type},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        CONTENT = #{content},
      </if>
      <if test="range != null">
        RANGE = #{range},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="reason != null">
     	 REASON = #{reason},
      </if>
      <if test="source != null">
     	 SOURCE = #{source},
      </if>
      <if test="sourceLink != null">
     	 SOURCE_LINK = #{sourceLink},
      </if>
      <if test="secondType != null">
       SECOND_TYPE = #{secondType},
      </if>
      <if test="threeType != null">
       THREE_TYPE = #{threeType},
      </if>
      <if test="fourType != null">
       FOUR_TYPE = #{fourType},
      </if>
      <if test="overType != null">
       OVER_TYPE = #{overType},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据项目id查询 -->
  <select id="selectArticleByProjectId" resultMap="ArticleBlob">
  	select
  	<include refid="Article_Column_List"/>
  	,
    <include refid="Article_BlOB_Column_List" />
    from T_ISS_PS_ARTICLE a
    LEFT JOIN T_ISS_PS_ARTICLE_TYPE at
    where IS_DELETED = 0
    	AND PROJECT_ID = #{projectId}
	  	<if test="status != null">
	  	  AND a.STATUS = #{status}
	  	</if>
	  	<if test="articleType != null">
	  	  AND a.ARTICLE_TYPE_ID = #{articleType.id}
	  	</if>
  </select>
  
  
  <!-- 修改 -->
  <update id="updateisPicShow" parameterType="Object">
    update T_ISS_PS_ARTICLE
    set
        IS_PIC_SHOW = ''
    where IS_PIC_SHOW = #{isPicShow}
  </update>
  
  <select id="selectPic" resultMap="ArticleMapper">
  	SELECT
		*
	FROM
		T_ISS_PS_ARTICLE
	WHERE
		IS_PIC_SHOW IN (1, 2, 3)
	ORDER BY
		IS_PIC_SHOW
  </select>
  
</mapper>