<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.ps.DownloadUserMapper">
  <resultMap id="DownloadUserMap" type="iss.model.ps.DownloadUser">
    <id column="ID" property="id" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="IS_DELETED" property="isDeleted" />
    <association property="user" column="USER_ID" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>
    <association property="article" column="ARTICLE_ID" select="iss.dao.ps.ArticleMapper.selectById"/>
  </resultMap>
  
  <sql id="DownloadUser_Column_List">
    ID, ARTICLE_ID, USER_ID, CREATED_AT, UPDATED_AT,IS_DELETED
  </sql>
  
  <!-- 根据id查询下载人信息 -->
  <select id="selectDownloadByPrimaryKey" parameterType="java.lang.Long" resultMap="DownloadUserMap">
    select 
    <include refid="DownloadUser_Column_List" />
    from T_ISS_PS_DOWNLOAD_INFO
    where ID = #{id}
  </select>
  
  <!-- 根据文章id查询下载人信息 -->
  <select id="selectByArticleId" parameterType="Object" resultMap="DownloadUserMap">
  	<![CDATA[SELECT
				*
				FROM
				(
					SELECT
						t.*, ROWNUM
					FROM
						(
							SELECT
								*
							FROM
								T_ISS_PS_ARTICLE
							WHERE ID = #{articleId,jdbcType=INTEGER}
						) t
					WHERE
						ROWNUM <=#{page,jdbcType=INTEGER}*#{pageSize,jdbcType=INTEGER} 
					AND ROWNUM >#{page-1,jdbcType=INTEGER}*#{pageSize,jdbcType=INTEGER}
	)]]> 
  </select>
  
  <!-- 根据条件查询 -->
  <select id="selectDownloadUserByParam" parameterType="iss.model.ps.DownloadUser" resultMap="DownloadUserMap">
  	select
  	<include refid="DownloadUser_Column_List" />
  	from T_ISS_PS_DOWNLOAD_INFO where
  	  <if test="article != null">
        ARTICLE_ID = #{article.id}
      </if>
      <if test="user != null">
       and USER_ID = #{user.id},
      </if>
      <if test="createdAt != null">
       and CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
       and UPDATED_AT = #{updatedAt},
      </if>
      <if test="isDeleted != null">
       and IS_DELETED  = #{isDeleted},
      </if>
  </select>
  
  <!-- 根据id删除下载人信息 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete from T_ISS_PS_DOWNLOAD_INFO
    where ID = #{id}
  </delete>
  
  <!-- 新增下载人信息 -->
  <insert id="insert" parameterType="iss.model.ps.DownloadUser">
    insert into T_ISS_PS_DOWNLOAD_INFO (ID, ARTICLE_ID, USER_ID, 
      CREATED_AT, UPDATED_AT,IS_DELETED)
    values (#{id}, #{article.id}, #{userId}, 
      #{createdAt}, #{updatedAt},#{isDeleted})
  </insert>
  
  <!-- 根据条件新增 -->
  <insert id="insertSelective" parameterType="iss.model.ps.DownloadUser">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_ISS_PS_DOWNLOAD_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="article != null">
        ARTICLE_ID,
      </if>
      <if test="user != null">
        USER_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="article != null">
        #{article.id},
      </if>
      <if test="user != null">
        #{user.id},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
  </insert>
  
  <!-- 根据条件修改下载人信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="iss.model.ps.DownloadUser">
    update T_ISS_PS_DOWNLOAD_INFO
    <set>
      <if test="article != null">
        ARTICLE_ID = #{article.id},
      </if>
      <if test="user != null">
        USER_ID = #{user.id},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="isDeleted != null">
        IS_DELETED  = #{isDeleted},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据id修改下载人信息 -->
  <update id="updateByPrimaryKey" parameterType="iss.model.ps.DownloadUser">
    update T_ISS_PS_DOWNLOAD_INFO
    set ARTICLE_ID = #{article.id},
      USER_ID = #{user.id},
      CREATED_AT = #{createdAt},
      UPDATED_AT = #{updatedAt},
      IS_DELETED = #{isDeleted}
    where ID = #{id}
  </update>
</mapper>