<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.ps.IndexNewsMapper">
  <resultMap id="IndexNewsMapper" type="iss.model.ps.Article">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PUBLISHED_AT" jdbcType="TIMESTAMP" property="publishedAt" />
    <result column="IS_PIC_SHOW" jdbcType="DECIMAL" property="isPicShow" />
    <result column="POSITION" jdbcType="DECIMAL" property="position" />
    <result column="SHOW_COUNT" jdbcType="DECIMAL" property="showCount" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="PIC" jdbcType="VARCHAR" property="pic" />
    <result column="PUBLISHED_NAME" jdbcType="VARCHAR" property="publishedName" />
    <result column="IS_INDEX" jdbcType="DECIMAL" property="isIndex" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="RACGE" jdbcType="DECIMAL" property="range" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <association property="user" column="USER_ID" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>
    <association property="articleType" column="LAST_ARTICLE_TYPE_ID" select="iss.dao.ps.ArticleTypeMapper.selectTypeByPrimaryKey"/>
  </resultMap>
  <resultMap extends="IndexNewsMapper" id="IndexNewsWithBlobMapper" type="iss.model.ps.Article">
    <result column="CONTENT" jdbcType="CLOB" property="content" />
  </resultMap>
  <resultMap extends="IndexNewsWithBlobMapper" type="iss.model.ps.Article" id="IndexNewsWithBlobAttachMapper">
  	<collection property="articleAttachments" ofType="iss.model.ps.ArticleAttachments"/>
  </resultMap>
  
  <!-- app首页动态数据映射 -->
  <resultMap id="AppIndexNewsMapper" type="iss.model.ps.Article">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PUBLISHED_AT" jdbcType="TIMESTAMP" property="publishedAt" />
    <!-- <result column="CONTENT" jdbcType="CLOB" property="content" /> -->
    <association property="articleType" column="LAST_ARTICLE_TYPE_ID" select="iss.dao.ps.ArticleTypeMapper.selectTypeApp"/>
  </resultMap>
  <!-- app首页处罚公告数据映射 -->
  <resultMap id="AppIndexNewsMapper2" type="iss.model.ps.Article">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PUBLISHED_AT" jdbcType="TIMESTAMP" property="publishedAt" />
    <!-- <result column="CONTENT" jdbcType="CLOB" property="content" /> -->
    <association property="articleType" column="ARTICLE_TYPE_ID" select="iss.dao.ps.ArticleTypeMapper.selectTypeApp"/>
  </resultMap>
  <sql id="IndexNews_Column_List">
    ID, NAME, LAST_ARTICLE_TYPE_ID, PUBLISHED_AT, IS_PIC_SHOW, POSITION, USER_ID, SHOW_COUNT, 
    STATUS, PIC, PUBLISHED_NAME, IS_INDEX, TYPE, PROJECT_ID, CREATED_AT, UPDATED_AT,RANGE,IS_DELETED
  </sql>
  <sql id="IndexNewsBlob_Column_List">
    CONTENT
  </sql>
  
  <!-- 查询二级页信息 -->
  <select id="selectNewsByArticleTypeId" resultMap="IndexNewsMapper" parameterType="Map">
	  SELECT
			*
			FROM
			(
				SELECT
					t.*, ROWNUM rownum_
				FROM
					(
						SELECT
							*
						FROM
							T_ISS_PS_ARTICLE
						WHERE STATUS = 2
						and is_deleted = 0
						<if test="articleTypeId!=null and articleTypeId!=''">
						 	and LAST_ARTICLE_TYPE_ID = #{articleTypeId}
						</if>
						<if test="title!=null and title!=''">
						 	and name like   CONCAT(CONCAT('%', #{title}), '%')
						</if>
						order by PUBLISHED_AT desc
					) t
				WHERE 
					ROWNUM &lt;=#{page}*#{pageSize} 
			) where rownum_ &gt;(#{page}-1)*#{pageSize}
  </select>
  
  <!-- 查看首页信息 -->
  <select id="selectNews" resultMap="IndexNewsMapper" parameterType="Object">
  	select 
  		<include refid="IndexNews_Column_List"/>
  		from T_ISS_PS_ARTICLE
  			where LAST_ARTICLE_TYPE_ID = #{articleType.id} and STATUS = 2 and rownum &lt;=6
  			and IS_DELETED = 0
  		order by PUBLISHED_AT desc
  </select>
  
  <select id="selectNewsForJob" resultMap="IndexNewsMapper" parameterType="Object">
  	select 
  		<include refid="IndexNews_Column_List"/>
  		from T_ISS_PS_ARTICLE
  			where LAST_ARTICLE_TYPE_ID = #{articleType.id} and STATUS = 2 and rownum &lt;=10
  			and IS_DELETED = 0
  		order by PUBLISHED_AT desc
  </select>
  
  <!-- 二级页信息数量 -->
  <select id="selectCount" parameterType="Object" resultType="java.lang.Integer">
  	SELECT
		count(*)
	FROM
		T_ISS_PS_ARTICLE
	WHERE STATUS = 2
	and is_deleted = 0
	<if test="articleTypeId!=null and articleTypeId!=''">
	 	and LAST_ARTICLE_TYPE_ID = #{articleTypeId}
	</if>
	<if test="title!=null and title!=''">
	 	and name like   CONCAT(CONCAT('%', #{title}), '%')
	</if>
  </select>
  
  <select id="selectAllByName" parameterType="Map" resultMap="IndexNewsMapper">
  	select 
  	<include refid="IndexNews_Column_List"/>
  	from t_iss_ps_article
  	where is_deleted =0 
  	<if test="title!=null and title!=''">
  	and name like CONCAT(CONCAT('%', #{title}), '%')
  	</if>
  	and status=2
  	order by published_at desc
  </select>
  
  <!-- 查询处罚公告二级页信息 -->
  <select id="selectIndexChuFaNewsByTypeId" resultMap="IndexNewsMapper" parameterType="Map">
	  SELECT
			*
			FROM
			(
				SELECT
					t.*, ROWNUM rownum_
				FROM
					(
						SELECT
							*
						FROM
							T_ISS_PS_ARTICLE
						WHERE STATUS = 2
						and is_deleted = 0
						<if test="articleTypeId!=null and articleTypeId!=''">
						 	and ARTICLE_TYPE_ID = #{articleTypeId}
						</if>
						<if test="title!=null and title!=''">
						 	and name like CONCAT(CONCAT('%', #{title}), '%')
						</if>
						order by PUBLISHED_AT desc
					) t
				WHERE 
					ROWNUM &lt;=#{page}*#{pageSize} 
			) where rownum_ &gt;(#{page}-1)*#{pageSize}
  </select>
  
  <!-- 处罚公告二级页信息数量 -->
  <select id="selectChufaCount" parameterType="Object" resultType="java.lang.Integer">
  	SELECT
		count(*)
	FROM
		T_ISS_PS_ARTICLE
	WHERE STATUS = 2
	and is_deleted = 0
	<if test="articleTypeId!=null and articleTypeId!=''">
	 	and ARTICLE_TYPE_ID = #{articleTypeId}
	</if>
	<if test="title!=null and title!=''">
	 	and name like CONCAT(CONCAT('%', #{title}), '%')
	</if>
  </select>
  
  
  <!-- APP首页动态通知和公告查询 -->
  <select id="selectAppNewsByArticleTypeId" resultMap="AppIndexNewsMapper" parameterType="String">
    SELECT ID,NAME,PUBLISHED_AT,LAST_ARTICLE_TYPE_ID FROM T_ISS_PS_ARTICLE
    WHERE STATUS = 2
    AND IS_DELETED = 0
    AND LAST_ARTICLE_TYPE_ID = #{articleTypeId}
    ORDER BY PUBLISHED_AT DESC
  </select>
  
  <!-- APP首页查询处罚公告 -->
  <select id="selectAppChuFaNewsByTypeId" resultMap="AppIndexNewsMapper2" parameterType="String">
    SELECT ID,NAME,PUBLISHED_AT,ARTICLE_TYPE_ID FROM T_ISS_PS_ARTICLE
    WHERE STATUS = 2
    AND IS_DELETED = 0
    AND ARTICLE_TYPE_ID = #{articleTypeId}
    ORDER BY PUBLISHED_AT DESC
  </select>
</mapper>