<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iss.dao.IndexNewsMapper">
  <resultMap id="IndexNewsMapper" type="ses.model.bms.Article">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PUBLISHED_AT" jdbcType="DATE" property="publishedAt" />
    <result column="IS_PIC_SHOW" jdbcType="DECIMAL" property="isPicShow" />
    <result column="POSITION" jdbcType="DECIMAL" property="position" />
    <result column="SHOW_COUNT" jdbcType="DECIMAL" property="showCount" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="PIC" jdbcType="VARCHAR" property="pic" />
    <result column="PUBLISHED_NAME" jdbcType="VARCHAR" property="publishedName" />
    <result column="IS_INDEX" jdbcType="DECIMAL" property="isIndex" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
    <result column="RACGE" jdbcType="DECIMAL" property="range" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <association property="user" column="USER_ID" select="ses.dao.bms.UserMapper.queryById"/>
    <association property="articleType" column="ARTICLE_TYPE_ID" select="iss.dao.ArticleTypeMapper.selectByPrimaryKey"/>
  </resultMap>
  <resultMap extends="IndexNewsMapper" id="IndexNewsWithBlobMapper" type="ses.model.bms.Article">
    <result column="CONTENT" jdbcType="CLOB" property="content" />
  </resultMap>
  <resultMap extends="IndexNewsWithBlobMapper" type="ses.model.bms.Article" id="IndexNewsWithBlobAttachMapper">
  	<collection property="articleAttachments" ofType="ses.model.bms.ArticleAttachments"/>
  </resultMap>
  <sql id="IndexNews_Column_List">
    ID, NAME, ARTICLE_TYPE_ID, PUBLISHED_AT, IS_PIC_SHOW, POSITION, USER_ID, SHOW_COUNT, 
    STATUS, PIC, PUBLISHED_NAME, IS_INDEX, TYPE, PROJECT_ID, CREATED_AT, UPDATED_AT,RANGE,IS_DELETED
  </sql>
  <sql id="IndexNewsBlob_Column_List">
    CONTENT
  </sql>
  
  <!-- 查询首页所有信息 -->
  <select id="selectNewsByArticleTypeId" resultMap="IndexNewsMapper" parameterType="Object">
  	select 
  	<include refid="IndexNews_Column_List"/>
  	from T_SES_BMS_ARTICLE
  	where ARTICLE_TYPE_ID = #{articleType.id} and STATUS = 2
  </select>
</mapper>