.f13 {
  font-size: 13px !important; }
  
.btn {
display: inline;
padding: 5px 12px !important;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 19px;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
border: 1px solid transparent;
}

textarea.wh212-67 {
	width: 212px !important;
	height: 77px !important;
}
div.popover-content{
	color: red;
}
.w30{
	width: 30px !important;
}
.w40{
	width: 40px !important;
}
.w180{
	width: 180px !important;
}
.w50{
	width: 50px !important;
}
.w400{
	width: 400px !important;
}
.w499{
	width: 430px !important;
}
.w500{
	width: 500px !important;
}

.ml70{
	margin-left: 70px !important;
}
.mt10{
	margin-top: 10px !important;
}
.mr70{
	margin-right: 170px !important;
}
.hide{
	display: none !important;
}

.p10_20{
	padding-top: 10px !important;
	padding-bottom: 20px !important;
}