<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.SupplierBlackListMapper">
  <resultMap id="BaseResultMap" type="yggc.model.SupplierBlackList">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SUPPLIERS_ID" jdbcType="DECIMAL" property="suppliersId" />
    <result column="START_TIME" jdbcType="DATE" property="startTime" />
    <result column="END_TIME" jdbcType="DATE" property="endTime" />
    <result column="PUNISH_TYPE" jdbcType="DECIMAL" property="punishType" />
    <result column="RELEASE_TYPE" jdbcType="DECIMAL" property="releaseType" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUPPLIERS_ID, START_TIME, END_TIME, PUNISH_TYPE, RELEASE_TYPE, STATUS, REASON
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_BLACKLIST
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_SES_SMS_SUPPLIER_BLACKLIST
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yggc.model.SupplierBlackList">
    insert into T_SES_SMS_SUPPLIER_BLACKLIST (ID, SUPPLIERS_ID, START_TIME, 
      END_TIME, PUNISH_TYPE, RELEASE_TYPE, 
      STATUS, REASON)
    values (#{id,jdbcType=DECIMAL}, #{suppliersId,jdbcType=DECIMAL}, #{startTime,jdbcType=DATE}, 
      #{endTime,jdbcType=DATE}, #{punishType,jdbcType=DECIMAL}, #{releaseType,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{reason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.SupplierBlackList">
    insert into T_SES_SMS_SUPPLIER_BLACKLIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="suppliersId != null">
        SUPPLIERS_ID,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="punishType != null">
        PUNISH_TYPE,
      </if>
      <if test="releaseType != null">
        RELEASE_TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="reason != null">
        REASON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="suppliersId != null">
        #{suppliersId,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=DATE},
      </if>
      <if test="punishType != null">
        #{punishType,jdbcType=DECIMAL},
      </if>
      <if test="releaseType != null">
        #{releaseType,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.SupplierBlackList">
    update T_SES_SMS_SUPPLIER_BLACKLIST
    <set>
      <if test="suppliersId != null">
        SUPPLIERS_ID = #{suppliersId,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=DATE},
      </if>
      <if test="punishType != null">
        PUNISH_TYPE = #{punishType,jdbcType=DECIMAL},
      </if>
      <if test="releaseType != null">
        RELEASE_TYPE = #{releaseType,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="reason != null">
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.SupplierBlackList">
    update T_SES_SMS_SUPPLIER_BLACKLIST
    set SUPPLIERS_ID = #{suppliersId,jdbcType=DECIMAL},
      START_TIME = #{startTime,jdbcType=DATE},
      END_TIME = #{endTime,jdbcType=DATE},
      PUNISH_TYPE = #{punishType,jdbcType=DECIMAL},
      RELEASE_TYPE = #{releaseType,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      REASON = #{reason,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>