<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.SupplierItemsSellMapper">
  <resultMap id="BaseResultMap" type="yggc.model.SupplierItemsSell">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MAT_SELL_ID" jdbcType="DECIMAL" property="matSellId" />
    <result column="ITEMS_ID" jdbcType="DECIMAL" property="itemsId" />
    <result column="BIG_KIND_NAME" jdbcType="VARCHAR" property="bigKindName" />
    <result column="NORMAL_KIND_NAME" jdbcType="VARCHAR" property="normalKindName" />
    <result column="SMALL_KING_NAME" jdbcType="VARCHAR" property="smallKingName" />
    <result column="KIND_NAME" jdbcType="VARCHAR" property="kindName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MAT_SELL_ID, ITEMS_ID, BIG_KIND_NAME, NORMAL_KIND_NAME, SMALL_KING_NAME, KIND_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_ITEMS_SELL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_SES_SMS_SUPPLIER_ITEMS_SELL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yggc.model.SupplierItemsSell">
    insert into T_SES_SMS_SUPPLIER_ITEMS_SELL (ID, MAT_SELL_ID, ITEMS_ID, 
      BIG_KIND_NAME, NORMAL_KIND_NAME, SMALL_KING_NAME, 
      KIND_NAME)
    values (#{id,jdbcType=DECIMAL}, #{matSellId,jdbcType=DECIMAL}, #{itemsId,jdbcType=DECIMAL}, 
      #{bigKindName,jdbcType=VARCHAR}, #{normalKindName,jdbcType=VARCHAR}, #{smallKingName,jdbcType=VARCHAR}, 
      #{kindName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.SupplierItemsSell">
    insert into T_SES_SMS_SUPPLIER_ITEMS_SELL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="matSellId != null">
        MAT_SELL_ID,
      </if>
      <if test="itemsId != null">
        ITEMS_ID,
      </if>
      <if test="bigKindName != null">
        BIG_KIND_NAME,
      </if>
      <if test="normalKindName != null">
        NORMAL_KIND_NAME,
      </if>
      <if test="smallKingName != null">
        SMALL_KING_NAME,
      </if>
      <if test="kindName != null">
        KIND_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="matSellId != null">
        #{matSellId,jdbcType=DECIMAL},
      </if>
      <if test="itemsId != null">
        #{itemsId,jdbcType=DECIMAL},
      </if>
      <if test="bigKindName != null">
        #{bigKindName,jdbcType=VARCHAR},
      </if>
      <if test="normalKindName != null">
        #{normalKindName,jdbcType=VARCHAR},
      </if>
      <if test="smallKingName != null">
        #{smallKingName,jdbcType=VARCHAR},
      </if>
      <if test="kindName != null">
        #{kindName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.SupplierItemsSell">
    update T_SES_SMS_SUPPLIER_ITEMS_SELL
    <set>
      <if test="matSellId != null">
        MAT_SELL_ID = #{matSellId,jdbcType=DECIMAL},
      </if>
      <if test="itemsId != null">
        ITEMS_ID = #{itemsId,jdbcType=DECIMAL},
      </if>
      <if test="bigKindName != null">
        BIG_KIND_NAME = #{bigKindName,jdbcType=VARCHAR},
      </if>
      <if test="normalKindName != null">
        NORMAL_KIND_NAME = #{normalKindName,jdbcType=VARCHAR},
      </if>
      <if test="smallKingName != null">
        SMALL_KING_NAME = #{smallKingName,jdbcType=VARCHAR},
      </if>
      <if test="kindName != null">
        KIND_NAME = #{kindName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.SupplierItemsSell">
    update T_SES_SMS_SUPPLIER_ITEMS_SELL
    set MAT_SELL_ID = #{matSellId,jdbcType=DECIMAL},
      ITEMS_ID = #{itemsId,jdbcType=DECIMAL},
      BIG_KIND_NAME = #{bigKindName,jdbcType=VARCHAR},
      NORMAL_KIND_NAME = #{normalKindName,jdbcType=VARCHAR},
      SMALL_KING_NAME = #{smallKingName,jdbcType=VARCHAR},
      KIND_NAME = #{kindName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>