<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.SupplierRegPersonMapper">
  <resultMap id="BaseResultMap" type="yggc.model.SupplierRegPerson">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MAT_ENG_ID" jdbcType="DECIMAL" property="matEngId" />
    <result column="REG_TYPE" jdbcType="VARCHAR" property="regType" />
    <result column="REG_NUMBER" jdbcType="DECIMAL" property="regNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MAT_ENG_ID, REG_TYPE, REG_NUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_REG_PERSON
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_SES_SMS_SUPPLIER_REG_PERSON
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yggc.model.SupplierRegPerson">
    insert into T_SES_SMS_SUPPLIER_REG_PERSON (ID, MAT_ENG_ID, REG_TYPE, 
      REG_NUMBER)
    values (#{id,jdbcType=DECIMAL}, #{matEngId,jdbcType=DECIMAL}, #{regType,jdbcType=VARCHAR}, 
      #{regNumber,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.SupplierRegPerson">
    insert into T_SES_SMS_SUPPLIER_REG_PERSON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="matEngId != null">
        MAT_ENG_ID,
      </if>
      <if test="regType != null">
        REG_TYPE,
      </if>
      <if test="regNumber != null">
        REG_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="matEngId != null">
        #{matEngId,jdbcType=DECIMAL},
      </if>
      <if test="regType != null">
        #{regType,jdbcType=VARCHAR},
      </if>
      <if test="regNumber != null">
        #{regNumber,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.SupplierRegPerson">
    update T_SES_SMS_SUPPLIER_REG_PERSON
    <set>
      <if test="matEngId != null">
        MAT_ENG_ID = #{matEngId,jdbcType=DECIMAL},
      </if>
      <if test="regType != null">
        REG_TYPE = #{regType,jdbcType=VARCHAR},
      </if>
      <if test="regNumber != null">
        REG_NUMBER = #{regNumber,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.SupplierRegPerson">
    update T_SES_SMS_SUPPLIER_REG_PERSON
    set MAT_ENG_ID = #{matEngId,jdbcType=DECIMAL},
      REG_TYPE = #{regType,jdbcType=VARCHAR},
      REG_NUMBER = #{regNumber,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>