<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.SupplierAuditMapper">
  <resultMap id="BaseResultMap" type="yggc.model.SupplierAudit">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SUGGEST" jdbcType="VARCHAR" property="suggest" />
    <result column="SUGGEST_TYPE" jdbcType="VARCHAR" property="suggestType" />
    <result column="USERS_ID" jdbcType="DECIMAL" property="usersId" />
    <result column="SUPPLIER_ID" jdbcType="DECIMAL" property="supplierId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUGGEST, SUGGEST_TYPE, USERS_ID, SUPPLIER_ID, STATUS, CREATED_AT, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_AUDIT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_SES_SMS_SUPPLIER_AUDIT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yggc.model.SupplierAudit">
    insert into T_SES_SMS_SUPPLIER_AUDIT (ID, SUGGEST, SUGGEST_TYPE, 
      USERS_ID, SUPPLIER_ID, STATUS, 
      CREATED_AT, UPDATED_AT)
    values (#{id,jdbcType=DECIMAL}, #{suggest,jdbcType=VARCHAR}, #{suggestType,jdbcType=VARCHAR}, 
      #{usersId,jdbcType=DECIMAL}, #{supplierId,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{createdAt,jdbcType=DATE}, #{updatedAt,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.SupplierAudit">
    insert into T_SES_SMS_SUPPLIER_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="suggest != null">
        SUGGEST,
      </if>
      <if test="suggestType != null">
        SUGGEST_TYPE,
      </if>
      <if test="usersId != null">
        USERS_ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="suggest != null">
        #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="suggestType != null">
        #{suggestType,jdbcType=VARCHAR},
      </if>
      <if test="usersId != null">
        #{usersId,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.SupplierAudit">
    update T_SES_SMS_SUPPLIER_AUDIT
    <set>
      <if test="suggest != null">
        SUGGEST = #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="suggestType != null">
        SUGGEST_TYPE = #{suggestType,jdbcType=VARCHAR},
      </if>
      <if test="usersId != null">
        USERS_ID = #{usersId,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.SupplierAudit">
    update T_SES_SMS_SUPPLIER_AUDIT
    set SUGGEST = #{suggest,jdbcType=VARCHAR},
      SUGGEST_TYPE = #{suggestType,jdbcType=VARCHAR},
      USERS_ID = #{usersId,jdbcType=DECIMAL},
      SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>