<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.SupplierLevelMapper">
  <resultMap id="BaseResultMap" type="yggc.model.SupplierLevel">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SUPPLIER_ID" jdbcType="DECIMAL" property="supplierId" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUPPLIER_ID, CREATED_AT, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_LEVEL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_SES_SMS_SUPPLIER_LEVEL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yggc.model.SupplierLevel">
    insert into T_SES_SMS_SUPPLIER_LEVEL (ID, SUPPLIER_ID, CREATED_AT, 
      UPDATED_AT)
    values (#{id,jdbcType=DECIMAL}, #{supplierId,jdbcType=DECIMAL}, #{createdAt,jdbcType=DATE}, 
      #{updatedAt,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.SupplierLevel">
    insert into T_SES_SMS_SUPPLIER_LEVEL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.SupplierLevel">
    update T_SES_SMS_SUPPLIER_LEVEL
    <set>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.SupplierLevel">
    update T_SES_SMS_SUPPLIER_LEVEL
    set SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>