<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.SupplierCertSeMapper">
  <resultMap id="BaseResultMap" type="yggc.model.SupplierCertSe">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="MAT_SERVE_ID" jdbcType="DECIMAL" property="matServeId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="LEVEL_CERT" jdbcType="VARCHAR" property="levelCert" />
    <result column="LICENCE_AUTHORITH" jdbcType="VARCHAR" property="licenceAuthorith" />
    <result column="EXP_START_DATE" jdbcType="DATE" property="expStartDate" />
    <result column="EXP_END_DATE" jdbcType="DATE" property="expEndDate" />
    <result column="MOT" jdbcType="DECIMAL" property="mot" />
    <result column="ATTACH" jdbcType="VARCHAR" property="attach" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MAT_SERVE_ID, NAME, LEVEL_CERT, LICENCE_AUTHORITH, EXP_START_DATE, EXP_END_DATE, 
    MOT, ATTACH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_CERT_SE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_SES_SMS_SUPPLIER_CERT_SE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yggc.model.SupplierCertSe">
    insert into T_SES_SMS_SUPPLIER_CERT_SE (ID, MAT_SERVE_ID, NAME, 
      LEVEL_CERT, LICENCE_AUTHORITH, EXP_START_DATE, 
      EXP_END_DATE, MOT, ATTACH
      )
    values (#{id,jdbcType=DECIMAL}, #{matServeId,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{levelCert,jdbcType=VARCHAR}, #{licenceAuthorith,jdbcType=VARCHAR}, #{expStartDate,jdbcType=DATE}, 
      #{expEndDate,jdbcType=DATE}, #{mot,jdbcType=DECIMAL}, #{attach,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.SupplierCertSe">
    insert into T_SES_SMS_SUPPLIER_CERT_SE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="matServeId != null">
        MAT_SERVE_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="levelCert != null">
        LEVEL_CERT,
      </if>
      <if test="licenceAuthorith != null">
        LICENCE_AUTHORITH,
      </if>
      <if test="expStartDate != null">
        EXP_START_DATE,
      </if>
      <if test="expEndDate != null">
        EXP_END_DATE,
      </if>
      <if test="mot != null">
        MOT,
      </if>
      <if test="attach != null">
        ATTACH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="matServeId != null">
        #{matServeId,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="levelCert != null">
        #{levelCert,jdbcType=VARCHAR},
      </if>
      <if test="licenceAuthorith != null">
        #{licenceAuthorith,jdbcType=VARCHAR},
      </if>
      <if test="expStartDate != null">
        #{expStartDate,jdbcType=DATE},
      </if>
      <if test="expEndDate != null">
        #{expEndDate,jdbcType=DATE},
      </if>
      <if test="mot != null">
        #{mot,jdbcType=DECIMAL},
      </if>
      <if test="attach != null">
        #{attach,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.SupplierCertSe">
    update T_SES_SMS_SUPPLIER_CERT_SE
    <set>
      <if test="matServeId != null">
        MAT_SERVE_ID = #{matServeId,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="levelCert != null">
        LEVEL_CERT = #{levelCert,jdbcType=VARCHAR},
      </if>
      <if test="licenceAuthorith != null">
        LICENCE_AUTHORITH = #{licenceAuthorith,jdbcType=VARCHAR},
      </if>
      <if test="expStartDate != null">
        EXP_START_DATE = #{expStartDate,jdbcType=DATE},
      </if>
      <if test="expEndDate != null">
        EXP_END_DATE = #{expEndDate,jdbcType=DATE},
      </if>
      <if test="mot != null">
        MOT = #{mot,jdbcType=DECIMAL},
      </if>
      <if test="attach != null">
        ATTACH = #{attach,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.SupplierCertSe">
    update T_SES_SMS_SUPPLIER_CERT_SE
    set MAT_SERVE_ID = #{matServeId,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      LEVEL_CERT = #{levelCert,jdbcType=VARCHAR},
      LICENCE_AUTHORITH = #{licenceAuthorith,jdbcType=VARCHAR},
      EXP_START_DATE = #{expStartDate,jdbcType=DATE},
      EXP_END_DATE = #{expEndDate,jdbcType=DATE},
      MOT = #{mot,jdbcType=DECIMAL},
      ATTACH = #{attach,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>