<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.SupplierProductsMapper">
  <resultMap id="BaseResultMap" type="yggc.model.SupplierProducts">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CATEGORY_ID" jdbcType="DECIMAL" property="categoryId" />
    <result column="SUPPLIER_ID" jdbcType="DECIMAL" property="supplierId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="BRAND" jdbcType="VARCHAR" property="brand" />
    <result column="MODELS" jdbcType="VARCHAR" property="models" />
    <result column="PARAMETER" jdbcType="VARCHAR" property="parameter" />
    <result column="SIZE" jdbcType="VARCHAR" property="size" />
    <result column="ORGIN" jdbcType="VARCHAR" property="orgin" />
    <result column="EXPIRATION_DATE" jdbcType="DATE" property="expirationDate" />
    <result column="PRODUCER" jdbcType="VARCHAR" property="producer" />
    <result column="REFERENCE_PRICE" jdbcType="VARCHAR" property="referencePrice" />
    <result column="PRODUCT_PIC" jdbcType="VARCHAR" property="productPic" />
    <result column="QR_CODE" jdbcType="VARCHAR" property="qrCode" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CATEGORY_ID, SUPPLIER_ID, NAME, BRAND, MODELS, PARAMETER, SIZE, ORGIN, EXPIRATION_DATE, 
    PRODUCER, REFERENCE_PRICE, PRODUCT_PIC, QR_CODE, CREATED_AT, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_PRODUCTS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_SES_SMS_SUPPLIER_PRODUCTS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yggc.model.SupplierProducts">
    insert into T_SES_SMS_SUPPLIER_PRODUCTS (ID, CATEGORY_ID, SUPPLIER_ID, 
      NAME, BRAND, MODELS, 
      PARAMETER, SIZE, ORGIN, 
      EXPIRATION_DATE, PRODUCER, REFERENCE_PRICE, 
      PRODUCT_PIC, QR_CODE, CREATED_AT, 
      UPDATED_AT)
    values (#{id,jdbcType=DECIMAL}, #{categoryId,jdbcType=DECIMAL}, #{supplierId,jdbcType=DECIMAL}, 
      #{name,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{models,jdbcType=VARCHAR}, 
      #{parameter,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, #{orgin,jdbcType=VARCHAR}, 
      #{expirationDate,jdbcType=DATE}, #{producer,jdbcType=VARCHAR}, #{referencePrice,jdbcType=VARCHAR}, 
      #{productPic,jdbcType=VARCHAR}, #{qrCode,jdbcType=VARCHAR}, #{createdAt,jdbcType=DATE}, 
      #{updatedAt,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.SupplierProducts">
    insert into T_SES_SMS_SUPPLIER_PRODUCTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="brand != null">
        BRAND,
      </if>
      <if test="models != null">
        MODELS,
      </if>
      <if test="parameter != null">
        PARAMETER,
      </if>
      <if test="size != null">
        SIZE,
      </if>
      <if test="orgin != null">
        ORGIN,
      </if>
      <if test="expirationDate != null">
        EXPIRATION_DATE,
      </if>
      <if test="producer != null">
        PRODUCER,
      </if>
      <if test="referencePrice != null">
        REFERENCE_PRICE,
      </if>
      <if test="productPic != null">
        PRODUCT_PIC,
      </if>
      <if test="qrCode != null">
        QR_CODE,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="models != null">
        #{models,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null">
        #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="orgin != null">
        #{orgin,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null">
        #{expirationDate,jdbcType=DATE},
      </if>
      <if test="producer != null">
        #{producer,jdbcType=VARCHAR},
      </if>
      <if test="referencePrice != null">
        #{referencePrice,jdbcType=VARCHAR},
      </if>
      <if test="productPic != null">
        #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.SupplierProducts">
    update T_SES_SMS_SUPPLIER_PRODUCTS
    <set>
      <if test="categoryId != null">
        CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        BRAND = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="models != null">
        MODELS = #{models,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null">
        PARAMETER = #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        SIZE = #{size,jdbcType=VARCHAR},
      </if>
      <if test="orgin != null">
        ORGIN = #{orgin,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null">
        EXPIRATION_DATE = #{expirationDate,jdbcType=DATE},
      </if>
      <if test="producer != null">
        PRODUCER = #{producer,jdbcType=VARCHAR},
      </if>
      <if test="referencePrice != null">
        REFERENCE_PRICE = #{referencePrice,jdbcType=VARCHAR},
      </if>
      <if test="productPic != null">
        PRODUCT_PIC = #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        QR_CODE = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.SupplierProducts">
    update T_SES_SMS_SUPPLIER_PRODUCTS
    set CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      BRAND = #{brand,jdbcType=VARCHAR},
      MODELS = #{models,jdbcType=VARCHAR},
      PARAMETER = #{parameter,jdbcType=VARCHAR},
      SIZE = #{size,jdbcType=VARCHAR},
      ORGIN = #{orgin,jdbcType=VARCHAR},
      EXPIRATION_DATE = #{expirationDate,jdbcType=DATE},
      PRODUCER = #{producer,jdbcType=VARCHAR},
      REFERENCE_PRICE = #{referencePrice,jdbcType=VARCHAR},
      PRODUCT_PIC = #{productPic,jdbcType=VARCHAR},
      QR_CODE = #{qrCode,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>