<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.SupplierMatProMapper">
  <resultMap id="BaseResultMap" type="yggc.model.SupplierMatPro">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SUPPLIER_ID" jdbcType="DECIMAL" property="supplierId" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="TOTAL_PERSON" jdbcType="DECIMAL" property="totalPerson" />
    <result column="TOTAL_MANGE" jdbcType="DECIMAL" property="totalMange" />
    <result column="TOTAL_TECH" jdbcType="DECIMAL" property="totalTech" />
    <result column="TOTAL_WORKER" jdbcType="DECIMAL" property="totalWorker" />
    <result column="SCALE_TECH" jdbcType="VARCHAR" property="scaleTech" />
    <result column="SCALE_HEIGHT_TECH" jdbcType="VARCHAR" property="scaleHeightTech" />
    <result column="RESEARCH_NAME" jdbcType="VARCHAR" property="researchName" />
    <result column="TOTAL_RESEARCH" jdbcType="DECIMAL" property="totalResearch" />
    <result column="COUNTRY_PRO" jdbcType="VARCHAR" property="countryPro" />
    <result column="COUNTRY_REWARD" jdbcType="VARCHAR" property="countryReward" />
    <result column="TOTAL_BELTLINE" jdbcType="DECIMAL" property="totalBeltline" />
    <result column="TOTAL_DEVICE" jdbcType="DECIMAL" property="totalDevice" />
    <result column="QC_NAME" jdbcType="VARCHAR" property="qcName" />
    <result column="TOTAL_QC" jdbcType="DECIMAL" property="totalQc" />
    <result column="QC_LEAD" jdbcType="VARCHAR" property="qcLead" />
    <result column="QC_DEVICE" jdbcType="VARCHAR" property="qcDevice" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUPPLIER_ID, ORG_NAME, TOTAL_PERSON, TOTAL_MANGE, TOTAL_TECH, TOTAL_WORKER, SCALE_TECH, 
    SCALE_HEIGHT_TECH, RESEARCH_NAME, TOTAL_RESEARCH, COUNTRY_PRO, COUNTRY_REWARD, TOTAL_BELTLINE, 
    TOTAL_DEVICE, QC_NAME, TOTAL_QC, QC_LEAD, QC_DEVICE, CREATED_AT, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_SMS_SUPPLIER_MAT_PRO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_SES_SMS_SUPPLIER_MAT_PRO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="yggc.model.SupplierMatPro">
    insert into T_SES_SMS_SUPPLIER_MAT_PRO (ID, SUPPLIER_ID, ORG_NAME, 
      TOTAL_PERSON, TOTAL_MANGE, TOTAL_TECH, 
      TOTAL_WORKER, SCALE_TECH, SCALE_HEIGHT_TECH, 
      RESEARCH_NAME, TOTAL_RESEARCH, COUNTRY_PRO, 
      COUNTRY_REWARD, TOTAL_BELTLINE, TOTAL_DEVICE, 
      QC_NAME, TOTAL_QC, QC_LEAD, 
      QC_DEVICE, CREATED_AT, UPDATED_AT
      )
    values (#{id,jdbcType=DECIMAL}, #{supplierId,jdbcType=DECIMAL}, #{orgName,jdbcType=VARCHAR}, 
      #{totalPerson,jdbcType=DECIMAL}, #{totalMange,jdbcType=DECIMAL}, #{totalTech,jdbcType=DECIMAL}, 
      #{totalWorker,jdbcType=DECIMAL}, #{scaleTech,jdbcType=VARCHAR}, #{scaleHeightTech,jdbcType=VARCHAR}, 
      #{researchName,jdbcType=VARCHAR}, #{totalResearch,jdbcType=DECIMAL}, #{countryPro,jdbcType=VARCHAR}, 
      #{countryReward,jdbcType=VARCHAR}, #{totalBeltline,jdbcType=DECIMAL}, #{totalDevice,jdbcType=DECIMAL}, 
      #{qcName,jdbcType=VARCHAR}, #{totalQc,jdbcType=DECIMAL}, #{qcLead,jdbcType=VARCHAR}, 
      #{qcDevice,jdbcType=VARCHAR}, #{createdAt,jdbcType=DATE}, #{updatedAt,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.SupplierMatPro">
    insert into T_SES_SMS_SUPPLIER_MAT_PRO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="totalPerson != null">
        TOTAL_PERSON,
      </if>
      <if test="totalMange != null">
        TOTAL_MANGE,
      </if>
      <if test="totalTech != null">
        TOTAL_TECH,
      </if>
      <if test="totalWorker != null">
        TOTAL_WORKER,
      </if>
      <if test="scaleTech != null">
        SCALE_TECH,
      </if>
      <if test="scaleHeightTech != null">
        SCALE_HEIGHT_TECH,
      </if>
      <if test="researchName != null">
        RESEARCH_NAME,
      </if>
      <if test="totalResearch != null">
        TOTAL_RESEARCH,
      </if>
      <if test="countryPro != null">
        COUNTRY_PRO,
      </if>
      <if test="countryReward != null">
        COUNTRY_REWARD,
      </if>
      <if test="totalBeltline != null">
        TOTAL_BELTLINE,
      </if>
      <if test="totalDevice != null">
        TOTAL_DEVICE,
      </if>
      <if test="qcName != null">
        QC_NAME,
      </if>
      <if test="totalQc != null">
        TOTAL_QC,
      </if>
      <if test="qcLead != null">
        QC_LEAD,
      </if>
      <if test="qcDevice != null">
        QC_DEVICE,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="totalPerson != null">
        #{totalPerson,jdbcType=DECIMAL},
      </if>
      <if test="totalMange != null">
        #{totalMange,jdbcType=DECIMAL},
      </if>
      <if test="totalTech != null">
        #{totalTech,jdbcType=DECIMAL},
      </if>
      <if test="totalWorker != null">
        #{totalWorker,jdbcType=DECIMAL},
      </if>
      <if test="scaleTech != null">
        #{scaleTech,jdbcType=VARCHAR},
      </if>
      <if test="scaleHeightTech != null">
        #{scaleHeightTech,jdbcType=VARCHAR},
      </if>
      <if test="researchName != null">
        #{researchName,jdbcType=VARCHAR},
      </if>
      <if test="totalResearch != null">
        #{totalResearch,jdbcType=DECIMAL},
      </if>
      <if test="countryPro != null">
        #{countryPro,jdbcType=VARCHAR},
      </if>
      <if test="countryReward != null">
        #{countryReward,jdbcType=VARCHAR},
      </if>
      <if test="totalBeltline != null">
        #{totalBeltline,jdbcType=DECIMAL},
      </if>
      <if test="totalDevice != null">
        #{totalDevice,jdbcType=DECIMAL},
      </if>
      <if test="qcName != null">
        #{qcName,jdbcType=VARCHAR},
      </if>
      <if test="totalQc != null">
        #{totalQc,jdbcType=DECIMAL},
      </if>
      <if test="qcLead != null">
        #{qcLead,jdbcType=VARCHAR},
      </if>
      <if test="qcDevice != null">
        #{qcDevice,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.SupplierMatPro">
    update T_SES_SMS_SUPPLIER_MAT_PRO
    <set>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="totalPerson != null">
        TOTAL_PERSON = #{totalPerson,jdbcType=DECIMAL},
      </if>
      <if test="totalMange != null">
        TOTAL_MANGE = #{totalMange,jdbcType=DECIMAL},
      </if>
      <if test="totalTech != null">
        TOTAL_TECH = #{totalTech,jdbcType=DECIMAL},
      </if>
      <if test="totalWorker != null">
        TOTAL_WORKER = #{totalWorker,jdbcType=DECIMAL},
      </if>
      <if test="scaleTech != null">
        SCALE_TECH = #{scaleTech,jdbcType=VARCHAR},
      </if>
      <if test="scaleHeightTech != null">
        SCALE_HEIGHT_TECH = #{scaleHeightTech,jdbcType=VARCHAR},
      </if>
      <if test="researchName != null">
        RESEARCH_NAME = #{researchName,jdbcType=VARCHAR},
      </if>
      <if test="totalResearch != null">
        TOTAL_RESEARCH = #{totalResearch,jdbcType=DECIMAL},
      </if>
      <if test="countryPro != null">
        COUNTRY_PRO = #{countryPro,jdbcType=VARCHAR},
      </if>
      <if test="countryReward != null">
        COUNTRY_REWARD = #{countryReward,jdbcType=VARCHAR},
      </if>
      <if test="totalBeltline != null">
        TOTAL_BELTLINE = #{totalBeltline,jdbcType=DECIMAL},
      </if>
      <if test="totalDevice != null">
        TOTAL_DEVICE = #{totalDevice,jdbcType=DECIMAL},
      </if>
      <if test="qcName != null">
        QC_NAME = #{qcName,jdbcType=VARCHAR},
      </if>
      <if test="totalQc != null">
        TOTAL_QC = #{totalQc,jdbcType=DECIMAL},
      </if>
      <if test="qcLead != null">
        QC_LEAD = #{qcLead,jdbcType=VARCHAR},
      </if>
      <if test="qcDevice != null">
        QC_DEVICE = #{qcDevice,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.SupplierMatPro">
    update T_SES_SMS_SUPPLIER_MAT_PRO
    set SUPPLIER_ID = #{supplierId,jdbcType=DECIMAL},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      TOTAL_PERSON = #{totalPerson,jdbcType=DECIMAL},
      TOTAL_MANGE = #{totalMange,jdbcType=DECIMAL},
      TOTAL_TECH = #{totalTech,jdbcType=DECIMAL},
      TOTAL_WORKER = #{totalWorker,jdbcType=DECIMAL},
      SCALE_TECH = #{scaleTech,jdbcType=VARCHAR},
      SCALE_HEIGHT_TECH = #{scaleHeightTech,jdbcType=VARCHAR},
      RESEARCH_NAME = #{researchName,jdbcType=VARCHAR},
      TOTAL_RESEARCH = #{totalResearch,jdbcType=DECIMAL},
      COUNTRY_PRO = #{countryPro,jdbcType=VARCHAR},
      COUNTRY_REWARD = #{countryReward,jdbcType=VARCHAR},
      TOTAL_BELTLINE = #{totalBeltline,jdbcType=DECIMAL},
      TOTAL_DEVICE = #{totalDevice,jdbcType=DECIMAL},
      QC_NAME = #{qcName,jdbcType=VARCHAR},
      TOTAL_QC = #{totalQc,jdbcType=DECIMAL},
      QC_LEAD = #{qcLead,jdbcType=VARCHAR},
      QC_DEVICE = #{qcDevice,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>