<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.prms.ProductParamMapper">
 <resultMap type="ProductParamMap" id="ses.model.prms.ProductParam">
    <id column="ID"  property="id" />
    <result column="NAME"  property="name" />
    <result column="VALUE" property="value" />
    <result column="VALUE_TYPE"  property="valueType" />
    <result column="OPTION"  property="option" />
    <result column="IS_PRODUCT_FILE" property="isProductFile" />
    <result column="IS_SALE_FILE"  property="isSaleFile" />
    <result column="CREATED_AT" property="createdAt" />
    <result column="UPDATED_AT"  property="updatedAt" />
    <result column="IS_DELETED"  property="isDeleted" />
    
 </resultMap>
</mapper>