<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.prms.ProductParamValueMapper">
  <resultMap id="ProductParamValueMap" type="ses.model.prms.ProductParamValue">
    <id column="ID"  property="id" />
    <result column="PARAMVALUE"  property="paramValue" />
   
    <association property="productparam" column="PARAM_ID" select="ses.dao.prms.ProductParamValueMapper.selectByPrimaryKey"/>
  </resultMap>
  
  <sql id="Base_Column_List">
   
  </sql>
  
  
</mapper>