<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.pms.AuditPersonMapper">
  <resultMap id="AuditPerson_Map" type="bss.model.pms.AuditPerson">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber" />
    <result column="COLLECT_ID" jdbcType="VARCHAR" property="collectId" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="AUDIT_STAFF" jdbcType="VARCHAR" property="auditStaff" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="AUDIT_ROUND" jdbcType="VARCHAR" property="auditRound" />
    <result column="DUTY" jdbcType="VARCHAR" property="duty" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    
    
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, MOBILE, ID_NUMBER, COLLECT_ID,TYPE,UNIT_NAME,AUDIT_STAFF,USER_ID,AUDIT_ROUND,DUTY,CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="AuditPerson_Map">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PMS_AUDIT_PERSON
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_PMS_AUDIT_PERSON
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="bss.model.pms.AuditPerson">
    insert into T_BSS_PMS_AUDIT_PERSON (ID, NAME, MOBILE, 
      ID_NUMBER, COLLECT_ID,TYPE,UNIT_NAME,DUTY,CREATE_DATE)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{collectId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{unitName,jdbcType=VARCHAR},#{duty,jdbcType=VARCHAR},#{auditStaff,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},#{auditRound,jdbcType=VARCHAR},#{createDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bss.model.pms.AuditPerson">
    insert into T_BSS_PMS_AUDIT_PERSON
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="idNumber != null">
        ID_NUMBER,
      </if>
      <if test="collectId != null">
        COLLECT_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="unitName != null">
        UNIT_NAME,
      </if>
      <if test="auditStaff != null">
        AUDIT_STAFF,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="auditRound != null">
        AUDIT_ROUND,
      </if>
      <if test="duty != null">
        DUTY,
      </if>
       <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="collectId != null">
        #{collectId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="auditStaff != null">
        #{auditStaff,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="auditRound != null">
        #{auditRound,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.pms.AuditPerson">
    update T_BSS_PMS_AUDIT_PERSON
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="collectId != null">
        COLLECT_ID = #{collectId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="auditStaff != null">
        AUDIT_STAFF = #{auditStaff,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="auditRound != null">
        AUDIT_ROUND = #{auditRound,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        DUTY = #{duty,jdbcType=VARCHAR},
      </if>
       <if test="createDate != null">
        CREATE_DATE = #{createDate},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.pms.AuditPerson">
    update T_BSS_PMS_AUDIT_PERSON
    set NAME = #{name,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      COLLECT_ID = #{collectId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=INTEGER},
      UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      AUDIT_STAFF = #{auditStaff,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      AUDIT_ROUND = #{auditRound,jdbcType=VARCHAR},
      DUTY = #{duty,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
   	 where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="query" parameterType="bss.model.pms.AuditPerson" resultMap="AuditPerson_Map">
     select 
    <include refid="Base_Column_List" />
    from T_BSS_PMS_AUDIT_PERSON
    
    where COLLECT_ID = #{collectId} 
    <if test="auditRound!=null">
    and AUDIT_ROUND = #{auditRound}
    </if>
  </select>
  
  <select id="findUserByCondition" parameterType="java.util.Map" resultType="Integer">
  	SELECT count(1)
		FROM T_BSS_PMS_AUDIT_PERSON
		WHERE AUDIT_ROUND = #{auditRound}
		AND COLLECT_ID = #{collectId}
		AND USER_ID = #{userId}
  </select>
  
  <select id="selectByMap" resultMap="AuditPerson_Map" parameterType="java.util.Map">
    SELECT 
    <include refid="Base_Column_List" />
    from T_BSS_PMS_AUDIT_PERSON
    where 1=1
    <if test="collectId != null">
     and COLLECT_ID = #{collectId} 
    </if>
    <if test="type != null">
      and TYPE = #{type}
    </if>
    ORDER BY CREATE_DATE ASC
  </select>
  
  
  
   <select id="queryByUserIdAndCid" resultMap="AuditPerson_Map">
    SELECT 
    <include refid="Base_Column_List" />
    from T_BSS_PMS_AUDIT_PERSON
    where 1=1
    <if test="collectId != null">
     and COLLECT_ID = #{collectId} 
    </if>
    <if test="userId != null">
    AND USER_ID = #{userId}
    </if>
    ORDER BY CREATE_DATE ASC
  </select>
  
  <update id="updateAuditStaffByCollectId">
    UPDATE T_BSS_PMS_AUDIT_PERSON
    SET AUDIT_STAFF = #{auditStaff,jdbcType=VARCHAR}
    WHERE COLLECT_ID = #{collectId,jdbcType=VARCHAR}
  </update>
  
</mapper>