<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.pms.CollectPlanMapper">
  <resultMap id="CollectPlan_Map" type="bss.model.pms.CollectPlan">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="BUDGET" jdbcType="DECIMAL" property="budget" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="PURCHASE_ID" jdbcType="VARCHAR" property="purchaseId" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="ORDER_AT" jdbcType="TIMESTAMP" property="orderAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="POSITION" jdbcType="DECIMAL" property="position" />
    <result column="PLAN_NUMBER" jdbcType="VARCHAR" property="planNo" />
    <result column="GOODS_TYPE" jdbcType="VARCHAR" property="goodsType" />
    <result column="PURCHASE_TYPE" jdbcType="VARCHAR" property="purchaseType" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="TOTAL_AUDIT" jdbcType="VARCHAR" property="totalAudit" />
    <result column="AUDIT_TURN" jdbcType="VARCHAR" property="auditTurn" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  
  <resultMap type="ses.model.bms.AnalyzeBigDecimal" id="baseAnalyzeBigDecimal">
    <result column="COL_NAME" property="name"/>
    <result column="COL_VALUE" property="value"/>
    <result column="COL_ID" property="id"/>
  </resultMap>
  
  <resultMap type="ses.model.bms.AnalyzeVo" id="baseAnalyzeVo">
    <result column="COL_NAME" property="name"/>
    <result column="COL_VALUE" property="money"/>
    <result column="COL_COUNT" property="count"/>
    <result column="COL_ID" property="id"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, FILE_NAME, PASSWORD, DEPARTMENT, BUDGET, STATUS, PURCHASE_ID, CREATED_AT, ORDER_AT, 
    UPDATED_AT, POSITION,PLAN_NUMBER,GOODS_TYPE,PURCHASE_TYPE,TASK_ID,TOTAL_AUDIT,AUDIT_TURN,USER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="CollectPlan_Map">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PMS_COLLECT_PLAN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_PMS_COLLECT_PLAN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="bss.model.pms.CollectPlan">
    insert into T_BSS_PMS_COLLECT_PLAN (ID, FILE_NAME, PASSWORD, 
      DEPARTMENT, BUDGET, STATUS, 
      PURCHASE_ID, CREATED_AT, ORDER_AT,GOODS_TYPE,PURCHASE_TYPE 
      UPDATED_AT, POSITION,PLAN_NUMBER,GOODS_TYPE,PURCHASE_TYPE,TASK_ID,TOTAL_AUDIT,AUDIT_TURN,USER_ID)
    values (#{id,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{budget,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{purchaseId,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{orderAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{position,jdbcType=DECIMAL}, #{PLAN_NUMBER,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, 
      #{purchaseType,jdbcType=VARCHAR},#{taskId,jdbcType=VARCHAR}, #{totalAudit,jdbcType=DECIMAL},#{auditTurn,jdbcType=DECIMAL},#{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bss.model.pms.CollectPlan">
    insert into T_BSS_PMS_COLLECT_PLAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="budget != null">
        BUDGET,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="purchaseId != null">
        PURCHASE_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="orderAt != null">
        ORDER_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="position != null">
        POSITION,
      </if>
       <if test="planNo != null">
        PLAN_NUMBER,
      </if>
       <if test="goodsType != null">
        GOODS_TYPE,
      </if>
       <if test="purchaseType != null">
        PURCHASE_TYPE,
      </if>
       <if test="taskId != null">
        TASK_ID,
      </if>
       <if test="totalAudit!= null">
        TOTAL_AUDIT,
      </if>
       <if test="auditTurn != null">
        AUDIT_TURN,
      </if>
       <if test="userId != null">
        USER_ID,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="budget != null">
        #{budget,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="purchaseId != null">
        #{purchaseId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderAt != null">
        #{orderAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        #{position,jdbcType=DECIMAL},
      </if>
      <if test="planNo != null">
        #{planNo,jdbcType=VARCHAR},
      </if>
       <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
       <if test="purchaseType != null">
        #{purchaseType,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="totalAudit!= null">
           #{totalAudit,jdbcType=DECIMAL},
      </if>
       <if test="auditTurn != null">
           #{auditTurn,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
          #{userId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.pms.CollectPlan">
    update T_BSS_PMS_COLLECT_PLAN
    <set>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="budget != null">
        BUDGET = #{budget,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="purchaseId != null">
        PURCHASE_ID = #{purchaseId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderAt != null">
        ORDER_AT = #{orderAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=DECIMAL},
      </if>
       <if test="planNo != null">
        PLAN_NUMBER = #{planNo,jdbcType=VARCHAR},
      </if>
       <if test="goodsType != null">
        GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      </if>
       <if test="purchaseType != null">
        PURCHASE_TYPE = #{purchaseType,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
       <if test="totalAudit != null">
        TOTAL_AUDIT = #{totalAudit,jdbcType=DECIMAL},
      </if>
       <if test="auditTurn != null">
        AUDIT_TURN= #{auditTurn,jdbcType=DECIMAL},
      </if>
       <if test="userId != null">
         USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      
      
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.pms.CollectPlan">
    update T_BSS_PMS_COLLECT_PLAN
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      BUDGET = #{budget,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      PURCHASE_ID = #{purchaseId,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      ORDER_AT = #{orderAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      POSITION = #{position,jdbcType=DECIMAL},
      PLAN_NUMBER = #{planNo,jdbcType=VARCHAR},
      GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      PURCHASE_TYPE = #{purchaseType,jdbcType=VARCHAR},
	  TASK_ID = #{taskId,jdbcType=VARCHAR},
      TOTAL_AUDIT = #{totalAudit,jdbcType=DECIMAL},
      AUDIT_TURN= #{auditTurn,jdbcType=DECIMAL},
      USER_ID= #{userId,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="query" parameterType="bss.model.pms.CollectPlan" resultMap="CollectPlan_Map" >
  
  select 
  <include refid="Base_Column_List"/>
  from T_BSS_PMS_COLLECT_PLAN
  	<where> 1=1
     <if test="fileName != null">
       and  FILE_NAME like CONCAT(CONCAT('%', #{fileName}), '%') 
      </if>
  	  <if test="budget != null">
       and  BUDGET=#{budget}
      </if>
       <if test="purchaseType != null">
        and PURCHASE_TYPE = #{purchaseType}
      </if>
      
      <if test="userId != null">
       and  USER_ID=#{userId}
      </if>
       <if test="planNo != null">
         and  PLAN_NUMBER = #{planNo}
      </if>
      
	    <if test="sign==0 ">
	  	   and status in(1,2,3,4,5,6,7,12)
	  	</if>
       <if test="goodsType!=null and goodsType!='' ">
	  	   and GOODS_TYPE = #{goodsType}
	   </if>
	  	 <if test="sign==8 ">
	  	    and AUDIT_TURN in (1,2,3) and  STATUS in (2,12) 
	   </if>
	  
	   <if test="sign==3 ">
	  	    and status in(1,3,4,5,6,7,12)
	   </if>
	   <if test="sign==3 ">
	  	    and status in(1,3,4,5,6,7,12)
	   </if>
	   
	   <if test="sign==12 ">
	  	    and AUDIT_TURN is null and  STATUS in (2,12) 
	   </if>
	   
	   
	    <if test="status !=null ">
	  	   and status=#{status}
	  	</if>
	  	
  	</where>
  	
   order by CREATED_AT desc
 <!--   	<if test="status ==1 ">
  	 ORDER BY decode(STATUS,'1',1,'3',2,'4',3,'5',4,'6',5,'7',6,'12',7,'2',8) , CREATED_AT desc
  	</if>
  	
  	
  	<if test="status ==2 ">
  		  order by STATUS  desc, CREATED_AT desc
  	</if> -->
  	
  	
  </select>
  
  <select id="querySupervision" parameterType="bss.model.pms.CollectPlan" resultMap="CollectPlan_Map" >
  
  select 
  <include refid="Base_Column_List"/>
  from T_BSS_PMS_COLLECT_PLAN
    <where> 1=1
     <if test="fileName != null">
       and  FILE_NAME like CONCAT(CONCAT('%', #{fileName}), '%') 
      </if>
      <if test="budget != null">
       and  BUDGET like CONCAT(CONCAT('%', #{budget}), '%') 
      </if>
       <if test="purchaseType != null">
        and PURCHASE_TYPE = #{purchaseType}
      </if>
      
      <if test="userId != null">
       and  USER_ID=#{userId}
      </if>
       <if test="planNo != null">
         and  PLAN_NUMBER = #{planNo}
      </if>
      
      <if test="sign==0 ">
         and status in(1,2,3,4,5,6,7,12)
      </if>
       <if test="goodsType!=null and goodsType!='' ">
         and GOODS_TYPE = #{goodsType}
     </if>
       <if test="sign==8 ">
          and AUDIT_TURN in (1,2,3) and  STATUS in (2,12) 
     </if>
    
     <if test="sign==3 ">
          and status in(1,3,4,5,6,7,12)
     </if>
     <if test="sign==3 ">
          and status in(1,3,4,5,6,7,12)
     </if>
     
     <if test="sign==12 ">
          and AUDIT_TURN is null and  STATUS in (2,12) 
     </if>
     
     
      <if test="status !=null ">
         and status=#{status}
      </if>
      
    </where>
    
   order by CREATED_AT desc
 <!--     <if test="status ==1 ">
     ORDER BY decode(STATUS,'1',1,'3',2,'4',3,'5',4,'6',5,'7',6,'12',7,'2',8) , CREATED_AT desc
    </if>
    
    
    <if test="status ==2 ">
        order by STATUS  desc, CREATED_AT desc
    </if> -->
    
    
  </select>

  <select id="getMax" resultType="Integer">
  	select max(POSITION) from T_BSS_PMS_COLLECT_PLAN
  </select>
  
  <select id="getDepartmentList" resultMap="CollectPlan_Map">
  	select DEPARTMENT from T_BSS_PMS_COLLECT_PLAN GROUP BY DEPARTMENT
  </select>
  
  
  <select id="queryPlan" parameterType="bss.model.pms.CollectPlan" resultMap="CollectPlan_Map">
		    select 
		  <include refid="Base_Column_List"/>
			  from T_BSS_PMS_COLLECT_PLAN
			  	 
				 			WHERE ID=#{id}
				   
  </select>
  <select id="getSummary" parameterType="bss.model.pms.CollectPlan" resultMap="CollectPlan_Map" >
  
  select 
  <include refid="Base_Column_List"/>
  from T_BSS_PMS_COLLECT_PLAN
  	<where> 1=1
     <if test="fileName != null">
       and  FILE_NAME like CONCAT(CONCAT('%', #{fileName}), '%') 
      </if>
  	  <if test="budget != null">
       and  BUDGET=#{budget}
      </if>
       <if test="purchaseType != null">
        and PURCHASE_TYPE = #{purchaseType}
      </if>
       <if test="planNo != null">
         and  PLAN_NUMBER = #{planNo}
      </if>
      
	    <if test="sign==0 ">
	  	   and status in(1,2,3,4,5,6,7,12)
	  	</if>
       <if test="goodsType!=null and goodsType!='' ">
	  	   and GOODS_TYPE = #{goodsType}
	   </if>
	  	 <if test="sign==8 ">
	  	    and AUDIT_TURN in (1,2,3) and  STATUS in (2,12) 
	   </if>
	  
	   <if test="sign==3 ">
	  	    and status in(1,3,4,5,6,7,12)
	   </if>
	   <if test="sign==3 ">
	  	    and status in(1,3,4,5,6,7,12)
	   </if>
	   
	   <if test="sign==12 ">
	  	    and AUDIT_TURN is null and  STATUS in (2,12) 
	   </if>
	   
	   
	    <if test="status !=null ">
	  	   and status=#{status}
	  	</if>
	  	 and  USER_ID in(
		   select id from T_SES_BMS_USER  WHERE   org_id=(select org_id from T_SES_BMS_USER where  id=#{userId})
		    UNION
		   select id from T_SES_BMS_USER where org_id in (select PURCHASE_DEP_ID from T_SES_OMS_PURDEP_ORG where ORG_ID=(select org_id from T_SES_BMS_USER where  id=#{userId})))
  	</where>
  	
   order by CREATED_AT desc
 <!--   	<if test="status ==1 ">
  	 ORDER BY decode(STATUS,'1',1,'3',2,'4',3,'5',4,'6',5,'7',6,'12',7,'2',8) , CREATED_AT desc
  	</if>
  	
  	
  	<if test="status ==2 ">
  		  order by STATUS  desc, CREATED_AT desc
  	</if> -->
  </select>
  
  
  <!-- 获取计划总金额 -->
   <select id="selectAllBudget" parameterType="java.util.Map" resultMap="baseAnalyzeVo">
      SELECT
        NVL(SUM(BUDGET),0) AS COL_VALUE,
        COUNT(ID) AS COL_COUNT
      FROM
        T_BSS_PMS_COLLECT_PLAN
      WHERE
        STATUS = 2
      <if test="createdAt != null">
        AND to_char(CREATED_AT,'yyyy') = to_char(#{createdAt},'yyyy')
      </if>
   </select>
   
   <!-- 管理部门获取前10名的总金额 -->
   <select id="selectManageBudget" resultMap="baseAnalyzeBigDecimal">
     	SELECT COL_NAME, COL_VALUE, COL_ID
			  FROM (SELECT ORG.SHORT_NAME AS COL_NAME,
			               NVL(SUM(P.BUDGET), 0) AS COL_VALUE,
			               ORG. ID AS COL_ID
			          FROM T_SES_OMS_ORG ORG
			          LEFT JOIN (SELECT ORG_ID, ID FROM T_SES_BMS_USER) U
			            ON ORG. ID = U.ORG_ID
			          LEFT JOIN T_BSS_PMS_COLLECT_PLAN P
			            ON U . ID = P.USER_ID
			         WHERE ORG.TYPE_NAME = 2
			           AND P.STATUS = '2'
			           AND ORG.IS_DELETED = 0
			         GROUP BY ORG.SHORT_NAME, ORG. ID
			         ORDER BY COL_VALUE DESC)
			 WHERE ROWNUM &lt;= 10
   </select>
   
   <!-- 采购机构获取前10名的总金额 -->
   <select id="selectPlanBudget" resultMap="baseAnalyzeBigDecimal">
      SELECT
			  COL_NAME,
			  COL_VALUE,
			  COL_ID
			FROM
			  (
			    SELECT
			      o. ID AS COL_ID,
			      o.SHORT_NAME AS COL_NAME,
			      NVL (SUM(D .BUDGET), 0) AS COL_VALUE
			    FROM
			      T_BSS_PMS_PURCHASE_DETAIL D
			    LEFT JOIN T_SES_OMS_ORG o ON o. ID = D .ORGANIZATION_ID
			    WHERE
			      o.TYPE_NAME = 1
			    AND D.PRICE is NOT NULL
			    AND D .HISTORY_STATUS = '0'
			    AND o.IS_DELETED = 0
			    GROUP BY
			      o.SHORT_NAME,
			      o. ID
			    ORDER BY
			      COL_VALUE DESC
			  )
			WHERE
			  ROWNUM &lt;= 10
   </select>
   
   
   <!-- 资源展示管理部门获取采购计划 -->
   <select id="selectManagePlan" parameterType="java.util.Map" resultMap="CollectPlan_Map" >
		  select 
		    p.FILE_NAME,p.BUDGET,p.CREATED_AT,p.STATUS,p.ID,o.SHORT_NAME AS taskId
      FROM
        T_SES_OMS_ORG o LEFT JOIN (SELECT ORG_ID, ID FROM T_SES_BMS_USER) U
      ON o. ID = U.ORG_ID
        LEFT JOIN T_BSS_PMS_COLLECT_PLAN P
      ON U . ID = P.USER_ID
		    <where>
		       p.STATUS = 2 AND o.IS_DELETED = 0
		     <if test="fileName != null">
		       and  p.FILE_NAME like CONCAT(CONCAT('%', #{fileName}), '%') 
		      </if>
		      <if test="orgId !=null ">
             and o.ID=#{orgId}
          </if>
		    </where>
		   order by p.CREATED_AT desc
  </select>
  
  <!-- 资源展示下达时间获取采购计划 -->
  <select id="selectDatePlan" parameterType="java.util.Map" resultMap="CollectPlan_Map" >
      SELECT
			  *
			FROM
			  (
			    SELECT
			      c.FILE_NAME,
			      c. ID,
			      c.BUDGET,
			      c.STATUS,
			      T .GIVE_TIME createdAt,
			      T .COLLECT_ID
			    FROM
			      T_BSS_PMS_COLLECT_PLAN c
			    LEFT JOIN T_BSS_PPMS_TASK T ON c."ID" = T .COLLECT_ID
			    WHERE
			     T .TASK_NATURE = 0
          AND T .IS_DELETED = 0
          AND c.STATUS = 2
			     <if test="date != null">
            and to_char(T.GIVE_TIME,'yyyy') = #{date}
           </if>
           <if test="fileName != null">
            and  c.FILE_NAME like CONCAT(CONCAT('%', #{fileName}), '%') 
           </if>
			  ) T
			GROUP BY
			  T .FILE_NAME,
			  T .createdAt,
			  T .COLLECT_ID,
			  t.STATUS,
			  T . ID,
			  T .BUDGET
			ORDER BY
			  T .createdAt DESC
  </select>
  
  
  <select id="selectOrgPlan" parameterType="java.util.Map" resultMap="CollectPlan_Map" >
      SELECT
			  o.SHORT_NAME as taskId,
			  c .id,
			  c.FILE_NAME,
			  NVL (SUM(D .BUDGET), 0) AS BUDGET,
			  c.CREATED_AT,c.STATUS
			FROM
			  T_BSS_PMS_PURCHASE_DETAIL D
			LEFT JOIN T_SES_OMS_ORG o ON o. ID = D .ORGANIZATION_ID
			LEFT JOIN T_BSS_PMS_COLLECT_PLAN c ON c. ID = D .UNIQUE_ID
			WHERE
			  o. ID = #{orgnizationId}
			<if test="fileName != null">
        and  c.FILE_NAME like CONCAT(CONCAT('%', #{fileName}), '%') 
      </if>
			AND c.STATUS = 2
			AND D .PRICE IS NOT NULL
			AND D .HISTORY_STATUS = '0'
			AND o.IS_DELETED = 0
			GROUP BY
			  o.SHORT_NAME,
			  c .id,c.CREATED_AT,
			  c.FILE_NAME,c.STATUS
			ORDER BY
			  BUDGET DESC
  </select>
  
</mapper>