<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.pms.CollectPlanMapper">
  <resultMap id="CollectPlan_Map" type="bss.model.pms.CollectPlan">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="BUDGET" jdbcType="DECIMAL" property="budget" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="PURCHASE_ID" jdbcType="VARCHAR" property="purchaseId" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="ORDER_AT" jdbcType="TIMESTAMP" property="orderAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="POSITION" jdbcType="DECIMAL" property="position" />
    <result column="PLAN_NUMBER" jdbcType="VARCHAR" property="planNo" />
    <result column="GOODS_TYPE" jdbcType="VARCHAR" property="goodsType" />
    <result column="PURCHASE_TYPE" jdbcType="VARCHAR" property="purchaseType" />
    <result column="TASK_ID" jdbcType="VARCHAR" property="taskId" />
    <result column="TOTAL_AUDIT" jdbcType="VARCHAR" property="totalAudit" />
    <result column="AUDIT_TURN" jdbcType="VARCHAR" property="auditTurn" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, FILE_NAME, PASSWORD, DEPARTMENT, BUDGET, STATUS, PURCHASE_ID, CREATED_AT, ORDER_AT, 
    UPDATED_AT, POSITION,PLAN_NUMBER,GOODS_TYPE,PURCHASE_TYPE,TASK_ID,TOTAL_AUDIT,AUDIT_TURN,USER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="CollectPlan_Map">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PMS_COLLECT_PLAN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_PMS_COLLECT_PLAN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="bss.model.pms.CollectPlan">
    insert into T_BSS_PMS_COLLECT_PLAN (ID, FILE_NAME, PASSWORD, 
      DEPARTMENT, BUDGET, STATUS, 
      PURCHASE_ID, CREATED_AT, ORDER_AT,GOODS_TYPE,PURCHASE_TYPE 
      UPDATED_AT, POSITION,PLAN_NUMBER,GOODS_TYPE,PURCHASE_TYPE,TASK_ID,TOTAL_AUDIT,AUDIT_TURN,USER_ID)
    values (#{id,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{department,jdbcType=VARCHAR}, #{budget,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{purchaseId,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{orderAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{position,jdbcType=DECIMAL}, #{PLAN_NUMBER,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, 
      #{purchaseType,jdbcType=VARCHAR},#{taskId,jdbcType=VARCHAR}, #{totalAudit,jdbcType=DECIMAL},#{auditTurn,jdbcType=DECIMAL},#{userId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bss.model.pms.CollectPlan">
    insert into T_BSS_PMS_COLLECT_PLAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="budget != null">
        BUDGET,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="purchaseId != null">
        PURCHASE_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="orderAt != null">
        ORDER_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="position != null">
        POSITION,
      </if>
       <if test="planNo != null">
        PLAN_NUMBER,
      </if>
       <if test="goodsType != null">
        GOODS_TYPE,
      </if>
       <if test="purchaseType != null">
        PURCHASE_TYPE,
      </if>
       <if test="taskId != null">
        TASK_ID,
      </if>
       <if test="totalAudit!= null">
        TOTAL_AUDIT,
      </if>
       <if test="auditTurn != null">
        AUDIT_TURN,
      </if>
       <if test="userId != null">
        USER_ID,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="budget != null">
        #{budget,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="purchaseId != null">
        #{purchaseId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderAt != null">
        #{orderAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        #{position,jdbcType=DECIMAL},
      </if>
      <if test="planNo != null">
        #{planNo,jdbcType=VARCHAR},
      </if>
       <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
       <if test="purchaseType != null">
        #{purchaseType,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="totalAudit!= null">
           #{totalAudit,jdbcType=DECIMAL},
      </if>
       <if test="auditTurn != null">
           #{auditTurn,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
          #{userId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.pms.CollectPlan">
    update T_BSS_PMS_COLLECT_PLAN
    <set>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="budget != null">
        BUDGET = #{budget,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="purchaseId != null">
        PURCHASE_ID = #{purchaseId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="orderAt != null">
        ORDER_AT = #{orderAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=DECIMAL},
      </if>
       <if test="planNo != null">
        PLAN_NUMBER = #{planNo,jdbcType=VARCHAR},
      </if>
       <if test="goodsType != null">
        GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      </if>
       <if test="purchaseType != null">
        PURCHASE_TYPE = #{purchaseType,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        TASK_ID = #{taskId,jdbcType=VARCHAR},
      </if>
       <if test="totalAudit != null">
        TOTAL_AUDIT = #{totalAudit,jdbcType=DECIMAL},
      </if>
       <if test="auditTurn != null">
        AUDIT_TURN= #{auditTurn,jdbcType=DECIMAL},
      </if>
       <if test="userId != null">
         USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      
      
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.pms.CollectPlan">
    update T_BSS_PMS_COLLECT_PLAN
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      BUDGET = #{budget,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      PURCHASE_ID = #{purchaseId,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      ORDER_AT = #{orderAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      POSITION = #{position,jdbcType=DECIMAL},
      PLAN_NUMBER = #{planNo,jdbcType=VARCHAR},
      GOODS_TYPE = #{goodsType,jdbcType=VARCHAR},
      PURCHASE_TYPE = #{purchaseType,jdbcType=VARCHAR},
	  TASK_ID = #{taskId,jdbcType=VARCHAR},
      TOTAL_AUDIT = #{totalAudit,jdbcType=DECIMAL},
      AUDIT_TURN= #{auditTurn,jdbcType=DECIMAL},
      USER_ID= #{userId,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="query" parameterType="bss.model.pms.CollectPlan" resultMap="CollectPlan_Map" >
  
  select 
  <include refid="Base_Column_List"/>
  from T_BSS_PMS_COLLECT_PLAN
  	<where> 1=1
     <if test="fileName != null">
       and  FILE_NAME = #{fileName}
      </if>
  	  <if test="budget != null">
       and  BUDGET=#{budget}
      </if>
       <if test="purchaseType != null">
        and PURCHASE_TYPE = #{purchaseType}
      </if>
      
      <if test="userId != null">
       and  USER_ID=#{userId}
      </if>
       <if test="planNo != null">
         and  PLAN_NUMBER = #{planNo}
      </if>
      
	    <if test="sign==0 ">
	  	   and status in(1,2,3,4,5,6,7,12)
	  	</if>
       <if test="goodsType!=null and goodsType!='' ">
	  	   and GOODS_TYPE = #{goodsType}
	   </if>
	  	 <if test="sign==8 ">
	  	    and AUDIT_TURN in (1,2,3) and  STATUS in (2,12) 
	   </if>
	  
	   <if test="sign==3 ">
	  	    and status in(1,3,4,5,6,7,12)
	   </if>
	   <if test="sign==3 ">
	  	    and status in(1,3,4,5,6,7,12)
	   </if>
	   
	   <if test="sign==12 ">
	  	    and AUDIT_TURN is null and  STATUS in (2,12) 
	   </if>
	   
	   
	    <if test="status !=null ">
	  	   and status=#{status}
	  	</if>
	  	
  	</where>
  	
   order by CREATED_AT desc
 <!--   	<if test="status ==1 ">
  	 ORDER BY decode(STATUS,'1',1,'3',2,'4',3,'5',4,'6',5,'7',6,'12',7,'2',8) , CREATED_AT desc
  	</if>
  	
  	
  	<if test="status ==2 ">
  		  order by STATUS  desc, CREATED_AT desc
  	</if> -->
  	
  	
  </select>
  
  <select id="querySupervision" parameterType="bss.model.pms.CollectPlan" resultMap="CollectPlan_Map" >
  
  select 
  <include refid="Base_Column_List"/>
  from T_BSS_PMS_COLLECT_PLAN
    <where> 1=1
     <if test="fileName != null">
       and  FILE_NAME like '%'||#{fileName}||'%'
      </if>
      <if test="budget != null">
       and  BUDGET like '%'||#{budget}||'%'
      </if>
       <if test="purchaseType != null">
        and PURCHASE_TYPE = #{purchaseType}
      </if>
      
      <if test="userId != null">
       and  USER_ID=#{userId}
      </if>
       <if test="planNo != null">
         and  PLAN_NUMBER = #{planNo}
      </if>
      
      <if test="sign==0 ">
         and status in(1,2,3,4,5,6,7,12)
      </if>
       <if test="goodsType!=null and goodsType!='' ">
         and GOODS_TYPE = #{goodsType}
     </if>
       <if test="sign==8 ">
          and AUDIT_TURN in (1,2,3) and  STATUS in (2,12) 
     </if>
    
     <if test="sign==3 ">
          and status in(1,3,4,5,6,7,12)
     </if>
     <if test="sign==3 ">
          and status in(1,3,4,5,6,7,12)
     </if>
     
     <if test="sign==12 ">
          and AUDIT_TURN is null and  STATUS in (2,12) 
     </if>
     
     
      <if test="status !=null ">
         and status=#{status}
      </if>
      
    </where>
    
   order by CREATED_AT desc
 <!--     <if test="status ==1 ">
     ORDER BY decode(STATUS,'1',1,'3',2,'4',3,'5',4,'6',5,'7',6,'12',7,'2',8) , CREATED_AT desc
    </if>
    
    
    <if test="status ==2 ">
        order by STATUS  desc, CREATED_AT desc
    </if> -->
    
    
  </select>

  <select id="getMax" resultType="Integer">
  	select max(POSITION) from T_BSS_PMS_COLLECT_PLAN
  </select>
  
  <select id="getDepartmentList" resultMap="CollectPlan_Map">
  	select DEPARTMENT from T_BSS_PMS_COLLECT_PLAN GROUP BY DEPARTMENT
  </select>
  
  
  <select id="queryPlan" parameterType="bss.model.pms.CollectPlan" resultMap="CollectPlan_Map">
		    select 
		  <include refid="Base_Column_List"/>
			  from T_BSS_PMS_COLLECT_PLAN
			  	 
				 			WHERE ID=#{id}
				   
  </select>
  <select id="getSummary" parameterType="bss.model.pms.CollectPlan" resultMap="CollectPlan_Map" >
  
  select 
  <include refid="Base_Column_List"/>
  from T_BSS_PMS_COLLECT_PLAN
  	<where> 1=1
     <if test="fileName != null">
       and  FILE_NAME = #{fileName}
      </if>
  	  <if test="budget != null">
       and  BUDGET=#{budget}
      </if>
       <if test="purchaseType != null">
        and PURCHASE_TYPE = #{purchaseType}
      </if>
       <if test="planNo != null">
         and  PLAN_NUMBER = #{planNo}
      </if>
      
	    <if test="sign==0 ">
	  	   and status in(1,2,3,4,5,6,7,12)
	  	</if>
       <if test="goodsType!=null and goodsType!='' ">
	  	   and GOODS_TYPE = #{goodsType}
	   </if>
	  	 <if test="sign==8 ">
	  	    and AUDIT_TURN in (1,2,3) and  STATUS in (2,12) 
	   </if>
	  
	   <if test="sign==3 ">
	  	    and status in(1,3,4,5,6,7,12)
	   </if>
	   <if test="sign==3 ">
	  	    and status in(1,3,4,5,6,7,12)
	   </if>
	   
	   <if test="sign==12 ">
	  	    and AUDIT_TURN is null and  STATUS in (2,12) 
	   </if>
	   
	   
	    <if test="status !=null ">
	  	   and status=#{status}
	  	</if>
	  	 and  USER_ID in(
		   select id from T_SES_BMS_USER  WHERE   org_id=(select org_id from T_SES_BMS_USER where  id=#{userId})
		    UNION
		   select id from T_SES_BMS_USER where org_id in (select PURCHASE_DEP_ID from T_SES_OMS_PURDEP_ORG where ORG_ID=(select org_id from T_SES_BMS_USER where  id=#{userId})))
  	</where>
  	
   order by CREATED_AT desc
 <!--   	<if test="status ==1 ">
  	 ORDER BY decode(STATUS,'1',1,'3',2,'4',3,'5',4,'6',5,'7',6,'12',7,'2',8) , CREATED_AT desc
  	</if>
  	
  	
  	<if test="status ==2 ">
  		  order by STATUS  desc, CREATED_AT desc
  	</if> -->
  	
  	
  </select>
</mapper>