<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.prms.FirstAuditTemplatMapper">
  <resultMap id="BaseResultMap" type="bss.model.prms.FirstAuditTemplat">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="KIND" jdbcType="VARCHAR" property="kind" />
    <result column="CREATER" jdbcType="VARCHAR" property="creater" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="IS_USE" jdbcType="DECIMAL" property="isUse" />
    <result column="IS_OPEN" jdbcType="DECIMAL" property="isOpen" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, KIND, CREATER, CREATED_AT, UPDATED_AT, USER_ID, IS_USE, IS_OPEN
  </sql>
  <!--查询所有公开模板和自己私有的模板 -->
  <select id="selectAllTemplat"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PRMS_FIRST_AUDIT_TEMPLAT 
    where  IS_USE = 0 and  (IS_OPEN = 0  
   <if test="userId != null and userId !=''">
    or USER_ID = '${userId}'
    </if>
    )
   <if test="name != null and name !=''">
    and NAME like CONCAT(CONCAT('%', #{name}), '%')
   </if>
   <if test="kind != null and kind !=''">
    and KIND = #{kind}
   </if>
   ORDER BY CREATED_AT DESC 
  </select>
  <!--查询所有模板 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PRMS_FIRST_AUDIT_TEMPLAT 
    where  IS_USE = 0 
     <if test="name != null and name!=''">
        and NAME like CONCAT(CONCAT('%', #{name}), '%')
      </if>
      <if test="kind != null and kind !=''">
	    and KIND = #{kind}
	   </if>
       ORDER BY CREATED_AT DESC 
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PRMS_FIRST_AUDIT_TEMPLAT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_PRMS_FIRST_AUDIT_TEMPLAT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="bss.model.prms.FirstAuditTemplat">
    insert into T_BSS_PRMS_FIRST_AUDIT_TEMPLAT (ID, NAME, KIND, 
      CREATER, CREATED_AT, UPDATED_AT, 
      USER_ID, IS_USE, IS_OPEN
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{kind,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=VARCHAR}, #{isUse,jdbcType=DECIMAL}, #{isOpen,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="bss.model.prms.FirstAuditTemplat">
    insert into T_BSS_PRMS_FIRST_AUDIT_TEMPLAT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="kind != null">
        KIND,
      </if>
      <if test="creater != null">
        CREATER,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="isUse != null">
        IS_USE,
      </if>
      <if test="isOpen != null">
        IS_OPEN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null">
        #{isUse,jdbcType=DECIMAL},
      </if>
      <if test="isOpen != null">
        #{isOpen,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.prms.FirstAuditTemplat">
    update T_BSS_PRMS_FIRST_AUDIT_TEMPLAT
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        KIND = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null">
        IS_USE = #{isUse,jdbcType=DECIMAL},
      </if>
      <if test="isOpen != null">
        IS_OPEN = #{isOpen,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.prms.FirstAuditTemplat">
    update T_BSS_PRMS_FIRST_AUDIT_TEMPLAT
    set NAME = #{name,jdbcType=VARCHAR},
      KIND = #{kind,jdbcType=VARCHAR},
      CREATER = #{creater,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=VARCHAR},
      IS_USE = #{isUse,jdbcType=DECIMAL},
      IS_OPEN = #{isOpen,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>