<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.prms.PackageFirstAuditMapper">
  <resultMap id="BaseResultMap" type="bss.model.prms.PackageFirstAudit">
    <result column="PACKAGE_ID" jdbcType="VARCHAR" property="packageId" />
    <result column="FIRST_AUDIT_ID" jdbcType="VARCHAR" property="firstAuditId" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="IS_CONFIRM" jdbcType="DECIMAL" property="isConfirm" />
  </resultMap>
  
  <sql id="Base_Column_List">
  PACKAGE_ID,FIRST_AUDIT_ID,PROJECT_ID,IS_CONFIRM
  </sql>
  <!-- 根据包id删除 -->
   <delete id="deleteByPackageId" parameterType="java.lang.String">
    delete from T_BSS_PRMS_PACKAGE_FIRST_AUDIT
    where PACKAGE_ID = #{packageId,jdbcType=VARCHAR}
  </delete>
  <!-- 根据初审项id删除 -->
   <delete id="deleteByFirstAuditId" parameterType="java.lang.String">
    delete from T_BSS_PRMS_PACKAGE_FIRST_AUDIT
    where FIRST_AUDIT_ID = #{firstAuditId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 根据项目id和包id查询关联表集合 -->
  <select id="selectList"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PRMS_PACKAGE_FIRST_AUDIT
    where PACKAGE_ID = #{packageId,jdbcType=VARCHAR} AND PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </select>
  <!-- 根据项目id和包id数组查询关联表集合 -->
  <select id="findByProAndPackage"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PRMS_PACKAGE_FIRST_AUDIT
    where 1=1
    <if test="packageIds != null">
     PACKAGE_ID in 
	<foreach item="item" index="index" collection="packageIds" open="(" separator="," close=")">  
	 	#{item}  
	</foreach> 
	</if>
    AND 
    PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </select>
  
  <!--根据项目id 包id 初审项id  修改数据  -->
  <update id="update" parameterType="bss.model.prms.PackageFirstAudit">
    update T_BSS_PRMS_PACKAGE_FIRST_AUDIT
    <set>
      <if test="packageId != null">
        PACKAGE_ID = #{packageId,jdbcType=VARCHAR},
      </if>
      <if test="firstAuditId != null">
        FIRST_AUDIT_ID = #{firstAuditId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
       <if test="isConfirm != null">
        IS_CONFIRM = #{isConfirm},
      </if>
    </set>
    where 1=1
     <if test="packageId != null and packageId != ''">
        AND PACKAGE_ID = #{packageId} 
      </if>
      <if test="firstAuditId != null and firstAuditId != ''">
        AND FIRST_AUDIT_ID = #{firstAuditId}
      </if>
      <if test="projectId != null and projectId != ''">
        AND PROJECT_ID = #{projectId}
      </if>
  </update>
  
  <insert id="insert" parameterType="bss.model.prms.PackageFirstAudit">
    insert into T_BSS_PRMS_PACKAGE_FIRST_AUDIT (PACKAGE_ID, FIRST_AUDIT_ID, PROJECT_ID, 
      IS_CONFIRM)
    values (#{packageId,jdbcType=VARCHAR}, #{firstAuditId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{isConfirm,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="bss.model.prms.PackageFirstAudit">
    insert into T_BSS_PRMS_PACKAGE_FIRST_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="packageId != null">
        PACKAGE_ID,
      </if>
      <if test="firstAuditId != null">
        FIRST_AUDIT_ID,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="isConfirm != null">
        IS_CONFIRM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="packageId != null">
        #{packageId,jdbcType=VARCHAR},
      </if>
      <if test="firstAuditId != null">
        #{firstAuditId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="isConfirm != null">
        #{isConfirm,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>