<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.prms.PackageExpertMapper">
	<resultMap id="BaseResultMap" type="bss.model.prms.PackageExpert">
		<result column="PACKAGE_ID" jdbcType="VARCHAR" property="packageId" />
		<result column="EXPERT_ID" jdbcType="VARCHAR" property="expertId" />
		<result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
		<result column="IS_GROUP_LEADER" jdbcType="DECIMAL" property="isGroupLeader" />
		<result column="IS_AUDIT" jdbcType="DECIMAL" property="isAudit" />
		<result column="IS_GATHER" jdbcType="DECIMAL" property="isGather" />
		<result column="IS_GRADE" jdbcType="DECIMAL" property="isGrade" />
		<result column="IS_GRADE_GATHER" jdbcType="DECIMAL" property="isGatherGather" />
		    <result column="EXPERT_ID" jdbcType="VARCHAR" property="expertId" />
		<result column="REVIEW_TYPE_ID" jdbcType="VARCHAR" property="reviewTypeId" />
		<association property="expert" column="EXPERT_ID"
			select="ses.dao.ems.ExpertMapper.selectByPrimaryKey"></association>
	</resultMap>

	<sql id="Base_Column_List">
		PACKAGE_ID,EXPERT_ID,PROJECT_ID,IS_GROUP_LEADER,IS_AUDIT,IS_GATHER,IS_GRADE,IS_GRADE_GATHER,REVIEW_TYPE_ID
	</sql>
	<!-- 根据项目id和包id 以及查询关联表集合 -->
	<select id="selectList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_BSS_PRMS_PACKAGE_EXPERT
		where 1=1
		<if test="packageId != null and packageId !=''">
			AND PACKAGE_ID = #{packageId}
		</if>
		<if test="projectId != null and projectId !=''">
			AND PROJECT_ID = #{projectId}
		</if>
		<if test="isGroupLeader != null and isGroupLeader !=''">
			AND IS_GROUP_LEADER = ${isGroupLeader}
		</if>
		<if test="expertId != null and expertId !=''">
			AND EXPERT_ID = #{expertId}
		</if>
		<if test="isAudit != null">
			AND IS_AUDIT = #{isAudit}
		</if>
		<if test="isGather != null">
			AND IS_GATHER = #{isGather}
		</if>
		<if test="isGrade != null">
			AND IS_GRADE = #{isGrade}
		</if>
		<if test="isGatherGather != null">
			AND IS_GRADE_GATHER = #{isGatherGather}
		</if>
		<if test="reviewTypeId != null and reviewTypeId != ''">
			AND REVIEW_TYPE_ID = #{reviewTypeId}
		</if>
	</select>
	<!-- 根据包id删除 -->
	<delete id="deleteByPackageId" parameterType="java.lang.String">
		delete from T_BSS_PRMS_PACKAGE_EXPERT
		where PACKAGE_ID = #{packageId,jdbcType=VARCHAR}
	</delete>
	<!-- 根据条件修改 -->
	<update id="updateByBean" parameterType="bss.model.prms.PackageExpert">
		update T_BSS_PRMS_PACKAGE_EXPERT
		<set>
			<if test="packageId != null and packageId !=''">
				PACKAGE_ID = #{packageId},
			</if>
			<if test="projectId != null and projectId !=''">
				PROJECT_ID = #{projectId},
			</if>
			<if test="isGroupLeader != null">
				IS_GROUP_LEADER = #{isGroupLeader,jdbcType=DECIMAL},
			</if>
			<if test="expertId != null and expertId !=''">
				EXPERT_ID = #{expertId},
			</if>
			<if test="isAudit != null">
				IS_AUDIT = #{isAudit,jdbcType=DECIMAL},
			</if>
			<if test="isGather != null">
				IS_GATHER = #{isGather,jdbcType=DECIMAL},
			</if>
			<if test="isGrade != null">
				IS_GRADE = #{isGrade,jdbcType=DECIMAL},
			</if>
			<if test="isGatherGather != null">
				IS_GRADE_GATHER = #{isGatherGather,jdbcType=DECIMAL},
			</if>
			<if test="reviewTypeId != null">
       			REVIEW_TYPE_ID = #{reviewTypeId,jdbcType=DECIMAL},
      		</if>
		</set>
		where 1=1
		<if test="packageId != null and packageId !=''">
			AND PACKAGE_ID = #{packageId}
		</if>
		<if test="projectId != null and projectId !=''">
			AND PROJECT_ID = #{projectId}
		</if>
		<if test="expertId != null and expertId !=''">
			AND EXPERT_ID = #{expertId}
		</if>
	</update>


	<insert id="insert" parameterType="bss.model.prms.PackageExpert">
		insert into T_BSS_PRMS_PACKAGE_EXPERT (PACKAGE_ID, EXPERT_ID, PROJECT_ID,
		IS_GROUP_LEADER, IS_AUDIT,IS_GATHER,IS_GRADE,IS_GRADE_GATHER,REVIEW_TYPE_ID)
		values (#{packageId,jdbcType=VARCHAR}, #{expertId,jdbcType=VARCHAR},
		#{projectId,jdbcType=VARCHAR},
		#{isGroupLeader,jdbcType=DECIMAL}, #{isAudit,jdbcType=DECIMAL},#{isGather,jdbcType=DECIMAL},
		#{isGrade,jdbcType=DECIMAL}, #{isGatherGather,jdbcType=DECIMAL},#{reviewTypeId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="bss.model.prms.PackageExpert">
		insert into T_BSS_PRMS_PACKAGE_EXPERT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="packageId != null">
				PACKAGE_ID,
			</if>
			<if test="expertId != null">
				EXPERT_ID,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="isGroupLeader != null">
				IS_GROUP_LEADER,
			</if>
			<if test="isAudit != null">
				IS_AUDIT,
			</if>
			<if test="isGather != null">
				IS_GATHER,
			</if>
			<if test="isGrade != null">
				IS_GRADE,
			</if>
			<if test="isGatherGather != null">
				IS_GRADE_GATHER,
			</if>
			 <if test="reviewTypeId != null">
        REVIEW_TYPE_ID,
      </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="packageId != null">
				#{packageId,jdbcType=VARCHAR},
			</if>
			<if test="expertId != null">
				#{expertId,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="isGroupLeader != null">
				#{isGroupLeader,jdbcType=DECIMAL},
			</if>
			<if test="isAudit != null">
				#{isAudit,jdbcType=DECIMAL},
			</if>
			<if test="isGather != null">
				#{isGather,jdbcType=DECIMAL},
			</if>
			<if test="isGrade != null">
				#{isGrade,jdbcType=DECIMAL},
			</if>
			<if test="isGatherGather != null">
				#{isGatherGather,jdbcType=DECIMAL},
			</if>
			 <if test="reviewTypeId != null">
			   #{reviewTypeId,jdbcType=VARCHAR},
      </if>
		</trim>
	</insert>
	<select id="findMarkTypeByProId" resultType="java.util.HashMap">
		select PACKAGE_ID packageId,TYPE_NAME typeName
		from T_BSS_PPMS_MARK_TERM
		where PROJECT_ID = #{_parameter}
	</select>
	<select id="findScoreByMap" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select es.PACKAGE_ID packageId,es.EXPERT_ID expertId,
		es.SUPPLIER_ID supplierId,
		sd.MARK_TERM_ID marktermId,es.SCORE score
		from T_BSS_PRMS_EXPERT_SCORE es
		left join T_BSS_PPMS_SCORE_MODEL sd
		on es.SCORE_MODEL_ID = sd.ID
		where es.PROJECT_ID = #{projectId}
		and es.PACKAGE_ID = #{packageId}
		and es.IS_HISTORY = '0'
	</select>
	<!-- 回退分数 -->
	<update id="backScore" parameterType="java.util.HashMap">
		update T_BSS_PRMS_PACKAGE_EXPERT
		set IS_GRADE = 0,
		IS_GRADE_GATHER = 0
		where PACKAGE_ID = #{packageId}
		and PROJECT_ID = #{projectId}
		and EXPERT_ID = #{expertId}
	</update>
</mapper>