<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="extract.dao.common.ExtractUserMapper">
	<resultMap id="BaseResultMap" type="extract.model.common.ExtractUser">
		<id column="ID" jdbcType="VARCHAR" property="id" />
	    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
	    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
	    <result column="NAME" jdbcType="VARCHAR" property="name" />
	    <result column="COMPANY" jdbcType="VARCHAR" property="company" />
	    <result column="DUTY" jdbcType="VARCHAR" property="duty" />
	    <result column="RANK" jdbcType="VARCHAR" property="rank" />
	</resultMap>



	<sql id="Base_Column_List">
		<!-- @mbggenerated -->
		ID, EXTRACTS_ID, USER_ID, CREATED_AT, PROJECT_ID,UPDATED_AT,REL_NAME,COMPANY,PHONE,DUTIES
	</sql>
  
  <select id="getList" resultMap="BaseResultMap" parameterType="extract.dao.common.ExtractUserMapper">
  	SELECT * FROM T_SES_EXTRACT_USER WHERE IS_DELETE = 0 
  	<if test="name != null and name != '' ">
  		AND NAME LIKE concat(concat('%',#{name}),'%')
  	</if>
  	<if test="compary != null and compary != '' ">
  		AND COMPARY LIKE concat(concat('%',#{compary}),'%')
  	</if>
  	<if test="duty != null and duty != '' ">
  		AND DUTY LIKE concat(concat('%',#{duty}),'%')
  	</if>
  	<if test="rank != null and rank != '' ">
  		AND RANK LIKE concat(concat('%',#{rank}),'%')
  	</if>
  	<if test="orgId !=null and orgId != ''">
  		AND ORG_ID = #{orgId}
  	</if>
  </select>
  
  <insert id="insertSelectiveAll" parameterType="java.util.List">
  	INSERT ALL
	<foreach collection="list" item="item" separator="">
		INTO T_SES_EXTRACT_USER (ID,NAME,COMPARY,DUTY,RANK,ORG_ID) VALUES
		(#{item.id,jdbcType=VARCHAR},#{item.name,jdbcType=VARCHAR},#{item.compary,jdbcType=VARCHAR},#{item.duty,jdbcType=VARCHAR},#{item.rank,jdbcType=VARCHAR},#{item.orgId,jdbcType=VARCHAR})
	</foreach>
	SELECT 1 FROM DUAL
  </insert>
  
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT * FROM T_SES_EXTRACT_USER WHERE ID = #{value}
  </select>
	
	<!-- 根据抽取记录查询抽取人员集合 -->
	<select id="getlistByRid" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT U.* FROM T_SES_EXTRACT_USER U  LEFT JOIN T_SES_EXT_RECORD_REL_PERSON P ON P.PERSON_ID = U.ID WHERE P.PERSON_TYPE = 'extractUser' AND P.IS_DELETE = '0' AND P.RECORD_ID = #{value}
	</select>

	<!-- 根据抽取记录查询抽取人员集合 -->
	<select id="getUnameByprojectId" parameterType="java.lang.String" resultType="String">
		SELECT U.NAME FROM T_SES_EXTRACT_USER U LEFT JOIN T_SES_EXT_RECORD_REL_PERSON P ON P.PERSON_ID = U.ID WHERE P.PERSON_TYPE = 'extractUser' AND P.IS_DELETE = '0' AND P.RECORD_ID = #{projectId}
	</select>
</mapper>