.h900{
	height:900px;
}
.h600{
	height:630px;
}
.dn{
	display:none;
}
.ml280{
	margin-left:280px;
}
.ml170{
	margin-left:280px;
}
#container {
    height: 700px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
#orgName{
	border:0;
}