<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.sstps.ContractProductMapper">
  <resultMap id="ContractProductResultMap" type="bss.model.sstps.ContractProduct">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    
    <result column="OFFER" property="offer" />
    <result column="AUDIT_OFFER" property="auditOffer" />
    <result column="REQUIRDEID" property="requirdeId" />
    <association property="appraisalContract" column="CONTRACT_ID" select="bss.dao.sstps.AppraisalContractMapper.selectById"/>
    
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, CONTRACT_ID, NAME, CREATED_AT, UPDATED_AT,OFFER,AUDIT_OFFER,REQUIRDEID
  </sql>
  
  <!-- 根据ID查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ContractProductResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_SSTPS_CONTRACT_PRODUCT
    where ID = #{id}
  </select>
  
  <!-- 查询合同产品 -->
  <select id="select" parameterType="java.util.Map" resultMap="ContractProductResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_SSTPS_CONTRACT_PRODUCT
    WHERE CONTRACT_ID = #{appraisalContractId}
    <if test="name != null and name != ''" >
    AND NAME LIKE CONCAT(CONCAT('%', #{name}), '%')
    </if>
  </select>
  
  <!-- 新增 -->
  <insert id="insert" parameterType="bss.model.sstps.ContractProduct">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_SSTPS_CONTRACT_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="appraisalContract != null">
        CONTRACT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="offer != null">
        OFFER,
      </if>
      <if test="auditOffer != null">
        AUDIT_OFFER,
      </if>
      <if test="requirdeId != null">
        REQUIRDEID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="appraisalContract != null">
        #{appraisalContract.id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="offer != null">
        #{offer},
      </if>
      <if test="auditOffer != null">
       #{auditOffer},
      </if>
      <if test="requirdeId != null">
       #{requirdeId},
      </if>
    </trim>
  </insert>
  
  
  <update id="update" parameterType="bss.model.sstps.ContractProduct">
 	 update T_BSS_SSTPS_CONTRACT_PRODUCT
 	<if test="offer != null">
  	<set>
  		OFFER = #{offer}
  	</set>
    </if>
    <if test="auditOffer != null">
  	<set>
  		AUDIT_OFFER = #{auditOffer}
  	</set>
    </if>	
  	where ID = #{id}
  </update>
  
  
  
  <select id="selectList" parameterType="java.lang.String" resultMap="ContractProductResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_SSTPS_CONTRACT_PRODUCT
    where OFFER = 1
  </select>
  
    <select id="selectProjectList" parameterType="java.lang.String" resultMap="ContractProductResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_SSTPS_CONTRACT_PRODUCT
    where CONTRACT_ID = #{appraisalContract.id}
  </select>
  
</mapper>