<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.sstps.ContractsMapper">
  <resultMap id="ContractsResultMap" type="bss.model.sstps.Contracts">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="CONTRACT_NO" property="contractNo" />
    <result column="APPRAISAL" property="appraisal" />
    <result column="GIVEN" property="given" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, NAME, CONTRACT_NO, APPRAISAL, GIVEN
  </sql>
  
  <select id="select" parameterType="Object" resultMap="ContractsResultMap">
    select 
    <include refid="Base_Column_List" />
    from CONTRACT
  </select>
  
  <select id="selectById" parameterType="Object" resultMap="ContractsResultMap">
    select 
    <include refid="Base_Column_List" />
    from CONTRACT
    where ID = #{id}
  </select>
  
</mapper>