<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.sstps.PeriodCostMapper">
  <resultMap id="PeriodCostMap" type="bss.model.sstps.PeriodCost">
    <id column="ID"  property="id" />
    <result column="PROJECT_NAME"  property="projectName" />
    <result column="TYA_QUOTEPRICE" property="tyaQuoteprice" />
    <result column="OYA_QUOTEPRICE" property="oyaQuoteprice" />
    <result column="NEW_QUOTEPRICE" property="newQuoteprice" />
    <result column="AUDIT_APPROVAL" property="auditApproval" />
    <result column="CHECK_APPROVAL" property="checkApproval" />
    <result column="REMARK"  property="remark" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="PARENT_ID"  property="parentId"  />
    <result column="SERIAL_NUMBER"  property="serialNumber"  />
    <association property="contractProduct" column="PRODUCT_ID" select="bss.dao.sstps.ContractProductMapper.selectByPrimaryKey"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, PRODUCT_ID, PROJECT_NAME, TYA_QUOTEPRICE, OYA_QUOTEPRICE, NEW_QUOTEPRICE, AUDIT_APPROVAL, 
    CHECK_APPROVAL, REMARK, CREATED_AT, UPDATED_AT,PARENT_Id,SERIAL_NUMBER
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="PeriodCostMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_SSTPS_PERIOD_COST
    where ID = #{id}
  </select>
  
  <select id="selectProduct" flushCache="true" parameterType="Object" resultMap="PeriodCostMap">
    select 
    <include refid="Base_Column_List" />
  	from T_BSS_SSTPS_PERIOD_COST
    where PRODUCT_ID = #{contractProduct.id} 
     ORDER BY
	DECODE (
		LENGTH (SERIAL_NUMBER),
		1,
		TO_NUMBER (
			CONCAT (SERIAL_NUMBER, '000000')
		),
		3,
		TO_NUMBER (
			CONCAT (
				REPLACE (SERIAL_NUMBER, '.', ''),
				'00000'
			)
		),
		4,
		TO_NUMBER (
			CONCAT (
				CONCAT (
					SUBSTR (
						SERIAL_NUMBER,
						0,
						INSTR (SERIAL_NUMBER, '.') - 1
					),
					'9'
				),
				CONCAT (
					SUBSTR (
						SERIAL_NUMBER,
						INSTR (SERIAL_NUMBER, '.') + 1
					),
					'000'
				)
			)
		),
		5,
		TO_NUMBER (
			CONCAT (
				CONCAT (
					REPLACE (
						SUBSTR (SERIAL_NUMBER, 0, 3),
						'.',
						''
					),
					'00'
				),
				CONCAT (
					SUBSTR (
						SERIAL_NUMBER,
						LENGTH (SERIAL_NUMBER)
					),
					'00'
				)
			)
		),
		6,
		TO_NUMBER (
			CONCAT (
				CONCAT (
					REPLACE (
						SUBSTR (SERIAL_NUMBER, 0, 3),
						'.',
						''
					),
					'00'
				),
				CONCAT (
					'9',
					SUBSTR (
						SERIAL_NUMBER,
						LENGTH (SERIAL_NUMBER) - 1
					)
				)
			)
		)
	)
  </select>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from T_BSS_SSTPS_PERIOD_COST
    where ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="bss.model.sstps.PeriodCost">
  	<selectKey keyProperty="ids" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_SSTPS_PERIOD_COST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="contractProduct != null">
        PRODUCT_ID,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="tyaQuoteprice != null">
        TYA_QUOTEPRICE,
      </if>
      <if test="oyaQuoteprice != null">
        OYA_QUOTEPRICE,
      </if>
      <if test="newQuoteprice != null">
        NEW_QUOTEPRICE,
      </if>
      <if test="auditApproval != null">
        AUDIT_APPROVAL,
      </if>
      <if test="checkApproval != null">
        CHECK_APPROVAL,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="serialNumber != null">
        SERIAL_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="contractProduct != null">
        #{contractProduct.id},
      </if>
      <if test="projectName != null">
        #{projectName},
      </if>
      <if test="tyaQuoteprice != null">
        #{tyaQuoteprice},
      </if>
      <if test="oyaQuoteprice != null">
        #{oyaQuoteprice},
      </if>
      <if test="newQuoteprice != null">
        #{newQuoteprice},
      </if>
      <if test="auditApproval != null">
        #{auditApproval},
      </if>
      <if test="checkApproval != null">
        #{checkApproval},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="parentId != null">
        #{parentId},
      </if>
      <if test="serialNumber != null">
        #{serialNumber},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="bss.model.sstps.PeriodCost">
    update T_BSS_SSTPS_PERIOD_COST
    <set>
      <if test="contractProduct != null">
        PRODUCT_ID = #{contractProduct.id},
      </if>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName},
      </if>
      <if test="tyaQuoteprice != null">
        TYA_QUOTEPRICE = #{tyaQuoteprice},
      </if>
      <if test="oyaQuoteprice != null">
        OYA_QUOTEPRICE = #{oyaQuoteprice},
      </if>
      <if test="newQuoteprice != null">
        NEW_QUOTEPRICE = #{newQuoteprice},
      </if>
      <if test="auditApproval != null">
        AUDIT_APPROVAL = #{auditApproval},
      </if>
      <if test="checkApproval != null">
        CHECK_APPROVAL = #{checkApproval},
      </if>
      <if test="remark != null">
        REMARK = #{remark},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="parentId != null">
        PARENT_ID=#{parentId},
      </if>
       <if test="serialNumber != null">
        SERIAL_NUMBER=#{serialNumber},
      </if>
    </set>
    where ID = #{id}
  </update>
  
</mapper>