<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.sstps.ProductInfoMapper">
  <resultMap id="ProductInfoMap" type="bss.model.sstps.ProductInfo">
    <id column="ID"  property="id" />
    <result column="NAME"  property="name" />
    <result column="DESIGN_DEPARTMENT"  property="designDepartment" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    
     <association property="contractProduct" column="PRODUCT_ID" select="bss.dao.sstps.ContractProductMapper.selectByPrimaryKey"/>
    
  </resultMap>
  
  <resultMap extends="ProductInfoMap" id="ProductInfoBLOBs" type="bss.model.sstps.ProductInfo">
    <result column="PRODUCT_OVERVIEW" jdbcType="CLOB" property="productOverview" />
    <result column="PRODUCT_PROCESS" jdbcType="CLOB" property="productProcess" />
    <result column="PRODUCT_SKILL" jdbcType="CLOB" property="productSkill" />
    <result column="CONCLUSION" jdbcType="CLOB" property="conclusion" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, PRODUCT_ID, NAME, DESIGN_DEPARTMENT, CREATED_AT, UPDATED_AT
  </sql>
  <sql id="Blob_Column_List">
    PRODUCT_OVERVIEW, PRODUCT_PROCESS, PRODUCT_SKILL, CONCLUSION
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ProductInfoBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_BSS_SSTPS_PRODUCT_INFO
    where ID = #{id}
  </select>
  
  <select id="selectByProduct" parameterType="java.lang.String" resultMap="ProductInfoBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_BSS_SSTPS_PRODUCT_INFO
     where PRODUCT_ID = #{proId}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_SSTPS_PRODUCT_INFO
    where ID = #{id}
  </delete>
  
  <insert id="insert" parameterType="bss.model.sstps.ProductInfo">
 	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_SSTPS_PRODUCT_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="contractProduct != null">
        PRODUCT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="designDepartment != null">
        DESIGN_DEPARTMENT,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="productOverview != null">
        PRODUCT_OVERVIEW,
      </if>
      <if test="productProcess != null">
        PRODUCT_PROCESS,
      </if>
      <if test="productSkill != null">
        PRODUCT_SKILL,
      </if>
      <if test="conclusion != null">
        CONCLUSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="contractProduct != null">
        #{contractProduct.id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="designDepartment != null">
        #{designDepartment},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="productOverview != null">
        #{productOverview},
      </if>
      <if test="productProcess != null">
        #{productProcess},
      </if>
      <if test="productSkill != null">
        #{productSkill},
      </if>
      <if test="conclusion != null">
        #{conclusion},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="bss.model.sstps.ProductInfo">
    update T_BSS_SSTPS_PRODUCT_INFO
    <set>
      <if test="contractProduct != null">
        PRODUCT_ID = #{contractProduct.id},
      </if>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="designDepartment != null">
        DESIGN_DEPARTMENT = #{designDepartment},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="productOverview != null">
        PRODUCT_OVERVIEW = #{productOverview},
      </if>
      <if test="productProcess != null">
        PRODUCT_PROCESS = #{productProcess},
      </if>
      <if test="productSkill != null">
        PRODUCT_SKILL = #{productSkill},
      </if>
      <if test="conclusion != null">
        CONCLUSION = #{conclusion},
      </if>
    </set>
    where ID = #{id}
  </update>
  
</mapper>