<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.oms.OrgnizationMapper">

   <!-- 根据id查询 -->
   <select id="selectByPrimaryKey" parameterType="java.util.Map" resultType="ses.model.oms.Orgnization">
   select d.id  as id,
		       d.NAME         as name,
		       d.TYPE_NAME       as typeName,
		       d.ADDRESS   as address,
		       d.MOBILE    as mobile,
		       d.POST_CODE  as postCode,
		       d.ORG_CODE   as orgCode,
		       d.TELEPHONE  as telephone,
		       d.AREA_ID    as areaId,
		       d.DETAIL_ADDR  as detailAddr,
		       d.fax          as fax,
		       d.WEBSITE      as website,
		       d.PRINCINPAL   as princinpal,
		       d.PRINCINPAL_ID_CARD  as princinpalIdCard,
		       d.NATURE       as nature,
		       d.SHORT_NAME as shortName,
		       d.PARENT_ID     as parentId,
		       d.PARENT_NAME      as parentName,
		       d.PROVINCE_ID      as provinceId,
		       d.CITY_ID          as cityId,
		       d.ORG_LEVEL       as orgLevel,
		       d.IS_DELETED       as isDeleted,
		       d.DEP_ID       as depId,
		       d.IS_ROOT         as isRoot,
		       d.EMAIL      as email,
		       d.STATUS     as status
		  from T_SES_OMS_ORG     d
		       where d.ID =#{id}
   </select>
<!--根据产品id修改状态  -->
   <update id="updateByCategoryId" parameterType="Object" >
    	 update T_SES_OMS_ORG s
	     set 
	         s.STATUS = #{status}
	     where s.ID=#{id}    
    </update>


<!-- 根据产品的id -->
    <select id="findByCategoryId" parameterType="Object" resultType="ses.model.oms.Orgnization">
    select d.id  as id,
		       d.NAME         as name,
		       d.TYPE_NAME       as typeName,
		       d.ADDRESS   as address,
		       d.MOBILE    as mobile,
		       d.POST_CODE  as postCode,
		       d.ORG_CODE   as orgCode,
		       d.TELEPHONE  as telephone,
		       d.AREA_ID    as areaId,
		       d.DETAIL_ADDR  as detailAddr,
		       d.fax          as fax,
		       d.WEBSITE      as website,
		       d.PRINCINPAL   as princinpal,
		       d.PRINCINPAL_ID_CARD  as princinpalIdCard,
		       d.NATURE       as nature,
		       d.SHORT_NAME as shortName,
		       d.PARENT_ID     as parentId,
		       d.PARENT_NAME      as parentName,
		       d.PROVINCE_ID      as provinceId,
		       d.CITY_ID          as cityId,
		       d.ORG_LEVEL       as orgLevel,
		       d.IS_DELETED       as isDeleted,
		       d.DEP_ID       as depId,
		       d.IS_ROOT         as isRoot,
		       d.EMAIL      as email,
		       d.STATUS     as status
		       from T_SES_OMS_ORG d
		       
		       where d.ID =#{id}
    </select>
  
<!-- 根据部门  负责人查询 -->
  <select id="findByName" parameterType="java.util.Map"  resultType="ses.model.oms.Orgnization">
 			select d.id  as id,
		       d.NAME         as name,
		       d.TYPE_NAME       as typeName,
		       d.ADDRESS   as address,
		       d.MOBILE    as mobile,
		       d.POST_CODE  as postCode,
		       d.ORG_CODE   as orgCode,
		       d.TELEPHONE  as telephone,
		       d.AREA_ID    as areaId,
		       d.DETAIL_ADDR  as detailAddr,
		       d.fax          as fax,
		       d.WEBSITE      as website,
		       d.PRINCINPAL   as princinpal,
		       d.PRINCINPAL_ID_CARD  as princinpalIdCard,
		       d.NATURE       as nature,
		       d.SHORT_NAME as shortName,
		       d.PARENT_ID     as parentId,
		       d.PARENT_NAME      as parentName,
		       d.PROVINCE_ID      as provinceId,
		       d.CITY_ID          as cityId,
		       d.ORG_LEVEL       as orgLevel,
		       d.IS_DELETED       as isDeleted,
		       d.DEP_ID       as depId,
		       d.IS_ROOT         as isRoot,
		       d.EMAIL      as email,
		      d.STATUS	    as status
		  from T_SES_OMS_ORG    d
		 where 1=1
		 <if test="name != null and name != ''">
		   AND d.NAME like '%'||#{name}||'%' 
		 </if>
		 <if test="princinpal != null and princinpal != ''">
		   AND d.PRINCINPAL like '%'||#{princinpal}||'%'
		  </if>
    </select> 
   <!-- 根据id查部门 -->
	<select id="findOrgnizationList" parameterType="java.util.Map" resultType="ses.model.oms.Orgnization">
			   select d.id  as id,
		       d.NAME         as name,
		       d.TYPE_NAME       as typeName,
		       d.ADDRESS   as address,
		       d.MOBILE    as mobile,
		       d.POST_CODE  as postCode,
		       d.ORG_CODE   as orgCode,
		       d.TELEPHONE  as telephone,
		       d.AREA_ID    as areaId,
		       d.DETAIL_ADDR  as detailAddr,
		       d.fax          as fax,
		       d.WEBSITE      as website,
		       d.PRINCINPAL   as princinpal,
		       d.PRINCINPAL_ID_CARD  as princinpalIdCard,
		       d.NATURE       as nature,
		       d.SHORT_NAME as shortName,
		       d.PARENT_ID     as parentId,
		       d.PARENT_NAME      as parentName,
		       d.PROVINCE_ID      as provinceId,
		       d.CITY_ID          as cityId,
		       d.ORG_LEVEL       as orgLevel,
		       d.IS_DELETED       as isDeleted,
		       d.DEP_ID       as depId,
		       d.IS_ROOT         as isRoot,
		       d.EMAIL      as email,
		       a.NAME as provinceName
		  from T_SES_OMS_ORG     d
		  left join T_SES_BMS_AREA a
		  on d.province_id = a.id
		 <!-- LEFT JOIN T_SES_OMS_ORG dd on d.PARENT_ID=DD.id-->
		 where nvl(d.is_deleted,0)=0
		 <if test="id != null and id != ''">
			and d.id= #{id}
		</if>
		 <if test="pid != null and pid != ''">
			and d.PARENT_ID= #{pid}
		</if>
		<if test="isroot != null and isroot != ''">
			and nvl(d.IS_ROOT,'0')= 1
		</if>
		<if test="typeName != null and typeName != ''">
			and d.TYPE_NAME= #{typeName}
		</if> 
		<if test="requireDepId != null and requireDepId != ''">
			and d.REQUIRE_DEP_ID= #{requireDepId}
		</if> 
		<if test="name != null and name != ''">
			and a.name like #{name}
		</if>
		<if test="notName != null and notName != ''">
			and a.name not like #{notName}
		</if>
		<if test="isName != null and isName != ''">
			and a.name like #{isName}
		</if>
		ORDER BY d.CREATED_AT DESC
	</select>
	<!-- 多对多关联查询    org_id 1的一方   purchase_dep_id 关联多的一方 -->
	<select id="findPurchaseOrgList" parameterType="java.util.Map" resultType="ses.model.oms.Orgnization">
			   select d.id  as id,
		       d.ORG_LEVEL       as orgLevel,
		       d.IS_DELETED       as isDeleted,
		       d.PARENT_ID     as parentId,
		       d.NAME         as name,
		       d.DEP_ID       as depId,
		       d.TYPE_NAME       as typeName,
		       d.IS_ROOT         as isRoot,
		       d.EMAIL      as email,
		       d.MOBILE    as mobile,
		       d.POST_CODE  as postCode,
		       d.ADDRESS   as address,
		       d.SHORT_NAME as shortName,
		       d.AREA_ID    as areaId,
		       d.DETAIL_ADDR as detailAddr,
		       d.fax       as fax,
		       d.WEBSITE  as website,
		       d.PRINCINPAL  as princinpal,
		       d.STATUS     as status,
		       d.PRINCINPAL_ID_CARD  as princinpalIdCard,
		       d.NATURE  as nature
		  from T_SES_OMS_ORG d  RIGHT JOIN (select * from T_SES_OMS_PURDEP_ORG po where po.org_id= #{orgId}) m  on d.id = m.purchase_dep_id
		  where nvl(d.IS_DELETED,0)=0
		  ORDER BY d.CREATED_AT DESC
	</select>
	<!-- 保存机构   需求部门  监管部门-->
	<insert id="saveOrgnization" parameterType="java.util.Map">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select rawtohex(sys_guid()) as VALUE from dual
		</selectKey>
		insert into T_SES_OMS_ORG
		 (ID,NAME,TYPE_NAME,
		  DEP_ID,PARENT_ID,CREATED_AT,
		  DESCRIBTION,ADDRESS,MOBILE,
		  POST_CODE,ORG_CODE,TELEPHONE,
		  AREA_ID,DETAIL_ADDR,FAX,
		  WEBSITE,PRINCINPAL,PRINCINPAL_ID_CARD,
		  NATURE,ORG_LEVEL,POSITION,IS_ROOT,EMAIL,
		  PROVINCE_ID,CITY_ID,PARENT_NAME,SHORT_NAME
          )
		values(
	      #{id},#{name,jdbcType=VARCHAR},#{type_name,jdbcType=NUMERIC},
		  #{dep_id,jdbcType=VARCHAR},#{parent_id,jdbcType=VARCHAR},sysdate,
		  #{describtion,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{mobile,jdbcType=INTEGER},
		  #{postCode,jdbcType=INTEGER},#{orgCode,jdbcType=VARCHAR},#{telephone,jdbcType=VARCHAR},
		  #{areaId,jdbcType=VARCHAR},#{detailAddr,jdbcType=VARCHAR},#{fax,jdbcType=VARCHAR},
		  #{website,jdbcType=VARCHAR},#{princinpal,jdbcType=VARCHAR},#{princinpalIdCard,jdbcType=VARCHAR},
		  #{nature,jdbcType=VARCHAR},#{orgLevel,jdbcType=INTEGER},#{position,jdbcType=INTEGER},#{isroot,jdbcType=INTEGER},#{email,jdbcType=VARCHAR},
		  #{pid,jdbcType=VARCHAR},#{cid,jdbcType=VARCHAR},#{parentName,jdbcType=VARCHAR},#{shortName,jdbcType=VARCHAR}
		 )
	</insert>
	
	<select id="findOrgnizationById" parameterType="java.lang.String" resultType="ses.model.oms.Orgnization">
			   select d.id  as id,
		       d.ORG_LEVEL       as orgLevel,
		       d.IS_DELETED       as isDeleted,
		       d.PARENT_ID     as parentId,
		       d.NAME         as name,
		       d.DEP_ID       as depId,
		       d.TYPE_NAME       as typeName,
		       d.IS_ROOT         as isRoot,
		       d.STATUS          as status
		  from T_SES_OMS_ORG     d
		  where d.id= #{id,jdbcType=VARCHAR}
	</select>
	<!-- <insert id="saveOrgnization" parameterType="java.util.Map">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select rawtohex(sys_guid()) as VALUE from dual
		</selectKey>
		insert into T_SES_OMS_ORG
		 (ID,NAME,TYPE_NAME,
		  DEP_ID,PARENT_ID,CREATED_AT,
		  DESCRIBTION,ADDRESS,MOBILE,
		  POST_CODE,ORG_CODE,TELEPHONE,
		  AREA_ID,DETAIL_ADDR,FAX,
		  WEBSITE,PRINCINPAL,PRINCINPAL_ID_CARD,
		  NATURE,ORG_LEVEL,POSITION,IS_ROOT
          )
		values(
	      #{id},#{name,typeHandler=ses.controller.sys.oms.NullValueHandler},#{type_name,jdbcType=INTEGER,typeHandler=ses.controller.sys.oms.NullValueHandler},
		  #{dep_id,typeHandler=ses.controller.sys.oms.NullValueHandler},#{parent_id,typeHandler=ses.controller.sys.oms.NullValueHandler},sysdate,
		  #{describtion,typeHandler=ses.controller.sys.oms.NullValueHandler},#{address,typeHandler=ses.controller.sys.oms.NullValueHandler},#{mobile,jdbcType=INTEGER,typeHandler=ses.controller.sys.oms.NullValueHandler},
		  #{post_code,jdbcType=INTEGER,typeHandler=ses.controller.sys.oms.NullValueHandler},#{org_code,typeHandler=ses.controller.sys.oms.NullValueHandler},#{telephone,typeHandler=ses.controller.sys.oms.NullValueHandler},
		  #{area_id,typeHandler=ses.controller.sys.oms.NullValueHandler},#{detail_addr,typeHandler=ses.controller.sys.oms.NullValueHandler},#{fax,typeHandler=ses.controller.sys.oms.NullValueHandler},
		  #{website,typeHandler=ses.controller.sys.oms.NullValueHandler},#{princinpal,typeHandler=ses.controller.sys.oms.NullValueHandler},#{princinpal_id_card,typeHandler=ses.controller.sys.oms.NullValueHandler},
		  #{nature,typeHandler=ses.controller.sys.oms.NullValueHandler},#{org_level,jdbcType=INTEGER,typeHandler=ses.controller.sys.oms.NullValueHandler},#{position,jdbcType=INTEGER,typeHandler=ses.controller.sys.oms.NullValueHandler},#{is_root}
		 )
	</insert> -->
	<!-- 更新机构   需求部门  监管部门 -->
	<update id="updateOrgnization" parameterType="java.util.Map">
			 update T_SES_OMS_ORG s
	     set 
	         UPDATED_AT=sysdate
	         <!-- -->
	        <if test="name != null">
		 		,NAME=#{name,jdbcType=VARCHAR}
		 	</if>
		 	<if test="typeName != null">
		 		,TYPE_NAME=#{typeName,jdbcType=VARCHAR}
		 	</if>
		 	<if test="parentId != null">
		 		,PARENT_ID=#{parentId,jdbcType=VARCHAR}
		 	</if>
		 	<if test="parentName != null">
		 		,PARENT_NAME=#{parentName,jdbcType=VARCHAR}
		 	</if>
		 	<if test="describtion != null">
		 		,DESCRIBTION=#{describtion,jdbcType=VARCHAR}
		 	</if>
		 	
		 	 <if test="address != null">
		 		,ADDRESS=#{address,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="mobile != null">
		 		,MOBILE=#{mobile,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="postCode != null">
		 		,POST_CODE=#{postCode,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="orgCode != null">
		 		,ORG_CODE=#{orgCode,jdbcType=VARCHAR}
		 	</if>
	        <if test="shortName != null">
		 		,SHORT_NAME=#{shortName,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="telephone != null">
		 		,TELEPHONE=#{telephone,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="areaId != null">
		 		,AREA_ID=#{areaId,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="detailAddr != null">
		 		,DETAIL_ADDR=#{detailAddr,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="fax != null">
		 		,FAX=#{fax,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="website != null">
		 		,WEBSITE=#{website,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="princinpal != null">
		 		,PRINCINPAL=#{princinpal,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="princinpalIdCard != null">
		 		,PRINCINPAL_ID_CARD=#{princinpalIdCard,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="nature != null">
		 		,NATURE=#{nature,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="orgLevel != null">
		 		,ORG_LEVEL=#{orgLevel,jdbcType=INTEGER}
		 	</if>
		 	 <if test="position != null">
		 		,POSITION=#{position,jdbcType=INTEGER}
		 	</if>
		 	 <if test="isroot != null">
		 		,IS_ROOT=#{isroot,jdbcType=INTEGER}
		 	</if>
		 	 <if test="pid != null">
		 		,PROVINCE_ID=#{pid,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="cid != null">
		 		,CITY_ID=#{cid,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="is_deleted != null">
		 		,IS_DELETED=#{is_deleted,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="isroot != null">
		 		,IS_ROOT=#{isroot,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="quaStatus != null">
		 		,QUA_STATUS=#{quaStatus,jdbcType=NUMERIC}
		 	</if>
		 	<if test="quaStashReason != null">
		 		,QUA_STASH_REASON=#{quaStashReason,jdbcType=VARCHAR}
		 	</if>
		 	<if test="quaNormalReason != null">
		 		,QUA_NORMAL_REASON=#{quaNormalReason,jdbcType=VARCHAR}
		 	</if>
		 	<if test="quaTerminalReason != null">
		 		,QUA_TERMINAL_REASON=#{quaTerminalReason,jdbcType=VARCHAR}
		 	</if>
	     where s.id=#{id}    
	</update>
	<!-- 更新人员-->
	<update id="updateOrgnizationById" parameterType="ses.model.oms.Orgnization">
			  update T_SES_OMS_ORG s
	     set 
	         UPDATED_AT=sysdate
	         <!-- -->
	        <if test="name != null and name != ''">
		 		,NAME=#{name,jdbcType=VARCHAR}
		 	</if>
		 	<if test="typeName != null and typeName != ''">
		 		,TYPE_NAME=#{typeName,jdbcType=VARCHAR}
		 	</if>
		 	<if test="parentId != null and parentId != ''">
		 		,PARENT_ID=#{parentId,jdbcType=VARCHAR}
		 	</if>
		 	<if test="parentName != null and parentName != ''">
		 		,PARENT_NAME=#{parentName,jdbcType=VARCHAR}
		 	</if>
		 	<if test="describtion != null and describtion != ''">
		 		,DESCRIBTION=#{describtion,jdbcType=VARCHAR}
		 	</if>
		 	
		 	 <if test="address != null and address != ''">
		 		,ADDRESS=#{address,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="mobile != null and mobile != ''">
		 		,MOBILE=#{mobile,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="postCode != null and postCode != ''">
		 		,POST_CODE=#{postCode,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="orgCode != null and orgCode != ''">
		 		,ORG_CODE=#{orgCode,jdbcType=VARCHAR}
		 	</if>
	        <if test="shortName != null and shortName != ''">
		 		,SHORT_NAME=#{shortName,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="telephone != null and telephone != ''">
		 		,TELEPHONE=#{telephone,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="areaId != null and areaId != ''">
		 		,AREA_ID=#{areaId,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="detailAddr != null and detailAddr != ''">
		 		,DETAIL_ADDR=#{detailAddr,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="fax != null and fax != ''">
		 		,FAX=#{fax,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="website != null and website != ''">
		 		,WEBSITE=#{website,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="princinpal != null and princinpal != ''">
		 		,PRINCINPAL=#{princinpal,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="princinpalIdCard != null and princinpalIdCard != ''">
		 		,PRINCINPAL_ID_CARD=#{princinpalIdCard,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="nature != null and nature != ''">
		 		,NATURE=#{nature,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="orgLevel != null and orgLevel != ''">
		 		,ORG_LEVEL=#{orgLevel,jdbcType=INTEGER}
		 	</if>
		 	 <if test="position != null and position != ''">
		 		,POSITION=#{position,jdbcType=INTEGER}
		 	</if>
		 	 <if test="isRoot != null and isRoot != ''">
		 		,IS_ROOT=#{isRoot,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="provinceId != null and provinceId != ''">
		 		,PROVINCE_ID=#{provinceId,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="cityId != null and cityId != ''">
		 		,CITY_ID=#{cityId,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="isDeleted != null and isDeleted != ''">
		 		,IS_DELETED=#{isDeleted,jdbcType=NUMERIC}
		 	</if>
	     where s.id=#{id}     
	</update>
	<!-- 删除需求部门-->
	<delete id="delOrgnizationByid" parameterType="java.util.Map">
		delete from T_SES_OMS_ORG s where s.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<!-- 逻辑删除需求部门-->
	<update id="delSoftOrgnizationByid" parameterType="java.util.Map">
		update  T_SES_OMS_ORG   t
		set t.IS_DELETED=1
		where t.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
</mapper>