<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.oms.PurchaseInfoMapper">
	 <!-- 根据条件查部 采购机构-->
	<select id="findPurchaseList" parameterType="java.util.Map" resultType="ses.model.oms.PurchaseInfo">
			   select d.id  as id,
		       u.GENDER       as gender,
		       d.NATION       as nation,
		       d.PURCHASE_DEP_ID     as purchaseDepId,
		       d.POLITICAL         as political,
		       d.PURCAHSER_TYPE       as purcahserType,
		       d.BIRTH_AT       as birthAt,
		       d.AREA         as area,
		       d.PROVINCE_ID      as provinceId,
		       d.CITY_ID    as cityId,
		       d.TOWN_ID  as townId,
		       d.DETAIL_ADDR   as detailAddr,
		       d.ID_CARD as idCard,
		       d.PROFESSIONAL   as professional,
		       d.TOP_STUDY   as topStudy,
		       d.GRADUATE_SCHOOL   as graduateSchool,
		       d.WORK_EXPERIENCE   as workExperience,
		       d.TRAIN_EXPERIENCE   as trainExperience,
		       d.QUA_CODE   as quaCode,
		       d.QUA_LEVEL   as quaLevel,
		       d.QUA_EDNDATE   as quaEdndate,
		       d.QUA_CERT   as quaCert,
		       d.QUA_RANK   as quaRank,
		       d.FAX   as fax,
		       u.ADDRESS   as address,
		       d.POST_CODE   as postCode,
		       d.QUA_START_DATE   as quaStartDate,
		       o.name    as  purchaseDepName,
		       u.id      as  userId,
		       u.REL_NAME as relName,
		       d.AGE      as age,
		       u.DUTIES         as duties,
		       u.TELEPHONE           as telephone
		  from T_SES_OMS_PURCHASER     d
		  LEFT JOIN T_SES_OMS_PURCHASE_DEP p on d.PURCHASE_DEP_ID = p.id
		  LEFT JOIN T_SES_OMS_ORG o on o.id = p.ORG_ID
		  LEFT JOIN	T_SES_BMS_USER u on d.id=u.TYPE_ID
		 where nvl(d.is_deleted,0)=0
		 <if test="id != null and id != ''">
			and d.id= #{id}
		</if>
		 <if test="pid != null and pid != ''">
			and d.PARENT_ID= #{pid}
		</if>
		<!-- 根据采购机构名称id查询 -->
		<if test="purchaseDepId != null and purchaseDepId != ''">
			and p.ID= #{purchaseDepId}
		</if>
		<!-- 根据用户表真实姓名查询 -->
		<if test="relName != null and relName != ''">
			and u.REL_NAME= #{relName}
		</if>
		<!-- 根据用户身份证号查询 -->
		<if test="idCard != null and idCard != ''">
			and d.ID_CARD= #{idCard}
		</if>  
	</select>
	<!-- 保存采购机构 -->
	<insert id="savePurchase" parameterType="ses.model.oms.PurchaseInfo">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select rawtohex(sys_guid()) as VALUE from dual
		</selectKey>
		insert into T_SES_OMS_PURCHASER
		 (ID,NATION,PURCHASE_DEP_ID,
		  POLITICAL,PURCAHSER_TYPE,BIRTH_AT,
		  AREA,PROVINCE_ID,CITY_ID,
		  TOWN_ID,DETAIL_ADDR,ID_CARD,
		  PROFESSIONAL,TOP_STUDY,GRADUATE_SCHOOL,
		  WORK_EXPERIENCE,TRAIN_EXPERIENCE,QUA_CODE,
		  QUA_LEVEL,QUA_EDNDATE,QUA_CERT,
		  QUA_RANK,FAX,POST_CODE,
		  QUA_START_DATE,AGE,CREATED_AT
          )
		values(
	      #{id},#{nation,jdbcType=VARCHAR},
		  #{purchaseDepId,jdbcType=VARCHAR},#{political,jdbcType=VARCHAR},#{purcahserType,jdbcType=NUMERIC},
		  #{birthAt,jdbcType=TIMESTAMP},#{area,jdbcType=VARCHAR},#{provinceId,jdbcType=VARCHAR},
		  #{cityId,jdbcType=VARCHAR},#{townId,jdbcType=VARCHAR},#{detailAddr,jdbcType=VARCHAR},
		  #{idCard,jdbcType=VARCHAR},#{professional,jdbcType=VARCHAR},#{topStudy,jdbcType=VARCHAR},
		  #{graduateSchool,jdbcType=VARCHAR},#{workExperience,jdbcType=VARCHAR},#{trainExperience,jdbcType=VARCHAR},
		  #{quaCode,jdbcType=VARCHAR},#{quaLevel,jdbcType=VARCHAR},#{quaEdndate,jdbcType=TIMESTAMP},
		  #{quaCert,jdbcType=VARCHAR},#{quaRank,jdbcType=VARCHAR},#{fax,jdbcType=VARCHAR},
		  #{postCode,jdbcType=VARCHAR},#{quaStartDate,jdbcType=TIMESTAMP},#{age,jdbcType=NUMERIC},
		  sysdate
		 )
	</insert>
		<!-- 更新人员-->
	<update id="updatePurchase" parameterType="ses.model.oms.PurchaseInfo">
			 update T_SES_OMS_PURCHASER s
	     set 
	         UPDATED_AT=sysdate
	         <!-- -->
	        <if test="nation != null and nation != ''">
		 		,NATION=#{nation,jdbcType=VARCHAR}
		 	</if>
		 	<if test="purchaseDepId != null and purchaseDepId != ''">                
		 		,PURCHASE_DEP_ID=#{purchaseDepId,jdbcType=VARCHAR}
		 	</if>
		 	<if test="political != null and political != ''">
		 		,POLITICAL=#{political,jdbcType=VARCHAR}
		 	</if>
		 	<if test="purcahserType != null and purcahserType != ''">
		 		,PURCAHSER_TYPE=#{purcahserType,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="birthAt != null and birthAt != ''">
		 		,BIRTH_AT=#{birthAt,jdbcType=TIMESTAMP}
		 	</if>
		 	 <if test="area != null and area != ''">
		 		,AREA=#{area,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="provinceId != null and provinceId != ''">
		 		,PROVINCE_ID=#{provinceId,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="cityId != null and cityId != ''">
		 		,CITY_ID=#{cityId,jdbcType=VARCHAR}
		 	</if>
	        <if test="townId != null and townId != ''">
		 		,TOWN_ID=#{townId,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="detailAddr != null and detailAddr != ''">
		 		,DETAIL_ADDR=#{detailAddr,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="idCard != null and idCard != ''">
		 		,ID_CARD=#{idCard,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="professional != null and professional != ''">
		 		,PROFESSIONAL=#{professional,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="topStudy != null and topStudy != ''">
		 		,TOP_STUDY=#{topStudy,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="graduateSchool != null and graduateSchool != ''">
		 		,GRADUATE_SCHOOL=#{graduateSchool,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="workExperience != null and workExperience != ''">
		 		,WORK_EXPERIENCE=#{workExperience,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="trainExperience != null and trainExperience != ''">
		 		,TRAIN_EXPERIENCE=#{trainExperience,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="quaCode != null and quaCode != ''">
		 		,QUA_CODE=#{quaCode,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="quaLevel != null and quaLevel != ''">
		 		,QUA_LEVEL=#{quaLevel,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="quaEdndate != null and quaEdndate != ''">
		 		,QUA_EDNDATE=#{quaEdndate,jdbcType=TIMESTAMP}
		 	</if>
		 	 <if test="quaCert != null and quaCert != ''">
		 		,QUA_CERT=#{quaCert,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="is_deleted != null and is_deleted != ''">
		 		,IS_DELETED=#{is_deleted,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="quaRank != null and quaRank != ''">
		 		,QUA_RANK=#{quaRank,jdbcType=VARCHAR}
		 	</if>
		 	
		 	 <if test="fax != null and fax != ''">
		 		,FAX=#{fax,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="postCode != null and postCode != ''">
		 		,POST_CODE=#{postCode,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="quaStartDate != null and quaStartDate != ''">
		 		,QUA_START_DATE=#{isroot,jdbcType=TIMESTAMP}
		 	</if>
		 	 <if test="age != null and age != ''">
		 		,AGE=#{age,jdbcType=NUMERIC}
		 	</if>
	     where s.id=#{id}    
	</update>
	<!-- 删除人员-->
	<delete id="delPurchaseByMap" parameterType="java.util.Map">
		delete from T_SES_OMS_PURCHASER s where s.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>