<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.oms.PurchaseOrgMapper">
	<!-- 批量保存-->
	<insert id="saveByMap" parameterType="java.util.Map">
		insert into  T_SES_OMS_PURDEP_ORG(ORG_ID,PURCHASE_DEP_ID)
		 select #{ORG_ID},A.PURCHASE_DEP_ID
   		from  (
    	<foreach collection="purchaseOrgList" item="item" index="index" separator="union all" >
        select  
         #{item.purchaseDepId,jdbcType=VARCHAR} as PURCHASE_DEP_ID 
       	from dual
   	 </foreach>) A
	</insert>
	<!-- 删除-->
	<delete id="delByOrgId" parameterType="java.util.Map">
		delete from T_SES_OMS_PURDEP_ORG s where s.ORG_ID =#{org_id}
	</delete>
  <!-- 批量删-->
	<delete id="delByMap" parameterType="java.util.Map">
		delete from T_SES_OMS_PURDEP_ORG s where s.ORG_ID in
		<foreach collection="list" item="org_id" open="(" separator="," close=")">
			#{org_id}
		</foreach>
	</delete>
</mapper>