<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.oms.PurchaseDepMapper">
	<!-- 根据条件查部 采购机构 -->
	<select id="findPurchaseDepList" parameterType="java.util.Map"
		resultType="ses.model.oms.PurchaseDep">
		select d.id as id,
		d.LEVEL_DEP as levelDep,
		d.SUBORDINATE_ORG_ID as subordinateOrgId,
		d.SUBORDINATE_ORG_NAME as subordinateOrgName,
		d.BUSINESS_DEP as businessDep,
		d.BUSINESS_DEP_ID as businessDepId,
		d.BUSINESS_RANGE as businessRange,
		d.QUA_CODE as quaCode,
		d.QUA_LEVEL as quaLevel,
		d.QUA_EDNDATE as quaEdndate,
		d.QUA_RANGE as quaRange,
		d.QUA_CERT as quaCert,
		d.LEADER_TELEPHONE as leaderTelephone,
		d.OFFICER_COUNTNUM as officerCountnum,
		d.OFFICER_NOW_COUNTS as officerNowCounts,
		d.SOLDIER_NUM as soldierNum,
		d.SOLDIER_NOW_COUNTS as soldierNowCounts,
		d.STAFF_NUM as staffNum,
		d.STAFF_NOW_COUNTS as staffNowCounts,
		d.PURCHASERS_COUNT as purchasersCount,
		d.JUNIOR_PUR_COUNT as juniorPurCount,
		d.SENIOR_PUR_COUNT as seniorPurCount,
		d.DEP_NAME as depName,
		d.LEGAL as legal,
		d.AGENT as agent,
		d.ACCESS_NETWORK as accessNetwork,
		d.ACCESS_WAY as accessWay,
		d.VIDEO_SURVEILLANCE as videoSurveillance,
		d.CONTACT as contact,
		d.CONTACT_TELEPHONE as contactTelephone,
		d.CONTACT_ADDRESS as contactAddress,
		d.UNIT_POST_CODE as unitPostCode,
		d.PAY_DEP as payDep,
		d.BANK as bank,
		d.BANK_ACCOUNT as bankAccount,
		d.OFFICE_AREA as officeArea,
		d.OFFICE_COUNT as officeCount,
		d.METTING_ROOM_COUNT as mettingRoomCount,
		d.INVITE_ROOM_COUNT as inviteRoomCount,
		d.BID_ROOM_COUNT as bidRoomCount,
		d.IS_DELETED as isDeleted,
		d.UPDATED_AT as updatedAt,
		d.CREATED_AT as createdAt,
		d.ACCOUNT_NAME as accountName,
		o.id as orgId,
		o.NAME as name,
		o.SHORT_NAME as shortName,
		o.ORG_CODE as orgCode,
		o.type_name as typeName,
		o.address as address,
		o.post_code as postCode,
		o.POSITION as position,
		o.FAX as fax,
		o.CONTACT_NAME as contactName,
		o.CONTACT_MOBILE as contactMobile,
		CONCAT(a.name, b.name) as areaName,
		d.DUTY_ROOM_PHONE as dutyRoomPhone,
		a.id as provinceId,
		a.name as provinceName,
		b.id as cityId,
		b.name as cityName,
		nvl(d.IS_AUDIT_SUPPLIER,0) as isAuditSupplier,
		d.QUA_START_DATE as quaStartDate,
		d.QUA_STATUS as quaStatus,
		d.QUA_STASH_REASON as quaStashReason,
		d.SUPPLIER_CONTACT as supplierContact,
		d.SUPPLIER_PHONE as supplierPhone,
		d.SUPPLIER_ADDRESS as supplierAddress,
    d.SUPPLIER_POSTCODE as supplierPostcode,
    d.EXPER_CONTACT as experContact,
    d.EXPER_PHONE as experPhone,
    d.EXPER_ADDRESS as experAddress,
    d.EXPER_POSTCODE as experPostcode,
		o.QUA_NORMAL_REASON as quaNormalReason,
		o.QUA_TERMINAL_REASON as quaTerminalReason
		from T_SES_OMS_ORG o
		LEFT JOIN T_SES_BMS_AREA a on o.province_id=a.id
		LEFT JOIN T_SES_BMS_AREA b on o.city_id=b.id,
		T_SES_OMS_PURCHASE_DEP d
		WHERE d.is_deleted= 0
		AND o.is_deleted =0
		AND d.ORG_ID = o.id
		<if test="id != null and id != ''">
			and d.id= #{id}
		</if>
		<if test="isAuditSupplier != null ">
			and d.IS_AUDIT_SUPPLIER= #{isAuditSupplier}
		</if>
		
		
		<if test="orgId != null">
			and o.id= #{orgId}
		</if>
		<if test="pid != null and pid != ''">
			and d.PARENT_ID= #{pid}
		</if>
		<if test="isroot != null and isroot != ''">
			and nvl(d.IS_ROOT,'0')= 1
		</if>
		<if test="type != null and type != ''">
			and d.type= #{type}
		</if>
		<if test="typeName != null">
			and o.type_name= #{typeName}
		</if>
		<if test="parentName != null">
			and a.name like '%'||#{parentName}||'%'
		</if>
		<if test="name != null">
			and o.name like '%'||#{name}||'%'
		</if>
		<!-- <if test="areaName != null"> and o.areaName like '%'||#{areaName}||'%' 
			</if> -->
		<if test="quaStatus != null">
			and o.QUA_STATUS= #{quaStatus}
		</if>
		<if test="provinceId != null">
			and o.PROVINCE_ID= #{provinceId}
		</if>
		<if test="cityId != null">
			and o.CITY_ID= #{cityId}
		</if>
		ORDER BY O.CREATED_AT DESC
		<!-- <if test="quaEdndate != null"> and o.QUA_EDNDATE <= #{quaEdndate} 
			</if> <if test="quaStartDate != null"> and o.QUA_START_DATE >= #{quaStartDate} 
			</if> -->
	</select>

	<select id="findAllUsefulPurchaseDep" resultType="ses.model.oms.PurchaseDep">
		select d.id as id,
		d.LEVEL_DEP as levelDep,
		d.SUBORDINATE_ORG_ID as subordinateOrgId,
		d.SUBORDINATE_ORG_NAME as subordinateOrgName,
		d.BUSINESS_DEP as businessDep,
		d.BUSINESS_DEP_ID as businessDepId,
		d.BUSINESS_RANGE as businessRange,
		d.QUA_CODE as quaCode,
		d.QUA_LEVEL as quaLevel,
		d.QUA_EDNDATE as quaEdndate,
		d.QUA_RANGE as quaRange,
		d.QUA_CERT as quaCert,
		d.LEADER_TELEPHONE as leaderTelephone,
		d.OFFICER_COUNTNUM as officerCountnum,
		d.OFFICER_NOW_COUNTS as officerNowCounts,
		d.SOLDIER_NUM as soldierNum,
		d.SOLDIER_NOW_COUNTS as soldierNowCounts,
		d.STAFF_NUM as staffNum,
		d.STAFF_NOW_COUNTS as staffNowCounts,
		d.PURCHASERS_COUNT as purchasersCount,
		d.JUNIOR_PUR_COUNT as juniorPurCount,
		d.SENIOR_PUR_COUNT as seniorPurCount,
		d.DEP_NAME as depName,
		d.LEGAL as legal,
		d.AGENT as agent,
		d.CONTACT as contact,
		d.CONTACT_TELEPHONE as contactTelephone,
		d.CONTACT_ADDRESS as contactAddress,
		d.UNIT_POST_CODE as unitPostCode,
		d.PAY_DEP as payDep,
		d.BANK as bank,
		d.BANK_ACCOUNT as bankAccount,
		d.OFFICE_AREA as officeArea,
		d.OFFICE_COUNT as officeCount,
		d.METTING_ROOM_COUNT as mettingRoomCount,
		d.INVITE_ROOM_COUNT as inviteRoomCount,
		d.BID_ROOM_COUNT as bidRoomCount,
		d.IS_DELETED as isDeleted,
		d.UPDATED_AT as updatedAt,
		d.CREATED_AT as createdAt,
		d.ACCOUNT_NAME as accountName,
		o.id as orgId,
		o.NAME as name,
		o.SHORT_NAME as shortName,
		o.ORG_CODE as orgCode,
		o.type_name as typeName,
		o.address as address,
		o.post_code as postCode,
		CONCAT(a.name, b.name) as areaName,
		d.DUTY_ROOM_PHONE as dutyRoomPhone,
		a.id as provinceId,
		a.name as provinceName,
		b.id as cityId,
		b.name as cityName,
		nvl(d.IS_AUDIT_SUPPLIER,0) as isAuditSupplier,
		d.QUA_START_DATE as quaStartDate,
		o.QUA_STATUS as quaStatus,
		o.QUA_STASH_REASON as quaStashReason,
		o.QUA_NORMAL_REASON as quaNormalReason,
		o.QUA_TERMINAL_REASON as quaTerminalReason
		from T_SES_OMS_ORG o
		LEFT JOIN T_SES_BMS_AREA a on o.province_id=a.id
		LEFT JOIN T_SES_BMS_AREA b on o.city_id=b.id,
		T_SES_OMS_PURCHASE_DEP d

		WHERE d.is_deleted= 0
		AND o.is_deleted =0
		AND d.ORG_ID = o.id
	</select>

	<!-- 根据id查询 -->
	<select id="findPIDandCIDByOrgId" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select city_id cityId,province_id provinceId
		from T_SES_OMS_ORG
		where id= #{_parameter}
	</select>

	<!-- 根据id查询 -->
	<select id="findByOrgId" parameterType="java.lang.String"
		resultType="ses.model.oms.PurchaseDep">
		select o.id as id,
		d.LEVEL_DEP as levelDep,
		d.SUBORDINATE_ORG_ID as subordinateOrgId,
		d.SUBORDINATE_ORG_NAME as subordinateOrgName,
		d.BUSINESS_DEP as businessDep,
		d.BUSINESS_DEP_ID as businessDepId,
		d.BUSINESS_RANGE as businessRange,
		d.QUA_CODE as quaCode,
		d.QUA_LEVEL as quaLevel,
		d.QUA_EDNDATE as quaEdndate,
		d.QUA_RANGE as quaRange,
		d.QUA_CERT as quaCert,
		d.LEADER_TELEPHONE as leaderTelephone,
		d.OFFICER_COUNTNUM as officerCountnum,
		d.OFFICER_NOW_COUNTS as officerNowCounts,
		d.SOLDIER_NUM as soldierNum,
		d.SOLDIER_NOW_COUNTS as soldierNowCounts,
		d.STAFF_NUM as staffNum,
		d.STAFF_NOW_COUNTS as staffNowCounts,
		d.PURCHASERS_COUNT as purchasersCount,
		d.JUNIOR_PUR_COUNT as juniorPurCount,
		d.SENIOR_PUR_COUNT as seniorPurCount,
		d.DEP_NAME as depName,
		d.LEGAL as legal,
		d.AGENT as agent,
		d.CONTACT as contact,
		d.CONTACT_TELEPHONE as contactTelephone,
		d.CONTACT_ADDRESS as contactAddress,
		d.UNIT_POST_CODE as unitPostCode,
		d.PAY_DEP as payDep,
		d.BANK as bank,
		d.BANK_ACCOUNT as bankAccount,
		d.ACCESS_NETWORK as accessNetwork,
		d.ACCESS_WAY as accessWay,
		d.VIDEO_SURVEILLANCE as videoSurveillance,
		d.OFFICE_AREA as officeArea,
		d.OFFICE_COUNT as officeCount,
		d.METTING_ROOM_COUNT as mettingRoomCount,
		d.INVITE_ROOM_COUNT as inviteRoomCount,
		d.BID_ROOM_COUNT as bidRoomCount,
		d.IS_DELETED as isDeleted,
		d.UPDATED_AT as updatedAt,
		d.CREATED_AT as createdAt,
	  d.ACCOUNT_NAME as accountName,
		o.id as orgId,
		o.NAME as name,
		o.SHORT_NAME as shortName,
		o.ORG_CODE as orgCode,
		o.type_name as typeName,
		o.address as address,
		o.post_code as postCode,
		CONCAT(a.name, b.name) as areaName,
		d.DUTY_ROOM_PHONE as dutyRoomPhone,
		a.id as provinceId,
		a.name as provinceName,
		b.id as cityId,
		b.name as cityName,
		nvl(d.IS_AUDIT_SUPPLIER,0) as isAuditSupplier,
		d.QUA_START_DATE as quaStartDate,
		d.QUA_STATUS as quaStatus,
		d.QUA_STASH_REASON as quaStashReason,
		o.QUA_NORMAL_REASON as quaNormalReason,
		o.QUA_TERMINAL_REASON as quaTerminalReason
		from T_SES_OMS_ORG o
		LEFT JOIN T_SES_OMS_PURCHASE_DEP d on d.ORG_ID = o.id
		LEFT JOIN T_SES_BMS_AREA a on o.province_id=a.id
		LEFT JOIN T_SES_BMS_AREA b on o.city_id=b.id
		where nvl(d.is_deleted,0)=0
		<if test="_parameter != null and _parameter != ''">
			and o.id= #{_parameter}
		</if>
	</select>

	<!-- 根据id查询 -->
	<select id="selectByOrgId" parameterType="java.lang.String"
		resultType="ses.model.oms.PurchaseDep">
		select d.id as id,
		d.LEVEL_DEP as levelDep,
		d.SUBORDINATE_ORG_ID as subordinateOrgId,
		d.SUBORDINATE_ORG_NAME as subordinateOrgName,
		d.BUSINESS_DEP as businessDep,
		d.BUSINESS_DEP_ID as businessDepId,
		d.BUSINESS_RANGE as businessRange,
		d.QUA_CODE as quaCode,
		d.QUA_LEVEL as quaLevel,
		d.QUA_EDNDATE as quaEdndate,
		d.QUA_RANGE as quaRange,
		d.QUA_CERT as quaCert,
		d.LEADER_TELEPHONE as leaderTelephone,
		d.OFFICER_COUNTNUM as officerCountnum,
		d.OFFICER_NOW_COUNTS as officerNowCounts,
		d.SOLDIER_NUM as soldierNum,
		d.SOLDIER_NOW_COUNTS as soldierNowCounts,
		d.STAFF_NUM as staffNum,
		d.STAFF_NOW_COUNTS as staffNowCounts,
		d.PURCHASERS_COUNT as purchasersCount,
		d.JUNIOR_PUR_COUNT as juniorPurCount,
		d.SENIOR_PUR_COUNT as seniorPurCount,
		d.DEP_NAME as depName,
		d.LEGAL as legal,
		d.AGENT as agent,
		d.CONTACT as contact,
		d.CONTACT_TELEPHONE as contactTelephone,
		d.CONTACT_ADDRESS as contactAddress,
		d.UNIT_POST_CODE as unitPostCode,
		d.PAY_DEP as payDep,
		d.BANK as bank,
		d.BANK_ACCOUNT as bankAccount,
		d.ACCESS_NETWORK as accessNetwork,
		d.ACCESS_WAY as accessWay,
		d.VIDEO_SURVEILLANCE as videoSurveillance,
		d.OFFICE_AREA as officeArea,
		d.OFFICE_COUNT as officeCount,
		d.METTING_ROOM_COUNT as mettingRoomCount,
		d.INVITE_ROOM_COUNT as inviteRoomCount,
		d.BID_ROOM_COUNT as bidRoomCount,
		d.IS_DELETED as isDeleted,
		d.UPDATED_AT as updatedAt,
		d.CREATED_AT as createdAt,
		d.ACCOUNT_NAME as accountName,
		o.id as orgId,
		o.NAME as name,
		o.SHORT_NAME as shortName,
		o.ORG_CODE as orgCode,
		o.type_name as typeName,
		o.address as address,
		o.post_code as postCode,
		CONCAT(a.name, b.name) as areaName,
		d.DUTY_ROOM_PHONE as dutyRoomPhone,
		a.id as provinceId,
		a.name as provinceName,
		b.id as cityId,
		b.name as cityName,
		nvl(d.IS_AUDIT_SUPPLIER,0) as isAuditSupplier,
		d.QUA_START_DATE as quaStartDate,
		d.QUA_STATUS as quaStatus,
		d.QUA_STASH_REASON as quaStashReason,
		o.QUA_NORMAL_REASON as quaNormalReason,
		o.QUA_TERMINAL_REASON as quaTerminalReason
		from T_SES_OMS_ORG o
		LEFT JOIN T_SES_OMS_PURCHASE_DEP d on d.ORG_ID = o.id
		LEFT JOIN T_SES_BMS_AREA a on o.province_id=a.id
		LEFT JOIN T_SES_BMS_AREA b on o.city_id=b.id
		where nvl(d.is_deleted,0)=0
		<if test="_parameter != null and _parameter != ''">
			and o.id= #{_parameter}
		</if>
	</select>

	<!-- 保存采购机构 -->
	<insert id="savePurchaseDep" parameterType="ses.model.oms.PurchaseDep">
		insert into T_SES_OMS_PURCHASE_DEP
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				ID,
			</if>
			<if test="levelDep != null and levelDep != ''">
				LEVEL_DEP,
			</if>
			<if test="subordinateOrgId != null and subordinateOrgId != ''">
				SUBORDINATE_ORG_ID,
			</if>
			<if test="subordinateOrgName != null and subordinateOrgName != ''">
				SUBORDINATE_ORG_NAME,
			</if>
			<if test="businessDep != null and businessDep != ''">
				BUSINESS_DEP,
			</if>
			<if test="businessDepId != null and businessDepId != ''">
				BUSINESS_DEP_ID,
			</if>
			<if test="businessRange != null and businessRange != ''">
				BUSINESS_RANGE,
			</if>
			<if test="quaCode != null and quaCode != ''">
				QUA_CODE,
			</if>
			<if test="quaLevel != null and quaLevel != ''">
				QUA_LEVEL,
			</if>
			<if test="quaEdndate != null and quaEdndate != ''">
				QUA_EDNDATE,
			</if>
			<if test="quaRange != null">
				QUA_RANGE,
			</if>
			<if test="quaCert != null and quaCert != ''">
				QUA_CERT,
			</if>
			<if test="leaderTelephone != null and leaderTelephone != ''">
				LEADER_TELEPHONE,
			</if>
			<if test="officerCountnum != null">
				OFFICER_COUNTNUM,
			</if>
			<if test="officerNowCounts != null">
				OFFICER_NOW_COUNTS,
			</if>
			<if test="soldierNum != null">
				SOLDIER_NUM,
			</if>
			<if test="soldierNowCounts != null">
				SOLDIER_NOW_COUNTS,
			</if>
			<if test="staffNum != null">
				STAFF_NUM,
			</if>
			<if test="staffNowCounts != null">
				STAFF_NOW_COUNTS,
			</if>
			<if test="purchasersCount != null">
				PURCHASERS_COUNT,
			</if>
			<if test="juniorPurCount != null">
				JUNIOR_PUR_COUNT,
			</if>
			<if test="seniorPurCount != null">
				SENIOR_PUR_COUNT,
			</if>
			<if test="depName != null and depName != ''">
				DEP_NAME,
			</if>
			<if test="legal != null and legal != ''">
				LEGAL,
			</if>
			<if test="agent != null and agent != ''">
				AGENT,
			</if>
			<if test="contact != null and contact != ''">
				CONTACT,
			</if>
			<if test="contactTelephone != null and contactTelephone != ''">
				CONTACT_TELEPHONE,
			</if>
			<if test="contactAddress != null and contactAddress != ''">
				CONTACT_ADDRESS,
			</if>
			<if test="unitPostCode != null">
				UNIT_POST_CODE,
			</if>
			<if test="payDep != null and payDep != ''">
				PAY_DEP,
			</if>
			<if test="bank != null and bank != ''">
				BANK,
			</if>
			<if test="bankAccount != null">
				BANK_ACCOUNT,
			</if>
			<if test="officeArea != null and officeArea != ''">
				OFFICE_AREA,
			</if>
			<if test="officeCount != null">
				OFFICE_COUNT,
			</if>
			<if test="mettingRoomCount != null">
				METTING_ROOM_COUNT,
			</if>
			<if test="inviteRoomCount != null">
				INVITE_ROOM_COUNT,
			</if>
			<if test="bidRoomCount != null">
				BID_ROOM_COUNT,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="updatedAt != null and updatedAt != ''">
				UPDATED_AT,
			</if>
			<if test="createdAt != null and createdAt != ''">
				CREATED_AT,
			</if>
			<if test="orgId != null and orgId != ''">
				ORG_ID,
			</if>
			<if test="dutyRoomPhone != null and dutyRoomPhone != ''">
				DUTY_ROOM_PHONE,
			</if>
			<if test="isAuditSupplier != null">
				IS_AUDIT_SUPPLIER,
			</if>
			<if test="quaStatus != null">
				QUA_STATUS,
			</if>
			<if test="quaStartDate != null and quaStartDate != ''">
				QUA_START_DATE,
			</if>
			<if test="quaStashReason != null and quaStashReason != ''">
				QUA_STASH_REASON,
			</if>
			<if test="accessNetwork != null and accessNetwork != ''">
				ACCESS_NETWORK,
			</if>
			<if test="accessWay != null and accessWay != ''">
				ACCESS_WAY,
			</if>
			<if test="videoSurveillance != null and videoSurveillance != ''">
				VIDEO_SURVEILLANCE,
			</if>
			<if test="accountName != null and accountName != ''">
				ACCOUNT_NAME,
			</if>
			<if test="supplierContact != null and supplierContact != ''">
        SUPPLIER_CONTACT,
      </if>
      <if test="supplierPhone != null and supplierPhone != ''">
        SUPPLIER_PHONE,
      </if>
      <if test="supplierAddress != null and supplierAddress != ''">
        SUPPLIER_ADDRESS,
      </if>
      <if test="supplierPostcode != null and supplierPostcode != ''">
        SUPPLIER_POSTCODE,
      </if>
      <if test="experContact != null and experContact != ''">
        EXPER_CONTACT,
      </if>
      <if test="experPhone != null and experPhone != ''">
        EXPER_PHONE,
      </if>
      <if test="experAddress != null and experAddress != ''">
        EXPER_ADDRESS,
      </if>
      <if test="experPostcode != null and experPostcode != ''">
        EXPER_POSTCODE,
      </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
				#{id},
			</if>
			<if test="levelDep != null and levelDep != ''">
				#{levelDep},
			</if>
			<if test="subordinateOrgId != null and subordinateOrgId != ''">
				#{subordinateOrgId},
			</if>
			<if test="subordinateOrgName != null and subordinateOrgName != ''">
				#{subordinateOrgName},
			</if>
			<if test="businessDep != null and businessDep != ''">
				#{businessDep},
			</if>
			<if test="businessDepId != null and businessDepId != ''">
				#{businessDepId},
			</if>
			<if test="businessRange != null and businessRange != ''">
				#{businessRange},
			</if>
			<if test="quaCode != null and quaCode != ''">
				#{quaCode},
			</if>
			<if test="quaLevel != null and quaLevel != ''">
				#{quaLevel},
			</if>
			<if test="quaEdndate != null and quaEdndate != ''">
				#{quaEdndate},
			</if>
			<if test="quaRange != null">
				#{quaRange},
			</if>
			<if test="quaCert != null and quaCert != ''">
				#{quaCert},
			</if>
			<if test="leaderTelephone != null and leaderTelephone != ''">
				#{leaderTelephone},
			</if>
			<if test="officerCountnum != null">
				#{officerCountnum},
			</if>
			<if test="officerNowCounts != null">
				#{officerNowCounts},
			</if>
			<if test="soldierNum != null">
				#{soldierNum},
			</if>
			<if test="soldierNowCounts != null">
				#{soldierNowCounts},
			</if>
			<if test="staffNum != null">
				#{staffNum},
			</if>
			<if test="staffNowCounts != null">
				#{staffNowCounts},
			</if>
			<if test="purchasersCount != null">
				#{purchasersCount},
			</if>
			<if test="juniorPurCount != null">
				#{juniorPurCount},
			</if>
			<if test="seniorPurCount != null">
				#{seniorPurCount},
			</if>
			<if test="depName != null and depName != ''">
				#{depName},
			</if>
			<if test="legal != null and legal != ''">
				#{legal},
			</if>
			<if test="agent != null and agent != ''">
				#{agent},
			</if>
			<if test="contact != null and contact != ''">
				#{contact},
			</if>
			<if test="contactTelephone != null and contactTelephone != ''">
				#{contactTelephone},
			</if>
			<if test="contactAddress != null and contactAddress != ''">
				#{contactAddress},
			</if>
			<if test="unitPostCode != null">
				#{unitPostCode},
			</if>
			<if test="payDep != null and payDep != ''">
				#{payDep},
			</if>
			<if test="bank != null and bank != ''">
				#{bank},
			</if>
			<if test="bankAccount != null">
				#{bankAccount},
			</if>
			<if test="officeArea != null and officeArea != ''">
				#{officeArea},
			</if>
			<if test="officeCount != null">
				#{officeCount},
			</if>
			<if test="mettingRoomCount != null">
				#{mettingRoomCount},
			</if>
			<if test="inviteRoomCount != null">
				#{inviteRoomCount},
			</if>
			<if test="bidRoomCount != null">
				#{bidRoomCount},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
			<if test="updatedAt != null and updatedAt != ''">
				#{updatedAt},
			</if>
			<if test="createdAt != null and createdAt != ''">
				#{createdAt},
			</if>
			<if test="orgId != null and orgId != ''">
				#{orgId},
			</if>
			<if test="dutyRoomPhone != null and dutyRoomPhone != ''">
				#{dutyRoomPhone},
			</if>
			<if test="isAuditSupplier != null">
				#{isAuditSupplier},
			</if>
			<if test="quaStatus != null">
				#{quaStatus},
			</if>
			<if test="quaStartDate != null and quaStartDate != ''">
				#{quaStartDate},
			</if>
			<if test="quaStashReason != null and quaStashReason != ''">
				#{quaStashReason},
			</if>
			<if test="accessNetwork != null and accessNetwork != ''">
				#{accessNetwork},
			</if>
			<if test="accessWay != null and accessWay != ''">
				#{accessWay},
			</if>
			<if test="videoSurveillance != null and videoSurveillance != ''">
				#{videoSurveillance},
			</if>
			<if test="accountName != null and accountName != ''">
				#{accountName},
			</if>
			<if test="supplierContact != null and supplierContact != ''">
        #{supplierContact},
      </if>
      <if test="supplierPhone != null and supplierPhone != ''">
        #{supplierPhone},
      </if>
      <if test="supplierAddress != null and supplierAddress != ''">
        #{supplierAddress},
      </if>
      <if test="supplierPostcode != null and supplierPostcode != ''">
        #{supplierPostcode},
      </if>
      <if test="experContact != null and experContact != ''">
        #{experContact},
      </if>
      <if test="experPhone != null and experPhone != ''">
        #{experPhone},
      </if>
      <if test="experAddress != null and experAddress != ''">
        #{experAddress},
      </if>
      <if test="experPostcode != null and experPostcode != ''">
        #{experPostcode},
      </if>
		</trim>
	</insert>
	<!-- 更新采购机构 -->
	<update id="update" parameterType="ses.model.oms.PurchaseDep">
		update T_SES_OMS_PURCHASE_DEP
		<set>
			<if test="levelDep != null and levelDep != ''">
				LEVEL_DEP = #{levelDep},
			</if>
			<if test="subordinateOrgId != null and subordinateOrgId != ''">
				SUBORDINATE_ORG_ID = #{subordinateOrgId},
			</if>
			<if test="subordinateOrgName != null and subordinateOrgName != ''">
				SUBORDINATE_ORG_NAME = #{subordinateOrgName},
			</if>
			<if test="businessDep != null and businessDep != ''">
				BUSINESS_DEP = #{businessDep},
			</if>
			<if test="businessDepId != null and businessDepId != ''">
				BUSINESS_DEP_ID = #{businessDepId},
			</if>
			<if test="businessRange != null and businessRange != ''">
				BUSINESS_RANGE = #{businessRange},
			</if>
			<if test="quaCode != null and quaCode != ''">
				QUA_CODE = #{quaCode},
			</if>
			<if test="quaLevel != null and quaLevel != ''">
				QUA_LEVEL = #{quaLevel},
			</if>
			<if test="quaEdndate != null and quaEdndate != ''">
				QUA_EDNDATE = #{quaEdndate},
			</if>
			<if test="quaRange != null">
				QUA_RANGE = #{quaRange},
			</if>
			<if test="quaCert != null and quaCert != ''">
				QUA_CERT = #{quaCert},
			</if>
			<if test="leaderTelephone != null and leaderTelephone != ''">
				LEADER_TELEPHONE = #{leaderTelephone},
			</if>
			<if test="officerCountnum != null and officerCountnum != ''">
				OFFICER_COUNTNUM = #{officerCountnum},
			</if>
			<if test="officerNowCounts != null and officerNowCounts != ''">
				OFFICER_NOW_COUNTS = #{officerNowCounts},
			</if>
			<if test="soldierNum != null and soldierNum != ''">
				SOLDIER_NUM = #{soldierNum},
			</if>
			<if test="soldierNowCounts != null and soldierNowCounts != ''">
				SOLDIER_NOW_COUNTS = #{soldierNowCounts},
			</if>
			<if test="staffNum != null and staffNum != ''">
				STAFF_NUM = #{staffNum},
			</if>
			<if test="staffNowCounts != null and staffNowCounts != ''">
				STAFF_NOW_COUNTS = #{staffNowCounts},
			</if>
			<if test="purchasersCount != null and purchasersCount != ''">
				PURCHASERS_COUNT = #{purchasersCount},
			</if>
			<if test="juniorPurCount != null and juniorPurCount != ''">
				JUNIOR_PUR_COUNT = #{juniorPurCount},
			</if>
			<if test="seniorPurCount != null and seniorPurCount != ''">
				SENIOR_PUR_COUNT = #{seniorPurCount},
			</if>
			<if test="depName != null and depName != ''">
				DEP_NAME = #{depName},
			</if>
			<if test="legal != null and legal != ''">
				LEGAL = #{legal},
			</if>
			<if test="agent != null and agent != ''">
				AGENT = #{agent},
			</if>
			<if test="contact != null and contact != ''">
				CONTACT = #{contact},
			</if>
			<if test="contactTelephone != null and contactTelephone != ''">
				CONTACT_TELEPHONE = #{contactTelephone},
			</if>
			<if test="contactAddress != null and contactAddress != ''">
				CONTACT_ADDRESS = #{contactAddress},
			</if>
			<if test="unitPostCode != null and unitPostCode != ''">
				UNIT_POST_CODE = #{unitPostCode},
			</if>
			<if test="payDep != null and payDep != ''">
				PAY_DEP = #{payDep},
			</if>
			<if test="bank != null and bank != ''">
				BANK = #{bank},
			</if>
			<if test="bankAccount != null and bankAccount != ''">
				BANK_ACCOUNT = #{bankAccount},
			</if>
			<if test="officeArea != null and officeArea != ''">
				OFFICE_AREA = #{officeArea},
			</if>
			<if test="officeCount != null and officeCount != ''">
				OFFICE_COUNT = #{officeCount},
			</if>
			<if test="mettingRoomCount != null and mettingRoomCount != ''">
				METTING_ROOM_COUNT = #{mettingRoomCount},
			</if>
			<if test="inviteRoomCount != null and inviteRoomCount != ''">
				INVITE_ROOM_COUNT = #{inviteRoomCount},
			</if>
			<if test="bidRoomCount != null and bidRoomCount != ''">
				BID_ROOM_COUNT = #{bidRoomCount},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted},
			</if>
			<if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt},
			</if>
			<if test="orgId != null and orgId != ''">
				ORG_ID = #{orgId},
			</if>
			<if test="dutyRoomPhone != null and dutyRoomPhone != ''">
				DUTY_ROOM_PHONE = #{dutyRoomPhone},
			</if>
			<if test="isAuditSupplier != null and isAuditSupplier != ''">
				IS_AUDIT_SUPPLIER = #{isAuditSupplier},
			</if>
			<if test="quaStatus != null">
				QUA_STATUS = #{quaStatus,jdbcType=NUMERIC},
			</if>
			<if test="quaStartDate != null and quaStartDate != ''">
				QUA_START_DATE = #{quaStartDate},
			</if>
			<if test="quaStashReason != null and quaStashReason != ''">
				QUA_STASH_REASON = #{quaStashReason},
			</if>
			<if test="accessNetwork != null and accessNetwork != ''">
				ACCESS_NETWORK = #{accessNetwork},
			</if>
			<if test="accessWay != null and accessWay != ''">
				ACCESS_WAY = #{accessWay},
			</if>
			<if test="videoSurveillance != null and videoSurveillance != ''">
				VIDEO_SURVEILLANCE = #{videoSurveillance},
			</if>
			 <if test="accountName != null and accountName != ''">
        ACCOUNT_NAME = #{accountName},
      </if>
      <if test="supplierContact != null and supplierContact != ''">
        SUPPLIER_CONTACT = #{supplierContact},
      </if>
      <if test="supplierPhone != null and supplierPhone != ''">
        SUPPLIER_PHONE = #{supplierPhone},
      </if>
      <if test="supplierAddress != null and supplierAddress != ''">
        SUPPLIER_ADDRESS = #{supplierAddress},
      </if>
      <if test="supplierPostcode != null and supplierPostcode != ''">
        SUPPLIER_POSTCODE = #{supplierPostcode},
      </if>
      <if test="experContact != null and experContact != ''">
        EXPER_CONTACT = #{experContact},
      </if>
      <if test="experPhone != null and experPhone != ''">
        EXPER_PHONE = #{experPhone},
      </if>
      <if test="experAddress != null and experAddress != ''">
        EXPER_ADDRESS = #{experAddress},
      </if>
      <if test="experPostcode != null and experPostcode != ''">
        EXPER_POSTCODE = #{experPostcode},
      </if>
		</set>
		where ORG_ID=#{id}
	</update>
	<select id="selectPurchaseById" parameterType="java.lang.String"
		resultType="ses.model.oms.PurchaseDep">
		select d.id as id,
		d.LEVEL_DEP as levelDep,
		d.SUBORDINATE_ORG_ID as subordinateOrgId,
		d.SUBORDINATE_ORG_NAME as subordinateOrgName,
		d.BUSINESS_DEP as businessDep,
		d.BUSINESS_DEP_ID as businessDepId,
		d.BUSINESS_RANGE as businessRange,
		d.QUA_CODE as quaCode,
		d.QUA_LEVEL as quaLevel,
		d.QUA_EDNDATE as quaEdndate,
		d.QUA_RANGE as quaRange,
		d.QUA_CERT as quaCert,
		d.LEADER_TELEPHONE as leaderTelephone,
		d.OFFICER_COUNTNUM as officerCountnum,
		d.OFFICER_NOW_COUNTS as officerNowCounts,
		d.SOLDIER_NUM as soldierNum,
		d.SOLDIER_NOW_COUNTS as soldierNowCounts,
		d.STAFF_NUM as staffNum,
		d.STAFF_NOW_COUNTS as staffNowCounts,
		d.PURCHASERS_COUNT as purchasersCount,
		d.JUNIOR_PUR_COUNT as juniorPurCount,
		d.SENIOR_PUR_COUNT as seniorPurCount,
		d.DEP_NAME as depName,
		d.LEGAL as legal,
		d.AGENT as agent,
		d.CONTACT as contact,
		d.CONTACT_TELEPHONE as contactTelephone,
		d.CONTACT_ADDRESS as contactAddress,
		d.UNIT_POST_CODE as unitPostCode,
		d.PAY_DEP as payDep,
		d.BANK as bank,
		d.BANK_ACCOUNT as bankAccount,
		d.OFFICE_AREA as officeArea,
		d.OFFICE_COUNT as officeCount,
		d.METTING_ROOM_COUNT as mettingRoomCount,
		d.INVITE_ROOM_COUNT as inviteRoomCount,
		d.BID_ROOM_COUNT as bidRoomCount,
		d.IS_DELETED as isDeleted,
		d.UPDATED_AT as updatedAt,
		d.CREATED_AT as createdAt,
		d.ACCOUNT_NAME as accountName,
		d.QUA_STASH_REASON as quaStashReason,
		d.SUPPLIER_CONTACT as supplierContact,
		d.SUPPLIER_PHONE as supplierPhone,
		d.SUPPLIER_ADDRESS as supplierAddress,
    d.SUPPLIER_POSTCODE as supplierPostcode,
    d.EXPER_CONTACT as experContact,
    d.EXPER_PHONE as experPhone,
    d.EXPER_ADDRESS as experAddress,
    d.EXPER_POSTCODE as experPostcode,
		o.id as orgId,
		o.NAME as name,
		o.SHORT_NAME as shortName,
		o.ORG_CODE as orgCode,
		CONCAT(a.name, b.name) as areaName,
		d.DUTY_ROOM_PHONE as dutyRoomPhone,
		a.id as provinceId,
		a.name as provinceName,
		b.id as cityId,
		b.name as cityName,
		nvl(d.IS_AUDIT_SUPPLIER,0) as isAuditSupplier,
		d.QUA_START_DATE as quaStartDate,
		d.QUA_STATUS as quaStatus,
		d.ACCOUNT_NAME as accountName
		from T_SES_OMS_PURCHASE_DEP d
		LEFT JOIN T_SES_OMS_ORG o on d.ORG_ID = o.id
		LEFT JOIN T_SES_BMS_AREA a on o.province_id=a.id
		LEFT JOIN T_SES_BMS_AREA b on o.city_id=b.id
		where nvl(d.IS_DELETED,0)=0
		and o.IS_DELETED = 0
		<if test="_parameter != null and _parameter != ''">
			and d.id= #{_parameter}
		</if>
	</select>

	<!-- 更新 -->
	<update id="delPurchaseByOrgId">
		UPDATE T_SES_OMS_PURCHASE_DEP
		SET IS_DELETED = 1
		WHERE ORG_ID =#{orgId}
	</update>

	<!-- 保存 -->
	<insert id="savePurchaseDept" parameterType="ses.model.oms.PurchaseDep">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select rawtohex(sys_guid()) as VALUE from dual
		</selectKey>
		insert into T_SES_OMS_PURCHASE_DEP
		(ID,ORG_ID,IS_DELETED,CREATED_AT)
		values(
		#{id},#{orgId,jdbcType=VARCHAR},#{isDeleted},#{createdAt,jdbcType=TIMESTAMP})
	</insert>

	<!-- 根据Id更新状态 -->
	<update id="updatePurchById" parameterType="ses.model.oms.PurchaseDep">
		update T_SES_OMS_PURCHASE_DEP
		<set>
		<if test="quaStatus != null">
			QUA_STATUS = #{quaStatus,jdbcType=NUMERIC},
		</if>
		</set>
		where ID=#{id}
	</update>

	<!-- 根据主键查询 -->
	<select id="getPurchaserByPrimaryKey" resultType="java.lang.String">
		SELECT ORG_ID
		FROM T_SES_OMS_PURCHASE_DEP
		where ID = #{id}
		AND IS_DELETED = 0
	</select>
	<select id="queryByName" parameterType="String" resultType="ses.model.oms.PurchaseDep">
	
	select d.id as id,
		d.LEVEL_DEP as levelDep,
		d.SUBORDINATE_ORG_ID as subordinateOrgId,
		d.SUBORDINATE_ORG_NAME as subordinateOrgName,
		d.BUSINESS_DEP as businessDep,
		d.BUSINESS_DEP_ID as businessDepId,
		d.BUSINESS_RANGE as businessRange,
		d.QUA_CODE as quaCode,
		d.QUA_LEVEL as quaLevel,
		d.QUA_EDNDATE as quaEdndate,
		d.QUA_RANGE as quaRange,
		d.QUA_CERT as quaCert,
		d.LEADER_TELEPHONE as leaderTelephone,
		d.OFFICER_COUNTNUM as officerCountnum,
		d.OFFICER_NOW_COUNTS as officerNowCounts,
		d.SOLDIER_NUM as soldierNum,
		d.SOLDIER_NOW_COUNTS as soldierNowCounts,
		d.STAFF_NUM as staffNum,
		d.STAFF_NOW_COUNTS as staffNowCounts,
		d.PURCHASERS_COUNT as purchasersCount,
		d.JUNIOR_PUR_COUNT as juniorPurCount,
		d.SENIOR_PUR_COUNT as seniorPurCount,
		d.DEP_NAME as depName,
		d.LEGAL as legal,
		d.AGENT as agent,
		d.ACCESS_NETWORK as accessNetwork,
		d.ACCESS_WAY as accessWay,
		d.VIDEO_SURVEILLANCE as videoSurveillance,
		d.CONTACT as contact,
		d.CONTACT_TELEPHONE as contactTelephone,
		d.CONTACT_ADDRESS as contactAddress,
		d.UNIT_POST_CODE as unitPostCode,
		d.PAY_DEP as payDep,
		d.BANK as bank,
		d.BANK_ACCOUNT as bankAccount,
		d.OFFICE_AREA as officeArea,
		d.OFFICE_COUNT as officeCount,
		d.METTING_ROOM_COUNT as mettingRoomCount,
		d.INVITE_ROOM_COUNT as inviteRoomCount,
		d.BID_ROOM_COUNT as bidRoomCount,
		d.IS_DELETED as isDeleted,
		d.UPDATED_AT as updatedAt,
		d.CREATED_AT as createdAt,
		d.ACCOUNT_NAME as accountName,
		o.id as orgId,
		o.NAME as name,
		o.SHORT_NAME as shortName,
		o.ORG_CODE as orgCode,
		o.type_name as typeName,
		o.address as address,
		o.post_code as postCode,
		o.FAX as fax,
		o.CONTACT_NAME as contactName,
		o.CONTACT_MOBILE as contactMobile,
		CONCAT(a.name, b.name) as areaName,
		d.DUTY_ROOM_PHONE as dutyRoomPhone,
		a.id as provinceId,
		a.name as provinceName,
		b.id as cityId,
		b.name as cityName,
		nvl(d.IS_AUDIT_SUPPLIER,0) as isAuditSupplier,
		d.QUA_START_DATE as quaStartDate,
		d.QUA_STATUS as quaStatus,
		d.QUA_STASH_REASON as quaStashReason,
		o.QUA_NORMAL_REASON as quaNormalReason,
		o.QUA_TERMINAL_REASON as quaTerminalReason
		from T_SES_OMS_ORG o
		LEFT JOIN T_SES_BMS_AREA a on o.province_id=a.id
		LEFT JOIN T_SES_BMS_AREA b on o.city_id=b.id,
		T_SES_OMS_PURCHASE_DEP d
		WHERE d.is_deleted= 0
		AND o.is_deleted =0
		AND d.ORG_ID = o.id
	    and o.SHORT_NAME =#{name}
 
	</select>
	
</mapper>