<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.oms.PurchaseDepMapper">
	 <!-- 根据条件查部 采购机构-->
	<select id="findPurchaseDepList" parameterType="java.util.Map" resultType="ses.model.oms.PurchaseDep">
			   select d.id  as id,
		       d.LEVEL_DEP       as levelDep,
		       d.SUBORDINATE_ORG_ID       as subordinateOrgId,
		       d.SUBORDINATE_ORG__NAME     as subordinateOrgName,
		       d.BUSINESS_DEP         as businessDep,
		       d.BUSINESS_DEP_ID       as businessDepId,
		       d.BUSINESS_RANGE       as businessRange,
		       d.QUA_CODE         as quaCode,
		       d.QUA_LEVEL      as quaLevel,
		       d.QUA_EDNDATE    as quaEdndate,
		       d.QUA_RANGE  as quaRange,
		       d.QUA_CERT   as quaCert,
		       d.LEADER_TELEPHONE as leaderTelephone,
		       d.OFFICER_COUNTNUM   as officerCountnum,
		       d.OFFICER_NOW_COUNTS   as officerNowCounts,
		       d.SOLDIER_NUM   as soldierNum,
		       d.SOLDIER_NOW_COUNTS   as soldierNowCounts,
		       d.STAFF_NUM   as staffNum,
		       d.STAFF_NOW_COUNTS   as staffNowCounts,
		       d.PURCHASERS_COUNT   as purchasersCount,
		       d.JUNIOR_PUR_COUNT   as juniorPurCount,
		       d.SENIOR_PUR_COUNT   as seniorPurCount,
		       d.DEP_NAME   as depName,
		       d.LEGAL   as legal,
		       d.AGENT   as agent,
		       d.CONTACT   as contact,
		       d.CONTACT_TELEPHONE   as contactTelephone,
		       d.CONTACT_ADDRESS   as contactAddress,
		       d.UNIT_POST_CODE   as unitPostCode,
		       d.PAY_DEP   as payDep,
		       d.BANK   as bank,
		       d.BANK_ACCOUNT   as bankAccount,
		       d.OFFICE_AREA   as officeArea,
		       d.OFFICE_COUNT  as officeCount,
		       d.METTING_ROOM_COUNT   as mettingRoomCount,
		       d.INVITE_ROOM_COUNT   as inviteRoomCount,
		       d.BID_ROOM_COUNT   as bidRoomCount,
		       d.IS_DELETED   as isDeleted,
		       d.UPDATED_AT   as updatedAt,
		       d.CREATED_AT   as createdAt,
		       d.ORG_ID       as orgId,
		       o.NAME         as name,
		       o.SHORT_NAME   as shortName,
		       o.ORG_CODE     as orgCode,
		       o.type_name    as typeName,
		       o.address      as address,
		       o.post_code    as postCode,
		       CONCAT(a.name, b.name) as areaName,
		       d.DUTY_ROOM_PHONE  as dutyRoomPhone,
		       a.id               as provinceId,
		       a.name             as provinceName,
		       b.id               as cityId,
		       b.name             as cityName,
		       nvl(d.IS_AUDIT_SUPPLIER,0) as isAuditSupplier,
		       d.QUA_START_DATE    as quaStartDate,
		       d.QUA_STATUS        as quaStatus
		  from T_SES_OMS_PURCHASE_DEP     d
		  LEFT JOIN T_SES_OMS_ORG o on d.ORG_ID = o.id
		  LEFT JOIN T_SES_BMS_AREA a on o.province_id=a.id
		  LEFT JOIN T_SES_BMS_AREA b on o.city_id=b.id
		 where nvl(d.is_deleted,0)=0
		 <if test="id != null and id != ''">
			and d.id= #{id}
		</if>
		 <if test="pid != null and pid != ''">
			and d.PARENT_ID= #{pid}
		</if>
		<if test="isroot != null and isroot != ''">
			and nvl(d.IS_ROOT,'0')= 1
		</if>
		<if test="type != null and type != ''">
			and d.type= #{type}
		</if> 
	</select>
	<!-- 保存采购机构 -->
	<insert id="savePurchaseDep" parameterType="ses.model.oms.PurchaseDep">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select rawtohex(sys_guid()) as VALUE from dual
		</selectKey>
		insert into T_SES_OMS_PURCHASE_DEP
		 (ID,LEVEL_DEP,SUBORDINATE_ORG_ID,
		  SUBORDINATE_ORG__NAME,BUSINESS_DEP,BUSINESS_DEP_ID,
		  BUSINESS_RANGE,QUA_CODE,QUA_LEVEL,
		  QUA_EDNDATE,QUA_RANGE,QUA_CERT,
		  LEADER_TELEPHONE,OFFICER_COUNTNUM,OFFICER_NOW_COUNTS,
		  SOLDIER_NUM,SOLDIER_NOW_COUNTS,STAFF_NUM,
		  STAFF_NOW_COUNTS,PURCHASERS_COUNT,JUNIOR_PUR_COUNT,
		  SENIOR_PUR_COUNT,DEP_NAME,LEGAL,
		  AGENT,CONTACT,CONTACT_TELEPHONE,
		  CONTACT_ADDRESS,UNIT_POST_CODE,PAY_DEP,
		  BANK,BANK_ACCOUNT,OFFICE_AREA,
		  OFFICE_COUNT,METTING_ROOM_COUNT,INVITE_ROOM_COUNT,
		  BID_ROOM_COUNT,CREATED_AT,ORG_ID,
		  IS_AUDIT_SUPPLIER,DUTY_ROOM_PHONE,
		  QUA_START_DATE,QUA_STATUS
          )
		values(
	      #{id},#{levelDep,jdbcType=VARCHAR},
		  #{subordinateOrgId,jdbcType=VARCHAR},#{subordinateOrgName,jdbcType=VARCHAR},#{businessDep,jdbcType=VARCHAR},
		  #{businessDepId,jdbcType=VARCHAR},#{businessRange,jdbcType=VARCHAR},#{quaCode,jdbcType=VARCHAR},
		  #{quaLevel,jdbcType=VARCHAR},#{quaEdndate,jdbcType=TIMESTAMP },#{quaRange,jdbcType=NUMERIC},
		  #{quaCert,jdbcType=VARCHAR},#{leaderTelephone,jdbcType=VARCHAR},#{officerCountnum,jdbcType=NUMERIC},
		  #{officerNowCounts,jdbcType=NUMERIC},#{soldierNum,jdbcType=NUMERIC},#{soldierNowCounts,jdbcType=NUMERIC},
		  #{staffNum,jdbcType=NUMERIC},#{staffNowCounts,jdbcType=NUMERIC},#{purchasersCount,jdbcType=NUMERIC},
		  #{juniorPurCount,jdbcType=NUMERIC},#{seniorPurCount,jdbcType=NUMERIC},#{depName,jdbcType=VARCHAR},
		  #{legal,jdbcType=VARCHAR},#{agent,jdbcType=VARCHAR},#{contact,jdbcType=VARCHAR},
		  #{contactTelephone,jdbcType=VARCHAR},#{contactAddress,jdbcType=VARCHAR},#{unitPostCode,jdbcType=NUMERIC},
		  #{payDep,jdbcType=VARCHAR},#{bank,jdbcType=VARCHAR},#{bankAccount,jdbcType=VARCHAR},
		  #{officeArea,jdbcType=NUMERIC},#{officeCount,jdbcType=NUMERIC},#{mettingRoomCount,jdbcType=NUMERIC},
		  #{inviteRoomCount,jdbcType=NUMERIC},#{bidRoomCount,jdbcType=NUMERIC},sysdate,
		  #{orgId,jdbcType=VARCHAR},#{isAuditSupplier,jdbcType=NUMERIC},#{dutyRoomPhone,jdbcType=VARCHAR},
		  #{quaStartDate,jdbcType=TIMESTAMP },1
		 )
	</insert>
	<!-- 更新采购机构 -->
	<update id="update" parameterType="ses.model.oms.PurchaseDep">
		update T_SES_OMS_PURCHASE_DEP s
	     set 
	         UPDATED_AT=sysdate
	         <if test="levelDep != null and levelDep != ''">
		 		,LEVEL_DEP=#{levelDep,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="subordinateOrgId != null and subordinateOrgId != ''">
		 		,SUBORDINATE_ORG_ID=#{subordinateOrgId,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="subordinateOrgName != null and subordinateOrgName != ''">
		 		,SUBORDINATE_ORG__NAME=#{subordinateOrgName,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="businessDep != null and businessDep != ''">
		 		,BUSINESS_DEP=#{businessDep,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="businessDepId != null and businessDepId != ''">
		 		,BUSINESS_DEP_ID=#{businessDepId,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="businessRange != null and businessRange != ''">
		 		,BUSINESS_RANGE=#{businessRange,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="quaCode != null and quaCode != ''">
		 		,QUA_CODE=#{quaCode,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="quaLevel != null and quaLevel != ''">
		 		,QUA_LEVEL=#{quaLevel,jdbcType=VARCHAR}
		 	</if>
		 	<if test="quaEdndate != null and quaEdndate != ''">
		 		,QUA_EDNDATE=#{quaEdndate,jdbcType=TIMESTAMP}
		 	</if>
		 	 <if test="quaRange != null and quaRange != ''">
		 		,QUA_RANGE=#{quaRange,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="quaCert != null and quaCert != ''">
		 		,QUA_CERT=#{quaCert,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="leaderTelephone != null and leaderTelephone != ''">
		 		,LEADER_TELEPHONE=#{leaderTelephone,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="officerCountnum != null and officerCountnum != ''">
		 		,OFFICER_COUNTNUM=#{officerCountnum,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="officerNowCounts != null and officerNowCounts != ''">
		 		,OFFICER_NOW_COUNTS=#{officerNowCounts,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="soldierNum != null and soldierNum != ''">
		 		,SOLDIER_NUM=#{soldierNum,jdbcType=NUMERIC}
		 	</if>
		 	<if test="soldierNowCounts != null and soldierNowCounts != ''">
		 		,SOLDIER_NOW_COUNTS=#{soldierNowCounts,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="staffNum != null and staffNum != ''">
		 		,STAFF_NUM=#{staffNum,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="staffNowCounts != null and staffNowCounts != ''">
		 		,STAFF_NOW_COUNTS=#{staffNowCounts,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="purchasersCount != null and purchasersCount != ''">
		 		,PURCHASERS_COUNT=#{purchasersCount,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="juniorPurCount != null and juniorPurCount != ''">
		 		,JUNIOR_PUR_COUNT=#{juniorPurCount,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="seniorPurCount != null and seniorPurCount != ''">
		 		,SENIOR_PUR_COUNT=#{seniorPurCount,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="depName != null and depName != ''">
		 		,DEP_NAME=#{depName,jdbcType=VARCHAR}
		 	</if>
		 	<if test="legal != null and legal != ''">
		 		,LEGAL=#{legal,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="agent != null and agent != ''">
		 		,AGENT=#{agent,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="contact != null and contact != ''">
		 		,CONTACT=#{contact,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="contactTelephone != null and contactTelephone != ''">
		 		,CONTACT_TELEPHONE=#{contactTelephone,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="contactAddress != null and contactAddress != ''">
		 		,CONTACT_ADDRESS=#{contactAddress,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="unitPostCode != null and unitPostCode != ''">
		 		,UNIT_POST_CODE=#{unitPostCode,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="payDep != null and payDep != ''">
		 		,PAY_DEP=#{payDep,jdbcType=VARCHAR}
		 	</if>
		 	
		 	<if test="bank != null and bank != ''">
		 		,BANK=#{bank,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="bankAccount != null and bankAccount != ''">
		 		,BANK_ACCOUNT=#{bankAccount,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="officeArea != null and officeArea != ''">
		 		,OFFICE_AREA=#{officeArea,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="officeCount != null and officeCount != ''">
		 		,OFFICE_COUNT=#{officeCount,jdbcType=NUMERIC}
		 	</if>
		 	<if test="mettingRoomCount != null and mettingRoomCount != ''">
		 		,METTING_ROOM_COUNT=#{mettingRoomCount,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="inviteRoomCount != null and inviteRoomCount != ''">
		 		,INVITE_ROOM_COUNT=#{inviteRoomCount,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="bidRoomCount != null and bidRoomCount != ''">
		 		,BID_ROOM_COUNT=#{bidRoomCount,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="isDeleted != null and isDeleted != ''">
		 		,IS_DELETED=#{isDeleted,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="dutyRoomPhone != null and dutyRoomPhone != ''">
		 		,DUTY_ROOM_PHONE=#{dutyRoomPhone,jdbcType=VARCHAR}
		 	</if>
		 	 <if test="isAuditSupplier != null and isAuditSupplier != ''">
		 		,IS_AUDIT_SUPPLIER=#{isAuditSupplier,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="quaStatus != null and quaStatus != ''">
		 		,QUA_STATUS=#{quaStatus,jdbcType=NUMERIC}
		 	</if>
		 	 <if test="quaStartDate != null and quaStartDate != ''">
		 		,QUA_START_DATE=#{quaStartDate,jdbcType=TIMESTAMP}
		 	</if>
		 	 where s.id=#{id}  
	</update>
	<select id="selectPurchaseById" parameterType="java.lang.String" resultType="ses.model.oms.PurchaseDep">
		select d.id  as id,
		       d.LEVEL_DEP       as levelDep,
		       d.SUBORDINATE_ORG_ID       as subordinateOrgId,
		       d.SUBORDINATE_ORG__NAME     as subordinateOrgName,
		       d.BUSINESS_DEP         as businessDep,
		       d.BUSINESS_DEP_ID       as businessDepId,
		       d.BUSINESS_RANGE       as businessRange,
		       d.QUA_CODE         as quaCode,
		       d.QUA_LEVEL      as quaLevel,
		       d.QUA_EDNDATE    as quaEdndate,
		       d.QUA_RANGE  as quaRange,
		       d.QUA_CERT   as quaCert,
		       d.LEADER_TELEPHONE as leaderTelephone,
		       d.OFFICER_COUNTNUM   as officerCountnum,
		       d.OFFICER_NOW_COUNTS   as officerNowCounts,
		       d.SOLDIER_NUM   as soldierNum,
		       d.SOLDIER_NOW_COUNTS   as soldierNowCounts,
		       d.STAFF_NUM   as staffNum,
		       d.STAFF_NOW_COUNTS   as staffNowCounts,
		       d.PURCHASERS_COUNT   as purchasersCount,
		       d.JUNIOR_PUR_COUNT   as juniorPurCount,
		       d.SENIOR_PUR_COUNT   as seniorPurCount,
		       d.DEP_NAME   as depName,
		       d.LEGAL   as legal,
		       d.AGENT   as agent,
		       d.CONTACT   as contact,
		       d.CONTACT_TELEPHONE   as contactTelephone,
		       d.CONTACT_ADDRESS   as contactAddress,
		       d.UNIT_POST_CODE   as unitPostCode,
		       d.PAY_DEP   as payDep,
		       d.BANK   as bank,
		       d.BANK_ACCOUNT   as bankAccount,
		       d.OFFICE_AREA   as officeArea,
		       d.OFFICE_COUNT  as officeCount,
		       d.METTING_ROOM_COUNT   as mettingRoomCount,
		       d.INVITE_ROOM_COUNT   as inviteRoomCount,
		       d.BID_ROOM_COUNT   as bidRoomCount,
		       d.IS_DELETED   as isDeleted,
		       d.UPDATED_AT   as updatedAt,
		       d.CREATED_AT   as createdAt,
		       d.ORG_ID       as orgId,
		       o.NAME         as name,
		       o.SHORT_NAME   as shortName,
		       o.ORG_CODE     as orgCode,
		       CONCAT(a.name, b.name) as areaName,
		       d.DUTY_ROOM_PHONE  as dutyRoomPhone,
		       a.id               as provinceId,
		       a.name             as provinceName,
		       b.id               as cityId,
		       b.name             as cityName,
		       nvl(d.IS_AUDIT_SUPPLIER,0) as isAuditSupplier,
		       d.QUA_START_DATE    as quaStartDate,
		       d.QUA_STATUS        as quaStatus
		  from T_SES_OMS_PURCHASE_DEP     d
		  LEFT JOIN T_SES_OMS_ORG o on d.ORG_ID = o.id
		  LEFT JOIN T_SES_BMS_AREA a on o.province_id=a.id
		  LEFT JOIN T_SES_BMS_AREA b on o.city_id=b.id
		 where nvl(d.is_deleted,0)=0
		 <if test="_parameter != null and _parameter != ''">
			and d.id= #{_parameter}
		 </if> 
	</select>
</mapper>