<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.oms.PurchaseOrgMapper">
	<resultMap id="BaseResultMap" type="ses.model.oms.PurchaseOrg">
		<result column="PURCHASE_DEP_ID" property="purchaseDepId" />
		<result column="ORG_ID" property="orgId" />
	</resultMap>
	<!-- 批量保存 -->
	<insert id="saveByMap" parameterType="java.util.Map">
		insert into T_SES_OMS_PURDEP_ORG(ORG_ID,PURCHASE_DEP_ID)
		select A.ORG_ID,A.PURCHASE_DEP_ID
		from (
		<foreach collection="purchaseOrgList" item="item" index="index"
			separator="union all">
			select #{item.orgId,jdbcType=VARCHAR} as ORG_ID,
			#{item.purchaseDepId,jdbcType=VARCHAR} as PURCHASE_DEP_ID
			from dual
		</foreach>
		) A
	</insert>
	 <select id="findPendingAuditCount" parameterType="java.lang.String"
        resultType="java.lang.Integer">
        SELECT count(t1.ID) from T_SES_EMS_EXPERT t1
        LEFT JOIN T_SES_OMS_PURCHASE_DEP dep ON t1.PURCHASE_DEP_ID = dep.ID
        WHERE 
         t1.IS_PROVISIONAL = '0'
         AND t1.IS_DELETE = '0'
         AND t1.STATUS in ('0','9')
         AND dep.ORG_ID= #{_parameter,jdbcType=VARCHAR}  
     </select>
	<select id="selectById" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		*
		from T_SES_OMS_PURDEP_ORG
		where 1=1
		<if test="purchaseDepId != null and purchaseDepId !='' ">
			and PURCHASE_DEP_ID = #{purchaseDepId,jdbcType=VARCHAR}
		</if>
		<if test="orgId != null and orgId !='' ">
		 and	ORG_ID = #{orgId,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectByOrgId" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from  T_SES_OMS_ORG o,T_SES_OMS_PURDEP_ORG r where r.PURCHASE_DEP_ID=o.ID
		<if test="purchaseDepId != null and purchaseDepId !='' ">
			and r.PURCHASE_DEP_ID = #{purchaseDepId,jdbcType=VARCHAR}
		</if>
		<if test="orgId != null and orgId !='' ">
		 and	r.ORG_ID = #{orgId,jdbcType=VARCHAR}
		</if>
		<if test="orgName!= null and orgName !='' ">
		 and	o.name  like   CONCAT(CONCAT('%', #{orgName}), '%')
		</if>
		 order by POSITION
	</select>
	<!-- 删除 -->
	<delete id="delByOrgId" parameterType="java.util.Map">
		delete from T_SES_OMS_PURDEP_ORG s
		<if test="org_id != null and org_id != ''">
			where s.ORG_ID =#{org_id}
		</if>
		<if test="purchaseDepId != null and purchaseDepId != ''">
			where s.PURCHASE_DEP_ID =#{purchaseDepId}
		</if>
	</delete>
	<!-- 批量删 -->
	<delete id="delByMap" parameterType="java.util.Map">
		delete from T_SES_OMS_PURDEP_ORG s where s.ORG_ID in
		<foreach collection="list" item="org_id" open="(" separator=","
			close=")">
			#{org_id}
		</foreach>
	</delete>
</mapper>