<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.oms.PurchaseInfoMapper">
	<!-- 统计Analyze关系映射 -->
	<resultMap type="ses.model.bms.AnalyzeBigDecimal" id="baseAnalyze">
		<result column="COL_NAME" property="name"/>
		<result column="COL_VALUE" property="value"/>
		<result column="COL_ID" property="id"/>
	</resultMap>
	<!-- 根据条件查部 采购机构-->
	<select id="findPurchaseList" parameterType="java.util.Map" resultType="ses.model.oms.PurchaseInfo">
			   select d.id  as id,
		       u.GENDER       as gender,
		       u.LOGIN_NAME   AS loginName,
		       u.MOBILE  AS mobile,
		       u.EMAIL AS email,
		       u.PASSWORD AS password,
		       d.NATION       as nation,
		       o.id     as purchaseDepId,
		       o.name   as purchaseDepName,
		       d.POLITICAL         as political,
		       d.PURCAHSER_TYPE       as purcahserType,
		       d.BIRTH_AT      as birthAt,
		       d.AREA         as area,
		       d.PROVINCE_ID      as provinceId,
		       d.CITY_ID    as cityId,
		       d.TOWN_ID  as townId,
		       d.DETAIL_ADDR   as detailAddr,
		       d.ID_CARD as idCard,
		       d.PROFESSIONAL   as professional,
		       d.TOP_STUDY   as topStudy,
		       d.GRADUATE_SCHOOL   as graduateSchool,
		       d.WORK_EXPERIENCE   as workExperience,
		       d.TRAIN_EXPERIENCE   as trainExperience,
		       d.QUA_CODE   as quaCode,
		       d.QUA_LEVEL   as quaLevel,
		       d.QUA_EDNDATE  as quaEdndate,
		       d.QUA_CERT   as quaCert,
		       d.QUA_RANK   as quaRank,
		       d.FAX   as fax,
		       u.ADDRESS   as address,
		       d.POST_CODE   as postCode,
		       d.QUA_START_DATE   as quaStartDate,
		       u.id      as  userId,
		       u.REL_NAME as relName,
		       d.AGE      as age,
		       u.DUTIES         as duties,
		       u.TELEPHONE           as telephone,
		       u.PUBLISH_TYPE as publishType,
		       u.OFFICER_CERT_NO as officerCertNo
		  from T_SES_OMS_PURCHASER     d
		  LEFT JOIN	T_SES_BMS_USER u on d.id = u.type_id
		  LEFT JOIN T_SES_OMS_ORG o on o.id = d.purchase_dep_id
		 where d.IS_DELETED = 0
		 <if test="id != null and '' != id">
			and d.id= #{id}
		</if>
		 
		<!-- 根据采购机构名称id查询 -->
		<if test="purchaseDepId != null and '' != purchaseDepId">
			and o.ID= #{purchaseDepId}
		</if>
		<if test="purchaseDepName != null and '' != purchaseDepName">
			and o.name like CONCAT(CONCAT('%', #{purchaseDepName}), '%')
		</if>
		<!-- 根据用户表真实姓名查询 -->
		<if test="relName != null and '' != relName">
			and u.REL_NAME like CONCAT(CONCAT('%', #{relName}), '%')
		</if>
		<!-- 根据用户身份证号查询 -->
		<if test="idCard != null and '' != idCard">
			and d.ID_CARD LIKE CONCAT(CONCAT('%', #{idCard}), '%')
		</if>
		<!-- 根据用户ID查询 -->
		<if test="userId != null and '' != userId">
			and u.ID= #{userId}
		</if>
		<!-- 根据人员类型查询 -->
		<if test="purcahserType != null and '' != purcahserType">
			AND d.PURCAHSER_TYPE= #{purcahserType}
		</if>
		<!-- 根据人员性别查询 -->
		<if test="gender != null and '' != gender">
			AND u.GENDER = #{gender}
		</if>
		ORDER BY d.CREATED_AT DESC  
	</select>
	
	<!-- 查询采购人 -->
	<select id="findPurchaseUserList" parameterType="java.lang.String" resultType="ses.model.oms.PurchaseInfo">
         select d.id  as id,
           u.GENDER       as gender,
           u.LOGIN_NAME   AS loginName,
           u.MOBILE  AS mobile,
           u.EMAIL AS email,
           u.PASSWORD AS password,
           d.NATION       as nation,
           o.id     as purchaseDepId,
           o.name   as purchaseDepName,
           d.POLITICAL         as political,
           d.PURCAHSER_TYPE       as purcahserType,
           d.BIRTH_AT      as birthAt,
           d.AREA         as area,
           d.PROVINCE_ID      as provinceId,
           d.CITY_ID    as cityId,
           d.TOWN_ID  as townId,
           d.DETAIL_ADDR   as detailAddr,
           d.ID_CARD as idCard,
           d.PROFESSIONAL   as professional,
           d.TOP_STUDY   as topStudy,
           d.GRADUATE_SCHOOL   as graduateSchool,
           d.WORK_EXPERIENCE   as workExperience,
           d.TRAIN_EXPERIENCE   as trainExperience,
           d.QUA_CODE   as quaCode,
           d.QUA_LEVEL   as quaLevel,
           d.QUA_EDNDATE  as quaEdndate,
           d.QUA_CERT   as quaCert,
           d.QUA_RANK   as quaRank,
           d.FAX   as fax,
           u.ADDRESS   as address,
           d.POST_CODE   as postCode,
           d.QUA_START_DATE   as quaStartDate,
           u.id      as  userId,
           u.REL_NAME as relName,
           d.AGE      as age,
           u.DUTIES         as duties,
           u.TELEPHONE           as telephone
      from T_SES_OMS_PURCHASER     d
      LEFT JOIN T_SES_BMS_USER u on d.id = u.type_id
      LEFT JOIN T_SES_OMS_ORG o on o.id = d.purchase_dep_id
     where d.IS_DELETED = 0
     and o.id= #{purchaseDepId}
   </select>
     
	
	<!-- 保存采购机构 -->
	<insert id="savePurchase" parameterType="ses.model.oms.PurchaseInfo">
		
		insert into T_SES_OMS_PURCHASER
		 (ID,NATION,PURCHASE_DEP_ID,
		  POLITICAL,PURCAHSER_TYPE,BIRTH_AT,
		  AREA,PROVINCE_ID,CITY_ID,
		  TOWN_ID,DETAIL_ADDR,ID_CARD,
		  PROFESSIONAL,TOP_STUDY,GRADUATE_SCHOOL,
		  WORK_EXPERIENCE,TRAIN_EXPERIENCE,QUA_CODE,
		  QUA_LEVEL,QUA_EDNDATE,QUA_CERT,
		  QUA_RANK,FAX,POST_CODE,
		  QUA_START_DATE,AGE,CREATED_AT,USER_ID,IS_DELETED
          )
		values(
	      #{id,jdbcType=VARCHAR},#{nation,jdbcType=VARCHAR},
		  #{purchaseDepId,jdbcType=VARCHAR},#{political,jdbcType=VARCHAR},#{purcahserType,jdbcType=NUMERIC},
		  #{birthAt,jdbcType=DATE},#{area,jdbcType=VARCHAR},#{provinceId,jdbcType=VARCHAR},
		  #{cityId,jdbcType=VARCHAR},#{townId,jdbcType=VARCHAR},#{detailAddr,jdbcType=VARCHAR},
		  #{idCard,jdbcType=VARCHAR},#{professional,jdbcType=VARCHAR},#{topStudy,jdbcType=VARCHAR},
		  #{graduateSchool,jdbcType=VARCHAR},#{workExperience,jdbcType=VARCHAR},#{trainExperience,jdbcType=VARCHAR},
		  #{quaCode,jdbcType=VARCHAR},#{quaLevel,jdbcType=VARCHAR},#{quaEdndate,jdbcType=DATE},
		  #{quaCert,jdbcType=VARCHAR},#{quaRank,jdbcType=VARCHAR},#{fax,jdbcType=VARCHAR},
		  #{postCode,jdbcType=VARCHAR},#{quaStartDate,jdbcType=DATE},#{age,jdbcType=NUMERIC},
		  #{createdAt,jdbcType=TIMESTAMP},#{userId,jdbcType=VARCHAR},#{isDeleted,jdbcType=NUMERIC}
		 )
	</insert>
		<!-- 更新人员-->
	<update id="updatePurchase" parameterType="ses.model.oms.PurchaseInfo">
			 update T_SES_OMS_PURCHASER 
	     <set> 
	        <if test="nation != null">
		 		NATION=#{nation,jdbcType=VARCHAR},
		 	</if>
		 	<if test="purchaseDepId != null">                
		 		PURCHASE_DEP_ID=#{purchaseDepId,jdbcType=VARCHAR},
		 	</if>
		 	<if test="updatedAt != null">                
        UPDATED_AT=#{updatedAt,jdbcType=TIMESTAMP},
      </if>
		 	<if test="political != null">
		 		POLITICAL=#{political,jdbcType=VARCHAR},
		 	</if>
		 	<if test="purcahserType != null">
		 		PURCAHSER_TYPE=#{purcahserType,jdbcType=NUMERIC},
		 	</if>
		 	 <if test="birthAt != null">
		 		BIRTH_AT=#{birthAt,jdbcType=DATE},  
		 	</if>
		 	 <if test="area != null">
		 		AREA=#{area,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="provinceId != null">
		 		PROVINCE_ID=#{provinceId,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="cityId != null">
		 		CITY_ID=#{cityId,jdbcType=VARCHAR},
		 	</if>
	        <if test="townId != null">
		 		TOWN_ID=#{townId,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="detailAddr != null">
		 		DETAIL_ADDR=#{detailAddr,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="idCard != null">
		 		ID_CARD=#{idCard,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="professional != null">
		 		PROFESSIONAL=#{professional,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="topStudy != null">
		 		TOP_STUDY=#{topStudy,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="graduateSchool != null">
		 		GRADUATE_SCHOOL=#{graduateSchool,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="workExperience != null">
		 		WORK_EXPERIENCE=#{workExperience,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="trainExperience != null">
		 		TRAIN_EXPERIENCE=#{trainExperience,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="quaCode != null">
		 		QUA_CODE=#{quaCode,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="quaLevel != null">
		 		QUA_LEVEL=#{quaLevel,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="quaEdndate != null">
		 		QUA_EDNDATE= #{quaEdndate,jdbcType=DATE},  
		 	</if>
		 	 <if test="quaCert != null">
		 		QUA_CERT=#{quaCert,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="isDeleted != null">
		 		IS_DELETED=#{isDeleted,jdbcType=NUMERIC},
		 	</if>
		 	 <if test="quaRank != null">
		 		QUA_RANK=#{quaRank,jdbcType=VARCHAR},
		 	</if>
		 	
		 	 <if test="fax != null">
		 		FAX=#{fax,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="postCode != null">
		 		POST_CODE=#{postCode,jdbcType=VARCHAR},
		 	</if>
		 	 <if test="quaStartDate != null">
		 		QUA_START_DATE= #{quaStartDate,jdbcType=DATE}, 
		 	</if>
		 	 <if test="age != null">
		 		AGE=#{age,jdbcType=NUMERIC},
		 	</if>
		 	<if test="userId != null">
		 		USER_ID=#{userId,jdbcType=VARCHAR},
		 	</if>
		 	</set>
	     where ID =#{id}    
	</update>
	<!-- 删除人员-->
	<delete id="delPurchaseByMap" parameterType="java.util.Map">
		delete from T_SES_OMS_PURCHASER s where s.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<!-- 业务删除 -->
	<update id="busDelPurchase">
	  UPDATE T_SES_OMS_PURCHASER  set IS_DELETED = 1
	  where ID = #{id}
	</update>
	
	<!--  -->
	<select id="findPurchaserByOrgId" resultType="java.lang.Integer" >
	  SELECT COUNT(1) 
	  FROM T_SES_OMS_PURCHASER
	  WHERE PURCHASE_DEP_ID = #{orgId}
	  AND IS_DELETED=0
	</select>
	
	<!-- 查询各采购机构人员数量 -->
	<select id="selectMemNumByOrg" resultMap="baseAnalyze">
		SELECT O.SHORT_NAME AS COL_NAME, COUNT(P.ID) AS COL_VALUE,O.ID AS COL_ID
			  FROM T_SES_OMS_ORG O
			  LEFT JOIN (SELECT T.ID, T.PURCHASE_DEP_ID
			               FROM T_SES_OMS_PURCHASER T
			              WHERE T.IS_DELETED = 0) P
			    ON P.PURCHASE_DEP_ID = O.ID
			 WHERE O.TYPE_NAME = 1
			   AND O.IS_DELETED = 0
			 GROUP BY O.SHORT_NAME, O.ID
	</select>
	
	<!-- 各类型人员数量 -->
	<select id="selectMenberByType" resultType="java.math.BigDecimal" parameterType="java.lang.Integer">
		SELECT COUNT(T.ID)
   		FROM T_SES_OMS_PURCHASER T
  		WHERE T.PURCAHSER_TYPE = #{purcahserType}
  		AND T.IS_DELETED = 0
	</select>
	
	<!-- 查询男女比例数量 -->
	<select id="selectMenberByGender" parameterType="java.lang.String" resultType="java.math.BigDecimal">
		  SELECT COUNT(U.ID)
		    FROM T_SES_OMS_PURCHASER T
		    LEFT JOIN T_SES_BMS_USER U
		      ON T.USER_ID = U.ID
		   WHERE U.GENDER = #{typeId}
		     AND T.IS_DELETED = 0
		     <!--AND U.IS_DELETED = 0-->
	</select>
	
	<!-- 查询采购人员总数量 -->
	<select id="selectMemberNum" resultType="java.lang.Long">
		SELECT COUNT(T.ID) 
			FROM T_SES_OMS_PURCHASER T 
			WHERE T.IS_DELETED = 0
	</select>
</mapper>