<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.AdvancedDetailMapper">
  <resultMap id="BaseResultMap" type="bss.model.ppms.AdvancedDetail">
    <id column="ID"  property="id" />
    <result column="SERIAL_NUMBER"  property="serialNumber" />
    <result column="DEPARTMENT"  property="department" />
    <result column="GOODS_NAME"  property="goodsName" />
    <result column="STAND"  property="stand" />
    <result column="QUALIT_STAND"  property="qualitStand" />
    <result column="ITEM"  property="item" />
    <result column="PURCHASE_COUNT"  property="purchaseCount" />
    <result column="PRICE"  property="price" />
    <result column="BUDGET"  property="budget" />
    <result column="DELIVER_DATE"  property="deliverDate" />
    <result column="PURCHASE_TYPE"  property="purchaseType" />
    <result column="SUPPLIER"  property="supplier" />
    <result column="IS_FREE_TAX"  property="isFreeTax" />
    <result column="GOODS_USE"  property="goodsUse" />
    <result column="USE_UNIT"  property="useUnit" />
    <result column="BRAND"  property="brand" />
    <result column="MEMO"  property="memo" />
    <result column="PARENT_ID"  property="parentId" />
    <result column="CREATED_AT"  property="createdAt" jdbcType="TIMESTAMP" />
    <result column="STATUS"  property="status" />
    <result column="UPDATED_AT"  property="updateAt" jdbcType="TIMESTAMP"/>
    <result column="POSITION"  property="position" />
    <result column="REQUIRED_ID"  property="requiredId" />
    <result column="PLAN_NO"  property="planNo" />
    <result column="PACKAGE_ID"  property="packageId" />
    <result column="UNIQUE_ID"  property="uniqueId" />
    <result column="AD_PROJECT_ID"  property="advancedProject" />
    <result column="ORGANIZATION_ID"  property="organization" />
    <association property="purchaseDep" column="PURCHASE_ID" select="ses.dao.oms.PurchaseDepMapper.selectPurchaseById"/>
    <association property="packages" column="PACKAGE_ID" select="bss.dao.ppms.AdvancedPackageMapper.selectByPrimaryKey"/> 
  </resultMap>
  <sql id="Base_Column_List">
    ID, SERIAL_NUMBER, DEPARTMENT, GOODS_NAME, STAND, QUALIT_STAND, ITEM, PURCHASE_COUNT, 
    PRICE, BUDGET, DELIVER_DATE, PURCHASE_TYPE, SUPPLIER, IS_FREE_TAX, GOODS_USE, USE_UNIT, 
    AD_PROJECT_ID, PURCHASE_ID,PACKAGE_ID,BRAND,MEMO,PARENT_ID,CREATED_AT,UPDATED_AT,
    STATUS,POSITION,REQUIRED_ID,PLAN_NO,UNIQUE_ID，ORGANIZATION_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByRequiredId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_DETAIL
    where REQUIRED_ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_DETAIL t
    where 1=1 and t.PACKAGE_ID is not null and t.price is not null 
    <if test="projectId != null and projectId !=''">
        AND AD_PROJECT_ID = #{projectId}
    </if> 
    <if test="packageId != null and packageId !=''">
        AND PACKAGE_ID = #{packageId}
     </if> 
    <if test="purchaseType != null and purchaseType !=''">
        AND PURCHASE_TYPE = #{purchaseType}
     </if> 
     ORDER BY POSITION ASC
  </select>
  
  <select id="selectByAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_DETAIL
    where 1=1 
    <if test="id != null and id !=''">
        AND ID = #{id}
    </if> 
    <if test="advancedProject != null and advancedProject !=''">
        AND AD_PROJECT_ID = #{advancedProject}
    </if>  
    <if test="packageId != null and packageId !=''">
        AND PACKAGE_ID = #{packageId}
     </if> 
     <if test="requiredId != null and requiredId !=''">
        AND REQUIRED_ID = #{requiredId}
     </if>
     <if test="status != null and requiredId !=''">
        AND STATUS = #{status}
     </if>
     <if test="planNo != null and planNo !=''">
        AND PLAN_NO = #{planNo}
     </if>
     <if test="uniqueId != null and uniqueId !=''">
        AND UNIQUE_ID = #{uniqueId}
     </if>
     ORDER BY POSITION ASC
  </select>
  
  <select id="findHavePackageIdDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
      SELECT * FROM(
        SELECT
            *
          FROM
            (
              SELECT
                *
              FROM
                T_BSS_PPMS_ADVANCED_DETAIL
              WHERE
                AD_PROJECT_ID = #{projectId}
            ) START WITH REQUIRED_ID = #{id} CONNECT BY PRIOR REQUIRED_ID = PARENT_ID
        ) WHERE PACKAGE_ID = #{packageId}
    </select>
  
   <select id="findNoPackageIdDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
      SELECT * FROM(
        SELECT
            *
          FROM
            (
              SELECT
                *
              FROM
                T_BSS_PPMS_ADVANCED_DETAIL
              WHERE
                AD_PROJECT_ID = #{projectId}
            ) START WITH REQUIRED_ID = #{id} CONNECT BY PRIOR REQUIRED_ID = PARENT_ID
        ) WHERE PACKAGE_ID IS NULL
        AND PURCHASE_COUNT IS NOT NULL
    </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_PPMS_ADVANCED_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  
  <insert id="insertSelective" parameterType="bss.model.ppms.AdvancedDetail">
   <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey> 
    insert into T_BSS_PPMS_ADVANCED_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="serialNumber != null">
        SERIAL_NUMBER,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="goodsName != null">
        GOODS_NAME,
      </if>
      <if test="stand != null">
        STAND,
      </if>
      <if test="qualitStand != null">
        QUALIT_STAND,
      </if>
      <if test="item != null">
        ITEM,
      </if>
      <if test="purchaseCount != null">
        PURCHASE_COUNT,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="budget != null">
        BUDGET,
      </if>
      <if test="deliverDate != null">
        DELIVER_DATE,
      </if>
      <if test="purchaseType != null">
        PURCHASE_TYPE,
      </if>
      <if test="supplier != null">
        SUPPLIER,
      </if>
      <if test="isFreeTax != null">
        IS_FREE_TAX,
      </if>
      <if test="goodsUse != null">
        GOODS_USE,
      </if>
      <if test="useUnit != null">
        USE_UNIT,
      </if>
      <if test="advancedProject != null">
        AD_PROJECT_ID,
      </if>
      <if test="purchaseDep != null">
        PURCHASE_ID,
      </if>
      <if test="packageId != null">
        PACKAGE_ID,
      </if>
      <if test="brand != null">
        BRAND,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="updateAt != null">
        UPDATED_AT,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="requiredId != null">
        REQUIRED_ID,
      </if>
      <if test="planNo != null and planNo != ''">
        PLAN_NO,
      </if>
      <if test="uniqueId != null and uniqueId != ''">
        UNIQUE_ID,
      </if>
      <if test="organization != null and organization != ''">
        ORGANIZATION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="serialNumber != null">
        #{serialNumber},
      </if>
      <if test="department != null">
        #{department},
      </if>
      <if test="goodsName != null">
        #{goodsName},
      </if>
      <if test="stand != null">
        #{stand},
      </if>
      <if test="qualitStand != null">
        #{qualitStand},
      </if>
      <if test="item != null">
        #{item},
      </if>
      <if test="purchaseCount != null">
        #{purchaseCount},
      </if>
      <if test="price != null">
        #{price},
      </if>
      <if test="budget != null">
        #{budget},
      </if>
      <if test="deliverDate != null">
        #{deliverDate},
      </if>
      <if test="purchaseType != null">
        #{purchaseType},
      </if>
      <if test="supplier != null">
        #{supplier},
      </if>
      <if test="isFreeTax != null">
        #{isFreeTax},
      </if>
      <if test="goodsUse != null">
        #{goodsUse},
      </if>
      <if test="useUnit != null">
        #{useUnit},
      </if>
      <if test="advancedProject != null">
        #{advancedProject},
      </if>
      <if test="purchaseDep != null">
        #{purchaseDep.id},
      </if>
      <if test="packageId != null">
        #{packageId},
      </if>
      <if test="brand != null">
        #{brand},
      </if>
      <if test="memo != null">
        #{memo},
      </if>
      <if test="parentId != null">
        #{parentId},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="position != null">
        #{position},
      </if>
      <if test="requiredId != null">
        #{requiredId},
      </if>
      <if test="planNo != null">
        #{planNo},
      </if>
      <if test="uniqueId != null">
        #{uniqueId},
      </if>
      <if test="organization != null">
        #{organization},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.AdvancedDetail">
    update T_BSS_PPMS_ADVANCED_DETAIL
    <set>
      <if test="serialNumber != null">
        SERIAL_NUMBER = #{serialNumber},
      </if>
      <if test="department != null">
        DEPARTMENT = #{department},
      </if>
      <if test="goodsName != null">
        GOODS_NAME = #{goodsName},
      </if>
      <if test="stand != null">
        STAND = #{stand},
      </if>
      <if test="qualitStand != null">
        QUALIT_STAND = #{qualitStand},
      </if>
      <if test="item != null">
        ITEM = #{item},
      </if>
      <if test="purchaseCount != null">
        PURCHASE_COUNT = #{purchaseCount},
      </if>
      <if test="price != null">
        PRICE = #{price},
      </if>
      <if test="budget != null">
        BUDGET = #{budget},
      </if>
      <if test="deliverDate != null">
        DELIVER_DATE = #{deliverDate},
      </if>
      <if test="purchaseType != null">
        PURCHASE_TYPE = #{purchaseType},
      </if>
      <if test="supplier != null">
        SUPPLIER = #{supplier},
      </if>
      <if test="isFreeTax != null">
        IS_FREE_TAX = #{isFreeTax},
      </if>
      <if test="goodsUse != null">
        GOODS_USE = #{goodsUse},
      </if>
      <if test="useUnit != null">
        USE_UNIT = #{useUnit},
      </if>
      <if test="advancedProject != null">
        AD_PROJECT_ID = #{advancedProject},
      </if>
      <if test="purchaseDep != null">
        PURCHASE_ID = #{purchaseDep.id},
      </if>
      <if test="packageId != null">
        PACKAGE_ID = #{packageId},
      </if>
      <if test="brand != null">
        BRAND = #{brand},
      </if>
      <if test="memo != null">
        MEMO = #{memo},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        UPDATED_AT = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="requiredId != null">
        REQUIRED_ID = #{requiredId},
      </if>
      <if test="position != null">
        POSITION = #{position},
      </if>
      <if test="planNo != null">
        PLAN_NO = #{planNo},
      </if>
      <if test="uniqueId != null">
        UNIQUE_ID = #{uniqueId},
      </if>
      <if test="organization != null">
        ORGANIZATION_ID = #{organization},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <select id="selectByParentId"  resultMap="BaseResultMap" flushCache="true">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    (select * from T_BSS_PPMS_ADVANCED_DETAIL where AD_PROJECT_ID = #{projectId})
    START WITH REQUIRED_ID = #{id} CONNECT BY PRIOR REQUIRED_ID = PARENT_ID
  </select>
  
  
    <select id="selectByParent"  resultMap="BaseResultMap" flushCache="true">
      SELECT
			<include refid="Base_Column_List" />
			FROM
			(select * from T_BSS_PPMS_ADVANCED_DETAIL where AD_PROJECT_ID = #{projectId})
			start with REQUIRED_ID = #{id} 
			connect by prior PARENT_ID = REQUIRED_ID  
    </select>
    
    
    <select id="selectParentIdByPackageId" parameterType="java.lang.Object" resultType="bss.model.ppms.AdvancedDetail">
    	SELECT
				DISTINCT PARENT_ID
			FROM
				T_BSS_PPMS_ADVANCED_DETAIL
			WHERE PACKAGE_ID = #{packageId}
    </select>
</mapper>