<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.AdvancedProjectMapper">
  <resultMap id="BaseResultMap" type="bss.model.ppms.AdvancedProject">
    <id column="ID"  property="id" />
    <result column="NAME" property="name" />
    <result column="PROJECT_NUMBER"  property="projectNumber" />
    <result column="STATUS"  property="status" />
    <result column="PRINCIPAL"  property="principal" />
    <result column="IPONE"  property="ipone" />
    <result column="LINKMAN"  property="linkman" />
    <result column="LINKMAN_IPONE"  property="linkmanIpone" />
    <result column="BID_UNIT"  property="bidUnit" />
    <result column="ADDRESS"  property="address" />
    <result column="POSTCODE"  property="postcode" />
    <result column="SUPPLIER_NUMBER"  property="supplierNumber" />
    <result column="OFFER_STANDARD"  property="offerStandard" />
    <result column="PR_INTRODUCE" property="prIntroduce" />
    <result column="BUDGET_AMOUNT" property="budgetAmount" />
    <result column="PASS_WORD" property="passWord" />
    <result column="SCORING_RUBRIC" property="scoringRubric" />
    <result column="OPERATOR"  property="operator" />
    <result column="DIVISION_OF_WORK" property="divisionOfWork" />
    <result column="PURCHASE_TYPE"  property="purchaseType" />
    <result column="MATERIALS_TYPE"  property="materialsType" />
    <result column="SECTOR_OF_DEMAND" property="sectorOfDemand" />
    <result column="DEADLINE"  property="deadline" jdbcType="TIMESTAMP" />
    <result column="DATE_OF_ENTRUSTMENT"  property="dateOfEntrustment" jdbcType="TIMESTAMP" />
    <result column="BID_DATE"  property="bidDate" jdbcType="TIMESTAMP" />
    <result column="BID_ADDRESS" property="bidAddress" />
    <result column="REQUIERED_ID"  property="requieredId" />
    <result column="BALE_NO"  property="baleNo" />
    <result column="AMOUNT" property="amount" />
    <result column="PURCHASE_DEP_NAME" property="purchaseDepName"/>
    <result column="EXECUTE_STATUS" property="executeStatus"/>
    <result column="IS_ENTRANCE" property="isEntrance"/>
    <result column="APPROVAL_TIME" property="approvalTime" jdbcType="TIMESTAMP" />
    <result column="REPLY_TIME" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="DEMAND_FROM_TIME" property="demandFromTime" jdbcType="TIMESTAMP" />
    <result column="IS_REHEARSE" property="isRehearse"/>
    <result column="CREATED_AT" property="createAt" jdbcType="TIMESTAMP" />
    <result column="START_TIME" property="startTime"  jdbcType="TIMESTAMP" />
    <result column="NOTICE_NEWS_TIME" property="noticeNewsTime" jdbcType="TIMESTAMP" />
    <result column="APP_TIME" property="appTime" jdbcType="TIMESTAMP"  />
    <result column="SIGN_UP_TIME" property="signUpTime" jdbcType="TIMESTAMP" />
    <result column="APPLY_DEADLINE" property="applyDeanline"  jdbcType="TIMESTAMP" />
    <result column="NOTICE_TIME" property="noticeTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="SIGNING_TIME" property="signingTime" jdbcType="TIMESTAMP" />
    <result column="ACCEPTANCE_TIME" property="acceptanceTime" jdbcType="TIMESTAMP"  />
    <result column="MAINTENANCE_TIME" property="maintenanceTime" jdbcType="TIMESTAMP" />
    <result column="IS_IMPORT" property="isImport"/>
    <result column="IS_PROVISIONAL" property="isProvisional"/>
    <result column="PLAN_TYPE" property="planType"/>
    <result column="CONFIRM_FILE" property="confirmFile"/>
    <result column="AUDIT_REASON" property="auditReason"/>
    <result column="APPOINT_MAN" property="appointMan"/>
    <result column="IS_CHARGE" property="isCharge"/>
    <result column="PURCHASE_DEP_ID" property="purchaseDepId"/>
    <result column="PARENT_ID" property="parentId"/>
    <association property="dealSupplier" column="DEAL_SUPPLIER" select="ses.dao.sms.SupplierMapper.selectByPrimaryKey"/>
    <association property="purchaseDep" column="PURCHASE_DEP_ID" select="ses.dao.oms.PurchaseDepMapper.selectPurchaseById"/>
  </resultMap>
  
  
  <sql id="Base_Column_List">
    ID, NAME, PROJECT_NUMBER, STATUS, PRINCIPAL, IPONE, LINKMAN, LINKMAN_IPONE, BID_UNIT, ADDRESS, 
    POSTCODE, SUPPLIER_NUMBER, OFFER_STANDARD, PR_INTRODUCE, BUDGET_AMOUNT, PASS_WORD, 
    SCORING_RUBRIC, OPERATOR, DIVISION_OF_WORK, PURCHASE_TYPE, MATERIALS_TYPE, SECTOR_OF_DEMAND, 
    PURCHASE_DEP_ID, DEADLINE, DATE_OF_ENTRUSTMENT, BID_DATE, BID_ADDRESS, REQUIERED_ID,BALE_NO,
    AMOUNT,DEAL_SUPPLIER,PURCHASE_DEP_NAME,EXECUTE_STATUS,IS_ENTRANCE,APPROVAL_TIME,REPLY_TIME,
    DEMAND_FROM_TIME,IS_REHEARSE,CREATED_AT,START_TIME,NOTICE_NEWS_TIME,APP_TIME,SIGN_UP_TIME,
    APPLY_DEADLINE,NOTICE_TIME,END_TIME,SIGNING_TIME,ACCEPTANCE_TIME,MAINTENANCE_TIME,IS_IMPORT,
    IS_PROVISIONAL,PLAN_TYPE,CONFIRM_FILE,AUDIT_REASON,APPOINT_MAN,IS_CHARGE,PARENT_ID
  </sql>
  
  
  <select id="verifyByProject" parameterType="bss.model.ppms.AdvancedProject" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_PROJECTS
    where 1=1 
     <if test="name != null and name != ''">
       and NAME = #{name}
      </if>
       <if test="projectNumber != null and projectNumber != ''">
       and PROJECT_NUMBER = #{projectNumber}
      </if>
      <if test="status != null">
       and STATUS like CONCAT(CONCAT('%', #{status}), '%') 
      </if>
      ORDER BY CREATED_AT DESC
  </select>
  
  <select id="selectAdvancedProjectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_PROJECTS
    where ID = #{id,jdbcType=VARCHAR} 
  </select>
  
  <select id="selectByList" parameterType="java.util.Map"  resultMap="BaseResultMap">
     SELECT
      p.*
      FROM
        T_BSS_PPMS_ADVANCED_PROJECTS p 
      WHERE 
      (
      p.ID IN (SELECT
      e.PROJECT_ID
      FROM
      T_BSS_PPMS_FLOW_EXECUTE e
      WHERE
      <if test="userId != null and userId != ''">
         e.OPERATOR_ID = #{userId}
      </if>
      AND e.IS_DELETED = 0 AND e.STATUS = 0)
      <if test="principal != null and principal != ''">
        OR (p.PRINCIPAL = #{principal}) 
      </if>
      ) AND p.STATUS != '0' AND p.PARENT_ID != '1'
      <if test="purchaseDepId != null and purchaseDepId != ''">
        AND  p.PURCHASE_DEP_ID = #{purchaseDepId}
      </if>
      <if test="name != null and name != ''">
       AND p.NAME like CONCAT(CONCAT('%', #{name}), '%')
      </if>
      <if test="projectNumber != null and projectNumber != ''">
       AND p.PROJECT_NUMBER like CONCAT(CONCAT('%', #{projectNumber}), '%')
      </if>
      <if test="status != null and status != ''">
       AND p.STATUS = #{status}
      </if>
      <if test="parentId != null and parentId != ''">
       AND p.PARENT_ID = #{parentId}
      </if>
      ORDER BY p.CREATED_AT DESC
  </select>

  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_PPMS_ADVANCED_PROJECTS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  
  <insert id="insertSelective" parameterType="bss.model.ppms.AdvancedProject">
     <!-- <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey> -->
    insert into T_BSS_PPMS_ADVANCED_PROJECTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="projectNumber != null">
        PROJECT_NUMBER,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="principal != null">
        PRINCIPAL,
      </if>
      <if test="ipone != null">
        IPONE,
      </if>
      <if test="linkman != null">
        LINKMAN,
      </if>
      <if test="linkmanIpone != null">
        LINKMAN_IPONE,
      </if>
      <if test="bidUnit != null">
        BID_UNIT,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="postcode != null">
        POSTCODE,
      </if>
      <if test="supplierNumber != null">
        SUPPLIER_NUMBER,
      </if>
      <if test="offerStandard != null">
        OFFER_STANDARD,
      </if>
      <if test="prIntroduce != null">
        PR_INTRODUCE,
      </if>
      <if test="budgetAmount != null">
        BUDGET_AMOUNT,
      </if>
      <if test="passWord != null">
        PASS_WORD,
      </if>
      <if test="scoringRubric != null">
        SCORING_RUBRIC,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="divisionOfWork != null">
        DIVISION_OF_WORK,
      </if>
      <if test="purchaseType != null">
        PURCHASE_TYPE,
      </if>
      <if test="materialsType != null">
        MATERIALS_TYPE,
      </if>
      <if test="sectorOfDemand != null">
        SECTOR_OF_DEMAND,
      </if>
      <if test="purchaseDep != null">
        PURCHASE_DEP_ID,
      </if>
      <if test="deadline != null">
        DEADLINE,
      </if>
      <if test="dateOfEntrustment != null">
        DATE_OF_ENTRUSTMENT,
      </if>
      <if test="bidDate != null">
        BID_DATE,
      </if>
      <if test="bidAddress != null">
        BID_ADDRESS,
      </if>
      <if test="requieredId != null">
        REQUIERED_ID,
      </if>
         <if test="baleNo != null">
        BALE_NO,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="dealSupplier != null">
        DEAL_SUPPLIER,
      </if>
      <if test="purchaseDepName != null">
        PURCHASE_DEP_NAME,
      </if>
      <if test="executeStatus != null">
        EXECUTE_STATUS,
      </if>
      <if test="isEntrance != null">
        IS_ENTRANCE,
      </if>
      <if test="approvalTime != null">
        APPROVAL_TIME,
      </if>
      <if test="replyTime != null">
        REPLY_TIME,
      </if>
      <if test="demandFromTime != null">
        DEMAND_FROM_TIME,
      </if>
      <if test="isRehearse != null">
        IS_REHEARSE,
      </if>
      <if test="createAt != null">
        CREATED_AT,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="noticeNewsTime != null">
        NOTICE_NEWS_TIME,
      </if>
      <if test="appTime != null">
        APP_TIME,
      </if>
      <if test="signUpTime != null">
        SIGN_UP_TIME,
      </if>
      <if test="applyDeanline != null">
        APPLY_DEADLINE,
      </if>
      <if test="noticeTime != null">
        NOTICE_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="signingTime != null">
        SIGNING_TIME,
      </if>
      <if test="acceptanceTime != null">
        ACCEPTANCE_TIME,
      </if>
      <if test="maintenanceTime != null">
        MAINTENANCE_TIME,
      </if>
      <if test="isImport != null">
        IS_IMPORT,
      </if>
      <if test="isProvisional != null">
        IS_PROVISIONAL,
      </if>
      <if test="planType != null">
        PLAN_TYPE,
      </if>
      <if test="confirmFile != null">
        CONFIRM_FILE,
      </if>
      <if test="auditReason != null">
        AUDIT_REASON,
      </if>
      <if test="appointMan != null">
        APPOINT_MAN,
      </if>
      <if test="isCharge != null">
        IS_CHARGE,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectNumber != null">
        #{projectNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="principal != null">
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="ipone != null">
        #{ipone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="linkmanIpone != null">
        #{linkmanIpone,jdbcType=VARCHAR},
      </if>
      <if test="bidUnit != null">
        #{bidUnit,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=DECIMAL},
      </if>
      <if test="supplierNumber != null">
        #{supplierNumber,jdbcType=DECIMAL},
      </if>
      <if test="offerStandard != null">
        #{offerStandard,jdbcType=DECIMAL},
      </if>
      <if test="prIntroduce != null">
        #{prIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="budgetAmount != null">
        #{budgetAmount,jdbcType=DECIMAL},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="scoringRubric != null">
        #{scoringRubric,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="divisionOfWork != null">
        #{divisionOfWork,jdbcType=VARCHAR},
      </if>
      <if test="purchaseType != null">
        #{purchaseType,jdbcType=VARCHAR},
      </if>
      <if test="materialsType != null">
        #{materialsType,jdbcType=VARCHAR},
      </if>
      <if test="sectorOfDemand != null">
        #{sectorOfDemand,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDep != null">
        #{purchaseDep.id,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="dateOfEntrustment != null">
        #{dateOfEntrustment,jdbcType=TIMESTAMP},
      </if>
      <if test="bidDate != null">
        #{bidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bidAddress != null">
        #{bidAddress,jdbcType=VARCHAR},
      </if>
      <if test="requieredId != null">
        #{requieredId,jdbcType=VARCHAR},
      </if>
        <if test="baleNo != null">
        #{baleNo},
      </if>
      <if test="amount != null">
        #{amount},
      </if>
      <if test="dealSupplier != null">
        #{dealSupplier.id},
      </if>
      <if test="purchaseDepName != null">
        #{purchaseDepName},
      </if>
      <if test="executeStatus != null">
        #{executeStatus},
      </if>
      <if test="isEntrance != null">
        #{isEntrance},
      </if>
      <if test="approvalTime != null">
        #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="demandFromTime != null">
        #{demandFromTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRehearse != null">
        #{isRehearse},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeNewsTime != null">
        #{noticeNewsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appTime != null">
        #{appTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signUpTime != null">
        #{signUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyDeanline != null">
        #{applyDeanline,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeTime != null">
        #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signingTime != null">
        #{signingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptanceTime != null">
        #{acceptanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maintenanceTime != null">
        #{maintenanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isImport != null">
        #{isImport},
      </if>
      <if test="isProvisional != null">
        #{isProvisional},
      </if>
      <if test="planType != null">
        #{planType},
      </if>
      <if test="confirmFile != null">
        #{confirmFile},
      </if>
      <if test="auditReason != null">
        #{auditReason},
      </if>
      <if test="appointMan != null">
        #{appointMan},
      </if>
      <if test="isCharge != null">
        #{isCharge},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.AdvancedProject">
    update T_BSS_PPMS_ADVANCED_PROJECTS
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectNumber != null">
        PROJECT_NUMBER = #{projectNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="principal != null">
        PRINCIPAL = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="ipone != null">
        IPONE = #{ipone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        LINKMAN = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="linkmanIpone != null">
        LINKMAN_IPONE = #{linkmanIpone,jdbcType=VARCHAR},
      </if>
      <if test="bidUnit != null">
        BID_UNIT = #{bidUnit,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        POSTCODE = #{postcode,jdbcType=DECIMAL},
      </if>
      <if test="supplierNumber != null">
        SUPPLIER_NUMBER = #{supplierNumber,jdbcType=DECIMAL},
      </if>
      <if test="offerStandard != null">
        OFFER_STANDARD = #{offerStandard,jdbcType=DECIMAL},
      </if>
      <if test="prIntroduce != null">
        PR_INTRODUCE = #{prIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="budgetAmount != null">
        BUDGET_AMOUNT = #{budgetAmount,jdbcType=DECIMAL},
      </if>
      <if test="passWord != null">
        PASS_WORD = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="scoringRubric != null">
        SCORING_RUBRIC = #{scoringRubric,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="divisionOfWork != null">
        DIVISION_OF_WORK = #{divisionOfWork,jdbcType=VARCHAR},
      </if>
      <if test="purchaseType != null">
        PURCHASE_TYPE = #{purchaseType,jdbcType=VARCHAR},
      </if>
      <if test="materialsType != null">
        MATERIALS_TYPE = #{materialsType,jdbcType=VARCHAR},
      </if>
      <if test="sectorOfDemand != null">
        SECTOR_OF_DEMAND = #{sectorOfDemand,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDep != null">
        PURCHASE_DEP_ID = #{purchaseDep.id,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        DEADLINE = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="dateOfEntrustment != null">
        DATE_OF_ENTRUSTMENT = #{dateOfEntrustment,jdbcType=TIMESTAMP},
      </if>
      <if test="bidDate != null">
        BID_DATE = #{bidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bidAddress != null">
        BID_ADDRESS = #{bidAddress,jdbcType=VARCHAR},
      </if>
      <if test="requieredId != null">
        REQUIERED_ID = #{requieredId,jdbcType=VARCHAR},
      </if>
      <if test="baleNo != null">
        BALE_NO = #{baleNo},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount},
      </if>
      <if test="dealSupplier != null">
        DEAL_SUPPLIER = #{dealSupplier.id},
      </if>
      <if test="purchaseDepName != null">
        PURCHASE_DEP_NAME = #{purchaseDepName},
      </if>
      <if test="executeStatus != null">
        EXECUTE_STATUS = #{executeStatus},
      </if>
      <if test="isEntrance != null">
        IS_ENTRANCE = #{isEntrance},
      </if>
      <if test="approvalTime != null">
        APPROVAL_TIME = #{approvalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyTime != null">
        REPLY_TIME = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="demandFromTime != null">
        DEMAND_FROM_TIME = #{demandFromTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRehearse != null">
        IS_REHEARSE = #{isRehearse},
      </if>
      <if test="createAt != null">
        CREATED_AT = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeNewsTime != null">
        NOTICE_NEWS_TIME = #{noticeNewsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appTime != null">
        APP_TIME = #{appTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signUpTime != null">
        SIGN_UP_TIME = #{signUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyDeanline != null">
        APPLY_DEADLINE = #{applyDeanline,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeTime != null">
        NOTICE_TIME = #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signingTime != null">
        SIGNING_TIME = #{signingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptanceTime != null">
        ACCEPTANCE_TIME = #{acceptanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="maintenanceTime != null">
        MAINTENANCE_TIME = #{maintenanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isImport != null">
        IS_IMPORT = #{isImport},
      </if>
       <if test="isProvisional != null">
        IS_PROVISIONAL = #{isProvisional},
      </if>
      <if test="planType != null">
        PLAN_TYPE = #{planType},
      </if>
      <if test="confirmFile != null">
        CONFIRM_FILE = #{confirmFile},
      </if>
      <if test="auditReason != null">
        AUDIT_REASON = #{auditReason},
      </if>
      <if test="appointMan != null">
        APPOINT_MAN = #{appointMan},
      </if>
      <if test="isCharge != null">
        IS_CHARGE = #{isCharge},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
   <!-- 需求部门登录 -->
   <select id="selectByDemand" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT p.* FROM (
				    SELECT
				    d.AD_PROJECT_ID
				    FROM
				    T_BSS_PPMS_ADVANCED_DETAIL d
				    WHERE d.DEPARTMENT IN (
				      SELECT
				      o. NAME
				      FROM
				      T_SES_OMS_ORG o
				      LEFT JOIN T_SES_BMS_USER u ON o. ID = u .ORG_ID
				      WHERE
				      <if test="userId != null and userId != ''">
				         u.ID = #{userId}
				      </if>
				      ) GROUP BY d.AD_PROJECT_ID
				) p LEFT JOIN T_BSS_PPMS_ADVANCED_PROJECTS ps ON p.AD_PROJECT_ID = ps.ID
			<if test="name != null and name != ''">
       AND p.NAME like CONCAT(CONCAT('%', #{name}), '%')
      </if>
      <if test="projectNumber != null and projectNumber != ''">
       AND p.PROJECT_NUMBER like CONCAT(CONCAT('%', #{projectNumber}), '%')
      </if>
      <if test="status != null and status != ''">
       AND p.STATUS = #{status}
      </if>
      ORDER BY p.CREATED_AT DESC
				   
   </select>
   
   
   <select id="selectByOrg" parameterType="java.util.Map" resultMap="BaseResultMap">
      SELECT
      p.*
      FROM
        T_BSS_PPMS_ADVANCED_PROJECTS p
      WHERE 
      p.ID IN 
      (SELECT pt.PROJECT_ID FROM T_BSS_PPMS_PROJECT_TASK pt
        WHERE
        pt.TASK_ID IN (
          SELECT
            t . ID
          FROM
            T_BSS_PPMS_TASK t
          WHERE
          <if test="orgId != null and orgId != ''">
             t.ORG_ID = #{orgId}
          </if>
        )
      )
      <if test="name != null and name != ''">
       and p.NAME like CONCAT(CONCAT('%', #{name}), '%')
      </if>
     <if test="projectNumber != null and projectNumber != ''">
       and p.PROJECT_NUMBER like CONCAT(CONCAT('%', #{projectNumber}), '%')
      </if>
      <if test="status != null and status != ''">
       and p.STATUS = #{status}
      </if>
      ORDER BY p.CREATED_AT DESC
  </select> 
  
  <select id="findByPackage" parameterType="java.util.Map" resultMap="BaseResultMap">
      select 
      u.REL_NAME AS principal,p.NAME,p.PROJECT_NUMBER,
      p.STATUS,p.ID,p.PURCHASE_TYPE,p.CREATED_AT
      from T_BSS_PPMS_ADVANCED_PROJECTS p LEFT JOIN T_SES_BMS_USER u ON u.ID = p.PRINCIPAL
      where 1=1 AND p.IS_PROVISIONAL = 0
      AND p.STATUS != '0' AND p.PARENT_ID = '1'
      <if test="purchaseDepId != null and purchaseDepId != ''">
        AND p.PURCHASE_DEP_ID = #{purchaseDepId}
      </if>
      <if test="name != null and name != ''">
        AND p.NAME like CONCAT(CONCAT('%', #{name}), '%')
      </if>
      <if test="projectNumber != null and projectNumber != ''">
        AND p.PROJECT_NUMBER like CONCAT(CONCAT('%', #{projectNumber}), '%')
      </if>
      <if test="status != null and status != ''">
        AND p.STATUS = #{status}
      </if>
      <if test="statusAll != null and statusAll != ''">
       and p.STATUS in (select ID from T_SES_BMS_DICTIONARY_DATA dd where dd.IS_DELETED = 0 and dd.KIND = 2 and dd.code!='YJLX' )
      </if>
      <if test="parentId != null and parentId != ''">
        AND p.PARENT_ID = #{parentId}
      </if>
      <if test="principal != null and principal != ''">
        AND p.PRINCIPAL = #{principal}
      </if>
      ORDER BY p.CREATED_AT DESC
  </select>
  
  <select id="selectProjectByAll" parameterType="bss.model.ppms.AdvancedProject" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_PROJECTS
    where 1=1 and IS_PROVISIONAL=0 and STATUS != '0'
     <if test="name != null and name != ''">
       and NAME like CONCAT(CONCAT('%', #{name}), '%') 
      </if>
       <if test="projectNumber != null and projectNumber != ''">
       and PROJECT_NUMBER like CONCAT(CONCAT('%', #{projectNumber}), '%') 
      </if>
      <if test="status != null">
       and STATUS like CONCAT(CONCAT('%', #{status}), '%') 
      </if>
      <if test="purchaseDep != null">
       and PURCHASE_DEP_ID = #{purchaseDep.id}
      </if>
      <if test="confirmFile != null">
          and CONFIRM_FILE = #{confirmFile}
      </if>
      <if test=" (purchaseDepId != null and purchaseDepId != '' ) or ( principal != null and principal != '')">
       and ( PURCHASE_DEP_ID in (${purchaseDepId}) or principal = #{principal}) 
       <if test="statusArray != null">
	       and (
		       <foreach collection="statusArray" item="ay" separator="or" >
		          STATUS like CONCAT(CONCAT('%', #{ay}), '%') 
		       </foreach> 
	       )
       </if>
      </if>
      and (CONFIRM_FILE = 1 or CONFIRM_FILE = 2 or CONFIRM_FILE = 3 or CONFIRM_FILE = 4)
      ORDER BY APPROVAL_TIME DESC
  </select>
  
  <!-- 采购文件审核 -->
  <select id="selectByAudit" parameterType="java.util.Map" resultMap="BaseResultMap">
  	SELECT
			*
		FROM
			(
				SELECT
					s. ID,
					s. NAME,
					s.PROJECT_NUMBER,
					s.STATUS,
					s.PARENT_ID,
					s.PURCHASE_TYPE,
					s .IS_PROVISIONAL,
					s.APPROVAL_TIME,
					s.PURCHASE_DEP_ID,
					(SELECT REL_NAME FROM T_SES_BMS_USER WHERE "ID" = s.PRINCIPAL) AS PRINCIPAL,
					s.CONFIRM_FILE,
					'1' AS IS_REHEARSE
				FROM
					T_BSS_PPMS_PROJECTS s
				UNION ALL
					SELECT
						T . ID,
						T . NAME,
						T .PROJECT_NUMBER,
						T.STATUS,
						T .PARENT_ID,
						T .PURCHASE_TYPE,
						T .IS_PROVISIONAL,
						T .APPROVAL_TIME,
						T.PURCHASE_DEP_ID,
						(SELECT REL_NAME FROM T_SES_BMS_USER WHERE "ID" = T.PRINCIPAL) AS PRINCIPAL,
						T .CONFIRM_FILE,
						'2' AS IS_REHEARSE
					FROM
						T_BSS_PPMS_ADVANCED_PROJECTS T
			)
		WHERE
			1 = 1  AND IS_PROVISIONAL = 0 AND STATUS != '0'
			<if test="name != null">
       	and NAME like CONCAT(CONCAT('%', #{name}), '%')
      </if>
      <if test="confirmFile != null">
        and CONFIRM_FILE = #{confirmFile}
      </if>
      <if test="purchaseDepId != null and purchaseDepId != ''">
      	and PURCHASE_DEP_ID in (${purchaseDepId})
      </if>
      <if test="projectNumber != null">
       	and PROJECT_NUMBER like CONCAT(CONCAT('%', #{projectNumber}), '%')
      </if>
      <if test="isRehearse != null">
       	and IS_REHEARSE = #{isRehearse}
      </if>
      <!-- <if test="date != null">
       	and TO_CHAR(APPROVAL_TIME,'yyyy-mm-dd') =#{date}
      </if> -->
			and (CONFIRM_FILE = 1 or CONFIRM_FILE = 2 or CONFIRM_FILE = 3 or CONFIRM_FILE = 4)
			and (PARENT_ID IS NULL OR PARENT_ID != '1')
      ORDER BY APPROVAL_TIME DESC
  </select>
  
</mapper>