<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.AdvancedPackageMapper">
	<resultMap id="BaseResultMap" type="bss.model.ppms.AdvancedPackages">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
		<result column="STATUS" property="status" />
		<result column="BID_METHOD_ID" property="bidMethodId" />
		<result column="PURCHASE_TYPE" property="purchaseType" />
		<result column="IS_IMPORT" property="isImport" />
		<result column="AD_PROJECT_ID" property="projectId" />
		<result column="IS_END_PRICE" property="isEndPrice" />
		<result column="PROJECT_STATUS" property="projectStatus" />
		<result column="PACKAGE_NUMBER" property="packageNumber" />
    <result column="TECHNIQUE_TIME" property="techniqueTime" jdbcType="TIMESTAMP" />
    <result column="QUALIFICATION_TIME" property="qualificationTime" jdbcType="TIMESTAMP" />
		<association property="project" column="AD_PROJECT_ID" select="bss.dao.ppms.AdvancedProjectMapper.selectAdvancedProjectByPrimaryKey" />
	</resultMap>
	
	<!-- 返回抽取信息 -->
  <resultMap id="ResultProjectExtract" extends="BaseResultMap" type="bss.model.ppms.AdvancedPackages">
    <collection property="listProjectExtract" column="ID"
      select="ses.dao.ems.ProjectExtractMapper.getById" ofType="ses.model.ems.ProjectExtract" />
  </resultMap>
  
  <!-- 专家 -->
  <resultMap type="bss.model.ppms.AdvancedPackages" extends="BaseResultMap" id="ResultExpert">
    <collection property="listExperts" column="ID" select="ses.dao.ems.ExpertMapper.getByExpertProjectId" ofType="ses.model.ems.Expert" />
  </resultMap>
  
  <!-- 中标供应商 -->
  <resultMap type="bss.model.ppms.AdvancedPackages" extends="BaseResultMap" id="SupplierCheckPass">
    <collection property="listCheckPasses" column="ID"
      select="bss.dao.ppms.SupplierCheckPassMapper.getByCheckPass" ofType="bss.model.ppms.SupplierCheckPass" />
  </resultMap>
  
  <!-- 未中标供应商 -->
  <resultMap type="bss.model.ppms.AdvancedPackages" extends="BaseResultMap" id="NotSupplierCheckPass">
    <collection property="listCheckPasses" column="ID"
      select="bss.dao.ppms.SupplierCheckPassMapper.getByCheck" ofType="bss.model.ppms.SupplierCheckPass" />
  </resultMap>

	<sql id="Base_Column_List">
		ID, NAME,AD_PROJECT_ID,IS_DELETED,CREATED_AT,
		UPDATED_AT,STATUS,BID_METHOD_ID,PURCHASE_TYPE,IS_IMPORT,
		IS_END_PRICE,TECHNIQUE_TIME,QUALIFICATION_TIME,PROJECT_STATUS,PACKAGE_NUMBER
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_PACKAGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="notSupplierCheckPass" parameterType="java.lang.String" resultMap="NotSupplierCheckPass">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    T_BSS_PPMS_ADVANCED_PACKAGE WHERE IS_DELETED=0 AND
    AD_PROJECT_ID=#{projectId}
    ORDER BY CREATED_AT ASC
  </select>
  
  <select id="find" parameterType="Object" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_PACKAGE p
    where p.IS_DELETED=0
    <if test="projectId != null and projectId !=''">
      AND p.AD_PROJECT_ID = #{projectId}
    </if>
    <if test="id != null and id !=''">
      AND p.ID = #{id}
    </if>
    <if test="name != null and name !=''">
      AND p.NAME like CONCAT(CONCAT('%', #{name}), '%') 
    </if>
    ORDER BY p.CREATED_AT ASC
  </select>
  
  <!-- 返回所有专家 -->
  <select id="listProjectExtract" parameterType="java.lang.String" resultMap="ResultProjectExtract">
    SELECT
    <include refid="Base_Column_List" />
    FROM T_BSS_PPMS_ADVANCED_PACKAGE
    WHERE
    IS_DELETED=0 AND AD_PROJECT_ID = #{projectId}
    ORDER BY
    CREATED_AT ASC
  </select>
  
  <!-- 根据包信息返回抽取出的专家 -->
  <select id="listResultExpert" parameterType="java.lang.String"
    resultMap="ResultExpert">
    SELECT
    <include refid="Base_Column_List" />
    FROM T_BSS_PPMS_ADVANCED_PACKAGE
    WHERE
    IS_DELETED=0
    AND AD_PROJECT_ID = #{projectId}
    ORDER BY
    CREATED_AT ASC
  </select>
  
  <!-- 中标供应商 -->
  <select id="listSupplierCheckPass" parameterType="java.lang.String" resultMap="SupplierCheckPass">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    T_BSS_PPMS_ADVANCED_PACKAGE WHERE IS_DELETED=0 AND
    AD_PROJECT_ID=#{projectId}
    ORDER BY CREATED_AT ASC
  </select>
  
  <select id="findPackageAndBidMethodById" parameterType="java.util.Map"
    resultType="bss.model.ppms.AdvancedPackages">
    SELECT
    p.ID AS id,
    p.NAME AS name,
    p.AD_PROJECT_ID AS projectId,
    p.STATUS AS status,
    p.BID_METHOD_ID as bidMethodId,
    b.name as bidMethodName,
    b.MAX_SCORE as bidMethodMaxScore,
    b.TYPE_NAME as bidMethodTypeName
    FROM
    T_BSS_PPMS_ADVANCED_PACKAGE p
    LEFT JOIN T_BSS_PPMS_BID_METHOD b on
    p.BID_METHOD_ID= b."ID"
    WHERE
    nvl(p.IS_DELETED,0)=0
    <if test="projectId != null and projectId !=''">
      AND p.AD_PROJECT_ID = #{projectId}
    </if>
    <if test="id != null and id !=''">
      AND p.ID = #{id}
    </if>
    ORDER BY
    p.CREATED_AT ASC
  </select>
  
  
  <select id="selectByAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_PACKAGE
    where IS_DELETED = 0
    <if test="id != null and id != ''">
      AND ID = #{id}
    </if>
    <if test="name != null and name != ''">
      AND NAME = #{name}
    </if>
    <if test="projectId != null and projectId != ''">
      AND AD_PROJECT_ID = #{projectId}
    </if>
    <if test="purchaseType != null and purchaseType != ''">
      AND PURCHASE_TYPE = #{purchaseType}
    </if>
    <if test="isImport != null and isImport != ''">
      AND IS_IMPORT = #{isImport}
    </if>
    <if test="projectStatus != null and projectStatus !=''">
      AND PROJECT_STATUS !=(select id from T_SES_BMS_DICTIONARY_DATA where CODE='YZZ')
      AND PROJECT_STATUS !=(select id from T_SES_BMS_DICTIONARY_DATA where CODE='ZJZXTP')
    </if>
    ORDER BY
    CREATED_AT ASC
  </select>

	<insert id="insertSelective" parameterType="bss.model.ppms.AdvancedPackages">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select sys_guid() from dual
		</selectKey>
		insert into T_BSS_PPMS_ADVANCED_PACKAGE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="project != null">
				AD_PROJECT_ID,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="purchaseType != null">
				PURCHASE_TYPE,
			</if>
			<if test="isImport != null">
				IS_IMPORT,
			</if>
			<if test="bidMethodId != null">
				BID_METHOD_ID,
			</if>
			<if test="isEndPrice != null">
        IS_END_PRICE,
      </if>
      <if test="techniqueTime != null">
        TECHNIQUE_TIME,
      </if>
      <if test="qualificationTime != null">
        QUALIFICATION_TIME,
      </if>
      <if test="projectStatus != null">
        PROJECT_STATUS,
      </if>
      <if test="packageNumber != null">
        PACKAGE_NUMBER,
      </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="project != null">
				#{project.id},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="purchaseType != null">
				#{purchaseType},
			</if>
			<if test="isImport != null">
				#{isImport},
			</if>
			<if test="bidMethodId != null">
				#{bidMethodId},
			</if>
			<if test="isEndPrice != null">
        #{isEndPrice},
      </if>
      <if test="techniqueTime != null">
        #{techniqueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualificationTime != null">
        #{qualificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectStatus != null">
        #{projectStatus},
      </if>
      <if test="packageNumber != null">
        #{packageNumber},
      </if>
		</trim>
	</insert>
	
	<insert id="insert" parameterType="bss.model.ppms.AdvancedPackages">
    insert into T_BSS_PPMS_ADVANCED_PACKAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="projectId != null">
        AD_PROJECT_ID,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="purchaseType != null">
        PURCHASE_TYPE,
      </if>
      <if test="isImport != null">
        IS_IMPORT,
      </if>
      <if test="bidMethodId != null">
        BID_METHOD_ID,
      </if>
      <if test="isEndPrice != null">
        IS_END_PRICE,
      </if>
      <if test="techniqueTime != null">
        TECHNIQUE_TIME,
      </if>
      <if test="qualificationTime != null">
        QUALIFICATION_TIME,
      </if>
      <if test="projectStatus != null">
        PROJECT_STATUS,
      </if>
      <if test="packageNumber != null">
        PACKAGE_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="projectId != null">
        #{projectId},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="purchaseType != null">
        #{purchaseType},
      </if>
      <if test="isImport != null">
        #{isImport},
      </if>
      <if test="bidMethodId != null">
        #{bidMethodId},
      </if>
      <if test="isEndPrice != null">
        #{isEndPrice},
      </if>
      <if test="techniqueTime != null">
        #{techniqueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualificationTime != null">
        #{qualificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectStatus != null">
        #{projectStatus},
      </if>
      <if test="packageNumber != null">
        #{packageNumber},
      </if>
    </trim>
  </insert>
	
	
	
	
	<update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.AdvancedPackages">
		update T_BSS_PPMS_ADVANCED_PACKAGE
		<set>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="project != null">
				AD_PROJECT_ID = #{project.id},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="purchaseType != null">
				PURCHASE_TYPE = #{purchaseType},
			</if>
			<if test="isImport != null">
				IS_IMPORT = #{isImport},
			</if>
			<if test="bidMethodId != null">
				BID_METHOD_ID = #{bidMethodId},
			</if>
			<if test="isEndPrice != null">
        IS_END_PRICE = #{isEndPrice},
      </if>
      <if test="techniqueTime != null">
        TECHNIQUE_TIME = #{techniqueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualificationTime != null">
        QUALIFICATION_TIME = #{qualificationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectStatus != null">
        PROJECT_STATUS = #{projectStatus},
      </if>
      <if test="packageNumber != null">
        PACKAGE_NUMBER = #{packageNumber},
      </if>
		</set>
		where ID = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		T_BSS_PPMS_ADVANCED_PACKAGE
		where ID = #{id}
	</delete>
	
	
	<select id="findByID" parameterType="java.util.Map" resultMap="BaseResultMap">
    select  
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_ADVANCED_PACKAGE p
    where p.IS_DELETED=0
    <if test="projectId != null and projectId !=''">
      AND p.AD_PROJECT_ID = #{projectId}
    </if>
    <if test="listPackagesID != null ">
      AND p.ID IN 
      <foreach item="item" index="index" collection="listPackagesID" open="(" separator="," close=")">  
         #{item}  
      </foreach>
    </if>
    ORDER BY p.CREATED_AT ASC
  </select>
  
  <select id="selectPackName" parameterType="java.util.Map" resultType="bss.model.ppms.AdvancedPackages">
    SELECT
    pa.ID AS id,
    pa.NAME AS name,
    pr.NAME AS projectName,
    pa.CREATED_AT AS createdAt,
    pa.PURCHASE_TYPE AS purchaseType
    FROM
    T_BSS_PPMS_ADVANCED_PACKAGE pa
    inner join T_BSS_PPMS_ADVANCED_PROJECTS pr
    on pa.AD_PROJECT_ID = pr.ID
    WHERE
    nvl(pa.IS_DELETED,0)=0
    <if test="projectName != null and projectName !=''">
      AND pr.NAME like CONCAT(CONCAT('%', #{projectName}), '%')
    </if>
    <if test="packageName != null and packageName !=''">
      AND pa.NAME like CONCAT(CONCAT('%', #{packageName}), '%')
    </if>
    ORDER BY
    pa.CREATED_AT DESC
  </select>
  
  <select id="getPackageId" parameterType="java.lang.String" resultType="bss.model.ppms.AdvancedPackages">
    SELECT
      *
    FROM
      (
        SELECT
          ID
        FROM
          T_BSS_PPMS_ADVANCED_PACKAGE
        WHERE
          AD_PROJECT_ID = #{projectId}
      ) T
    WHERE
      T . ID IN (
        SELECT DISTINCT
          (PACKAGR_IDS)
        FROM
          T_BSS_PPMS_SALE_TENDER
        WHERE
          STATUS_BID = 2
        AND STATUS_BOND = 2
        AND PROJECT_ID = #{projectId}
        AND IS_REMOVED in ('0' , '2') 
      )
  </select>
  
  <!-- 查询包 按照创建时间-->
	<select id="selectPackageOrderByCreated" parameterType="java.util.Map" resultType="bss.model.ppms.AdvancedPackages">
		SELECT DISTINCT
			pa.ID AS id,
			pa.NAME AS name,
			pa.AD_PROJECT_ID AS projectId,
			pr.NAME AS projectName,
			pa.STATUS AS status,
			pa.CREATED_AT AS createdAt,
			pa.PURCHASE_TYPE AS purchaseType,
			pa.IS_IMPORT AS isImport,
			pa.IS_END_PRICE AS isEndPrice
		FROM
		T_BSS_PPMS_ADVANCED_PACKAGE pa
		LEFT JOIN T_BSS_PPMS_ADVANCED_PROJECTS pr 
		on pa.AD_PROJECT_ID = pr.ID LEFT JOIN T_BSS_PPMS_BID_METHOD BM ON PA.ID = BM.PACKAGE_ID
		WHERE
		nvl(pa.IS_DELETED,0)=0 AND pr. NAME IS NOT NULL
		<if test="projectId != null and projectId !=''">
			AND pr.PROJECT_NUMBER like CONCAT(CONCAT('%', #{projectId}), '%')
		</if>
		<if test="projectName != null and projectName !=''">
			AND pr.NAME like CONCAT(CONCAT('%', #{projectName}), '%')
		</if>
		<if test="id != null and id !=''">
			AND pa.ID = #{id}
		</if>
		<if test="packageName != null and packageName !=''">
			AND pa.NAME like CONCAT(CONCAT('%', #{packageName}), '%')
		</if>
		<if test="typeName != null and typeName !=''">
			AND BM.TYPE_NAME = #{typeName}
		</if>
		ORDER BY
		pa.CREATED_AT DESC
	</select>

</mapper>