<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.FlowDefineMapper">
  <resultMap id="FlowDefineResult" type="bss.model.ppms.FlowDefine">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STEP" property="step" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="IS_DELETED"  property="isDeleted" />
    <result column="PURCHASE_TYPE_ID" jdbcType="VARCHAR" property="purchaseTypeId" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="ADVANCED_URL" jdbcType="VARCHAR" property="advancedUrl" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, NAME, STEP, CREATED_AT, UPDATED_AT, IS_DELETED, PURCHASE_TYPE_ID, URL, CODE, ADVANCED_URL
  </sql>
  
  <!-- 查询条件 -->
  <sql id="Example_Where_Clause">
    where fd.IS_DELETED = 0 
    <trim suffixOverrides=",">
      <if test="id != null and id != ''">
        and fd.ID = #{id} 
      </if>
      <if test=" name!= null and name != ''">
        and fd.NAME  like CONCAT(CONCAT('%', #{name}), '%') 
      </if>
      <if test="step != null">
        and fd.STEP = #{step} 
      </if>
      <if test="createdAt != null">
        and fd.CREATED_AT = #{createdAt} 
      </if>
      <if test="updatedAt != null">
        and fd.UPDATED_AT = #{updatedAt} 
      </if>
      <if test="purchaseTypeId != null and purchaseTypeId !='' ">
        and fd.PURCHASE_TYPE_ID = #{purchaseTypeId} 
      </if>
      <if test="url != null and url !='' ">
        and fd.URL = #{url} 
      </if>
      <if test="code != null and code !='' ">
        and fd.CODE = #{code} 
      </if>
      <if test="advancedUrl != null and advancedUrl !='' ">
        and fd.ADVANCED_URL = #{advancedUrl} 
      </if>
    </trim>
  </sql>
  
  <!-- 1.根据id主键查询 -->
  <select id="get" parameterType="java.lang.String" resultMap="FlowDefineResult">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_FLOW_DEFINE fd
    where IS_DELETED = 0 
    and ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 2.根据条件查询 -->
  <select id="findList" parameterType="java.lang.String" resultMap="FlowDefineResult">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_FLOW_DEFINE fd
    <include refid="Example_Where_Clause"/>
    ORDER BY fd.STEP ASC
  </select>
  
  <!-- 3.根据主键id删除 -->
  <delete id="delete" parameterType="java.lang.String">
    delete from T_BSS_PPMS_FLOW_DEFINE
    where ID = #{id,jdbcType=VARCHAR} 
  </delete>
  
  <!-- 4.插入数据 -->
  <insert id="insert" parameterType="bss.model.ppms.FlowDefine">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_PPMS_FLOW_DEFINE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="step != null">
        STEP,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="purchaseTypeId != null">
        PURCHASE_TYPE_ID,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="advancedUrl != null">
        ADVANCED_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="step != null">
        #{step,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="purchaseTypeId != null">
        #{purchaseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="advancedUrl != null">
        #{advancedUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 5.更新数据 -->
  <update id="update" parameterType="bss.model.ppms.FlowDefine">
    update T_BSS_PPMS_FLOW_DEFINE
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="step != null">
        STEP = #{step,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="purchaseTypeId != null">
        PURCHASE_TYPE_ID = #{purchaseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="advancedUrl != null">
        ADVANCED_URL = #{advancedUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getFlow" parameterType="bss.model.ppms.FlowDefine" resultMap="FlowDefineResult">
     select * from  T_BSS_PPMS_FLOW_DEFINE where STEP 
     <if test="url != null and url == 'gt'">
     	<![CDATA[ <= ]]> 
     </if>
     <if test="url != null and url == 'gtl'">
     	<![CDATA[ < ]]> 
     </if>
     <if test="url != null and url == 'lt'">
     	<![CDATA[ >= ]]> 
     </if>
     (select STEP from T_BSS_PPMS_FLOW_DEFINE fd
    where IS_DELETED = 0 
    and ID = #{id,jdbcType=VARCHAR}) and IS_DELETED = 0 and PURCHASE_TYPE_ID=(select PURCHASE_TYPE_ID from T_BSS_PPMS_FLOW_DEFINE fd
    where IS_DELETED = 0 
    and ID = #{id,jdbcType=VARCHAR})  order by STEP asc
  </select>
  
  <!-- 根据包上的标示查询对应的流程 -->
  <select id="viewFlow" parameterType="java.util.Map" resultMap="FlowDefineResult">
     select * from  T_BSS_PPMS_FLOW_DEFINE where  IS_DELETED = 0
     <if test="oldFlowId != null and oldFlowId != ''">
      AND STEP 	<![CDATA[ <= ]]> (select STEP from T_BSS_PPMS_FLOW_DEFINE 
    	where IS_DELETED = 0 and ID = #{oldFlowId,jdbcType=VARCHAR})
     </if>
     <if test="newFlowId != null and newFlowId != ''">
      AND STEP	<![CDATA[ >= ]]> (select STEP from T_BSS_PPMS_FLOW_DEFINE 
    	where IS_DELETED = 0 and ID = #{newFlowId,jdbcType=VARCHAR})
     </if>
      AND PURCHASE_TYPE_ID=(select PURCHASE_TYPE_ID from T_BSS_PPMS_FLOW_DEFINE 
   		where IS_DELETED = 0 
    	AND ID = #{id,jdbcType=VARCHAR})  order by STEP ASC
  </select>
</mapper>