<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.PackageMapper">
  <resultMap id="BaseResultMap" type="bss.model.ppms.Packages">
    <id column="ID"  property="id" />
    <result column="NAME" property="name"/>
   	<result column="PROJECT_ID" property="projectId"/>
   	<result column="IS_DELETED" property="isDeleted"/>
   	<result column="CREATED_AT" property="createdAt"/>
   	<result column="UPDATED_AT" property="updatedAt"/>
   	<result column="STATUS" property="status"/>
   	<result column="MARK_TERM_TREE" property="markTermTree"/>
   	
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, NAME, PROJECT_ID,IS_DELETED,CREATED_AT,UPDATED_AT,STATUS,MARK_TERM_TREE
  </sql>
     
  <insert id="insertSelective" parameterType="bss.model.ppms.Packages">
     <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_PPMS_PACKAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="markTermTree != null">
        MARK_TERM_TREE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="projectId != null">
        #{projectId},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="markTermTree != null">
        #{markTermTree},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.Packages">
    update T_BSS_PPMS_PACKAGE
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="projectId != null">
        PROJECT_ID = #{projectId},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="markTermTree != null">
        MARK_TERM_TREE = #{markTermTree},
      </if>
    </set>
    where ID = #{id}
  </update>
  
   <select id="findPackageById" parameterType="java.util.Map" resultType="bss.model.ppms.Packages">
   		SELECT
   			ID AS id,
   			NAME AS name,
   			PROJECT_ID AS projectId,
   			STATUS AS status,
   			MARK_TERM_TREE AS markTermTree
   		FROM
   			T_BSS_PPMS_PACKAGE
   		WHERE
   		nvl(IS_DELETED,0)=0
   		<if test="projectId != null and projectId !=''">
        	AND	PROJECT_ID = #{projectId}
      	</if>
      	<if test="id != null and id !=''">
        	AND	ID = #{id}
      	</if>
      	ORDER BY
      		CREATED_AT DESC	
   </select>  
      <select id="findPackageByCondition" parameterType="java.lang.String" resultType="bss.model.ppms.Packages">
   		SELECT
   			ID AS id,
   			NAME AS name,
   			PROJECT_ID AS projectId,
   			STATUS AS status,
   			MARK_TERM_TREE AS markTermTree
   		FROM
   			T_BSS_PPMS_PACKAGE
   		WHERE
   		nvl(IS_DELETED,0)=0
        	AND	ID = #{id}
      	ORDER BY
      		CREATED_AT DESC	
   </select> 
   
   <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
	    delete from T_BSS_PPMS_PACKAGE
	    where ID = #{id}
  	</delete>
</mapper>