<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.PackageMapper">
	<resultMap id="BaseResultMap" type="bss.model.ppms.Packages">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PROJECT_ID" property="projectId" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" />
		<result column="MARK_TERM_TREE" property="markTermTree" />
		<result column="BID_METHOD_ID" property="bidMethodId" />
		<result column="PURCHASE_TYPE" property="purchaseType" />
		<result column="IS_IMPORT" property="isImport" />
		<result column="IS_END_PRICE" property="isEndPrice" />
		<result column="TECHNIQUE_TIME" property="techniqueTime" jdbcType="TIMESTAMP" />
		<result column="QUALIFICATION_TIME" property="qualificationTime" jdbcType="TIMESTAMP" />
		<association property="project" column="PROJECT_ID"
			select="bss.dao.ppms.ProjectMapper.selectProjectByPrimaryKey" />
	</resultMap>

	<resultMap type="bss.model.ppms.Packages" id="TwoResultMap">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" />
		<result column="MARK_TERM_TREE" property="markTermTree" />
		<result column="IS_END_PRICE" property="isEndPrice" />
		<association property="project" column="PROJECT_ID"
			select="bss.dao.ppms.ProjectMapper.selectProjectByPrimaryKey" />
	</resultMap>

	<!-- 专家 -->
	<resultMap type="bss.model.ppms.Packages" extends="BaseResultMap"
		id="ResultExpert">
		<collection property="listExperts" column="ID"
			select="ses.dao.ems.ExpertMapper.getByExpertProjectId" ofType="ses.model.ems.Expert" />
	</resultMap>

	<resultMap type="bss.model.ppms.Packages" extends="BaseResultMap"
		id="ResultAllExpert">
		<collection property="listExperts" column="ID"
			select="ses.dao.ems.ExpertMapper.getByAllExpertProjectId" ofType="ses.model.ems.Expert" />
	</resultMap>
	<!-- 返回抽取信息 -->
	<resultMap type="bss.model.ppms.Packages" extends="BaseResultMap"
		id="ResultProjectExtract">
		<collection property="listProjectExtract" column="ID"
			select="ses.dao.ems.ProjectExtractMapper.getById" ofType="ses.model.ems.ProjectExtract" />
	</resultMap>
	
	 <!-- 返回供应商抽取信息 -->
  <resultMap type="bss.model.ppms.Packages" extends="BaseResultMap"
    id="ResultSupplierExtract">
    <collection property="listExtRelate" column="ID"
      select="ses.dao.sms.SupplierExtRelateMapper.getById" ofType="ses.model.sms.SupplierExtRelate" />
  </resultMap>

	<!-- 返回抽取条件 -->
	 <resultMap type="bss.model.ppms.Packages" extends="BaseResultMap" 
	 id="ResultExpExtCondition"> 
	 <collection property="listExpExtCondition" column="ID"
	 select="ses.dao.ems.ExpExtConditionMapper.selectByPackageId" ofType="ses.model.ems.ExpExtCondition" /> 
	       <collection property="listSupplierCondition" column="ID"
   select="ses.dao.sms.SupplierConditionMapper.selectByPackageId" ofType="ses.model.sms.SupplierCondition" /> 
	 </resultMap>


	<!-- 供应商 -->
	<resultMap type="bss.model.ppms.Packages" extends="BaseResultMap"
		id="ResultSupplier">

		<collection property="listSupplier" column="ID"
			select="ses.dao.sms.SupplierMapper.getByExtRelateProjectId" ofType="ses.model.sms.Supplier" />

	</resultMap>

	<!-- 中标供应商 -->
	<resultMap type="bss.model.ppms.Packages" extends="BaseResultMap"
		id="SupplierCheckPass">
		<collection property="listCheckPasses" column="ID"
			select="bss.dao.ppms.SupplierCheckPassMapper.getByCheckPass" ofType="bss.model.ppms.SupplierCheckPass" />
	</resultMap>
	
	<!-- 未中标供应商 -->
	<resultMap type="bss.model.ppms.Packages" extends="BaseResultMap"
    id="SupplierCheckPa">
    <collection property="listCheckPasses" column="ID"
      select="bss.dao.ppms.SupplierCheckPassMapper.getByCheck" ofType="bss.model.ppms.SupplierCheckPass" />
  </resultMap>


	<sql id="Base_Column_List">
		ID, NAME,PROJECT_ID,IS_DELETED,CREATED_AT,
		UPDATED_AT,STATUS,MARK_TERM_TREE,BID_METHOD_ID,
		PURCHASE_TYPE,IS_IMPORT,IS_END_PRICE,TECHNIQUE_TIME,QUALIFICATION_TIME
	</sql>

	<insert id="insertSelective" parameterType="bss.model.ppms.Packages">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select sys_guid() from dual
		</selectKey>
		insert into T_BSS_PPMS_PACKAGE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="markTermTree != null">
				MARK_TERM_TREE,
			</if>
			<if test="purchaseType != null">
				PURCHASE_TYPE,
			</if>
			<if test="isImport != null">
				IS_IMPORT,
			</if>
			<if test="bidMethodId != null">
				BID_METHOD_ID,
			</if>
			<if test="isEndPrice != null">
				IS_END_PRICE,
			</if>
			<if test="techniqueTime != null">
        TECHNIQUE_TIME,
      </if>
      <if test="qualificationTime != null">
        QUALIFICATION_TIME,
      </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="projectId != null">
				#{projectId},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="markTermTree != null">
				#{markTermTree},
			</if>
			<if test="purchaseType != null">
				#{purchaseType},
			</if>
			<if test="isImport != null">
				#{isImport},
			</if>
			<if test="bidMethodId != null">
				#{bidMethodId},
			</if>
			<if test="isEndPrice != null">
				#{isEndPrice},
			</if>
			<if test="techniqueTime != null">
        #{techniqueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualificationTime != null">
        #{qualificationTime,jdbcType=TIMESTAMP},
      </if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.Packages">
		update T_BSS_PPMS_PACKAGE
		<set>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="projectId != null">
				PROJECT_ID = #{projectId},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="markTermTree != null">
				MARK_TERM_TREE = #{markTermTree},
			</if>
			<if test="purchaseType != null">
				PURCHASE_TYPE = #{purchaseType},
			</if>
			<if test="isImport != null">
				IS_IMPORT = #{isImport},
			</if>
			<if test="bidMethodId != null">
				BID_METHOD_ID = #{bidMethodId},
			</if>
			<if test="isEndPrice != null">
				IS_END_PRICE = #{isEndPrice},
			</if>
			<if test="techniqueTime != null">
        TECHNIQUE_TIME = #{techniqueTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualificationTime != null">
        QUALIFICATION_TIME = #{qualificationTime,jdbcType=TIMESTAMP},
      </if>
		</set>
		where ID = #{id}
	</update>

	<select id="findPackageById" parameterType="java.util.Map"
		resultType="bss.model.ppms.Packages">
		SELECT
		ID AS id,
		NAME AS name,
		PROJECT_ID AS projectId,
		STATUS AS status,
		CREATED_AT AS createdAt,
		MARK_TERM_TREE AS markTermTree,
		PURCHASE_TYPE AS purchaseType,
		IS_IMPORT AS isImport,
		TECHNIQUE_TIME AS techniqueTime,
		QUALIFICATION_TIME AS qualificationTime,
		IS_END_PRICE AS isEndPrice
		FROM
		T_BSS_PPMS_PACKAGE
		WHERE
		nvl(IS_DELETED,0)=0
		<if test="projectId != null and projectId !=''">
			AND PROJECT_ID = #{projectId}
		</if>
		<if test="id != null and id !=''">
			AND ID = #{id}
		</if>
		ORDER BY
		CREATED_AT ASC
	</select>
	<select id="selectByPrimaryKey" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_BSS_PPMS_PACKAGE
		<if test="projectId != null and projectId != '' ">
			where PROJECT_ID = #{projectId} and IS_DELETED=0
		</if>
	</select>

	<select id="selectByPrimaryKeyId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_BSS_PPMS_PACKAGE
		where ID = #{id} and IS_DELETED=0
	</select>

	<select id="find" parameterType="Object" resultMap="BaseResultMap">
		select  
		<include refid="Base_Column_List" />
		from T_BSS_PPMS_PACKAGE p
		where p.IS_DELETED=0
		<if test="projectId != null and projectId !=''">
			AND p.PROJECT_ID = #{projectId}
		</if>
		<if test="id != null and id !=''">
			AND p.ID = #{id}
		</if>
		<if test="name != null and name !=''">
			AND p.NAME like CONCAT(CONCAT('%', #{name}), '%')
		</if>
		ORDER BY p.CREATED_AT ASC
	</select>

	<select id="findByID" parameterType="java.util.Map" resultMap="BaseResultMap">
		select  
		<include refid="Base_Column_List" />
		from T_BSS_PPMS_PACKAGE p
		where p.IS_DELETED=0
		<if test="projectId != null and projectId !=''">
			AND p.PROJECT_ID = #{projectId}
		</if>
		<if test="listPackagesID != null ">
			AND p.ID IN 
			<foreach item="item" index="index" collection="listPackagesID" open="(" separator="," close=")">  
           #{item}  
          </foreach>
          </if>
		ORDER BY p.CREATED_AT ASC
	</select>

	<!-- 联合查询 -->
	<select id="findPackageAndBidMethodById" parameterType="java.util.Map"
		resultType="bss.model.ppms.Packages">
		SELECT
		p.ID AS id,
		p.NAME AS name,
		p.PROJECT_ID AS projectId,
		p.STATUS AS
		status,
		p.BID_METHOD_ID as bidMethodId,
		b.name as bidMethodName,
		b.MAX_SCORE as bidMethodMaxScore,
		b.TYPE_NAME as bidMethodTypeName
		FROM
		T_BSS_PPMS_PACKAGE p
		LEFT JOIN T_BSS_PPMS_BID_METHOD b on
		p.BID_METHOD_ID= b."ID"
		WHERE
		nvl(p.IS_DELETED,0)=0
		<if test="projectId != null and projectId !=''">
			AND p.PROJECT_ID = #{projectId}
		</if>
		<if test="id != null and id !=''">
			AND p.ID = #{id}
		</if>
		ORDER BY
		p.CREATED_AT ASC
	</select>
	<!-- 联合查询 -->
	<select id="findPackageByCondition" parameterType="java.lang.String"
		resultType="bss.model.ppms.Packages">
		SELECT
		ID AS id,
		NAME AS name,
		PROJECT_ID AS projectId,
		STATUS
		AS status,
		MARK_TERM_TREE AS markTermTree,
		PURCHASE_TYPE AS
		purchaseType,
		IS_IMPORT AS isImport,
		IS_END_PRICE as isEndPrice
		FROM
		T_BSS_PPMS_PACKAGE
		WHERE
		nvl(IS_DELETED,0)=0
		AND ID = #{id}
		ORDER BY
		CREATED_AT ASC
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		T_BSS_PPMS_PACKAGE
		where ID = #{id}
	</delete>

	<select id="selectAllByIsWon" parameterType="Map" resultMap="BaseResultMap">
		select distinct pa.id as id,pa.PROJECT_ID projectId,pa.NAME
		name,pa.updated_at,ch.supplier_id supplierId,ch.CONTRACT_ID
		contractId,ch.id supplierCheckPassId,ch.IS_CREATE_CONTRACT
		isCreateContract,ch.WON_PRICE wonPrice FROM
		T_BSS_PPMS_PACKAGE pa,
		T_BSS_PPMS_SUPPLIER_CHECK_PASS ch
		where
		pa.project_id in (
		select pc.id
		from T_BSS_PPMS_PROJECTS pc where 1=1
		<if test="projectName != null and projectName != ''">
			and pc.NAME like CONCAT(CONCAT('%', #{projectName}), '%')
		</if>
		<if test="projectCode != null and projectCode != ''">
			and pc.PROJECT_NUMBER like CONCAT(CONCAT('%', #{projectCode}), '%')
		</if>
		<if test="purchaseDep != null and purchaseDep != ''">
			and pc.PURCHASE_DEP_ID like CONCAT(CONCAT('%', #{purchaseDep}), '%')
		</if>
		) and pa.id = ch.package_id
		and ch.is_won_bid = 1
		and pa.IS_DELETED=0
		<if test="isCreateContract != null and isCreateContract != ''">
			and ch.is_Create_Contract = #{isCreateContract}
		</if>
		order by isCreateContract,CH.CREATED_AT DESC
	</select>

	<!-- 根据包信息返回抽取出的专家 -->
	<select id="listResultExpert" parameterType="java.lang.String"
		resultMap="ResultExpert">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_BSS_PPMS_PACKAGE
		WHERE
		IS_DELETED=0
		AND PROJECT_ID = #{projectId}
		ORDER BY
		CREATED_AT ASC
	</select>

	<!-- 根据包信息返回抽取出的供应商 -->
	<select id="listResultSupplier" parameterType="java.lang.String"
		resultMap="ResultSupplier">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_PACKAGE
		WHERE IS_DELETED=0
		AND PROJECT_ID = #{projectId}
		ORDER BY
		CREATED_AT ASC
	</select>

	<select id="listSupplierCheckPass" parameterType="java.lang.String"
		resultMap="SupplierCheckPass">
		SELECT
	<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_PACKAGE WHERE IS_DELETED=0 AND
		PROJECT_ID=#{projectId}
    ORDER BY CREATED_AT ASC
	</select>
	
	
	<select id="supplierCheckPa" parameterType="java.lang.String"
    resultMap="SupplierCheckPa">
    SELECT
  <include refid="Base_Column_List" />
    FROM
    T_BSS_PPMS_PACKAGE WHERE IS_DELETED=0 AND
    PROJECT_ID=#{projectId}
    ORDER BY CREATED_AT ASC
  </select>

	<!-- 返回所有专家 -->
	<select id="listResultAllExpert" parameterType="java.lang.String"
		resultMap="ResultAllExpert">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_BSS_PPMS_PACKAGE
		WHERE
		IS_DELETED=0
		AND PROJECT_ID = #{projectId}
		ORDER BY
		CREATED_AT ASC
	</select>

	<!-- 返回所有专家 -->
	<select id="listProjectExtract" parameterType="java.lang.String"
		resultMap="ResultProjectExtract">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_BSS_PPMS_PACKAGE
		WHERE
		IS_DELETED=0 AND PROJECT_ID = #{projectId}
		ORDER BY
		CREATED_AT ASC
	</select>
	
	 <!-- 返回所有专家 -->
  <select id="listSupplierExtract" parameterType="java.lang.String"
    resultMap="ResultSupplierExtract">
    SELECT
    <include refid="Base_Column_List" />
    FROM T_BSS_PPMS_PACKAGE
    WHERE
    IS_DELETED=0 AND PROJECT_ID = #{projectId}
    ORDER BY
    CREATED_AT ASC
  </select>

	<!-- -->
	<select id="listExpExtCondition" parameterType="java.lang.String"
		resultMap="ResultExpExtCondition">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_BSS_PPMS_PACKAGE
		WHERE
		IS_DELETED=0 AND PROJECT_ID = #{projectId}
	</select>





	<insert id="insertPackage" parameterType="bss.model.ppms.Packages">
		insert into T_BSS_PPMS_PACKAGE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="markTermTree != null">
				MARK_TERM_TREE,
			</if>
			<if test="purchaseType != null">
				PURCHASE_TYPE,
			</if>
			<if test="isImport != null">
				IS_IMPORT,
			</if>
			<if test="bidMethodId != null">
				BID_METHOD_ID,
			</if>
			<if test="isEndPrice != null">
				IS_END_PRICE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="projectId != null">
				#{projectId},
			</if>
			<if test="isDeleted != null">
				#{isDeleted},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="markTermTree != null">
				#{markTermTree},
			</if>
			<if test="purchaseType != null">
				#{purchaseType},
			</if>
			<if test="isImport != null">
				#{isImport},
			</if>
			<if test="bidMethodId != null">
				#{bidMethodId},
			</if>
			<if test="isEndPrice != null">
				#{isEndPrice},
			</if>
		</trim>
	</insert>

	<select id="selectPackageById" parameterType="java.util.Map"
		resultType="bss.model.ppms.Packages">
		SELECT
		pa.ID AS id,
		pa.NAME AS name,
		pa.PROJECT_ID AS projectId,
		pa.STATUS AS status,
		pa.CREATED_AT AS createdAt,
		pa.MARK_TERM_TREE AS markTermTree,
		pa.PURCHASE_TYPE AS purchaseType,
		pa.IS_IMPORT AS isImport,
		pa.IS_END_PRICE AS isEndPrice
		FROM
		T_BSS_PPMS_PACKAGE pa
		inner join T_BSS_PPMS_PROJECTS pr
		on pa.PROJECT_ID = pr.ID
		WHERE
		nvl(pa.IS_DELETED,0)=0
		<if test="projectId != null and projectId !=''">
			AND pr.PROJECT_NUMBER like CONCAT(CONCAT('%', #{projectId}), '%')
		</if>
		<if test="projectName != null and projectName !=''">
			AND pr.NAME like CONCAT(CONCAT('%', #{projectName}), '%')
		</if>
		<if test="id != null and id !=''">
			AND pa.ID = #{id}
		</if>
		ORDER BY
		pr.BID_DATE DESC
	</select>
</mapper>