<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.ParamIntervalMapper">
	<resultMap id="BaseResultMap" type="bss.model.ppms.ParamInterval">
		<id column="ID" property="id" />
		<result column="SCORE_MODEL_ID" property="scoreModelId" />
		<result column="PROJECT_ID" property="projectId" />
		<result column="PACKAGE_ID" property="packageId" />
		<result column="START_PARAM" property="startParam" />
		<result column="END_PARAM" property="endParam" />
		<result column="start_relation" property="startRelation" />
		<result column="end_relation" property="endRelation" />
		<result column="score" property="score" />
		<result column="explain" property="explain" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
	</resultMap>
	<!-- t_bss_ppms_param_interval 参数区间表-->
	<select id="findListByParamInterval" parameterType="bss.model.ppms.ParamInterval" resultMap="BaseResultMap">
   		SELECT
   			sm.*
   		FROM
   			T_BSS_PPMS_PARAM_INTERVAL SM
   		
   		WHERE nvl(SM.is_deleted,0)=0
   		<if test="scoreModelId != null">
        	and SM.score_model_id = #{scoreModelId}
      	</if>
      	<if test="id != null">
        	and SM.id = #{id}
      	</if>
      	<if test="score != null">
        	and SM.score = #{score}
      	</if>	
      	<if test="projectId != null">
         	and PROJECT_ID = #{projectId}
      	</if>
      	<if test="packageId != null">
         	and PACKAGE_ID = #{packageId}
      	</if>
      	ORDER BY SM.CREATED_AT DESC	
   </select> 
  <insert id="saveParamInterval" parameterType="bss.model.ppms.ParamInterval">
     <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_PPMS_PARAM_INTERVAL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      created_at,
      <if test="id != null">
        ID,
      </if>
     <if test="scoreModelId != null">
        score_model_id,
      </if>
      <if test="startParam != null">
        start_param,
      </if>
      <if test="endParam != null">
        end_param,
      </if>
      <if test="startRelation != null">
        start_relation,
      </if>
      <if test="endRelation != null">
        end_relation ,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="explain != null">
        explain ,
      </if>
      <if test="projectId != null">
        PROJECT_ID ,
      </if>
      <if test="packageId != null">
        PACKAGE_ID ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      sysdate,
      <if test="id != null">
        #{id},
      </if>
      <if test="scoreModelId != null">
         #{scoreModelId},
      </if>
      <if test="startParam != null">
        #{startParam},
      </if>
      <if test="endParam != null">
         #{endParam},
      </if>
      <if test="startRelation != null">
       #{startRelation},
      </if>
      <if test="endRelation != null">
        #{endRelation},
      </if>
      <if test="score != null">
         #{score},
      </if>
      <if test="explain != null">
        #{explain},
      </if>
      <if test="projectId != null">
        #{projectId},
      </if>
       <if test="packageId != null">
        #{packageId},
      </if>
    </trim>
  </insert>
  <update id="updateParamInterval" parameterType="bss.model.ppms.ParamInterval">
    update T_BSS_PPMS_PARAM_INTERVAL
    set
      updated_at = sysdate
      <if test="scoreModelId != null">
        ,score_model_id = #{scoreModelId}
      </if>
      <if test="startParam != null">
        ,start_param = #{startParam}
      </if>
      <if test="endParam != null">
        ,end_param = #{endParam}
      </if>
      <if test="startRelation != null">
        ,start_relation = #{startRelation}
      </if>
      <if test="endRelation != null">
        ,end_relation = #{endRelation}
      </if>
      <if test="score != null">
        ,score = #{score}
      </if>
      <if test="explain != null">
        ,explain = #{explain}
      </if>
      <if test="projectId != null">
        ,PROJECT_ID = #{projectId}
      </if>
       <if test="packageId != null">
        ,PACKAGE_ID = #{packageId}
      </if>
    where ID = #{id}
  </update>
  <!-- 删除需求部门-->
	<delete id="delParamIntervalByid" parameterType="java.util.Map">
		delete from T_BSS_PPMS_PARAM_INTERVAL s where s.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<delete id="delParamIntervalByMap" parameterType="java.util.Map">
		delete from T_BSS_PPMS_PARAM_INTERVAL s where 1=1
		<if test="scoreModelId != null">
         	and SCORE_MODEL_ID = #{scoreModelId}
      	</if>
      	<if test="projectId != null">
         	and PROJECT_ID = #{projectId}
      	</if>
      	<if test="packageId != null">
         	and PACKAGE_ID = #{packageId}
      	</if>
      	<if test="id != null">
         	and id= #{id}
      	</if>
	</delete>
	<!-- 逻辑删除需求部门-->
	<update id="delSoftParamIntervalByid" parameterType="java.util.Map">
		update  T_BSS_PPMS_PARAM_INTERVAL   t
		set t.IS_DELETED=1
		where t.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	<!-- t_bss_ppms_param_interval 参数区间表 -->
</mapper>