<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.ProjectAttachmentsMapper">
  <resultMap id="ProjectAttachMap" type="bss.model.ppms.ProjectAttachments">
    <id column="ID" property="id" />
    <result column="FILE_NAME" property="fileName" />
    <result column="CONTENT_TYPE" property="contentType" />
    <result column="FILE_SIZE" property="fileSize" />
    <result column="ATTACHMENT_PATH" property="attachmentPath" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="IS_DELETED" property="isDeleted"/>
    <association property="project" column="PROJECT_ID" select="bss.dao.ppms.ProjectMapper.selectByPrimaryKey"/>
  </resultMap>
  
  <sql id="ProjectAttach_Column_List">
    ID, FILE_NAME, CONTENT_TYPE, FILE_SIZE, PROJECT_ID, ATTACHMENT_PATH, CREATED_AT, 
    UPDATED_AT,IS_DELETED
  </sql>
  
  <!-- 根据id查询 -->
  <select id="selectProjectAttaByPrimaryKey" parameterType="Object" resultMap="ProjectAttachMap">
    select 
    <include refid="ProjectAttach_Column_List" />
    from T_BSS_PPMS_PROJECTS_ATTACHMENT
    where ID = #{id}
  </select>
  
  <select id="selectAllProjectAttachments" parameterType="Object" resultMap="ProjectAttachMap">
    select
    <include refid="ProjectAttach_Column_List" />
    from T_BSS_PPMS_PROJECTS_ATTACHMENT
    where PROJECT_ID = #{project.id} and IS_DELETED = 0
  </select>
  
  <!-- 根据id删除 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete from T_BSS_PPMS_PROJECTS_ATTACHMENT
    where ID = #{id}
  </delete>
  
  <!-- 假删除 -->
  <update id="softDeleteAtta" parameterType="Object">
    update T_BSS_PPMS_PROJECTS_ATTACHMENT
    set IS_DELETED = 1 where ID = #{id}
  </update>
  
  <!-- 新增信息附件 -->
  <insert id="insert" parameterType="bss.model.ppms.ProjectAttachments">
    insert into T_BSS_PPMS_PROJECTS_ATTACHMENT (ID, FILE_NAME, CONTENT_TYPE, 
      FILE_SIZE, PROJECT_ID, ATTACHMENT_PATH, 
      CREATED_AT, UPDATED_AT,IS_DELETED)
    values (#{id,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{contentType,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=FLOAT}, #{project.id,jdbcType=VARCHAR}, #{attachmentPath,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=DATE}, #{updatedAt,jdbcType=DATE},#{isDeleted,jdbcType=DECIMAL})
  </insert>
  
  <!-- 根据条件新增信息附件 -->
  <insert id="insertSelective" parameterType="bss.model.ppms.ProjectAttachments">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_PPMS_PROJECTS_ATTACHMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="contentType != null">
        CONTENT_TYPE,
      </if>
      <if test="fileSize != null">
        FILE_SIZE,
      </if>
      <if test="project != null">
        PROJECT_ID,
      </if>
      <if test="attachmentPath != null">
        ATTACHMENT_PATH,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="fileName != null">
        #{fileName},
      </if>
      <if test="contentType != null">
        #{contentType},
      </if>
      <if test="fileSize != null">
        #{fileSize},
      </if>
      <if test="project != null">
        #{project.id},
      </if>
      <if test="attachmentPath != null">
        #{attachmentPath},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
    </trim>
  </insert>
  
  <!-- 根据条件修改信息附件 -->
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.ProjectAttachments">
    update T_BSS_PPMS_PROJECTS_ATTACHMENT
    <set>
      <if test="fileName != null">
        FILE_NAME = #{fileName},
      </if>
      <if test="contentType != null">
        CONTENT_TYPE = #{contentType},
      </if>
      <if test="fileSize != null">
        FILE_SIZE = #{fileSize},
      </if>
      <if test="project != null">
        PROJECT_ID = #{project.id},
      </if>
      <if test="attachmentPath != null">
        ATTACHMENT_PATH = #{attachmentPath},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据id修改 -->
  <update id="updateByPrimaryKey" parameterType="bss.model.ppms.ProjectAttachments">
    update T_BSS_PPMS_PROJECTS_ATTACHMENT
    set FILE_NAME = #{fileName},
      CONTENT_TYPE = #{contentType},
      FILE_SIZE = #{fileSize},
      PROJECT_ID = #{project.id},
      ATTACHMENT_PATH = #{attachmentPath},
      CREATED_AT = #{createdAt},
      UPDATED_AT = #{updatedAt},
      IS_DELETED = #{isDeleted}
    where ID = #{id}
  </update>
</mapper>