<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.SaleTenderMapper">
	<resultMap id="BaseResultMap" type="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="" jdbcType="VARCHAR" property="projectId" />
		<result column="STATUS_BID" jdbcType="DECIMAL" property="statusBid" />
		<result column="" jdbcType="VARCHAR" property="supplierId" />
		<result column="STATUS_BOND" jdbcType="DECIMAL" property="statusBond" />
		<result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
		<result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
		<association property="user" column="USER_ID" select="ses.dao.bms.UserMapper.selectByPrimaryKey"/>
		<association property="suppliers" column="SUPPLIER_ID" select="ses.dao.sms.SupplierMapper.selectByPrimaryKey"/>
		<association property="project" column="PROJECT_ID" select="bss.dao.ppms.ProjectMapper.selectProjectByPrimaryKey"/>
	</resultMap>
	<sql id="Base_Column_List">
		<!-- @mbggenerated -->
		ID, PROJECT_ID, STATUS_BID, SUPPLIER_ID, STATUS_BOND, CREATED_AT,
		UPDATED_AT, USER_ID
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		<!-- @mbggenerated -->
		select
		<include refid="Base_Column_List" />
		from T_BSS_PPMS_SALE_TENDER
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- @mbggenerated -->
		delete from T_BSS_PPMS_SALE_TENDER
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		insert into T_BSS_PPMS_SALE_TENDER (ID, PROJECT_ID, STATUS_BID,
		SUPPLIER_ID, STATUS_BOND, CREATED_AT,
		UPDATED_AT, USER_ID)
		values
		(#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR},
		#{statusBid,jdbcType=DECIMAL},
		#{supplierId,jdbcType=VARCHAR},
		#{statusBond,jdbcType=DECIMAL}, #{createdAt,jdbcType=DATE},
		#{updatedAt,jdbcType=DATE}, #{userId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		insert into T_BSS_PPMS_SALE_TENDER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="statusBid != null">
				STATUS_BID,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="statusBond != null">
				STATUS_BOND,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="statusBid != null">
				#{statusBid,jdbcType=DECIMAL},
			</if>
			<if test="supplierId != null">
				#{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="statusBond != null">
				#{statusBond,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=DATE},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=DATE},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		update T_BSS_PPMS_SALE_TENDER
		<set>
			<if test="projectId != null">
				PROJECT_ID = #{projectId,jdbcType=VARCHAR},
			</if>
			<if test="statusBid != null">
				STATUS_BID = #{statusBid,jdbcType=DECIMAL},
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="statusBond != null">
				STATUS_BOND = #{statusBond,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=DATE},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=DATE},
			</if>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		update T_BSS_PPMS_SALE_TENDER
		set PROJECT_ID =
		#{projectId,jdbcType=VARCHAR},
		STATUS_BID =
		#{statusBid,jdbcType=DECIMAL},
		SUPPLIER_ID =
		#{supplierId,jdbcType=VARCHAR},
		STATUS_BOND =
		#{statusBond,jdbcType=DECIMAL},
		CREATED_AT =
		#{createdAt,jdbcType=DATE},
		UPDATED_AT = #{updatedAt,jdbcType=DATE},
		USER_ID = #{userId,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="list" parameterType="bss.model.ppms.SaleTender"
		resultMap="BaseResultMap">
		SELECT
		ST.*
		FROM T_BSS_PPMS_SALE_TENDER st WHERE
		1=1 
		<if test="projectId != null and projectId != ''">
		and st.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
		</if>
		<if test="supplierId != null  and supplierId != '' ">
		and st.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
		</if>
		<if test="statusBid != null  and statusBid != '' ">
		and st.STATUS_BID=#{statusBid,jdbcType=DECIMAL}
		</if>
		<if test="statusBond != null  and statusBond != '' ">
		and st.STATUS_BOND=#{statusBond,jdbcType=DECIMAL}
		</if>
	</select>
</mapper>