<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.SaleTenderMapper">
	<resultMap id="BaseResultMap" type="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
		<result column="STATUS_BID" jdbcType="DECIMAL" property="statusBid" />
		<result column="" jdbcType="VARCHAR" property="supplierId" />
		<result column="STATUS_BOND" jdbcType="DECIMAL" property="statusBond" />
		<result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="BID_FINISH" jdbcType="DECIMAL" property="bidFinish" />
		<result column="PACKAGR_IDS" jdbcType="VARCHAR" property="packages" />
		<result column="IS_FIRST_PASS" property="isFirstPass" />
		<result column="ECONOMIC_SCORE" jdbcType="DECIMAL" property="economicScore" />
		<result column="TECHNOLOGY_SCORE" jdbcType="DECIMAL" property="technologyScore" />
		<result column="REVIEW_RESULT" jdbcType="VARCHAR" property="reviewResult" />
		<result column="IS_REMOVED" jdbcType="VARCHAR" property="isRemoved" />
		<result column="REMOVED_REASON" jdbcType="VARCHAR" property="removedReason" />
		<result column="IS_TURN_UP" jdbcType="DECIMAL" property="isTurnUp" />
		<result column="PRICE_SCORE" jdbcType="DECIMAL" property="priceScore" />
		<result column="REMOVE_TYPE" property="removeType" />
	</resultMap>
	
	<resultMap extends="BaseResultMap" id="BaseResultExternalMap" type="bss.model.ppms.SaleTender">
	<association property="user" column="USER_ID"
      select="ses.dao.bms.UserMapper.selectByPrimaryKey" />
    <association property="suppliers" column="SUPPLIER_ID"
      select="ses.dao.sms.SupplierMapper.selectByPrimaryKey" />
    <association property="project" column="PROJECT_ID"
      select="bss.dao.ppms.ProjectMapper.selectProjectByPrimaryKey" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- @mbggenerated -->
		st.ID, st.PROJECT_ID, st.STATUS_BID, st.SUPPLIER_ID, st.STATUS_BOND,st.IS_TURN_UP,
		st.CREATED_AT,
		st.UPDATED_AT,
		st.USER_ID,st.BID_FINISH,st.PACKAGR_IDS,st.IS_FIRST_PASS,st.ECONOMIC_SCORE,
		st.TECHNOLOGY_SCORE,st.REVIEW_RESULT,st.IS_REMOVED,st.REMOVED_REASON,st.PRICE_SCORE,st.REMOVE_TYPE
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultExternalMap">
		<!-- @mbggenerated -->
		select
		<include refid="Base_Column_List" />
		from T_BSS_PPMS_SALE_TENDER st
		where ID = #{id,jdbcType=VARCHAR}
		and
		IS_REMOVED = '0'
	</select>
	<select id="getPackageIds" parameterType="java.lang.String" resultType="bss.model.ppms.Packages">
		SELECT
			*
		FROM
			(
				SELECT
					*
				FROM
					T_BSS_PPMS_PACKAGE
				WHERE
					PROJECT_ID = #{projectId}
				
			) T
		WHERE
			T . ID IN (
				SELECT DISTINCT
					(PACKAGR_IDS)
				FROM
					T_BSS_PPMS_SALE_TENDER
				WHERE
					STATUS_BID = 2
				AND STATUS_BOND = 2
				AND PROJECT_ID = #{projectId}
				AND IS_REMOVED in ('0' , '2') 
			)
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- @mbggenerated -->
		delete from T_BSS_PPMS_SALE_TENDER
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		insert into T_BSS_PPMS_SALE_TENDER (ID, PROJECT_ID, STATUS_BID,
		SUPPLIER_ID, STATUS_BOND, CREATED_AT,
		UPDATED_AT,
		USER_ID,BID_FINISH,PACKAGR_IDS,
		IS_FIRST_PASS,ECONOMIC_SCORE,
		TECHNOLOGY_SCORE,REVIEW_RESULT,IS_REMOVED)
		values
		(#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR},
		#{statusBid,jdbcType=DECIMAL},
		#{supplierId,jdbcType=VARCHAR},
		#{statusBond,jdbcType=DECIMAL}, #{createdAt,jdbcType=TIMESTAMP},
		#{updatedAt,jdbcType=TIMESTAMP},
		#{userId,jdbcType=VARCHAR}),#{bidFinish,jdbcType=DECIMAL}
		,#{packages,jdbcType=VARCHAR},#{isFirstPass},
		#{economicScore,jdbcType=DECIMAL},#{technologyScore,jdbcType=DECIMAL},
		#{reviewResult,jdbcType=VARCHAR}
		,'0')
	</insert>
	<insert id="insertSelective" parameterType="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		insert into T_BSS_PPMS_SALE_TENDER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="statusBid != null">
				STATUS_BID,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="statusBond != null">
				STATUS_BOND,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="bidFinish != null">
				BID_FINISH,
			</if>
			<if test="packages != null">
				PACKAGR_IDS,
			</if>
			<if test="isFirstPass != null">
				IS_FIRST_PASS,
			</if>
			<if test="economicScore != null">
				ECONOMIC_SCORE,
			</if>
			<if test="technologyScore != null">
				TECHNOLOGY_SCORE,
			</if>
			<if test="reviewResult != null and reviewResult != ''">
				REVIEW_RESULT,
			</if>
			<if test="isRemoved != null and isRemoved != ''">
				IS_REMOVED,
			</if>
			<if test="removedReason != null and removedReason != ''">
				REMOVED_REASON,
			</if>
			<if test="isTurnUp != null">
				IS_TURN_UP,
			</if>
			<if test="removeType != null">
				REMOVE_TYPE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="statusBid != null">
				#{statusBid,jdbcType=DECIMAL},
			</if>
			<if test="supplierId != null">
				#{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="statusBond != null">
				#{statusBond,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="bidFinish != null">
				#{bidFinish,jdbcType=DECIMAL},
			</if>
			<if test="packages != null">
				#{packages,jdbcType=VARCHAR},
			</if>
			<if test="isFirstPass != null">
				#{isFirstPass},
			</if>
			<if test="economicScore != null">
				#{economicScore,jdbcType=DECIMAL},
			</if>
			<if test="technologyScore != null">
				#{technologyScore,jdbcType=DECIMAL},
			</if>
			<if test="reviewResult != null and reviewResult != ''">
				#{reviewResult,jdbcType=VARCHAR},
			</if>
			<if test="isRemoved != null and isRemoved != ''">
				#{isRemoved,jdbcType=VARCHAR},
			</if>
			<if test="removedReason != null and removedReason != ''">
				#{removedReason,jdbcType=VARCHAR},
			</if>
			<if test="isTurnUp != null">
				#{isTurnUp,jdbcType=DECIMAL},
			</if>
			<if test="removeType != null">
				#{removeType},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		update T_BSS_PPMS_SALE_TENDER
		<set>
			<if test="projectId != null">
				PROJECT_ID = #{projectId,jdbcType=VARCHAR},
			</if>
			<if test="statusBid != null">
				STATUS_BID = #{statusBid,jdbcType=DECIMAL},
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="statusBond != null">
				STATUS_BOND = #{statusBond,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="bidFinish">
				BID_FINISH=#{bidFinish,jdbcType=DECIMAL},
			</if>
			<if test="packages != null">
				PACKAGR_IDS = #{packages,jdbcType=VARCHAR},
			</if>
			<if test="isFirstPass != null">
				IS_FIRST_PASS = #{isFirstPass},
			</if>
			<if test="economicScore != null">
				ECONOMIC_SCORE = #{economicScore,jdbcType=DECIMAL},
			</if>
			<if test="technologyScore != null">
				TECHNOLOGY_SCORE=#{technologyScore,jdbcType=DECIMAL},
			</if>
			<if test="reviewResult != null and reviewResult != ''">
				REVIEW_RESULT = #{reviewResult,jdbcType=VARCHAR},
			</if>
			<if test="isRemoved != null and isRemoved != ''">
				IS_REMOVED = #{isRemoved,jdbcType=VARCHAR},
			</if>
			<if test="removedReason != null and removedReason != ''">
				REMOVED_REASON = #{removedReason,jdbcType=VARCHAR},
			</if>
			<if test="isTurnUp != null">
				IS_TURN_UP = #{isTurnUp,jdbcType=DECIMAL},
			</if>
			<if test="removeType != null">
				REMOVE_TYPE = #{removeType},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		update T_BSS_PPMS_SALE_TENDER
		set PROJECT_ID =
		#{project.id,jdbcType=VARCHAR},
		STATUS_BID =
		#{statusBid,jdbcType=DECIMAL},
		SUPPLIER_ID =
		#{suppliers.id,jdbcType=VARCHAR},
		STATUS_BOND =
		#{statusBond,jdbcType=DECIMAL},
		CREATED_AT =
		#{createdAt,jdbcType=TIMESTAMP},
		UPDATED_AT =
		#{updatedAt,jdbcType=TIMESTAMP},
		USER_ID = #{user.id,jdbcType=VARCHAR},
		BID_FINISH = #{bidFinish,jdbcType=DECIMAL},
		PACKAGR_IDS =
		#{packages,jdbcType=VARCHAR},
		IS_FIRST_PASS =
		#{isFirstPass,jdbcType=DECIMAL},
		ECONOMIC_SCORE =
		#{economicScore,jdbcType=DECIMAL},
		TECHNOLOGY_SCORE =
		#{technologyScore,jdbcType=DECIMAL},
		REVIEW_RESULT =
		#{reviewResult,jdbcType=VARCHAR},
		IS_REMOVED =
		#{isRemoved,jdbcType=VARCHAR},
		REMOVE_TYPE =
		#{removeType},
		REMOVED_REASON =
		#{removedReason,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateIsTurnUpByPrimaryKey" parameterType="bss.model.ppms.SaleTender">
		<!-- @mbggenerated -->
		update T_BSS_PPMS_SALE_TENDER
		set IS_TURN_UP = #{isTurnUp,jdbcType=DECIMAL}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="list" parameterType="bss.model.ppms.SaleTender"
		resultMap="BaseResultExternalMap">
		SELECT
		<include refid="Base_Column_List" />
		, ss.SUPPLIER_NAME
		FROM
		T_BSS_PPMS_SALE_TENDER st
		INNER JOIN
		T_SES_SMS_SUPPLIER ss ON st.SUPPLIER_ID = ss."ID"
		WHERE
		1=1
		<if
			test="suppliers != null and suppliers.supplierName != null and suppliers.supplierName != ''">
			AND ss.SUPPLIER_NAME LIKE CONCAT(CONCAT('%',  #{suppliers.supplierName}), '%') 
		</if>
		<if test="projectId != null and projectId != ''">
			and st.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
		</if>
		<if test="supplierId != null  and supplierId != '' ">
			and st.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
		</if>
		<if test="packages != null and packages != ''">
			and st.PACKAGR_IDS=#{packages,jdbcType=VARCHAR}
		</if>
		<if test="statusBid != null  and statusBid != '' ">
			and st.STATUS_BID=#{statusBid,jdbcType=DECIMAL}
		</if>
		<if test="statusBond != null  and statusBond != '' ">
			and st.STATUS_BOND=#{statusBond,jdbcType=DECIMAL}
		</if>
		<if test="isTurnUp != null">
			and st.IS_TURN_UP=#{isTurnUp,jdbcType=DECIMAL}
		</if>
		<if test="isFirstPass != null">
			AND st.IS_FIRST_PASS = #{isFirstPass}
		</if>
	</select>
	
	<select id="uploadCount" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		SELECT "COUNT"(*) as count FROM
		T_SES_BMS_ATTACHMENT
		WHERE
		BUSINESS_ID=#{businessId} AND IS_DELETED=0
	</select>

	<!-- 根据产品包名查询供应商 -->
	<select id="getPackegeSupplier" parameterType="bss.model.ppms.SaleTender"
		resultMap="BaseResultExternalMap">
		SELECT
		<include refid="Base_Column_List" />
		, ss.SUPPLIER_NAME
		, ss.ARMY_BUSINESS_TELEPHONE

		FROM
		T_BSS_PPMS_SALE_TENDER st

		INNER JOIN
		T_SES_SMS_SUPPLIER ss ON st.SUPPLIER_ID = ss."ID"

		WHERE
		1=1
		<if test="packages != null  and packages != '' ">
			AND st.PACKAGR_IDS = #{packages,jdbcType=VARCHAR}
		</if>
		<if test="project != null  and project != '' ">
			AND st.PROJECT_ID = #{project.id,jdbcType=VARCHAR}
		</if>
		<if test="suppliers != null and suppliers.supplierName != null and suppliers.supplierName != ''">
			AND ss.SUPPLIER_NAME LIKE CONCAT(CONCAT('%',  #{suppliers.supplierName,jdbcType=VARCHAR}), '%') 
		</if>
		<if
			test="suppliers != null and suppliers.armyBuinessTelephone != null and suppliers.armyBuinessTelephone != ''">
			AND ss.ARMY_BUSINESS_TELEPHONE LIKE CONCAT(CONCAT('%',  #{suppliers.armyBuinessTelephone,jdbcType=VARCHAR}), '%')
		</if>
		<if test="statusBid != null  and statusBid != '' ">
			AND st.STATUS_BID=#{statusBid,jdbcType=DECIMAL}
		</if>
		<if test="isTurnUp ==3 ">
			AND st.IS_TURN_UP=0
		</if>
		order by CREATED_AT
	</select>


	<select id="selectListByProjectId" resultMap="BaseResultExternalMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SALE_TENDER st
		where st.PROJECT_ID = #{_parameter}
	</select>


	<!-- 根据报名、项目Id查询供应商 -->
	<select id="getPackegeSuppliers" parameterType="bss.model.ppms.SaleTender"
		resultMap="BaseResultExternalMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SALE_TENDER st
		WHERE
		IS_REMOVED = '0'
		<if test="packages != null">
			AND st.PACKAGR_IDS = #{packages,jdbcType=VARCHAR}
		</if>
		<if test="project != null">
			AND st.PROJECT_ID = #{project.id,jdbcType=VARCHAR}
		</if>
		<if test="isFirstPass != null">
			AND st.IS_FIRST_PASS = #{isFirstPass}
		</if>
		<if test="isRemoved != null">
			AND st.IS_REMOVED = #{isRemoved,jdbcType=VARCHAR}
		</if>
		<if test="isTurnUp != null">
			AND st.IS_TURN_UP = #{isTurnUp}
		</if>
		<if test="supplierId != null  and supplierId != '' ">
			and st.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
		</if>
	</select>

	<!-- 根据项目id和供应商id查询供应商参与的包 -->
	<select id="find" parameterType="bss.model.ppms.SaleTender"
		resultMap="BaseResultExternalMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SALE_TENDER st
		WHERE
		STATUS_BID = 2
		<if test="suppliers != null">
			AND st.SUPPLIER_ID = #{suppliers.id,jdbcType=VARCHAR}
		</if>
		<if test="project != null">
			AND st.PROJECT_ID = #{project.id,jdbcType=VARCHAR}
		</if>
		<if test="packages != null">
			AND st.PACKAGR_IDS = #{packages,jdbcType=VARCHAR}
		</if>
		<if test="id != null">
			AND st.ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="isFirstPass != null">
			AND st.IS_FIRST_PASS = #{isFirstPass}
		</if>
		<if test="isRemoved != null and isRemoved != ''">
			AND st.IS_REMOVED = #{isRemoved,jdbcType=VARCHAR}
		</if>
		<if test="isTurnUp != null">
			AND st.IS_TURN_UP = #{isTurnUp}
		</if>
		<if test="economicScore != null">
			AND st.ECONOMIC_SCORE = #{economicScore,jdbcType=DECIMAL}
		</if>
		<if test="technologyScore != null">
			AND st.TECHNOLOGY_SCORE = #{technologyScore,jdbcType=DECIMAL}
		</if>
	</select>
	
	<!-- 根据项目id和供应商id查询供应商参与的包 -->
	<select id="findByProject" parameterType="bss.model.ppms.SaleTender"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SALE_TENDER st
		WHERE
		STATUS_BID = 2
		<if test="suppliers != null">
			AND st.SUPPLIER_ID = #{suppliers.id,jdbcType=VARCHAR}
		</if>
		<if test="project != null">
			AND st.PROJECT_ID = #{project.id,jdbcType=VARCHAR}
		</if>
		<if test="packages != null">
			AND st.PACKAGR_IDS = #{packages,jdbcType=VARCHAR}
		</if>
		<if test="id != null">
			AND st.ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="isFirstPass != null">
			AND st.IS_FIRST_PASS = #{isFirstPass}
		</if>
		<if test="isRemoved != null and isRemoved != ''">
			AND st.IS_REMOVED = #{isRemoved,jdbcType=VARCHAR}
		</if>
		<if test="isTurnUp != null">
			AND st.IS_TURN_UP = #{isTurnUp}
		</if>
		<if test="economicScore != null">
			AND st.ECONOMIC_SCORE = #{economicScore,jdbcType=DECIMAL}
		</if>
		<if test="technologyScore != null">
			AND st.TECHNOLOGY_SCORE = #{technologyScore,jdbcType=DECIMAL}
		</if>
		order by CREATED_AT
	</select>
	<select id="finds" parameterType="bss.model.ppms.SaleTender"
    resultMap="BaseResultExternalMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    T_BSS_PPMS_SALE_TENDER st
    WHERE
    STATUS_BID = 2
    <if test="suppliers != null">
      AND st.SUPPLIER_ID = #{suppliers.id,jdbcType=VARCHAR}
    </if>
    <if test="projectId != null">
      AND st.PROJECT_ID = #{projectId,jdbcType=VARCHAR}
    </if>
    <if test="packages != null">
      AND st.PACKAGR_IDS = #{packages,jdbcType=VARCHAR}
    </if>
    <if test="id != null">
      AND st.ID = #{id,jdbcType=VARCHAR}
    </if>
    <if test="isFirstPass != null">
      AND st.IS_FIRST_PASS = #{isFirstPass}
    </if>
    <if test="isRemoved != null and isRemoved != ''">
      AND st.IS_REMOVED = #{isRemoved,jdbcType=VARCHAR}
    </if>
    <if test="isTurnUp != null">
      AND st.IS_TURN_UP = #{isTurnUp}
    </if>
    <if test="economicScore != null">
      AND st.ECONOMIC_SCORE = #{economicScore,jdbcType=DECIMAL}
    </if>
    <if test="technologyScore != null">
      AND st.TECHNOLOGY_SCORE = #{technologyScore,jdbcType=DECIMAL}
    </if>
  </select>

	<update id="updateResult" parameterType="java.util.Map">
		update
		T_BSS_PPMS_SALE_TENDER
		set
		IS_FIRST_PASS = #{isFirstPass,jdbcType=DECIMAL},
		ECONOMIC_SCORE =
		#{economicScore,jdbcType=DECIMAL},
		TECHNOLOGY_SCORE =
		#{technologyScore,jdbcType=DECIMAL},
		REVIEW_RESULT =
		#{reviewResult,jdbcType=VARCHAR},
		IS_REMOVED =
		#{isRemoved,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="editSumScore" parameterType="java.util.Map">
		update
		T_BSS_PPMS_SALE_TENDER
		<set>
		<if test="economicScore != null">
		   ECONOMIC_SCORE = #{economicScore,jdbcType=DECIMAL},
		</if>
		<if test="technologyScore != null">
				TECHNOLOGY_SCORE =
				#{technologyScore,jdbcType=DECIMAL},
		</if>
		<if test="reviewResult != null">
			REVIEW_RESULT =
			#{reviewResult,jdbcType=VARCHAR},
		</if>
		<if test="priceScore != null">
			PRICE_SCORE =
			#{priceScore,jdbcType=DECIMAL},
		</if>
		</set>
		where SUPPLIER_ID =
		#{supplierId,jdbcType=VARCHAR}
		and PACKAGR_IDS =
		#{packageId,jdbcType=VARCHAR}
	</update>

	<update id="updateRank" parameterType="java.util.Map">
		update
		T_BSS_PPMS_SALE_TENDER
		set
		REVIEW_RESULT =
		#{reviewResult,jdbcType=VARCHAR}
		where SUPPLIER_ID =
		#{supplierId,jdbcType=VARCHAR}
		and PACKAGR_IDS =
		#{packageId,jdbcType=VARCHAR}
	</update>
	
	<update id="removeSaleTender" parameterType="java.util.Map">
		update
		T_BSS_PPMS_SALE_TENDER
		set
		IS_REMOVED = '1',
		<if test="removeType != null">
			REMOVE_TYPE = 0,
		</if>
		REMOVED_REASON = #{removedReason,jdbcType=VARCHAR}
		where
		SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR} and PACKAGR_IDS = #{packageId,jdbcType=VARCHAR}
	</update>

	<!-- 移除供应商 -->
	<delete id="delSaleDelete" parameterType="Map"> 
		DELETE FROM T_BSS_PPMS_SALE_TENDER WHERE
		PACKAGR_IDS=#{packagesId} AND SUPPLIER_ID = #{supplierId}
	</delete>
	
	<!-- 根据 供应商id 和招标文件id 获取该 项目的 状态 -->
  <select id="findBySupplierIdProjectId" parameterType="String" resultType="String">
  SELECT BID_FINISH  FROM
    T_BSS_PPMS_SALE_TENDER 
    WHERE SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR} AND PROJECT_ID=#{projectId,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据 供应商id 和招标文件id 获取该供应商可参与那些包数据-->
  <select id="findPackageBySupplierIdProjectId" parameterType="String" resultMap="BaseResultExternalMap">
  SELECT t.PROJECT_ID as projectId,p.id as id ,p.name as packageNames,t.supplier_id as supplierId,t.bid_finish as bidFinish FROM (
  SELECT PROJECT_ID,PACKAGR_IDS,supplier_id,bid_finish FROM T_BSS_PPMS_SALE_TENDER WHERE project_id=#{projectId,jdbcType=VARCHAR} 
  AND supplier_id=#{supplierId,jdbcType=VARCHAR} AND is_removed=0) t 
  LEFT JOIN T_BSS_PPMS_PACKAGE p ON t.PROJECT_ID=p.PROJECT_ID and t.PACKAGR_IDS=p.id
  </select>
  
  <!-- 根据预研包ID和预研项目Id查询供应商 -->
  <select id="getAdPackegeSuppliers" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    st.ID,st.CREATED_AT,st.STATUS_BID,ss.ID as supplierId,ss.SUPPLIER_NAME as supplierName,
    ss.ARMY_BUSINESS_TELEPHONE as armyBuinessTelephone,st.PACKAGR_IDS as packages,
    ss.ARMY_BUSINESS_NAME as armyBuinessName,st.IS_FIRST_PASS,st.IS_TURN_UP,st.USER_ID AS userId,
    st.STATUS_BOND,st.IS_TURN_UP,st.UPDATED_AT,st.BID_FINISH,st.ECONOMIC_SCORE,
    st.TECHNOLOGY_SCORE,st.REVIEW_RESULT,st.IS_REMOVED,st.REMOVED_REASON
    FROM
    T_BSS_PPMS_SALE_TENDER st
    INNER JOIN
    T_SES_SMS_SUPPLIER ss ON st.SUPPLIER_ID = ss.ID
    WHERE 1=1
    <if test="packageId != null">
      AND st.PACKAGR_IDS = #{packageId,jdbcType=VARCHAR}
    </if>
    <if test="projectId != null">
      AND st.PROJECT_ID = #{projectId,jdbcType=VARCHAR}
    </if>
    <if test="supplierId != null and supplierId != ''">
      AND ss.ID = #{supplierId,jdbcType=VARCHAR}
    </if>
    <if test="supplierName != null and supplierName != ''">
      AND ss.SUPPLIER_NAME LIKE CONCAT(CONCAT('%',  #{supplierName,jdbcType=VARCHAR}), '%') 
    </if>
    <if test="armyBuinessTelephone != null and armyBuinessTelephone != ''">
      AND ss.ARMY_BUSINESS_TELEPHONE LIKE CONCAT(CONCAT('%',  #{armyBuinessTelephone,jdbcType=VARCHAR}), '%')
    </if>
    <if test="statusBid != null  and statusBid != '' ">
      AND st.STATUS_BID=#{statusBid,jdbcType=DECIMAL}
    </if>
    <if test="isRemoved != null  and isRemoved != '' ">
      AND st.IS_REMOVED =#{isRemoved}
    </if>
    <if test="isFirstPass != null">
      AND st.IS_FIRST_PASS = #{isFirstPass}
    </if>
    <if test="isTurnUp != null">
      AND st.IS_TURN_UP = #{isTurnUp}
    </if>
  </select>
</mapper>