<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.ScoreModelMapper">
  <resultMap id="BaseResultMap" type="bss.model.ppms.ScoreModel">
    <id column="ID"  property="id" />
    <result column="project_id" property="projectId"/>
   	<result column="package_id" property="packageId"/>
   	<result column="mark_term_id" property="markTermId"/>
   	<result column="mark_term_name"  property="markTermName" />
   	<result column="name"  property="name" />
   	<result column="type_name"  property="typeName" />
   	<result column="review_content"  property="reviewContent" />
   	<result column="remark"  property="remark" />
   	<result column="easy_understand_content"  property="easyUnderstandContent" />
   	<result column="standard_explain"  property="standExplain" />
   	<result column="standard_score"  property="standardScore" />
   	<result column="judge_content"  property="judgeContent" />
   	<result column="review_param"  property="reviewParam" />
   	<result column="add_subtract_type_name"  property="addSubtractTypeName" />
   	<result column="unit_score"  property="unitScore" />
   	<result column="unit"  property="unit" />
   	<result column="review_stand_score"  property="reviewStandScore" />
   	<result column="max_score"  property="maxScore" />
   	<result column="min_score"  property="minScore" />
   	<result column="score"  property="score" />
   	<result column="interval_type_name"  property="intervalTypeName" />
   	<result column="deadline_number"  property="deadlineNumber" />
   	<result column="interval_number"  property="intervalNumber" />
   	<result column="is_deleted"  property="isDeleted" />
   	<result column="created_at"  property="createdAt" jdbcType="TIMESTAMP"/>
   	<result column="updated_at"  property="updatedAt" jdbcType="TIMESTAMP"/>
   	<result column="status"  property="status" />
   	<result column="judge_number"  property="judgeNumber" />
   	<!--新加下面字段  -->
   	<result column="IS_FLAG"  property="isHave" />
   	<result column="STAND_SCORES"  property="standScores" />
   	<result column="RELATION"  property="relation" />
   	<result column="RELATION_SCORE"  property="relationScore" />
   	<!-- <association property="markTerm" column="mark_term_id" select="bss.dao.ppms.MarkTermMapper.findMarkTermById"/> -->
   	<association property="markTerm" javaType="bss.model.ppms.MarkTerm">
   		<id column="mark_term_id" property="id"/>
     	<result column="mpid" property="pid"/>
     	<result column="mname" property="name"/>
     	<result column="mtypeName" property="typeName"/>
   	</association>
   	<collection property="paramIntervalList" ofType="bss.model.ppms.ParamInterval">
		<id column="piId"  property="id" />
	    <result column="piScoreModelId" jdbcType="VARCHAR" property="scoreModelId" />
	    <result column="piStartParam" jdbcType="VARCHAR" property="startParam" />
	    <result column="piEndParam" jdbcType="VARCHAR" property="endParam" />
	    <result column="piStartRelation" property="startRelation" />
	    <result column="piEndRelation"  property="endRelation" />
	    <result column="piScore" property="score" />
	    <result column="piExplain" property="explain" />
	    <result column="piIsDeleted" property="isDeleted" />
	    <result column="piCreatedAt" jdbcType="TIMESTAMP" property="createdAt" />
	    <result column="piUpdatedAt" jdbcType="TIMESTAMP" property="updatedAt" />
	</collection> 
  </resultMap>
  <!-- 基本查询  不关联一对多 -->
  <resultMap id="BaseMap" type="bss.model.ppms.ScoreModel">
    <id column="ID"  property="id" />
    <result column="project_id" property="projectId"/>
   	<result column="package_id" property="packageId"/>
   	<result column="mark_term_id" property="markTermId"/>
   	<result column="mark_term_name"  property="markTermName" />
   	<result column="name"  property="name" />
   	<result column="type_name"  property="typeName" />
   	<result column="review_content"  property="reviewContent" />
   	<result column="remark"  property="remark" />
   	<result column="easy_understand_content"  property="easyUnderstandContent" />
   	<result column="standard_explain"  property="standExplain" />
   	<result column="standard_score"  property="standardScore" />
   	<result column="judge_content"  property="judgeContent" />
   	<result column="review_param"  property="reviewParam" />
   	<result column="add_subtract_type_name"  property="addSubtractTypeName" />
   	<result column="unit_score"  property="unitScore" />
   	<result column="unit"  property="unit" />
   	<result column="review_stand_score"  property="reviewStandScore" />
   	<result column="max_score"  property="maxScore" />
   	<result column="min_score"  property="minScore" />
   	<result column="score"  property="score" />
   	<result column="interval_type_name"  property="intervalTypeName" />
   	<result column="deadline_number"  property="deadlineNumber" />
   	<result column="interval_number"  property="intervalNumber" />
   	<result column="is_deleted"  property="isDeleted" />
   	<result column="created_at"  property="createdAt" jdbcType="TIMESTAMP"/>
   	<result column="updated_at"  property="updatedAt" jdbcType="TIMESTAMP"/>
   	<result column="status"  property="status" />
   	<result column="judge_number"  property="judgeNumber" />
   	<result column="checked"  property="ischeck" />
   	<!--新加下面字段  -->
   	<result column="IS_FLAG"  property="isHave" />
   	<result column="STAND_SCORES"  property="standScores" />
   	<result column="RELATION"  property="relation" />
   	<result column="RELATION_SCORE"  property="relationScore" />
   	<!-- <association property="markTerm" column="mark_term_id" select="bss.dao.ppms.MarkTermMapper.findMarkTermById"/> -->
   	<association property="markTerm" javaType="bss.model.ppms.MarkTerm">
   		<id column="mark_term_id" property="id"/>
     	<result column="mpid" property="pid"/>
     	<result column="mname" property="name"/>
     	<result column="mtypeName" property="typeName"/>
     	<result column="ischeck"  property="checked" />
   	</association>
  </resultMap>
   <select id="findListByScoreModel" parameterType="bss.model.ppms.ScoreModel" resultMap="BaseMap">
   		SELECT
   			sm.*,
   			m.pid           as mpid,
   			m.name          as mname,
   			m.PNAME         as mpname,
   			m.TYPE_NAME   as mtypeName,
   			m.PACKAGE_ID as packageId,
   			m.CHECKED  as ischeck
   		FROM
   			T_BSS_PPMS_SCORE_MODEL SM
   		<!-- LEFT JOIN
   			T_BSS_PPMS_PARAM_INTERVAL PI
   		on sm.id = pi.score_model_id -->
   		LEFT JOIN T_BSS_PPMS_MARK_TERM m
   		on sm.MARK_TERM_ID = m."ID"
   		WHERE nvl(SM.is_deleted,0)=0
   		
   		<if test="projectId != null">
        	and SM.project_id = #{projectId}
      	</if>
      	<if test="packageId != null">
        	and SM.package_id = #{packageId}
      	</if>
      	<if test="typeName != null and typeName!='' ">
        	and SM.type_name = #{typeName}
      	</if>
      	<!-- <if test="markTerm != null and markTerm.name!='' ">
        	and m.name like CONCAT(CONCAT('%', #{markTerm.name}), '%')
      	</if> -->
      	<if test="name != null and name!='' ">
        	and sm.review_content like CONCAT(CONCAT('%', #{name}), '%')
        </if>
      	<if test="markTermId != null and markTermId !='' ">
        	and sm.mark_term_id = #{markTermId} 
      	</if>
      	<if test="markTerm != null and markTerm.typeName!=''">
        	and m.type_name = #{markTerm.typeName}
      	</if>
      	ORDER BY sm.CREATED_AT DESC	
   </select> 
    <select id="findScoreModelByScoreModel" parameterType="bss.model.ppms.ScoreModel" resultMap="BaseResultMap">
   		SELECT
   			sm.*,
   			pi.id	as piId,
   			pi.score_model_id	as piScoreModelId,
   			pi.start_param	as piStartParam,
   			pi.end_param as piEndParam,
   			pi.start_relation	as piStartRelation,
   			pi.end_relation	as piEndRelation,
   			pi.score	as piScore,
   			pi.explain	as piExplain,
   			pi.is_deleted	as piIsDeleted,
   			pi.created_at	as piCreatedAt,
   			pi.updated_at	as piUpdatedAt
   		FROM
   			T_BSS_PPMS_SCORE_MODEL SM
   	    LEFT JOIN
   			T_BSS_PPMS_PARAM_INTERVAL PI
   		on sm.id = pi.score_model_id
   		WHERE nvl(SM.is_deleted,0)=0
   		
   		<if test="projectId != null">
        	and SM.project_id = #{projectId}
      	</if>
      	<if test="packageId != null">
        	and SM.package_id = #{packageId}
      	</if>
      	<if test="markTermId != null">
        	and SM.mark_term_id = #{markTermId}
      	</if>
      	<if test="id != null">
        	and SM.id = #{id}
      	</if>
      	ORDER BY sm.CREATED_AT DESC	
   </select> 
 <!--  <select id="findListByScoreModel" parameterType="bss.model.ppms.ScoreModel" resultMap="BaseResultMap">
   		SELECT
   			sm.*,
   			pi.id	as piId,
   			pi.score_model_id	as piScoreModelId,
   			pi.start_param	as piStartParam,
   			pi.end_param as piEndParam,
   			pi.start_relation	as piStartRelation,
   			pi.end_relation	as piEndRelation,
   			pi.score	as piScore,
   			pi.explain	as piExplain,
   			pi.is_deleted	as piIsDeleted,
   			pi.created_at	as piCreatedAt,
   			pi.updated_at	as piUpdatedAt
   		FROM
   			T_BSS_PPMS_SCORE_MODEL SM
   		LEFT JOIN
   			T_BSS_PPMS_PARAM_INTERVAL PI
   		on sm.id = pi.score_model_id
   		LEFT JOIN T_BSS_PPMS_MARK_TERM m 
   		on s.MARK_TERM_ID = m."ID"
   		WHERE nvl(SM.is_deleted,0)=0
   		<if test="projectId != null">
        	and SM.project_id = #{projectId}
      	</if>
      	<if test="packageId != null">
        	and SM.package_id = #{packageId}
      	</if>
      	<if test="markTermId != null">
        	and SM.mark_term_id = #{markTermId}
      	</if>
      	ORDER BY sm.CREATED_AT DESC	
   </select>  -->
  <insert id="saveScoreModel" parameterType="bss.model.ppms.ScoreModel">
     <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_PPMS_SCORE_MODEL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      created_at,
      <if test="id != null">
        ID,
      </if>
     <if test="projectId != null">
        project_id,
      </if>
      <if test="packageId != null">
        package_id,
      </if>
      <if test="markTermId != null">
        mark_term_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="typeName != null">
        type_name ,
      </if>
      <if test="reviewContent != null">
        review_content,
      </if>
      <if test="remark != null">
        remark ,
      </if>
      <if test="easyUnderstandContent != null">
        easy_understand_content ,
      </if>
      <if test="standExplain != null">
        standard_explain ,
      </if>
      <if test="standardScore != null">
        standard_score ,
      </if>
      <if test="judgeContent != null">
        judge_content ,
      </if>
      <if test="reviewParam != null">
        review_param  ,
      </if>
      <if test="addSubtractTypeName != null">
        add_subtract_type_name ,
      </if>
      <if test="unitScore != null">
        unit_score,
      </if>
      <if test="unit != null">
        unit ,
      </if>
      <if test="reviewStandScore != null">
        review_stand_score ,
      </if>
      <if test="maxScore != null">
        max_score ,
      </if>
      <if test="minScore != null">
        min_score ,
      </if>
      <if test="score != null">
        score ,
      </if>
      <if test="intervalTypeName != null">
        interval_type_name,
      </if>
      <if test="deadlineNumber != null">
        deadline_number ,
      </if>
      <if test="intervalNumber != null">
        interval_number ,
      </if>
      <if test="isDeleted != null">
        is_deleted  ,
      </if>
      <if test="markTermName != null">
        mark_term_name ,
      </if>
       <if test="status != null">
        status ,
      </if>
       <if test="judgeNumber != null">
        judge_number ,
      </if>
      <if test="isHave != null">
        IS_FLAG ,
      </if>
      <if test="standScores != null">
        STAND_SCORES ,
      </if>
      <if test="relation != null">
        RELATION ,
      </if>
      <if test="relationScore != null">
        RELATION_SCORE ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      sysdate,
      <if test="id != null">
        #{id},
      </if>
      <if test="projectId != null">
         #{projectId},
      </if>
      <if test="packageId != null">
        #{packageId},
      </if>
      <if test="markTermId != null">
         #{markTermId},
      </if>
      <if test="name != null">
       #{name},
      </if>
      <if test="typeName != null">
        #{typeName},
      </if>
      <if test="reviewContent != null">
         #{reviewContent},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
      <if test="easyUnderstandContent != null">
         #{easyUnderstandContent},
      </if>
      <if test="standExplain != null">
         #{standExplain},
      </if>
      <if test="standardScore != null">
        #{standardScore},
      </if>
      <if test="judgeContent != null">
       #{judgeContent},
      </if>
      <if test="reviewParam != null">
        #{reviewParam},
      </if>
      <if test="addSubtractTypeName != null">
        #{addSubtractTypeName},
      </if>
      <if test="unitScore != null">
         #{unitScore},
      </if>
      <if test="unit != null">
        #{unit},
      </if>
      <if test="reviewStandScore != null">
        #{reviewStandScore},
      </if>
      <if test="maxScore != null">
       #{maxScore},
      </if>
      <if test="minScore != null">
       #{minScore},
      </if>
      <if test="score != null">
        #{score},
      </if>
      <if test="intervalTypeName != null">
        #{intervalTypeName},
      </if>
      <if test="deadlineNumber != null">
        #{deadlineNumber},
      </if>
      <if test="intervalNumber != null">
        #{intervalNumber},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="markTermName != null">
         #{markTermName},
      </if>
      <if test="status != null">
         #{status},
      </if>
      <if test="judgeNumber != null">
         #{judgeNumber},
      </if>
       <if test="isHave != null">
         #{isHave},
      </if>
      
       <if test="standScores != null">
         #{standScores},
      </if>
       <if test="relation != null">
         #{relation},
      </if>
       <if test="relationScore != null">
         #{relationScore},
      </if>
    </trim>
  </insert>
  <update id="updateScoreModel" parameterType="bss.model.ppms.ScoreModel">
    update T_BSS_PPMS_SCORE_MODEL
    set
      updated_at = sysdate
      <if test="projectId != null">
        ,project_id = #{projectId}
      </if>
      <if test="packageId != null">
        ,package_id = #{packageId}
      </if>
      <if test="markTermId != null">
        ,mark_term_id = #{markTermId}
      </if>
      <if test="name != null">
        ,name = #{name}
      </if>
      <if test="typeName != null">
        ,type_name = #{typeName}
      </if>
      <if test="reviewContent != null">
        ,review_content = #{reviewContent}
      </if>
      <if test="remark != null">
        ,remark = #{remark}
      </if>
      <if test="easyUnderstandContent != null">
        ,easy_understand_content = #{easyUnderstandContent}
      </if>
      <if test="standExplain != null">
        ,standard_explain = #{standExplain}
      </if>
      <if test="standardScore != null">
        ,standard_score = #{standardScore}
      </if>
      <if test="judgeContent != null">
        ,judge_content = #{judgeContent}
      </if>
      <if test="reviewParam != null">
        ,review_param = #{reviewParam}
      </if>
      <if test="addSubtractTypeName != null">
        ,add_subtract_type_name = #{addSubtractTypeName}
      </if>
      <if test="unitScore != null">
        ,unit_score = #{unitScore}
      </if>
      <if test="unit != null">
        ,unit = #{unit}
      </if>
      <if test="reviewStandScore != null">
        ,review_stand_score = #{reviewStandScore}
      </if>
      <if test="maxScore != null">
        ,max_score = #{maxScore}
      </if>
      <if test="minScore != null">
        ,min_score = #{minScore}
      </if>
      <if test="score != null">
        ,score = #{score}
      </if>
      <if test="intervalTypeName != null">
        ,interval_type_name = #{intervalTypeName}
      </if>
      <if test="deadlineNumber != null">
        ,deadline_number = #{deadlineNumber}
      </if>
      <if test="intervalNumber != null">
        ,interval_number = #{intervalNumber}
      </if>
      <if test="isDeleted != null">
        ,is_deleted = #{isDeleted}
      </if>
      <if test="markTermName != null">
        ,mark_term_name = #{markTermName}
      </if>
      <if test="status != null">
        ,status = #{status}
      </if>
       <if test="judgeNumber != null">
        ,judge_number = #{judgeNumber}
      </if>
       <if test="isHave != null">
       ,IS_FLAG =  #{isHave}
      </if>
       <if test="standScores != null">
       ,STAND_SCORES =  #{standScores}
      </if>
       <if test="relation != null">
        ,RELATION = #{relation}
      </if>
       <if test="relationScore != null">
        ,RELATION_SCORE = #{relationScore}
      </if>
      where 1=1
      <if test="id !=null">
	     and  id = #{id}
      </if>
      <if test="id ==null and markTermId !=null ">
	     and  mark_term_id = #{markTermId}
      </if>
      
  </update>
  <!-- 根据markTermId更新 -->
  <!-- 根据markTermId更新 -->
  <!-- 删除需求部门-->
	<delete id="delScoreModelByid" parameterType="java.util.Map">
		delete from T_BSS_PPMS_SCORE_MODEL s where s.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<!--按照markTermID删除  -->
	<delete id="deleteScoreModelByMtId">
		delete from T_BSS_PPMS_SCORE_MODEL s where s.mark_term_id  = #{markTermId}
	</delete>
	<!-- 逻辑删除需求部门-->
	<delete id="delScoreModelByMap" parameterType="java.util.Map">
		delete from T_BSS_PPMS_SCORE_MODEL s where 1=1
		<if test="markTermId != null">
         	and mark_term_id = #{markTermId}
      	</if>
      	<if test="projectId != null">
         	and PROJECT_ID = #{projectId}
      	</if>
      	<if test="packageId != null">
         	and package_id = #{packageId}
      	</if>
      	<if test="id != null">
         	and id= #{id}
      	</if>
	</delete>
	<update id="delSoftScoreModelByid" parameterType="java.util.Map">
		update  T_BSS_PPMS_SCORE_MODEL   t
		set t.IS_DELETED=1
		where t.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	<!-- t_bss_ppms_score_model 八大模型表 -->
	<!-- t_bss_ppms_mark_term -->
	<!-- <select id="findListByMarkTerm" parameterType="bss.model.ppms.MarkTerm" resultType="bss.model.ppms.MarkTerm">
   		SELECT
   			mt.*
   			
   		FROM
   			T_BSS_PPMS_MARK_TERM mt
   		
   		WHERE nvl(mt.is_deleted,0)=0
   		<if test="id != null">
        	and mt.id = #{id}
      	</if>
      	<if test="pid != null">
        	and mt.pid = #{pid}
      	</if>
      	<if test="name != null">
        	and mt.name = #{name}
      	</if>
      	<if test="pname != null">
        	and mt.pname = #{pname}
      	</if>	
      	只查根节点	
      	<if test="isRoot != null">
        	and mt.pid is null
      	</if>
      	ORDER BY mt.CREATED_AT DESC	
   </select> 
  <insert id="saveMarkTerm" parameterType="bss.model.ppms.MarkTerm">
     <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_PPMS_MARK_TERM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      created_at,
      <if test="id != null">
        ID,
      </if>
     <if test="pid != null">
        pid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pname != null">
        pname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      sysdate,
      <if test="id != null">
        #{id},
      </if>
      <if test="pid != null">
         #{pid},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="pname != null">
         #{pname},
      </if>
    </trim>
  </insert>
  <insert id="insert" parameterType="bss.model.ppms.MarkTerm">
  	insert into T_BSS_PPMS_MARK_TERM(id,pid,name,pname,CREATED_AT) values(
  	#{id},#{pid,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},
		  #{pname,jdbcType=VARCHAR},#{createdAt,jdbcType=TIMESTAMP}
  	)
  </insert>
  <update id="updateMarkTerm" parameterType="bss.model.ppms.MarkTerm">
    update T_BSS_PPMS_MARK_TERM
    set
      updated_at = sysdate
      <if test="pid != null">
        ,pid = #{pid}
      </if>
      <if test="name != null">
        ,name = #{name}
      </if>
      <if test="pname != null">
        ,pname = #{pname}
      </if>
      <if test="isDeleted != null">
        ,is_deleted = #{isDeleted}
      </if>
    where ID = #{id}
  </update>
  删除需求部门
	<delete id="delMarkTermByid" parameterType="java.util.Map">
		delete from T_BSS_PPMS_MARK_TERM s where s.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<delete id="delMarkTermByMap" parameterType="java.util.Map">
		delete from T_BSS_PPMS_MARK_TERM s where 1=1
		<if test="isRoot != null">
         	and pid is not null
      	</if>
      	<if test="id != null">
         	and id= #{id}
      	</if>
	</delete>
	
	逻辑删除需求部门
	<update id="delSoftMarkTermByid" parameterType="java.util.Map">
		update  T_BSS_PPMS_MARK_TERM   t
		set t.IS_DELETED=1
		where t.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
		
	</update>
	t_bss_ppms_mark_term 打分项表 
	t_bss_ppms_param_interval 参数区间表
	<select id="findListByParamInterval" parameterType="bss.model.ppms.ParamInterval" resultType="bss.model.ppms.ParamInterval">
   		SELECT
   			sm.*
   		FROM
   			T_BSS_PPMS_PARAM_INTERVAL SM
   		
   		WHERE nvl(SM.is_deleted,0)=0
   		<if test="scoreModelId != null">
        	and SM.score_model_id = #{scoreModelId}
      	</if>
      	<if test="id != null">
        	and SM.id = #{id}
      	</if>
      	<if test="score != null">
        	and SM.score = #{score}
      	</if>	
      	ORDER BY SM.CREATED_AT DESC	
   </select> 
  <insert id="saveParamInterval" parameterType="bss.model.ppms.ParamInterval">
     <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_PPMS_PARAM_INTERVAL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      created_at,
      <if test="id != null">
        ID,
      </if>
     <if test="scoreModelId != null">
        score_model_id,
      </if>
      <if test="startParam != null">
        start_param,
      </if>
      <if test="endParam != null">
        end_param,
      </if>
      <if test="startRelation != null">
        start_relation,
      </if>
      <if test="endRelation != null">
        end_relation ,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="explain != null">
        explain ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      sysdate,
      <if test="id != null">
        #{id},
      </if>
      <if test="scoreModelId != null">
         #{scoreModelId},
      </if>
      <if test="startParam != null">
        #{startParam},
      </if>
      <if test="endParam != null">
         #{endParam},
      </if>
      <if test="startRelation != null">
       #{startRelation},
      </if>
      <if test="endRelation != null">
        #{endRelation},
      </if>
      <if test="score != null">
         #{score},
      </if>
      <if test="explain != null">
        #{explain},
      </if>
    </trim>
  </insert>
  <update id="updateParamInterval" parameterType="bss.model.ppms.ParamInterval">
    update T_BSS_PPMS_PARAM_INTERVAL
    set
      updated_at = sysdate
      <if test="scoreModelId != null">
        ,score_model_id = #{scoreModelId}
      </if>
      <if test="startParam != null">
        ,start_param = #{startParam}
      </if>
      <if test="endParam != null">
        ,end_param = #{endParam}
      </if>
      <if test="startRelation != null">
        ,start_relation = #{startRelation}
      </if>
      <if test="endRelation != null">
        ,end_relation = #{endRelation}
      </if>
      <if test="score != null">
        ,score = #{score}
      </if>
      <if test="explain != null">
        ,explain = #{explain}
      </if>
    where ID = #{id}
  </update>
  删除需求部门
	<delete id="delParamIntervalByid" parameterType="java.util.Map">
		delete from T_BSS_PPMS_PARAM_INTERVAL s where s.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<delete id="delParamIntervalByMap" parameterType="java.util.Map">
		delete from T_BSS_PPMS_PARAM_INTERVAL s where 1=1
		<if test="scoreModelId != null">
         	and SCORE_MODEL_ID = #{scoreModelId}
      	</if>
      	<if test="id != null">
         	and id= #{id}
      	</if>
	</delete>
	逻辑删除需求部门
	<update id="delSoftParamIntervalByid" parameterType="java.util.Map">
		update  T_BSS_PPMS_PARAM_INTERVAL   t
		set t.IS_DELETED=1
		where t.id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update> -->
	<!-- t_bss_ppms_param_interval 参数区间表 -->
</mapper>