<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.SupplierCheckPassMapper">
	<resultMap id="BaseResultMap" type="bss.model.ppms.SupplierCheckPass">
		<!-- @mbggenerated -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
		<result column="JOIN_TIME" jdbcType="TIMESTAMP" property="joinTime" />
		<result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
		<result column="RANKING" jdbcType="DECIMAL" property="ranking" />
		<result column="TOTAL_PRICE" jdbcType="DECIMAL" property="totalPrice" />
		<result column="TOTAL_SCORE" jdbcType="DECIMAL" property="totalScore" />
		<result column="PACKAGE_ID" jdbcType="VARCHAR" property="packageId" />
		<result column="IS_WON_BID" jdbcType="DECIMAL" property="isWonBid" />
		<result column="IS_SEND_NOTICE" jdbcType="DECIMAL" property="isSendNotice" />
		<result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="CONFIRM_TIME" jdbcType="TIMESTAMP" property="confirmTime" />
		<result column="IS_CREATE_CONTRACT" jdbcType="DECIMAL"
			property="isCreateContract" />
		<result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
		<result column="PRICE_RATIO" jdbcType="DECIMAL" property="priceRatio" />
		<result column="CONTRACT_ID" jdbcType="VARCHAR" property="contractId" />
		<result column="WON_PRICE" jdbcType="DECIMAL" property="wonPrice" />
		<result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />

		<association property="supplier" column="SUPPLIER_ID"
			select="ses.dao.sms.SupplierMapper.selectByPrimaryKey" />
	</resultMap>

	<resultMap id="BaseResultMapPackage" type="bss.model.ppms.Packages">
		<!-- @mbggenerated -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
	</resultMap>

	<resultMap type="bss.model.ppms.SupplierCheckPass" id="BaseResultMapList">
		<result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
		<result column="PACKAGE_ID" jdbcType="VARCHAR" property="packageId" />
		<association property="supplier" column="SUPPLIER_ID"
			select="ses.dao.sms.SupplierMapper.selectByPrimaryKey" />
	</resultMap>

	<resultMap id="SelectResultMapPackage" type="bss.model.ppms.Packages">
		<id column="PPID" jdbcType="VARCHAR" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<collection property="supplierList" ofType="bss.model.ppms.SupplierCheckPass">
			<!-- @mbggenerated -->
			<id column="ID" jdbcType="VARCHAR" property="id" />
			<result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
			<result column="JOIN_TIME" jdbcType="TIMESTAMP" property="joinTime" />
			<result column="RANKING" jdbcType="DECIMAL" property="ranking" />
			<result column="TOTAL_PRICE" jdbcType="DECIMAL" property="totalPrice" />
			<result column="TOTAL_SCORE" jdbcType="DECIMAL" property="totalScore" />
			<result column="PACKAGE_ID" jdbcType="VARCHAR" property="packageId" />
			<result column="IS_WON_BID" jdbcType="DECIMAL" property="isWonBid" />
			<result column="IS_SEND_NOTICE" jdbcType="DECIMAL" property="isSendNotice" />
			<result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
			<result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
			<association property="supplier" column="SUPPLIER_ID"
				select="ses.dao.sms.SupplierMapper.selectByPrimaryKey" />
		</collection>
	</resultMap>

	<sql id="Base_Column_List">
		<!-- @mbggenerated -->
		cp.ID, cp.PROJECT_ID, cp.JOIN_TIME, cp.SUPPLIER_ID, cp.RANKING,
		cp.TOTAL_PRICE,
		cp.TOTAL_SCORE, cp.PACKAGE_ID,
		cp.IS_WON_BID,
		cp.IS_SEND_NOTICE, cp.CREATED_AT,
		cp.UPDATED_AT,cp.IS_CREATE_CONTRACT,cp.PRICE_RATIO,cp.WON_PRICE,cp.CONTRACT_ID,cp.IS_DELETED,cp.CONFIRM_TIME
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		<!-- @mbggenerated -->
		select
		<include refid="Base_Column_List" />
		from T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
		where ID =
		#{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- @mbggenerated -->
		delete from T_BSS_PPMS_SUPPLIER_CHECK_PASS
		where ID =
		#{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="bss.model.ppms.SupplierCheckPass">
		<!-- @mbggenerated -->
		insert into T_BSS_PPMS_SUPPLIER_CHECK_PASS (ID, PROJECT_ID, JOIN_TIME,
		SUPPLIER_ID, RANKING, TOTAL_PRICE,
		TOTAL_SCORE, PACKAGE_ID,
		IS_WON_BID,
		IS_SEND_NOTICE, CREATED_AT, UPDATED_AT
		)
		values
		(#{id,jdbcType=VARCHAR},
		#{projectId,jdbcType=VARCHAR},
		#{joinTime,jdbcType=TIMESTAMP},
		#{supplierId,jdbcType=VARCHAR},
		#{ranking,jdbcType=DECIMAL},
		#{totalPrice,jdbcType=DECIMAL},
		#{totalScore,jdbcType=DECIMAL},
		#{packageId,jdbcType=VARCHAR},
		#{isWonBid,jdbcType=DECIMAL},
		#{isSendNotice,jdbcType=DECIMAL},
		#{createdAt,jdbcType=TIMESTAMP},
		#{updatedAt,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="bss.model.ppms.SupplierCheckPass">
		<!-- @mbggenerated -->
		insert into T_BSS_PPMS_SUPPLIER_CHECK_PASS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="joinTime != null">
				JOIN_TIME,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="ranking != null">
				RANKING,
			</if>
			<if test="totalPrice != null">
				TOTAL_PRICE,
			</if>
			<if test="totalScore != null">
				TOTAL_SCORE,
			</if>
			<if test="packageId != null">
				PACKAGE_ID,
			</if>
			<if test="isWonBid != null">
				IS_WON_BID,
			</if>
			<if test="isSendNotice != null">
				IS_SEND_NOTICE,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="priceRatio != null">
				PRICE_RATIO,
			</if>
			<if test="wonPrice != null">
				WON_PRICE,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="joinTime != null">
				#{joinTime,jdbcType=TIMESTAMP},
			</if>
			<if test="supplierId != null">
				#{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="ranking != null">
				#{ranking,jdbcType=DECIMAL},
			</if>
			<if test="totalPrice != null">
				#{totalPrice,jdbcType=DECIMAL},
			</if>
			<if test="totalScore != null">
				#{totalScore,jdbcType=DECIMAL},
			</if>
			<if test="packageId != null">
				#{packageId,jdbcType=VARCHAR},
			</if>
			<if test="isWonBid != null">
				#{isWonBid,jdbcType=DECIMAL},
			</if>
			<if test="isSendNotice != null">
				#{isSendNotice,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="priceRatio != null">
				#{priceRatio,jdbcType=DECIMAL},
			</if>
			<if test="wonPrice != null">
				#{wonPrice,jdbcType=DECIMAL},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.SupplierCheckPass">
		<!-- @mbggenerated -->
		update T_BSS_PPMS_SUPPLIER_CHECK_PASS
		<set>
			<if test="joinTime != null">
				JOIN_TIME = #{joinTime,jdbcType=TIMESTAMP},
			</if>
			<if test="ranking != null">
				RANKING = #{ranking,jdbcType=DECIMAL},
			</if>
			<if test="totalPrice != null">
				TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
			</if>
			<if test="totalScore != null">
				TOTAL_SCORE = #{totalScore,jdbcType=DECIMAL},
			</if>
			<if test="isWonBid != null">
				IS_WON_BID = #{isWonBid,jdbcType=DECIMAL},
			</if>
			<if test="isSendNotice != null">
				IS_SEND_NOTICE = #{isSendNotice,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="confirmTime != null">
				CONFIRM_TIME = #{confirmTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isCreateContract != null">
				IS_CREATE_CONTRACT = #{isCreateContract},
			</if>
			<if test="contractId != null">
				CONTRACT_ID = #{contractId},
			</if>
			<if test="priceRatio != null">
				PRICE_RATIO = #{priceRatio},
			</if>
			<if test="wonPrice != null">
				WON_PRICE = #{wonPrice},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
			</if>
		</set>
		where 1=1
		<if test="supplierId != null and supplierId != '' ">
			and SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
		</if>
		<if test="packageId != null and packageId != ''">
			and PACKAGE_ID = #{packageId,jdbcType=VARCHAR}
		</if>
		<if test="id != null and id != ''">
			and ID = #{id,jdbcType=VARCHAR}
		</if>
	</update>
	<update id="updateByPrimaryKey" parameterType="bss.model.ppms.SupplierCheckPass">
		<!-- @mbggenerated -->
		update T_BSS_PPMS_SUPPLIER_CHECK_PASS
		set PROJECT_ID =
		#{projectId,jdbcType=VARCHAR},
		JOIN_TIME =
		#{joinTime,jdbcType=TIMESTAMP},
		SUPPLIER_ID =
		#{supplierId,jdbcType=VARCHAR},
		RANKING =
		#{ranking,jdbcType=DECIMAL},
		TOTAL_PRICE =
		#{totalPrice,jdbcType=DECIMAL},
		TOTAL_SCORE =
		#{totalScore,jdbcType=DECIMAL},
		PACKAGE_ID =
		#{packageId,jdbcType=VARCHAR},
		IS_WON_BID =
		#{isWonBid,jdbcType=DECIMAL},
		IS_SEND_NOTICE =
		#{isSendNotice,jdbcType=DECIMAL},
		CREATED_AT =
		#{createdAt,jdbcType=TIMESTAMP},
		UPDATED_AT =
		#{updatedAt,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<!-- 获取包id和包name -->
	<select id="getPackageName" parameterType="java.lang.String"
		resultMap="BaseResultMapPackage">
		SELECT PP."ID",PP."NAME" FROM T_BSS_PPMS_PACKAGE pp WHERE
		PP.PROJECT_ID=#{projectId}
	</select>
	<!-- 获取项目包下所有信息 -->
	<select id="listPackage" parameterType="java.lang.String"
		resultMap="SelectResultMapPackage">
		SELECT
		PP."NAME",pp."ID" as PPID,
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_PACKAGE pp
		INNER JOIN T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
		ON PP."ID" = CP.PACKAGE_ID
		WHERE 
		PP.PROJECT_ID =#{projectId}
		ORDER BY
		CP.TOTAL_SCORE DESC
	</select>
	<!-- 根据包id获取包下为未发送通知的供应商和中标未中标的供应商 -->
	<select id="listSupplierCheckPass" parameterType="bss.model.ppms.SupplierCheckPass"
		resultMap="BaseResultMapList">


		SELECT wm_concat(CC."NAME") PACKAGE_ID, CC.SUPPLIER_ID FROM(
		SELECT
		pp.name ,CP.PACKAGE_ID,CP.SUPPLIER_ID
		,CP.PROJECT_ID,CP.IS_WON_BID,CP.IS_SEND_NOTICE
		FROM
		T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
		LEFT JOIN T_BSS_PPMS_PACKAGE
		pp ON CP.PACKAGE_ID = PP."ID"
		) CC
		WHERE 1=1 AND CC.PROJECT_ID =
		#{projectId} AND
		CC.IS_WON_BID =#{isWonBid} AND CC.IS_SEND_NOTICE=
		#{isSendNotice}

		GROUP BY CC.SUPPLIER_ID

	</select>

	<select id="listCheckPass" parameterType="bss.model.ppms.SupplierCheckPass"
		resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
		WHERE
		1=1
		<if test="id != null and id != ''">
			AND CP.ID =#{id}
		</if>
		<if test="packageId != null and packageId != ''">
			AND CP.PACKAGE_ID =#{packageId}
		</if>
		<if test="projectId != null and projectId != ''">
		  AND CP.PROJECT_ID =#{projectId}
	    </if>
		<if test="supplierId != null and supplierId != ''">
			AND CP.SUPPLIER_ID =#{supplierId}
		</if>
		<if test="isSendNotice != null and isSendNotice != '' ">
			AND IS_SEND_NOTICE=#{isSendNotice}
		</if>
		<if test="isWonBid !=null and isWonBid !='' ">
			AND IS_WON_BID = #{isWonBid}
		</if>

		ORDER BY
		RANKING

	</select>
	
	<!-- @author Ma Mingwei -->
	<select id="listCheckPassBD" parameterType="bss.model.ppms.SupplierCheckPass"
		resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
		WHERE
		1=1
		<if test="id != null and id != ''">
			AND CP.ID =#{id}
		</if>
		<if test="projectId != null and projectId != ''">
	      AND CP.PROJECT_ID =#{projectId}
	    </if>
		<if test="packageId != null and packageId != ''">
			AND CP.PACKAGE_ID =#{packageId}
		</if>
		<if test="supplierId != null and supplierId != ''">
			AND CP.SUPPLIER_ID in ${supplierId}
		</if>
		<if test="isSendNotice != null and isSendNotice != '' ">
			AND IS_SEND_NOTICE=#{isSendNotice}
		</if>
		<if test="isWonBid !=null and isWonBid !='' ">
			AND IS_WON_BID = #{isWonBid}
		</if>

		ORDER BY
		RANKING

	</select>
<!-- @author Ma Mingwei -->
	<select id="listsupplier" parameterType="Map"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SUPPLIER_CHECK_PASS cp,
		T_BSS_PPMS_PROJECTS TP
		WHERE cp.PROJECT_ID=TP.ID
		<if test="isWonBid !=null and isWonBid !='' ">
			AND CP.IS_WON_BID = #{isWonBid}
		</if>
        <if test="purchaseDepId !=null and purchaseDepId !='' ">
			AND TP.PURCHASE_DEP_ID = #{purchaseDepId}
		</if>
		<if test="projectName !=null and projectName !='' ">
			AND TP.name like '%'||#{projectName}||'%'
		</if>
		<if test="projectCode !=null and projectCode !='' ">
			AND TP.project_Number like '%'||#{projectCode}||'%'
		</if>
		<if test="isCreateContract !=null and isCreateContract !='' ">
		   
			AND CP.IS_CREATE_CONTRACT=#{isCreateContract}
			
		</if>
		ORDER BY CP.IS_CREATE_CONTRACT 

	</select>
	<!-- 关联包 -->
	<select id="getByCheckPass" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
		WHERE   cp.PACKAGE_ID =#{packageId}
		and cp.IS_WON_BID =1
	</select>
	
	
	<!-- 单一来源关联包 -->
  <select id="getByCheck" parameterType="java.lang.String"
    resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
    WHERE   cp.PACKAGE_ID =#{packageId}
  </select>

	<!-- 查询每包是否都选择了中标供应商 -->
	<select id="selectWonBid" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT PACKAGE_ID FROM T_BSS_PPMS_SUPPLIER_CHECK_PASS
		WHERE 
		IS_WON_BID=1 AND
		PROJECT_ID = #{projectId}
		GROUP BY PACKAGE_ID
	</select>
<!-- 查询每包是否都选择了中标供应商 -->
	
<select id="getByContractId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
		WHERE  cp.CONTRACT_ID=#{contractId} and cp.IS_DELETED=0 and cp.IS_WON_BID =1
	</select>
	<select id="selectPackageIdWonBid" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
        <include refid="Base_Column_List" /> 
        FROM T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
		WHERE 
		cp.IS_WON_BID=1 AND 
		cp.IS_DELETED=0 and 
		cp.PACKAGE_ID = #{packageId}
	</select>
	<select id="listCheckPassOrderRanking" parameterType="java.lang.String"
		resultMap="BaseResultMap">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_BSS_PPMS_SUPPLIER_CHECK_PASS cp
		WHERE
		1=1
	    AND CP.PACKAGE_ID =#{packageId}
	    and cp.IS_WON_BID=1
		ORDER BY
		RANKING

	</select>
</mapper>