<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bss.dao.ppms.TaskMapper">
  <resultMap id="BaseResultMap" type="bss.model.ppms.Task">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="DOCUMENT_NUMBER" property="documentNumber" />
    <result column="GIVE_TIME" property="giveTime" jdbcType="TIMESTAMP"/>
    <result column="STATUS"  property="status" />
    <result column="PROCUREMENT_METHOD" property="procurementMethod" />
    <result column="PURCHASE_REQUIRED_ID" property="purchaseRequiredId" />
    <result column="IS_DELETED" property="isDeleted" />
    <result column="MATERIALS_TYPE" property="materialsType" />
    <result column="YEAR" property="year" jdbcType="TIMESTAMP"/>
    <result column="COLLECT_ID" property="collectId" />
    <result column="ACCEPT_TIME" property="acceptTime" jdbcType="TIMESTAMP"/>
    <result column="PASS_WORD" property="passWord" />
    <result column="TASK_NATURE" property="taskNature" />
    <result property="purchaseId" column="PURCHASE_ID" />
    <result property="orgName" column="orgName" />
    <result property="orgId" column="ORG_ID" />
    <result property="notDetail" column="NOT_DETAIL" />
    <result property="createrId" column="CREATER_ID" />
    <result property="userId" column="USER_ID" />
  </resultMap>
  
  <resultMap type="bss.model.ppms.Task" id="ProjectResultMap" extends="BaseResultMap">  
    <collection property="project" ofType="bss.model.ppms.Project">  
        <result column="tid" property="id" />
        <result column="tname" property="name" />
         <result column="tprojectNumber" property="projectNumber" />
    </collection>
  </resultMap> 
  
  <sql id="Base_Column_List">
    ID, NAME, PURCHASE_ID, DOCUMENT_NUMBER, GIVE_TIME,STATUS,PROCUREMENT_METHOD,PURCHASE_REQUIRED_ID,IS_DELETED,
    MATERIALS_TYPE,YEAR,ACCEPT_TIME,COLLECT_ID,PASS_WORD,TASK_NATURE,NOT_DETAIL,ORG_ID,CREATER_ID,USER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_TASK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByCollectId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_TASK
    where COLLECT_ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="listByTask" parameterType="bss.model.ppms.Task" resultMap="BaseResultMap">
    select 
    *
    from T_BSS_PPMS_TASK
    where  STATUS = 0
    <if test="id != null">
       and  ID = #{id}
     </if>
     <if test="name != null and name != ''">
       and  NAME = #{name}
     </if>
      <if test="status != null">
       and  STATUS = #{status}
     </if>
      <if test="procurementMethod != null">
        and PROCUREMENT_METHOD = #{procurementMethod} 
      </if>
      <if test="year != null">
        and YEAR like CONCAT(CONCAT('%', #{year}), '%')
      </if>
      <if test="giveTime != null">
        and GIVE_TIME =  #{giveTime}
      </if>
      <if test="purchaseId != null and purchaseId !=''">
        and PURCHASE_ID like  CONCAT(CONCAT('%', #{purchaseId}), '%')
      </if> 
      <if test="documentNumber != null and documentNumber !=''">
        and DOCUMENT_NUMBER like  CONCAT(CONCAT('%', #{documentNumber}), '%')
      </if>
       <if test="purchaseRequiredId != null">
        and PURCHASE_REQUIRED_ID = #{purchaseRequiredId}
      </if>
      <if test="materialsType != null">
        and MATERIALS_TYPE = #{materialsType}
      </if>
     ORDER BY GIVE_TIME DESC
  </select>
  
  <select id="likeByName" resultType="bss.model.ppms.Task" parameterType="java.util.Map">
    select
    t.ID as id,
    t.NAME as name,
    t.COLLECT_ID as collectId,
    t.PURCHASE_ID as purchaseId,
    t.PURCHASE_REQUIRED_ID as purchaseRequiredId,
    t.STATUS as status,
    t.DOCUMENT_NUMBER as documentNumber,
    t.TASK_NATURE as taskNature,
    t.GIVE_TIME as giveTime,
    t.MATERIALS_TYPE as materialsType,
    t.ORG_ID as orgId,
    o.NAME as orgName 
    from T_BSS_PPMS_TASK t left join T_SES_OMS_ORG o on t.PURCHASE_ID = o.ID where 1=1
    and t.IS_DELETED = 0 
    <if test="name != null and name !=''">
      and t.NAME like CONCAT(CONCAT('%', #{name}), '%')
    </if>
    <if test="orgName != null and orgName !=''">
      and o.NAME like CONCAT(CONCAT('%', #{orgName}), '%')
    </if>
    <if test="documentNumber != null and documentNumber !=''">
       and t.DOCUMENT_NUMBER like CONCAT(CONCAT('%', #{documentNumber}), '%')
    </if>
    <if test="status != null">
       and  t.STATUS = #{status}
     </if>
     <if test="purchaseId != null">
       and  t.PURCHASE_ID = #{purchaseId}
     </if>
     <if test="collectId != null">
       and  t.COLLECT_ID = #{collectId}
     </if>
     <if test="taskNature != null">
       and  t.TASK_NATURE = #{taskNature}
     </if>
     <if test="userId != null and userId != ''">
           and t.PURCHASE_ID in (
                 SELECT ORG_ID FROM T_SES_BMS_USER 
                  <if test="userId != '' and userId != null">
	                 	WHERE ID = #{userId} 
	              	</if>      
              )                         
     </if> 
    
     ORDER BY GIVE_TIME DESC, STATUS ASC
  </select>
  
  
  <select id="listBycollect" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from T_BSS_PPMS_TASK
    where IS_DELETED = 0 
     <if test="collectId != null">
       and  COLLECT_ID = #{collectId}
     </if>
     <if test="purchaseId != null">
       and PURCHASE_ID = #{purchaseId}
      </if>
  </select>
  
    <select id="likeByTask" parameterType="bss.model.ppms.Task" resultMap="BaseResultMap">
    select 
    *
    from T_BSS_PPMS_TASK
    where  IS_DELETED = 0 
    <if test="id != null">
       and  ID = #{id}
     </if>
     <if test="name != null and name != ''">
       and  NAME = #{name}
     </if>
      <if test="status != null">
       and  STATUS = #{status}
     </if>
      <if test="procurementMethod != null">
        and PROCUREMENT_METHOD = #{procurementMethod} 
      </if>
      <if test="year != null">
        and YEAR like CONCAT(CONCAT('%', #{year}), '%')
      </if>
      <if test="giveTime != null">
        and GIVE_TIME =  #{giveTime}
      </if>
      <if test="purchaseId != null and purchaseId !=''">
        and PURCHASE_ID  = #{purchaseId}
      </if> 
      <if test="documentNumber != null and documentNumber !=''">
        and DOCUMENT_NUMBER like  CONCAT(CONCAT('%', #{documentNumber}), '%')
      </if>
       <if test="purchaseRequiredId != null">
        and PURCHASE_REQUIRED_ID = #{purchaseRequiredId}
      </if>
      <if test="materialsType != null">
        and MATERIALS_TYPE = #{materialsType}
      </if>
       <if test="taskNature != null">
        and TASK_NATURE = #{taskNature}
      </if>
      <if test="collectId != null">
       and  COLLECT_ID = #{collectId}
     </if>
     ORDER BY STATUS,GIVE_TIME DESC
  </select>
  <select id="verifyByTask" parameterType="bss.model.ppms.Task" resultMap="BaseResultMap">
    select 
    *
    from T_BSS_PPMS_TASK
    where  IS_DELETED = 0 
    <if test="id != null">
       and  ID = #{id}
     </if>
     <if test="name != null and name != ''">
       and  NAME = #{name}
     </if>
      <if test="status != null">
       and  STATUS = #{status}
     </if>
      <if test="procurementMethod != null">
        and PROCUREMENT_METHOD = #{procurementMethod} 
      </if>
      <if test="year != null">
        and YEAR like  CONCAT(CONCAT('%', #{year}), '%')
      </if>
      <if test="giveTime != null">
        and GIVE_TIME =  #{giveTime}
      </if>
      <if test="purchaseId != null and purchaseId !=''">
        and PURCHASE_ID like  CONCAT(CONCAT('%', #{purchaseId}), '%')
      </if> 
      <if test="documentNumber != null and documentNumber !=''">
        and DOCUMENT_NUMBER = #{documentNumber}
      </if>
       <if test="purchaseRequiredId != null">
        and PURCHASE_REQUIRED_ID = #{purchaseRequiredId}
      </if>
      <if test="materialsType != null">
        and MATERIALS_TYPE = #{materialsType}
      </if>
     ORDER BY GIVE_TIME DESC
  </select>
  <select id="selectByProject" parameterType="java.lang.String" resultMap="BaseResultMap">
   	SELECT
		P.NAME AS tname,
		P.PROJECT_NUMBER AS tprojectNumber,
		T.ID AS ID,
		T.NAME AS NAME,
		T.MATERIALS_TYPE AS MATERIALS_TYPE,
		T.YEAR AS YEAR,
		T.PROJECT_ID AS PROJECT_ID,
		T.PURCHASE_REQUIRED_ID AS PURCHASE_REQUIRED_ID,
		T.PROCUREMENT_METHOD AS PROCUREMENT_METHOD,
		T.PURCHASE_ID AS PURCHASE_ID,
		T.COLLECT_ID AS COLLECT_ID
	FROM
		T_BSS_PPMS_TASK T
	LEFT JOIN T_BSS_PPMS_PROJECTS P ON P.ID = T.PROJECT_ID 
	WHERE T.PROJECT_ID = #{id}   
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BSS_PPMS_TASK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <!-- 假删除 -->
  <update id="softDelete" parameterType="java.lang.String">
    update T_BSS_PPMS_TASK
    set IS_DELETED = 1 where ID = #{id}
  </update>
    <!-- 受领 -->
  <update id="startTask" parameterType="java.lang.String">
    update T_BSS_PPMS_TASK
    set STATUS = 1 where ID = #{id}
  </update>
  <insert id="insert" parameterType="bss.model.ppms.Task">
    insert into T_BSS_PPMS_TASK (ID, NAME, 
      PURCHASE_ID, DOCUMENT_NUMBER, GIVE_TIME, STATUS, PROCUREMENT_METHOD, PURCHASE_REQUIRED_ID,
      )
    values (#{id}, #{name}, 
      #{purchaseId}, #{documentNumber}, #{giveTime,jdbcType=TIMESTAMP}, #{status}, #{procurementMethod}, #{purchaseRequiredId},
      )
  </insert>
  <insert id="insertSelective" parameterType="bss.model.ppms.Task">
    insert into T_BSS_PPMS_TASK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="purchaseId != null">
        PURCHASE_ID,
      </if>
      <if test="documentNumber != null">
        DOCUMENT_NUMBER,
      </if>
      <if test="giveTime != null">
        GIVE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="procurementMethod != null">
        PROCUREMENT_METHOD,
      </if>
      <if test="purchaseRequiredId != null">
        PURCHASE_REQUIRED_ID,
      </if>
      <if test="materialsType != null">
        MATERIALS_TYPE,
      </if>
      <if test="year != null">
        YEAR,
      </if>
      <if test="acceptTime != null">
        ACCEPT_TIME,
      </if>
      <if test="collectId != null">
        COLLECT_ID,
      </if>
      <if test="passWord != null">
        PASS_WORD,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="taskNature != null">
        TASK_NATURE,
      </if>
      <if test="notDetail != null">
        NOT_DETAIL,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="createrId != null">
        CREATER_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="purchaseId != null">
        #{purchaseId},
      </if>
      <if test="documentNumber != null">
        #{documentNumber},
      </if>
      <if test="giveTime != null">
        #{giveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="procurementMethod != null">
        #{procurementMethod},
      </if>
      <if test="materialsType != null">
        #{materialsType},
      </if>
       <if test="year != null">
        #{year,jdbcType=TIMESTAMP},
      </if>
       <if test="purchaseRequiredId != null">
        #{purchaseRequiredId},
      </if>
      <if test="acceptTime != null">
        #{ACCEPT_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="collectId != null">
        #{collectId},
      </if>
      <if test="passWord != null">
        #{passWord},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="taskNature != null">
        #{taskNature},
      </if>
       <if test="notDetail != null">
        #{notDetail},
      </if>
      <if test="orgId != null">
        #{orgId},
      </if>
      <if test="createrId != null">
        #{createrId},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ppms.Task">
    update T_BSS_PPMS_TASK
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="purchaseId != null">
        PURCHASE_ID = #{purchaseId},
      </if>
      <if test="documentNumber != null">
        DOCUMENT_NUMBER = #{documentNumber},
      </if>
      <if test="giveTime != null">
        GIVE_TIME = #{giveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="procurementMethod != null">
        PROCUREMENT_METHOD = #{procurementMethod},
      </if>
      <if test="purchaseRequiredId != null">
        PURCHASE_REQUIRED_ID = #{purchaseRequiredId},
      </if>
      <if test="materialsType != null">
        MATERIALS_TYPE = #{materialsType},
      </if>
      <if test="year != null">
        YEAR = #{year,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptTime != null">
        ACCEPT_TIME = #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectId != null">
        COLLECT_ID = #{collectId},
      </if>
      <if test="passWord != null">
        PASS_WORD = #{passWord},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="taskNature != null">
        TASK_NATURE = #{taskNature},
      </if>
      <if test="notDetail != null">
        NOT_DETAIL = #{notDetail},
      </if>
      <if test="orgId != null">
        ORG_ID = #{orgId},
      </if>
      <if test="createrId != null">
        CREATER_ID = #{createrId},
      </if>
      <if test="userId != null">
        USER_ID = #{userId},
      </if>
    </set>
    where ID = #{id}
  </update>
  
   <select id="listByProjectTask" resultType="bss.model.ppms.Task" parameterType="java.util.Map">
    select
    t.ID as id,
    t.NAME as name,
    t.PURCHASE_ID as purchaseId,
    t.PURCHASE_REQUIRED_ID as purchaseRequiredId,
    t.STATUS as status,
    t.DOCUMENT_NUMBER as documentNumber,
    t.TASK_NATURE as taskNature,
    t.GIVE_TIME as giveTime,
    t.MATERIALS_TYPE as materialsType,
    t.ORG_ID as orgId,
    t.COLLECT_ID as collectId,
    o.SHORT_NAME as orgName 
    from T_BSS_PPMS_TASK t left join T_SES_OMS_ORG o on t.ORG_ID = o.ID 
    where 1=1
    and t.IS_DELETED = 0
    and t.STATUS = 1 and t.NOT_DETAIL = 0 and t.TASK_NATURE = 0
    <if test="name != null and name !=''">
      	and t.NAME like CONCAT(CONCAT('%', #{name}), '%')
    </if>
    <if test="orgName != null and orgName !=''">
      	and o.SHORT_NAME like CONCAT(CONCAT('%', #{orgName}), '%')
    </if>
    <if test="documentNumber != null and documentNumber !=''">
       	and t.DOCUMENT_NUMBER like CONCAT(CONCAT('%', #{documentNumber}), '%')
    </if>
    <if test="userId != null and userId != ''">
        and t.PURCHASE_ID in (
            SELECT ORG_ID FROM T_SES_BMS_USER 
            <if test="userId != '' and userId != null">
	             	WHERE ID = #{userId} 
	          </if>      
        )                         
     </if>
     ORDER BY GIVE_TIME DESC
  </select>
</mapper>