<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.dao.app.AppArticleMapper">

  <!-- app首页公告查询 -->
  <resultMap id="AppArticleMapper" type="iss.model.ps.Article">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PUBLISHED_AT" jdbcType="TIMESTAMP" property="publishedAt" />
    <!-- <result column="CONTENT" jdbcType="CLOB" property="content" /> -->
    <association property="articleType" column="LAST_ARTICLE_TYPE_ID" select="app.dao.app.AppArticleTypeMapper.selectTypeApp"/>
  </resultMap>

  <!-- app首页法规查询 -->
  <select id="selectsumApp" parameterType="Map" resultMap="AppArticleMapper">
    SELECT * from(
      SELECT ID,NAME,PUBLISHED_AT,LAST_ARTICLE_TYPE_ID
      FROM T_ISS_PS_ARTICLE
      WHERE LAST_ARTICLE_TYPE_ID in
      <foreach item="item" index="index" collection="idArray" open="(" separator="," close=")">
        #{item}
      </foreach>
      AND status=2
      AND IS_DELETED = 0
      ORDER BY PUBLISHED_AT DESC)
    WHERE ROWNUM = 1
  </select>
  
  <!-- app公告单条信息查询 -->
  <select id="selectOneAppNoticeByParId" parameterType="Map" resultMap="AppArticleMapper">
    SELECT * FROM (
      SELECT ID,NAME,PUBLISHED_AT,LAST_ARTICLE_TYPE_ID
      FROM T_ISS_PS_ARTICLE
      WHERE LAST_ARTICLE_TYPE_ID IN (
        SELECT ID FROM T_ISS_PS_ARTICLE_TYPE
        WHERE PARENT_ID IN 
          <foreach item="item" index="index" collection="idArray" open="(" separator="," close=")">
             #{item}
          </foreach>
        )
      AND STATUS = 2 AND IS_DELETED = 0
      ORDER BY PUBLISHED_AT DESC)
    WHERE ROWNUM = 1
  </select>
</mapper>