@charset "UTF-8";

.cursor {
	cursor: pointer;
}

.ww100 {
	height: 500px;
}

.w119 {
	width: 119px;
}

.w133 {
	width: 133px !important;
}

.w93 {
	width: 93px;
}

.h100 {
	height: 100px !important;
}

.w350 {
	width: 350px !important;
}

.w150 {
	width: 150px !important;
}

.w147 {
	width: 147px !important;
}

.hide {
	border: 0px;
	text-align: center;
}

.margin-left-100 {
	margin-left: 100px;
}

.none {
	display: none;
}

.margin-left-13 {
	margin-left: 13;
}

.w75 {
	width: 75px;
}

.w50 {
	width: 50px;
}

.ww50 {
	widows: 50% !important;
}

.w75 {
	width: 75px !important;
}

.textspan {
	float: none !important;
	height: 0px !important;
	line-height: 0px !important;
	width: 0px !important;
}

.mlr {
	margin-left: auto !important;
	margin-right: auto !important;
	width: auto !important;
}

.w75 {
	width: 75px !important;
}

.w118 {
	width: 118px!important;
}

.w113 {
	width: 113px;
}

.w230 {
	width: 230px !important;
}

.dhidden {
	visibility: hidden;
}

.w108 {
	width: 108px;
}

.w224 {
	width: 224px!important;
}