<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExamPaperUserMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExamPaperUser">
    <id column="ID" property="id" />
    <result column="USER_ID" property="userId" />
    <result column="PAPER_ID" property="paperId" />
    <result column="IS_DO" property="isDo" />
    <result column="UNIT_NAME" property="unitName"/>
    <result column="CREATED_AT" property="createdAt"/>
    <result column="UPDATED_AT" property="updatedAt"/>
    <result column="CARD" property="card"/>
    <result column="CODE" property="code"/>
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, PAPER_ID, IS_DO,UNIT_NAME,CREATED_AT,UPDATED_AT,CARD,CODE
  </sql>
  
  <!-- 根据主键查询 参考人员-->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXAM_PAPER_USER
    where ID = #{id}
  </select>
  
  <!-- 根据主键ID删除参考人员 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_EMS_EXAM_PAPER_USER
    where ID = #{id}
  </delete>
  
  <!-- 新增参考人员 -->
  <insert id="insertSelective" parameterType="ses.model.ems.ExamPaperUser">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_EMS_EXAM_PAPER_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="paperId != null">
        PAPER_ID,
      </if>
      <if test="isDo != null">
        IS_DO,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="unitName != null">
        UNIT_NAME,
      </if>
      <if test="card != null">
        CARD,
      </if>
      <if test="code != null">
        CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="paperId != null">
        #{paperId},
      </if>
      <if test="isDo != null">
        #{isDo},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="unitName != null">
        #{unitName},
      </if>
      <if test="card != null">
        #{card},
      </if>
      <if test="code != null">
        #{code},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键ID更新考卷 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExamPaperUser">
    update T_SES_EMS_EXAM_PAPER_USER
    <set>
      <if test="userId != null">
        USER_ID = #{userId},
      </if>
      <if test="paperId != null">
        PAPER_ID = #{paperId},
      </if>
      <if test="isDo != null">
        IS_DO = #{isDo},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="unitName != null">
        UNIT_NAME = #{unitName},
      </if>
      <if test="card != null">
        CARD = #{card},
      </if>
      <if test="code != null">
        CODE = #{code},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据考卷ID查找参考人员 -->
  <select id="getAllByPaperId" parameterType="java.util.Map" resultType="ses.model.ems.ExamPaperUser">
	  	SELECT
			U.REL_NAME as userName,
			P.ID as id,
			P.USER_ID as userId,
			P.UNIT_NAME as unitName,
			D.code as code,
			P.CARD as card
		FROM
			T_SES_EMS_EXAM_PAPER_USER P
		LEFT JOIN T_SES_BMS_USER U ON P.USER_ID = U.ID
		LEFT JOIN T_SES_EMS_EXAM_PAPER D ON P.PAPER_ID = D.ID
		WHERE 
			P.PAPER_ID = #{paperId}
		ORDER BY
		  	P.CREATED_AT DESC
  </select>
  
  <!-- 根据userId查找所考的考卷 -->
  <select id="getAllPaperByUserId" parameterType="Object" resultType="ses.model.ems.ExamPaperUser">
  		SELECT 
  			ID as id,
  			USER_ID as userId,
  			PAPER_ID as paperId,
  			UNIT_NAME as unitName,
  			CARD as card
  		FROM
  			T_SES_EMS_EXAM_PAPER_USER
  		WHERE
  			USER_ID = #{userId} 	
  </select>
  
  <!-- 查看已考考卷的参考人员信息 -->
  <select id="selectPurchaserYesReference" parameterType="java.util.Map" resultType="ses.model.ems.ExamPaperUser">
  		SELECT
			U.REL_NAME as userName,
			D.CODE as code,
			P.UNIT_NAME as unitName,
			s.SCORE as score,
			P.CARD as card
		FROM
			T_SES_EMS_EXAM_USER_SCORE s,
			T_SES_EMS_EXAM_PAPER_USER P,
			T_SES_EMS_EXAM_PAPER D,
			T_SES_BMS_USER U
		WHERE
			P.USER_ID = U.ID
		AND P.PAPER_ID = D.ID
		AND s.PAPER_ID = D.ID
		AND s.USER_ID = P.USER_ID
		AND P.PAPER_ID = #{paperId}
  </select>
  
  <!-- 打印预览已考考卷的参考人员信息 -->
  <select id="selectPrintYesReference" parameterType="Object" resultType="ses.model.ems.ExamPaperUser">
  		SELECT
			U.REL_NAME as userName,
			D.CODE as code,
			P.UNIT_NAME as unitName,
			s.SCORE as score,
			P.CARD as card
		FROM
			T_SES_EMS_EXAM_USER_SCORE s,
			T_SES_EMS_EXAM_PAPER_USER P,
			T_SES_EMS_EXAM_PAPER D,
			T_SES_BMS_USER U
		WHERE
			P.USER_ID = U.ID
		AND P.PAPER_ID = D.ID
		AND s.PAPER_ID = D.ID
		AND s.USER_ID = P.USER_ID
		AND P.PAPER_ID = #{paperId}
  </select>
</mapper>