<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExamPaperMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExamPaper">
    <id column="ID" property="id" />
    <result column="NAME" property="name" />
    <result column="CODE" property="code" />
    <result column="SCORE" property="score" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"/>
    <result column="YEAR" property="year" />
    <result column="TYPE_DISTRIBUTION" property="typeDistribution" />
    <result column="TEST_TIME" property="testTime" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
    <result column="PASS_STANDARD" property="passStandard" />
    <result column="OFF_TIME" property="offTime" jdbcType="TIMESTAMP"/>
    <result column="ORG_ID" property="orgId" />
    <result column="CREATER_ID" property="createrId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, NAME, CODE, SCORE, START_TIME, YEAR, 
    TYPE_DISTRIBUTION, TEST_TIME, CREATED_AT, UPDATED_AT,PASS_STANDARD,OFF_TIME,CREATER_ID,ORG_ID
  </sql>
  
  <!-- 根据主键ID查找考卷 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXAM_PAPER
    where ID = #{id}
  </select>
  
  <!-- 根据主键ID删除考卷 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_EMS_EXAM_PAPER
    where ID = #{id}
  </delete>
  
  <!-- 新增考卷 -->
  <insert id="insertSelective" parameterType="ses.model.ems.ExamPaper">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_EMS_EXAM_PAPER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="year != null">
        YEAR,
      </if>
      <if test="typeDistribution != null">
        TYPE_DISTRIBUTION,
      </if>
      <if test="testTime != null">
        TEST_TIME,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="passStandard != null">
        PASS_STANDARD,
      </if>
      <if test="offTime != null">
        OFF_TIME,
      </if>
      <if test="orgId != null">
        ORG_ID,
      </if>
      <if test="createrId != null">
        CREATER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="code != null">
        #{code},
      </if>
      <if test="score != null">
        #{score},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null">
        #{year},
      </if>
      <if test="typeDistribution != null">
        #{typeDistribution},
      </if>
      <if test="testTime != null">
        #{testTime},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="passStandard != null">
        #{passStandard},
      </if>
      <if test="offTime != null">
        #{offTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null">
        #{orgId},
      </if>
      <if test="createrId != null">
        #{createrId},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键ID更新考卷 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExamPaper">
    update T_SES_EMS_EXAM_PAPER
    <set>
      <if test="name != null">
        NAME = #{name},
      </if>
      <if test="code != null">
        CODE = #{code},
      </if>
      <if test="score != null">
        SCORE = #{score},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null">
        YEAR = #{year},
      </if>
      <if test="typeDistribution != null">
        TYPE_DISTRIBUTION = #{typeDistribution},
      </if>
      <if test="testTime != null">
        TEST_TIME = #{testTime},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="passStandard != null">
        PASS_STANDARD = #{passStandard},
      </if>
      <if test="offTime != null">
      </if>
      <if test="orgId != null">
        ORG_ID = #{orgId},
      </if>
      <if test="createrId != null">
        CREATER_ID = #{createrId},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 查找所有的采购人考卷 -->
  <select id="queryAllPaper" resultMap="BaseResultMap" parameterType="Object">
  	SELECT
		*
	FROM
		T_SES_EMS_EXAM_PAPER
	WHERE
		1=1
	<if test="orgId != null">
      AND ORG_ID = #{orgId}
    </if>
    <if test="createrId != null">
      AND CREATER_ID = #{createrId}
    </if>
	ORDER BY
		START_TIME DESC
  </select>
  
  <!-- 根据考试编号查找考卷 -->
  <select id="selectByPaperNo" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXAM_PAPER
    WHERE 1=1
    <if test="code != null and code !=''">
        AND CODE = #{code}
    </if>
    <if test="name != null and name !=''">
        AND NAME = #{name}
    </if>
  </select>
</mapper>