<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExamUserScoreMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExamUserScore">
    <id column="ID"  property="id" />
    <result column="USER_ID" property="userId" />
    <result column="USER_TYPE" property="userType" />
    <result column="SCORE" property="score" />
    <result column="STATUS" property="status" />
    <result column="PAPER_ID" property="paperId" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
    <result column="USER_DUTY" property="userDuty" />
    <result column="TEST_DATE" property="testDate" jdbcType="TIMESTAMP"/>
    <result column="IS_MAX" property="isMax" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ID, USER_ID, USER_TYPE, SCORE, STATUS, PAPER_ID,CREATED_AT, 
    UPDATED_AT,USER_DUTY,TEST_DATE,IS_MAX
  </sql>
  
  <!-- 根据主键ID查找用户成绩 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXAM_USER_SCORE
    where ID = #{id}
  </select>
  
  <!-- 根据主键ID删除用户成绩 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_EMS_EXAM_USER_SCORE
    where ID = #{id}
  </delete>
  
  <!-- 新增用户成绩 -->
  <insert id="insertSelective" parameterType="ses.model.ems.ExamUserScore">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_EMS_EXAM_USER_SCORE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="paperId != null">
        PAPER_ID,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="userDuty != null">
        USER_DUTY,
      </if>
      <if test="testDate != null">
        TEST_DATE,
      </if>
      <if test="isMax != null">
        IS_MAX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="userType != null">
        #{userType},
      </if>
      <if test="score != null">
        #{score},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="paperId != null">
        #{paperId},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="userDuty != null">
        #{userDuty},
      </if>
      <if test="testDate != null">
        #{testDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isMax != null">
        #{isMax},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键ID更新用户成绩 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExamUserScore">
    update T_SES_EMS_EXAM_USER_SCORE
    <set>
      <if test="userId != null">
        USER_ID = #{userId},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType},
      </if>
      <if test="score != null">
        SCORE = #{score},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="paperId != null">
        PAPER_ID = #{paperId},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="userDuty != null">
        USER_DUTY = #{userDuty},
      </if>
      <if test="testDate != null">
        TEST_DATE = #{testDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isMax != null">
        IS_MAX = #{isMax},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据用户ID和考卷ID更新采购人考试成绩的ISMAx状态 -->
  <update id="updateIsMaxById" parameterType="ses.model.ems.ExamUserScore">
    update T_SES_EMS_EXAM_USER_SCORE
    <set>
      <if test="isMax != null">
        IS_MAX = #{isMax},
      </if>
    </set>
    where USER_ID = #{userId}
    AND PAPER_ID = #{paperId}
  </update>
  
  <!-- 专家成绩按条件查询 -->
  <select id="selectExpertResultByCondition" parameterType="java.util.Map" resultType="ses.model.ems.ExamUserScore">
  	SELECT
		U.ID AS userId,
		U.REL_NAME AS relName,
		s.USER_DUTY AS userDuty,
		s.TEST_DATE AS testDate,
		s.SCORE AS score,
		s.STATUS AS status,
		E.ID_TYPE AS idType,
		E.ID_NUMBER AS idNumber
	FROM
		T_SES_EMS_EXAM_USER_SCORE s
	LEFT JOIN T_SES_BMS_USER U ON s.USER_ID = U.ID
	LEFT JOIN T_SES_EMS_EXPERT E ON U.type_id = E.ID
	WHERE
		s.USER_TYPE = 1
    	AND s.IS_MAX=1  
        <if test="relName != null and '' != relName">
           AND U.REL_NAME LIKE CONCAT(CONCAT('%', #{relName}), '%')
        </if> 
        <if test="status != null and '' != status">
           AND s.STATUS = #{status}
        </if> 
        <if test="userDuty != null and '' != userDuty">
           AND s.USER_DUTY = #{userDuty} 
        </if>
        ORDER BY
			testDate nulls last
  </select>
  
  <!-- 采购人考试成绩查询(包括按条件查询) -->
  <select id="selectPurchaserResultByCondition" parameterType="java.util.Map" resultType="ses.model.ems.ExamUserScore">
  		SELECT
			s.USER_ID AS userId,
			s.score AS score,
			d.CODE AS code,
			d.CARD as card,
			s.STATUS as status,
			s.TEST_DATE AS testDate,
			U.REL_NAME AS relName
		FROM
			T_SES_EMS_EXAM_USER_SCORE s,
			T_SES_BMS_USER U,
			T_SES_EMS_EXAM_PAPER_USER D
		WHERE
			s.PAPER_ID = d.PAPER_ID
			AND s.USER_ID = U.ID
			AND d.USER_ID = U.ID
			AND s.IS_MAX = 1
			<if test="relName != null and '' != relName">
	           	AND U.REL_NAME LIKE CONCAT(CONCAT('%', #{relName}), '%')
	        </if>
	        <if test="status != null and '' != status">
	           	AND s.STATUS = #{status}
	        </if>
	        <if test="code != null and '' != code">
	           	AND D.CODE LIKE CONCAT(CONCAT('%', #{code}), '%')
	        </if>
			ORDER BY
				testDate nulls last
  </select>
  
  <!-- 根据userId查找属于用户的成绩 -->
  <select id="findByUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
	    SELECT 
	    <include refid="Base_Column_List" />
	    FROM T_SES_EMS_EXAM_USER_SCORE
	    WHERE
	    <if test="userId != null and '' != userId">
	       USER_ID = #{userId}
	    </if>  
	    <if test="paperId != null and '' != paperId">
	       AND PAPER_ID = #{paperId}
	    </if> 
	    ORDER BY
	    	CREATED_AT DESC
  </select>
  
  <!-- 根据userId查找用户最高的成绩 -->
  <select id="findMaxScoreOfUser" parameterType="java.lang.String" resultMap="BaseResultMap">
	    SELECT 
	    <include refid="Base_Column_List" />
	    FROM T_SES_EMS_EXAM_USER_SCORE
	    WHERE 1=1
	    AND USER_ID = #{userId}
	    AND IS_MAX = 1
  </select>
  
  <!-- 采购人按条件查询自己的考试成绩 -->
  <select id="findByUserIdAndCode" parameterType="java.util.Map" resultType="ses.model.ems.ExamUserScore">
  		SELECT
			s.ID as id,
			p.CODE as code,
			s.SCORE as score,
			s.STATUS as status,
			s.TEST_DATE as testDate
		FROM
			T_SES_EMS_EXAM_USER_SCORE s,
			T_SES_EMS_EXAM_PAPER P
		WHERE
			s.PAPER_ID = P.ID
		AND
			s.USER_ID = #{userId}
		<if test="code != null and '' != code">
           AND P.CODE LIKE CONCAT(CONCAT('%', #{code}), '%')
        </if> 
        ORDER BY
    	s.CREATED_AT DESC
  </select>
  
  <!-- 查询采购人已考人员信息 -->
  <select id="findPurchaserScore" parameterType="java.util.Map" resultType="ses.model.ems.ExamUserScore">
  	SELECT
		U.REL_NAME AS relName,
		P.CODE AS code,
		P.UNIT_NAME AS unitName,
		s.SCORE AS score,
		P.CARD AS card,
		s.STATUS AS status
	FROM
		T_SES_EMS_EXAM_USER_SCORE s
	LEFT JOIN T_SES_EMS_EXAM_PAPER_USER P ON s.USER_ID = P.USER_ID
	LEFT JOIN T_SES_BMS_USER U ON s.USER_ID = U.ID
	WHERE
		s.IS_MAX = 1
	AND P.PAPER_ID = #{paperId}
  </select>
</mapper>