<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExamQuestionMapper">
	<resultMap id="BaseResultMap" type="ses.model.ems.ExamQuestion">
		<id column="ID" property="id" />
		<result column="ANSWER" property="answer" />
		<result column="QUESTION_TYPE_ID" property="questionTypeId" />
		<result column="PERSON_TYPE" property="personType" />
		<result column="KIND" property="kind" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="TOPIC" jdbcType="CLOB" javaType="String" property="topic" />
    <result column="ITEMS" jdbcType="CLOB" javaType="String" property="items" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, ANSWER,QUESTION_TYPE_ID, PERSON_TYPE, KIND,
		CREATED_AT,UPDATED_AT,TOPIC, ITEMS
	</sql>

	<!-- 根据主键ID查询题目 -->
	<select id="selectByPrimaryKey" parameterType="Object"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_EXAM_QUESTION
		where ID = #{id}
	</select>

	<!-- 根据题干查询题目 -->
	<select id="selectByTopic" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_EXAM_QUESTION
		WHERE
		PERSON_TYPE = #{personType}
		<if test="questionTypeId != null and questionTypeId != ''">
			AND QUESTION_TYPE_ID = #{questionTypeId}
		</if>
		<if test="kind != null and kind != ''">
			AND KIND = #{kind}
		</if>
		AND dbms_lob.instr(TOPIC,#{topic})>0
	</select>

	<select id="selectByTecTopic" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_EXAM_QUESTION
		WHERE
		PERSON_TYPE = 1
		AND KIND = '0'
		AND QUESTION_TYPE_ID = #{questionTypeId}
		AND dbms_lob.instr(TOPIC,#{topic})>0
	</select>

	<!-- 查询各专家题库题目的数量 -->
	<select id="queryQuestionCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1)
		from T_SES_EMS_EXAM_QUESTION
		where
		PERSON_TYPE = 1
		AND
		QUESTION_TYPE_ID = #{questionTypeId}
		AND
		KIND = #{kind}
	</select>

	<!-- 查询采购人题库题目的数量 -->
	<select id="queryPurchaserQuestionCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1)
		from T_SES_EMS_EXAM_QUESTION
		where
		PERSON_TYPE = 2
		AND
		QUESTION_TYPE_ID = #{questionTypeId}
	</select>

	<!-- 根据id删除题目 -->
	<delete id="deleteByPrimaryKey" parameterType="Object">
		delete from T_SES_EMS_EXAM_QUESTION
		where ID = #{id}
	</delete>

	<!-- 新增题目,可插入null -->
	<insert id="insertSelective" parameterType="Object">
		<selectKey resultType="String" order="BEFORE" keyProperty="id">
			select sys_guid() from dual
		</selectKey>
		insert into T_SES_EMS_EXAM_QUESTION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="answer != null">
				ANSWER,
			</if>
			<if test="questionTypeId != null">
				QUESTION_TYPE_ID,
			</if>
			<if test="personType != null">
				PERSON_TYPE,
			</if>
			<if test="kind != null">
				KIND,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="topic != null">
				TOPIC,
			</if>
			<if test="items != null">
				ITEMS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="answer != null">
				#{answer},
			</if>
			<if test="questionTypeId != null">
				#{questionTypeId},
			</if>
			<if test="personType != null">
				#{personType},
			</if>
			<if test="kind != null">
				#{kind},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="topic != null">
				#{topic,jdbcType=CLOB},
			</if>
			<if test="items != null">
				#{items,jdbcType=CLOB},
			</if>
		</trim>
	</insert>

	<!-- 根据主键ID更新题库 -->
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExamQuestion">
		update T_SES_EMS_EXAM_QUESTION
		<set>
			<if test="answer != null">
				ANSWER = #{answer},
			</if>
			<if test="questionTypeId != null">
				QUESTION_TYPE_ID = #{questionTypeId},
			</if>
			<if test="personType != null">
				PERSON_TYPE = #{personType},
			</if>
			<if test="kind != null">
				KIND = #{kind},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="topic != null">
				TOPIC = #{topic},
			</if>
			<if test="items != null">
				ITEMS = #{items},
			</if>
		</set>
		where ID = #{id}
	</update>


	<resultMap id="BaseColumn" type="ses.model.ems.ExamQuestion">
		<id column="ID" property="id" />
		<result column="ANSWER" property="answer" />
		<result column="QUESTION_TYPE_ID" property="questionTypeId" />
		<result column="PERSON_TYPE" property="personType" />
		<result column="KIND"  property="kind" />
		<result column="TOPIC" jdbcType="CLOB" javaType="String" property="topic" />
		<result column="ITEMS" jdbcType="CLOB" javaType="String" property="items" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
		<association property="examQuestionType" resultMap="resultType" />
	</resultMap>
	
	<resultMap type="ses.model.ems.ExamQuestionType" id="resultType">  
        <result column="Name" property="name"/>  
    </resultMap>  

	<!-- 按条件查询各专家题目 -->
	<select id="findExpertQuestionList" parameterType="java.util.Map"
		resultMap="BaseColumn">
		SELECT
		E.ID,
		E.TOPIC,
		E.ITEMS,
		E.ANSWER,
		E.CREATED_AT,
		T.NAME as name
		FROM
		T_SES_EMS_EXAM_QUESTION E,
		T_SES_EMS_EXAM_QUESTION_TYPE T
		WHERE
		E.PERSON_TYPE = 1
		AND E.KIND = #{kind}
		AND E.QUESTION_TYPE_ID = T.ID
		<if test="topic != null and '' != topic">
			AND E.TOPIC LIKE CONCAT(CONCAT('%', #{topic}), '%')
		</if>
		<if test="questionTypeId != null and '' != questionTypeId">
			AND E.QUESTION_TYPE_ID = #{questionTypeId}
		</if>
		ORDER BY
		E.QUESTION_TYPE_ID ASC,
		E.CREATED_AT DESC
	</select>

	<!-- 查询专家题库 -->
	<select id="searchExpertPool" resultMap="BaseColumn">
		SELECT
		E.ID,
		E.TOPIC,
		E.ITEMS,
		E.ANSWER,
		E.CREATED_AT,
		T.NAME
		FROM
		T_SES_EMS_EXAM_QUESTION E,
		T_SES_EMS_EXAM_QUESTION_TYPE T
		WHERE
		E.PERSON_TYPE = 1
		AND E.QUESTION_TYPE_ID = T.ID
		AND E.QUESTION_TYPE_ID IN (1,2)
		ORDER BY
		E.CREATED_AT DESC
	</select>

	<!-- 专家随机抽题 -->
	<select id="selectQuestionRandom" parameterType="java.util.Map"
		resultMap="BaseColumn">
		SELECT
		*
		FROM
		(
		SELECT
		E1 ."ID",
		E1 .TOPIC,
		E1 .ITEMS,
		E1 .ANSWER,
		T1 ."NAME",
		T1."ID" as tid
		FROM
		T_SES_EMS_EXAM_QUESTION E1,
		T_SES_EMS_EXAM_QUESTION_TYPE T1
		WHERE
		E1.QUESTION_TYPE_ID = T1."ID"
		AND E1 .QUESTION_TYPE_ID =#{questionTypeId}
		AND E1
		.PERSON_TYPE = 1
		AND E1 .KIND = #{kind}
		ORDER BY
		dbms_random.VALUE

		)
		WHERE
		ROWNUM &lt;= #{queNum}
	</select>

	<!-- 采购人根据条件查询题目 -->
	<select id="queryPurchaserByTerm" parameterType="java.util.Map"
		resultMap="BaseColumn">
		SELECT
		E.ID,
		E.TOPIC,
		E.ITEMS,
		E.ANSWER,
		E.CREATED_AT,
		T.NAME
		FROM
		T_SES_EMS_EXAM_QUESTION E,
		T_SES_EMS_EXAM_QUESTION_TYPE T
		<where>
			E.QUESTION_TYPE_ID = T.ID
			AND E.PERSON_TYPE = 2
			<if test="topic != null and '' != topic">
				AND E.TOPIC LIKE CONCAT(CONCAT('%', #{topic}), '%')
			</if>
			<if test="questionTypeId != null and '' != questionTypeId">
				AND E.QUESTION_TYPE_ID = #{questionTypeId}
			</if>
		</where>
		ORDER BY
		E.QUESTION_TYPE_ID ASC,
		E.CREATED_AT DESC
	</select>

	<!-- 采购人根据考卷题型随机查找题目 -->
	<select id="selectPurchaserQuestionRandom" parameterType="java.util.Map"
		resultMap="BaseColumn">
		SELECT
		*
		FROM
		(
		SELECT
		E.ID,
		E.TOPIC,
		E.ITEMS,
		E.ANSWER,
		T.NAME
		FROM
		T_SES_EMS_EXAM_QUESTION E,
		T_SES_EMS_EXAM_QUESTION_TYPE T
		WHERE
		E.QUESTION_TYPE_ID = T.ID
		AND E.PERSON_TYPE = 2
		AND E.QUESTION_TYPE_ID = #{questionTypeId}
		ORDER BY
		dbms_random.
		VALUE
		)
		WHERE
		ROWNUM &lt;= #{queNum}
	</select>
</mapper>