<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExamRuleMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExamRule">
    <id column="ID" property="id" />
    <result column="PASS_STANDARD" property="passStandard" />
    <result column="PAPER_SCORE" property="paperScore" />
    <result column="TYPE_DISTRIBUTION" property="typeDistribution" />
    <result column="CREATED_AT" property="createdAt" />
    <result column="UPDATED_AT" property="updatedAt" />
    <result column="STATUS" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PASS_STANDARD,PAPER_SCORE,TYPE_DISTRIBUTION,CREATED_AT,UPDATED_AT,STATUS
  </sql>
  
  <!-- 根据主键ID查询考试规则 -->
  <select id="selectById" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXAM_RULE
    WHERE 1=1
    <if test="id != null and id !=''">
        AND ID = #{id}
    </if>
    ORDER BY
    STATUS DESC
  </select>
  
  <!-- 查找使用中的考试规则 -->
  <select id="selectInUseRule" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXAM_RULE
    WHERE STATUS=1
  </select>
  
  <!-- 设置考试规则,可插入null -->
  <insert id="insertSelective" parameterType="Object">
  	<selectKey resultType="String" order="BEFORE" keyProperty="id">
      select sys_guid() from dual
    </selectKey>
    insert into T_SES_EMS_EXAM_RULE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="passStandard != null">
        PASS_STANDARD,
      </if>
      <if test="paperScore != null">
        PAPER_SCORE,
      </if>
      <if test="typeDistribution != null">
        TYPE_DISTRIBUTION,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="passStandard != null">
        #{passStandard},
      </if>
      <if test="paperScore != null">
        #{paperScore},
      </if>
      <if test="typeDistribution != null">
        #{typeDistribution},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="status != null">
        #{status},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键ID更新考试规则 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExamRule">
    update T_SES_EMS_EXAM_RULE
    <set>
      <if test="passStandard != null">
        PASS_STANDARD = #{passStandard},
      </if>
      <if test="paperScore != null">
        PAPER_SCORE = #{paperScore},
      </if>
      <if test="typeDistribution != null">
        TYPE_DISTRIBUTION = #{typeDistribution},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
    </set>
    where ID = #{id}
  </update>
</mapper>