<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertAuditMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertAudit">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="EXPERT_ID" jdbcType="VARCHAR" property="expertId" />
    <result column="AUDIT_USER_ID" jdbcType="VARCHAR" property="auditUserId" />
    <result column="AUDIT_USER_NAME" jdbcType="VARCHAR" property="auditUserName" />
    <result column="AUDIT_REASON" jdbcType="VARCHAR" property="auditReason" />
    <result column="AUDIT_RESULT" jdbcType="VARCHAR" property="auditResult" />
    <result column="AUDIT_AT" jdbcType="DATE" property="auditAt" />
    <result column="IS_HISTORY" jdbcType="VARCHAR" property="isHistory" />
    <result column="IS_DELETE" jdbcType="DECIMAL" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, EXPERT_ID, AUDIT_USER_ID, AUDIT_USER_NAME, AUDIT_REASON, AUDIT_RESULT, AUDIT_AT, 
    IS_HISTORY, IS_DELETE
  </sql>
  <!-- 根据专家id查询 -->
   <select id="selectByExpertId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_AUDIT
    where EXPERT_ID = #{expertId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_AUDIT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_EMS_EXPERT_AUDIT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.ems.ExpertAudit">
    insert into T_SES_EMS_EXPERT_AUDIT (ID, EXPERT_ID, AUDIT_USER_ID, 
      AUDIT_USER_NAME, AUDIT_REASON, AUDIT_RESULT, 
      AUDIT_AT, IS_HISTORY, IS_DELETE
      )
    values (#{id,jdbcType=VARCHAR}, #{expertId,jdbcType=VARCHAR}, #{auditUserId,jdbcType=VARCHAR}, 
      #{auditUserName,jdbcType=VARCHAR}, #{auditReason,jdbcType=VARCHAR}, #{auditResult,jdbcType=VARCHAR}, 
      #{auditAt,jdbcType=DATE}, #{isHistory,jdbcType=VARCHAR}, #{isDelete,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="ses.model.ems.ExpertAudit">
    insert into T_SES_EMS_EXPERT_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="expertId != null">
        EXPERT_ID,
      </if>
      <if test="auditUserId != null">
        AUDIT_USER_ID,
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME,
      </if>
      <if test="auditReason != null">
        AUDIT_REASON,
      </if>
      <if test="auditResult != null">
        AUDIT_RESULT,
      </if>
      <if test="auditAt != null">
        AUDIT_AT,
      </if>
      <if test="isHistory != null">
        IS_HISTORY,
      </if>
      <if test="isDelete != null">
        IS_DELETE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="expertId != null">
        #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null">
        #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null">
        #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="auditAt != null">
        #{auditAt,jdbcType=DATE},
      </if>
      <if test="isHistory != null">
        #{isHistory,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExpertAudit">
    update T_SES_EMS_EXPERT_AUDIT
    <set>
      <if test="expertId != null">
        EXPERT_ID = #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="auditUserId != null">
        AUDIT_USER_ID = #{auditUserId,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null">
        AUDIT_REASON = #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null">
        AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="auditAt != null">
        AUDIT_AT = #{auditAt,jdbcType=DATE},
      </if>
      <if test="isHistory != null">
        IS_HISTORY = #{isHistory,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        IS_DELETE = #{isDelete,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.ems.ExpertAudit">
    update T_SES_EMS_EXPERT_AUDIT
    set EXPERT_ID = #{expertId,jdbcType=VARCHAR},
      AUDIT_USER_ID = #{auditUserId,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      AUDIT_REASON = #{auditReason,jdbcType=VARCHAR},
      AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR},
      AUDIT_AT = #{auditAt,jdbcType=DATE},
      IS_HISTORY = #{isHistory,jdbcType=VARCHAR},
      IS_DELETE = #{isDelete,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>