<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertBlackListMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertBlackList">
    <id column="ID" property="id" />
    <result column="LOGIN_NAME" property="loginName" />
    <result column="REL_NAME" property="relName" />
    <result column="IS_SYS_BUILD" property="isSysBuild" />
    <result column="STORAGE_TIME" property="storageTime" jdbcType="TIMESTAMP"/>
    <result column="DATE_OF_PUNISHMENT" property="dateOfPunishment" jdbcType="TIMESTAMP"/>
    <result column="PUNISH_TYPE" property="punishType" />
    <result column="PUNISH_DATE" property="punishDate" jdbcType="TIMESTAMP"/>
    <result column="REASON" property="reason" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP"/>
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP"/>
    <result column="ATTACHMENT_CERT" property="attachmentCert" />
    <result column="STATUS" property="status" />
    <result column="EXPERT_ID" property="expertId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, LOGIN_NAME, REL_NAME, IS_SYS_BUILD, STORAGE_TIME, DATE_OF_PUNISHMENT, PUNISH_TYPE, 
    PUNISH_DATE, REASON, CREATED_AT, UPDATED_AT, ATTACHMENT_CERT,STATUS,EXPERT_ID
  </sql>
  
  <!-- 查询所有专家黑名单及条件查询 -->
  <select id="findList"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_BLACKLIST 
    where 
    	 1=1
       <if test="relName != null and relName !=''">  
              AND  REL_NAME like '%'|| #{relName} ||'%'
       </if>  
       <if test="punishType != null and punishType !=''">  
              AND PUNISH_TYPE = #{punishType} 
       </if> 
       <if test="punishDate != null and punishDate !=''">  
              AND PUNISH_DATE = #{punishDate}
       </if> 
       ORDER BY CREATED_AT DESC 
  </select>
  
  <!-- 专家黑名单添加名称筛选 -->
  <select id="findListByStatus"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_BLACKLIST 
    where 
    	 STATUS <![CDATA[ <> ]]> 2
       <if test="relName != null and relName !=''">  
              AND  REL_NAME like '%'|| #{relName} ||'%'
       </if>  
       <if test="punishType != null and punishType !=''">  
              AND PUNISH_TYPE = #{punishType} 
       </if> 
       <if test="punishDate != null and punishDate !=''">  
              AND PUNISH_DATE = #{punishDate}
       </if> 
       ORDER BY CREATED_AT DESC 
  </select>
  
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_BLACKLIST
    where ID = #{id}
  </select>
  
  <!-- 更新状态-->
  <update id="updateStatus" parameterType="java.lang.String">
    update T_SES_EMS_EXPERT_BLACKLIST
    set STATUS = #{status}
    where ID = #{id}
  </update>
  
  <insert id="insert" parameterType="ses.model.ems.ExpertBlackList">
    insert into T_SES_EMS_EXPERT_BLACKLIST (ID, LOGIN_NAME, REL_NAME, 
      IS_SYS_BUILD, STORAGE_TIME, DATE_OF_PUNISHMENT, 
      PUNISH_TYPE, PUNISH_DATE, REASON, 
      CREATED_AT, UPDATED_AT, ATTACHMENT_CERT, STATUS,EXPERT_ID
      )
    values (#{id}, #{loginName}, #{relName}, 
      #{isSysBuild}, #{storageTime,jdbcType=TIMESTAMP}, #{dateOfPunishment,jdbcType=TIMESTAMP}, 
      #{punishType}, #{punishDate,jdbcType=TIMESTAMP}, #{reason}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{attachmentCert},
      #{status},#{expertId}
      )
  </insert>
  
  <!-- 增加专家黑名单信息 -->
  <insert id="insertSelective" parameterType="ses.model.ems.ExpertBlackList">
    insert into T_SES_EMS_EXPERT_BLACKLIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="relName != null">
        REL_NAME,
      </if>
      <if test="isSysBuild != null">
        IS_SYS_BUILD,
      </if>
      <if test="storageTime != null">
        STORAGE_TIME,
      </if>
      <if test="dateOfPunishment != null">
        DATE_OF_PUNISHMENT,
      </if>
      <if test="punishType != null">
        PUNISH_TYPE,
      </if>
      <if test="punishDate != null">
        PUNISH_DATE,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="attachmentCert != null">
        ATTACHMENT_CERT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="expertId != null">
        EXPERT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="loginName != null">
        #{loginName},
      </if>
      <if test="relName != null">
        #{relName},
      </if>
      <if test="isSysBuild != null">
        #{isSysBuild},
      </if>
      <if test="storageTime != null">
        #{storageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dateOfPunishment != null">
        #{dateOfPunishment,jdbcType=TIMESTAMP},
      </if>
      <if test="punishType != null">
        #{punishType},
      </if>
      <if test="punishDate != null">
        #{punishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        #{reason},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="attachmentCert != null">
        #{attachmentCert},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="expertId != null">
        #{expertId},
      </if>
    </trim>
  </insert>
  
  <!-- 修改信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExpertBlackList">
    update T_SES_EMS_EXPERT_BLACKLIST
    <set>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName},
      </if>
      <if test="relName != null">
        REL_NAME = #{relName},
      </if>
      <if test="isSysBuild != null">
        IS_SYS_BUILD = #{isSysBuild},
      </if>
      <if test="storageTime != null">
        STORAGE_TIME = #{storageTime},
      </if>
      <if test="dateOfPunishment != null">
        DATE_OF_PUNISHMENT = #{dateOfPunishment},
      </if>
      <if test="punishType != null">
        PUNISH_TYPE = #{punishType},
      </if>
      <if test="punishDate != null">
        PUNISH_DATE = #{punishDate},
      </if>
      <if test="reason != null">
        REASON = #{reason},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="attachmentCert != null">
        ATTACHMENT_CERT = #{attachmentCert},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="expertId != null">
        EXPERT_ID = #{expertId},
      </if>
    </set>
    where ID = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.ems.ExpertBlackList">
    update T_SES_EMS_EXPERT_BLACKLIST
    set LOGIN_NAME = #{loginName},
      REL_NAME = #{relName},
      IS_SYS_BUILD = #{isSysBuild},
      STORAGE_TIME = #{storageTime},
      DATE_OF_PUNISHMENT = #{dateOfPunishment},
      PUNISH_TYPE = #{punishType},
      PUNISH_DATE = #{punishDate},
      REASON = #{reason},
      CREATED_AT = #{createdAt},
      UPDATED_AT = #{updatedAt},
      ATTACHMENT_CERT = #{attachmentCert}
      STATUS = #{status},
      EXPERT_ID = #{expertId},
    where ID = #{id}
  </update>
  
  <!-- 查询所有正在处罚中的专家黑名单  Easong -->
  <select id="findAllBlackListExpert" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
	  FROM T_SES_EMS_EXPERT_BLACKLIST BL
	  WHERE 1 = 1 AND BL.STATUS = #{status}
	 ORDER BY CREATED_AT DESC
  </select>
  
  <!-- 验证是否上传文件 -->
  <select id="yzsc" parameterType="String" resultType="Integer">
  	SELECT COUNT(*) FROM T_SES_EMS_EXPERT_ATTACHMENT WHERE BUSINESS_ID = #{id,jdbcType=VARCHAR} AND IS_DELETED = 0
  </select>
  
  <!-- 查询专家黑名单列表 -->
  <select id="selectExpertBlacklist" resultMap="ExpertBlacklistMap">
  	SELECT eb.*, 
		CASE dd.KIND
		WHEN 6 THEN CONCAT(dd.NAME, '技术')
		ELSE dd.NAME
		END AS EXPERT_TYPE_NAME
		FROM T_SES_EMS_EXPERT_BLACKLIST eb
		LEFT JOIN T_SES_EMS_EXPERT e ON eb.EXPERT_ID = e.ID
		LEFT JOIN T_SES_BMS_DICTIONARY_DATA dd ON dd.ID = e.EXPERTS_TYPE_ID
		<where>
			<if test="expertBlacklist.relName != null and expertBlacklist.relName != ''">
				AND eb.REL_NAME like #{expertBlacklist.relName}
			</if>
			<if test="expertTypeId != null and expertTypeId != ''">
				AND e.EXPERTS_TYPE_ID = #{expertTypeId}
			</if>
		</where>
		ORDER BY eb.DATE_OF_PUNISHMENT desc
  </select>
  
 	<resultMap type="ses.model.ems.ExpertBlackListVO" 
		id="ExpertBlacklistMap" 
		extends="BaseResultMap">
		<result column="EXPERT_TYPE_NAME" property="expertTypeName"/>
	</resultMap>
  
</mapper>