<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpExtConditionMapper">
	<resultMap id="BaseResultMap" type="ses.model.ems.ExpExtCondition">
		<!-- @mbggenerated -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
		<result column="STATUS" jdbcType="DECIMAL" property="status" />
		<result column="ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="EXPERTS_TYPE_ID" jdbcType="VARCHAR" property="expertsTypeId" />
		<result column="TENDER_TIME" jdbcType="DATE" property="tenderTime" />
		<result column="RESPONSE TIME" jdbcType="VARCHAR" property="responseTime" />
		<result column="AGE_MAX" jdbcType="VARCHAR" property="ageMax" />
		<result column="SATISFY_CONDITION" jdbcType="DECIMAL" property="satisfyCondition" />
		<result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
		<result column="EXPERT_COUNT" jdbcType="DECIMAL" property="expertCount" />
		<result column="EXPERT_ID" jdbcType="VARCHAR" property="expertId" />
		<result column="EXPERTS_FROM" jdbcType="VARCHAR" property="expertsFrom" />
		<result column="ADDRESS_ID" jdbcType="VARCHAR" property="addressId" />
		<result column="AGE_MIN" jdbcType="VARCHAR" property="ageMin" />
		<result column="EXTRACT_ADDRESS" jdbcType="VARCHAR" property="extractAddress" />
		<result column="ADDRESS_REASON" jdbcType="VARCHAR" property="addressReason" />
		<result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
		<result column="EXPERTS_QUALIFICATION" jdbcType="VARCHAR" property="expertsQualification" />
	</resultMap>
	<resultMap type="ses.model.ems.ExpExtCondition" id="BaseResultListMap"
		extends="BaseResultMap">
		<collection property="conTypes" column="ID"
			ofType="ses.model.ems.ExtConType">
			<id column="ctid" jdbcType="VARCHAR" property="id" />
			<result column="cttypeid" jdbcType="VARCHAR" property="expertsTypeId" />
			<result column="EXPERTS_COUNT" jdbcType="DECIMAL" property="expertsCount" />
			<result column="EXPERTS_QUALIFICATION" jdbcType="VARCHAR"
				property="expertsQualification" />
			<result column="gid" jdbcType="VARCHAR" property="categoryId" />
			<result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
			<result column="IS_MULTICONDITION" jdbcType="DECIMAL"
				property="isMulticondition" />
			<association property="expertsType" column="cttypeid"
				select="ses.dao.bms.DictionaryDataMapper.selectByPrimaryKey"></association>
		</collection>
		<!-- 关联抽取过的专家 -->
		<collection property="extRelatesList" column="ID"
			ofType="ses.model.ems.ProjectExtract" select="ses.dao.ems.ProjectExtractMapper.getBuyConId" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- @mbggenerated -->
		ID, PROJECT_ID, STATUS, ADDRESS, EXPERTS_TYPE_ID, TENDER_TIME,
		"RESPONSE TIME", AGE_MAX,
		SATISFY_CONDITION, CATEGORY_ID, EXPERT_COUNT,
		EXPERT_ID, EXPERTS_FROM, ADDRESS_ID,
		AGE_MIN,
		EXTRACT_ADDRESS,ADDRESS_REASON,CATEGORY_NAME,EXPERTS_QUALIFICATION
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		<!-- @mbggenerated -->
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_EXP_EXT_CONDITION
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- @mbggenerated -->
		delete from T_SES_EMS_EXP_EXT_CONDITION
		where ID =
		#{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="ses.model.ems.ExpExtCondition">
		<!-- @mbggenerated -->
		insert into T_SES_EMS_EXP_EXT_CONDITION (ID, PROJECT_ID, STATUS,
		ADDRESS, EXPERTS_TYPE_ID, TENDER_TIME,
		"RESPONSE TIME", AGE_MAX,
		SATISFY_CONDITION,
		CATEGORY_ID, EXPERT_COUNT, EXPERT_ID,
		EXPERTS_FROM,
		ADDRESS_ID, AGE_MIN,
		EXTRACT_ADDRESS,ADDRESS_REASON)
		values
		(#{id,jdbcType=VARCHAR},
		#{projectId,jdbcType=VARCHAR},
		#{status,jdbcType=DECIMAL},
		#{address,jdbcType=VARCHAR},
		#{expertsTypeId,jdbcType=VARCHAR},
		#{tenderTime,jdbcType=DATE},
		#{responseTime,jdbcType=VARCHAR},
		#{ageMax,jdbcType=VARCHAR},
		#{satisfyCondition,jdbcType=DECIMAL},
		#{categoryId,jdbcType=VARCHAR},
		#{expertCount,jdbcType=DECIMAL},
		#{expertId,jdbcType=VARCHAR},
		#{expertsFrom,jdbcType=VARCHAR},
		#{addressId,jdbcType=VARCHAR},
		#{ageMin,jdbcType=VARCHAR},
		#{extractAddress,jdbcType=VARCHAR}),
		#{addressReason,jdbcType=VARCHAR}),
	</insert>
	<insert id="insertSelective" parameterType="ses.model.ems.ExpExtCondition">
		<!-- @mbggenerated -->
		insert into T_SES_EMS_EXP_EXT_CONDITION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="expertsTypeId != null">
				EXPERTS_TYPE_ID,
			</if>
			<if test="tenderTime != null">
				TENDER_TIME,
			</if>
			<if test="responseTime != null">
				"RESPONSE TIME",
			</if>
			<if test="ageMax != null">
				AGE_MAX,
			</if>
			<if test="satisfyCondition != null">
				SATISFY_CONDITION,
			</if>
			<if test="categoryId != null">
				CATEGORY_ID,
			</if>
			<if test="expertCount != null">
				EXPERT_COUNT,
			</if>
			<if test="expertId != null">
				EXPERT_ID,
			</if>
			<if test="expertsFrom != null">
				EXPERTS_FROM,
			</if>
			<if test="addressId != null">
				ADDRESS_ID,
			</if>
			<if test="ageMin != null">
				AGE_MIN,
			</if>
			<if test="extractAddress != null">
				EXTRACT_ADDRESS,
			</if>
			<if test="addressReason != null">
				ADDRESS_REASON,
			</if>
			 <if test="categoryName != null">
        CATEGORY_NAME,
      </if>
         <if test="expertsQualification != null">
        EXPERTS_QUALIFICATION,
      </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=DECIMAL},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="expertsTypeId != null">
				#{expertsTypeId,jdbcType=VARCHAR},
			</if>
			<if test="tenderTime != null">
				#{tenderTime,jdbcType=DATE},
			</if>
			<if test="responseTime != null">
				#{responseTime,jdbcType=VARCHAR},
			</if>
			<if test="ageMax != null">
				#{ageMax,jdbcType=VARCHAR},
			</if>
			<if test="satisfyCondition != null">
				#{satisfyCondition,jdbcType=DECIMAL},
			</if>
			<if test="categoryId != null">
				#{categoryId,jdbcType=VARCHAR},
			</if>
			<if test="expertCount != null">
				#{expertCount,jdbcType=DECIMAL},
			</if>
			<if test="expertId != null">
				#{expertId,jdbcType=VARCHAR},
			</if>
			<if test="expertsFrom != null">
				#{expertsFrom,jdbcType=VARCHAR},
			</if>
			<if test="addressId != null">
				#{addressId,jdbcType=VARCHAR},
			</if>
			<if test="ageMin != null">
				#{ageMin,jdbcType=VARCHAR},
			</if>
			<if test="extractAddress != null">
				#{extractAddress,jdbcType=VARCHAR},
			</if>
			<if test="addressReason != null">
				#{addressReason,jdbcType=VARCHAR},
			</if>
			  <if test="categoryName != null">
         		#{categoryName,jdbcType=VARCHAR},
      </if>
         <if test="expertsQualification != null">
        EXPERTS_QUALIFICATION = #{expertsQualification,jdbcType=VARCHAR},
      </if>
		</trim>
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select sys_guid() from dual
		</selectKey>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExpExtCondition">
		<!-- @mbggenerated -->
		update T_SES_EMS_EXP_EXT_CONDITION
		<set>
			<if test="status != null">
				STATUS = #{status,jdbcType=DECIMAL},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="expertsTypeId != null">
				EXPERTS_TYPE_ID = #{expertsTypeId,jdbcType=VARCHAR},
			</if>
			<if test="tenderTime != null">
				TENDER_TIME = #{tenderTime,jdbcType=DATE},
			</if>
			<if test="responseTime != null">
				"RESPONSE TIME" = #{responseTime,jdbcType=VARCHAR},
			</if>
			<if test="ageMax != null">
				AGE_MAX = #{ageMax,jdbcType=VARCHAR},
			</if>
			<if test="satisfyCondition != null">
				SATISFY_CONDITION = #{satisfyCondition,jdbcType=DECIMAL},
			</if>
			<if test="categoryId != null">
				CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
			</if>
			<if test="expertCount != null">
				EXPERT_COUNT = #{expertCount,jdbcType=DECIMAL},
			</if>
			<if test="expertId != null">
				EXPERT_ID = #{expertId,jdbcType=VARCHAR},
			</if>
			<if test="expertsFrom != null">
				EXPERTS_FROM = #{expertsFrom,jdbcType=VARCHAR},
			</if>
			<if test="addressId != null">
				ADDRESS_ID = #{addressId,jdbcType=VARCHAR},
			</if>
			<if test="ageMin != null">
				AGE_MIN = #{ageMin,jdbcType=VARCHAR},
			</if>
			<if test="extractAddress != null">
				EXTRACT_ADDRESS = #{extractAddress,jdbcType=VARCHAR},
			</if>
			<if test="addressReason != null">
				ADDRESS_REASON = #{addressReason,jdbcType=VARCHAR},
			</if>
	    <if test="categoryName != null">
        CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      </if>
         <if test="expertsQualification != null">
        EXPERTS_QUALIFICATION = #{expertsQualification,jdbcType=VARCHAR},
      </if>
		</set>
		where
		1=1
		<if test="id != null and id != '' ">
			AND ID= #{id,jdbcType=VARCHAR}
		</if>
		<if test="projectId != null and projectId !='' ">
			AND PROJECT_ID = #{projectId,jdbcType=VARCHAR}
		</if>

	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.ems.ExpExtCondition">
		<!-- @mbggenerated -->
		update T_SES_EMS_EXP_EXT_CONDITION
		set PROJECT_ID =
		#{projectId,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=DECIMAL},
		ADDRESS = #{address,jdbcType=VARCHAR},
		EXPERTS_TYPE_ID =
		#{expertsTypeId,jdbcType=VARCHAR},
		TENDER_TIME =
		#{tenderTime,jdbcType=DATE},
		"RESPONSE TIME" =
		#{responseTime,jdbcType=VARCHAR},
		AGE_MAX = #{ageMax,jdbcType=VARCHAR},
		SATISFY_CONDITION = #{satisfyCondition,jdbcType=DECIMAL},
		CATEGORY_ID =
		#{categoryId,jdbcType=VARCHAR},
		EXPERT_COUNT =
		#{expertCount,jdbcType=DECIMAL},
		EXPERT_ID =
		#{expertId,jdbcType=VARCHAR},
		EXPERTS_FROM =
		#{expertsFrom,jdbcType=VARCHAR},
		ADDRESS_ID =
		#{addressId,jdbcType=VARCHAR},
		AGE_MIN = #{ageMin,jdbcType=VARCHAR},
		EXTRACT_ADDRESS = #{extractAddress,jdbcType=VARCHAR}
		ADDRESS_REASON =
		#{addressReason,jdbcType=VARCHAR}
		where ID =
		#{id,jdbcType=VARCHAR}
	</update>
	<sql id="condition">
		where 1 = 1
		<trim suffixOverrides=",">
			<if test="projectId != null and projectId != '' ">
				AND EC.PROJECT_ID=#{projectId}
			</if>
			<if test="id != null and id !='' ">
				AND EC."ID"=#{id}
			</if>
			<if test="status != null and status != ''">
				AND EC.STATUS=#{status}
			</if>
		</trim>
		ORDER BY EC.CREATED_AT
	</sql>
	<select id="list" parameterType="ses.model.ems.ExpExtCondition"
		resultMap="BaseResultListMap">
		SELECT
		EC.*, CT."ID" AS ctid,
		CT.CATEGORY_NAME,CT.EXPERTS_COUNT,CT.EXPERTS_QUALIFICATION,CT.EXPERTS_TYPE_ID
		as cttypeid,CT.CATEGORY_ID AS gid ,CT.IS_MULTICONDITION
		FROM
		T_SES_EMS_EXP_EXT_CONDITION ec
		LEFT JOIN
		T_SES_EMS_EXP_EXT_CON_TYPE ct
		ON
		EC."ID"=CT.CONDITION_ID
		<include refid="condition" />
	</select>

	<select id="selectByPackageId" parameterType="java.lang.String" resultMap="BaseResultListMap">
		 SELECT
    EC.*, CT."ID" AS ctid,
    CT.CATEGORY_NAME,CT.EXPERTS_COUNT,CT.EXPERTS_QUALIFICATION,CT.EXPERTS_TYPE_ID
    as cttypeid,CT.CATEGORY_ID AS gid ,CT.IS_MULTICONDITION
    FROM
    T_SES_EMS_EXP_EXT_CONDITION ec
    LEFT JOIN
    T_SES_EMS_EXP_EXT_CON_TYPE ct
    ON
    EC."ID"=CT.CONDITION_ID WHERE EC.PROJECT_ID=#{projectId}
	</select>

	<!--根据关联包id查询是否有未抽取的条件 -->
	<select id="getCount" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		SELECT "COUNT"(*) FROM T_SES_EMS_EXP_EXT_CONDITION WHERE
		PROJECT_ID=#{projectId} AND STATUS=1
	</select>

	<!-- 关联 -->
	<select id="getExtractsByProjectId" parameterType="java.lang.String"
		resultMap="BaseResultListMap">
		SELECT
		EC.*, CT."ID" AS ctid,
		CT.CATEGORY_NAME,CT.EXPERTS_COUNT,CT.EXPERTS_QUALIFICATION,CT.EXPERTS_TYPE_ID
		as cttypeid,CT.CATEGORY_ID AS gid ,CT.IS_MULTICONDITION
		FROM
		T_SES_EMS_EXP_EXT_CONDITION ec
		LEFT JOIN
		T_SES_EMS_EXP_EXT_CON_TYPE ct
		ON
		EC."ID"=CT.CONDITION_ID where
		EC.PROJECT_ID =#{projectId}
	</select>

	<!-- 删除未操作的信息 -->
	<delete id="deleteInfo" parameterType="java.lang.String">
		<if test="_parameter != null and _parameter != '' ">
			DELETE
			T_SES_EMS_PROJECT_EXTRACT WHERE EXPERT_CONDITION_ID
			= #{_parameter}
			AND OPERATING_TYPE = 0
		</if>
	</delete>
</mapper>