<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertBlackListMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertBlackList">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="REL_NAME" jdbcType="VARCHAR" property="relName" />
    <result column="IS_SYS_BUILD" jdbcType="DECIMAL" property="isSysBuild" />
    <result column="STORAGE_TIME" jdbcType="DATE" property="storageTime" />
    <result column="DATE_OF_PUNISHMENT" jdbcType="DATE" property="dateOfPunishment" />
    <result column="PUNISH_TYPE" jdbcType="DECIMAL" property="punishType" />
    <result column="PUNISH_DATE" jdbcType="VARCHAR" property="punishDate" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
    <result column="ATTACHMENT_CERT" jdbcType="VARCHAR" property="attachmentCert" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, LOGIN_NAME, REL_NAME, IS_SYS_BUILD, STORAGE_TIME, DATE_OF_PUNISHMENT, PUNISH_TYPE, 
    PUNISH_DATE, REASON, CREATED_AT, UPDATED_AT, ATTACHMENT_CERT
  </sql>
  
  <!-- 查询所有专家黑名单 -->
  	<select id="findList"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_BLACKLIST ORDER BY CREATED_AT DESC
  </select>
  
  <!-- 条件查询 -->
  <select id="query"   resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_BLACKLIST 
    where
    	 1=1
       <if test="relName != null and relName !=''">  
              AND  REL_NAME like '%${relName}%'   
       </if>  
       <if test="punishType != null and punishType !=''">  
              AND PUNISH_TYPE = '${punishType}' 
       </if> 
       <if test="punishDate != null and punishDate !=''">  
              AND PUNISH_DATE = '${punishDate}
       </if> 
       ORDER BY CREATED_AT DESC 
  </select>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_BLACKLIST
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_EMS_EXPERT_BLACKLIST
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.ems.ExpertBlackList">
    insert into T_SES_EMS_EXPERT_BLACKLIST (ID, LOGIN_NAME, REL_NAME, 
      IS_SYS_BUILD, STORAGE_TIME, DATE_OF_PUNISHMENT, 
      PUNISH_TYPE, PUNISH_DATE, REASON, 
      CREATED_AT, UPDATED_AT, ATTACHMENT_CERT
      )
    values (#{id,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{relName,jdbcType=VARCHAR}, 
      #{isSysBuild,jdbcType=DECIMAL}, #{storageTime,jdbcType=DATE}, #{dateOfPunishment,jdbcType=DATE}, 
      #{punishType,jdbcType=DECIMAL}, #{punishDate,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=DATE}, #{updatedAt,jdbcType=DATE}, #{attachmentCert,jdbcType=VARCHAR}
      )
  </insert>
  
  <!-- 增加专家黑名单信息 -->
  <insert id="insertSelective" parameterType="ses.model.ems.ExpertBlackList">
    insert into T_SES_EMS_EXPERT_BLACKLIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="relName != null">
        REL_NAME,
      </if>
      <if test="isSysBuild != null">
        IS_SYS_BUILD,
      </if>
      <if test="storageTime != null">
        STORAGE_TIME,
      </if>
      <if test="dateOfPunishment != null">
        DATE_OF_PUNISHMENT,
      </if>
      <if test="punishType != null">
        PUNISH_TYPE,
      </if>
      <if test="punishDate != null">
        PUNISH_DATE,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="attachmentCert != null">
        ATTACHMENT_CERT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="relName != null">
        #{relName,jdbcType=VARCHAR},
      </if>
      <if test="isSysBuild != null">
        #{isSysBuild,jdbcType=DECIMAL},
      </if>
      <if test="storageTime != null">
        #{storageTime,jdbcType=DATE},
      </if>
      <if test="dateOfPunishment != null">
        #{dateOfPunishment,jdbcType=DATE},
      </if>
      <if test="punishType != null">
        #{punishType,jdbcType=DECIMAL},
      </if>
      <if test="punishDate != null">
        #{punishDate,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
      <if test="attachmentCert != null">
        #{attachmentCert,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 修改信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExpertBlackList">
    update T_SES_EMS_EXPERT_BLACKLIST
    <set>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="relName != null">
        REL_NAME = #{relName,jdbcType=VARCHAR},
      </if>
      <if test="isSysBuild != null">
        IS_SYS_BUILD = #{isSysBuild,jdbcType=DECIMAL},
      </if>
      <if test="storageTime != null">
        STORAGE_TIME = #{storageTime,jdbcType=DATE},
      </if>
      <if test="dateOfPunishment != null">
        DATE_OF_PUNISHMENT = #{dateOfPunishment,jdbcType=DATE},
      </if>
      <if test="punishType != null">
        PUNISH_TYPE = #{punishType,jdbcType=DECIMAL},
      </if>
      <if test="punishDate != null">
        PUNISH_DATE = #{punishDate,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
      <if test="attachmentCert != null">
        ATTACHMENT_CERT = #{attachmentCert,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.ems.ExpertBlackList">
    update T_SES_EMS_EXPERT_BLACKLIST
    set LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      REL_NAME = #{relName,jdbcType=VARCHAR},
      IS_SYS_BUILD = #{isSysBuild,jdbcType=DECIMAL},
      STORAGE_TIME = #{storageTime,jdbcType=DATE},
      DATE_OF_PUNISHMENT = #{dateOfPunishment,jdbcType=DATE},
      PUNISH_TYPE = #{punishType,jdbcType=DECIMAL},
      PUNISH_DATE = #{punishDate,jdbcType=VARCHAR},
      REASON = #{reason,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE},
      ATTACHMENT_CERT = #{attachmentCert,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>