<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertBlackListLogMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertBlackListLog">
    <id column="ID" property="id" />
    <result column="OPERATOR" property="operator" />
    <result column="OPERATION_TYPE" property="operationType" />
    <result column="OPERATION_DATE" property="operationDate"  jdbcType="TIMESTAMP"/>
    <result column="EXPERT_ID" property="expertId" />
    
    <result column="DATE_OF_PUNISHMENT" property="dateOfPunishment" jdbcType="TIMESTAMP"/>
    <result column="PUNISH_DATE" property="punishDate" jdbcType="TIMESTAMP"/>
    <result column="PUNISH_TYPE" property="punishType" />
    <result column="REASON" property="reason" />
  </resultMap>
  <insert id="insertHistory" parameterType="ses.model.ems.ExpertBlackListLog">
    insert into T_SES_EMS_EXPERT_BLACKLIST_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="operationType != null">
        OPERATION_TYPE,
      </if>
      <if test="operationDate != null">
        OPERATION_DATE,
      </if>
      <if test="expertId != null">
        EXPERT_ID,
      </if>
      
      <if test="dateOfPunishment != null">
        DATE_OF_PUNISHMENT,
      </if>
      <if test="punishDate != null">
        PUNISH_DATE,
      </if>
      <if test="punishType != null">
        PUNISH_TYPE,
      </if>
      <if test="reason != null">
        REASON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="operator != null">
        #{operator},
      </if>
      <if test="operationType != null">
        #{operationType},
      </if>
      <if test="operationDate != null">
        #{operationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expertId != null">
        #{expertId},
      </if>
      
      <if test="dateOfPunishment != null">
        #{dateOfPunishment,jdbcType=TIMESTAMP},
      </if>
      <if test="punishDate != null">
        #{punishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="punishType != null">
        #{punishType},
      </if>
      <if test="reason != null">
        #{reason},
      </if>
    </trim>
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select sys_guid() from dual
  </selectKey>
  </insert>
  
  <select id="findBlackListLog" resultMap="BaseResultMap">
    SELECT
      t1.*,t2.REAL_NAME as expertName
    FROM 
      T_SES_EMS_EXPERT_BLACKLIST_LOG t1
    JOIN
      T_SES_EMS_EXPERT t2 
    ON 
      t2.id = t1.EXPERT_ID 
    WHERE 
       1=1
    <if test="expertName != null and expertName !=''">  
      AND t2.REAL_NAME like CONCAT(CONCAT('%', #{expertName}), '%')
    </if>  
    <if test="operationType != null and operationType !=''">  
      AND t1.OPERATION_TYPE = #{operationType}
    </if>
    order by OPERATION_DATE DESC
  </select>

</mapper>