<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertCategoryMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertCategory">
    <result column="EXPERT_ID" jdbcType="VARCHAR" property="expertId" />
    <result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
    <result column="LEVELS" jdbcType="VARCHAR" property="levels" />
    <result column="ENGIN_TYPE" jdbcType="VARCHAR" property="engin_type" />
    <result column="AUDIT_STATUS" property="auditStatus"/>
  </resultMap>
  
  <resultMap id="expertCategoryMap" type="ses.model.sms.SupplierCateTree">
    <result column="NAME" jdbcType="VARCHAR" property="rootNode" />
    <result column="ID" jdbcType="VARCHAR" property="itemsId" />
  </resultMap>
  
  <sql id="baseExpertSql">
     EXPERT_ID, CATEGORY_ID, TYPE_ID, LEVELS, ENGIN_TYPE, AUDIT_STATUS
  </sql>
  
  <!-- 根据专家id查询品目id集合 -->
 <select id="selectListByExpertId" resultMap="BaseResultMap">
    select 
    t1.EXPERT_ID, t1.CATEGORY_ID, t1.TYPE_ID, t1.LEVELS, t1.ENGIN_TYPE ,t2.CODE 
    from T_SES_EMS_EXPERT_CATEGORY t1
    <if test=" 'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(param2)">
     , T_SES_BMS_ENG_CATEGORY t2 
    </if>
    <if test=" !'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(param2)">
     , T_SES_BMS_CATEGORY t2 
    </if> 
    where   t1.EXPERT_ID = #{param1,jdbcType=VARCHAR}  and t1.CATEGORY_ID=t2.ID 
    <if test="param2 != null">
    and t1.TYPE_ID = #{param2,jdbcType=VARCHAR}
    </if>
    <if test="param3 != null">
    and t1.LEVELS = #{param3,jdbcType=VARCHAR}
    </if>
     order by t2.CODE ASC 
  </select>
  
  <!-- 根据专家id查询品目id集合 -->
  <select id="selectListByExpertId1" resultMap="BaseResultMap">
    select 
    <include refid="baseExpertSql"/>
    from T_SES_EMS_EXPERT_CATEGORY
    where EXPERT_ID = #{param1,jdbcType=VARCHAR}
    <if test="param2 != null">
    and TYPE_ID = #{param2,jdbcType=VARCHAR}
    </if>
  </select>
  
   <!-- 根据专家id和品目id查询品目Id集合 -->
  <select id="getCategoryByExpertId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="baseExpertSql" />
    from T_SES_EMS_EXPERT_CATEGORY
    where EXPERT_ID = #{param1,jdbcType=VARCHAR} AND CATEGORY_ID=#{param2,jdbcType=VARCHAR}
  </select>
  <!--根据专家id删除当前数据  -->
  <delete id="deleteByExpertId" parameterType="java.lang.String">
  		 delete from T_SES_EMS_EXPERT_CATEGORY
   		 where EXPERT_ID = #{expertId}
  </delete>
  <insert id="insert" parameterType="ses.model.ems.ExpertCategory">
    insert into T_SES_EMS_EXPERT_CATEGORY (EXPERT_ID, CATEGORY_ID, TYPE_ID, LEVELS, ENGIN_TYPE)
    values (#{expertId,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{levels,jdbcType=VARCHAR}, #{engin_type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ses.model.ems.ExpertCategory">
    insert into T_SES_EMS_EXPERT_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expertId != null">
        EXPERT_ID,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
        <if test="levels != null">
            LEVELS,
        </if>
        <if test="engin_type != null">
            ENGIN_TYPE
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expertId != null">
        #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
        <if test="levels != null">
            #{levels,jdbcType=VARCHAR},
        </if>
        <if test="engin_type != null">
            #{engin_type,jdbcType=VARCHAR}
        </if>
    </trim>
  </insert>
  
  <!-- 根据专家id和品目id删除 -->
  <delete id="deleteByMap">
  	delete from T_SES_EMS_EXPERT_CATEGORY
   	where EXPERT_ID = #{expertId}
   	<if test="categoryId != null">
	   	and CATEGORY_ID = #{categoryId}
    </if>
  </delete>
	<!-- 根据父id查询 -->
	<select id="findByExpertId" resultMap="BaseResultMap">
		SELECT
		<include refid="baseExpertSql" />
		FROM T_SES_EMS_EXPERT_CATEGORY
		WHERE EXPERT_ID = #{expertId}
	</select>
	<!-- 根据父id查询 -->
	<select id="findEnginId" parameterType="Map" resultMap="BaseResultMap">
		SELECT
		<include refid="baseExpertSql" />
		FROM T_SES_EMS_EXPERT_CATEGORY
		WHERE EXPERT_ID = #{expertId,jdbcType=VARCHAR} AND ENGIN_TYPE = #{engin_type,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除选中节点以外数据 -->
	<delete id="delNoTree">
		delete from T_SES_EMS_EXPERT_CATEGORY T
		where EXPERT_ID = #{expertId} 
		<if test="engin_type != null">
		   	AND ENGIN_TYPE = #{engin_type}
	    </if>
        <if test="array != null ">
		 AND T.TYPE_ID NOT IN 
	        <foreach collection="array" item="id" open="(" separator="," close=")">
              #{id}
           </foreach>
        </if>
	</delete>
  
  <!--根据专家ID，品目ID类型查询  -->
    <select id="getCategory" resultMap="BaseResultMap">
    select 
    <include refid="baseExpertSql"/>
    from T_SES_EMS_EXPERT_CATEGORY
      where EXPERT_ID = #{expertId}
    <if test="categoryId != null">
      and CATEGORY_ID = #{categoryId}
    </if>
    <if test="typeId != null">
      and TYPE_ID = #{typeId}
    </if>
  </select>
  
  <!-- 根据TYPE_ID查询专家所属各类型数量：
  	1、物资技术  2、工程技术 3、服务技术 4、物资服务经济 5、工程经济
   -->
   <select id="selectExpertCountByCategory" parameterType="java.lang.String" resultType="java.math.BigDecimal">
       SELECT COUNT(DISTINCT(T2.ID))
			   	FROM T_SES_EMS_EXPERT T2
			  	WHERE INSTR(T2.EXPERTS_TYPE_ID, #{typeId}) > 0
			    AND (T2.STATUS = 4 OR T2.STATUS = 5 OR T2.STATUS = 6 OR T2.STATUS = 7 OR
			         T2.STATUS = 8)
			    AND T2.IS_PROVISIONAL = '0'
			    AND T2.IS_DELETE = 0
   </select>
   
   <!-- 查询专家注册品目类型（小类）的数量 -->
   <select id="selectRegExpCateCount" parameterType="java.lang.String" resultType="java.lang.Integer">
     SELECT COUNT(T.EXPERT_ID)
		  FROM T_SES_EMS_EXPERT_CATEGORY T
		 	WHERE T.LEVELS = 1
   		AND T.EXPERT_ID = #{expertId}
   </select>

    <!--查询专家审核通过的类型-->
    <select id="selectCateByExpertId" parameterType="Map" resultType="java.lang.String">
        SELECT C.TYPE_ID
          FROM T_SES_EMS_EXPERT_CATEGORY C
         WHERE NOT EXISTS (SELECT T.AUDIT_FIELD_ID
                  FROM T_SES_EMS_EXPERT_AUDIT T
                 WHERE C.CATEGORY_ID = T.AUDIT_FIELD_ID
                   AND T.EXPERT_ID = #{expertId}
                   AND T.SUGGEST_TYPE = #{type}
                   AND T.IS_DELETED = 0)
           AND C.EXPERT_ID = #{expertId}
           AND C.LEVELS = '1'
         GROUP BY C.TYPE_ID
    </select>

    <!--查询专家审核不通过的类型ID-->
    <select id="selectNoPassCateByExpertId" parameterType="Map" resultType="java.lang.String">
        SELECT T.AUDIT_FIELD_ID
        FROM T_SES_EMS_EXPERT_AUDIT T
         WHERE T.EXPERT_ID = #{expertId}
         AND T.SUGGEST_TYPE = #{type}
         AND T.IS_DELETED = 0
         AND T.AUDIT_FALG = #{flag}
         AND T.AUDIT_STATUS = #{auditStatus}
    </select>

    <!--查询专家审核通过的类型—根据类型查询-->
    <select id="selectPassCateByExpertId" parameterType="Map" resultMap="BaseResultMap">
        SELECT C.TYPE_ID, C.CATEGORY_ID
          FROM T_SES_EMS_EXPERT_CATEGORY C
        <if test="tabName != null">
            INNER JOIN ${tabName} BC
            ON C.CATEGORY_ID = BC.ID
        </if>
         WHERE NOT EXISTS (SELECT T.AUDIT_FIELD_ID
                  FROM T_SES_EMS_EXPERT_AUDIT T
                 WHERE C.CATEGORY_ID = T.AUDIT_FIELD_ID
                   AND T.EXPERT_ID = #{expertId}
                   AND T.SUGGEST_TYPE = #{type}
                   AND T.AUDIT_FALG = #{flag}
                   AND T.AUDIT_STATUS = #{auditStatus}
                   AND T.IS_DELETED = 0)
           AND C.EXPERT_ID = #{expertId}
           AND C.LEVELS = '1'
           AND C.TYPE_ID = #{typeId}
           ORDER BY BC.CODE ASC
    </select>
    <!--查询专家审核通过的数量-->
    <select id="selectPassCount" parameterType="Map" resultMap="BaseResultMap">
        SELECT C.TYPE_ID, C.CATEGORY_ID
          FROM T_SES_EMS_EXPERT_CATEGORY C
         WHERE NOT EXISTS (SELECT T.AUDIT_FIELD_ID
                  FROM T_SES_EMS_EXPERT_AUDIT T
                 WHERE C.CATEGORY_ID = T.AUDIT_FIELD_ID
                   AND T.EXPERT_ID = #{expertId}
                   AND T.SUGGEST_TYPE = #{type}
                   AND T.IS_DELETED = 0
                   AND (T.AUDIT_STATUS IN ('1','3','6') OR T.AUDIT_STATUS IS null)
                   <if test="auditFalg!=null">
                   	<if test="auditFalg==2">
                   		AND T.AUDIT_FALG=2
                   	</if>
                   	<if test="auditFalg!=2">
                   		AND T.AUDIT_FALG!=2
                   	</if>
                   </if>
                   )
           AND C.EXPERT_ID = #{expertId}
            AND C.LEVELS = '1' 
           AND C.TYPE_ID = #{typeId}
    </select>
    <!-- 更新审核状态 -->
    <update id="updateAuditStatus" parameterType="ses.model.ems.ExpertCategory">
      update 
        T_SES_EMS_EXPERT_CATEGORY 
      SET 
        AUDIT_STATUS = #{auditStatus} 
      WHERE 
        EXPERT_ID =#{expertId} and CATEGORY_ID =#{categoryId}
    </update>
    
    <!-- 查询专家所有参评类别 -->
    <select id="findExpertCatrgory" resultMap = "expertCategoryMap">
		SELECT * FROM (
			SELECT ID,PARENT_ID,NAME FROM
			<if test=" 'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(typeId)">
				T_SES_BMS_ENG_CATEGORY
			</if>
			<if test=" !'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(typeId)">
				T_SES_BMS_CATEGORY
			</if>
			WHERE ID IN (SELECT CATEGORY_ID AS ID FROM
			T_SES_EMS_EXPERT_CATEGORY WHERE EXPERT_ID = #{expertId})
		)
		START WITH PARENT_ID = #{typeId} CONNECT BY PRIOR ID = PARENT_ID
    </select>
    
    <!-- 查询父节点的数量 （带本身） -->
    <select id="findCountParent" parameterType="Map" resultType="Integer">
		SELECT
			COUNT(ID)
		FROM
			<if test=" 'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(typeId)">
				T_SES_BMS_ENG_CATEGORY
			</if>
			<if test=" !'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(typeId)">
				T_SES_BMS_CATEGORY
			</if>
		START WITH ID = #{categoryId}
		CONNECT BY PRIOR PARENT_ID = ID
    </select>
    
    
    <!--查询专家审核通过的类型—根据类型查询和审核标识（初审，复审）-->
    <select id="findPassCateByExpertId" parameterType="Map" resultMap="BaseResultMap">
      SELECT
			  C.TYPE_ID,
			  C.CATEGORY_ID
			FROM
			  T_SES_EMS_EXPERT_CATEGORY C
			WHERE
			  NOT EXISTS (
			    SELECT
			      T.AUDIT_FIELD_ID
			    FROM
			      T_SES_EMS_EXPERT_AUDIT T
			    WHERE
			      C.CATEGORY_ID = T.AUDIT_FIELD_ID
			    AND T.EXPERT_ID = #{expertId}
			    AND T.SUGGEST_TYPE = #{type}
			    AND T.AUDIT_FALG = #{auditFalg}
			    AND T.IS_DELETED = 0
			  )
			AND C.EXPERT_ID = #{expertId}
			AND C.LEVELS = '1'
			AND C.TYPE_ID = #{typeId}
    </select>
    
      <!--根据专家ID，品目ID类型查询  -->
    <select id="selectCategoryByCategoryId" resultMap="BaseResultMap">
	    select 
	     <include refid="baseExpertSql"/>
	    from T_SES_EMS_EXPERT_CATEGORY
	      where EXPERT_ID = #{expertId}
	    <if test="categoryId != null">
	      and CATEGORY_ID = #{categoryId}
	    </if>
	    <if test="typeId != null">
	      and TYPE_ID = #{typeId}
	    </if>
	    <if test="auditStatus != null">
	      and AUDIT_STATUS = #{auditStatus} 
	    </if>
	 </select> 
	    
    <!-- 根据产品类别查询符合条件的专家 -->
    <select id="selExpertByCategory" parameterType="Map" resultType="String">
      SELECT 
        EXPERT_ID
      FROM
        T_SES_EMS_EXPERT_CATEGORY
      WHERE 1 = 1
      <if test="categoryId != null and categoryId != ''">
        AND CATEGORY_ID = #{categoryId}
      </if>
      <if test="typeId != null and typeId != ''">
        AND TYPE_ID = #{typeId}
      </if>
      <if test="engType != null and engType != ''">
        AND ENGIN_TYPE = #{engType}
      </if>
    </select>
    
    <!-- 根据品目查询符合条件的专家 (满足所有品目条件) -->
    <select id="selExpertByAll" parameterType="Map" resultType="String">
      SELECT
        EXPERT_ID
      FROM
        T_SES_EMS_EXPERT_CATEGORY
      WHERE
        TYPE_ID = #{typeId}
        <if test="engType != null and engType != ''">
          AND ENGIN_TYPE = #{engType}
        </if>
         AND CATEGORY_ID IN
        <foreach collection="ids" open="(" separator="," item="cid" close=")">
          #{cid}
        </foreach>
      GROUP BY EXPERT_ID HAVING COUNT(EXPERT_ID) = #{idSize}
    </select>
      <!--根据专家ID，品目ID类型<集合>查询  -->
    <select id="selectCategoryListByCategoryId" resultMap="BaseResultMap">
	    select 
	     <include refid="baseExpertSql"/>
	    from T_SES_EMS_EXPERT_CATEGORY
	      where EXPERT_ID = #{expertId}
	    <if test="typeIdList != null">
	      <foreach collection="typeIdList" item="item" index="index" open="and TYPE_ID in ("
                     close=")" separator=",">
                #{item}
            </foreach>
	    </if>
    </select>
    
    <!-- 根据typeId查询专家品目节点 -->
    <select id="findPointsByTypeId" resultMap="expertCategoryMap">
		SELECT DISTINCT ID,PARENT_ID,NAME,CODE
		 FROM 
			<if test=" 'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(typeId)">
				T_SES_BMS_ENG_CATEGORY
			</if>
			<if test=" !'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(typeId)">
				T_SES_BMS_CATEGORY
			</if>
		WHERE IS_DELETED = 0 START WITH ID in (
			SELECT CATEGORY_ID FROM T_SES_EMS_EXPERT_CATEGORY WHERE LEVELS = 1
			<if test="typeId != null">
				AND TYPE_ID = #{typeId}
			</if>
			<if test="expertId != null">
				AND EXPERT_ID = #{expertId}
			</if>
		) CONNECT BY PRIOR PARENT_ID = ID ORDER BY CODE
    </select>
    
    
      <!-- 根据专家id查询通过的品目 -->
	<select id="selectPassCategoryByExpertId" resultMap="BaseResultMap">
	    select 
	    	t1.EXPERT_ID, t1.CATEGORY_ID, t1.TYPE_ID, t1.LEVELS, t1.ENGIN_TYPE ,t2.CODE 
	    from
	    	T_SES_EMS_EXPERT_CATEGORY t1
	    <if test=" 'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(param2)">
	     	, T_SES_BMS_ENG_CATEGORY t2 
	    </if>
	    <if test=" !'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(param2)">
	     	, T_SES_BMS_CATEGORY t2 
	    </if> 
	    where
	    	t1.EXPERT_ID = #{param1,jdbcType=VARCHAR}  and t1.CATEGORY_ID=t2.ID  and t1.AUDIT_STATUS = 0
	    <if test="param2 != null">
	    	and t1.TYPE_ID = #{param2,jdbcType=VARCHAR}
	    </if>
	     	order by t2.CODE ASC 
	</select>
</mapper>