<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertEngModifyMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertEngHistory">
    <id column="ID"  property="id" />
    <result column="EXPERT_ID"  property="expertId" />
    <result column="FIELD"  property="field" />
    <result column="CREATED_AT"  property="createdAt" />
    <result column="RELATION_ID"  property="relationId" />
	  <result column="CONTENT"  property="content" />
		<result column="IS_DELETED"  property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
     ID, EXPERT_ID, FIELD, CREATED_AT, RELATION_ID, CONTENT
  </sql>
  
  <select id="selectByExpertId" parameterType="ses.model.ems.ExpertEngHistory" resultMap="BaseResultMap">
    select 
    *
    from T_SES_EMS_EXPERT_ENG_MODIFY
    where EXPERT_ID = #{expertId}
    	and IS_DELETED = 0
    <if test="field != null">
      and FIELD = #{field}
    </if>
    <if test="relationId != null">
      and	RELATION_ID = #{relationId}
    </if>
  </select>
	
	 <!-- 软删除 -->
  <update id="updateIsDeletedByExpertId" parameterType="java.lang.String">
  	update
  		T_SES_EMS_EXPERT_ENG_MODIFY
  	set
  		IS_DELETED = 1
  	where
  		EXPERT_ID = #{expertId}
  </update>
	
	<delete id="deleteByExpertId" parameterType="ses.model.ems.ExpertEngHistory">
        delete from
        T_SES_EMS_EXPERT_ENG_MODIFY
        where EXPERT_ID = #{expertId}
        and IS_DELETED = 0
  </delete>
	
  <insert id="insertSelective" parameterType="ses.model.ems.ExpertEngHistory">
    insert into T_SES_EMS_EXPERT_ENG_MODIFY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="expertId != null">
        EXPERT_ID,
      </if>
      <if test="field != null">
        FIELD,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="relationId != null">
        RELATION_ID,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="expertId != null">
        #{expertId},
      </if>
      <if test="field != null">
        #{field},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="relationId != null">
        #{relationId},
      </if>
      <if test="content != null">
        #{content},
      </if>
    </trim>
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select sys_guid() from dual
		</selectKey>
  </insert>
    <!--自定义-->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        *
        from T_SES_EMS_EXPERT_ENG_MODIFY
        where ID = #{id}
    </select>
    <insert id="insertSelectiveById" parameterType="ses.model.ems.ExpertEngHistory">
        insert into T_SES_EMS_EXPERT_ENG_MODIFY
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="expertId != null">
                EXPERT_ID,
            </if>
            <if test="field != null">
                FIELD,
            </if>
            <if test="createdAt != null">
                CREATED_AT,
            </if>
            <if test="relationId != null">
                RELATION_ID,
            </if>
            <if test="content != null">
                CONTENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="expertId != null">
                #{expertId},
            </if>
            <if test="field != null">
                #{field},
            </if>
            <if test="createdAt != null">
                #{createdAt},
            </if>
            <if test="relationId != null">
                #{relationId},
            </if>
            <if test="content != null">
                #{content},
            </if>
        </trim>
    </insert>
</mapper>