<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertAuditOpinionMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertAuditOpinion">
    <id column="ID"  property="id" />
    <result column="EXPERT_ID"  property="expertId" />
    <result column="OPINION"  property="opinion" />
    <result column="CREATED_AT"  property="createdAt" />
    <result column="UPDATED_AT"  property="updatedAt" />
    <result column="FLAG_TIME"  property="flagTime" />
    <result column="FLAG_AUDIT"  property="flagAudit" />
    <result column="IS_DOWNLOAD_ATTCH"  property="isDownLoadAttch" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, EXPERT_ID, OPINION, CREATED_AT, UPDATED_AT, FLAG_TIME, FLAG_AUDIT, IS_DOWNLOAD_ATTCH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_AUDIT_OPINION
    where EXPERT_ID = #{expertId}
    AND CREATED_AT = ( SELECT MAX(CREATED_AT) FROM T_SES_EMS_EXPERT_AUDIT_OPINION where EXPERT_ID = #{expertId})
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExpertAuditOpinion" >
    update T_SES_EMS_EXPERT_AUDIT_OPINION
    <set>
      <if test="expertId != null" >
        EXPERT_ID = #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null" >
        OPINION = #{opinion,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="flagTime != null" >
        FLAG_TIME = #{flagTime,jdbcType=DECIMAL},
      </if>
      <if test="flagAudit != null" >
        FLAG_AUDIT = #{flagAudit,jdbcType=DECIMAL},
      </if>
      <if test="isDownLoadAttch != null" >
        IS_DOWNLOAD_ATTCH = #{isDownLoadAttch,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="insertSelective" parameterType="ses.model.ems.ExpertAuditOpinion">
    insert into T_SES_EMS_EXPERT_AUDIT_OPINION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="expertId != null">
        EXPERT_ID,
      </if>
      <if test="opinion != null">
        OPINION,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="flagTime != null">
        FLAG_TIME,
      </if>
      <if test="flagAudit != null">
        FLAG_AUDIT,
      </if>
      <if test="isDownLoadAttch != null" >
        IS_DOWNLOAD_ATTCH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="expertId != null">
        #{expertId},
      </if>
      <if test="opinion != null">
        #{opinion},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="flagTime != null">
        #{flagTime},
      </if>
      <if test="flagAudit != null">
        #{flagAudit},
      </if>
      <if test="isDownLoadAttch != null" >
        #{isDownLoadAttch},
      </if>
    </trim>
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select sys_guid() from dual
    </selectKey>
  </insert>

  <!-- 根据专家ID查询信息 -->
  <select id="selectByExpertId" parameterType="ses.model.ems.ExpertAuditOpinion" resultMap="BaseResultMap">
       SELECT <include refid="Base_Column_List" />
        FROM (SELECT <include refid="Base_Column_List" />
          FROM T_SES_EMS_EXPERT_AUDIT_OPINION T
          WHERE T.EXPERT_ID = #{expertId}
          <if test="flagTime != null ">
            AND T.FLAG_TIME = #{flagTime}
          </if>
          ORDER BY CREATED_AT DESC)
          WHERE ROWNUM = 1
  </select>

  <!--主键查询-->
  <select id="findByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM T_SES_EMS_EXPERT_AUDIT_OPINION T
    WHERE T.ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 记录下载次数 -->
  <update id="updateIsDownload" parameterType="java.lang.String">
  	UPDATE T_SES_EMS_EXPERT_AUDIT_OPINION SET IS_DOWNLOAD_ATTCH = 1 WHERE EXPERT_ID = #{expertId}
  </update>
  
  <!-- 记录复审已下载过附件 -->
  <update id="updateIsDownloadAttch" parameterType="ses.model.ems.ExpertAuditOpinion">
  	UPDATE T_SES_EMS_EXPERT_AUDIT_OPINION SET IS_DOWNLOAD_ATTCH = 1 WHERE EXPERT_ID = #{expertId} AND FLAG_TIME = #{flagTime}
  </update>
</mapper>