<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertAttachmentMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertAttachment">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="FILE_SIZE" jdbcType="DECIMAL" property="fileSize" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="BUSINESS_ID" jdbcType="VARCHAR" property="businessId" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, PATH, CREATED_AT, UPDATED_AT, FILE_SIZE, IS_DELETED, BUSINESS_ID, TYPE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_ATTACHMENT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 条件查询 -->
  <select id="selectListByMap" resultMap="BaseResultMap" parameterType="map">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_ATTACHMENT
    where 1 = 1
    <if test="id != null and id != ''">
       AND ID  = #{id}
      </if>
      <if test="isDeleted != null and isDeleted != ''">
       AND IS_DELETED = #{isDeleted}
       
      </if>
      <if test="businessId != null and businessId != ''">
       AND BUSINESS_ID = #{businessId}
      </if>
      <if test="typeId != null and typeId != ''">
       AND TYPE_ID = #{typeId}
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_EMS_EXPERT_ATTACHMENT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.ems.ExpertAttachment">
    insert into T_SES_EMS_EXPERT_ATTACHMENT (ID, NAME, PATH, 
      CREATED_AT, UPDATED_AT, FILE_SIZE, 
      IS_DELETED, BUSINESS_ID, TYPE_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{fileSize,jdbcType=DECIMAL}, 
      #{isDeleted,jdbcType=DECIMAL}, #{businessId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ses.model.ems.ExpertAttachment">
    insert into T_SES_EMS_EXPERT_ATTACHMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="fileSize != null">
        FILE_SIZE,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="businessId != null">
        BUSINESS_ID,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="businessId != null">
        #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExpertAttachment">
    update T_SES_EMS_EXPERT_ATTACHMENT
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="fileSize != null">
        FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="businessId != null">
        BUSINESS_ID = #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.ems.ExpertAttachment">
    update T_SES_EMS_EXPERT_ATTACHMENT
    set NAME = #{name,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      BUSINESS_ID = #{businessId,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>