<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertMapper">
	<resultMap id="BaseResultMap" type="ses.model.ems.Expert">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="IS_SUBMIT" jdbcType="VARCHAR" property="isSubmit" />
		<result column="IS_DO" jdbcType="VARCHAR" property="isDo" />
		<result column="IS_DELETE" jdbcType="DECIMAL" property="isDelete" />
		<result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
		<result column="GENDER" jdbcType="CHAR" property="gender" />
		<result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
		<result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
		<result column="ID_CARD_NUMBER" jdbcType="VARCHAR" property="idCardNumber" />
		<result column="COVER_NOTE" jdbcType="VARCHAR" property="coverNote" />
		<result column="PRODUCT_CATEGORIES" jdbcType="VARCHAR" property="productCategories" />
		<result column="ACADEMIC_ACHIEVEMENT" jdbcType="VARCHAR" property="academicAchievement" />
		<result column="REVIEW_SITUATION" jdbcType="VARCHAR" property="reviewSituation" />
		<result column="AVOIDANCE_SITUATION" jdbcType="VARCHAR" property="avoidanceSituation" />
		<result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
		<result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="JOB_EXPERIENCES" jdbcType="VARCHAR" property="jobExperiences" />
		<result column="ID_TYPE" jdbcType="VARCHAR" property="idType" />
		<result column="EXPERTS_FROM" jdbcType="VARCHAR" property="expertsFrom" />
		<result column="POLITICS_STATUS" jdbcType="VARCHAR" property="politicsStatus" />
		<result column="NATION" jdbcType="VARCHAR" property="nation" />
		<result column="GRADUATE_SCHOOL" jdbcType="VARCHAR" property="graduateSchool" />
		<result column="LAST_EDUCATION" jdbcType="VARCHAR" property="hightEducation" />
		<result column="MAJOR" jdbcType="VARCHAR" property="major" />
		<result column="WORK_UNIT" jdbcType="VARCHAR" property="workUnit" />
		<result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
		<result column="FAX" jdbcType="VARCHAR" property="fax" />
		<result column="MAKE_TECH_DATE" jdbcType="DATE" property="makeTechDate" />
		<result column="HEALTH_STATE" jdbcType="VARCHAR" property="healthState" />
		<result column="ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="PROFESS_TECH_TITLES" jdbcType="VARCHAR" property="professTechTitles" />
		<result column="TIME_TO_WORK" jdbcType="DATE" property="timeToWork" />
		<result column="TIME_START_WORK" jdbcType="DATE" property="timeStartWork" />
		<result column="UNIT_ADDRESS" jdbcType="VARCHAR" property="unitAddress" />
		<result column="POST_CODE" jdbcType="VARCHAR" property="postCode" />
		<result column="DEGREE" jdbcType="VARCHAR" property="degree" />
		<result column="AT_DUTY" jdbcType="VARCHAR" property="atDuty" />
		<result column="EXPERTS_TYPE_ID" jdbcType="VARCHAR" property="expertsTypeId" />
		<result column="PURCHASE_DEP_ID" jdbcType="VARCHAR" property="purchaseDepId" />
		<result column="STATUS" jdbcType="CHAR" property="status" />
		<result column="IS_BLACK" jdbcType="CHAR" property="isBlack" />
		<result column="HONESTY_SCORE" jdbcType="DECIMAL" property="honestyScore" />
		<result column="REAL_NAME" jdbcType="VARCHAR" property="relName" />
		<result column="IS_PASS" jdbcType="DECIMAL" property="isPass" />
		<result column="IS_PROVISIONAL" jdbcType="DECIMAL" property="isProvisional" />
		<result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
		<result column="STEP_NUMBER" jdbcType="VARCHAR" property="stepNumber" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, IS_SUBMIT, IS_DO, IS_DELETE, CREATED_AT, GENDER,
		UPDATED_AT, MOBILE,
		BIRTHDAY,
		ID_NUMBER, ID_TYPE, EXPERTS_FROM,
		POLITICS_STATUS, NATION, GRADUATE_SCHOOL,
		LAST_EDUCATION,
		MAJOR,
		WORK_UNIT, TELEPHONE, FAX, MAKE_TECH_DATE, HEALTH_STATE, ADDRESS,
		PROFESS_TECH_TITLES,
		TIME_TO_WORK, TIME_START_WORK, UNIT_ADDRESS,
		POST_CODE, DEGREE, AT_DUTY,
		EXPERTS_TYPE_ID,
		PURCHASE_DEP_ID, STATUS,
		IS_BLACK, HONESTY_SCORE, REAL_NAME, IS_PASS, IS_PROVISIONAL,
		REMARKS, STEP_NUMBER, EMAIL, JOB_EXPERIENCES, ID_CARD_NUMBER,
		COVER_NOTE, PRODUCT_CATEGORIES, ACADEMIC_ACHIEVEMENT,
		REVIEW_SITUATION, AVOIDANCE_SITUATION
	</sql>
	<!-- 查询用户名是否存在 -->
	<!-- <select id="selectisSubmitList" parameterType="java.lang.String" resultMap="BaseResultMap" 
		> select IS_SUBMIT from T_SES_EMS_EXPERT where IS_SUBMIT = #{isSubmit} </select> -->
	<!-- 查询所有专家 可条件查询 -->
	<select id="selectAllExpert" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_EXPERT
		where 1=1 and IS_SUBMIT != '0' and IS_DELETE != 1
		<if test="relName != null and relName !=''">
			AND REAL_NAME like '%${relName}%'
		</if>
		<if test="expertsFrom != null and expertsFrom !=''">
			AND EXPERTS_FROM = '${expertsFrom}'
		</if>
		<if test="status != null and status !=''">
			AND STATUS = '${status}'
		</if>
		<if test="expertsTypeId != null and expertsTypeId !=''">
			AND instr( EXPERTS_TYPE_ID, '${expertsTypeId}' )>0
		</if>
		ORDER BY CREATED_AT DESC
	</select>
	<!-- 查询复审列表的专家 -->
	<select id="selectSecondAuditExpert" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_EXPERT
		where 1=1 and IS_SUBMIT != '0' and IS_DELETE != 1
		and (STATUS = '1' or STATUS = '4' or STATUS = '5')
		<if test="relName != null and relName !=''">
			AND REAL_NAME like '%${relName}%'
		</if>
		<if test="expertsFrom != null and expertsFrom !=''">
			AND EXPERTS_FROM = '${expertsFrom}'
		</if>
		<if test="expertsTypeId != null and expertsTypeId !=''">
			AND EXPERTS_TYPE_ID = ${expertsTypeId}
		</if>
		ORDER BY CREATED_AT DESC
	</select>
	<!-- 查找待办数量 -->
	<select id="getCount" parameterType="ses.model.ems.Expert"
		resultType="java.lang.Integer">
		<!-- @mbggenerated -->
		select
		count(*)
		from T_SES_EMS_EXPERT
		where 1=1 and IS_SUBMIT != '0' and
		IS_DELETE != 1
		<if test="relName!=null">
			and REAL_NAME= #{relName,jdbcType=VARCHAR}
		</if>
		<if test="expertsTypeId!=null">
			and EXPERTS_TYPE_ID= #{expertsTypeId,jdbcType=VARCHAR}
		</if>
		<if test="status!=null">
			and STATUS = #{status,jdbcType=DECIMAL}
		</if>
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_EXPERT
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		T_SES_EMS_EXPERT
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="ses.model.ems.Expert">
		insert into T_SES_EMS_EXPERT
		(ID, IS_SUBMIT, IS_DO,
		IS_DELETE, CREATED_AT, GENDER,
		UPDATED_AT,
		MOBILE, BIRTHDAY,
		ID_NUMBER, ID_TYPE, EXPERTS_FROM,
		POLITICS_STATUS,
		NATION, GRADUATE_SCHOOL,
		LAST_EDUCATION, MAJOR, WORK_UNIT,
		TELEPHONE,
		FAX, MAKE_TECH_DATE,
		HEALTH_STATE, ADDRESS, PROFESS_TECH_TITLES,
		TIME_TO_WORK, TIME_START_WORK, UNIT_ADDRESS,
		POST_CODE, DEGREE,
		AT_DUTY,
		EXPERTS_TYPE_ID, PURCHASE_DEP_ID, STATUS,
		IS_BLACK,
		HONESTY_SCORE, REAL_NAME, IS_PASS, IS_PROVISIONAL, REMARKS
		)
		values
		(#{id,jdbcType=VARCHAR},
		#{isSubmit,jdbcType=VARCHAR},
		#{isDo,jdbcType=VARCHAR},
		#{isDelete,jdbcType=DECIMAL},
		#{createdAt,jdbcType=DATE},
		#{gender,jdbcType=CHAR},
		#{updatedAt,jdbcType=DATE},
		#{mobile,jdbcType=VARCHAR},
		#{birthday,jdbcType=DATE},
		#{idNumber,jdbcType=VARCHAR},
		#{idType,jdbcType=VARCHAR},
		#{expertsFrom,jdbcType=VARCHAR},
		#{politicsStatus,jdbcType=VARCHAR},
		#{NATION,jdbcType=VARCHAR},
		#{graduateSchool,jdbcType=VARCHAR},
		#{hightEducation,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR},
		#{workUnit,jdbcType=VARCHAR},
		#{telephone,jdbcType=VARCHAR},
		#{fax,jdbcType=VARCHAR}, #{makeTechDate,jdbcType=DATE},
		#{healthState,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{professTechTitles,jdbcType=VARCHAR},
		#{timeToWork,jdbcType=DATE},
		#{timeStartWork,jdbcType=DATE}, #{unitAddress,jdbcType=VARCHAR},
		#{postCode,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR},
		#{atDuty,jdbcType=VARCHAR},
		#{expertsTypeId,jdbcType=VARCHAR},
		#{purchaseDepId,jdbcType=DECIMAL}, #{status,jdbcType=CHAR},
		#{isBlack,jdbcType=CHAR}, #{honestyScore,jdbcType=DECIMAL},
		#{relName,jdbcType=VARCHAR}, #{isPass,jdbcType=DECIMAL},
		#{isProvisional,jdbcType=DECIMAL},#{remarks,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="ses.model.ems.Expert">
		insert into T_SES_EMS_EXPERT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="jobExperiences != null">
				JOB_EXPERIENCES,
			</if>
			<if test="productCategories != null">
				PRODUCT_CATEGORIES,
			</if>
			<if test="academicAchievement != null">
				ACADEMIC_ACHIEVEMENT,
			</if>
			<if test="reviewSituation != null">
				REVIEW_SITUATION,
			</if>
			<if test="avoidanceSituation != null">
				AVOIDANCE_SITUATION,
			</if>
			<if test="coverNote != null">
				COVER_NOTE,
			</if>
			<if test="idCardNumber != null">
				ID_CARD_NUMBER,
			</if>
			<if test="email != null">
				EMAIL,
			</if>
			<if test="isSubmit != null">
				IS_SUBMIT,
			</if>
			<if test="isDo != null">
				IS_DO,
			</if>
			<if test="isDelete != null">
				IS_DELETE,
			</if>
			<if test="isPass != null">
				IS_PASS,
			</if>
			<if test="isProvisional != null">
				IS_PROVISIONAL,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="gender != null">
				GENDER,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="mobile != null">
				MOBILE,
			</if>
			<if test="birthday != null">
				BIRTHDAY,
			</if>
			<if test="idNumber != null">
				ID_NUMBER,
			</if>
			<if test="idType != null">
				ID_TYPE,
			</if>
			<if test="expertsFrom != null">
				EXPERTS_FROM,
			</if>
			<if test="politicsStatus != null">
				POLITICS_STATUS,
			</if>
			<if test="nation != null">
				NATION,
			</if>
			<if test="graduateSchool != null">
				GRADUATE_SCHOOL,
			</if>
			<if test="hightEducation != null">
				LAST_EDUCATION,
			</if>
			<if test="major != null">
				MAJOR,
			</if>
			<if test="workUnit != null">
				WORK_UNIT,
			</if>
			<if test="telephone != null">
				TELEPHONE,
			</if>
			<if test="fax != null">
				FAX,
			</if>
			<if test="makeTechDate != null">
				MAKE_TECH_DATE,
			</if>
			<if test="healthState != null">
				HEALTH_STATE,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="professTechTitles != null">
				PROFESS_TECH_TITLES,
			</if>
			<if test="timeToWork != null">
				TIME_TO_WORK,
			</if>
			<if test="timeStartWork != null">
				TIME_START_WORK,
			</if>
			<if test="unitAddress != null">
				UNIT_ADDRESS,
			</if>
			<if test="postCode != null">
				POST_CODE,
			</if>
			<if test="degree != null">
				DEGREE,
			</if>
			<if test="atDuty != null">
				AT_DUTY,
			</if>
			<if test="expertsTypeId != null">
				EXPERTS_TYPE_ID,
			</if>
			<if test="purchaseDepId != null">
				PURCHASE_DEP_ID,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="isBlack != null">
				IS_BLACK,
			</if>
			<if test="honestyScore != null">
				HONESTY_SCORE,
			</if>
			<if test="relName != null">
				REAL_NAME,
			</if>
			<if test="remarks != null">
				REMARKS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="isSubmit != null">
				#{isSubmit,jdbcType=VARCHAR},
			</if>
			<if test="jobExperiences != null">
				#{jobExperiences,jdbcType=VARCHAR},
			</if>
			<if test="productCategories != null">
				#{productCategories,jdbcType=VARCHAR},
			</if>
			<if test="academicAchievement != null">
				#{academicAchievement,jdbcType=VARCHAR},
			</if>
			<if test="reviewSituation != null">
				#{reviewSituation,jdbcType=VARCHAR},
			</if>
			<if test="avoidanceSituation != null">
				#{avoidanceSituation,jdbcType=VARCHAR},
			</if>
			<if test="idCardNumber != null">
				#{idCardNumber,jdbcType=VARCHAR},
			</if>
			<if test="jobExperiences != null">
				#{jobExperiences,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="isDo != null">
				#{isDo,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=DECIMAL},
			</if>
			<if test="isPass != null">
				#{isPass,jdbcType=DECIMAL},
			</if>
			<if test="isProvisional != null">
				#{isProvisional,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=DATE},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=CHAR},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=DATE},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=DATE},
			</if>
			<if test="idNumber != null">
				#{idNumber,jdbcType=VARCHAR},
			</if>
			<if test="idType != null">
				#{idType,jdbcType=VARCHAR},
			</if>
			<if test="expertsFrom != null">
				#{expertsFrom,jdbcType=VARCHAR},
			</if>
			<if test="politicsStatus != null">
				#{politicsStatus,jdbcType=VARCHAR},
			</if>
			<if test="nation != null">
				#{nation,jdbcType=VARCHAR},
			</if>
			<if test="graduateSchool != null">
				#{graduateSchool,jdbcType=VARCHAR},
			</if>
			<if test="hightEducation != null">
				#{hightEducation,jdbcType=VARCHAR},
			</if>
			<if test="major != null">
				#{major,jdbcType=VARCHAR},
			</if>
			<if test="workUnit != null">
				#{workUnit,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				#{fax,jdbcType=VARCHAR},
			</if>
			<if test="makeTechDate != null">
				#{makeTechDate,jdbcType=DATE},
			</if>
			<if test="healthState != null">
				#{healthState,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="professTechTitles != null">
				#{professTechTitles,jdbcType=VARCHAR},
			</if>
			<if test="timeToWork != null">
				#{timeToWork,jdbcType=DATE},
			</if>
			<if test="timeStartWork != null">
				#{timeStartWork,jdbcType=DATE},
			</if>
			<if test="unitAddress != null">
				#{unitAddress,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				#{postCode,jdbcType=VARCHAR},
			</if>
			<if test="degree != null">
				#{degree,jdbcType=VARCHAR},
			</if>
			<if test="atDuty != null">
				#{atDuty,jdbcType=VARCHAR},
			</if>
			<if test="expertsTypeId != null">
				#{expertsTypeId,jdbcType=VARCHAR},
			</if>
			<if test="purchaseDepId != null">
				#{purchaseDepId,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="isBlack != null">
				#{isBlack,jdbcType=CHAR},
			</if>
			<if test="honestyScore != null">
				#{honestyScore,jdbcType=DECIMAL},
			</if>
			<if test="relName != null">
				#{relName,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.Expert">
		update T_SES_EMS_EXPERT
		<set>
			<if test="isSubmit != null">
				IS_SUBMIT = #{isSubmit,jdbcType=VARCHAR},
			</if>
			<if test="jobExperiences != null">
				JOB_EXPERIENCES = #{jobExperiences,jdbcType=VARCHAR},
			</if>
			<if test="productCategories != null">
				PRODUCT_CATEGORIES = #{productCategories,jdbcType=VARCHAR},
			</if>
			<if test="academicAchievement != null">
				ACADEMIC_ACHIEVEMENT = #{academicAchievement,jdbcType=VARCHAR},
			</if>
			<if test="reviewSituation != null">
				REVIEW_SITUATION = #{reviewSituation,jdbcType=VARCHAR},
			</if>
			<if test="avoidanceSituation != null">
				AVOIDANCE_SITUATION = #{avoidanceSituation,jdbcType=VARCHAR},
			</if>
			<if test="idCardNumber != null">
				ID_CARD_NUMBER = #{idCardNumber,jdbcType=VARCHAR},
			</if>
			<if test="coverNote != null">
				COVER_NOTE = #{coverNote,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="isDo != null">
				IS_DO = #{isDo,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null">
				IS_DELETE = #{isDelete,jdbcType=DECIMAL},
			</if>
			<if test="isPass != null">
				IS_PASS = #{isPass,jdbcType=DECIMAL},
			</if>
			<if test="isProvisional != null">
				IS_PROVISIONAL = #{isProvisional,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=DATE},
			</if>
			<if test="gender != null">
				GENDER = #{gender,jdbcType=CHAR},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=DATE},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				BIRTHDAY = #{birthday,jdbcType=DATE},
			</if>
			<if test="idNumber != null">
				ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
			</if>
			<if test="idType != null">
				ID_TYPE = #{idType,jdbcType=VARCHAR},
			</if>
			<if test="expertsFrom != null">
				EXPERTS_FROM = #{expertsFrom,jdbcType=VARCHAR},
			</if>
			<if test="politicsStatus != null">
				POLITICS_STATUS = #{politicsStatus,jdbcType=VARCHAR},
			</if>
			<if test="nation != null">
				NATION = #{nation,jdbcType=VARCHAR},
			</if>
			<if test="graduateSchool != null">
				GRADUATE_SCHOOL = #{graduateSchool,jdbcType=VARCHAR},
			</if>
			<if test="hightEducation != null">
				LAST_EDUCATION = #{hightEducation,jdbcType=VARCHAR},
			</if>
			<if test="major != null">
				MAJOR = #{major,jdbcType=VARCHAR},
			</if>
			<if test="workUnit != null">
				WORK_UNIT = #{workUnit,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				TELEPHONE = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null">
				FAX = #{fax,jdbcType=VARCHAR},
			</if>
			<if test="makeTechDate != null">
				MAKE_TECH_DATE = #{makeTechDate,jdbcType=DATE},
			</if>
			<if test="healthState != null">
				HEALTH_STATE = #{healthState,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="professTechTitles != null">
				PROFESS_TECH_TITLES =
				#{professTechTitles,jdbcType=VARCHAR},
			</if>
			<if test="timeToWork != null">
				TIME_TO_WORK = #{timeToWork,jdbcType=DATE},
			</if>
			<if test="timeStartWork != null">
				TIME_START_WORK = #{timeStartWork,jdbcType=DATE},
			</if>
			<if test="unitAddress != null">
				UNIT_ADDRESS = #{unitAddress,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				POST_CODE = #{postCode,jdbcType=VARCHAR},
			</if>
			<if test="degree != null">
				DEGREE = #{degree,jdbcType=VARCHAR},
			</if>
			<if test="atDuty != null">
				AT_DUTY = #{atDuty,jdbcType=VARCHAR},
			</if>
			<if test="expertsTypeId != null">
				EXPERTS_TYPE_ID = #{expertsTypeId,jdbcType=VARCHAR},
			</if>
			<if test="purchaseDepId != null">
				PURCHASE_DEP_ID = #{purchaseDepId,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=CHAR},
			</if>
			<if test="isBlack != null">
				IS_BLACK = #{isBlack,jdbcType=CHAR},
			</if>
			<if test="honestyScore != null">
				HONESTY_SCORE = #{honestyScore,jdbcType=DECIMAL},
			</if>
			<if test="relName != null">
				REAL_NAME = #{relName,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				REMARKS = #{remarks,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.ems.Expert">
		update
		T_SES_EMS_EXPERT
		<set>
			<if test="isSubmit != null and isSubmit != '0'">
				IS_SUBMIT = #{isSubmit,jdbcType=VARCHAR},
			</if>
			<if test="jobExperiences != null and jobExperiences != ''">
				JOB_EXPERIENCES = #{jobExperiences,jdbcType=VARCHAR},
			</if>
			<if test="productCategories != null and productCategories != ''">
				PRODUCT_CATEGORIES = #{productCategories,jdbcType=VARCHAR},
			</if>
			<if test="academicAchievement != null and academicAchievement != ''">
				ACADEMIC_ACHIEVEMENT = #{academicAchievement,jdbcType=VARCHAR},
			</if>
			<if test="reviewSituation != null and reviewSituation != ''">
				REVIEW_SITUATION = #{reviewSituation,jdbcType=VARCHAR},
			</if>
			<if test="avoidanceSituation != null and avoidanceSituation != ''">
				AVOIDANCE_SITUATION = #{avoidanceSituation,jdbcType=VARCHAR},
			</if>
			<if test="idCardNumber != null and idCardNumber != ''">
				ID_CARD_NUMBER = #{idCardNumber,jdbcType=VARCHAR},
			</if>
			<if test="coverNote != null and coverNote != ''">
				COVER_NOTE = #{coverNote,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email != ''">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="isDo != null and isDo != '0'">
				IS_DO = #{isDo,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null and isDelete != '0'">
				IS_DELETE = #{isDelete,jdbcType=DECIMAL},
			</if>
			<if test="isPass != null and isPass != ''">
				IS_PASS = #{isPass,jdbcType=DECIMAL},
			</if>
			<if test="isProvisional != null and isProvisional != ''">
				IS_PROVISIONAL = #{isProvisional,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null and createdAt != ''">
				CREATED_AT = #{createdAt,jdbcType=DATE},
			</if>
			<if test="gender != null and gender != ''">
				GENDER = #{gender,jdbcType=CHAR},
			</if>
			<if test="updatedAt != null and updatedAt != ''">
				UPDATED_AT = #{updatedAt,jdbcType=DATE},
			</if>
			<if test="mobile != null and mobile != ''">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null and birthday != ''">
				BIRTHDAY = #{birthday,jdbcType=DATE},
			</if>
			<if test="idNumber != null and idNumber != ''">
				ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
			</if>
			<if test="idType != null and idType != ''">
				ID_TYPE = #{idType,jdbcType=VARCHAR},
			</if>
			<if test="expertsFrom != null and expertsFrom != ''">
				EXPERTS_FROM = #{expertsFrom,jdbcType=VARCHAR},
			</if>
			<if test="politicsStatus != null and politicsStatus != ''">
				POLITICS_STATUS = #{politicsStatus,jdbcType=VARCHAR},
			</if>
			<if test="nation != null and nation != ''">
				NATION = #{nation,jdbcType=VARCHAR},
			</if>
			<if test="graduateSchool != null and graduateSchool != ''">
				GRADUATE_SCHOOL = #{graduateSchool,jdbcType=VARCHAR},
			</if>
			<if test="hightEducation != null and hightEducation != ''">
				LAST_EDUCATION = #{hightEducation,jdbcType=VARCHAR},
			</if>
			<if test="major != null and major != ''">
				MAJOR = #{major,jdbcType=VARCHAR},
			</if>
			<if test="workUnit != null and workUnit != ''">
				WORK_UNIT = #{workUnit,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null and telephone != ''">
				TELEPHONE = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="fax != null and fax != ''">
				FAX = #{fax,jdbcType=VARCHAR},
			</if>
			<if test="makeTechDate != null and makeTechDate != ''">
				MAKE_TECH_DATE = #{makeTechDate,jdbcType=DATE},
			</if>
			<if test="healthState != null and healthState != ''">
				HEALTH_STATE = #{healthState,jdbcType=VARCHAR},
			</if>
			<if test="address != null and address != ''">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="professTechTitles != null and professTechTitles != ''">
				PROFESS_TECH_TITLES = #{professTechTitles,jdbcType=VARCHAR},
			</if>
			<if test="timeToWork != null and timeToWork != ''">
				TIME_TO_WORK = #{timeToWork,jdbcType=DATE},
			</if>
			<if test="timeStartWork != null and timeStartWork != ''">
				TIME_START_WORK = #{timeStartWork,jdbcType=DATE},
			</if>
			<if test="unitAddress != null and unitAddress != ''">
				UNIT_ADDRESS = #{unitAddress,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null and postCode != ''">
				POST_CODE = #{postCode,jdbcType=VARCHAR},
			</if>
			<if test="degree != null and degree != ''">
				DEGREE = #{degree,jdbcType=VARCHAR},
			</if>
			<if test="atDuty != null and atDuty != ''">
				AT_DUTY = #{atDuty,jdbcType=VARCHAR},
			</if>
			<if test="expertsTypeId != null and expertsTypeId != ''">
				EXPERTS_TYPE_ID = #{expertsTypeId,jdbcType=VARCHAR},
			</if>
			<if test="purchaseDepId != null and purchaseDepId != ''">
				PURCHASE_DEP_ID = #{purchaseDepId,jdbcType=DECIMAL},
			</if>
			<if test="status != null and status != '0'">
				STATUS = #{status,jdbcType=CHAR},
			</if>
			<if test="isBlack != null and isBlack != '0'">
				IS_BLACK = #{isBlack,jdbcType=CHAR},
			</if>
			<if test="honestyScore != null and honestyScore != ''">
				HONESTY_SCORE = #{honestyScore,jdbcType=DECIMAL},
			</if>
			<if test="relName != null and relName != ''">
				REAL_NAME = #{relName,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null and remarks != ''">
				REMARKS = #{remarks,jdbcType=VARCHAR},
			</if>
		</set>
		where
		ID = #{id,jdbcType=VARCHAR}

	</update>

	<select id="findExpertList" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from T_SES_EMS_EXPERT
	</select>

	<!-- 查询专家 可条件查询 -->
	<select id="findExpertAll" resultMap="BaseResultMap"
		parameterType="ses.model.ems.Expert">
		select
		*
		from
		T_SES_EMS_EXPERT
		where 1=1
		<if test="relName != null and relName !=''">
			AND REAL_NAME like '%${relName}%'
		</if>
		<if test="ids != null">
			<foreach collection="ids" item="id" open="and ID not in ("
				close=")" separator=",">
				#{id}
			</foreach>
		</if>
		ORDER BY CREATED_AT DESC
	</select>
	<!-- 专家抽取集合 -->
	<!-- AND ee.ADDRESS = #{address} -->
	<!-- AND EE.EXPERTS_FROM =#{expertsFrom} -->
	
	<select id="listExtractionExpert" parameterType="ses.model.ems.ExpExtCondition"
		resultMap="BaseResultMap">
		SELECT
		*
		FROM
		T_SES_EMS_EXPERT ee
		LEFT JOIN T_SES_EMS_EXPERT_CATEGORY ec
		ON ee."ID" = EC.EXPERT_ID
		WHERE
		ee.IS_DELETE = 0
		AND ee.STATUS = 1
    AND ee.IS_BLACK = 0
		<foreach item="item" collection="conTypes">
			AND (EE.EXPERTS_TYPE_ID = #{item.expertsTypeId}
			<if
				test="item.isMulticondition != null and item.isMulticondition != 0 and item.categorySplit != null">
				<if test="item.isMulticondition==2">
					AND
					<foreach item="ids" collection="item.categorySplit"
						separator="OR" open="(" close=")">
						EC.CATEGORY_ID = #{ids}
					</foreach>
				</if>
				<if test="item.isMulticondition==1">
					AND
					<foreach item="ids" collection="item.categorySplit"
						separator="OR">
						EC.CATEGORY_ID=#{ids}
					</foreach>
				</if>
			</if>
			)
		</foreach>
	</select>


	<!-- 查询所有专家 可条件查询 -->
	<select id="findAllExpert" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_EXPERT
		where 1=1 and IS_SUBMIT != '0' and IS_DELETE != 1
		<if test="relName != null and relName !=''">
			AND REAL_NAME LIKE #{relName}
		</if>
		<if test="expertsFrom != null and expertsFrom !=''">
			AND EXPERTS_FROM = #{expertsFrom}
		</if>
		<if test="status != null and status !=''">
			AND STATUS = #{status}
		</if>
		<if test="expertsTypeId != null and expertsTypeId !=''">
			AND EXPERTS_TYPE_ID = #{expertsTypeId}
		</if>
		<if test="idNumber != null and idNumber !=''">
			AND ID_NUMBER LIKE #{idNumber}
		</if>
		<if test="id != null and id !=''">
			AND ID = #{id}
		</if>
		ORDER BY CREATED_AT DESC
	</select>


    <!-- 关联 -->
	<select id="getByExpertProjectId" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT ee.* FROM T_SES_EMS_PROJECT_EXTRACT pe INNER JOIN T_SES_EMS_EXPERT ee
		ON PE.EXPERT_ID =ee."ID" WHERE PE.STATUS_COUNT=0  AND PE.OPERATING_TYPE=1 AND PE.PROJECT_ID =#{projectId}
	</select>
	<!-- 手机号唯一性验证 -->
	<select id="validatePhone" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT ID FROM T_SES_EMS_EXPERT
		WHERE MOBILE = #{_parameter}
	</select>
	<!-- 身份证号唯一性验证 -->
	<select id="validateIdNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT ID FROM T_SES_EMS_EXPERT
		WHERE ID_CARD_NUMBER = #{_parameter}
	</select>
	<!-- 注册时点击下一步,将表中的STRP_NUMBER进行同步 -->
	<update id="updateStepNumber">
		update T_SES_EMS_EXPERT
		set STEP_NUMBER = #{param2}
		where id = #{param1} 
	</update>
</mapper>