<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertPaperUserMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertPaperUser">
    <id column="ID" property="id" />
    <result column="USER_ID" property="userId" />
    <result column="IS_DO" property="isDo" />
    <result column="IS_PASS" property="isPass" />
    <result column="YEAR" property="year" />
    <result column="CREATED_AT" property="createdAt"/>
    <result column="UPDATED_AT" property="updatedAt"/>
    <result column="RULE_ID" property="ruleId" />
    <result column="USER_TYPE" property="userType" />
    <result column="ID_NUMBER" property="idNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID,IS_DO,IS_PASS,YEAR,CREATED_AT,UPDATED_AT,RULE_ID,USER_TYPE,ID_NUMBER
  </sql>
  
  <!-- 根据主键查询 参考人员-->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_PAPER_USER
    where ID = #{id}
  </select>
  
  <!-- 根据主键ID删除参考人员 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_EMS_EXPERT_PAPER_USER
    where ID = #{id}
  </delete>
  
  <!-- 新增参考人员 -->
  <insert id="insertSelective" parameterType="ses.model.ems.ExpertPaperUser">
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_EMS_EXPERT_PAPER_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="isDo != null">
        IS_DO,
      </if>
      <if test="isPass != null">
        IS_PASS,
      </if>
      <if test="year != null">
        YEAR,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="ruleId != null">
        RULE_ID,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="idNumber != null">
        ID_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="isDo != null">
        #{isDo},
      </if>
      <if test="isPass != null">
        #{isPass},
      </if>
      <if test="year != null">
        #{year},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="ruleId != null">
        #{ruleId},
      </if>
      <if test="userType != null">
        #{userType},
      </if>
      <if test="idNumber != null">
        #{idNumber},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键ID更新考卷 -->
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExpertPaperUser">
    update T_SES_EMS_EXPERT_PAPER_USER
    <set>
      <if test="userId != null">
        USER_ID = #{userId},
      </if>
      <if test="isDo != null">
        IS_DO = #{isDo},
      </if>
      <if test="isPass != null">
        IS_PASS = #{isPass},
      </if>
      <if test="year != null">
        YEAR = #{year},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt},
      </if>
      <if test="ruleId != null">
        RULE_ID = #{ruleId},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType},
      </if>
      <if test="idNumber != null">
        ID_NUMBER = #{idNumber},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据规则ID和用户ID更新参考人员考试状态 -->
  <update id="updateById" parameterType="ses.model.ems.ExpertPaperUser">
    update T_SES_EMS_EXPERT_PAPER_USER
    <set>
      <if test="isDo != null">
        IS_DO = #{isDo},
      </if>
      <if test="isPass != null">
        IS_PASS = #{isPass},
      </if>
    </set>
    where USER_ID = #{userId}
    AND RULE_ID = #{ruleId}
  </update>
  
  <!-- 查出所有的规则的参考人员 -->
  <select id="findAll" parameterType="java.util.Map" resultType="ses.model.ems.ExpertPaperUser">
  	SELECT
  		E.ID AS id,
		U.ID AS userId,
		U.REL_NAME AS relName,
		E.USER_TYPE AS userType,
		E.RULE_ID AS ruleId,
		E.ID_NUMBER AS idNumber
	FROM
		T_SES_EMS_EXPERT_PAPER_USER E
	LEFT JOIN T_SES_BMS_USER U ON E.USER_ID = U.ID
	WHERE 1=1
  	<if test="ruleId != null and ruleId != ''">
        AND E.RULE_ID = #{ruleId}
    </if>
    <if test="userId != null and userId != ''">
        AND U.ID = #{userId}
    </if>
    <if test="year != null and year != ''">
        AND E.YEAR = #{year}
    </if>
  </select>
  
  <!-- 查看未参考的人员 -->
  <select id="findNoTest" parameterType="java.lang.String" resultType="ses.model.ems.ExpertPaperUser">
  	SELECT
  		*
	FROM
		T_SES_EMS_EXPERT_PAPER_USER 
	WHERE 
        RULE_ID = #{ruleId}
    AND IS_DO = 0
  </select>
  
  <select id="findNoTestById" parameterType="java.util.Map" resultType="ses.model.ems.ExpertPaperUser">
  	SELECT
  		*
	FROM
		T_SES_EMS_EXPERT_PAPER_USER 
	WHERE 
        RULE_ID = #{ruleId}
    AND USER_ID = #{userId} 
    AND IS_DO = 0
  </select>
</mapper>