<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertAuditMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertAudit">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="EXPERT_ID" jdbcType="VARCHAR" property="expertId" />
    <result column="AUDIT_USER_ID" jdbcType="VARCHAR" property="auditUserId" />
    <result column="AUDIT_USER_NAME" jdbcType="VARCHAR" property="auditUserName" />
    <result column="AUDIT_REASON" jdbcType="VARCHAR" property="auditReason" />
    <result column="AUDIT_RESULT" jdbcType="VARCHAR" property="auditResult" />
    <result column="AUDIT_AT" property="auditAt" jdbcType="TIMESTAMP"/>
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
    <result column="SUGGEST_TYPE" jdbcType="VARCHAR" property="suggestType" />
    <result column="AUDIT_FIELD" jdbcType="VARCHAR" property="auditField" />
    <result column="AUDIT_CONTENT" jdbcType="VARCHAR" property="auditContent" />
    <result column="AUDIT_FIELD_ID" jdbcType="VARCHAR" property="auditFieldId" />
    <result column="AUDIT_FIELD_NAME" jdbcType="VARCHAR" property="auditFieldName" />
    <result column="AUDIT_FALG" property="auditFalg" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, EXPERT_ID, AUDIT_USER_ID, AUDIT_USER_NAME, AUDIT_REASON, AUDIT_RESULT, AUDIT_AT, IS_DELETED, SUGGEST_TYPE, AUDIT_FIELD, AUDIT_CONTENT, TYPE, "AUDIT_FIELD_ID", AUDIT_FALG
  </sql>
  <!-- 根据专家id查询 -->
  <select id="selectByExpertId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from T_SES_EMS_EXPERT_AUDIT
    where EXPERT_ID = #{expertId}
    and IS_DELETED = 0
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT_AUDIT
    where ID = #{id}
  </select>
  <!--根据专家ID查询审核通过的专家  -->
  <select id="findResultByExpertId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from T_SES_EMS_EXPERT_AUDIT
    where EXPERT_ID = #{expertId}
    and AUDIT_RESULT = '1'
    and nvl(IS_DELETED,0) = 0
  </select>
  <!-- 查找所有审核通过的专家 -->
  <select id="findAllPassExpert" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    *
    from T_SES_EMS_EXPERT_AUDIT
    where AUDIT_RESULT = '1'
    and nvl(IS_DELETED,0) = 0
  </select>
  
  <!-- 查找所有符合条件的专家 -->
  <select id="findConditionPassExpert" parameterType="ses.model.ems.ExpertAudit" resultMap="BaseResultMap">
    select 
    *
    from T_SES_EMS_EXPERT_AUDIT
    where 
    	EXPERT_ID = #{expertId}
    and IS_DELETED = 0
    <if test="suggestType != '' and suggestType != null">
    	and SUGGEST_TYPE = #{suggestType}
    </if>
    <if test="type != '' and type != null">
    	and TYPE = #{type}
    </if>
     <if test="auditFalg != '' and auditFalg != null">
    	 <if test="auditFalg == 666 ">
    		and AUDIT_FALG is null
    	</if>
    	<if test="auditFalg != 666">
    		and AUDIT_FALG = #{auditFalg}
    	</if>
     </if> 
     ORDER BY DECODE (SUGGEST_TYPE,'one','1','seven','2','six','3','five','4'),AUDIT_AT ASC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_EMS_EXPERT_AUDIT
    where ID = #{id}
  </delete>
  <insert id="insert" parameterType="ses.model.ems.ExpertAudit">
    insert into T_SES_EMS_EXPERT_AUDIT (ID, EXPERT_ID, AUDIT_USER_ID, 
      AUDIT_USER_NAME, AUDIT_REASON, AUDIT_RESULT, 
      AUDIT_AT, IS_DELETED, SUGGEST_TYPE, AUDIT_FIELD, AUDIT_CONTENT, TYPE
      )
    values (#{id}, #{expertId}, #{auditUserId}, 
      #{auditUserName}, #{auditReason}, #{auditResult}, 
      #{auditAt,jdbcType=TIMESTAMP}, #{isDeleted}, #{suggestType}, #{auditField}, #{auditContent}, #{type}
      )
  </insert>
  
  <!-- 记录审核 -->
  <insert id="insertSelective" parameterType="ses.model.ems.ExpertAudit">
    insert into T_SES_EMS_EXPERT_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="expertId != null">
        EXPERT_ID,
      </if>
      <if test="auditUserId != null">
        AUDIT_USER_ID,
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME,
      </if>
      <if test="auditReason != null">
        AUDIT_REASON,
      </if>
      <if test="auditResult != null">
        AUDIT_RESULT,
      </if>
      <if test="auditAt != null">
        AUDIT_AT,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="suggestType != null">
        SUGGEST_TYPE,
      </if>
      <if test="auditField != null">
        AUDIT_FIELD,
      </if>
      <if test="auditContent != null">
        AUDIT_CONTENT,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="auditFieldId != null">
        AUDIT_FIELD_ID,
      </if>
      <if test="auditFieldName != null">
        AUDIT_FIELD_NAME,
      </if>
      <if test="auditFalg != null">
        AUDIT_FALG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="expertId != null">
        #{expertId},
      </if>
      <if test="auditUserId != null">
        #{auditUserId},
      </if>
      <if test="auditUserName != null">
        #{auditUserName},
      </if>
      <if test="auditReason != null">
        #{auditReason},
      </if>
      <if test="auditResult != null">
        #{auditResult},
      </if>
      <if test="auditAt != null">
        #{auditAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="suggestType != null">
        #{suggestType},
      </if>
      <if test="auditField != null">
        #{auditField},
      </if>
      <if test="auditContent != null">
        #{auditContent},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="auditFieldId != null">
        #{auditFieldId},
      </if>
      <if test="auditFieldName != null">
        #{auditFieldName},
      </if>
      <if test="auditFalg != null">
        #{auditFalg},
      </if>
    </trim>
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select sys_guid() from dual
		</selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ExpertAudit">
    update T_SES_EMS_EXPERT_AUDIT
    <set>
      <if test="expertId != null">
        EXPERT_ID = #{expertId},
      </if>
      <if test="auditUserId != null">
        AUDIT_USER_ID = #{auditUserId},
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME = #{auditUserName},
      </if>
      <if test="auditReason != null">
        AUDIT_REASON = #{auditReason},
      </if>
      <if test="auditResult != null">
        AUDIT_RESULT = #{auditResult},
      </if>
      <if test="auditAt != null">
        AUDIT_AT = #{auditAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted},
      </if>
      <if test="suggestType != null">
        SUGGEST_TYPE = #{suggestType},
      </if>
      <if test="auditField != null">
        AUDIT_FIELD = #{auditField},
      </if>
      <if test="auditContent != null">
        AUDIT_CONTENT = #{auditContent},
      </if>
      <if test="type != null">
        TYPE = #{type},
      </if>
    </set>
    where ID = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.ems.ExpertAudit">
    update T_SES_EMS_EXPERT_AUDIT
    set EXPERT_ID = #{expertId},
      AUDIT_USER_ID = #{auditUserId},
      AUDIT_USER_NAME = #{auditUserName},
      AUDIT_REASON = #{auditReason},
      AUDIT_RESULT = #{auditResult},
      AUDIT_AT = #{auditAt,jdbcType=TIMESTAMP},
      TYPE = #{type},
      IS_DELETED = #{isDeleted}
      SUGGEST_TYPE = #{suggestType},
      AUDIT_FIELD = #{auditField},
      AUDIT_CONTENT = #{auditContent}
    where ID = #{id}
  </update>
  
  <select id="selectFailByExpertId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    	*
    from 
    	T_SES_EMS_EXPERT_AUDIT
    where 
    	EXPERT_ID = #{expertId}
    	and IS_DELETED = 0
    <if test="suggestType != '' and suggestType != null">
    	and SUGGEST_TYPE = #{suggestType}
    </if>
    <if test="auditField != '' and auditField != null">
    	and AUDIT_FIELD = #{auditField}
    </if>
    <if test="auditFieldId != '' and auditFieldId != null">
    	and AUDIT_FIELD_ID = #{auditFieldId}
    </if>
    <if test="auditFieldName != '' and auditFieldName != null">
    	and AUDIT_FIELD_NAME = #{auditFieldName}
    </if>
    <if test="type !=null ">
    	and TYPE = #{type}
    </if>
  </select>
  
  <select id="selectbyAuditType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    	*
    from 
    	T_SES_EMS_EXPERT_AUDIT
    where 
    	EXPERT_ID = #{expertId}
    	and IS_DELETED = 0
    <if test="type !=null ">
    	and TYPE = #{type}
    </if>
    <if test="suggestType !=null ">
        and SUGGEST_TYPE = #{suggestType}
    </if>
    <if test="auditField != '' and auditField != null">
    	and AUDIT_FIELD = #{auditField}
    </if>
    <if test="auditFieldId != '' and auditFieldId != null">
        and AUDIT_FIELD_ID = #{auditFieldId}
    </if>
    <if test="auditFalg !='' and auditFalg !=null">
        and AUDIT_FALG = #{auditFalg}
    </if>
  </select>
  
  
  <!-- <update id="updateIsDeleteByExpertId">
  	delete
  		T_SES_EMS_EXPERT_AUDIT
    where
    	EXPERT_ID = #{expertId}
  </update> -->
  
  <delete id="deleteByExpertId" parameterType="java.lang.String">
    delete from T_SES_EMS_EXPERT_AUDIT
    where EXPERT_ID = #{expertId}
  </delete>
  
  <!-- 软删除历史记录 -->
  <update id="updateIsDeleteByExpertId" parameterType="java.lang.String">
  	update
  		T_SES_EMS_EXPERT_AUDIT
  	set
  		IS_DELETED = 1
  	where 
  		EXPERT_ID =#{expertId}
  </update>
  
  
  <select id="findByObj" parameterType="java.lang.String" resultType="java.lang.Integer">
    select 
    	count(*)
    from T_SES_EMS_EXPERT_AUDIT
    where EXPERT_ID = #{expertId}
    and IS_DELETED = 0
    <if test="suggestType != '' and suggestType != null">
    	and SUGGEST_TYPE = #{suggestType}
    </if>
    <if test="auditField != '' and auditField != null">
    	and AUDIT_FIELD = #{auditField}
    </if>
    <if test="auditFieldId != '' and auditFieldId != null">
    	and AUDIT_FIELD_ID = #{auditFieldId}
    </if>
    <if test="auditContent != '' and auditContent != null">
    	and AUDIT_CONTENT = #{auditContent}
    </if>
    <if test="auditFalg != '' and auditFalg != null">
      and AUDIT_FALG = #{auditFalg}
    </if>
  </select>
  
  
    <!-- 记录审核 -->
  <insert id="insertActive" parameterType="ses.model.ems.ExpertAudit">
    insert into T_SES_EMS_EXPERT_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="expertId != null">
        EXPERT_ID,
      </if>
      <if test="auditUserId != null">
        AUDIT_USER_ID,
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME,
      </if>
      <if test="auditReason != null">
        AUDIT_REASON,
      </if>
      <if test="auditResult != null">
        AUDIT_RESULT,
      </if>
      <if test="auditAt != null">
        AUDIT_AT,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="suggestType != null">
        SUGGEST_TYPE,
      </if>
      <if test="auditField != null">
        AUDIT_FIELD,
      </if>
      <if test="auditContent != null">
        AUDIT_CONTENT,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="auditFieldId != null">
        AUDIT_FIELD_ID,
      </if>
      <if test="auditFieldName != null">
        AUDIT_FIELD_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="expertId != null">
        #{expertId},
      </if>
      <if test="auditUserId != null">
        #{auditUserId},
      </if>
      <if test="auditUserName != null">
        #{auditUserName},
      </if>
      <if test="auditReason != null">
        #{auditReason},
      </if>
      <if test="auditResult != null">
        #{auditResult},
      </if>
      <if test="auditAt != null">
        #{auditAt,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="suggestType != null">
        #{suggestType},
      </if>
      <if test="auditField != null">
        #{auditField},
      </if>
      <if test="auditContent != null">
        #{auditContent},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="auditFieldId != null">
        #{auditFieldId},
      </if>
      <if test="auditFieldName != null">
        #{auditFieldName},
      </if>
    </trim>
  </insert>
  
  <!-- 查询专家注册品目类型（小类）的数量（未通过审核的）  -->
  <select id="selectRegExpCateCount" parameterType="Map" resultType="java.lang.Integer">
  	SELECT COUNT(T.ID)
     FROM T_SES_EMS_EXPERT_AUDIT T
     WHERE T.EXPERT_ID = #{expertId, jdbcType=VARCHAR}
     <if test="regType != null and regType != ''">
       AND T.SUGGEST_TYPE=#{regType, jdbcType=VARCHAR}
     </if>
     <if test="auditFalg != '' and auditFalg != null">
      and AUDIT_FALG = #{auditFalg}
    </if>
     AND T.IS_DELETED = 0
  </select>
  
  
  <delete id="deleteByExpertIdAndAuditFieldId" parameterType="ses.model.ems.ExpertAudit">
    delete from T_SES_EMS_EXPERT_AUDIT
    where EXPERT_ID = #{expertId}
    <if test="auditFieldId != '' and auditFieldId != null">
      and AUDIT_FIELD_ID = #{auditFieldId}
    </if>
    <if test="auditFieldId != null">
      and IS_DELETED = #{isDeleted}
    </if>
    <if test="auditFalg != null">
      and AUDIT_FALG = #{auditFalg}
    </if>
  </delete>
  
   <!-- 查找所有符合条件的专家 -->
  <select id="findAuditByExpertId" parameterType="ses.model.ems.ExpertAudit" resultMap="BaseResultMap">
    select 
    *
    from T_SES_EMS_EXPERT_AUDIT
    where 
      EXPERT_ID = #{expertId}
    and IS_DELETED = 0
    <if test="suggestType != '' and suggestType != null">
      and SUGGEST_TYPE = #{suggestType}
    </if>
    <if test="auditFieldId != '' and auditFieldId != null">
      and AUDIT_FIELD_ID = #{auditFieldId}
    </if>
    <if test="auditFalg != '' and auditFalg != null">
       <if test="auditFalg == 666 ">
        and AUDIT_FALG is null
      </if>
      <if test="auditFalg != 666">
        and AUDIT_FALG = #{auditFalg}
      </if>
     </if> 
  </select>
</mapper>