<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertCategoryMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.ExpertCategory">
    <result column="EXPERT_ID" jdbcType="VARCHAR" property="expertId" />
    <result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
    <result column="LEVELS" jdbcType="VARCHAR" property="levels" />
    <result column="ENGIN_TYPE" jdbcType="VARCHAR" property="engin_type" />
  </resultMap>
  
  <sql id="baseExpertSql">
     EXPERT_ID, CATEGORY_ID, TYPE_ID, LEVELS, ENGIN_TYPE
  </sql>
  
  <!-- 根据专家id查询品目id集合 -->
 <select id="selectListByExpertId" resultMap="BaseResultMap">
    select 
    t1.EXPERT_ID, t1.CATEGORY_ID, t1.TYPE_ID, t1.LEVELS, t1.ENGIN_TYPE,t2.CODE
    from T_SES_EMS_EXPERT_CATEGORY t1
    <if test=" 'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(param2)">
     , T_SES_BMS_ENG_CATEGORY t2 
    </if>
    <if test=" !'FC9528B2E74F4CB2A9ASD789123AS7D'.equals(param2)">
     , T_SES_BMS_CATEGORY t2 
    </if>
    where   t1.EXPERT_ID = #{param1,jdbcType=VARCHAR} and t1.CATEGORY_ID=t2.ID
    <if test="param2 != null">
    and t1.TYPE_ID = #{param2,jdbcType=VARCHAR}
    </if>
    <if test="param3 != null">
    and t1.LEVELS = #{param3,jdbcType=VARCHAR}
    </if>
    order by t2.CODE ASC
  </select>
  
  <!-- 根据专家id查询品目id集合 -->
  <select id="selectListByExpertId1" resultMap="BaseResultMap">
    select 
    <include refid="baseExpertSql"/>
    from T_SES_EMS_EXPERT_CATEGORY
    where EXPERT_ID = #{param1,jdbcType=VARCHAR}
    <if test="param2 != null">
    and TYPE_ID = #{param2,jdbcType=VARCHAR}
    </if>
  </select>
  
   <!-- 根据专家id和品目id查询品目Id集合 -->
  <select id="getCategoryByExpertId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="baseExpertSql" />
    from T_SES_EMS_EXPERT_CATEGORY
    where EXPERT_ID = #{param1,jdbcType=VARCHAR} AND CATEGORY_ID=#{param2,jdbcType=VARCHAR}
  </select>
  <!--根据专家id删除当前数据  -->
  <delete id="deleteByExpertId" parameterType="java.lang.String">
  		 delete from T_SES_EMS_EXPERT_CATEGORY
   		 where EXPERT_ID = #{expertId}
  </delete>
  <insert id="insert" parameterType="ses.model.ems.ExpertCategory">
    insert into T_SES_EMS_EXPERT_CATEGORY (EXPERT_ID, CATEGORY_ID, TYPE_ID, LEVELS, ENGIN_TYPE)
    values (#{expertId,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{levels,jdbcType=VARCHAR}, #{engin_type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ses.model.ems.ExpertCategory">
    insert into T_SES_EMS_EXPERT_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="expertId != null">
        EXPERT_ID,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
        <if test="levels != null">
            LEVELS,
        </if>
        <if test="engin_type != null">
            ENGIN_TYPE
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="expertId != null">
        #{expertId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
        <if test="levels != null">
            #{levels,jdbcType=VARCHAR},
        </if>
        <if test="engin_type != null">
            #{engin_type,jdbcType=VARCHAR}
        </if>
    </trim>
  </insert>
  
  <!-- 根据专家id和品目id删除 -->
  <delete id="deleteByMap">
  	delete from T_SES_EMS_EXPERT_CATEGORY
   	where EXPERT_ID = #{expertId}
   	<if test="categoryId != null">
	   	and CATEGORY_ID = #{categoryId}
    </if>
  </delete>
	<!-- 根据父id查询 -->
	<select id="findByExpertId" resultMap="BaseResultMap">
		SELECT
		<include refid="baseExpertSql" />
		FROM T_SES_EMS_EXPERT_CATEGORY
		WHERE EXPERT_ID = #{expertId}
	</select>
	<!-- 根据父id查询 -->
	<select id="findEnginId" parameterType="Map" resultMap="BaseResultMap">
		SELECT
		<include refid="baseExpertSql" />
		FROM T_SES_EMS_EXPERT_CATEGORY
		WHERE EXPERT_ID = #{expertId,jdbcType=VARCHAR} AND ENGIN_TYPE = #{engin_type,jdbcType=VARCHAR}
	</select>
	
	<!-- 删除选中节点以外数据 -->
	<delete id="delNoTree">
		delete from T_SES_EMS_EXPERT_CATEGORY T
		where EXPERT_ID = #{expertId} 
		<if test="engin_type != null">
		   	AND ENGIN_TYPE = #{engin_type}
	    </if>
        <if test="array != null ">
		 AND T.TYPE_ID NOT IN 
	        <foreach collection="array" item="id" open="(" separator="," close=")">
              #{id}
           </foreach>
        </if>
	</delete>
  
  <!--根据专家ID，品目ID类型查询  -->
    <select id="getCategory" resultMap="BaseResultMap">
    select 
    <include refid="baseExpertSql"/>
    from T_SES_EMS_EXPERT_CATEGORY
      where EXPERT_ID = #{expertId}
    <if test="categoryId != null">
      and CATEGORY_ID = #{categoryId}
    </if>
    <if test="typeId != null">
      and TYPE_ID = #{typeId}
    </if>
  </select>
  
  <!-- 根据TYPE_ID查询专家所属各类型数量：
  	1、物资技术  2、工程技术 3、服务技术 4、物资服务经济 5、工程经济
   -->
   <select id="selectExpertCountByCategory" parameterType="java.lang.String" resultType="java.math.BigDecimal">
       SELECT COUNT(DISTINCT(T2.ID))
			   	FROM T_SES_EMS_EXPERT T2
			  	WHERE INSTR(T2.EXPERTS_TYPE_ID, #{typeId}) > 0
			    AND (T2.STATUS = 4 OR T2.STATUS = 5 OR T2.STATUS = 6 OR T2.STATUS = 7 OR
			         T2.STATUS = 8)
			    AND T2.IS_PROVISIONAL = '0'
			    AND T2.IS_DELETE = 0
   </select>
</mapper>