<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertMapper">
  <resultMap id="BaseResultMap" type="ses.model.ems.Expert">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="IS_SUBMIT" jdbcType="VARCHAR" property="isSubmit" />
    <result column="IS_DO" jdbcType="VARCHAR" property="isDo" />
    <result column="IS_DELETE" jdbcType="DECIMAL" property="isDelete" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="GENDER" jdbcType="CHAR" property="gender" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber" />
    <result column="ID_TYPE" jdbcType="VARCHAR" property="idType" />
    <result column="EXPERTS_FROM" jdbcType="VARCHAR" property="expertsFrom" />
    <result column="POLITICS_STATUS" jdbcType="VARCHAR" property="politicsStatus" />
    <result column="NATION" jdbcType="VARCHAR" property="nation" />
    <result column="GRADUATE_SCHOOL" jdbcType="VARCHAR" property="graduateSchool" />
    <result column="HIGHT_EDUCATION" jdbcType="VARCHAR" property="hightEducation" />
    <result column="MAJOR" jdbcType="VARCHAR" property="major" />
    <result column="WORK_UNIT" jdbcType="VARCHAR" property="workUnit" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="MAKE_TECH_DATE" jdbcType="DATE" property="makeTechDate" />
    <result column="HEALTH_STATE" jdbcType="VARCHAR" property="healthState" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="PROFESS_TECH_TITLES" jdbcType="VARCHAR" property="professTechTitles" />
    <result column="TIME_TO_WORK" jdbcType="DATE" property="timeToWork" />
    <result column="TIME_START_WORK" jdbcType="DATE" property="timeStartWork" />
    <result column="UNIT_ADDRESS" jdbcType="VARCHAR" property="unitAddress" />
    <result column="POST_CODE" jdbcType="VARCHAR" property="postCode" />
    <result column="DEGREE" jdbcType="VARCHAR" property="degree" />
    <result column="AT_DUTY" jdbcType="VARCHAR" property="atDuty" />
    <result column="EXPERTS_TYPE_ID" jdbcType="VARCHAR" property="expertsTypeId" />
    <result column="PURCHASE_DEP_ID" jdbcType="VARCHAR" property="purchaseDepId" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="IS_BLACK" jdbcType="CHAR" property="isBlack" />
    <result column="HONESTY_SCORE" jdbcType="DECIMAL" property="honestyScore" />
    <result column="REL_NAME" jdbcType="VARCHAR" property="relName" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, IS_SUBMIT, IS_DO, IS_DELETE, CREATED_AT, GENDER, UPDATED_AT, MOBILE, BIRTHDAY, 
    ID_NUMBER, ID_TYPE, EXPERTS_FROM, POLITICS_STATUS, NATION, GRADUATE_SCHOOL, HIGHT_EDUCATION, 
    MAJOR, WORK_UNIT, TELEPHONE, FAX, MAKE_TECH_DATE, HEALTH_STATE, ADDRESS, PROFESS_TECH_TITLES, 
    TIME_TO_WORK, TIME_START_WORK, UNIT_ADDRESS, POST_CODE, DEGREE, AT_DUTY, EXPERTS_TYPE_ID, 
    PURCHASE_DEP_ID, STATUS, IS_BLACK, HONESTY_SCORE, REL_NAME
  </sql>
  <!-- 查询用户名是否存在 -->
    <!-- <select id="selectisSubmitList" parameterType="java.lang.String" resultMap="BaseResultMap" >
  	select IS_SUBMIT from T_SES_EMS_EXPERT where IS_SUBMIT = #{isSubmit}
  	</select> -->
  	<!-- 查询所有专家 -->
  	<select id="selectAllExpert"   resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT 
    where 1=1 and IS_SUBMIT ！= '0' and IS_DELETE != 1
       <if test="relName != null and relName !=''">  
              AND  REL_NAME like '%${relName}%'   
       </if>  
       <if test="expertsFrom != null and expertsFrom !=''">  
              AND EXPERTS_FROM = '${expertsFrom}' 
       </if> 
       <if test="status != null and status !=''">  
              AND STATUS = ${status}
       </if> 
        <if test="expertsTypeId != null and expertsTypeId !=''">  
              AND EXPERTS_TYPE_ID = ${expertsTypeId}
       </if>
       ORDER BY CREATED_AT DESC 
  </select>
  <!-- 查找待办数量 -->
  <select id="getCount" parameterType="ses.model.ems.Expert" resultType="java.lang.Integer">
    <!--
    @mbggenerated
    -->
    select 
	count(*)
    from T_SES_EMS_EXPERT
    where 1=1 and IS_SUBMIT != '0' and IS_DELETE != 1
    <if test="relName!=null">
    	and REL_NAME= #{relName,jdbcType=VARCHAR}
    </if>
    <if test="expertsTypeId!=null">
    	and EXPERTS_TYPE_ID= #{expertsTypeId,jdbcType=VARCHAR}
    </if>
    <if test="status!=null">
    	and STATUS = #{status,jdbcType=DECIMAL}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SES_EMS_EXPERT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_EMS_EXPERT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ses.model.ems.Expert">
    insert into T_SES_EMS_EXPERT (ID, IS_SUBMIT, IS_DO, 
      IS_DELETE, CREATED_AT, GENDER, 
      UPDATED_AT, MOBILE, BIRTHDAY, 
      ID_NUMBER, ID_TYPE, EXPERTS_FROM, 
      POLITICS_STATUS, NATION, GRADUATE_SCHOOL, 
      HIGHT_EDUCATION, MAJOR, WORK_UNIT, 
      TELEPHONE, FAX, MAKE_TECH_DATE, 
      HEALTH_STATE, ADDRESS, PROFESS_TECH_TITLES, 
      TIME_TO_WORK, TIME_START_WORK, UNIT_ADDRESS, 
      POST_CODE, DEGREE, AT_DUTY, 
      EXPERTS_TYPE_ID, PURCHASE_DEP_ID, STATUS, 
      IS_BLACK, HONESTY_SCORE, REL_NAME
      )
    values (#{id,jdbcType=VARCHAR}, #{isSubmit,jdbcType=VARCHAR}, #{isDo,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=DECIMAL}, #{createdAt,jdbcType=DATE}, #{gender,jdbcType=CHAR}, 
      #{updatedAt,jdbcType=DATE}, #{mobile,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{idNumber,jdbcType=VARCHAR}, #{idType,jdbcType=VARCHAR}, #{expertsFrom,jdbcType=VARCHAR}, 
      #{politicsStatus,jdbcType=VARCHAR}, #{NATION,jdbcType=VARCHAR}, #{graduateSchool,jdbcType=VARCHAR}, 
      #{hightEducation,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{workUnit,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{makeTechDate,jdbcType=DATE}, 
      #{healthState,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{professTechTitles,jdbcType=VARCHAR}, 
      #{timeToWork,jdbcType=DATE}, #{timeStartWork,jdbcType=DATE}, #{unitAddress,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, #{atDuty,jdbcType=VARCHAR}, 
      #{expertsTypeId,jdbcType=VARCHAR}, #{purchaseDepId,jdbcType=DECIMAL}, #{status,jdbcType=CHAR}, 
      #{isBlack,jdbcType=CHAR}, #{honestyScore,jdbcType=DECIMAL}, #{relName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ses.model.ems.Expert">
    insert into T_SES_EMS_EXPERT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="isSubmit != null">
        IS_SUBMIT,
      </if>
      <if test="isDo != null">
        IS_DO,
      </if>
      <if test="isDelete != null">
        IS_DELETE,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="idNumber != null">
        ID_NUMBER,
      </if>
      <if test="idType != null">
        ID_TYPE,
      </if>
      <if test="expertsFrom != null">
        EXPERTS_FROM,
      </if>
      <if test="politicsStatus != null">
        POLITICS_STATUS,
      </if>
      <if test="nation != null">
        NATION,
      </if>
      <if test="graduateSchool != null">
        GRADUATE_SCHOOL,
      </if>
      <if test="hightEducation != null">
        HIGHT_EDUCATION,
      </if>
      <if test="major != null">
        MAJOR,
      </if>
      <if test="workUnit != null">
        WORK_UNIT,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="fax != null">
        FAX,
      </if>
      <if test="makeTechDate != null">
        MAKE_TECH_DATE,
      </if>
      <if test="healthState != null">
        HEALTH_STATE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="professTechTitles != null">
        PROFESS_TECH_TITLES,
      </if>
      <if test="timeToWork != null">
        TIME_TO_WORK,
      </if>
      <if test="timeStartWork != null">
        TIME_START_WORK,
      </if>
      <if test="unitAddress != null">
        UNIT_ADDRESS,
      </if>
      <if test="postCode != null">
        POST_CODE,
      </if>
      <if test="degree != null">
        DEGREE,
      </if>
      <if test="atDuty != null">
        AT_DUTY,
      </if>
      <if test="expertsTypeId != null">
        EXPERTS_TYPE_ID,
      </if>
      <if test="purchaseDepId != null">
        PURCHASE_DEP_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="isBlack != null">
        IS_BLACK,
      </if>
      <if test="honestyScore != null">
        HONESTY_SCORE,
      </if>
      <if test="relName != null">
        REL_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isSubmit != null">
        #{isSubmit,jdbcType=VARCHAR},
      </if>
      <if test="isDo != null">
        #{isDo,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="expertsFrom != null">
        #{expertsFrom,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null">
        #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="graduateSchool != null">
        #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="hightEducation != null">
        #{hightEducation,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null">
        #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="makeTechDate != null">
        #{makeTechDate,jdbcType=DATE},
      </if>
      <if test="healthState != null">
        #{healthState,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="professTechTitles != null">
        #{professTechTitles,jdbcType=VARCHAR},
      </if>
      <if test="timeToWork != null">
        #{timeToWork,jdbcType=DATE},
      </if>
      <if test="timeStartWork != null">
        #{timeStartWork,jdbcType=DATE},
      </if>
      <if test="unitAddress != null">
        #{unitAddress,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="atDuty != null">
        #{atDuty,jdbcType=VARCHAR},
      </if>
      <if test="expertsTypeId != null">
        #{expertsTypeId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDepId != null">
        #{purchaseDepId,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="isBlack != null">
        #{isBlack,jdbcType=CHAR},
      </if>
      <if test="honestyScore != null">
        #{honestyScore,jdbcType=DECIMAL},
      </if>
      <if test="relName != null">
        #{relName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.Expert">
    update T_SES_EMS_EXPERT
    <set>
      <if test="isSubmit != null">
        IS_SUBMIT = #{isSubmit,jdbcType=VARCHAR},
      </if>
      <if test="isDo != null">
        IS_DO = #{isDo,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        IS_DELETE = #{isDelete,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=CHAR},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=DATE},
      </if>
      <if test="idNumber != null">
        ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        ID_TYPE = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="expertsFrom != null">
        EXPERTS_FROM = #{expertsFrom,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null">
        POLITICS_STATUS = #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        NATION = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="graduateSchool != null">
        GRADUATE_SCHOOL = #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="hightEducation != null">
        HIGHT_EDUCATION = #{hightEducation,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        MAJOR = #{major,jdbcType=VARCHAR},
      </if>
      <if test="workUnit != null">
        WORK_UNIT = #{workUnit,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="makeTechDate != null">
        MAKE_TECH_DATE = #{makeTechDate,jdbcType=DATE},
      </if>
      <if test="healthState != null">
        HEALTH_STATE = #{healthState,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="professTechTitles != null">
        PROFESS_TECH_TITLES = #{professTechTitles,jdbcType=VARCHAR},
      </if>
      <if test="timeToWork != null">
        TIME_TO_WORK = #{timeToWork,jdbcType=DATE},
      </if>
      <if test="timeStartWork != null">
        TIME_START_WORK = #{timeStartWork,jdbcType=DATE},
      </if>
      <if test="unitAddress != null">
        UNIT_ADDRESS = #{unitAddress,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        POST_CODE = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        DEGREE = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="atDuty != null">
        AT_DUTY = #{atDuty,jdbcType=VARCHAR},
      </if>
      <if test="expertsTypeId != null">
        EXPERTS_TYPE_ID = #{expertsTypeId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDepId != null">
        PURCHASE_DEP_ID = #{purchaseDepId,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="isBlack != null">
        IS_BLACK = #{isBlack,jdbcType=CHAR},
      </if>
      <if test="honestyScore != null">
        HONESTY_SCORE = #{honestyScore,jdbcType=DECIMAL},
      </if>
      <if test="relName != null">
        REL_NAME = #{relName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ses.model.ems.Expert">
    update T_SES_EMS_EXPERT
    set IS_SUBMIT = #{isSubmit,jdbcType=VARCHAR},
      IS_DO = #{isDo,jdbcType=VARCHAR},
      IS_DELETE = #{isDelete,jdbcType=DECIMAL},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      GENDER = #{gender,jdbcType=CHAR},
      UPDATED_AT = #{updatedAt,jdbcType=DATE},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=DATE},
      ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      ID_TYPE = #{idType,jdbcType=VARCHAR},
      EXPERTS_FROM = #{expertsFrom,jdbcType=VARCHAR},
      POLITICS_STATUS = #{politicsStatus,jdbcType=VARCHAR},
      NATION = #{nation,jdbcType=VARCHAR},
      GRADUATE_SCHOOL = #{graduateSchool,jdbcType=VARCHAR},
      HIGHT_EDUCATION = #{hightEducation,jdbcType=VARCHAR},
      MAJOR = #{major,jdbcType=VARCHAR},
      WORK_UNIT = #{workUnit,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      MAKE_TECH_DATE = #{makeTechDate,jdbcType=DATE},
      HEALTH_STATE = #{healthState,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      PROFESS_TECH_TITLES = #{professTechTitles,jdbcType=VARCHAR},
      TIME_TO_WORK = #{timeToWork,jdbcType=DATE},
      TIME_START_WORK = #{timeStartWork,jdbcType=DATE},
      UNIT_ADDRESS = #{unitAddress,jdbcType=VARCHAR},
      POST_CODE = #{postCode,jdbcType=VARCHAR},
      DEGREE = #{degree,jdbcType=VARCHAR},
      AT_DUTY = #{atDuty,jdbcType=VARCHAR},
      EXPERTS_TYPE_ID = #{expertsTypeId,jdbcType=VARCHAR},
      PURCHASE_DEP_ID = #{purchaseDepId,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=CHAR},
      IS_BLACK = #{isBlack,jdbcType=CHAR},
      HONESTY_SCORE = #{honestyScore,jdbcType=DECIMAL},
      REL_NAME = #{relName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="findExpertList" parameterType="java.lang.String" resultMap="BaseResultMap">
  select * from T_SES_EMS_EXPERT
  </select>
</mapper>