<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ExpertBatchDetailsMapper">
    <resultMap id="BaseResultMap" type="ses.model.ems.ExpertBatchDetails">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="EXPERT_ID" jdbcType="VARCHAR" property="expertId" />
        <result column="BATCH_NUMBER" jdbcType="VARCHAR" property="batchNumber" />
        <result column="BATCH_DETAILS_NUMBER" jdbcType="VARCHAR" property="batchDetailsNumber" />
        <result column="NUMBER" jdbcType="VARCHAR" property="number" />
        <result column="BATCH_NAME" jdbcType="VARCHAR" property="batchName" />
        <result column="GROUP_ID" jdbcType="VARCHAR" property="groupId" />
        <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
        <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    </resultMap>
    <sql id="Base_List">
    	ID,EXPERT_ID,BATCH_NUMBER,BATCH_DETAILS_NUMBER,NUMBER,BATCH_NAME,GROUP_ID,GROUP_NAME,CREATED_AT,UPDATED_AT
    </sql>
  <!--  
    获取所有批次
    <select id="getAllExpertBatch" resultMap="BaseResultMap">
        select
        <include refid="Base_List" />
        from T_SYS_EMS_EXPERT_BATCH 
        where 1=1
        <if test="batchName != null and batchName !=''">
            AND BATCH_NAME like CONCAT(CONCAT('%', #{batchName}), '%')
        </if>
        <if test="createdAt !=null and createdAt != ''">
        	AND TO_CHAR(CREATED_AT,'YY-MM-DD') = TO_CHAR(#{createdAt},'YY-MM-DD')
        </if> 
        ORDER BY CREATED_AT DESC
    </select> -->
    
    <insert id="insert" parameterType="ses.model.ems.ExpertBatchDetails">
        insert into T_SYS_EMS_EXPERT_BATCH
        (ID,EXPERT_ID,BATCH_NUMBER,BATCH_DETAILS_NUMBER,NUMBER,BATCH_NAME,GROUP_ID,GROUP_NAME,CREATED_AT,UPDATED_AT)
        values
        (#{id}, #{expertId},#{batchNumber}, #{batchDetailsNumber},#{number},
        #{batchName},#{groupId}, #{groupName}, #{createdAt}, #{updatedAt})
    </insert>
   
</mapper>