<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ProExtSuperviseMapper">
	<resultMap id="BaseResultMap" type="ses.model.ems.ProExtSupervise">
		<!-- @mbggenerated -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
		<result column="EXPERT_EXTRACT_RECORD_ID" jdbcType="VARCHAR"
			property="expertExtractRecordId" />
		<result column="SUPERVISOR_ID" jdbcType="VARCHAR" property="supviseId" />
		<result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="REL_NAME" jdbcType="VARCHAR" property="relName" />
		<result column="COMPANY" jdbcType="VARCHAR" property="company" />
		<result column="PHONE" jdbcType="VARCHAR" property="phone" />
		<result column="DUTIES" jdbcType="VARCHAR" property="duties" />
	</resultMap>

	<resultMap id="UserBaseMap" type="ses.model.bms.User">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
		<result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="IS_DELETED" property="isDeleted" />
		<result column="REL_NAME" jdbcType="VARCHAR" property="relName" />
		<result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
		<result column="GENDER" jdbcType="VARCHAR" property="gender" />
		<result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
		<result column="EMAIL" jdbcType="VARCHAR" property="email" />
		<result column="DUTIES" jdbcType="VARCHAR" property="duties" />
		<result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
		<result column="ADDRESS" jdbcType="VARCHAR" property="address" />
		<result column="RANDOM_CODE" jdbcType="VARCHAR" property="randomCode" />
		<!-- 查询机构 -->
		<association column="ORG_ID" property="org"
			select="ses.dao.oms.OrgnizationMapper.findOrgnizationById" />
		<!-- 查询创建人 -->
		<association column="USER_ID" property="user"
			select="selectByPrimaryKey" />
	</resultMap>



	<sql id="Base_Column_List">
		<!-- @mbggenerated -->
		ID, PROJECT_ID, EXPERT_EXTRACT_RECORD_ID, SUPERVISOR_ID, CREATED_AT,
		UPDATED_AT,REL_NAME,COMPANY,PHONE,DUTIES
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		<!-- @mbggenerated -->
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_PRO_EXT_SUPERVISOR
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- @mbggenerated -->
		delete from T_SES_EMS_PRO_EXT_SUPERVISOR
		where ID =
		#{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="ses.model.ems.ProExtSupervise">
		<!-- @mbggenerated -->
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			select sys_guid() from dual
		</selectKey>
		insert into T_SES_EMS_PRO_EXT_SUPERVISOR
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
		       	ID,
		    </if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="expertExtractRecordId != null">
				EXPERT_EXTRACT_RECORD_ID,
			</if>
			<if test="supviseId != null">
				SUPERVISOR_ID,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="relName != null">
				REL_NAME,
			</if>
			<if test="company != null">
				COMPANY,
			</if>
			<if test="phone != null">
				PHONE,
			</if>
			<if test="duties != null">
				DUTIES,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">
        		#{id},
      		</if>
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="expertExtractRecordId != null">
				#{expertExtractRecordId,jdbcType=VARCHAR},
			</if>
			<if test="supviseId != null">
				#{supviseId,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="relName != null">
				#{relName,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				#{company,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="duties != null">
				#{duties,jdbcType=VARCHAR}
			</if>

		</trim>
		
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ProExtSupervise">
		<!-- @mbggenerated -->
		update T_SES_EMS_PRO_EXT_SUPERVISOR
		<set>
			<if test="projectId != null">
				PROJECT_ID = #{projectId,jdbcType=VARCHAR},
			</if>
			<if test="expertExtractRecordId != null">
				EXPERT_EXTRACT_RECORD_ID =
				#{expertExtractRecordId,jdbcType=VARCHAR},
			</if>
			<if test="supviseId != null">
				SUPERVISOR_ID = #{supviseId,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="relName != null">
				REL_NAME = #{relName,jdbcType=VARCHAR},
			</if>
			<if test="company != null">
				COMPANY = #{company,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				PHONE = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="duties != null">
				duties = #{duties,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="list" resultMap="BaseResultMap" parameterType="ses.model.ems.ProExtSupervise">

		SELECT
		<include refid="Base_Column_List" />
		FROM
		T_SES_EMS_PRO_EXT_SUPERVISOR
		WHERE
		PROJECT_ID =#{projectId}

	</select>
	<!-- 根据项目id 删除监督人员 -->
	<delete id="deleteProjectId" parameterType="java.lang.String">
		delete from
		T_SES_EMS_PRO_EXT_SUPERVISOR
		where PROJECT_ID =
		#{projectId,jdbcType=VARCHAR}
	</delete>

	<!-- 批量插入 -->
	<insert id="listInsert" parameterType="List">
		INSERT INTO T_SES_EMS_PRO_EXT_SUPERVISOR
		(PROJECT_ID,REL_NAME,COMPANY,PHONE,DUTIES)
		<foreach collection="list" item="item" index="index"
			separator="union" close=")" open="(">
			select
			#{item.projectId,jdbcType=VARCHAR},
			#{item.relName,jdbcType=VARCHAR},
			#{item.company,jdbcType=VARCHAR},
			#{item.phone,jdbcType=VARCHAR},
			#{item.duties,jdbcType=VARCHAR}
			from
			dual
		</foreach>
	</insert>
</mapper>