<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ses.dao.ems.ProjectExtractMapper">
	<resultMap id="BaseResultMap" type="ses.model.ems.ProjectExtract">
		<!-- @mbggenerated -->
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
		<result column="EXPERT_CONDITION_ID" jdbcType="VARCHAR"
			property="expertConditionId" />
		<result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
		<result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
		<result column="OPERATING_TYPE" jdbcType="DECIMAL" property="operatingType" />
		<result column="REASON" jdbcType="VARCHAR" property="reason" />
		<result column="IS_DELETED" jdbcType="DECIMAL" property="isDeleted" />
		<result column="CON_TYPE_ID" jdbcType="VARCHAR" property="conTypeId" />
		<result column="STATUS_COUNT" jdbcType="DECIMAL" property="statusCount" />
		<!-- 专家 -->
		<association column="EXPERT_ID" property="expert"
			select="ses.dao.ems.ExpertMapper.selectByPrimaryKey" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- @mbggenerated -->
		ID, PROJECT_ID, EXPERT_CONDITION_ID, EXPERT_ID, CREATED_AT,
		UPDATED_AT, OPERATING_TYPE,
		REASON, IS_DELETED,
		CON_TYPE_ID,STATUS_COUNT
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		<!-- @mbggenerated -->
		select
		<include refid="Base_Column_List" />
		from T_SES_EMS_PROJECT_EXTRACT
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- @mbggenerated -->
		delete from T_SES_EMS_PROJECT_EXTRACT
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="ses.model.ems.ProjectExtract">
		<!-- @mbggenerated -->
		insert into T_SES_EMS_PROJECT_EXTRACT (ID, PROJECT_ID,
		EXPERT_CONDITION_ID,
		EXPERT_ID, CREATED_AT, UPDATED_AT,
		OPERATING_TYPE,
		REASON, IS_DELETED,
		CON_TYPE_ID,STATUS_COUNT)
		values
		(#{id,jdbcType=VARCHAR},
		#{projectId,jdbcType=VARCHAR},
		#{expertConditionId,jdbcType=VARCHAR},
		#{expertId,jdbcType=VARCHAR},
		#{createdAt,jdbcType=DATE},
		#{updatedAt,jdbcType=DATE},
		#{operatingType,jdbcType=DECIMAL},
		#{reason,jdbcType=VARCHAR},
		#{isDeleted,jdbcType=DECIMAL},
		#{conTypeId,jdbcType=VARCHAR},
		#{statusCount,jdbcType=DECIMAL})
	</insert>
	<insert id="insertSelective" parameterType="ses.model.ems.ProjectExtract">
		<!-- @mbggenerated -->
		insert into T_SES_EMS_PROJECT_EXTRACT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="expertConditionId != null">
				EXPERT_CONDITION_ID,
			</if>
			<if test="expertId != null">
				EXPERT_ID,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="operatingType != null">
				OPERATING_TYPE,
			</if>
			<if test="reason != null">
				REASON,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="conTypeId != null">
				CON_TYPE_ID,
			</if>
			<if test="statusCount != null">
				STATUS_COUNT,
			</if>


		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=VARCHAR},
			</if>
			<if test="expertConditionId != null">
				#{expertConditionId,jdbcType=VARCHAR},
			</if>
			<if test="expertId != null">
				#{expertId,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=DATE},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=DATE},
			</if>
			<if test="operatingType != null">
				#{operatingType,jdbcType=DECIMAL},
			</if>
			<if test="reason != null">
				#{reason,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=DECIMAL},
			</if>
			<if test="conTypeId != null">
				#{conTypeId,jdbcType=VARCHAR},
			</if>
			<if test="statusCount != null">
				#{statusCount,jdbcType=DECIMAL}
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="ses.model.ems.ProjectExtract">
		<!-- @mbggenerated -->
		update T_SES_EMS_PROJECT_EXTRACT
		<set>
			<if test="projectId != null">
				PROJECT_ID = #{projectId,jdbcType=VARCHAR},
			</if>
			<if test="expertConditionId != null">
				EXPERT_CONDITION_ID =
				#{expertConditionId,jdbcType=VARCHAR},
			</if>
			<if test="expertId != null">
				EXPERT_ID = #{expertId,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=DATE},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=DATE},
			</if>
			<if test="operatingType != null">
				OPERATING_TYPE = #{operatingType,jdbcType=DECIMAL},
			</if>
			<if test="reason != null">
				REASON = #{reason,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
			</if>
			<if test="conTypeId != null">
				CON_TYPE_ID = #{conTypeId,jdbcType=VARCHAR},
			</if>
			<if test="statusCount != null">
				STATUS_COUNT = #{statusCount,jdbcType=DECIMAL},
			</if>

		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="ses.model.ems.ProjectExtract">
		<!-- @mbggenerated -->
		update T_SES_EMS_PROJECT_EXTRACT
		set PROJECT_ID =
		#{projectId,jdbcType=VARCHAR},
		EXPERT_CONDITION_ID =
		#{expertConditionId,jdbcType=VARCHAR},
		EXPERT_ID =
		#{expertId,jdbcType=VARCHAR},
		CREATED_AT = #{createdAt,jdbcType=DATE},
		UPDATED_AT = #{updatedAt,jdbcType=DATE},
		OPERATING_TYPE =
		#{operatingType,jdbcType=DECIMAL},
		REASON = #{reason,jdbcType=VARCHAR},
		IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
		CON_TYPE_ID =
		#{conTypeId,jdbcType=VARCHAR},
		STATUS_COUNT
		=#{statusCount,jdbcType=DECIMAL}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<select id="list" parameterType="ses.model.ems.ProjectExtract"
		resultMap="BaseResultMap">
		SELECT
		pe.*
		FROM
		T_SES_EMS_PROJECT_EXTRACT pe
		Where STATUS_COUNT=0  
		<if test="id != null and id != ''">
            AND pe.ID =#{id}
        </if>
		<if test="expertConditionId != null and expertConditionId != ''">
			AND pe.EXPERT_CONDITION_ID =#{expertConditionId}
		</if>
		<if test="reason != null and reason != ''">
			AND pe.OPERATING_TYPE in (${reason})
		</if>
		<if test="projectId != null and projectId != ''">
			AND pe.PROJECT_ID =#{projectId}
			ORDER BY
			EXPERT_CONDITION_ID
		</if>
	</select>

	<!-- 删除重复数据 -->
	<delete id="deleteData" parameterType="Map">
		delete from
		T_SES_EMS_PROJECT_EXTRACT

		where EXPERT_ID in (select EXPERT_ID from
		T_SES_EMS_PROJECT_EXTRACT group
		by EXPERT_ID having count(EXPERT_ID) >
		1)

		and rowid not in (select min(rowid) from T_SES_EMS_PROJECT_EXTRACT
		group
		by EXPERT_ID having count(EXPERT_ID )>1)
		AND
		PROJECT_ID=#{projectId}
		AND EXPERT_CONDITION_ID=#{expertConditionId}
	</delete>
	<!-- 当抽取数量满足时修改还未抽取的专家状态为1-->
	<update id="updateStatusCount" parameterType="map">
		UPDATE
		T_SES_EMS_PROJECT_EXTRACT
		SET STATUS_COUNT = #{type}
		WHERE
		CON_TYPE_ID =
		#{conTypeId}
		AND OPERATING_TYPE != 1
		AND OPERATING_TYPE != 2
		AND
		OPERATING_TYPE != 3
	</update>
	
  
</mapper>