<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="extract.dao.supplier.SupplierExtractConditionMapper">
	<!-- 新条件表返回结果  -->
	<resultMap id="BaseResultMap" type="extract.model.supplier.SupplierExtractCondition">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="RECORD_ID" jdbcType="VARCHAR" property="recordId" />
		<result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
		<result column="STATUS" jdbcType="DECIMAL" property="status" />
		<result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
		<result column="ADDRESS_REASON" jdbcType="VARCHAR" property="addressReason" />
		<result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
		<result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="IS_DELETE" jdbcType="DECIMAL" property="isDelete" />
		<result column="BUSINESS_NATURE" jdbcType="VARCHAR" property="businessNature" />
		<result column="IS_HAVING_CON_CERT" property="isHavingConCert" jdbcType="DECIMAL" />
		<result column="OVERSEAS_BRANCH" jdbcType="DECIMAL" property="overseasBranch" />
		<result column="SUPPLIER_TYPE_CODE" jdbcType="VARCHAR" property="supplierTypeCode" />
		<result column="EXTRACT_NUM" jdbcType="DECIMAL" property="extractNum" />
		<result column="IS_MULTICONDITION" jdbcType="DECIMAL" property="isMulticondition" />
	</resultMap>

	<resultMap type="ses.model.bms.CategoryQua" id="quaResult">
		<result column="QUA_ID" jdbcType="VARCHAR"  property="quaId" />
	    <result column="QUA_TYPE"  jdbcType="NUMERIC"  property="quaType" />
	</resultMap>
	
  	<resultMap id="supplierLevelResult" type="ses.model.sms.SupplierItemLevel" >
    	<id column="ID" property="id" jdbcType="VARCHAR" />
	    <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
	    <result column="SUPPLIER_LEVEL" property="supplierLevel" jdbcType="VARCHAR" />
	    <result column="CATEGORY_ID" property="categoryId" jdbcType="VARCHAR" />
	    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
	    <result column="SUPPLIER_TYPE_ID" property="supplierTypeId" jdbcType="VARCHAR" />
  	</resultMap>
	
	<sql id="Base_Column_List">
		ID, PROJECT_ID, STATUS, AREA_NAME, ADDRESS_REASON, BUSINESS_NATURE,
		IS_HAVING_CON_CERT,RECORD_ID,SUPPLIER_TYPE_CODE,IS_MULTICONDITION,
		OVERSEAS_BRANCH,CATEGORY_NAME,EXTRACT_NUM,CREATED_AT,UPDATED_AT,IS_DELETE
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_SES_SMS_EXTRACT_CONDITION
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from T_SES_SMS_EXTRACT_CONDITION
		where ID =
		#{id,jdbcType=VARCHAR}
	</delete>
	
	<sql id="condition">
		where 1 = 1
		<trim suffixOverrides=",">
			<if test="projectId != null and projectId != '' ">
				AND SC.PROJECT_ID=#{projectId}
			</if>
			<if test="id != null and id !='' ">
				AND SC."ID"=#{id}
			</if>
			<if test="status != null and status != ''">
				AND SC.STATUS=#{status}
			</if>
		</trim>
		ORDER BY SC.CREATED_AT
	</sql>
	
	<insert id="insertSelective" parameterType="extract.model.supplier.SupplierExtractCondition">
		insert into T_SES_SMS_EXTRACT_CONDITION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID ,
			</if>
			<if test="status != null">
				STATUS ,
			</if>
			<if test="recordId != null">
				RECORD_ID ,
			</if>
			<if test="areaName != null">
				AREA_NAME ,
			</if>
			<if test="addressReason != null">
				ADDRESS_REASON ,
			</if>
			<if test="supplierTypeCode != null">
				SUPPLIER_TYPE_CODE ,
			</if>
			<if test="businessNature != null">
				BUSINESS_NATURE ,
			</if>
			<if test="isHavingConCert != null">
				IS_HAVING_CON_CERT ,
			</if>
			<if test="overseasBranch != null">
				OVERSEAS_BRANCH ,
			</if>
			<if test="isDelete != null">
				IS_DELETE,
			</if>
			<if test="projectId != null">
				PROJECT_ID,
			</if>
			<if test="extractNum != null">
				EXTRACT_NUM,
			</if>
			<if test="isMulticondition != null">
				IS_MULTICONDITION,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="categoryName != null">
				CATEGORY_NAME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				 #{status,jdbcType=DECIMAL},
			</if>
			<if test="recordId != null">
				 #{recordId,jdbcType=VARCHAR},
			</if>
			<if test="areaName != null">
				#{areaName,jdbcType=VARCHAR},
			</if>
			<if test="addressReason != null">
				 #{addressReason,jdbcType=VARCHAR},
			</if>
			<if test="supplierTypeCode != null">
				 #{supplierTypeCode,jdbcType=VARCHAR},
			</if>
			<if test="businessNature != null">
				#{businessNature,jdbcType=VARCHAR},
			</if>
			<if test="isHavingConCert != null">
				 #{isHavingConCert,jdbcType=DECIMAL},
			</if>
			<if test="overseasBranch != null">
				 #{overseasBranch,jdbcType=DECIMAL},
			</if>
			<if test="isDelete != null">
				 #{isDelete,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				 #{projectId,jdbcType=VARCHAR},
			</if>
			<if test="extractNum != null">
				 #{extractNum,jdbcType=DECIMAL},
			</if>
			<if test="isMulticondition != null">
				 #{isMulticondition,jdbcType=DECIMAL},
			</if>
			<if test="createdAt != null">
				 #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				 #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="categoryName != null">
				 #{categoryName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 修改条件 -->
	<update id="updateConditionByPrimaryKeySelective" parameterType="extract.model.supplier.SupplierExtractCondition">
		update T_SES_SMS_EXTRACT_CONDITION
		<set>
			<if test="status != null">
				STATUS = #{status,jdbcType=DECIMAL},
			</if>
			<if test="recordId != null">
				RECORD_ID = #{recordId,jdbcType=VARCHAR},
			</if>
			<if test="areaName != null">
				AREA_NAME = #{areaName,jdbcType=VARCHAR},
			</if>
			<if test="addressReason != null">
				ADDRESS_REASON = #{addressReason,jdbcType=VARCHAR},
			</if>
			<if test="supplierTypeCode != null">
				SUPPLIER_TYPE_CODE = #{supplierTypeCode,jdbcType=VARCHAR},
			</if>
			<if test="businessNature != null">
				BUSINESS_NATURE = #{businessNature,jdbcType=VARCHAR},
			</if>
			<if test="isHavingConCert != null">
				IS_HAVING_CON_CERT = #{isHavingConCert,jdbcType=DECIMAL},
			</if>
			<if test="overseasBranch != null">
				OVERSEAS_BRANCH = #{overseasBranch,jdbcType=DECIMAL},
			</if>
			<if test="projectId != null and projectId !=''  ">
				PROJECT_ID = #{projectId,jdbcType=VARCHAR},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				isDelete = #{isDelete,jdbcType=DECIMAL},
			</if>
			<if test="extractNum != null">
				EXTRACT_NUM = #{extractNum,jdbcType=DECIMAL},
			</if>
			<if test="categoryName != null">
				CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
			</if>
			<if test="isMulticondition != null">
				IS_MULTICONDITION = #{isMulticondition,jdbcType=DECIMAL},
			</if>
		</set>
		where
		<if test="id != null and id != '' ">
			ID = #{id,jdbcType=VARCHAR}
		</if>
	</update>
	
	<!-- 按品目查询资质等级 -->
	<select id="getEngAptitudeLevelByCategoryId" parameterType="map" resultType="ses.model.bms.DictionaryData">
    	SELECT DISTINCT D.ID,D.NAME,D.POSITION FROM T_SES_BMS_CATEGORY_QUA CQ LEFT JOIN T_SES_BMS_QUALIFCATE_LEVEL QL ON CQ.QUA_ID = QL.QUALIFCATION_ID LEFT JOIN T_SES_BMS_DICTIONARY_DATA D ON QL.GRADE = D.ID 
	    WHERE CQ.CATEGORY_ID in 
	    <foreach collection="categoryIds" open="(" item="cid" separator="," close=")" > #{cid} </foreach>
	    AND D.ID IS NOT NULL AND D.NAME IS NOT NULL ORDER BY D.POSITION ASC
    </select>
    
    <!-- 按品目查询资质 -->
    <select id="getQuaByCid" parameterType="map" resultType="extract.model.supplier.Qua">
    	SELECT D.id id,min(D.name) name,min(Q.QUA_TYPE) quatype FROM T_SES_BMS_CATEGORY_QUA Q LEFT JOIN T_SES_BMS_QUALIFICATION D ON Q.QUA_ID = D.ID where 
    	 Q.CATEGORY_ID IN
    	 <foreach collection="categoryIds" open="(" item="it" separator="," close=")">
    	 	#{it}
    	 </foreach>
    	 <if test="quaType!=null">
	    	 AND Q.QUA_TYPE =#{quaType} 
    	 </if>
		GROUP BY D.ID,Q.QUA_TYPE  ORDER BY Q.QUA_TYPE ASC 
    </select>
    <!-- 根据资质查询资质等级 -->
	<select id="getLevelByQid"  resultType="ses.model.bms.DictionaryData">
        SELECT D.* FROM T_SES_BMS_QUALIFCATE_LEVEL L RIGHT JOIN T_SES_BMS_DICTIONARY_DATA D ON L.GRADE = D.ID WHERE L.QUALIFCATION_ID IN 
        <foreach collection="array" item="it" open="(" separator="," close=")">
        	#{it}
        </foreach>
    </select>
    
    <!-- 按记录id 查询条件 -->
	<select id="getByRid" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT * FROM T_SES_SMS_EXTRACT_CONDITION WHERE RECORD_ID = #{value}
	</select>
	
	<!-- 抽取条件品目名称集合 -->
	<select id="getCategoryByList" parameterType="java.util.List" resultType="java.lang.String">
		SELECT NAME FROM T_SES_BMS_CATEGORY WHERE ID IN 
		<foreach collection="list" index="index" item="it" open="(" close=")" separator=",">
			#{it}
		</foreach>
	</select>
	<!-- 抽取条件工程资质等级名称集合 -->
	<select id="getLevelByList" parameterType="java.util.List" resultType="java.lang.String">
		SELECT NAME FROM T_SES_BMS_DICTIONARY_DATA WHERE ID IN 
		<foreach collection="list" index="index" item="it" open="(" close=")" separator=",">
			#{it}
		</foreach>
	</select>
	<!-- 工程遍历品目父节点 -->
	<select id="checkParentCate" parameterType="java.lang.String" resultType="ses.model.bms.Category">
		select s.* from ( select t.*,level from T_SES_BMS_CATEGORY t START WITH  T.id =  #{value} CONNECT BY PRIOR T.PARENT_ID=T.ID order by level desc ) s  where s.is_publish = 0
	</select>
	
	<!-- 遍历品目末节点 -->
	<select id="selectChildCate" parameterType="java.util.List" resultType="java.lang.String">
		select distinct s.id from ( select t.*,level from T_SES_BMS_CATEGORY t START WITH  T.id in 
		<foreach collection="array" open="(" close=")" separator="," index="index" item="item">
			#{item}
		</foreach>
		CONNECT BY PRIOR T.id=T.PARENT_ID order by level desc ) s where s.is_publish = 0 and (s.is_parent is null or s.is_parent = 'false')
	</select>
	
	<select id="verifyQua" resultMap="quaResult">
		select distinct q.qua_id,Q.QUA_TYPE from T_SES_BMS_CATEGORY_QUA q where q.qua_id in 
		<foreach collection="array" open="(" close=")" separator="," index="index" item="item">
			#{item}
		</foreach>
	</select>
	
	<select id="selectCateLevelToUp" parameterType="map" resultMap="supplierLevelResult">
		SELECT L.CATEGORY_ID,L.SUPPLIER_ID,L.SUPPLIER_LEVEL,L.SUPPLIER_TYPE_ID FROM  T_SES_BMS_CATEGORY CATE  
		LEFT JOIN T_SES_SMS_SUPPLIER_ITEM_LEVEL L ON CATE.ID = L.CATEGORY_ID
		WHERE CATE.SUPPLIER_REGISTER_LEVEL = 4 
		AND L.SUPPLIER_TYPE_ID IN 
		<foreach collection="supplierTypeId" index="index" item="it" open="(" close=")" separator=",">
			#{it}
		</foreach>
		
		<if test="categoryIds != null">
			START WITH CATE.ID in 
			<foreach collection="categoryIds" index="index" item="it" open="(" close=")" separator=",">
				#{it}
			</foreach>
			CONNECT BY PRIOR CATE.PARENT_ID = CATE.ID
		</if>
	</select>
	
	<select id="selectCateLevelToDown" parameterType="map" resultMap="supplierLevelResult">
		SELECT L.CATEGORY_ID,L.SUPPLIER_ID,L.SUPPLIER_LEVEL,L.SUPPLIER_TYPE_ID
		FROM  T_SES_BMS_CATEGORY CATE  	
		LEFT JOIN T_SES_SMS_SUPPLIER_ITEM_LEVEL L 
		ON CATE.ID = L.CATEGORY_ID
		WHERE CATE.SUPPLIER_REGISTER_LEVEL = 4 
		AND L.SUPPLIER_TYPE_ID IN 
		<foreach collection="supplierTypeId" index="index" item="it" open="(" close=")" separator=",">
			#{it}
		</foreach>
		
		<if test="categoryIds != null">
			START WITH CATE.ID in 
			<foreach collection="categoryIds" index="index" item="it" open="(" close=")" separator=",">
				#{it}
			</foreach>
			CONNECT BY PRIOR CATE.ID = CATE.PARENT_ID
		</if>
	</select>
	<select id="selectQuaLevelBySupplierIdAndQuaId" parameterType="map" resultType="java.lang.String">
		SELECT A."APTITUTE_ LEVEL" FROM T_SES_SMS_SUPPLIER_APTITUTE A LEFT JOIN T_SES_SMS_SUPPLIER_MAT_ENG E ON E.ID = A.MAT_ENG_ID WHERE E.SUPPLIER_ID = #{supplierId} 
		<if test="qids != null">
			AND A.CERT_TYPE IN 
			<foreach collection="qids" index="index" item="it" open="(" close=")" separator=",">
				#{it}
			</foreach>
		</if>
	</select>
</mapper>