@charset "UTF-8";
/*字体*/
.f8 {
  font-size: 8px; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f10 {
  font-size: 10px; }


.f16 {
  font-size: 16px!important; }

.f18 {
  font-size: 18px; }
.f22 {
  font-size: 22px; }
.f50p {
  font-size: 50%; }

.b {
  font-weight: bold; }

/*宽度*/
.w20 {
  width: 20px; }

.w30 {
  width: 30px; }

.w50 {
  width: 50px; }

.w60 {
  width: 60px; }
.w70 {
  width: 70px!important; }
.w80 {
  width: 80px!important; }

.w86 {
  width: 86px; }

.w90 {
  width: 90px!important; }

.w100 {
  width: 100px!important; }

.w110 {
  width: 110px; }
  
.w120 {
  width: 120px; }

.w125 {
  width: 125px; }

.w130 {
  width: 130px; }
  
.w140 {
  width: 140px; }

.w150 {
  width: 150px; }

.w158 {
  width: 158px; }
  
.w160 {
  width: 160px; }
  
.w178 {
  width: 178px; }

.w180 {
  width: 180px; }
  
.w200 {
  width: 200px; }

.w220 {
  width: 220px; }

.w230 {
  width: 230px!important; }
  
.w240 {
  width: 240px!important; }
  
.w250 {
  width: 250px !important; }
  
.w252 {
  width: 252px; }

.w258 {
  width: 258px; }
  
.w260 {
  width: 260px; }

.w280 {
  width: 280px; }

.w300 {
  width: 300px; }

.w320 {
  width: 320px; }

.w350 {
  width: 350px; }

.w370 {
  width: 370px; }

.w400 {
  width: 400px!important; }

.w450 {
  width: 450px; }

.w470 {
  width: 470px; }

.w500 {
  width: 500px; }

.w508 {
  width: 508px; }

.w600 {
  width: 600px; }

.w700 {
  width: 700px; }

.w745 {
  width: 745px!important; }
  
.w750 {
  width: 750px!important; }

.w775 {
 width: 775px!important; }

.w800 {
  width: 800px!important; }

.w960 {
  width: 960px; }

.w1400 {
  width: 1400px; }
  
.w43p {
  width: 43%; }

.w55p {
  width: 55%; }

.w60p {
  width: 60%; }

.w70p {
  width: 70%!important; }

.w90p {
  width: 90%; }

.w92p {
  width: 92%; }
  
.w100p {
  width: 100%; }

/*高度*/
.h15 {
  height: 15px; }

.h32 {
  height: 32px; }

.h37 {
  height: 37px!important;
  line-height:37px; }

.h60 {
  height: 60px;
  line-height:60px;
}

.h24 {
  height: 24px; }

.h25 {
  height: 25px; }

.h30 {
  height: 30px; }
  
.h35 {
  height: 35px; }
  
.h40 {
  height: 40px; }

.h50 {
  height: 50px; }

.h51 {
  height: 51px; }
  
.h60 {
  height: 60px; }
  
.h70 {
  height: 70px;
}

.h80 {
  height: 80px; }
  
.h91 {
  height: 91px;
}

.h100 {
  height: 100px; }

.h125 {
  height: 125px; }

.h130 {
  height: 130px; }

.h150 {
  height: 150px; }

.h160 {
  height: 160px; }

.h180 {
  height: 180px; }

.h220 {
  height: 220px; }

.h270 {
  height: 270px; }

.h307 {
  height: 307px; }

.h365 {
  height: 365px; }

.h412 {
  height: 412px; }

.h440 {
  height: 440px; }

.h700{
  height: 700px; }
  
/*位置*/
.center {
  margin: 0 auto; }

.no-margin {
  margin: 0px; }

.vm {
  vertical-align: middle; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn{
  float:none!important;}
.pr {
  position: relative; }

.pa {
  position: absolute; }

.r0 {
  right: 0; }

.l208 {
  left: 208px; }

.l260 {
  left: 260px; }

.l462 {
  left: 462px; }

.mt0 {
  margin-top: 0px!important; }

 .mt1 {
  margin-top: 1px!important; }

.mt3 {
  margin-top: 3px; }

.mt5 {
  margin-top: 5px; }

.mt6 {
  margin-top: 6px; }

.mt8 {
  margin-top: 8px; }

.mt10 {
  margin-top: 10px!important; }

.mt11 {
  margin-top: 11px; }

.mt12 {
  margin-top: 12px; }

.mt15 {
  margin-top: 15px; }

.mt17 {
  margin-top: 17px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt50 {
  margin-top: 50px; }

.mt80 {
  margin-top: 80px; }

.mt120 {
  margin-top: 120px; }

 .m0_30{
  margin:0px 30px;}
  .m0_25{
  margin:0px 25px;}

.mb5 {
  margin-bottom: 5px; }

.mb8 {
  margin-bottom: 8px; }

.mb0 {
  margin-bottom: 0px!important; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb40 {
  margin-bottom: 20px; }

.ml0 {
  margin-left: 0px!important; }


.ml8 {
  margin-left: 8px; }

.mr8 {
  margin-right: 8px; }

.mr5 {
  margin-right: 5px!important; }

.mr3 {
  margin-right: 3px; }

.ml140 {
  margin-left: 140px; }

.ml200{
  margin-left:200px;}

.ml40 {
  margin-left: 40px; }

.ml50 {
  margin-left: 50px; }

.pt0 {
  padding-top: 0px!important; }
  
.pt6 {
  padding-top: 6px;
}

.pt10 {
  padding-top: 10px!important; }

.pt12 {
  padding-top: 12px; }

.pt15 {
  padding-top: 15px; }

.pb10 {
  padding-bottom: 10px; }

.pb20 {
  padding-bottom: 20px; }

.pl0 {
  padding-left: 0px!important; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px!important; }
  
.pl15 {
  padding-left: 15px!important; }
  
.pl13 {
  padding-left: 13px!important; }

.pl200{
  padding-left:200px!important;}
.pr10 {
  padding-right: 10px; }
.pr100{
  padding-right: 100px;
}
.p10_25 {
  padding: 10px 25px!important; }
  
.p0_5 {
  padding: 0 5px!important; }
  
.p0_10 {
  padding: 0 10px!important; 
 }
  
.p0_15 {
  padding: 0 15px!important; 
 }
  
.p0_20 {
  padding: 0 20px!important; 
 }
 .p0_40 {
  padding: 0 40px!important; 
 }

.p5_0 {
  padding: 5px 0px!important; 
 }

.p15_10 {
  padding: 15px 10px!important; 
 }
 
.p0{
  padding:0px !important;
 }
.m0 {
  margin: 0!important; }
.m0a{
	margin:0 auto;
}
.mb10 {
  margin-bottom: 10px; }

.mb12 {
  margin-bottom: 12px; }

.ml3 {
  margin-left: 3px; }

.ml5 {
  margin-left: 5px; }

.ml8 {
  margin-left: 8px; }

.ml6 {
  margin-left: 6px; }

.ml10 {
  margin-left: 10px; }

.ml12 {
  margin-left: 12px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px!important; }

.ml30 {
  margin-left: 30px; }

.ml50 {
  margin-left: 50px; }

.ml60 {
  margin-left: 60px; }

.ml100 {
  margin-left: 100px; }

.ml180 {
  margin-left: 180px; }

.ml160 {
  margin-left: 160px; }

.ml185 {
  margin-left: 185px; }

.mr8 {
  margin-left: 8px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr16 {
  margin-right: 16px; }

.mr13 {
  margin-right: 13px; }

.mr18 {
  margin-right: 18px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr3 {
  margin-right: 3px; }

.m12_0 {
  margin: 12px 0px; }

.m8_0 {
  margin: 8px 0px; }

.p12 {
  padding: 12px; }

.pt7 {
  padding-top: 7px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt40 {
  padding-top: 40px; }

.pl0 {
  padding-left: 0px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px!important; }

.pl20 {
  padding-left: 20px!important; }

.pl50 {
  padding-left: 50px; }

.pl150 {
  padding-left: 150px; }

.pd0_20 {
  padding: 0px 20px; }

.pd0_4 {
  padding: 0px 4px; }


.pb5 {
  padding-bottom: 5px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px!important; }
  
.pwr9{
  padding-right:9% !important;}

/*内容位置*/
.textc {
  text-align: center; }

.textr {
  text-align: right; }

.textl {
  text-align: left; }

.textm {
  vertical-align: middle; }

.textcm {
  text-align: center;
  vertical-align: middle; }

.tc {
  text-align: center; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

/*颜色*/
.pink {
  color: #ff007e !important;
}

.light_blue{
  color:#3498db;
}
.font_sblck{
  color:#777777;
}

.gary {
  color: #777777 !important; }

.orange {
  color: orange;
}

.orange_link{
  color:#f39800 !important;
}
.red {
  color: red;
}

.green {
  color: #8fc31f;
}

.blue {
  color: #0000FF;
}

.blue_link {
  color: #005ea7 !important;
}

.blue_link:hover {
  text-decoration: underline !important;
}

.black {
  color: #000000;
}

.brown{
  color:#997a00;
}
.white {
  color: #FFFFFF;
}

.grey {
  color: grey;
}

.bbgrey{
    color:#323232 !important;
}

.bgnone{
    background-image:none!important;
}

.bgdd {
  background-color: #EEE;
}

.bgred {
  background-color: #EC5757;
}

.bggrey {
  background-color: #FBFBFB!important;
}

.bgwhite {
  background-color: #ffffff !important;
}

.bg7 {
  background-color: #f3f3f3; 
}

.bg8 {
  background: #ffe1e1; 
}

.bg9 {
  background: #daeeff; 
}

.bg10{
  background:#e5f6f8;
}

.bg11{
  background:#f7f7f7!important;
}
.claretred {
  color: #e01800; 
}

/*其他*/
.clear {
  clear: both; 
}

.hide {
  display: none; 
}
  
.tphide{
	display: none!important;
}  
.block {
  display: block; 
}

.pointer {
  cursor: pointer; 
}

.bt0 {
  border-top: 0px; 
}

.border0 {
  border: 0px!important; 
}

.border1{
border:1px solid #eeeeee;
}

.borderb{
	border:1px solid black;
}

.bb1 {
  border-bottom: 1px solid #BBB5B5; 
}

.bbgreen{
  border:1px solid #c6eafa;
}

.bbyellow{
  border: 1px solid #fff2b2;
}

.underline {
  text-decoration: underline; 
}

.lh60 {
  line-height: 60px; 
}

.lh23 {
  line-height: 23px; 
}

.lh28 {
  line-height: 28px; 
}

.lh30 {
  line-height: 30px!important; 
}

.lh80 {
  line-height: 80px; 
}

.lhh28 {
  height: 28px;
  line-height: 28px; }

/*footer*/
.footer {
  width: 100%;
  text-align: center; }

table.common {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 12px; }
  table.common td, table.common th {
    margin: 0;
    padding: 4px;
    border: 1px solid #ccc; }
  table.common thead th {
    margin: 0;
    padding: 4px;
    border: 1px solid #ccc;
    font-weight: bold; }

th.bg {
  background-color: #f5f5f5;
  text-align: right; }

th.bg_tc {
  background-color: #f5f5f5;
  text-align: center;
  min-width: 150px; }

.del {
  text-decoration: line-through; }

.over_auto{
	overflow: auto;
}

.over_hideen{
	overflow: hidden;
}

.over_scroll{
	overflow: scroll;
}

.no_break {
  table-layout: fixed;
  word-break: break-all;
  overflow: hidden; 
}

.bround4{
  border-radius:4px!important;
}

.bround8{
  border-radius:8px !important;
}

.bround14{
  border-radius:14px!important;
}

.toinline{
  display:inline-block !important;
}
.hand{
 	cursor: pointer;
 }
a.redhover:hover{
	color:red;
}
.question_input{
	min-width:130px;
}

.text_area1{
	width:80%;
	height:130px;
}

.text_area2{
	width:80%;
	height:180px;
}

.fw{
	font-weight: 700;
}

.t0{
	top: 0px;
}
.tip span{
	min-width:100px!important;
	text-align: left!important;
}
.head_right{
  float:right;
  text-align:right;
}

.head_top{
  background:#f7f7f7;
  height:34px;
  line-height:34px;
  overflow:hidden;
}

.list-style{
	list-style-type: none;
}

.space_nowrap{
	white-space: nowrap;
}


/* 表单input提示语隐藏 */
.input-tip {
  display: none;
}

/* 表单内容靠左20px
.left20{
	text-align:left;margin-left: 20px;
	} 
表单内容靠左
.left{
	text-align:left;
	}  */

.min-h130{
	min-height: 130px;
}

.article-content-backend {
	font-size: 14px;
    line-height: 35px;
    padding: 20px;
}

.release{
	text-align: left;
	padding-left: 20px!important;
}

.release ul{
    margin: 0;
    padding: 0;
}

.clearli li{
	clear:none;
}

.edit-posit{
	position: relative;z-index: 88;
}
.file {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}
.display-none{
	display: none;
}
.display-inline{
	display: inline;
}
.analyze {
	width: 100%;
	height:400px;
}

.supplierAnalyze {
	height: 700px;
	min-width: 310px;
	margin: 0 auto;
	width: 800px;"
}
.div-center{
text-align:center;
}
.table-border-color-red{
 border-color:#FF0000!important;
}
.break-all { word-break: break-all; }