<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="synchro.dao.SynchRecordMapper">
  
  <!-- 关系映射 -->
  <resultMap id="resMap" type="synchro.model.SynchRecord">
    <id column="ID"  property="id" />
    <result column="OPER_TYPE"  jdbcType="NUMERIC" property="operType"  />
    <result column="DATA_TYPE"  jdbcType="VARCHAR" property="dataType"/>
    <result column="SYNCH_DATE"  jdbcType="TIMESTAMP"  property="synchDate" />
    <result column="DESCRIPTIONS" jdbcType="VARCHAR"  property="descriptions" />
  </resultMap>
  
  <!-- 表中所有字段 -->
  <sql id="baseSql">
    ID, OPER_TYPE, DATA_TYPE, SYNCH_DATE, DESCRIPTIONS
  </sql>
  
  <!-- 保存 -->
  <insert id="save" parameterType="synchro.model.SynchRecord">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    INSERT INTO T_SYNCH_RECORD (ID, OPER_TYPE,DATA_TYPE, SYNCH_DATE, DESCRIPTIONS)
    VALUES (#{id},#{operType,jdbcType=NUMERIC},#{dataType,jdbcType=VARCHAR},
           #{synchDate,jdbcType=TIMESTAMP},#{descriptions})
  </insert>
  
  <!-- 获取同步时间 -->
  <select id="getSynchRecordByOperType"   resultMap="resMap">
    SELECT  
    <include refid="baseSql" />,
    to_char(SYNCH_DATE,'yyyy-MM-dd hh24:mi:ss') AS synchTime
    FROM T_SYNCH_RECORD
    WHERE OPER_TYPE = #{operType,jdbcType=NUMERIC}
    <if test="searchType != null and searchType != '' ">
      AND DATA_TYPE = #{searchType,jdbcType=VARCHAR}
    </if>
    <if test="startTime != null and startTime != '' ">
      AND SYNCH_DATE &gt;= to_date(#{startTime,jdbcType=TIMESTAMP},'yyyy-MM-dd hh24:mi:ss')
    </if>
    <if test="endTime != null and endTime != '' ">
      AND SYNCH_DATE &lt;= to_date(#{endTime,jdbcType=TIMESTAMP},'yyyy-MM-dd hh24:mi:ss')
    </if>
    ORDER by SYNCH_DATE desc
  </select>
  
  <!-- 获取最近同步的时间 -->
  <select id="getSynchTime" resultType="java.lang.String">
    SELECT to_char(MAX(SYNCH_DATE),'yyyy-MM-dd hh24:mi:ss') AS synchTime
    FROM T_SYNCH_RECORD
    WHERE  OPER_TYPE = #{operType,jdbcType=NUMERIC}
    AND DATA_TYPE = #{dataType,jdbcType=VARCHAR}
  </select>
  
</mapper>