<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.bms.UserTaskMapper">
  <resultMap id="UserTask_Map" type="yggc.model.bms.UserTask">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="START_DATE" jdbcType="DATE" property="startDate" />
    <result column="END_DATE" jdbcType="DATE" property="endDate" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATED_AT" jdbcType="DATE" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="DATE" property="updatedAt" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="LEV" jdbcType="VARCHAR" property="level" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CONTENT, START_DATE, END_DATE, STATUS, CREATED_AT, UPDATED_AT, MEMO, LEV, USER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="UserTask_Map">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_USERTASK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SES_BMS_USERTASK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="yggc.model.bms.UserTask">
    insert into T_SES_BMS_USERTASK (ID, CONTENT, START_DATE, 
      END_DATE, STATUS, CREATED_AT, 
      UPDATED_AT, MEMO, LEV, USER_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{startDate,jdbcType=DATE}, 
      #{endDate,jdbcType=DATE}, #{status,jdbcType=VARCHAR}, #{createdAt,jdbcType=DATE}, 
      #{updatedAt,jdbcType=DATE}, #{memo,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
      )
  </insert>
  <insert id="insertSelective" parameterType="yggc.model.bms.UserTask">
    insert into T_SES_BMS_USERTASK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="level != null">
        LEV,
      </if>
      <if test="userId != null">
        userId,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=DATE},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="yggc.model.bms.UserTask">
    update T_SES_BMS_USERTASK
    <set>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=DATE},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=DATE},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        LEV = #{level,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="yggc.model.bms.UserTask">
    update T_SES_BMS_USERTASK
    set CONTENT = #{content,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=DATE},
      UPDATED_AT = #{updatedAt,jdbcType=DATE},
      MEMO = #{memo,jdbcType=VARCHAR},
      LEV = #{level,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="getByMonth" parameterType="Map" resultMap="UserTask_Map">
 select
  <include refid="Base_Column_List" />
  from T_SES_BMS_USERTASK where 
  <![CDATA[
    to_char(START_DATE,'yyyy-mm')=#{date}
    ]]>
   
 
  </select>
  
</mapper>