<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.bms.UserMapper">
  <resultMap id="UserResultMap" type="yggc.model.bms.User">
    <result column="ID"  property="id" />
    <result column="LOGIN_NAME"  property="loginName" />
    <result column="PASSWORD"  property="password" />
    <result column="CREATED_AT"  property="createdAt" jdbcType="TIMESTAMP"/>
    <result column="IS_DELETED"  property="isDeleted" />
    <result column="REL_NAME"  property="relName" />
    <result column="UPDATED_AT"  property="updatedAt" jdbcType="TIMESTAMP"/>
    <result column="PHONE"  property="phone" />
    <!-- 查询创建人 -->  
    <association column="CREATER_ID"  property="creater" select="queryById" />  
  </resultMap>
  <resultMap type="yggc.model.bms.User" id="userroleMap" extends="UserResultMap">  
    <!-- property: 指的是集合属性的值, ofType：指的是集合中元素的类型-->
	<collection property="roles" ofType="yggc.model.bms.Role">
		<id column="roleId"  property="id" />
	    <result column="roleName" jdbcType="VARCHAR" property="name" />
	    <result column="roleCreatedAt" jdbcType="TIMESTAMP" property="createdAt" />
	    <result column="describe" jdbcType="VARCHAR" property="describe" />
	    <result column="roleIsDeleted" property="isDeleted" />
	</collection>   
  </resultMap>  
  <sql id="Tabel_Name">
    T_SES_BMS_USERINFO
  </sql>
  
  <!-- 表中所有列 -->
  <sql id="Base_Column_List" >
   ID,LOGIN_NAME,PASSWORD,CREATED_AT,IS_DELETED,REL_NAME,UPDATED_AT,CREATER_ID,PHONE
  </sql>

  <!-- 查询条件 -->
  <sql id="Example_Where_Clause">
    where IS_DELETED=0
    <trim suffixOverrides=",">
      <if test="id!= null and id !=''">
        and ID = #{id}
      </if>
      <if test="loginName != null and loginName != ''">
        and LOGIN_NAME = #{loginName}
      </if>
      <if test="password != null and password != ''">
        and PASSWORD = #{password}
      </if>
      <if test="createdAt != null">
        and CREATED_AT = #{createdAt}
      </if>
      <if test="relName != null and relName != ''">
        and REL_NAME = #{relName}
      </if>
      <if test="updatedAt != null">
        and UPDATED_AT = #{updatedAt}
      </if>
      <if test="creater != null">
        and CREATER_ID = #{creater.id}
      </if>
      <if test="phone != null and phone != ''">
        and phone = #{phone}
      </if>
    </trim>
  </sql>
  
  <!-- 1.新增记录 -->
  <insert id="add" parameterType="Object" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_USERINFO(ID,LOGIN_NAME,PASSWORD,CREATED_AT,IS_DELETED,REL_NAME,UPDATED_AT,CREATER_ID,PHONE) values(#{id},#{loginName},#{password},#{createdAt},#{isDeleted},#{relName},#{updatedAt},#{creater.id},#{phone})
  </insert> 
  <!-- 1.1新增记录(可插入null) -->
  <insert id="insertSelective" parameterType="yggc.model.bms.User">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_SES_BMS_USERINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null and id !=''">
        ID,
      </if>
      <if test="loginName != null and loginName != ''">
        LOGIN_NAME,
      </if>
      <if test="password != null and password !=''">
        PASSWORD,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="relName != null and relName !=''">
        REL_NAME,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="creater != null">
        CREATER_ID,
      </if>
      <if test="phone != null and phone !=''">
        PHONE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null and id !=''">
        #{id},
      </if>
      <if test="loginName != null and loginName !=''">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password !='' ">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted},
      </if>
      <if test="createdAt != null">
        #{createdAt},
      </if>
      <if test="relName != null and relName != '' ">
        #{relName,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt},
      </if>
      <if test="creater != null">
        #{creater.id},
      </if>
      <if test="phone != null and phone !=''">
        #{phone},
      </if>
    </trim>
  </insert>
  <!-- 2.根据id修改记录-->  
  <update id="update" parameterType="Object" >
    update T_SES_BMS_USERINFO set LOGIN_NAME=#{loginName},PASSWORD=#{password},CREATED_AT=#{createdAt},IS_DELETED=#{isDeleted},REL_NAME=#{relName},UPDATED_AT=#{updatedAt},CREATER_ID=#{creater.id},PHONE=#{phone}  where id=#{id}
  </update>

  <!-- 3.只修改不为空的字段 -->
  <update id="updateBySelective" parameterType="Object" >
    update T_SES_BMS_USERINFO set 
    <trim  suffixOverrides="," >
      <if test="loginName != null and loginName !=''">
        LOGIN_NAME=#{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password !='' ">
        PASSWORD=#{password,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED=#{isDeleted},
      </if>
      <if test="createdAt != null">
        CREATED_AT=#{createdAt},
      </if>
      <if test="relName != null and relName != '' ">
        REL_NAME=#{relName,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT=#{updatedAt},
      </if>
      <if test="creater != null">
        CREATER_ID=#{creater.id},
      </if>
      <if test="phone != null and phone != '' ">
        PHONE=#{phone,jdbcType=VARCHAR},
      </if>
    </trim> where ID=#{id}
  </update>

  <!-- 4.根据id进行删除 -->
  <delete id="delete" parameterType="Object">
    delete from T_SES_BMS_USERINFO where ID = #{id}
  </delete>
  
  <!-- 5.根据id查询 -->
  <select id="queryById" resultMap="UserResultMap" parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from T_SES_BMS_USERINFO where ID = #{id}
  </select>
  <!-- <select id="getCreaterById" parameterType="Object" resultMap="UserResultMap">  
     select
     <include refid="Base_Column_List" />
     from T_SES_BMS_USERINFO where ID = #{id}  
  </select> -->  
  <!-- 6.查询列表，只查询不为空的字段 -->
  <select id="queryBySelective" resultMap="UserResultMap" parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from T_SES_BMS_USERINFO
    <include refid="Example_Where_Clause" />
  </select>
  
  <!-- 7.列表总数 -->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
    select count(1) from T_SES_BMS_USERINFO
    <include refid="Example_Where_Clause" />
  </select>
  
  <!-- 8.查询列表 -->
  <select id="queryByList" resultMap="UserResultMap" parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from T_SES_BMS_USERINFO 
    <include refid="Example_Where_Clause"/>
    ORDER BY CREATED_AT DESC
  </select>
  <!-- 9.登录查询 -->
  <select id="loginQuery" resultMap="UserResultMap" parameterType="Object">
    select 
    <include refid="Base_Column_List" />
    from T_SES_BMS_USERINFO u 
    where u.IS_DELETED=0 
    and u.LOGIN_NAME = #{loginName} 
    and u.PASSWORD=#{password}
  </select>
  
  <!-- 10.根据user表中的id查询用户和角色信息 -->  
  <select id="selectUserRole" parameterType="Object"  
      resultMap="userroleMap">  
      select 
      u.*,
      r.ID as roleId,r.NAME as roleName,r.CREATED_AT as roleCreatedAt,r.DESCRIBE as describe,r.IS_DELETED as roleIsDeleted 
      from 
      T_SES_BMS_USERINFO u left join T_SES_BMS_USERROLE ur 
      on u.ID=ur."USER_ID"  
      left join T_SES_BMS_ROLEMAN r 
      on ur."ROLE_ID"=r.ID
      where 
      u.IS_DELETED=0 
      <if test="id!= null">
        and u.ID = #{id}  
      </if> 
      ORDER BY u.CREATED_AT DESC
  </select>  
  <!-- 保存用户和角色之间的关系信息 -->  
  <insert id="saveRelativity" parameterType="Object">  
      insert into T_SES_BMS_USERROLE("USER_ID","ROLE_ID")  
      values(#{userId.id},#{roleId.id})  
  </insert>
  
</mapper>