<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bss.dao.ob.OBProjectSupplierMapper" >
  <resultMap id="BaseResultMap" type="bss.model.ob.OBProjectSupplier" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="SUPPLIER_PRIMARY_ID" property="supplierPrimaryId" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="bss.model.ob.OBProjectSupplier" id="OBProjectResultMap" extends="BaseResultMap">
  	<collection property="obProjectList" ofType="bss.model.ob.OBProject">
  		 <id column="PID" property="id" jdbcType="VARCHAR" />
	    <result column="PNAME" property="name" jdbcType="VARCHAR" />
	    <result column="PSTART_TIME" property="startTime" jdbcType="TIMESTAMP" />
	    <result column="PEND_TIME" property="endTime" jdbcType="TIMESTAMP" />
	    <result column="PREMARK" property="remark" jdbcType="VARCHAR" />
	    <result column="PSTATUS" property="status" jdbcType="DECIMAL" />
	    <result column="PCREATER_ID" property="createrId" jdbcType="VARCHAR" />
     	<result column="PCREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    	<result column="PUPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    	<result column="RULE_ID" property="ruleId" jdbcType="VARCHAR" />
		<result column="PROJECT_NUMBER" property="projectNumber" jdbcType="DECIMAL" />
    	<association property="obRule" column="RULE_ID" select="bss.dao.ob.OBRuleMapper.selectByPrimaryKey" />
  	</collection>
  	
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PROJECT_ID, SUPPLIER_ID, CREATED_AT, UPDATED_AT, REMARK,SUPPLIER_PRIMARY_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bss.model.ob.OBProjectSupplierExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_SUPPLIER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_SUPPLIER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BSS_OB_PROJECT_SUPPLIER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
   <delete id="deleteByProjectId" parameterType="java.lang.String" >
    delete from T_BSS_OB_PROJECT_SUPPLIER
    where PROJECT_ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="bss.model.ob.OBProjectSupplierExample" >
    delete from T_BSS_OB_PROJECT_SUPPLIER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bss.model.ob.OBProjectSupplier" >
    insert into T_BSS_OB_PROJECT_SUPPLIER (ID, PROJECT_ID, SUPPLIER_ID, 
      CREATED_AT, UPDATED_AT, REMARK
      )
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="bss.model.ob.OBProjectSupplier" >
    insert into T_BSS_OB_PROJECT_SUPPLIER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="supplierPrimaryId != null" >
        SUPPLIER_PRIMARY_ID,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="supplierPrimaryId != null" >
        #{supplierPrimaryId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bss.model.ob.OBProjectSupplierExample" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PROJECT_SUPPLIER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!--根据id  获取数据 的数量 -->
   <select id="countById" parameterType="String" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PROJECT_SUPPLIER
    where id= #{id,jdbcType=VARCHAR}
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BSS_OB_PROJECT_SUPPLIER
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null" >
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BSS_OB_PROJECT_SUPPLIER
    set ID = #{record.id,jdbcType=VARCHAR},
      PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ob.OBProjectSupplier" >
    update T_BSS_OB_PROJECT_SUPPLIER
    <set >
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.ob.OBProjectSupplier" >
    update T_BSS_OB_PROJECT_SUPPLIER
    set PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据supplier_id查询所有的竞价信息 -->
  <select id="selectSupplierOBprojectList" resultMap="OBProjectResultMap" parameterType="Map">
  	SELECT
  	<if test="distinct" >
      distinct
    </if>
		S.ID as ID, 
  		S.PROJECT_ID AS PROJECT_ID,
  		S.SUPPLIER_ID AS SUPPLIER_ID,
  		S.UPDATED_AT AS UPDATED_AT,
  		S.REMARK AS REMARK,
   		P.ID AS PID,
   		P.NAME AS PNAME,
   		P.START_TIME AS PSTART_TIME,
   		P.END_TIME AS PEND_TIME,
   		P.REMARK AS PREMARK,
   		P.STATUS AS PSTATUS,
   		P.CREATER_ID AS PCREATER_ID,
   		P.CREATED_AT AS PCREATED_AT,
   		P.UPDATED_AT AS PUPDATED_AT,
   		P.RULE_ID AS RULE_ID,
   		P.PROJECT_NUMBER AS PROJECT_NUMBER
  		FROM T_BSS_OB_PROJECT_SUPPLIER S
  		LEFT JOIN T_BSS_OB_PROJECT P
  		ON S.PROJECT_ID = P.ID
 		WHERE S.SUPPLIER_ID = #{supplier_id}
 		<if test="name != null and name != ''">
        	AND P.NAME LIKE '%${name}%'
      	</if>
      	<if test="createTime != null and createTime != ''">
        	AND P.CREATED_AT = #{createTime}
      	</if>
      		AND P.STATUS <![CDATA[ <> ]]> 0
      	<if test="queryStatus != null and queryStatus != ''">
        	AND P.STATUS = #{queryStatus}
      	</if>
      	<if test="queryRemark != null and queryRemark != ''">
        	AND S.REMARK IN ${queryRemark}
      	</if>
      	ORDER BY P.CREATED_AT DESC
  </select>
  <update id="updateByCondition" parameterType="map" >
    UPDATE T_BSS_OB_PROJECT_SUPPLIER
	   SET
	   <if test="remark != null and remark != ''">
		   REMARK=#{remark}
	   </if>
	   WHERE 1=1
	   <if test="obproject_id != null and obproject_id != ''">
	  		AND PROJECT_ID=#{obproject_id}
	   </if>
	   <if test="type_id != null and type_id != ''">
	  		AND SUPPLIER_ID=#{type_id}
	   </if>
  </update>
  
  <!-- 根据supplier_id和project_id查询所对应的竞价信息 -->
  <select id="selectRemarkBYPS" parameterType="Map" resultMap="BaseResultMap">
  	SELECT 
    <include refid="Base_Column_List" />
  	FROM T_BSS_OB_PROJECT_SUPPLIER PS
 	WHERE PS.PROJECT_ID = #{project_id,jdbcType=VARCHAR}
   	AND PS.SUPPLIER_ID = #{supplier_id,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selByProjectId" parameterType="String" resultMap="BaseResultMap">
  	SELECT 
    <include refid="Base_Column_List" />
  	FROM T_BSS_OB_PROJECT_SUPPLIER
 	WHERE PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </select>
  
  
</mapper>