<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bss.dao.ob.OBProjectMapper" >
  <resultMap id="BaseResultMap" type="bss.model.ob.OBProject" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DELIVERY_DEADLINE" property="deliveryDeadline" jdbcType="TIMESTAMP" />
    <result column="DELIVERY_ADDRESS" property="deliveryAddress" jdbcType="VARCHAR" />
    <result column="TRADED_SUPPLIER_COUNT" property="tradedSupplierCount" jdbcType="DECIMAL" />
    <result column="TRANSPORT_FEES" property="transportFees" jdbcType="VARCHAR" />
    <result column="DEMAND_UNIT" property="demandUnit" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATER_ID" property="createrId" jdbcType="VARCHAR" />
    <result column="FORM_ID" property="formId" jdbcType="VARCHAR" />
    <result column="TURNOVER_RATION" property="turnoverRation" jdbcType="DECIMAL" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="CONTACT_TEL" property="contactTel" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="ORG_CONTACT_NAME" property="orgContactName" jdbcType="VARCHAR" />
    <result column="ORG_CONTACT_TEL" property="orgContactTel" jdbcType="VARCHAR" />
    <result column="RULE_ID" property="ruleId" jdbcType="VARCHAR" />
     <result column="PROJECT_NUMBER" property="projectNumber" jdbcType="DECIMAL" />
     <result column="IS_DELETE" property="isDelete" jdbcType="DECIMAL" />
     <result column="TRANSPORT_FEES_PRICE" property="transportFeesPrice" jdbcType="DECIMAL" />
     <result column="IS_EMERGENCY" property="isEmergency" jdbcType="DECIMAL" />
    <association property="obProjectRule" column="ID" select="bss.dao.ob.OBProjectRuleMapper.selectByPrimaryKey" />
    
  </resultMap>
    <resultMap id="ProjectResultMap"  extends="BaseResultMap" type="bss.model.ob.OBProject">
     <collection property="obProductInfo" ofType="bss.model.ob.OBProductInfo">
		<id column="pid"  property="id" />
   		 <result column="PProductId" property="productId" jdbcType="VARCHAR" />
   		 <result column="plimitedPrice" property="limitedPrice" jdbcType="DECIMAL" />
   		 <result column="ppurchaseCount" property="purchaseCount" jdbcType="DECIMAL" />
    	<result column="pprojectId" property="projectId" jdbcType="VARCHAR" />
    	<result column="pcreatedAt" property="createdAt" jdbcType="TIMESTAMP" />
    	<result column="pupdatedAt" property="updatedAt" jdbcType="TIMESTAMP" />
    	<result column="prmark" property="remark" jdbcType="VARCHAR" />
    	<result column="pcreaterId" property="remark" jdbcType="VARCHAR" />
	</collection> 
  </resultMap>
  <resultMap id="BaseResultItemMap" type="bss.model.ob.OBProject" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DELIVERY_DEADLINE" property="deliveryDeadline" jdbcType="TIMESTAMP" />
    <result column="DELIVERY_ADDRESS" property="deliveryAddress" jdbcType="VARCHAR" />
    <result column="TRADED_SUPPLIER_COUNT" property="tradedSupplierCount" jdbcType="DECIMAL" />
    <result column="TRANSPORT_FEES" property="transportFees" jdbcType="VARCHAR" />
    <result column="DEMAND_UNIT" property="demandUnit" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="ATTACHMENT_ID" property="attachmentId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATER_ID" property="createrId" jdbcType="VARCHAR" />
    <result column="FORM_ID" property="formId" jdbcType="VARCHAR" />
    <result column="TURNOVER_RATION" property="turnoverRation" jdbcType="DECIMAL" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="CONTACT_TEL" property="contactTel" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="ORG_CONTACT_NAME" property="orgContactName" jdbcType="VARCHAR" />
    <result column="ORG_CONTACT_TEL" property="orgContactTel" jdbcType="VARCHAR" />
    <result column="RULE_ID" property="ruleId" jdbcType="VARCHAR" />
     <result column="PROJECT_NUMBER" property="projectNumber" jdbcType="DECIMAL" />
     <result column="IS_DELETE" property="isDelete" jdbcType="DECIMAL" />
     <result column="TRANSPORT_FEES_PRICE" property="transportFeesPrice" jdbcType="DECIMAL" />
     <result column="IS_EMERGENCY" property="isEmergency" jdbcType="DECIMAL" />
  </resultMap>
  <!--- 根据参数 获取竞价信息  -->  
   <select id="selectData" parameterType="Map" resultMap="BaseResultMap">  
    select <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT 
      	where  IS_DELETE=0
    <if test="name != null and  name !=''">
     and NAME like '%${name}%'
    </if>
    <if test="startTime != null and startTime !=''">
     and START_TIME= #{startTime}
    </if>
    <!-- <if test="uid != null">
    and CREATER_ID=#{uid}
    </if> -->
     <if test="createId != null">
     and CREATER_ID IN
       <foreach item="item" index="index" collection="createId" open="(" separator="," close=")">  
       #{item}  
      </foreach>  
    </if>
      	ORDER BY CREATED_AT DESC
  </select> 
  <!--- 根据参数 获取竞价信息    
   <select id="selectData" parameterType="Map" resultMap="ProjectResultMap">  
    select p.*,i.id as pid,i.PRODUCT_ID as PProductId,i.LIMITED_PRICE as plimitedPrice,
    i.PURCHASE_COUNT as ppurchaseCount,i.PROJECT_ID as pprojectId,i.CREATED_AT as pcreatedAt,
    i.UPDATED_AT as pupdatedAt,i.REMARK as prmark, i.CREATER_ID as pcreaterId  
    from T_BSS_OB_PROJECT p LEFT JOIN T_BSS_OB_PRODUCT_INFO i on p.id=i.PROJECT_ID
      	where  p.CREATER_ID = #{uid} 
    <if test="name != null and  name !=''">
     and p.NAME like '%${name}%'
    </if>
    <if test="startTime != null and startTime !=''">
     and p.START_TIME= #{startTime},
    </if>
      	ORDER BY p.CREATED_AT DESC
  </select> -->
  <!--- 根据参数 获取 竞价信息  -->  
   <select id="selectTemporary" parameterType="Map" resultMap="ProjectResultMap">  
    select p.*,i.id as pid,i.PRODUCT_ID as PProductId,i.LIMITED_PRICE as plimitedPrice,
    i.PURCHASE_COUNT as ppurchaseCount,i.PROJECT_ID as pprojectId,i.CREATED_AT as pcreatedAt,
    i.UPDATED_AT as pupdatedAt,i.REMARK as prmark, i.CREATER_ID as pcreaterId  
    from T_BSS_OB_PROJECT p LEFT JOIN T_BSS_OB_PRODUCT_INFO i on p.id=i.PROJECT_ID
      where  p.CREATER_ID=#{userId,jdbcType=VARCHAR} and p.IS_DELETE=0
    and p.ID = #{id,jdbcType=VARCHAR}
      	ORDER BY p.CREATED_AT DESC,i.PRODUCT_ID
  </select> 
  <!--- 根据参数 获取 竞价信息  -->  
   <select id="selectTemporaryBy" parameterType="Map" resultMap="BaseResultMap">  
    select p.*
    from T_BSS_OB_PROJECT p 
      where  p.CREATER_ID=#{userId,jdbcType=VARCHAR} and p.IS_DELETE=0
    and p.ID = #{id,jdbcType=VARCHAR}
      	ORDER BY p.CREATED_AT DESC
  </select> 
  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, NAME, DELIVERY_DEADLINE, DELIVERY_ADDRESS, TRADED_SUPPLIER_COUNT, TRANSPORT_FEES, 
    DEMAND_UNIT, CONTACT_NAME, START_TIME, END_TIME, CONTENT	, ATTACHMENT_ID, REMARK, 
    STATUS, CREATER_ID, FORM_ID, TURNOVER_RATION, CREATED_AT, UPDATED_AT,IS_DELETE,
     ORG_ID,ORG_CONTACT_TEL,ORG_CONTACT_NAME,CONTACT_TEL,RULE_ID,PROJECT_NUMBER,TRANSPORT_FEES_PRICE,IS_EMERGENCY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bss.model.ob.OBProjectExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BSS_OB_PROJECT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="bss.model.ob.OBProjectExample" >
    delete from T_BSS_OB_PROJECT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bss.model.ob.OBProject" >
    insert into T_BSS_OB_PROJECT (ID, NAME, DELIVERY_DEADLINE, 
      DELIVERY_ADDRESS, TRADED_SUPPLIER_COUNT, TRANSPORT_FEES, 
      DEMAND_UNIT, CONTACT_NAME, START_TIME, 
      END_TIME, CONTENT	, ATTACHMENT_ID, 
      REMARK, STATUS, CREATER_ID, 
      FORM_ID, TURNOVER_RATION, CREATED_AT, 
      UPDATED_AT,ORG_ID,ORG_CONTACT_TEL,ORG_CONTACT_NAME,CONTACT_TEL)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{deliveryDeadline,jdbcType=TIMESTAMP}, 
      #{deliveryAddress,jdbcType=VARCHAR}, #{tradedSupplierCount,jdbcType=DECIMAL}, #{transportFees,jdbcType=VARCHAR}, 
      #{demandUnit,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{content	,jdbcType=VARCHAR}, #{attachmentId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{createrId,jdbcType=VARCHAR}, 
      #{formId,jdbcType=VARCHAR}, #{turnoverRation,jdbcType=DECIMAL}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP},#{orgId,jdbcType=VARCHAR},#{orgContactTel,jdbcType=VARCHAR},
      #{orgContactName,jdbcType=VARCHAR},#{contactTel,jdbcType=VARCHAR})
  </insert>
  <!-- 根据条件获取 数据 -->
  <select id="selectPageList" resultMap="BaseResultMap" parameterType="bss.model.ob.OBProject" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT
    where IS_DELETE=0
     <if test="id!= null and id !=''">
      and name= ${name}
     </if>
     order by  CREATED_AT DESC
  </select>
  <!--  不是暂存 和结束 流拍 的竞价数据-->
  <select id="selectByStatus" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT
    where STATUS!=0 and STATUS !=4 and STATUS!=3 
    <if test="id !=null and id!=''">
    and ID=#{id,jdbcType=VARCHAR}
    </if>
     order by  CREATED_AT DESC
  </select>
  
  <insert id="insertSelective" parameterType="bss.model.ob.OBProject" >
    insert into T_BSS_OB_PROJECT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="deliveryDeadline != null" >
        DELIVERY_DEADLINE,
      </if>
      <if test="deliveryAddress != null" >
        DELIVERY_ADDRESS,
      </if>
      <if test="tradedSupplierCount != null" >
        TRADED_SUPPLIER_COUNT,
      </if>
      <if test="transportFees != null" >
        TRANSPORT_FEES,
      </if>
      <if test="demandUnit != null" >
        DEMAND_UNIT,
      </if>
      <if test="contactName != null" >
        CONTACT_NAME,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="content	 != null" >
        CONTENT	,
      </if>
      <if test="attachmentId != null" >
        ATTACHMENT_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createrId != null" >
        CREATER_ID,
      </if>
      <if test="formId != null" >
        FORM_ID,
      </if>
      <if test="turnoverRation != null" >
        TURNOVER_RATION,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="orgContactTel != null" >
        ORG_CONTACT_TEL,
      </if>
      <if test="orgContactName != null" >
        ORG_CONTACT_NAME,
      </if>
      <if test="contactTel != null" >
        CONTACT_TEL,
      </if>
      <if test="ruleId != null" >
        RULE_ID,
      </if>
      
      <if test="projectNumber != null" >
        PROJECT_NUMBER,
      </if>
      
      <if test="isDelete != null" >
        IS_DELETE,
      </if>
      <if test="transportFeesPrice != null" >
        TRANSPORT_FEES_PRICE,
      </if>
       <if test="isEmergency != null" >
        IS_EMERGENCY,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDeadline != null" >
        #{deliveryDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryAddress != null" >
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="tradedSupplierCount != null" >
        #{tradedSupplierCount,jdbcType=DECIMAL},
      </if>
      <if test="transportFees != null" >
        #{transportFees,jdbcType=VARCHAR},
      </if>
      <if test="demandUnit != null" >
        #{demandUnit,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content	 != null" >
        #{content	,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId != null" >
        #{attachmentId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="turnoverRation != null" >
        #{turnoverRation,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      
       <if test="orgId != null" >
        #{orgId,jdbcType=TIMESTAMP},
      </if>
      <if test="orgContactTel != null" >
        #{orgContactTel,jdbcType=TIMESTAMP},
      </if>
      <if test="orgContactName != null" >
        #{orgContactName,jdbcType=TIMESTAMP},
      </if>
      <if test="contactTel != null" >
        #{contactTel,jdbcType=TIMESTAMP},
      </if>
       <if test="ruleId != null" >
        #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="projectNumber != null" >
          #{projectNumber,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null" >
          #{isDelete,jdbcType=DECIMAL},
      </if>
      <if test="transportFeesPrice != null" >
          #{transportFeesPrice,jdbcType=DECIMAL},
      </if>
       <if test="isEmergency != null" >
         #{isEmergency,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bss.model.ob.OBProjectExample" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PROJECT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!--根据id 获取竞价 数量 -->
   <select id="countById" parameterType="String" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PROJECT
    where id=#{id,jdbcType=VARCHAR}
  </select>
  <!-- 根据日期查出当前创建竞价数量 -->
   <select id="countByDate" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(id) from T_BSS_OB_PROJECT
    where TO_CHAR(CREATED_AT,'yyyy-MM-dd')= #{createDate,jdbcType=VARCHAR}
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BSS_OB_PROJECT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryDeadline != null" >
        DELIVERY_DEADLINE = #{record.deliveryDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deliveryAddress != null" >
        DELIVERY_ADDRESS = #{record.deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.tradedSupplierCount != null" >
        TRADED_SUPPLIER_COUNT = #{record.tradedSupplierCount,jdbcType=DECIMAL},
      </if>
      <if test="record.transportFees != null" >
        TRANSPORT_FEES = #{record.transportFees,jdbcType=VARCHAR},
      </if>
      <if test="record.demandUnit != null" >
        DEMAND_UNIT = #{record.demandUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.contactName != null" >
        CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content	 != null" >
        CONTENT	 = #{record.content	,jdbcType=VARCHAR},
      </if>
      <if test="record.attachmentId != null" >
        ATTACHMENT_ID = #{record.attachmentId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.createrId != null" >
        CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      </if>
      <if test="record.formId != null" >
        FORM_ID = #{record.formId,jdbcType=VARCHAR},
      </if>
      <if test="record.turnoverRation != null" >
        TURNOVER_RATION = #{record.turnoverRation,jdbcType=DECIMAL},
      </if>
      <if test="record.createdAt != null" >
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BSS_OB_PROJECT
    set ID = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      DELIVERY_DEADLINE = #{record.deliveryDeadline,jdbcType=TIMESTAMP},
      DELIVERY_ADDRESS = #{record.deliveryAddress,jdbcType=VARCHAR},
      TRADED_SUPPLIER_COUNT = #{record.tradedSupplierCount,jdbcType=DECIMAL},
      TRANSPORT_FEES = #{record.transportFees,jdbcType=VARCHAR},
      DEMAND_UNIT = #{record.demandUnit,jdbcType=VARCHAR},
      CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      START_TIME = #{record.startTime,jdbcType=TIMESTAMP},
      END_TIME = #{record.endTime,jdbcType=TIMESTAMP},
      CONTENT	 = #{record.content	,jdbcType=VARCHAR},
      ATTACHMENT_ID = #{record.attachmentId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      FORM_ID = #{record.formId,jdbcType=VARCHAR},
      TURNOVER_RATION = #{record.turnoverRation,jdbcType=DECIMAL},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ob.OBProject" >
    update T_BSS_OB_PROJECT
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDeadline != null" >
        DELIVERY_DEADLINE = #{deliveryDeadline,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryAddress != null" >
        DELIVERY_ADDRESS = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="tradedSupplierCount != null" >
        TRADED_SUPPLIER_COUNT = #{tradedSupplierCount,jdbcType=DECIMAL},
      </if>
      <if test="transportFees != null" >
        TRANSPORT_FEES = #{transportFees,jdbcType=VARCHAR},
      </if>
      <if test="demandUnit != null" >
        DEMAND_UNIT = #{demandUnit,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content	 != null" >
        CONTENT	 = #{content	,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId != null" >
        ATTACHMENT_ID = #{attachmentId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        FORM_ID = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="turnoverRation != null" >
        TURNOVER_RATION = #{turnoverRation,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
       <if test="ruleId != null" >
      RULE_ID=  #{ruleId,jdbcType=VARCHAR},
      </if>
       <if test="projectNumber != null" >
         PROJECT_NUMBER= #{projectNumber,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null" >
         IS_DELETE= #{isDelete,jdbcType=DECIMAL},
      </if>
      <if test="transportFeesPrice != null" >
         TRANSPORT_FEES_PRICE= #{transportFeesPrice,jdbcType=DECIMAL},
      </if>
      <if test="isEmergency != null" >
         IS_EMERGENCY= #{isEmergency,jdbcType=DECIMAL},
      </if>
      <if test="orgId != null" >
         ORG_ID= #{orgId,jdbcType=DECIMAL},
      </if>
      <if test="orgContactName != null" >
         ORG_CONTACT_NAME= #{orgContactName,jdbcType=DECIMAL},
      </if>
      <if test="orgContactTel != null" >
         ORG_CONTACT_TEL= #{orgContactTel,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.ob.OBProject" >
    update T_BSS_OB_PROJECT
    set NAME = #{name,jdbcType=VARCHAR},
      DELIVERY_DEADLINE = #{deliveryDeadline,jdbcType=TIMESTAMP},
      DELIVERY_ADDRESS = #{deliveryAddress,jdbcType=VARCHAR},
      TRADED_SUPPLIER_COUNT = #{tradedSupplierCount,jdbcType=DECIMAL},
      TRANSPORT_FEES = #{transportFees,jdbcType=VARCHAR},
      DEMAND_UNIT = #{demandUnit,jdbcType=VARCHAR},
      CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      CONTENT	 = #{content	,jdbcType=VARCHAR},
      ATTACHMENT_ID = #{attachmentId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATER_ID = #{createrId,jdbcType=VARCHAR},
      FORM_ID = #{formId,jdbcType=VARCHAR},
      TURNOVER_RATION = #{turnoverRation,jdbcType=DECIMAL},
      TRANSPORT_FEES_PRICE = #{transportFeesPrice,jdbcType=DECIMAL},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!--- 根据参数 获取竞价信息  -->
  <select id="selectAllOBproject" parameterType="Map" resultMap="ProjectResultMap">
    select
    <include refid="Base_Column_List" />
      from T_BSS_OB_PROJECT p where IS_DELETE=0
    <if test="userId != null and userId !=''" >
      AND CREATER_ID = #{userId}
    </if>
    <if test="name != null and name !=''" >
      AND p.NAME like '%${name}%'
    </if>
    <if test="startTime != null and startTime !=''">
    	<![CDATA[AND p.START_TIME >= #{startTime}]]>
    </if>
    <if test="endTime != null and endTime !=''">
    	<![CDATA[AND p.END_TIME <= #{endTime}]]> 
    </if>
    <if test="createTime != null and createTime !=''">
    	<![CDATA[AND p.CREATED_AT = #{createTime}]]> 
    </if>
    AND p.STATUS <![CDATA[ <> ]]> 0
	ORDER BY
	CREATED_AT DESC
  </select>
  
  <!-- 报价供应商的数量 -->
  <select id="selOfferSupplierNum" resultType="Integer">
  		SELECT
			COUNT(ID)
		FROM T_BSS_OB_SUPPLIER
		WHERE IS_DELETED = 0 AND SUPPLIER_ID IN (
			SELECT SUPPLIER_ID ID FROM T_BSS_OB_RESULTS_INFO WHERE MY_OFFER_MONEY IS NOT NULL 
  			<if test="projectId != null and projectId != ''">
  				AND PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  			</if> )
		<if test="smallPointsId != null and smallPointsId != ''">
			AND SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR}
		</if>
  </select>
  <!-- 根据时间范围 获取 非暂存的竞价 数据 -->
  <select id="selectByCreateDate" parameterType="String" resultMap="BaseResultMap" >
    select * from T_BSS_OB_PROJECT where STATUS!=0 and 
    to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
   <!-- 根据时间范围 获取修改 竞价是竞价结束 和竞价流拍 -->
  <select id="selectByUpdateDate" parameterType="String" resultMap="BaseResultItemMap" >
    select * from T_BSS_OB_PROJECT where (STATUS=3 or STATUS=4) and 
    to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
  
</mapper>