<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bss.dao.ob.OBProjectResultMapper" >
  <resultMap id="BaseResultMap" type="bss.model.ob.OBProjectResult" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
    <result column="RANKING" property="ranking" jdbcType="DECIMAL" />
    <result column="PROPORTION" property="proportion" jdbcType="VARCHAR" />
    <result column="TOTAL_AMOUNT" property="totalAmount" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATER_ID" property="createrId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <association property="supplier" column="SUPPLIER_ID"
			select="bss.dao.ob.OBSupplierMapper.selectByPrimaryKey" />
  </resultMap>
  
  <!-- 定义  供应商 查询 结果 信息 -->
  <resultMap id="confirmInfoVo" type="bss.model.ob.ConfirmInfoVo" >
    <result column="projectId" property="projectId" jdbcType="VARCHAR" />
    <result column="quoteName" property="quoteName" jdbcType="VARCHAR" />
    <result column="ranking" property="ranking" jdbcType="DECIMAL" />
    <result column="bidRatio" property="bidRatio" jdbcType="DECIMAL" />
    <result column="bidStatus" property="bidStatus" jdbcType="VARCHAR" />
    <result column="resultId" property="resultId" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 定义 查询 确定结果页面 一个供应商 对应多个产品 -->
  <resultMap id="BaseResulItem" type="bss.model.ob.OBProjectResult" extends="BaseResultMap" >
    <collection property="OBResultsInfo" ofType="bss.model.ob.OBResultsInfo">
     <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR"/>
     <result column="productName" property="productName" jdbcType="VARCHAR"/>
      <result column="MY_OFFER_MONEY" property="myOfferMoney" jdbcType="DECIMAL"/>
      <result column="RESULTS_NUMBER" property="resultsNumber" jdbcType="DECIMAL"/>
       <result column="LIMIT_PRICE" property="limitPrice" jdbcType="DECIMAL"/>
    </collection>
  </resultMap>
  <!-- 竞价结果查询  视图信息映射-->
  <resultMap id="supplierProductVo" type="bss.model.ob.SupplierProductVo" >
    <result column="supplierName" property="supplierName" jdbcType="VARCHAR" />
    <result column="RANKING" property="ranking" jdbcType="DECIMAL" />
    <result column="dealQuote" property="dealQuote" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PROJECT_ID, SUPPLIER_ID, RANKING, PROPORTION,  TOTAL_AMOUNT, 
     STATUS, CREATER_ID, REMARK, CREATED_AT, UPDATED_AT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bss.model.ob.OBProjectResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <!-- 查询 确定 结果 数据 -->
  <select id="selectSupplierDate" resultMap="BaseResulItem" parameterType="java.lang.String" >
    select p.*,t.NAME as productName,i.* from T_BSS_OB_PROJECT_RESULT p,T_BSS_OB_RESULTS_INFO i,
    T_BSS_OB_PRODUCT t 
  where p.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
  and p.SUPPLIER_ID=#{supplierId} and p.PROJECT_ID=i.PROJECT_ID and i.SUPPLIER_ID=p.SUPPLIER_ID 
   and t.id=i.PRODUCT_ID
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_RESULT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 根据供应商查找竞价结果信息 -->
  <select id="selectBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_RESULT
    where SUPPLIER_ID = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 根据供应商和竞价标题查找竞价商品并计算出成交的单价使用排名第一的供应商  mmw-->
  <select id="selectProductBySupplierId" resultType="bss.model.ob.BidProductVo" parameterType="bss.model.ob.OBProjectResult">
    select PRODUCT.ID id,PRODUCT.NAME productName,resultInfo.RESULTS_NUMBER productNum,resultInfo.MY_OFFER_MONEY myOfferMoney,resultInfo.REMARK remark,t1.dealPrice dealPrice 
  	  FROM T_BSS_OB_PRODUCT product,T_BSS_OB_RESULTS_INFO resultInfo,
		(
		SELECT T11.MY_OFFER_MONEY dealPrice 
			from T_BSS_OB_RESULTS_INFO t11,T_BSS_OB_PROJECT_RESULT t22 
				WHERE T11.PROJECT_ID=T22.PROJECT_ID AND T11.SUPPLIER_ID=T22.SUPPLIER_ID AND T22.RANKING=1
					AND T11.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
		) t1 
		where RESULTINFO.PROJECT_ID=#{projectId,jdbcType=VARCHAR} AND resultInfo.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR} 
		   
  </select>
  <!-- 根据供应商查找竞价商品   mmw -->
  <select id="selectResultProductBySupplierId" resultType="bss.model.ob.BidProductVo" parameterType="bss.model.ob.OBProjectResult">
    select PRODUCT.ID id,PRODUCT.NAME productName,T1.DEALPRICE dealPrice
  	  FROM T_BSS_OB_PRODUCT product,T_BSS_OB_PROJECT_RESULT projectResult,
		(
		SELECT T11.MY_OFFER_MONEY dealPrice
			from T_BSS_OB_RESULTS_INFO t11,T_BSS_OB_PROJECT_RESULT t22 
				WHERE T11.PROJECT_ID=T22.PROJECT_ID AND T11.SUPPLIER_ID=T22.SUPPLIER_ID AND T22.RANKING=1
					AND T11.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
		) t1
		where projectResult.PROJECT_ID=#{projectId,jdbcType=VARCHAR} AND projectResult.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR} 
		   
  </select>
  <!-- 查找符合当前竞标的供应商在 竞价结果表 中的status mmw-->
  <select id="selectSupplierStatus" resultType="java.lang.String" parameterType="bss.model.ob.OBProjectResult" >
    select status from T_BSS_OB_PROJECT_RESULT 
    WHERE PROJECT_ID=#{projectId,jdbcType=VARCHAR} AND SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR} 
    GROUP BY STATUS
  </select>
  
   <!-- 根据竞价 id查 的供应商信息结果信息 -->
  <select id="selectNotSuppler" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_RESULT
    where 
    PROJECT_ID = #{id,jdbcType=VARCHAR}
    <if test="status != null and status != -1">
      AND STATUS =#{status,jdbcType=DECIMAL} 
     </if>
      <if test="proportion != null and proportion != ''">
      AND PROPORTION !=0 
     </if>
    order by RANKING
  </select>
    <!-- 根据竞价 id查获取 是否有第二轮确认 -->
  <select id="selectSecondRound" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select COUNT(RANKING)as RANKING 
    from T_BSS_OB_PROJECT_RESULT
    where PROJECT_ID = #{id,jdbcType=VARCHAR}
    GROUP BY RANKING,SUPPLIER_ID,PROJECT_ID
    HAVING COUNT(RANKING)>2
  </select>
  <!-- 查询供应商结果 基本信息 -->
  <select id="getBasic" resultMap="confirmInfoVo" parameterType="java.lang.String">
  select p.name as quoteName ,p.id as projectId,r.SUPPLIER_ID as supplierId ,r.ranking,r.proportion as firstRatio,
  r.status as bidStatus,p.start_time as confirmStarttime,r.id as resultId from T_BSS_OB_PROJECT p LEFT JOIN 
  (select * from (select *  from T_BSS_OB_PROJECT_RESULT where PROJECT_ID =#{projectId,jdbcType=VARCHAR} 
  and SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
  ORDER BY CREATED_AT) where  rownum=1) r 
  on p.id=r.PROJECT_ID 
  where p.id =#{projectId,jdbcType=VARCHAR} and r.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
  </select>
   <!-- 根据竞价信息ID查询竞价结果信息 -->
 <!-- <select id="selectByProjectId" resultMap="CountMap" parameterType="java.lang.String" >
    SELECT 
    	SUM(TOTAL_AMOUNT) COUNTTOTAL_AMOUNT,SUPPLIER_ID,RANKING,STATUS 
    FROM 
    	T_BSS_OB_PROJECT_RESULT 
    WHERE 
    	PROJECT_ID = #{supplierId,jdbcType=VARCHAR}
	GROUP BY 
		SUPPLIER_ID,RANKING,STATUS 
	ORDER BY 
		RANKING
  </select> -->
  <!-- 根据竞价Id和供应商Id查询竞价结果  PSId  project supplier id mmw -->
<!--   <select id="selectInfoByPSId" resultMap="confirmInfoVo" parameterType="bss.model.ob.OBProjectResult" >
    SELECT distinct obProject.NAME QUOTENAME,obProjectResult.RANKING RANKING,obProjectResult.PROPORTION bidRatio,
    OBPROJECT.START_TIME CONFIRMOVERTIME,ruleTable.CONFIRM_TIME confirmTime,
    ruleTable.CONFIRM_TIME_SECOND confirmTimeSecond,ruleTable.QUOTE_TIME quoteTime 
	  FROM T_BSS_OB_PROJECT obProject,T_BSS_OB_PROJECT_RESULT obProjectResult,
	  (select QUOTE_TIME,CONFIRM_TIME,CONFIRM_TIME_SECOND from T_BSS_OB_RULE 
	  where id=(select DISTINCT RULE_ID FROM T_BSS_OB_PROJECT WHERE id=#{projectId,jdbcType=VARCHAR})) ruleTable
		WHERE obProjectResult.PROJECT_ID=obProject.ID AND 
		obProjectResult.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR} AND 
		OBPROJECTRESULT.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
  </select> -->
  
   <!-- 根据竞价Id和供应商Id查询竞价结果  PSId  project supplier id mmw -->
 <!--  <select id="selectInfoByPSIds" resultMap="confirmInfoVo" parameterType="bss.model.ob.OBProjectResult" >
    SELECT distinct obProject.NAME QUOTENAME,obProjectResult.RANKING RANKING,obProjectResult.PROPORTION bidRatio,
    OBPROJECT.START_TIME CONFIRMOVERTIME,ruleTable.CONFIRM_TIME confirmTime,
    ruleTable.CONFIRM_TIME_SECOND confirmTimeSecond,ruleTable.QUOTE_TIME quoteTime 
	  FROM T_BSS_OB_PROJECT obProject,T_BSS_OB_PROJECT_RESULT obProjectResult,
	  (select QUOTE_TIME,CONFIRM_TIME,CONFIRM_TIME_SECOND from T_BSS_OB_RULE 
	  where id=(select DISTINCT RULE_ID FROM T_BSS_OB_PROJECT WHERE id=#{projectId,jdbcType=VARCHAR})) ruleTable
		WHERE obProjectResult.PROJECT_ID=obProject.ID AND 
		obProjectResult.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR} AND 
		OBPROJECTRESULT.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
  </select> -->
  <!-- 根据竞价Id和供应商Id查询竞价结果  PSId  project supplier id mmw -->
 <!--  <select id="selectInfoByPID" resultMap="confirmInfoVo" parameterType="java.lang.String" >
    SELECT * from T_SES_SMS_SUPPLIER smsSupplier,T_BSS_OB_PROJECT_RESULT projectResult 
	  WHERE PROJECTRESULT.SUPPLIER_ID=SMSSUPPLIER.id and PROJECTRESULT.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
  </select> -->
  
  <!-- 根据竞价Id查询竞价结果  PSId  project supplier id mmw -->
  <select id="selectByPID" resultMap="BaseResultMap" parameterType="java.lang.String" >
  
  select r.PROJECT_ID,SUPPLIER_ID,r.RANKING,sum(PROPORTION) as PROPORTION, r.TOTAL_AMOUNT, 
r.STATUS ,r.REMARK from
(select DISTINCT r.PROJECT_ID, r.SUPPLIER_ID, r.RANKING, r.PROPORTION, r.TOTAL_AMOUNT, 
r.STATUS,s.SUPPLIER_NAME as REMARK from T_BSS_OB_PROJECT_RESULT r LEFT JOIN T_SES_SMS_SUPPLIER s 
on r.SUPPLIER_ID=s.ID
where r.SUPPLIER_ID=s.id and r.PROJECT_ID=#{projectId,jdbcType=VARCHAR} ) r
GROUP BY r.PROJECT_ID,SUPPLIER_ID,r.RANKING, r.PROPORTION, r.TOTAL_AMOUNT, 
r.STATUS,r.REMARK ORDER BY r.RANKING
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BSS_OB_PROJECT_RESULT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="bss.model.ob.OBProjectResultExample" >
    delete from T_BSS_OB_PROJECT_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bss.model.ob.OBProjectResult" >
    insert into T_BSS_OB_PROJECT_RESULT (ID, PROJECT_ID, 
      SUPPLIER_ID, RANKING, PROPORTION, 
       TOTAL_AMOUNT,
      STATUS, CREATER_ID, REMARK, 
      CREATED_AT, UPDATED_AT)
    values (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=VARCHAR}, #{ranking,jdbcType=DECIMAL}, #{proportion,jdbcType=VARCHAR}, 
      #{totalAmount,jdbcType=DECIMAL},  
      #{status,jdbcType=DECIMAL}, #{createrId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="bss.model.ob.OBProjectResult" >
    insert into T_BSS_OB_PROJECT_RESULT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
        <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID,
      </if>
      <if test="ranking != null" >
        RANKING,
      </if>
      <if test="proportion != null" >
        PROPORTION,
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createrId != null" >
        CREATER_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="ranking != null" >
        #{ranking,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bss.model.ob.OBProjectResultExample" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PROJECT_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!-- 根据供应商和标题的ID查询总条数 mmw -->
  <select id="countByPSID" parameterType="bss.model.ob.OBProjectResult" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PROJECT_RESULT
    WHERE PROJECT_ID=#{projectId,jdbcType=VARCHAR} AND SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
  </select>
  <select id="selectProportionByProject" resultMap="BaseResultMap" parameterType="bss.model.ob.OBProjectResult" >
    SELECT sum(PROPORTION) as PROPORTION,SUPPLIER_ID from T_BSS_OB_PROJECT_RESULT 
    WHERE PROJECT_ID=#{projectId,jdbcType=VARCHAR} AND STATUS=1 
     and SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
    GROUP BY SUPPLIER_ID
  </select>
  <!-- 去重复供应商 根据参数 获取确认供应商数量  -->
  <select id="countByStatus" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(DISTINCT SUPPLIER_ID) from T_BSS_OB_PROJECT_RESULT
    where PROJECT_ID=#{projectId,jdbcType=VARCHAR}  and STATUS!=-1
  </select>
  <!-- 去重复供应商 根据参数 获取成交供应商数量  -->
  <select id="getCountSupplier" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(DISTINCT SUPPLIER_ID) from T_BSS_OB_PROJECT_RESULT
    where PROJECT_ID=#{projectId,jdbcType=VARCHAR}  and STATUS=1
  </select>
    <!-- 去重复供应商 根据参数  获取中标供应商数量  -->
  <select id="countProportion" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(DISTINCT SUPPLIER_ID) from T_BSS_OB_PROJECT_RESULT
    where PROJECT_ID=#{projectId,jdbcType=VARCHAR}  and  PROPORTION !=0
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BSS_OB_PROJECT_RESULT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.ranking != null" >
        RANKING = #{record.ranking,jdbcType=DECIMAL},
      </if>
      <if test="record.proportion != null" >
        PROPORTION = #{record.proportion,jdbcType=VARCHAR},
      </if>
      <if test="record.totalAmount != null" >
        TOTAL_AMOUNT = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.createrId != null" >
        CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null" >
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BSS_OB_PROJECT_RESULT
    set ID = #{record.id,jdbcType=VARCHAR},
      PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      RANKING = #{record.ranking,jdbcType=DECIMAL},
      PROPORTION = #{record.proportion,jdbcType=VARCHAR},
      TOTAL_AMOUNT = #{record.totalAmount,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ob.OBProjectResult" >
    update T_BSS_OB_PROJECT_RESULT
    <set >
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="ranking != null" >
        RANKING = #{ranking,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        PROPORTION = #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 根据供应商Id、产品Id和竞价标题Id修改	SPPId supplierId、和projectId  -->
  <update id="updateInfoBySPPId" parameterType="bss.model.ob.OBProjectResult" >
    update T_BSS_OB_PROJECT_RESULT
    <set >
      <if test="ranking != null" >
        RANKING = #{ranking,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        PROPORTION = #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR} and PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </update>
  <update id="updateBySupplierId" parameterType="bss.model.ob.OBProjectResult" >
    update T_BSS_OB_PROJECT_RESULT
    <set >
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="ranking != null" >
        RANKING = #{ranking,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        PROPORTION = #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.ob.OBProjectResult" >
    update T_BSS_OB_PROJECT_RESULT
    set 
      PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      RANKING = #{ranking,jdbcType=DECIMAL},
      PROPORTION = #{proportion,jdbcType=VARCHAR},
      TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATER_ID = #{createrId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据supplier_id和project_id查询所对应的竞价信息 -->
  <select id="findSupplierUnBidding" parameterType="Map" resultMap="BaseResultMap">
  	SELECT
   	SUM(PR.PROPORTION) AS REMARK,
   	PR.PROJECT_ID AS PROJECT_ID, 
   	PR.SUPPLIER_ID AS SUPPLIER_ID
  	FROM T_BSS_OB_PROJECT_RESULT PR
 	WHERE PR.PROJECT_ID = #{project_id,jdbcType=VARCHAR}
    AND PR.SUPPLIER_ID = #{supplier_id,jdbcType=VARCHAR}
 	GROUP BY PR.PROJECT_ID, PR.SUPPLIER_ID
	HAVING SUM(PR.PROPORTION) = 0
  </select>
  
</mapper>