<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bss.dao.ob.OBProjectResultMapper" >
  <resultMap id="BaseResultMap" type="bss.model.ob.OBProjectResult" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
    <result column="RANKING" property="ranking" jdbcType="DECIMAL" />
    <result column="PROPORTION" property="proportion" jdbcType="VARCHAR" />
    <result column="OFFER_PRICE" property="offerPrice" jdbcType="DECIMAL" />
    <result column="TOTAL_AMOUNT" property="totalAmount" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATER_ID" property="createrId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="RESULT_COUNT" property="resultCount" jdbcType="DECIMAL"/>
    <association property="supplier" column="SUPPLIER_ID"
			select="bss.dao.ob.OBSupplierMapper.selectByPrimaryKey" />
  </resultMap>
  
  <resultMap id="CountMap" type="bss.model.ob.OBProjectResult" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
    <result column="RANKING" property="ranking" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="COUNTOFFER_PRICE" property="countOfferPrice" jdbcType="DECIMAL" />
    <result column="COUNTTOTAL_AMOUNT" property="countTotalAmount" jdbcType="DECIMAL" />
    <result column="COUNTRESULT_COUNT" property="countresultCount" jdbcType="DECIMAL" />
    <association property="supplier" column="SUPPLIER_ID"
			select="bss.dao.ob.OBSupplierMapper.selectByPrimaryKey" />
  </resultMap>
  
  <!-- 确认页面视图信息映射 -->
  <resultMap id="confirmInfoVo" type="bss.model.ob.ConfirmInfoVo" >
    <result column="quoteName" property="quoteName" jdbcType="VARCHAR" />
    <result column="RANKING" property="ranking" jdbcType="DECIMAL" />
    <result column="STATUS" property="bidStatus" jdbcType="DECIMAL" />
    <result column="COUNTOFFER_PRICE" property="bidRatio" jdbcType="DECIMAL" />
    <result column="CONFIRMTIME" property="confirmTime" jdbcType="DECIMAL" />
    <result column="CONFIRMTIMESECOND" property="confirmTimeSecond" jdbcType="DECIMAL" />
    <result column="QUOTETIME" property="quoteTime" jdbcType="DECIMAL" />
    <result column="COUNTTOTAL_AMOUNT" property="confirmOvertime" jdbcType="DECIMAL" />
  </resultMap>
  
  <!-- 竞价结果查询  视图信息映射-->
  <resultMap id="supplierProductVo" type="bss.model.ob.SupplierProductVo" >
    <result column="supplierName" property="supplierName" jdbcType="VARCHAR" />
    <result column="RANKING" property="ranking" jdbcType="DECIMAL" />
    <result column="dealQuote" property="dealQuote" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PRODUCT_ID, PROJECT_ID, SUPPLIER_ID, RANKING, PROPORTION, OFFER_PRICE, TOTAL_AMOUNT, 
    CREATE_TIME, STATUS, CREATER_ID, REMARK, CREATED_AT, UPDATED_AT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bss.model.ob.OBProjectResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_RESULT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 根据供应商查找竞价结果信息 -->
  <select id="selectBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_RESULT
    where SUPPLIER_ID = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 根据供应商和标题查找竞价商品 mmw -->
  <select id="selectProductBySupplierId" resultType="bss.model.ob.BidProductVo" parameterType="bss.model.ob.OBProjectResult">
    select PRODUCT.ID id,PRODUCT.NAME productName,resultInfo.RESULTS_NUMBER productNum,resultInfo.MY_OFFER_MONEY myOfferMoney,resultInfo.REMARK remark 
      FROM T_BSS_OB_PRODUCT product,T_BSS_OB_RESULTS_INFO resultInfo 
		where RESULTINFO.PROJECT_ID=#{projectId} AND resultInfo.SUPPLIER_ID=#{supplierId} 
		  AND PRODUCT.ID=RESULTINFO.PRODUCT_ID
  </select>
  <!-- 根据供应商和标题查找竞价商品  mmw -->
  <select id="selectResultProductBySupplierId" resultType="bss.model.ob.BidProductVo" parameterType="bss.model.ob.OBProjectResult">
    select PRODUCT.ID id,PRODUCT.NAME productName,projectResult.RESULT_COUNT productNum,projectResult.OFFER_PRICE myOfferMoney
  	  FROM T_BSS_OB_PRODUCT product,T_BSS_OB_PROJECT_RESULT projectResult 
		where projectResult.PROJECT_ID=#{projectId} AND projectResult.SUPPLIER_ID=#{supplierId} 
		  AND PRODUCT.ID=projectResult.PRODUCT_ID;
  </select>
  <!-- 查找符合当前竞标的供应商在 竞价结果表 中的status mmw-->
  <select id="selectSupplierStatus" resultType="java.lang.String" parameterType="bss.model.ob.OBProjectResult" >
    select status from T_BSS_OB_PROJECT_RESULT 
    WHERE PROJECT_ID=#{projectId} AND SUPPLIER_ID=#{supplierId} 
    GROUP BY STATUS
  </select>
  
   <!-- 根据竞价 id查 的供应商信息结果信息 -->
  <select id="selectNotSuppler" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PROJECT_RESULT
    where 
    PROJECT_ID = #{id,jdbcType=VARCHAR}
    <if test="status != null and status != -1">
      AND STATUS =#{status,jdbcType=DECIMAL} 
     </if>
    order by RANKING
  </select>
    <!-- 根据竞价 id查获取 是否有第二轮确认 -->
  <select id="selectSecondRound" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select COUNT(RANKING)as RANKING 
    from T_BSS_OB_PROJECT_RESULT
    where PROJECT_ID = #{id,jdbcType=VARCHAR}
    GROUP BY RANKING,SUPPLIER_ID,PROJECT_ID
    HAVING COUNT(RANKING)>2
  </select>
  
  <!-- 根据竞价信息ID查询竞价结果信息 -->
  <select id="selectByProjectId" resultMap="CountMap" parameterType="java.lang.String" >
    SELECT 
    	SUM(OFFER_PRICE) COUNTOFFER_PRICE,SUM(TOTAL_AMOUNT) COUNTTOTAL_AMOUNT,SUM(RESULT_COUNT) COUNTRESULT_COUNT,SUPPLIER_ID,RANKING,STATUS 
    FROM 
    	T_BSS_OB_PROJECT_RESULT 
    WHERE 
    	PROJECT_ID = #{supplierId}
	GROUP BY 
		SUPPLIER_ID,RANKING,STATUS 
	ORDER BY 
		RANKING
  </select>
  <!-- 根据竞价Id和供应商Id查询竞价结果  PSId  project supplier id mmw -->
  <select id="selectInfoByPSId" resultMap="confirmInfoVo" parameterType="bss.model.ob.OBProjectResult" >
    SELECT distinct obProject.NAME QUOTENAME,obProjectResult.RANKING RANKING,obProjectResult.PROPORTION bidRatio,OBPROJECT.START_TIME CONFIRMOVERTIME,ruleTable.CONFIRM_TIME confirmTime,ruleTable.CONFIRM_TIME_SECOND confirmTimeSecond,ruleTable.QUOTE_TIME quoteTime 
	  FROM T_BSS_OB_PROJECT obProject,T_BSS_OB_PROJECT_RESULT obProjectResult,(select QUOTE_TIME,CONFIRM_TIME,CONFIRM_TIME_SECOND from T_BSS_OB_RULE where id=(select DISTINCT RULE_ID FROM T_BSS_OB_PROJECT WHERE id=#{projectId,jdbcType=VARCHAR})) ruleTable
		WHERE obProjectResult.PROJECT_ID=obProject.ID AND obProjectResult.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR} AND OBPROJECTRESULT.PROJECT_ID=#{projectId,jdbcType=VARCHAR}
  </select>
  <!-- 根据竞价Id和供应商Id查询竞价结果  PSId  project supplier id mmw -->
  <select id="selectInfoByPID" resultMap="confirmInfoVo" parameterType="java.lang.String" >
    SELECT * from T_SES_SMS_SUPPLIER smsSupplier,T_BSS_OB_PROJECT_RESULT projectResult 
	  WHERE PROJECTRESULT.SUPPLIER_ID=SMSSUPPLIER.id and PROJECTRESULT.PRODUCT_ID=#{projectId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BSS_OB_PROJECT_RESULT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="bss.model.ob.OBProjectResultExample" >
    delete from T_BSS_OB_PROJECT_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bss.model.ob.OBProjectResult" >
    insert into T_BSS_OB_PROJECT_RESULT (ID, PRODUCT_ID, PROJECT_ID, 
      SUPPLIER_ID, RANKING, PROPORTION, 
      OFFER_PRICE, TOTAL_AMOUNT, CREATE_TIME, 
      STATUS, CREATER_ID, REMARK, 
      CREATED_AT, UPDATED_AT)
    values (#{id,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=VARCHAR}, #{ranking,jdbcType=DECIMAL}, #{proportion,jdbcType=VARCHAR}, 
      #{offerPrice,jdbcType=DECIMAL}, #{totalAmount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=DECIMAL}, #{createrId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="bss.model.ob.OBProjectResult" >
    insert into T_BSS_OB_PROJECT_RESULT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID,
      </if>
      <if test="ranking != null" >
        RANKING,
      </if>
      <if test="proportion != null" >
        PROPORTION,
      </if>
      <if test="offerPrice != null" >
        OFFER_PRICE,
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createrId != null" >
        CREATER_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="ranking != null" >
        #{ranking,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="offerPrice != null" >
        #{offerPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bss.model.ob.OBProjectResultExample" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PROJECT_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!-- 去重复供应商 根据参数 获取成交供应商数量  -->
  <select id="countByStatus" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(DISTINCT SUPPLIER_ID) from T_BSS_OB_PROJECT_RESULT
    where PROJECT_ID=#{projectId,jdbcType=VARCHAR}  and STATUS=1
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BSS_OB_PROJECT_RESULT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.ranking != null" >
        RANKING = #{record.ranking,jdbcType=DECIMAL},
      </if>
      <if test="record.proportion != null" >
        PROPORTION = #{record.proportion,jdbcType=VARCHAR},
      </if>
      <if test="record.offerPrice != null" >
        OFFER_PRICE = #{record.offerPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.totalAmount != null" >
        TOTAL_AMOUNT = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.createrId != null" >
        CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null" >
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BSS_OB_PROJECT_RESULT
    set ID = #{record.id,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      RANKING = #{record.ranking,jdbcType=DECIMAL},
      PROPORTION = #{record.proportion,jdbcType=VARCHAR},
      OFFER_PRICE = #{record.offerPrice,jdbcType=DECIMAL},
      TOTAL_AMOUNT = #{record.totalAmount,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=DECIMAL},
      CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ob.OBProjectResult" >
    update T_BSS_OB_PROJECT_RESULT
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="ranking != null" >
        RANKING = #{ranking,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        PROPORTION = #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="offerPrice != null" >
        OFFER_PRICE = #{offerPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 根据供应商Id、产品Id和竞价标题Id修改	SPPId supplierId、productId和projectId  -->
  <update id="updateInfoBySPPId" parameterType="bss.model.ob.OBProjectResult" >
    update T_BSS_OB_PROJECT_RESULT
    <set >
      <if test="ranking != null" >
        RANKING = #{ranking,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        PROPORTION = #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="offerPrice != null" >
        OFFER_PRICE = #{offerPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="PRODUCT_ID != null" >
        CREATE_TIME = #{productId,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR} and PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </update>
  <update id="updateBySupplierId" parameterType="bss.model.ob.OBProjectResult" >
    update T_BSS_OB_PROJECT_RESULT
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="ranking != null" >
        RANKING = #{ranking,jdbcType=DECIMAL},
      </if>
      <if test="proportion != null" >
        PROPORTION = #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="offerPrice != null" >
        OFFER_PRICE = #{offerPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.ob.OBProjectResult" >
    update T_BSS_OB_PROJECT_RESULT
    set PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      RANKING = #{ranking,jdbcType=DECIMAL},
      PROPORTION = #{proportion,jdbcType=VARCHAR},
      OFFER_PRICE = #{offerPrice,jdbcType=DECIMAL},
      TOTAL_AMOUNT = #{totalAmount,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATER_ID = #{createrId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
</mapper>