<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bss.dao.ob.OBProductInfoMapper" >
  <resultMap id="BaseResultMap" type="bss.model.ob.OBProductInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="LIMITED_PRICE" property="limitedPrice" jdbcType="DECIMAL" />
    <result column="PURCHASE_COUNT" property="purchaseCount" jdbcType="DECIMAL" />
    <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATER_ID" property="remark" jdbcType="VARCHAR" />
    <association property="obProduct" column="PRODUCT_ID" select="bss.dao.ob.OBProductMapper.selectSignalByPrimaryKey"></association>
    <!-- <association property="obProduct" column="PRODUCT_ID" select="bss.dao.ob.OBProductMapper.selectByPrimaryKey"/>
    <association property="obProject" column="PROJECT_ID" select="bss.dao.ob.OBProjectMapper.selectByPrimaryKey"/> --> 
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PRODUCT_ID, LIMITED_PRICE, PURCHASE_COUNT, PROJECT_ID, CREATED_AT, UPDATED_AT, 
    REMARK,CREATER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bss.model.ob.OBProductInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BSS_OB_PRODUCT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- 查询成交数量总和 -->
  <select id="selectCount" resultType="Integer" parameterType="java.lang.String">
  	SELECT 
  		SUM(PURCHASE_COUNT) 
  	FROM 
  		T_BSS_OB_PRODUCT_INFO 
  	WHERE 
  		PROJECT_ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据 竞价id 获取竞价产品 -->
  <select id="selectByProjectId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT 
  		*
  	FROM 
  		T_BSS_OB_PRODUCT_INFO 
  	WHERE 
  		PROJECT_ID = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="selectByCreaterId" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PRODUCT_INFO
    where CREATER_ID = #{id,jdbcType=VARCHAR}
  </select>
  <!--根据竞价id 查询产品名称 -->
   <select id="getProductName" resultMap="BaseResultMap" parameterType="Map" >
    select distinct i.PRODUCT_ID,p.name as REMARK from T_BSS_OB_PRODUCT_INFO i,T_BSS_OB_PRODUCT p
    where i.PRODUCT_ID=p.id and  i.PROJECT_ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PRODUCT_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BSS_OB_PRODUCT_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="bss.model.ob.OBProductInfoExample" >
    delete from T_BSS_OB_PRODUCT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bss.model.ob.OBProductInfo" >
    insert into T_BSS_OB_PRODUCT_INFO (ID, PRODUCT_ID, LIMITED_PRICE, 
      PURCHASE_COUNT, PROJECT_ID, CREATED_AT, 
      UPDATED_AT, REMARK)
    values (#{id,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{limitedPrice,jdbcType=DECIMAL}, 
      #{purchaseCount,jdbcType=DECIMAL}, #{projectId,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bss.model.ob.OBProductInfo" >
    insert into T_BSS_OB_PRODUCT_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="limitedPrice != null" >
        LIMITED_PRICE,
      </if>
      <if test="purchaseCount != null" >
        PURCHASE_COUNT,
      </if>
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="limitedPrice != null" >
        #{limitedPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseCount != null" >
        #{purchaseCount,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bss.model.ob.OBProductInfoExample" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PRODUCT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!-- 根据id 获取竞价产品数据 -->
   <select id="countById" parameterType="String" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PRODUCT_INFO
   where id= #{id,jdbcType=VARCHAR}
   </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BSS_OB_PRODUCT_INFO
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.limitedPrice != null" >
        LIMITED_PRICE = #{record.limitedPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.purchaseCount != null" >
        PURCHASE_COUNT = #{record.purchaseCount,jdbcType=DECIMAL},
      </if>
      <if test="record.projectId != null" >
        PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null" >
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BSS_OB_PRODUCT_INFO
    set ID = #{record.id,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      LIMITED_PRICE = #{record.limitedPrice,jdbcType=DECIMAL},
      PURCHASE_COUNT = #{record.purchaseCount,jdbcType=DECIMAL},
      PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ob.OBProductInfo" >
    update T_BSS_OB_PRODUCT_INFO
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="limitedPrice != null" >
        LIMITED_PRICE = #{limitedPrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseCount != null" >
        PURCHASE_COUNT = #{purchaseCount,jdbcType=DECIMAL},
      </if>
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.ob.OBProductInfo" >
    update T_BSS_OB_PRODUCT_INFO
    set PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      LIMITED_PRICE = #{limitedPrice,jdbcType=DECIMAL},
      PURCHASE_COUNT = #{purchaseCount,jdbcType=DECIMAL},
      PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>