<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bss.dao.ob.OBProductMapper" >
  <resultMap id="BaseResultMap" type="bss.model.ob.OBProduct" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PROCUREMENT_ID" property="procurementId" jdbcType="VARCHAR" />
    <!-- 产品类别 -->
    <result column="CATEGORY_ID" property="categoryId" jdbcType="VARCHAR" />
    <result column="CATEGORY_MIDDLE_ID" property="categoryMiddleId" jdbcType="VARCHAR" />
    <result column="CATEGORY_BIG_ID" property="categoryBigId" jdbcType="VARCHAR" />
    <result column="PRODUCT_CATEGORY_ID" property="productCategoryId" jdbcType="VARCHAR" />
    <result column="PRODUCT_CATEGORY_LEVEL" property="productCategoryLevel" jdbcType="DECIMAL" />
    <result column="STANDARD_MODEL" property="standardModel" jdbcType="VARCHAR" />
    <result column="QUALITY_TECHNICAL_STANDARD" property="qualityTechnicalStandard" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="DECIMAL" />
    <result column="CREATER_ID" property="createrId" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="SMALL_POINTS_ID" property="smallPointsId" jdbcType="VARCHAR" />
    <association property="obSupplierList" column="ID" select="bss.dao.ob.OBSupplierMapper.selectByProductID"/> 
    <association property="category" column="CATEGORY_ID" select="ses.dao.bms.CategoryMapper.findById"/>
	<association property="categoryBig" column="CATEGORY_BIG_ID" select="ses.dao.bms.CategoryMapper.findById"/>
	<association property="categoryMiddle" column="CATEGORY_MIDDLE_ID" select="ses.dao.bms.CategoryMapper.findById"/>
	<association property="productCategory" column="PRODUCT_CATEGORY_ID" select="ses.dao.bms.CategoryMapper.findById"/>
    <association property="obSupplierList" column="ID" select="bss.dao.ob.OBSupplierMapper.selectByProductID"/> 
  	<association property="smallPoints" column="SMALL_POINTS_ID" select="ses.dao.bms.CategoryMapper.findById"/>
  </resultMap>
  
  <resultMap id="BaseResultSignalMap" type="bss.model.ob.OBProduct" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PROCUREMENT_ID" property="procurementId" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="VARCHAR" />
    <result column="CATEGORY_MIDDLE_ID" property="categoryMiddleId" jdbcType="VARCHAR" />
    <result column="CATEGORY_BIG_ID" property="categoryBigId" jdbcType="VARCHAR" />
    <result column="PRODUCT_CATEGORY_ID" property="productCategoryId" jdbcType="VARCHAR" />
    <result column="PRODUCT_CATEGORY_LEVEL" property="productCategoryLevel" jdbcType="DECIMAL" />
    <result column="STANDARD_MODEL" property="standardModel" jdbcType="VARCHAR" />
    <result column="QUALITY_TECHNICAL_STANDARD" property="qualityTechnicalStandard" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="IS_DELETED" property="isDeleted" jdbcType="DECIMAL" />
    <result column="CREATER_ID" property="createrId" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="SMALL_POINTS_ID" property="smallPointsId" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CODE, NAME,PROCUREMENT_ID, CATEGORY_ID, STANDARD_MODEL,CATEGORY_MIDDLE_ID,PRODUCT_CATEGORY_ID, PRODUCT_CATEGORY_LEVEL,CATEGORY_BIG_ID,
    QUALITY_TECHNICAL_STANDARD, REMARK, IS_DELETED, CREATER_ID, CREATED_AT, UPDATED_AT,STATUS,SMALL_POINTS_ID
  </sql>
  
   <!-- 条件查询/查询所有 -->
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bss.model.ob.OBProduct" >
    select  <include refid="Base_Column_List"/> FROM T_BSS_OB_PRODUCT WHERE 1=1 AND IS_DELETED=0
    <if test="code != null and code != ''">
    	and CODE like '%'||#{code}||'%'
    </if>
    <if test="name != null and name != ''">
    	and NAME like '%'||#{name}||'%'
    </if>
    <if test="status != null and status != 0">
    	and STATUS = #{status}
    </if>
    ORDER BY CREATED_AT DESC
  </select>
  
  <!-- 根据供应商id找到对应的商品 -->
  <select id="selectProductBySupplierId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PRODUCT
    where ID in(select PRODUCT_ID from T_BSS_OB_RESULTS_INFO where SUPPLIER_ID = ${supplierId,jdbcType=VARCHAR})
  </select>
  <!-- 通过主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PRODUCT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectInId" parameterType="java.util.List" resultMap="BaseResultSignalMap">
   select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PRODUCT
  	where ID in
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
   			#{item}  
 			</foreach>
  </select>
  <select id="selectSignalByPrimaryKey" resultMap="BaseResultSignalMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PRODUCT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_PRODUCT
    where IS_DELETED = 0
    order by CREATED_AT DESC
  </select>
  <!-- 删除 修改删除状态 -->
  <update id="deleteByPrimaryKey" parameterType="String" >
    update T_BSS_OB_PRODUCT set IS_DELETED = 1 where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <insert id="insert" parameterType="bss.model.ob.OBProduct" >
    insert into T_BSS_OB_PRODUCT (ID, CODE, NAME, CATEGORY_MIDDLE_ID,PRODUCT_CATEGORY_ID,PRODUCT_CATEGORY_LEVEL,
      PROCUREMENT_ID, CATEGORY_BIG_ID, CATEGORY_ID, 
      STANDARD_MODEL, QUALITY_TECHNICAL_STANDARD, 
      REMARK, IS_DELETED, CREATER_ID, 
      CREATED_AT, UPDATED_AT)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{categoryMiddleId,jdbcType=VARCHAR},#{productCategoryId,jdbcType=VARCHAR},#{productCategoryLevel,jdbcType=DECIMAL},
      #{procurementId,jdbcType=VARCHAR}, #{categoryBigId,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, 
      #{standardModel,jdbcType=VARCHAR}, #{qualityTechnicalStandard,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{isDeleted,jdbcType=DECIMAL}, #{createrId,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <!-- 插入非空数据 -->
  <insert id="insertSelective" parameterType="bss.model.ob.OBProduct" >
  <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_OB_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="procurementId != null" >
        PROCUREMENT_ID,
      </if>
      <if test="categoryBigId != null" >
        CATEGORY_BIG_ID,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="standardModel != null" >
        STANDARD_MODEL,
      </if>
      <if test="qualityTechnicalStandard != null" >
        QUALITY_TECHNICAL_STANDARD,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="isDeleted != null" >
        IS_DELETED,
      </if>
      <if test="createrId != null" >
        CREATER_ID,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="categoryMiddleId != null" >
        CATEGORY_MIDDLE_ID,
      </if>
      <if test="productCategoryId != null" >
        PRODUCT_CATEGORY_ID,
      </if>
      <if test="productCategoryLevel != null" >
        PRODUCT_CATEGORY_LEVEL,
      </if>
      <if test="smallPointsId != null" >
        SMALL_POINTS_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="procurementId != null" >
        #{procurementId,jdbcType=VARCHAR},
      </if>
      <if test="categoryBigId != null" >
        #{categoryBigId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="standardModel != null" >
        #{standardModel,jdbcType=VARCHAR},
      </if>
      <if test="qualityTechnicalStandard != null" >
        #{qualityTechnicalStandard,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryMiddleId != null" >
        #{categoryMiddleId,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null" >
        #{productCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryLevel != null" >
        #{productCategoryLevel,jdbcType=DECIMAL},
      </if>
      <if test="smallPointsId != null" >
        #{smallPointsId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  
  <select id="countByExample" parameterType="bss.model.ob.OBProductExample" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PRODUCT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!-- 根据id查询数量 -->
   <select id="countById" parameterType="String" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_PRODUCT
    where id=#{id,jdbcType=VARCHAR}
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BSS_OB_PRODUCT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.procurementId != null" >
        PROCUREMENT_ID = #{record.procurementId,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryBigId != null" >
        CATEGORY_BIG_ID = #{record.categoryBigId,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.standardModel != null" >
        STANDARD_MODEL = #{record.standardModel,jdbcType=VARCHAR},
      </if>
      <if test="record.qualityTechnicalStandard != null" >
        QUALITY_TECHNICAL_STANDARD = #{record.qualityTechnicalStandard,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null" >
        IS_DELETED = #{record.isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="record.createrId != null" >
        CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null" >
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
 
 
 
  <update id="updateByExample" parameterType="map" >
    update T_BSS_OB_PRODUCT
    set ID = #{record.id,jdbcType=VARCHAR},
      CODE = #{record.code,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      PROCUREMENT_ID = #{record.procurementId,jdbcType=VARCHAR},
      CATEGORY_BIG_ID = #{record.categoryBigId,jdbcType=VARCHAR},
      CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      STANDARD_MODEL = #{record.standardModel,jdbcType=VARCHAR},
      QUALITY_TECHNICAL_STANDARD = #{record.qualityTechnicalStandard,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      IS_DELETED = #{record.isDeleted,jdbcType=DECIMAL},
      CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <!-- 修改 -->
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ob.OBProduct" >
    update T_BSS_OB_PRODUCT
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="procurementId != null" >
        PROCUREMENT_ID = #{procurementId,jdbcType=VARCHAR},
      </if>
      <if test="categoryBigId != null" >
        CATEGORY_BIG_ID = #{categoryBigId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="standardModel != null" >
        STANDARD_MODEL = #{standardModel,jdbcType=VARCHAR},
      </if>
      <if test="qualityTechnicalStandard != null" >
        QUALITY_TECHNICAL_STANDARD = #{qualityTechnicalStandard,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      </if>
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryMiddleId != null" >
        CATEGORY_MIDDLE_ID = #{categoryMiddleId,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null" >
        PRODUCT_CATEGORY_ID = #{productCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryLevel != null" >
        PRODUCT_CATEGORY_LEVEL = #{productCategoryLevel,jdbcType=DECIMAL},
      </if>
      <if test="smallPointsId != null" >
        SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.ob.OBProduct" >
    update T_BSS_OB_PRODUCT
    set CODE = #{code,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PROCUREMENT_ID = #{procurementId,jdbcType=VARCHAR},
      CATEGORY_BIG_ID = #{categoryBigId,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      STANDARD_MODEL = #{standardModel,jdbcType=VARCHAR},
      QUALITY_TECHNICAL_STANDARD = #{qualityTechnicalStandard,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
      CREATER_ID = #{createrId,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 验证产品名称唯一 -->
  <select id="yzProductName" resultType="Integer">
  	SELECT COUNT(ID) FROM T_BSS_OB_PRODUCT WHERE NAME = #{name,jdbcType=VARCHAR}
  	AND IS_DELETED = 0
  	<if test="id != null">
  		AND ID &lt;&gt; #{id,jdbcType=VARCHAR}
  	</if>
  </select>
  
  <!-- 验证产品代码唯一 -->
  <select id="yzProductCode" resultType="Integer">
  	SELECT COUNT(ID) FROM T_BSS_OB_PRODUCT WHERE CODE = #{code,jdbcType=VARCHAR}
  	AND IS_DELETED = 0
  	<if test="id != null">
  		AND ID &lt;&gt; #{id,jdbcType=VARCHAR}
  	</if>
  </select>
  
  <!-- 验证采购机构是否存在 -->
  <select id="yzorg" resultType="Integer" parameterType="String">
  	SELECT COUNT(ID) FROM T_SES_OMS_ORG WHERE SHORT_NAME = #{shortName,jdbcType=VARCHAR}
  </select>
  
  <!-- 发布 -->
  <update id="fab" parameterType="String">
  	UPDATE T_BSS_OB_PRODUCT
    SET STATUS = 2
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 撤回发布 -->
  <update id="chfab" parameterType="String">
  	UPDATE T_BSS_OB_PRODUCT
    SET STATUS = 3
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id = "selectAllAmallPointsId" resultMap="BaseResultMap" parameterType="String">
  	SELECT DISTINCT SMALL_POINTS_ID
  	FROM T_BSS_OB_PRODUCT
  	WHERE IS_DELETED = 0 AND STATUS = 2 AND SMALL_POINTS_ID IN (SELECT ID FROM T_SES_BMS_CATEGORY WHERE IS_PUBLISH = 0 AND IS_DELETED = 0
  	<if test="name != null">
  		AND NAME LIKE '%'||#{name}||'%' 
  	</if> )
  </select>
  
  <select id="selOrgByCategory" parameterType="String" resultType="String">
  	select DISTINCT PROCUREMENT_ID from T_BSS_OB_PRODUCT where SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR} AND IS_DELETED = 0
  	<if test="id != null">
  		AND ID &lt;&gt; #{id,jdbcType=VARCHAR}
  	</if>
  </select>
  <!-- 根据时间范围 获取创建相关产品数据 -->
  <select id="selectByCreateDate" parameterType="String" resultMap="BaseResultSignalMap" >
    select * from T_BSS_OB_PRODUCT where 
    to_char(CREATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(CREATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
   <!-- 根据时间范围 获取修改 相关产品数据 -->
  <select id="selectByUpdateDate" parameterType="String" resultMap="BaseResultSignalMap" >
    select * from T_BSS_OB_PRODUCT where 
    to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
  
  <!-- 门户网查询已发布的产品 -->
  <select id="selectPublishProduct" resultMap="BaseResultMap" parameterType="bss.model.ob.OBProduct" >
    SELECT  
    	<include refid="Base_Column_List"/> 
    FROM T_BSS_OB_PRODUCT 
    WHERE STATUS = 2 AND IS_DELETED=0
    <if test="code != null and code != ''">
    	AND CODE like '%'||#{code}||'%'
    </if>
    <if test="name != null and name != ''">
    	AND NAME like '%'||#{name}||'%'
    </if>
    <if test="smallPointsId != null and smallPointsId != ''" >
        AND SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR}
     </if>
    ORDER BY CREATED_AT DESC
  </select>
</mapper>