<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bss.dao.ob.OBResultsInfoMapper" >
  <resultMap id="BaseResultMap" type="bss.model.ob.OBResultsInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
    <result column="BIDDING_ID" property="biddingId" jdbcType="VARCHAR" />
    <result column="RESULTS_NUMBER" property="resultsNumber" jdbcType="DECIMAL" />
    <result column="MY_OFFER_MONEY" property="myOfferMoney" jdbcType="DECIMAL" />
    <result column="DEAL_MONEY" property="dealMoney" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
    <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
    <result column="LIMIT_PRICE" property="limitPrice" jdbcType="DECIMAL" />
    <association property="obProduct" column="PRODUCT_ID" select="bss.dao.ob.OBProductMapper.selectSignalByPrimaryKey"></association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PRODUCT_ID, BIDDING_ID, RESULTS_NUMBER, MY_OFFER_MONEY, DEAL_MONEY, REMARK, CREATED_AT, 
    UPDATED_AT, SUPPLIER_ID, PROJECT_ID,LIMIT_PRICE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bss.model.ob.OBResultsInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BSS_OB_RESULTS_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_RESULTS_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </select>
    <!-- 根据 供应商id 竞价id 获取报价信息 -->
  <select id="getProductInfo" resultMap="BaseResultMap" parameterType="Map" >
   select DISTINCT i.id, i.MY_OFFER_MONEY,i.DEAL_MONEY,i.PRODUCT_ID,i.RESULTS_NUMBER,p.name as productName,
   i.SUPPLIER_ID from T_BSS_OB_RESULTS_INFO i,T_BSS_OB_PRODUCT p
    where i.PRODUCT_ID=p.id and  i.PROJECT_ID = #{projectId,jdbcType=VARCHAR}
    AND i.BIDDING_ID=#{biddingId,jdbcType=VARCHAR}
     and i.SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
    <!--  ORDER BY i.CREATER_ID -->
  </select>  
   <!-- 根据 竞价id 获取竞价 成交金额 -->
  <select id="getDealMoney" resultMap="BaseResultMap" parameterType="java.lang.String" >
   select i.MY_OFFER_MONEY,i.PRODUCT_ID,SUPPLIER_ID from T_BSS_OB_RESULTS_INFO i 
where i.PROJECT_ID=#{projectId,jdbcType=VARCHAR} AND i.BIDDING_ID=#{biddingId,jdbcType=VARCHAR}
 and
 i.SUPPLIER_ID=(select SUPPLIER_ID from 
(select SUPPLIER_ID from T_BSS_OB_PROJECT_RESULT s where s.PROJECT_ID=#{projectId,jdbcType=VARCHAR} and s.RANKING=1
ORDER BY CREATED_AT) where rownum=1) 
   
 </select>
  
    <select id="selectByProjectId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from(select  SUPPLIER_ID,sum(DEAL_MONEY) as DEAL_MONEY,CREATED_AT from T_BSS_OB_RESULTS_INFO
	where PROJECT_ID = #{id,jdbcType=VARCHAR} AND BIDDING_ID=#{biddingId,jdbcType=VARCHAR}
    GROUP BY SUPPLIER_ID,CREATED_AT)s
	ORDER BY s.DEAL_MONEY ASC,s.CREATED_AT ASC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BSS_OB_RESULTS_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="bss.model.ob.OBResultsInfoExample" >
    delete from T_BSS_OB_RESULTS_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bss.model.ob.OBResultsInfo" >
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_OB_RESULTS_INFO (ID, PRODUCT_ID, BIDDING_ID, 
      RESULTS_NUMBER, MY_OFFER_MONEY, DEAL_MONEY, 
      REMARK, CREATED_AT, UPDATED_AT, 
      SUPPLIER_ID, PROJECT_ID,LIMIT_PRICE)
    values (#{id,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{biddingId,jdbcType=VARCHAR}, 
      #{resultsNumber,jdbcType=DECIMAL}, #{myOfferMoney,jdbcType=DECIMAL}, #{dealMoney,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{supplierId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR},#{limitPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="bss.model.ob.OBResultsInfo" >
    insert into T_BSS_OB_RESULTS_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="biddingId != null" >
        BIDDING_ID,
      </if>
      <if test="resultsNumber != null" >
        RESULTS_NUMBER,
      </if>
      <if test="myOfferMoney != null" >
        MY_OFFER_MONEY,
      </if>
      <if test="dealMoney != null" >
        DEAL_MONEY,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID,
      </if>
      <if test="projectId != null" >
        PROJECT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="biddingId != null" >
        #{biddingId,jdbcType=VARCHAR},
      </if>
      <if test="resultsNumber != null" >
        #{resultsNumber,jdbcType=DECIMAL},
      </if>
      <if test="myOfferMoney != null" >
        #{myOfferMoney,jdbcType=DECIMAL},
      </if>
      <if test="dealMoney != null" >
        #{dealMoney,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bss.model.ob.OBResultsInfoExample" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_RESULTS_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BSS_OB_RESULTS_INFO
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.biddingId != null" >
        BIDDING_ID = #{record.biddingId,jdbcType=VARCHAR},
      </if>
      <if test="record.resultsNumber != null" >
        RESULTS_NUMBER = #{record.resultsNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.myOfferMoney != null" >
        MY_OFFER_MONEY = #{record.myOfferMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.dealMoney != null" >
        DEAL_MONEY = #{record.dealMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null" >
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.supplierId != null" >
        SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        PROJECT_ID = #{record.projectId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BSS_OB_RESULTS_INFO
    set ID = #{record.id,jdbcType=VARCHAR},
      PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
      BIDDING_ID = #{record.biddingId,jdbcType=VARCHAR},
      RESULTS_NUMBER = #{record.resultsNumber,jdbcType=DECIMAL},
      MY_OFFER_MONEY = #{record.myOfferMoney,jdbcType=DECIMAL},
      DEAL_MONEY = #{record.dealMoney,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      PROJECT_ID = #{record.projectId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ob.OBResultsInfo" >
    update T_BSS_OB_RESULTS_INFO
    <set >
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="biddingId != null" >
        BIDDING_ID = #{biddingId,jdbcType=VARCHAR},
      </if>
      <if test="resultsNumber != null" >
        RESULTS_NUMBER = #{resultsNumber,jdbcType=DECIMAL},
      </if>
      <if test="myOfferMoney != null" >
        MY_OFFER_MONEY = #{myOfferMoney,jdbcType=DECIMAL},
      </if>
      <if test="dealMoney != null" >
        DEAL_MONEY = #{dealMoney,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.ob.OBResultsInfo" >
    update T_BSS_OB_RESULTS_INFO
    set PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      BIDDING_ID = #{biddingId,jdbcType=VARCHAR},
      RESULTS_NUMBER = #{resultsNumber,jdbcType=DECIMAL},
      MY_OFFER_MONEY = #{myOfferMoney,jdbcType=DECIMAL},
      DEAL_MONEY = #{dealMoney,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      PROJECT_ID = #{projectId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
 <select id="selectQuotoInfo" parameterType="Map" resultMap="BaseResultMap">
	  SELECT 
	  <include refid="Base_Column_List" />
	  FROM T_BSS_OB_RESULTS_INFO R
	 	WHERE R.PROJECT_ID = #{projectId}
	   AND R.SUPPLIER_ID = #{supplierId} AND BIDDING_ID = '1'
  </select>
  
   <select id="selectQuotoInfoSecond" parameterType="Map" resultMap="BaseResultMap">
	  SELECT 
	  <include refid="Base_Column_List" />
	  FROM T_BSS_OB_RESULTS_INFO R
	 	WHERE R.PROJECT_ID = #{projectId}
	   AND R.SUPPLIER_ID = #{supplierId} AND BIDDING_ID = '2'
  </select>
  
  
  
  <!-- 根据id/次数/供应商id 获取自报价总和金额 -->
  <select id="selectByBidding" resultMap="BaseResultMap" parameterType="String">
   SELECT * from(select SUM(DEAL_MONEY) as MY_OFFER_MONEY,SUPPLIER_ID,PROJECT_ID from T_BSS_OB_RESULTS_INFO 
	where PROJECT_ID=#{projectId,jdbcType=VARCHAR} 
	and BIDDING_ID=#{biddingId,jdbcType=VARCHAR}
	<if test="supplierId !=null">
	 and SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
	</if>
	GROUP BY SUPPLIER_ID,PROJECT_ID)
  </select>
  <!-- 根据id/次数/供应商id 获取当前报价第几次 -->
  <select id="countByBidding"  parameterType="String" resultType="java.lang.Integer">
	 SELECT count(*) from( select SUPPLIER_ID,PROJECT_ID 
	 from T_BSS_OB_RESULTS_INFO  
	 where BIDDING_ID=#{biddingId,jdbcType=VARCHAR}
      and PROJECT_ID=#{projectId,jdbcType=VARCHAR} 
      <if test="supplierId !=null">
	 and SUPPLIER_ID=#{supplierId,jdbcType=VARCHAR}
	</if> 
     GROUP BY SUPPLIER_ID,PROJECT_ID)
  </select>
  <!-- 获取竞价 报价的全部金额 -->
    <select id="sumAllDealMoney"  parameterType="String" resultType="java.math.BigDecimal">
  select sum(DEAL_MONEY) from T_BSS_OB_RESULTS_INFO 
where PROJECT_ID=#{projectId,jdbcType=VARCHAR} 
  </select>
  
  <!-- 查询未中标的结果 -->
 <select id="selectResult" resultMap="BaseResultMap">
	  SELECT 
	  	SUPPLIER_ID,PROJECT_ID,PRODUCT_ID,MY_OFFER_MONEY,BIDDING_ID 
	  FROM 
	  	T_BSS_OB_RESULTS_INFO
	  WHERE 
	  	PROJECT_ID = #{projectId,jdbcType=VARCHAR} AND SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
	  GROUP BY 
	  	SUPPLIER_ID,PROJECT_ID,PRODUCT_ID,MY_OFFER_MONEY,BIDDING_ID
	  ORDER BY BIDDING_ID,PRODUCT_ID
  </select>
  <!-- 根据竞价 id 获取 报价数量 -->
  <select id="countBiddingByID" parameterType="String" resultType="java.lang.Integer">
  SELECT count(*) from (select SUPPLIER_ID,PROJECT_ID from T_BSS_OB_RESULTS_INFO 
where PROJECT_ID=#{projectId,jdbcType=VARCHAR}
GROUP BY SUPPLIER_ID,PROJECT_ID)
  </select>
  <!--  -->
  <select id="selectFlagByQuotoSecond" resultType="java.lang.Integer" parameterType="Map">
  	SELECT COUNT(BIDDING_ID)
	  FROM T_BSS_OB_RESULTS_INFO RF
	 WHERE RF.SUPPLIER_ID = #{projectId,jdbcType=VARCHAR}
	   AND RF.PROJECT_ID = #{supplierId,jdbcType=VARCHAR}
	   AND RF.BIDDING_ID = '1'
  </select>
  
  <!-- 判断是否为第二次竞价项目 -->
  <select id="isSecondBidding" parameterType="String" resultType="String">
  	SELECT DISTINCT BIDDING_ID FROM T_BSS_OB_RESULTS_INFO WHERE PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  </select>
</mapper>