<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bss.dao.ob.OBSpecialDateMapper" >
  <resultMap id="BaseResultMap" type="bss.model.ob.OBSpecialDate" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATER_ID" property="createrId" jdbcType="VARCHAR" />
    <result column="SPECIAL_DATE" property="specialDate" jdbcType="TIMESTAMP" />
    <result column="DATE_TYPE" property="dateType" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="CREATER_NAME" property="createrName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, CREATER_ID, SPECIAL_DATE, DATE_TYPE, CREATED_AT, REMARK, UPDATED_AT, CREATER_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="bss.model.ob.OBSpecialDateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BSS_OB_SPECIAL_DATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
   <!-- 根据日期 获取相关数据 -->
  <select id="selectBySpecialDate" resultMap="BaseResultMap" parameterType="Map" >
    select SPECIAL_DATE,DATE_TYPE
    from T_BSS_OB_SPECIAL_DATE
    where SPECIAL_DATE &gt;= #{stateDate,jdbcType=TIMESTAMP}
    order by SPECIAL_DATE
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BSS_OB_SPECIAL_DATE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BSS_OB_SPECIAL_DATE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="bss.model.ob.OBSpecialDateExample" >
    delete from T_BSS_OB_SPECIAL_DATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="bss.model.ob.OBSpecialDate" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
        select sys_guid() from dual
    </selectKey>
    insert into T_BSS_OB_SPECIAL_DATE (ID, CREATER_ID, SPECIAL_DATE, 
      DATE_TYPE, CREATED_AT, REMARK, 
      UPDATED_AT, CREATER_NAME)
    values (#{id,jdbcType=VARCHAR}, #{createrId,jdbcType=VARCHAR}, #{specialDate,jdbcType=TIMESTAMP}, 
      #{dateType,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{createrName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="bss.model.ob.OBSpecialDate" >
    insert into T_BSS_OB_SPECIAL_DATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createrId != null" >
        CREATER_ID,
      </if>
      <if test="specialDate != null" >
        SPECIAL_DATE,
      </if>
      <if test="dateType != null" >
        DATE_TYPE,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="createrName != null" >
        CREATER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="specialDate != null" >
        #{specialDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateType != null" >
        #{dateType,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createrName != null" >
        #{createrName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="bss.model.ob.OBSpecialDateExample" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_SPECIAL_DATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countById" parameterType="String" resultType="java.lang.Integer" >
    select count(*) from T_BSS_OB_SPECIAL_DATE
    where id=#{id,jdbcType=VARCHAR}
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BSS_OB_SPECIAL_DATE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createrId != null" >
        CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      </if>
      <if test="record.specialDate != null" >
        SPECIAL_DATE = #{record.specialDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dateType != null" >
        DATE_TYPE = #{record.dateType,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null" >
        CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedAt != null" >
        UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createrName != null" >
        CREATER_NAME = #{record.createrName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BSS_OB_SPECIAL_DATE
    set ID = #{record.id,jdbcType=VARCHAR},
      CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
      SPECIAL_DATE = #{record.specialDate,jdbcType=TIMESTAMP},
      DATE_TYPE = #{record.dateType,jdbcType=VARCHAR},
      CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
      CREATER_NAME = #{record.createrName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="bss.model.ob.OBSpecialDate" >
    update T_BSS_OB_SPECIAL_DATE
    <set >
      <if test="createrId != null" >
        CREATER_ID = #{createrId,jdbcType=VARCHAR},
      </if>
      <if test="specialDate != null" >
        SPECIAL_DATE = #{specialDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateType != null" >
        DATE_TYPE = #{dateType,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createrName != null" >
        CREATER_NAME = #{createrName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bss.model.ob.OBSpecialDate" >
    update T_BSS_OB_SPECIAL_DATE
    set CREATER_ID = #{createrId,jdbcType=VARCHAR},
      SPECIAL_DATE = #{specialDate,jdbcType=TIMESTAMP},
      DATE_TYPE = #{dateType,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      CREATER_NAME = #{createrName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAllOBSpecialDate" parameterType="Map" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from T_BSS_OB_SPECIAL_DATE where 1=1
    <if test="specialDate != null and specialDate !=''" >
      AND SPECIAL_DATE =#{specialDate}
    </if>
	<if test="dateType != null and dateType !=''">
	  AND DATE_TYPE = #{dateType}
	</if>
	ORDER BY
	UPDATED_AT DESC
  </select>
  <!-- 根据时间范围 获取创建相关产品数据 -->
  <select id="selectByCreateDate" parameterType="String" resultMap="BaseResultMap" >
    select * from T_BSS_OB_SPECIAL_DATE where 
    to_char(CREATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(CREATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
    <!-- 根据时间范围 获取修改 相关产品数据 -->
  <select id="selectByUpdateDate" parameterType="String" resultMap="BaseResultMap">
    select * from T_BSS_OB_SPECIAL_DATE where 
    to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
</mapper>