<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bss.dao.ob.OBSupplierMapper">
	<resultMap id="BaseResultMap" type="bss.model.ob.OBSupplier">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
		<result column="QUALIFICATION_CERT" property="qualificationCert"
			jdbcType="VARCHAR" />
		<result column="CERT_VALID_PERIOD" property="certValidPeriod"
			jdbcType="TIMESTAMP" />
		<result column="QUALITY_INSPECTION_DEP" property="qualityInspectionDep"
			jdbcType="VARCHAR" />
		<result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
		<result column="CONTACT_TEL" property="contactTel" jdbcType="VARCHAR" />
		<result column="CERT_CODE" property="certCode" jdbcType="VARCHAR" />
		<result column="USCC" property="uscc" jdbcType="VARCHAR" />
		<result column="CREATER_ID" property="createrId" jdbcType="VARCHAR" />
		<result column="IS_DELETED" property="isDeleted" jdbcType="DECIMAL" />
		<result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
		<result column="NN" property="nCount" jdbcType="INTEGER" />
		<result column="SMALL_POINTS_ID" property="smallPointsId" jdbcType="VARCHAR" />
		<association property="supplier" column="SUPPLIER_ID"
			select="ses.dao.sms.SupplierMapper.selectByPrimaryKey" />
			<association property="smallPoints" column="SMALL_POINTS_ID" select="ses.dao.bms.CategoryMapper.findById"/>
	</resultMap>
	
	<resultMap id="BaseResultItemMap" type="bss.model.ob.OBSupplier" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SMALL_POINTS_ID" property="smallPointsId" jdbcType="VARCHAR" />
		<result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
  </resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		ID, SUPPLIER_ID, QUALIFICATION_CERT, CERT_VALID_PERIOD,
		QUALITY_INSPECTION_DEP, CONTACT_NAME,
		CONTACT_TEL, CERT_CODE, USCC,
		CREATER_ID, IS_DELETED, PRODUCT_ID, REMARK,
		CREATED_AT,
		UPDATED_AT,SMALL_POINTS_ID
	</sql>

	<!-- 查询产品对应的供应商数量 -->
	<select id="selectSupplierNum" resultMap="BaseResultMap">
		SELECT DISTINCT
		T1.SMALL_POINTS_ID SMALL_POINTS_ID,T2.NN NN
		FROM
		T_BSS_OB_PRODUCT T1
		LEFT JOIN
		(select SMALL_POINTS_ID,count(ID) NN from T_BSS_OB_SUPPLIER WHERE IS_DELETED = 0 GROUP BY SMALL_POINTS_ID ) T2
		ON
		T1.SMALL_POINTS_ID = T2.SMALL_POINTS_ID
	</select>
   	<!-- 查询产品对应的 并集供应商 -->
	<select id="selecUniontSupplier" resultMap="BaseResultItemMap" parameterType="Map">
 	SELECT p.id as id ,COUNT(DISTINCT s.supplier_id) as supplierId
		FROM T_BSS_OB_SUPPLIER s LEFT JOIN T_BSS_OB_PRODUCT p on  s.SMALL_POINTS_ID=p.SMALL_POINTS_ID
		WHERE s.CERT_VALID_PERIOD > SYSDATE
		AND s.IS_DELETED = 0
		AND p.ID IN 
      <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
   	     #{item}  
 	   </foreach>
      GROUP BY p.id
       HAVING COUNT(s.supplier_id)> #{count,jdbcType=DECIMAL}
       ORDER BY supplierId DESC
	</select>
	<!-- 根据产品查询供应商列表 所有 -->
	<select id="selectByProductId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_BSS_OB_SUPPLIER
		WHERE IS_DELETED = 0
		<if test="productId != null and productId != ''">
			and PRODUCT_ID = #{productId,jdbcType=VARCHAR}
		</if>
		<if test="supplierName != null and supplierName != ''">
			AND SUPPLIER_ID IN (SELECT ID FROM T_SES_SMS_SUPPLIER WHERE SUPPLIER_NAME LIKE '%${supplierName}%')
		</if>
		<if test="smallPointsName != null and smallPointsName != ''">
			AND SMALL_POINTS_ID IN (SELECT ID FROM T_SES_BMS_CATEGORY WHERE NAME LIKE '%${smallPointsName}%')
		</if>
		<if test="smallPointsId != null and smallPointsId != ''">
			AND SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR}
		</if>
		ORDER BY CERT_VALID_PERIOD
	</select>

	<!-- 根据id查询供应商列表 过期 -->
	<select id="selectByProductId1" resultMap="BaseResultMap" >
		SELECT
		<include refid="Base_Column_List" />
		FROM T_BSS_OB_SUPPLIER
		WHERE
		CERT_VALID_PERIOD &lt; SYSDATE
		AND
		IS_DELETED = 0
		<if test="productId != null and productId != ''">
			AND PRODUCT_ID = #{productId,jdbcType=VARCHAR}
		</if>
		<if test="supplierName != null and supplierName != ''">
			AND SUPPLIER_ID IN (SELECT ID FROM T_SES_SMS_SUPPLIER WHERE SUPPLIER_NAME LIKE '%${supplierName}%')
		</if>
		<if test="smallPointsName != null and smallPointsName != ''">
			AND SMALL_POINTS_ID IN (SELECT ID FROM T_SES_BMS_CATEGORY WHERE NAME LIKE '%${categoryName}%')
		</if>
		<if test="smallPointsId != null and smallPointsId != ''">
			AND SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR}
		</if>
		ORDER BY CERT_VALID_PERIOD
	</select>
		<!-- 根据id查询供应商列表  数量-->
	<select id="countProductId" resultType="java.lang.Integer"
		parameterType="Map">
		SELECT count(DISTINCT s.SUPPLIER_ID)
		FROM T_BSS_OB_SUPPLIER s LEFT JOIN T_BSS_OB_PRODUCT p on  s.SMALL_POINTS_ID=p.SMALL_POINTS_ID and p.SMALL_POINTS_ID is not null
		WHERE s.CERT_VALID_PERIOD > SYSDATE
		AND s.IS_DELETED = 0
		AND p.ID =#{productId,jdbcType=VARCHAR}
	</select>
	<!--查询 供应商 id -->
	<select id="selectSupplierByID" resultMap="BaseResultItemMap" parameterType="Map">
 	SELECT DISTINCT s.supplier_id,s.SMALL_POINTS_ID as smallPointsId
		FROM T_BSS_OB_SUPPLIER s LEFT JOIN T_BSS_OB_PRODUCT p on  s.SMALL_POINTS_ID=p.SMALL_POINTS_ID
		WHERE s.IS_DELETED = 0
		AND p.ID IN 
      <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
   	     #{item}  
 	   </foreach>
	</select>
	
	<!-- 根据产品 查询供应商列表 -->
	<select id="selectSupplierDate" resultMap="BaseResultMap" parameterType="Map">
	SELECT DISTINCT s.ID,
		 s.SUPPLIER_ID,s.PRODUCT_ID,s.CERT_VALID_PERIOD,s.SMALL_POINTS_ID
		FROM T_BSS_OB_SUPPLIER s,T_BSS_OB_PRODUCT p 
		WHERE s.IS_DELETED = 0 and p.IS_DELETED = 0 and s.SMALL_POINTS_ID=p.SMALL_POINTS_ID and p.SMALL_POINTS_ID is not null
		<!-- 大于当前日期  未过期 -->
		<if test="notDate != null and notDate != ''">
		AND s.CERT_VALID_PERIOD &gt; SYSDATE
		</if>
		<!-- 小于当前日期  已过期 -->
		<if test="inDate != null and inDate != ''">
		AND s.CERT_VALID_PERIOD &lt; SYSDATE
		</if>
		<if test="name != null and name != ''">
		AND  s.SUPPLIER_ID IN (SELECT ID FROM T_SES_SMS_SUPPLIER WHERE SUPPLIER_NAME LIKE '%'||#{name}||'%')
		</if> 
		<if test="result != null and result != ''">
		AND  s.SUPPLIER_ID IN 
           <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
   			#{item}  
 			</foreach>
		</if> 
		 AND p.ID IN(SELECT DISTINCT PRODUCT_ID FROM T_BSS_OB_PRODUCT_INFO WHERE PROJECT_ID= #{projectId,jdbcType=VARCHAR})

	</select>
	
	<!-- 根据id查询供应商列表 未过期 -->
	<select id="selectByProductId2" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM T_BSS_OB_SUPPLIER
		WHERE
		CERT_VALID_PERIOD &gt; SYSDATE
		AND
		IS_DELETED = 0
		<if test="productId != null and productId != ''">
			AND PRODUCT_ID = #{productId,jdbcType=VARCHAR}
		</if>
		<if test="supplierName != null and supplierName != ''">
			AND SUPPLIER_ID IN (SELECT ID FROM T_SES_SMS_SUPPLIER WHERE SUPPLIER_NAME LIKE '%${supplierName}%')
		</if>
		<if test="smallPointsName != null and smallPointsName != ''">
			AND SMALL_POINTS_ID IN (SELECT ID FROM T_SES_BMS_CATEGORY WHERE NAME LIKE '%${categoryName}%')
		</if>
		<if test="smallPointsId != null and smallPointsId != ''">
			AND SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR}
		</if>
		ORDER BY CERT_VALID_PERIOD
	</select>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="bss.model.ob.OBSupplierExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from T_BSS_OB_SUPPLIER
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<!-- 根据id查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from T_BSS_OB_SUPPLIER
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectByProductID" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from T_BSS_OB_SUPPLIER
		where PRODUCT_ID = #{id,jdbcType=VARCHAR}
	</select>
	<!-- 删除 修改删除状态 -->
	<update id="deleteByPrimaryKey" parameterType="String">
		update
		T_BSS_OB_SUPPLIER set IS_DELETED = 1 where ID =
		#{id,jdbcType=VARCHAR}
	</update>

	<insert id="insert" parameterType="bss.model.ob.OBSupplier">
		insert into T_BSS_OB_SUPPLIER
		(ID, SUPPLIER_ID, QUALIFICATION_CERT,
		CERT_VALID_PERIOD,
		QUALITY_INSPECTION_DEP,
		CONTACT_NAME, CONTACT_TEL, CERT_CODE,
		USCC,
		CREATER_ID, IS_DELETED,
		PRODUCT_ID, REMARK, CREATED_AT,
		UPDATED_AT)
		values (#{id,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR},
		#{qualificationCert,jdbcType=VARCHAR},
		#{certValidPeriod,jdbcType=TIMESTAMP},
		#{qualityInspectionDep,jdbcType=VARCHAR},
		#{contactName,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR},
		#{certCode,jdbcType=VARCHAR},
		#{uscc,jdbcType=VARCHAR},
		#{createrId,jdbcType=VARCHAR}, #{isDeleted,jdbcType=DECIMAL},
		#{productId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
		#{createdAt,jdbcType=TIMESTAMP},
		#{updatedAt,jdbcType=TIMESTAMP})
	</insert>
	<!-- 插入非空数据 -->
	<insert id="insertSelective" parameterType="bss.model.ob.OBSupplier">
		insert into T_BSS_OB_SUPPLIER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="supplierId != null">
				SUPPLIER_ID,
			</if>
			<if test="qualificationCert != null">
				QUALIFICATION_CERT,
			</if>
			<if test="certValidPeriod != null">
				CERT_VALID_PERIOD,
			</if>
			<if test="qualityInspectionDep != null">
				QUALITY_INSPECTION_DEP,
			</if>
			<if test="contactName != null">
				CONTACT_NAME,
			</if>
			<if test="contactTel != null">
				CONTACT_TEL,
			</if>
			<if test="certCode != null">
				CERT_CODE,
			</if>
			<if test="uscc != null">
				USCC,
			</if>
			<if test="createrId != null">
				CREATER_ID,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
			<if test="productId != null">
				PRODUCT_ID,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="createdAt != null">
				CREATED_AT,
			</if>
			<if test="updatedAt != null">
				UPDATED_AT,
			</if>
			<if test="smallPointsId != null">
				SMALL_POINTS_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="supplierId != null">
				#{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="qualificationCert != null">
				#{qualificationCert,jdbcType=VARCHAR},
			</if>
			<if test="certValidPeriod != null">
				#{certValidPeriod,jdbcType=TIMESTAMP},
			</if>
			<if test="qualityInspectionDep != null">
				#{qualityInspectionDep,jdbcType=VARCHAR},
			</if>
			<if test="contactName != null">
				#{contactName,jdbcType=VARCHAR},
			</if>
			<if test="contactTel != null">
				#{contactTel,jdbcType=VARCHAR},
			</if>
			<if test="certCode != null">
				#{certCode,jdbcType=VARCHAR},
			</if>
			<if test="uscc != null">
				#{uscc,jdbcType=VARCHAR},
			</if>
			<if test="createrId != null">
				#{createrId,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=DECIMAL},
			</if>
			<if test="productId != null">
				#{productId,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				#{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				#{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="smallPointsId != null">
				#{smallPointsId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="bss.model.ob.OBSupplierExample"
		resultType="java.lang.Integer">
		select count(*) from T_BSS_OB_SUPPLIER
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 根据id 查询 数量 -->
	<select id="countById" parameterType="String"
		resultType="java.lang.Integer">
		select count(*) from T_BSS_OB_SUPPLIER
		where id=#{id,jdbcType=VARCHAR},
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update T_BSS_OB_SUPPLIER
		<set>
			<if test="record.id != null">
				ID = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.supplierId != null">
				SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
			</if>
			<if test="record.qualificationCert != null">
				QUALIFICATION_CERT =
				#{record.qualificationCert,jdbcType=VARCHAR},
			</if>
			<if test="record.certValidPeriod != null">
				CERT_VALID_PERIOD =
				#{record.certValidPeriod,jdbcType=TIMESTAMP},
			</if>
			<if test="record.qualityInspectionDep != null">
				QUALITY_INSPECTION_DEP =
				#{record.qualityInspectionDep,jdbcType=VARCHAR},
			</if>
			<if test="record.contactName != null">
				CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
			</if>
			<if test="record.contactTel != null">
				CONTACT_TEL = #{record.contactTel,jdbcType=VARCHAR},
			</if>
			<if test="record.certCode != null">
				CERT_CODE = #{record.certCode,jdbcType=VARCHAR},
			</if>
			<if test="record.uscc != null">
				USCC = #{record.uscc,jdbcType=VARCHAR},
			</if>
			<if test="record.createrId != null">
				CREATER_ID = #{record.createrId,jdbcType=VARCHAR},
			</if>
			<if test="record.isDeleted != null">
				IS_DELETED = #{record.isDeleted,jdbcType=DECIMAL},
			</if>
			<if test="record.productId != null">
				PRODUCT_ID = #{record.productId,jdbcType=VARCHAR},
			</if>
			<if test="record.remark != null">
				REMARK = #{record.remark,jdbcType=VARCHAR},
			</if>
			<if test="record.createdAt != null">
				CREATED_AT = #{record.createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updatedAt != null">
				UPDATED_AT = #{record.updatedAt,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update T_BSS_OB_SUPPLIER
		set ID = #{record.id,jdbcType=VARCHAR},
		SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
		QUALIFICATION_CERT = #{record.qualificationCert,jdbcType=VARCHAR},
		CERT_VALID_PERIOD = #{record.certValidPeriod,jdbcType=TIMESTAMP},
		QUALITY_INSPECTION_DEP =
		#{record.qualityInspectionDep,jdbcType=VARCHAR},
		CONTACT_NAME =
		#{record.contactName,jdbcType=VARCHAR},
		CONTACT_TEL =
		#{record.contactTel,jdbcType=VARCHAR},
		CERT_CODE =
		#{record.certCode,jdbcType=VARCHAR},
		USCC =
		#{record.uscc,jdbcType=VARCHAR},
		CREATER_ID =
		#{record.createrId,jdbcType=VARCHAR},
		IS_DELETED =
		#{record.isDeleted,jdbcType=DECIMAL},
		PRODUCT_ID =
		#{record.productId,jdbcType=VARCHAR},
		REMARK =
		#{record.remark,jdbcType=VARCHAR},
		CREATED_AT =
		#{record.createdAt,jdbcType=TIMESTAMP},
		UPDATED_AT =
		#{record.updatedAt,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<!-- 修改 -->
	<update id="updateByPrimaryKeySelective" parameterType="bss.model.ob.OBSupplier">
		update T_BSS_OB_SUPPLIER
		<set>
			<if test="supplierId != null">
				SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
			</if>
			<if test="qualificationCert != null">
				QUALIFICATION_CERT = #{qualificationCert,jdbcType=VARCHAR},
			</if>
			<if test="certValidPeriod != null">
				CERT_VALID_PERIOD = #{certValidPeriod,jdbcType=TIMESTAMP},
			</if>
			<if test="qualityInspectionDep != null">
				QUALITY_INSPECTION_DEP = #{qualityInspectionDep,jdbcType=VARCHAR},
			</if>
			<if test="contactName != null">
				CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
			</if>
			<if test="contactTel != null">
				CONTACT_TEL = #{contactTel,jdbcType=VARCHAR},
			</if>
			<if test="certCode != null">
				CERT_CODE = #{certCode,jdbcType=VARCHAR},
			</if>
			<if test="uscc != null">
				USCC = #{uscc,jdbcType=VARCHAR},
			</if>
			<if test="createrId != null">
				CREATER_ID = #{createrId,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted,jdbcType=DECIMAL},
			</if>
			<if test="productId != null">
				PRODUCT_ID = #{productId,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createdAt != null">
				CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedAt != null">
				UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
			</if>
			<if test="smallPointsId != null">
				SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="bss.model.ob.OBSupplier">
		update
		T_BSS_OB_SUPPLIER
		set SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
		QUALIFICATION_CERT = #{qualificationCert,jdbcType=VARCHAR},
		CERT_VALID_PERIOD = #{certValidPeriod,jdbcType=TIMESTAMP},
		QUALITY_INSPECTION_DEP = #{qualityInspectionDep,jdbcType=VARCHAR},
		CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
		CONTACT_TEL =
		#{contactTel,jdbcType=VARCHAR},
		CERT_CODE =
		#{certCode,jdbcType=VARCHAR},
		USCC = #{uscc,jdbcType=VARCHAR},
		CREATER_ID = #{createrId,jdbcType=VARCHAR},
		IS_DELETED =
		#{isDeleted,jdbcType=DECIMAL},
		PRODUCT_ID =
		#{productId,jdbcType=VARCHAR},
		REMARK = #{remark,jdbcType=VARCHAR},
		CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
		UPDATED_AT =
		#{updatedAt,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 验证供应商唯一 -->
	<select id="yzSupplierName" resultType="Integer">
		SELECT COUNT(ID) FROM T_BSS_OB_SUPPLIER WHERE SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR} 
		AND SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR}
		AND IS_DELETED = 0
		<if test="id != null">
  		AND ID &lt;&gt; #{id,jdbcType=VARCHAR}
  	</if>
	</select>
	
	<!-- 验证是否上传图片 -->
	<select id="yzShangchuan" resultType="Integer" parameterType="String">
		SELECT COUNT(*) FROM T_SES_BMS_ATTACHMENT WHERE BUSINESS_ID = #{id,jdbcType=VARCHAR} AND IS_DELETED = 0
	</select>
	
	<!-- 查询报价供应商信息 -->
	<select id="selOfferSupplier" resultMap="BaseResultMap" parameterType="Map">
		SELECT
			<include refid="Base_Column_List" />
		FROM T_BSS_OB_SUPPLIER
		WHERE IS_DELETED = 0 AND SUPPLIER_ID IN (
			SELECT SUPPLIER_ID ID FROM T_BSS_OB_RESULTS_INFO WHERE MY_OFFER_MONEY IS NOT NULL 
  			<if test="projectId != null and projectId != ''">
  				AND PROJECT_ID = #{projectId,jdbcType=VARCHAR}
  			</if> )
  		<if test="supplierName != null and supplierName != ''">
			AND SUPPLIER_ID IN (SELECT ID SUPPLIER_ID FROM T_SES_SMS_SUPPLIER WHERE SUPPLIER_NAME LIKE '%'||#{supplierName}||'%' )
		</if>
		<if test="smallPointsId != null and smallPointsId != ''">
			AND SMALL_POINTS_ID = #{smallPointsId,jdbcType=VARCHAR}
		</if>
		<!-- 过期 -->
  		<if test="status == 1">
  			AND CERT_VALID_PERIOD &lt; SYSDATE
  		</if>
		<!-- 未过期 -->
  		<if test="status == 2">
  			AND CERT_VALID_PERIOD &gt; SYSDATE
  		</if>
	</select>
	
	<select id="yzzsCode" parameterType="String" resultType="Integer">
		SELECT COUNT(ID) FROM T_BSS_OB_SUPPLIER WHERE CERT_CODE = #{certCode,jdbcType=VARCHAR}
		<if test="id != null">
  			AND ID &lt;&gt; #{id,jdbcType=VARCHAR}
  		</if>
	</select>
	<!-- 根据时间范围 获取创建相关产品数据 -->
  <select id="selectByCreateDate" parameterType="String" resultMap="BaseResultMap" >
    select * from T_BSS_OB_SUPPLIER where 
    to_char(CREATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(CREATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
   <!-- 根据时间范围 获取修改 相关产品数据 -->
  <select id="selectByUpdateDate" parameterType="String" resultMap="BaseResultMap" >
    select * from T_BSS_OB_SUPPLIER where 
    to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss')  &gt;= #{start,jdbcType=VARCHAR}
    and to_char(UPDATED_AT,'yyyy-MM-dd hh24:mi:ss') &lt;=#{end,jdbcType=VARCHAR} 
  </select>
</mapper>