<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yggc.dao.oms.OrgniztionMapper">
  <!-- 根据id查部门 -->
	<select id="findOrgnizationList" parameterType="java.util.Map" resultType="yggc.model.oms.Orgniztion">
			   select d.id  as id,
		       d.ORGLEVEL       as orglevel,
		       d.IS_DELETED       as isDeleted,
		       d.PARENT_ID     as parentId,
		       d.NAME         as name,
		       d.DEP_ID       as depId,
		       d.TYPE       as type,
		       d.IS_ROOT         as isRoot
		  from T_SES_OMS_ORG     d
		 where nvl(d.is_deleted)=0
		 <if test="id != null and id != ''">
			and d.id= #{id}
		</if>
		<if test="type != null and type != ''">
			and d.type= #{type}
		</if> 
	</select>
</mapper>