<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.dao.FileUploadMapper">
  
  <!-- 对应的实体 -->
  <resultMap id="BaseResultMap_File" type="common.model.UploadFile">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="BUSINESS_ID" jdbcType="VARCHAR" property="businessId" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
    <result column="FILE_SIZE" jdbcType="INTEGER"  property="size" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="IS_DELETED"  property="isDelete"/>
  </resultMap> 
  
  <!-- 基础sql -->
  <sql id="BASE_FILE_LIST">
  	ID,NAME,PATH,BUSINESS_ID,TYPE_ID,FILE_SIZE,CREATED_AT,UPDATED_AT,IS_DELETED
  </sql>
  
  <!-- 插入 -->
  <insert id="insertFile"    parameterType="common.model.UploadFile">
  	 <selectKey keyProperty="id" resultType="String" order="BEFORE">
        SELECT sys_guid() FROM dual
    </selectKey>
    INSERT INTO ${tableName} (ID, NAME, PATH, 
      BUSINESS_ID, TYPE_ID, FILE_SIZE, 
      CREATED_AT, UPDATED_AT,IS_DELETED)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{businessId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER})
  </insert>
  
  <!-- 插入 -->
  <insert id="saveFile"    parameterType="common.model.UploadFile">
    INSERT INTO ${tableName} (ID, NAME, PATH, 
      BUSINESS_ID, TYPE_ID, FILE_SIZE, 
      CREATED_AT, UPDATED_AT,IS_DELETED)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{businessId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER})
  </insert>
  
  <!-- 获取文件 -->
  <select id="getFiles" resultMap="BaseResultMap_File" >
  	 SELECT 
  	 <include refid="BASE_FILE_LIST" />
  	 FROM ${tableName}
  	 WHERE IS_DELETED = 0
  	 <if test="businessId != null">
  	 	AND BUSINESS_ID = #{businessId,jdbcType=VARCHAR}
  	 </if>
  	 <if test="typeId != null">
  	 	AND TYPE_ID = #{typeId,jdbcType=VARCHAR}
  	 </if>
  </select>
  
  <!-- 获取已经删除的文件 -->
  <select id="getIsFiles" resultMap="BaseResultMap_File" >
     SELECT 
     <include refid="BASE_FILE_LIST" />
     FROM ${tableName}
     WHERE IS_DELETED = 1
     <if test="businessId != null">
      AND BUSINESS_ID = #{businessId,jdbcType=VARCHAR}
     </if>
     <if test="typeId != null">
      AND TYPE_ID = #{typeId,jdbcType=VARCHAR}
     </if>
  </select>
  
  <!-- 根据Id查询 -->
  <select id="getFileById" resultMap="BaseResultMap_File">
  	 SELECT 
  	 <include refid="BASE_FILE_LIST" />
  	 FROM ${tableName}
  	 WHERE IS_DELETED = 0 AND ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据ids查询 -->
  <select id="getFilesByIds" resultMap="BaseResultMap_File" >
  	 SELECT 
  	 <include refid="BASE_FILE_LIST" />
  	 FROM ${tableName}
  	 WHERE IS_DELETED = 0 AND ID in 
  	 <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
  	  #{item}
  	 </foreach>
  </select>
  
  <!-- 根据业务ID查询 -->
  <select id="getFileByBusinessId" resultMap="BaseResultMap_File">
  	  SELECT 
  	 <include refid="BASE_FILE_LIST" />
  	 FROM ${tableName}
  	 WHERE IS_DELETED = 0 AND BUSINESS_ID = #{businessId,jdbcType=VARCHAR}
  	 <if test="typeId != null">
  	 	AND TYPE_ID = #{typeId,jdbcType=VARCHAR}
  	 </if>
  </select>
  
  <!-- 业务删除文件 -->
  <update id="updateFile">
  	 UPDATE ${tableName} SET IS_DELETED = 1
  	 WHERE ID = #{id, jdbcType=VARCHAR}
  </update>
  
  
  <update id="updateLoad" parameterType="common.model.UploadFile">
    update T_SES_BMS_ATTACHMENT
    <set>
      <if test="businessId != null">
        BUSINESS_ID = #{businessId},
      </if>
    </set>
    where ID = #{id}
  </update>
  
  <!-- 根据Id查询 -->
  <select id="findById"  parameterType="java.lang.String" resultMap="BaseResultMap_File">
  	 SELECT 
  	 <include refid="BASE_FILE_LIST" />
  	 FROM ${tableName}
  	 WHERE IS_DELETED = 0 
  	 AND ID = #{id}
  </select>
  
  <!-- 查询证件照片 -->
  <select id="queryImage"  parameterType="java.lang.String" resultMap="BaseResultMap_File">
  	 SELECT 
  	 <include refid="BASE_FILE_LIST" />
  	 FROM T_SES_EMS_EXPERT_ATTACHMENT
  	 WHERE IS_DELETED = 0 
  	 AND type_id = #{typeId}
  	 AND business_id = #{businessId}
  </select>
  <!-- 根据businessId查询 -->
  <select id="findBybusinessId"  parameterType="java.lang.String" resultMap="BaseResultMap_File">
     SELECT 
     <include refid="BASE_FILE_LIST" />
     FROM ${tableName}
     WHERE IS_DELETED = 0 
     AND BUSINESS_ID = #{businessId}
  </select>
  
  <!-- 根据日期查询 -->
  <select id="getFileByDate" parameterType="java.lang.String" resultMap="BaseResultMap_File">
     SELECT 
     <include refid="BASE_FILE_LIST" />
     FROM ${tableName}
     WHERE IS_DELETED = 0 
     AND to_char(CREATED_AT,'yyyy-MM-dd') = #{date}
  </select>
  
  <!-- 根据主键查询 -->
  <select id="getFileCount" resultType="java.lang.Integer">
    SELECT count(1)
    from ${tableName}
    WHERE IS_DELETED = 0 
    AND ID = #{id}
  </select>
  
  <!-- 更新文件 -->
  <update id="updateFileById" parameterType="common.model.UploadFile">
  	update  ${tableName} 
  	<set>
  	  <if test="name != null and name !=''">
  	    NAME = #{name},
  	  </if>
  	  <if test="path != null and path !=''">
  	    PATH = #{path},
  	  </if>
  	   <if test="businessId != null and businessId !=''">
  	    BUSINESS_ID = #{businessId},
  	  </if>
  	   <if test="typeId != null and typeId !=''">
  	    TYPE_ID = #{typeId},
  	  </if>
  	  <if test="size != null">
  	    FILE_SIZE = #{size,jdbcType=BIGINT},
  	  </if>
  	  <if test="createDate != null">
  	    CREATED_AT = #{createDate,jdbcType=TIMESTAMP},
  	  </if>
  	  <if test="updateDate != null">
  	    UPDATED_AT = #{updateDate,jdbcType=TIMESTAMP},
  	  </if>
  	  <if test="isDelete != null">
  	    IS_DELETED = #{isDelete,jdbcType=INTEGER}
  	  </if>
  	</set>
  	WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteByBusinessId" >
    delete from T_SES_SMS_SUPPLIER_ATTACHMENT where   BUSINESS_ID = #{businessId}
  </delete>
 
 
 <select id="substrBusinessId"   resultMap="BaseResultMap_File">
     SELECT 
     <include refid="BASE_FILE_LIST" />
     FROM
	T_SES_SMS_SUPPLIER_ATTACHMENT
	WHERE
		SUBSTR (BUSINESS_ID, 0, 32) = #{businessId}
  </select>
 
  <select id="quyerExpertAttchment"   resultMap="BaseResultMap_File">
     SELECT 
     <include refid="BASE_FILE_LIST" />
     FROM
	T_SES_EMS_EXPERT_ATTACHMENT
	WHERE
		SUBSTR (BUSINESS_ID, 0, 32) = #{businessId}
  </select>
  
  <!-- 统计查询 -->
  <select id="getFileCountByEmp" resultType="java.lang.Long">
    SELECT count(id)
    from ${tableName}
    WHERE IS_DELETED = 0 
  </select>
 
 
  <!-- 根据Id查询 -->
  <select id="queryById"  parameterType="java.lang.String" resultMap="BaseResultMap_File">
  	 SELECT 
  	 <include refid="BASE_FILE_LIST" />
  	 FROM ${tableName}
  	 WHERE 
  	   ID = #{id}
  </select>
  
</mapper>